Repository quantumlib/Cirq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult, @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @splch, @ma5x, @pschindler, @alfrisch, @HGSilveri, @erichulburd, @kalzoo, @dbanty, @mrwojtek, @aasfaw, @rmlarose, @guenp, @anpaz

.github/CODEOWNERS:

####################
# cirq maintainers
####################

* @quantumlib/cirq-maintainers @vtomole

####################
# vendor maintainers
####################

cirq-google/**/*.* @wcourtney @quantumlib/cirq-maintainers @vtomole @verult

cirq-ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @Cynocracy @quantumlib/cirq-maintainers @vtomole @splch

cirq-aqt/**/*.* @ma5x @pschindler @alfrisch @quantumlib/cirq-maintainers @vtomole

cirq-pasqal/**/*.* @HGSilveri @quantumlib/cirq-maintainers @vtomole

cirq-rigetti/**/*.* @erichulburd @kalzoo @dbanty @quantumlib/cirq-maintainers @vtomole

################################################
# qcvv maintainers @mrwojtek + cirq maintainers
################################################

cirq-core/cirq/experiments/**/*.* @mrwojtek @quantumlib/cirq-maintainers @vtomole

#####################################################
# docs maintainers: maintainers + @aasfaw + @rmlarose
#####################################################

docs/**/*.* @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

###################################################################
# vendor docs maintainers: vendor maintainers + @aasfaw + @rmlarose
###################################################################

docs/google/**/*.* @wcourtney @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @verult
docs/tutorials/google/**/*.* @wcourtney @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @verult

docs/hardware/ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @aasfaw @rmlarose @Cynocracy @quantumlib/cirq-maintainers @vtomole @splch

docs/hardware/aqt/**/*.* @ma5x @pschindler @alfrisch @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

docs/hardware/pasqal/**/*.* @HGSilveri @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

docs/hardware/rigetti/**/*.* @erichulburd @kalzoo @dbanty @aasfaw @quantumlib/cirq-maintainers @vtomole

docs/hardware/azure-quantum/**/*.* @guenp @anpaz @aasfaw @quantumlib/cirq-maintainers @vtomole

#############################################################
# qcvv docs maintainers: docs maintainers + mrwojtek + aasfaw
#############################################################
docs/noise/qcvv/**/*.* @mrwojtek @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

Delete cirq-rigetti web documentation and getting_started notebook
  docs/hardware/rigetti/access.md
  docs/hardware/rigetti/getting_started.ipynb
Owners: @erichulburd, @kalzoo, @dbanty, @aasfaw, @quantumlib/cirq-maintainers, @vtomole

Remove cirq-rigetti from Hardware and Reference sections of Cirq webpage
  dev_tools/docs/build_api_docs.py
  docs/_book.yaml
  docs/hardware/_index.yaml
Owners: @quantumlib/cirq-maintainers, @vtomole, @aasfaw, @rmlarose

Activate Python 3.13 tests for all platforms
  .github/workflows/ci-daily.yml
  .github/workflows/ci.yml
Owners: @quantumlib/cirq-maintainers, @vtomole

CI - combine pytest-numpy-2 with pytest (Ubuntu)
  .github/workflows/ci.yml
  dev_tools/requirements/dev-np2.env.txt
Owners: @quantumlib/cirq-maintainers, @vtomole

Purge trailing blanks
  dev_tools/requirements/dev.env.txt
Owners: @quantumlib/cirq-maintainers, @vtomole

Init code for generic analog circuit
  cirq-google/cirq_google/experimental/analog_experiments/__init__.py
  cirq-google/cirq_google/experimental/analog_experiments/analog_trajectory_util.py
  cirq-google/cirq_google/experimental/analog_experiments/analog_trajectory_util_test.py
  cirq-google/cirq_google/experimental/analog_experiments/generic_analog_circuit.py
  cirq-google/cirq_google/experimental/analog_experiments/generic_analog_circuit_test.py
  cirq-google/cirq_google/study/symbol_util.py
  cirq-google/cirq_google/study/symbol_util_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

This is a huge one, I will split it into smaller pieces > <
  cirq-core/cirq/contrib/paulistring/pauli_string_measurement_with_readout_mitigation.py
  cirq-core/cirq/contrib/paulistring/pauli_string_measurement_with_readout_mitigation_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

ci - avoid overlapping artifact names from notebook tests (#7486)
  .github/workflows/ci-weekly.yml
  .github/workflows/ci.yml
Owners: @quantumlib/cirq-maintainers, @vtomole

Serialize tags on moments in cirq_google protos
  cirq-google/cirq_google/api/v2/program.proto
  cirq-google/cirq_google/api/v2/program_pb2.py
  cirq-google/cirq_google/api/v2/program_pb2.pyi
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

type check
  cirq-google/cirq_google/serialization/circuit_serializer.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Fix missing None types on test functions
  cirq-google/cirq_google/experimental/analog_experiments/analog_trajectory_util_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

ignore type ignore
  cirq-google/cirq_google/serialization/circuit_serializer.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Add test and refine the TunitForDurationNanos
  cirq-google/cirq_google/experimental/analog_experiments/__init__.py
  cirq-google/cirq_google/experimental/analog_experiments/analog_trajectory_util_test.py
  cirq-google/cirq_google/experimental/analog_experiments/generic_analog_circuit.py
  cirq-google/cirq_google/experimental/analog_experiments/generic_analog_circuit_test.py
  cirq-google/cirq_google/study/symbol_util.py
  cirq-google/cirq_google/study/symbol_util_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Fix missing None types on test functions (#7494)
  cirq-google/cirq_google/experimental/analog_experiments/analog_trajectory_util_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Fix resolution of notebook paths when pytest is not at the repo root (#7487)
  dev_tools/notebooks/isolated_notebook_test.py
  dev_tools/notebooks/notebook_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

test and type
  cirq-google/cirq_google/experimental/analog_experiments/analog_trajectory_util_test.py
  cirq-google/cirq_google/experimental/analog_experiments/generic_analog_circuit.py
  cirq-google/cirq_google/experimental/analog_experiments/generic_analog_circuit_test.py
  cirq-google/cirq_google/study/symbol_util.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

type check
  cirq-google/cirq_google/experimental/analog_experiments/analog_trajectory_util_test.py
  cirq-google/cirq_google/experimental/analog_experiments/generic_analog_circuit_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Bump grpcio-tools to version 1.71.2
  cirq-google/requirements.txt
  dev_tools/requirements/deps/mypy.txt
  dev_tools/requirements/deps/protos.txt
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Rebuild Python sources using grpcio-tools-1.71.2
  cirq-google/cirq_google/api/v1/operations_pb2.py
  cirq-google/cirq_google/api/v1/params_pb2.py
  cirq-google/cirq_google/api/v1/program_pb2.py
  cirq-google/cirq_google/api/v2/batch_pb2.py
  cirq-google/cirq_google/api/v2/calibration_pb2.py
  cirq-google/cirq_google/api/v2/device_pb2.py
  cirq-google/cirq_google/api/v2/metrics_pb2.py
  cirq-google/cirq_google/api/v2/ndarrays_pb2.py
  cirq-google/cirq_google/api/v2/program_pb2.py
  cirq-google/cirq_google/api/v2/result_pb2.py
  cirq-google/cirq_google/api/v2/run_context_pb2.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Update Scientific Python dependencies per NEP-29 and SPEC-0
  cirq-core/requirements.txt
  dev_tools/requirements/deps/ipython.txt
Owners: @quantumlib/cirq-maintainers, @vtomole
