Repository quantumlib/Cirq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult, @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @splch, @ma5x, @pschindler, @alfrisch, @HGSilveri, @erichulburd, @kalzoo, @dbanty, @mrwojtek, @aasfaw, @rmlarose, @guenp, @anpaz

Remove first-interction.yaml workflow (#7273)
  .github/workflows/first-interaction.yaml
Owners: @quantumlib/cirq-maintainers, @vtomole

Fix minor README glitches, update Cirq logo to respond to dark/light mode, and add QAI logo (#7186)
  README.md
  docs/images/Cirq_logo_color.svg
  docs/images/quantum-ai-vertical.svg
Owners: @quantumlib/cirq-maintainers, @vtomole, @aasfaw, @rmlarose

Fixed visual bug and unit test (#7293)
  cirq-core/cirq/ops/matrix_gates.py
  cirq-core/cirq/protocols/circuit_diagram_info_protocol_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Fix YAML quotation error (#7286)
  docs/hardware/_index.yaml
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole

Clarify instructions for release process (#7266)
  release.md
Owners: @quantumlib/cirq-maintainers, @vtomole

Put back the issues-write permission for pr-labeler (#7277)
  .github/workflows/pr-labeler.yaml
Owners: @quantumlib/cirq-maintainers, @vtomole

Improve reporting of errors & efficiency of pr-size-labeler (#7288)
  .github/workflows/pr-labeler.yaml
  dev_tools/ci/size-labeler.sh
Owners: @quantumlib/cirq-maintainers, @vtomole

Group updates for GitHub Actions (#7318)
  .github/dependabot.yml
Owners: @quantumlib/cirq-maintainers, @vtomole

CI - replace actions/cache with setup-python package caching (#7305)
  .github/workflows/ci-daily.yml
  .github/workflows/ci.yml
Owners: @quantumlib/cirq-maintainers, @vtomole

Add Willow gate (#7301)
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/json_resolver_cache.py
  cirq-google/cirq_google/json_test_data/WILLOW.json
  cirq-google/cirq_google/json_test_data/WILLOW.repr
  cirq-google/cirq_google/json_test_data/WillowGate.json
  cirq-google/cirq_google/json_test_data/WillowGate.repr
  cirq-google/cirq_google/ops/__init__.py
  cirq-google/cirq_google/ops/sycamore_gate.py
  cirq-google/cirq_google/ops/willow_gate.py
  cirq-google/cirq_google/ops/willow_gate_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Update documentation about num_qubits protocol (#7299)
  cirq-core/cirq/ops/raw_types.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Add the capability to accept group Paulis that can be measured using same measurement results (#7236)
  cirq-core/cirq/contrib/paulistring/pauli_string_measurement_with_readout_mitigation.py
  cirq-core/cirq/contrib/paulistring/pauli_string_measurement_with_readout_mitigation_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Make cirq.Zip twenty times faster (#7303)
  cirq-core/cirq/study/sweeps.py
  cirq-core/cirq/study/sweeps_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Add few more return-type annotations to tests (#7331)
  cirq-core/cirq/contrib/qasm_import/_parser_test.py
  cirq-core/cirq/testing/random_circuit_test.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_cz_test.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_fsim_test.py
  cirq-core/cirq/transformers/routing/line_initial_mapper_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Create a new implementation of parallel XEB and its methods (#6940)
  cirq-core/cirq/experiments/benchmarking/__init__.py
  cirq-core/cirq/experiments/benchmarking/parallel_xeb.py
  cirq-core/cirq/experiments/benchmarking/parallel_xeb_test.py
  cirq-core/cirq/experiments/two_qubit_xeb.py
Owners: @mrwojtek, @quantumlib/cirq-maintainers, @vtomole

Pin Cotengra version (#7335)
  cirq-core/cirq/contrib/requirements.txt
Owners: @quantumlib/cirq-maintainers, @vtomole

Disable all GitHub Actions jobs in forks (#7326)
  .github/workflows/ci-daily.yml
  .github/workflows/ci-weekly.yml
  .github/workflows/ci.yml
  .github/workflows/ossf-scorecard.yaml
  .github/workflows/pr-labeler.yaml
  .github/workflows/stale.yml
Owners: @quantumlib/cirq-maintainers, @vtomole

Rewrite inefficient `sum(..., [])` and `sum(..., ())` (#7304)
  cirq-core/cirq/contrib/acquaintance/gates.py
  cirq-core/cirq/ops/boolean_hamiltonian_test.py
  cirq-core/cirq/study/sweeps.py
  cirq-core/cirq/transformers/analytical_decompositions/controlled_gate_decomposition.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Starts deprecating pass_operations_over for PauliString and PauliStringPhasor (#7294)
  cirq-core/cirq/contrib/paulistring/clifford_optimize.py
  cirq-core/cirq/contrib/paulistring/recombine.py
  cirq-core/cirq/contrib/paulistring/separate.py
  cirq-core/cirq/ops/pauli_string.py
  cirq-core/cirq/ops/pauli_string_phasor.py
  cirq-core/cirq/ops/pauli_string_phasor_test.py
  cirq-core/cirq/ops/pauli_string_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

CI - fix type check with a temporary pin to numpy-1 (#7324)
  dev_tools/requirements/mypy.env.txt
Owners: @quantumlib/cirq-maintainers, @vtomole

Add WillowGate to cirq_google serialization (#7309)
  cirq-google/cirq_google/api/v2/program.proto
  cirq-google/cirq_google/api/v2/program_pb2.py
  cirq-google/cirq_google/api/v2/program_pb2.pyi
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Fix qubit metadata in identifying_hardware_changes (#7308)
  docs/tutorials/google/identifying_hardware_changes.ipynb
Owners: @wcourtney, @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole, @verult

Add tag_transformers remove_tags, index_tags. (#7306)
  cirq-core/cirq/__init__.py
  cirq-core/cirq/transformers/__init__.py
  cirq-core/cirq/transformers/tag_transformers.py
  cirq-core/cirq/transformers/tag_transformers_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Optimize the HHL algorithm using amplitude amplification (#7141)
  examples/hhl.py
Owners: @quantumlib/cirq-maintainers, @vtomole

NEP-29 - require minimum Python version 3.11 (#7338)
  .github/workflows/ci-daily.yml
  .github/workflows/ci-weekly.yml
  .github/workflows/ci.yml
  .github/workflows/release-main.yml
  Dockerfile
  README.md
  asv.conf.json
  benchmarks/README.md
  cirq-aqt/setup.py
  cirq-core/cirq/_compat.py
  cirq-core/cirq/_version.py
  cirq-core/setup.py
  cirq-google/cirq_google/_version.py
  cirq-google/setup.py
  cirq-ionq/setup.py
  cirq-pasqal/setup.py
  cirq-rigetti/setup.py
  cirq-web/setup.py
  dev_tools/modules_test.py
  dev_tools/modules_test_data/mod1/setup.py
  dev_tools/packaging/packaging_test.sh
  docs/dev/development.md
  docs/start/install.md
  pyproject.toml
  release.md
  setup.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @ma5x, @pschindler, @alfrisch, @wcourtney, @verult, @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @splch, @HGSilveri, @erichulburd, @kalzoo, @dbanty, @aasfaw, @rmlarose

Fix another round of typing issues (#7341)
  cirq-core/cirq/_import_test.py
  cirq-core/cirq/interop/quirk/cells/parse_test.py
  cirq-core/cirq/testing/equals_tester_test.py
  cirq-core/cirq/value/random_state_test.py
  cirq-core/cirq/value/timestamp.py
  cirq-core/cirq/value/timestamp_test.py
  cirq-core/cirq/vis/density_matrix_test.py
  cirq-core/cirq/work/collector_test.py
  cirq-core/cirq/work/observable_measurement.py
  cirq-core/cirq/work/observable_measurement_data.py
  cirq-core/cirq/work/observable_measurement_test.py
  cirq-core/cirq/work/observable_settings.py
  cirq-core/cirq/work/observable_settings_test.py
  cirq-core/cirq/work/pauli_sum_collector_test.py
  cirq-core/cirq/work/sampler_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Add a symbolize transformer (#7307)
  cirq-core/cirq/__init__.py
  cirq-core/cirq/transformers/__init__.py
  cirq-core/cirq/transformers/symbolize.py
  cirq-core/cirq/transformers/symbolize_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Support Reset gate in GridDevice and device specification proto (#7349)
  cirq-google/cirq_google/api/v2/device.proto
  cirq-google/cirq_google/api/v2/device_pb2.py
  cirq-google/cirq_google/api/v2/device_pb2.pyi
  cirq-google/cirq_google/devices/grid_device.py
  cirq-google/cirq_google/devices/grid_device_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Fix identifying hardware changes notebook (#7328)
  docs/tutorials/google/identifying_hardware_changes.ipynb
Owners: @wcourtney, @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole, @verult

Unpin cotengra requirement (#7340)
  cirq-core/cirq/contrib/requirements.txt
Owners: @quantumlib/cirq-maintainers, @vtomole

Adjust type annotations for numpy-2 (#7333)
  cirq-core/cirq/experiments/qubit_characterizations.py
  cirq-core/cirq/experiments/z_phase_calibration.py
  cirq-core/cirq/linalg/operator_spaces.py
  cirq-core/cirq/ops/arithmetic_operation_test.py
  cirq-core/cirq/ops/controlled_operation.py
  cirq-core/cirq/ops/linear_combinations.py
  cirq-core/cirq/qis/entropy.py
  cirq-core/cirq/sim/clifford/stabilizer_state_ch_form.py
  cirq-core/cirq/sim/simulation_utils.py
  cirq-core/cirq/sim/simulation_utils_test.py
  cirq-core/cirq/work/observable_measurement_data.py
  cirq-google/cirq_google/api/v1/programs.py
  dev_tools/requirements/mypy.env.txt
Owners: @mrwojtek, @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult

Update .git-blame-ignore-revs for test return types. (#7332)
  .git-blame-ignore-revs
Owners: @quantumlib/cirq-maintainers, @vtomole

Add CXSWAP and CZSWAP gates (#7334)
  cirq-core/cirq/__init__.py
  cirq-core/cirq/ops/__init__.py
  cirq-core/cirq/ops/clifford_gate.py
  cirq-core/cirq/ops/clifford_gate_test.py
  cirq-core/cirq/protocols/json_test_data/CXSWAP.json
  cirq-core/cirq/protocols/json_test_data/CXSWAP.repr
  cirq-core/cirq/protocols/json_test_data/CZSWAP.json
  cirq-core/cirq/protocols/json_test_data/CZSWAP.repr
Owners: @quantumlib/cirq-maintainers, @vtomole

Remove documentation references to optimized_for_sycamore (#7329)
  docs/google/concepts.ipynb
  docs/google/devices.md
  docs/tutorials/google/spin_echoes.ipynb
Owners: @wcourtney, @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole, @verult

Remove Dockerfile and associated files and documentation (#7347)
  .dockerignore
  .github/dependabot.yml
  Dockerfile
  dev_tools/conf/apt-list-dev-tools.txt
  dev_tools/docker_test.py
  docs/dev/development.md
Owners: @quantumlib/cirq-maintainers, @vtomole, @aasfaw, @rmlarose

Add QVM helper `extract_gate_times_ns_from_device` (#7350)
  cirq-google/cirq_google/engine/virtual_engine_factory.py
  cirq-google/cirq_google/engine/virtual_engine_factory_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Fix Linear dict scalar division test (#7361)
  cirq-core/cirq/value/linear_dict_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Update Type Hints (#7348)
  cirq-aqt/cirq_aqt/aqt_device.py
  cirq-aqt/cirq_aqt/aqt_device_metadata_test.py
  cirq-aqt/cirq_aqt/aqt_device_test.py
  cirq-aqt/cirq_aqt/aqt_sampler.py
  cirq-aqt/cirq_aqt/aqt_target_gateset.py
  cirq-aqt/cirq_aqt/json_resolver_cache.py
Owners: @ma5x, @pschindler, @alfrisch, @quantumlib/cirq-maintainers, @vtomole

Finalize switch to PEP 585 style type annotations (#7367)
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/linalg/decompositions.py
  cirq-core/cirq/ops/arithmetic_operation.py
  cirq-core/cirq/ops/op_tree.py
  cirq-core/cirq/ops/raw_types.py
  cirq-google/cirq_google/cloud/quantum_v1alpha1/services/quantum_engine_service/async_client.py
  cirq-google/cirq_google/cloud/quantum_v1alpha1/services/quantum_engine_service/client.py
  cirq-google/cirq_google/cloud/quantum_v1alpha1/services/quantum_engine_service/pagers.py
  cirq-google/cirq_google/cloud/quantum_v1alpha1/services/quantum_engine_service/transports/__init__.py
  cirq-google/cirq_google/cloud/quantum_v1alpha1/services/quantum_engine_service/transports/base.py
  cirq-google/cirq_google/cloud/quantum_v1alpha1/services/quantum_engine_service/transports/grpc.py
  cirq-google/cirq_google/cloud/quantum_v1alpha1/services/quantum_engine_service/transports/grpc_asyncio.py
  cirq-google/cirq_google/devices/google_noise_properties.py
  dev_tools/docs/run_doctest.py
  docs/dev/modules.md
  docs/experiments/fourier_checking.ipynb
  docs/experiments/shor.ipynb
  docs/transform/routing_transformer.ipynb
Owners: @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult, @aasfaw, @rmlarose

Decompose controlled 1x1 unitary gates generically, not just GlobalPhaseGate (#7283)
  cirq-core/cirq/ops/controlled_gate.py
  cirq-core/cirq/ops/controlled_gate_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

.github/CODEOWNERS:

####################
# cirq maintainers
####################

* @quantumlib/cirq-maintainers @vtomole

####################
# vendor maintainers
####################

cirq-google/**/*.* @wcourtney @quantumlib/cirq-maintainers @vtomole @verult

cirq-ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @Cynocracy @quantumlib/cirq-maintainers @vtomole @splch

cirq-aqt/**/*.* @ma5x @pschindler @alfrisch @quantumlib/cirq-maintainers @vtomole

cirq-pasqal/**/*.* @HGSilveri @quantumlib/cirq-maintainers @vtomole

cirq-rigetti/**/*.* @erichulburd @kalzoo @dbanty @quantumlib/cirq-maintainers @vtomole

################################################
# qcvv maintainers @mrwojtek + cirq maintainers
################################################

cirq-core/cirq/experiments/**/*.* @mrwojtek @quantumlib/cirq-maintainers @vtomole

#####################################################
# docs maintainers: maintainers + @aasfaw + @rmlarose
#####################################################

docs/**/*.* @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

###################################################################
# vendor docs maintainers: vendor maintainers + @aasfaw + @rmlarose
###################################################################

docs/google/**/*.* @wcourtney @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @verult
docs/tutorials/google/**/*.* @wcourtney @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @verult

docs/hardware/ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @aasfaw @rmlarose @Cynocracy @quantumlib/cirq-maintainers @vtomole @splch

docs/hardware/aqt/**/*.* @ma5x @pschindler @alfrisch @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

docs/hardware/pasqal/**/*.* @HGSilveri @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

docs/hardware/rigetti/**/*.* @erichulburd @kalzoo @dbanty @aasfaw @quantumlib/cirq-maintainers @vtomole

docs/hardware/azure-quantum/**/*.* @guenp @anpaz @aasfaw @quantumlib/cirq-maintainers @vtomole

#############################################################
# qcvv docs maintainers: docs maintainers + mrwojtek + aasfaw
#############################################################
docs/noise/qcvv/**/*.* @mrwojtek @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole
