Repository quantumlib/Cirq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult, @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @splch, @ma5x, @pschindler, @alfrisch, @HGSilveri, @erichulburd, @kalzoo, @dbanty, @mrwojtek, @aasfaw, @rmlarose, @guenp, @anpaz

Fix linting error.
  cirq-ionq/cirq_ionq/serializer.py
Owners: @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @quantumlib/cirq-maintainers, @vtomole, @splch

Fixing imports.
  cirq-ionq/cirq_ionq/serializer.py
Owners: @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @quantumlib/cirq-maintainers, @vtomole, @splch

Again tring to fix imports.
  cirq-ionq/cirq_ionq/serializer.py
Owners: @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @quantumlib/cirq-maintainers, @vtomole, @splch

Format import code.
  cirq-ionq/cirq_ionq/serializer.py
Owners: @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @quantumlib/cirq-maintainers, @vtomole, @splch

Fixing bug, fix tests.
  cirq-ionq/cirq_ionq/ionq_native_gates.py
  cirq-ionq/cirq_ionq/ionq_native_gates_test.py
Owners: @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @quantumlib/cirq-maintainers, @vtomole, @splch

Run black.
  cirq-ionq/cirq_ionq/ionq_native_gates_test.py
Owners: @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @quantumlib/cirq-maintainers, @vtomole, @splch

Adding tags to Moments
  cirq-core/cirq/circuits/moment.py
  cirq-core/cirq/circuits/moment_test.py
  cirq-core/cirq/protocols/json_test_data/Moment.json
  cirq-core/cirq/protocols/json_test_data/Moment.repr
Owners: @quantumlib/cirq-maintainers, @vtomole

Fix test flake in pauli_string_measurement_with_readout_mitigation_test (#7459)
  cirq-core/cirq/contrib/paulistring/pauli_string_measurement_with_readout_mitigation.py
  cirq-core/cirq/contrib/paulistring/pauli_string_measurement_with_readout_mitigation_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

typechecking
  cirq-core/cirq/circuits/moment.py
  cirq-core/cirq/circuits/moment_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Fix a couple of typos.
  cirq-core/cirq/transformers/align.py
  cirq-core/cirq/transformers/dynamical_decoupling.py
  cirq-core/cirq/transformers/dynamical_decoupling_test.py
  cirq-core/cirq/transformers/expand_composite_test.py
  cirq-core/cirq/transformers/measurement_transformers.py
  cirq-core/cirq/transformers/merge_single_qubit_gates.py
  cirq-core/cirq/transformers/merge_single_qubit_gates_test.py
  cirq-core/cirq/transformers/noise_adding.py
  cirq-core/cirq/transformers/optimize_for_target_gateset.py
  cirq-core/cirq/transformers/qubit_management_transformers.py
  cirq-core/cirq/transformers/randomized_measurements.py
  cirq-core/cirq/transformers/stratify.py
  cirq-core/cirq/transformers/symbolize.py
  cirq-core/cirq/transformers/tag_transformers.py
  cirq-core/cirq/transformers/transformer_api.py
  cirq-core/cirq/transformers/transformer_primitives.py
Owners: @quantumlib/cirq-maintainers, @vtomole

.
  cirq-core/cirq/contrib/paulistring/pauli_string_measurement_with_readout_mitigation.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Fix one more similar typo in a notebook
  docs/build/classical_control.ipynb
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole

Fix a couple of typos in transformers (#7471)
  cirq-core/cirq/transformers/align.py
  cirq-core/cirq/transformers/dynamical_decoupling.py
  cirq-core/cirq/transformers/dynamical_decoupling_test.py
  cirq-core/cirq/transformers/expand_composite_test.py
  cirq-core/cirq/transformers/measurement_transformers.py
  cirq-core/cirq/transformers/merge_single_qubit_gates.py
  cirq-core/cirq/transformers/merge_single_qubit_gates_test.py
  cirq-core/cirq/transformers/noise_adding.py
  cirq-core/cirq/transformers/optimize_for_target_gateset.py
  cirq-core/cirq/transformers/qubit_management_transformers.py
  cirq-core/cirq/transformers/randomized_measurements.py
  cirq-core/cirq/transformers/stratify.py
  cirq-core/cirq/transformers/symbolize.py
  cirq-core/cirq/transformers/tag_transformers.py
  cirq-core/cirq/transformers/transformer_api.py
  cirq-core/cirq/transformers/transformer_primitives.py
  docs/build/classical_control.ipynb
Owners: @quantumlib/cirq-maintainers, @vtomole, @aasfaw, @rmlarose

.
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Add `ProcessorConfig` and `ProcessorConfigSnapshot`
  cirq-google/cirq_google/engine/processor_config.py
  cirq-google/cirq_google/engine/processor_config_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Update __init__; Add another unit test.
  cirq-google/cirq_google/engine/__init__.py
  cirq-google/cirq_google/engine/processor_config_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

.
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Adjust for review (tags dropped)
  cirq-core/cirq/circuits/moment.py
  cirq-core/cirq/circuits/moment_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Change test to tuple.
  cirq-core/cirq/circuits/moment.py
  cirq-core/cirq/protocols/json_test_data/Moment.json
  cirq-core/cirq/protocols/json_test_data/Moment.repr
Owners: @quantumlib/cirq-maintainers, @vtomole

Add AnalogDetuneCouplerOnly (#7444)
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/json_resolver_cache.py
  cirq-google/cirq_google/json_test_data/AnalogDetuneCouplerOnly.json
  cirq-google/cirq_google/json_test_data/AnalogDetuneCouplerOnly.repr
  cirq-google/cirq_google/ops/__init__.py
  cirq-google/cirq_google/ops/analog_detune_gates.py
  cirq-google/cirq_google/ops/analog_detune_gates_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Fix typecheck
  cirq-google/cirq_google/engine/processor_sampler.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Add tests, fix issue with with_ops() and remove tags
  cirq-core/cirq/circuits/moment.py
  cirq-core/cirq/circuits/moment_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Add `max_concurrent_jobs` to `Engine.get_sampler()`. (#7442)
  cirq-google/cirq_google/engine/engine.py
  cirq-google/cirq_google/engine/engine_test.py
  cirq-google/cirq_google/engine/processor_sampler.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

relax the bounds in curve fitting and change the way we exclude gates in strict gatesets
  cirq-core/cirq/experiments/qubit_characterizations.py
  cirq-core/cirq/experiments/qubit_characterizations_test.py
Owners: @mrwojtek, @quantumlib/cirq-maintainers, @vtomole

address comments about deprecation
  cirq-core/cirq/experiments/qubit_characterizations.py
Owners: @mrwojtek, @quantumlib/cirq-maintainers, @vtomole

fix failing test
  cirq-core/cirq/experiments/__init__.py
  cirq-core/cirq/experiments/two_qubit_xeb.py
Owners: @mrwojtek, @quantumlib/cirq-maintainers, @vtomole

lint
  cirq-core/cirq/experiments/qubit_characterizations.py
Owners: @mrwojtek, @quantumlib/cirq-maintainers, @vtomole

nit
  cirq-core/cirq/experiments/qubit_characterizations.py
Owners: @mrwojtek, @quantumlib/cirq-maintainers, @vtomole

Adding tags to Moments (#7467)
  cirq-core/cirq/circuits/moment.py
  cirq-core/cirq/circuits/moment_test.py
  cirq-core/cirq/protocols/json_test_data/Moment.json
  cirq-core/cirq/protocols/json_test_data/Moment.repr
Owners: @quantumlib/cirq-maintainers, @vtomole

fix failing test
  examples/qubit_characterizations_example.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Add noise gates to cirq_google serialization (#7443)
  cirq-google/cirq_google/api/v2/program.proto
  cirq-google/cirq_google/api/v2/program_pb2.py
  cirq-google/cirq_google/api/v2/program_pb2.pyi
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

More work.
  cirq-ionq/cirq_ionq/ionq_client.py
  cirq-ionq/cirq_ionq/job.py
  cirq-ionq/cirq_ionq/service.py
Owners: @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @quantumlib/cirq-maintainers, @vtomole, @splch

Promote FrozenCircuit.tags to AbstractCircuit
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_test.py
  cirq-core/cirq/circuits/frozen_circuit.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Fix lint issue
  cirq-core/cirq/circuits/circuit.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Update RB to reduce the size of the generated circuits (#7411)
  cirq-core/cirq/experiments/__init__.py
  cirq-core/cirq/experiments/qubit_characterizations.py
  cirq-core/cirq/experiments/qubit_characterizations_test.py
  cirq-core/cirq/experiments/two_qubit_xeb.py
  examples/qubit_characterizations_example.py
Owners: @mrwojtek, @quantumlib/cirq-maintainers, @vtomole

Change use of measurements to records in tomography + fix formatting
  cirq-core/cirq/experiments/qubit_characterizations.py
  cirq-core/cirq/experiments/qubit_characterizations_test.py
Owners: @mrwojtek, @quantumlib/cirq-maintainers, @vtomole

Review
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_test.py
  cirq-core/cirq/circuits/frozen_circuit.py
  cirq-core/cirq/circuits/frozen_circuit_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Typo fix + import uuid
  cirq-core/cirq/experiments/qubit_characterizations.py
Owners: @mrwojtek, @quantumlib/cirq-maintainers, @vtomole

Review
  cirq-core/cirq/circuits/circuit.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Review
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_test.py
  cirq-core/cirq/circuits/frozen_circuit_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

.github/CODEOWNERS:

####################
# cirq maintainers
####################

* @quantumlib/cirq-maintainers @vtomole

####################
# vendor maintainers
####################

cirq-google/**/*.* @wcourtney @quantumlib/cirq-maintainers @vtomole @verult

cirq-ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @Cynocracy @quantumlib/cirq-maintainers @vtomole @splch

cirq-aqt/**/*.* @ma5x @pschindler @alfrisch @quantumlib/cirq-maintainers @vtomole

cirq-pasqal/**/*.* @HGSilveri @quantumlib/cirq-maintainers @vtomole

cirq-rigetti/**/*.* @erichulburd @kalzoo @dbanty @quantumlib/cirq-maintainers @vtomole

################################################
# qcvv maintainers @mrwojtek + cirq maintainers
################################################

cirq-core/cirq/experiments/**/*.* @mrwojtek @quantumlib/cirq-maintainers @vtomole

#####################################################
# docs maintainers: maintainers + @aasfaw + @rmlarose
#####################################################

docs/**/*.* @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

###################################################################
# vendor docs maintainers: vendor maintainers + @aasfaw + @rmlarose
###################################################################

docs/google/**/*.* @wcourtney @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @verult
docs/tutorials/google/**/*.* @wcourtney @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @verult

docs/hardware/ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @aasfaw @rmlarose @Cynocracy @quantumlib/cirq-maintainers @vtomole @splch

docs/hardware/aqt/**/*.* @ma5x @pschindler @alfrisch @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

docs/hardware/pasqal/**/*.* @HGSilveri @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

docs/hardware/rigetti/**/*.* @erichulburd @kalzoo @dbanty @aasfaw @quantumlib/cirq-maintainers @vtomole

docs/hardware/azure-quantum/**/*.* @guenp @anpaz @aasfaw @quantumlib/cirq-maintainers @vtomole

#############################################################
# qcvv docs maintainers: docs maintainers + mrwojtek + aasfaw
#############################################################
docs/noise/qcvv/**/*.* @mrwojtek @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole
