Repository quantumlib/Cirq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult, @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @splch, @ma5x, @pschindler, @alfrisch, @HGSilveri, @erichulburd, @kalzoo, @dbanty, @mrwojtek, @aasfaw, @rmlarose, @guenp, @anpaz

.github/CODEOWNERS:

####################
# cirq maintainers
####################

* @quantumlib/cirq-maintainers @vtomole

####################
# vendor maintainers
####################

cirq-google/**/*.* @wcourtney @quantumlib/cirq-maintainers @vtomole @verult

cirq-ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @Cynocracy @quantumlib/cirq-maintainers @vtomole @splch

cirq-aqt/**/*.* @ma5x @pschindler @alfrisch @quantumlib/cirq-maintainers @vtomole

cirq-pasqal/**/*.* @HGSilveri @quantumlib/cirq-maintainers @vtomole

cirq-rigetti/**/*.* @erichulburd @kalzoo @dbanty @quantumlib/cirq-maintainers @vtomole

################################################
# qcvv maintainers @mrwojtek + cirq maintainers
################################################

cirq-core/cirq/experiments/**/*.* @mrwojtek @quantumlib/cirq-maintainers @vtomole

#####################################################
# docs maintainers: maintainers + @aasfaw + @rmlarose
#####################################################

docs/**/*.* @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

###################################################################
# vendor docs maintainers: vendor maintainers + @aasfaw + @rmlarose
###################################################################

docs/google/**/*.* @wcourtney @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @verult
docs/tutorials/google/**/*.* @wcourtney @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @verult

docs/hardware/ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @aasfaw @rmlarose @Cynocracy @quantumlib/cirq-maintainers @vtomole @splch

docs/hardware/aqt/**/*.* @ma5x @pschindler @alfrisch @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

docs/hardware/pasqal/**/*.* @HGSilveri @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

docs/hardware/rigetti/**/*.* @erichulburd @kalzoo @dbanty @aasfaw @quantumlib/cirq-maintainers @vtomole

docs/hardware/azure-quantum/**/*.* @guenp @anpaz @aasfaw @quantumlib/cirq-maintainers @vtomole

#############################################################
# qcvv docs maintainers: docs maintainers + mrwojtek + aasfaw
#############################################################
docs/noise/qcvv/**/*.* @mrwojtek @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

Enable pulling through Clifford operations, also add an option of only applying dd to single qubit gate moments (#6675)
  cirq-core/cirq/transformers/dynamical_decoupling.py
  cirq-core/cirq/transformers/dynamical_decoupling_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Add `IdentityGate._commutes_` (#6702)
  cirq-core/cirq/ops/identity.py
  cirq-core/cirq/ops/identity_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Limit maximum multiprocessing pool size in xeb tests (#6713)
  cirq-core/cirq/experiments/xeb_fitting_test.py
  cirq-core/cirq/experiments/xeb_simulation_test.py
Owners: @mrwojtek, @quantumlib/cirq-maintainers, @vtomole

Update node dependencies & generate bundled JavaScript files (#6720)
  .github/workflows/ci.yml
  cirq-web/cirq_ts/dist/bloch_sphere.bundle.js
  cirq-web/cirq_ts/dist/circuit.bundle.js
  cirq-web/cirq_ts/package-lock.json
  cirq-web/cirq_ts/package.json
Owners: @quantumlib/cirq-maintainers, @vtomole

Fix misspelling in class name (#6716)
  cirq-core/cirq/transformers/noise_adding.py
  cirq-core/cirq/transformers/noise_adding_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Avoid CI flakes due to random-seed-dependent unit tests (#6700)
  cirq-core/cirq/linalg/decompositions_test.py
  cirq-core/cirq/testing/__init__.py
  cirq-core/cirq/testing/pytest_randomly_utils.py
  cirq-core/cirq/testing/pytest_randomly_utils_test.py
  cirq-core/cirq/transformers/analytical_decompositions/controlled_gate_decomposition_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

introduce a generic value type for DeviceParametersDiff proto (#6712)
  cirq-google/cirq_google/api/v2/run_context.proto
  cirq-google/cirq_google/api/v2/run_context.py
  cirq-google/cirq_google/api/v2/run_context_pb2.py
  cirq-google/cirq_google/api/v2/run_context_pb2.pyi
  cirq-google/cirq_google/api/v2/run_context_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Stop using deprecated module pkg_resouces (#6708)
  cirq-google/cirq_google/cloud/quantum_v1alpha1/services/quantum_engine_service/async_client.py
  cirq-google/cirq_google/cloud/quantum_v1alpha1/services/quantum_engine_service/client.py
  cirq-google/cirq_google/cloud/quantum_v1alpha1/services/quantum_engine_service/transports/base.py
  dev_tools/requirements/deps/mypy.txt
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Mark ProjectorSum class as unhashable (#6701)
  cirq-core/cirq/ops/linear_combinations.py
  cirq-core/cirq/protocols/hash_from_pickle_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Align Black target versions with supported Python versions (#6709)
  pyproject.toml
Owners: @quantumlib/cirq-maintainers, @vtomole

Restore cirq_google.api.v2 protos deleted in 6442 (#6746)
  cirq-google/cirq_google/api/v2/batch.proto
  cirq-google/cirq_google/api/v2/batch_pb2.py
  cirq-google/cirq_google/api/v2/batch_pb2.pyi
  cirq-google/cirq_google/api/v2/calibration.proto
  cirq-google/cirq_google/api/v2/calibration_pb2.py
  cirq-google/cirq_google/api/v2/calibration_pb2.pyi
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

CI - check for real if proto-derived files are up to date (#6747)
  .github/workflows/ci.yml
  check/build-changed-protos
  check/protos-up-to-date
  cirq-google/cirq_google/api/v1/operations_pb2.pyi
  cirq-google/cirq_google/api/v1/params_pb2.pyi
  cirq-google/cirq_google/api/v1/program_pb2.pyi
  cirq-google/cirq_google/api/v2/device_pb2.pyi
  cirq-google/cirq_google/api/v2/metrics_pb2.pyi
  cirq-google/cirq_google/api/v2/program_pb2.pyi
  cirq-google/cirq_google/api/v2/result_pb2.pyi
Owners: @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult

CI - fix flaky type check failure in `cirq.vis.heatmap` (#6750)
  cirq-core/cirq/vis/heatmap.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Add support for const sweep with None (#6729)
  cirq-google/cirq_google/api/v2/run_context.proto
  cirq-google/cirq_google/api/v2/run_context_pb2.py
  cirq-google/cirq_google/api/v2/run_context_pb2.pyi
  cirq-google/cirq_google/api/v2/sweeps.py
  cirq-google/cirq_google/api/v2/sweeps_test.py
  cirq-google/cirq_google/engine/engine_processor_test.py
  cirq-google/cirq_google/engine/engine_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Update copyright checker and switch to pylint-3 (#6751)
  dev_tools/pylint_copyright_checker.py
  dev_tools/requirements/deps/pylint.txt
Owners: @quantumlib/cirq-maintainers, @vtomole

Dynamical decoupling: Support pulling through the whole circuit with non-clifford moments (#6718)
  cirq-core/cirq/transformers/dynamical_decoupling.py
  cirq-core/cirq/transformers/dynamical_decoupling_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Update the const proto field name (#6744)
  cirq-google/cirq_google/api/v2/run_context.proto
  cirq-google/cirq_google/api/v2/run_context_pb2.py
  cirq-google/cirq_google/api/v2/run_context_pb2.pyi
  cirq-google/cirq_google/api/v2/sweeps.py
  cirq-google/cirq_google/api/v2/sweeps_test.py
  cirq-google/cirq_google/engine/engine_processor_test.py
  cirq-google/cirq_google/engine/engine_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Fix Rigetti check for Aspen family device kind (#6734)
  cirq-rigetti/cirq_rigetti/aspen_device.py
  cirq-rigetti/cirq_rigetti/aspen_device_test.py
  cirq-rigetti/requirements.txt
Owners: @erichulburd, @kalzoo, @dbanty, @quantumlib/cirq-maintainers, @vtomole

Fix #6706 – Update sources for compatibility with NumPy 2 (#6724)
  cirq-core/cirq/_compat.py
  cirq-core/cirq/contrib/requirements.txt
  cirq-core/cirq/protocols/circuit_diagram_info_protocol.py
  cirq-core/cirq/protocols/circuit_diagram_info_protocol_test.py
  cirq-core/cirq/protocols/json_serialization_test.py
  cirq-core/cirq/qis/states.py
  cirq-core/cirq/sim/simulator.py
  cirq-core/cirq/sim/sparse_simulator_test.py
  cirq-core/requirements.txt
  cirq-google/cirq_google/serialization/arg_func_langs.py
  conftest.py
  dev_tools/requirements/dev-np2.env.txt
  examples/bb84.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult

CI - add temporary job pytest-numpy-2 to test with NumPy-2 on Ubuntu (#6740)
  .github/workflows/ci.yml
Owners: @quantumlib/cirq-maintainers, @vtomole

coverage - exclude code guarded by `if TYPE_CHECKING` (#6753)
  Dockerfile
  cirq-rigetti/requirements.txt
  dev_tools/conf/.coveragerc
Owners: @quantumlib/cirq-maintainers, @vtomole, @erichulburd, @kalzoo, @dbanty

Exclude conftest.py files from enforcing changed-code coverage (#6738)
  dev_tools/incremental_coverage.py
Owners: @quantumlib/cirq-maintainers, @vtomole

CI - fix flakiness of stream_manager_test on Windows (#6749)
  cirq-core/cirq/testing/__init__.py
  cirq-core/cirq/testing/pytest_utils.py
  cirq-core/cirq/testing/pytest_utils_test.py
  cirq-google/cirq_google/engine/stream_manager_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult

Silence pytest warnings about asyncio fixture scope (#6736)
  pyproject.toml
Owners: @quantumlib/cirq-maintainers, @vtomole

Fix Quantum Shannon Decomposition (#6756)
  cirq-core/cirq/transformers/analytical_decompositions/quantum_shannon_decomposition.py
  cirq-core/cirq/transformers/analytical_decompositions/quantum_shannon_decomposition_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Create an insertion_sort transformer and incorporate it into the transpiling protocol (#6776)
  cirq-core/cirq/transformers/__init__.py
  cirq-core/cirq/transformers/insertion_sort.py
  cirq-core/cirq/transformers/insertion_sort_test.py
  cirq-core/cirq/transformers/target_gatesets/compilation_target_gateset.py
  cirq-core/cirq/transformers/target_gatesets/cz_gateset.py
  cirq-core/cirq/transformers/target_gatesets/cz_gateset_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Batch circuit submit in cirq_ionq (#6652)
  cirq-ionq/cirq_ionq/__init__.py
  cirq-ionq/cirq_ionq/ionq_exceptions.py
  cirq-ionq/cirq_ionq/job.py
  cirq-ionq/cirq_ionq/job_test.py
  cirq-ionq/cirq_ionq/json_test_data/spec.py
  cirq-ionq/cirq_ionq/sampler.py
  cirq-ionq/cirq_ionq/serializer.py
  cirq-ionq/cirq_ionq/serializer_test.py
  cirq-ionq/cirq_ionq/service.py
  cirq-ionq/cirq_ionq/service_test.py
Owners: @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @quantumlib/cirq-maintainers, @vtomole, @splch

Support TUnits in circuit serialization (#6781)
  cirq-google/cirq_google/api/v2/program.proto
  cirq-google/cirq_google/api/v2/program_pb2.py
  cirq-google/cirq_google/api/v2/program_pb2.pyi
  cirq-google/cirq_google/serialization/arg_func_langs.py
  cirq-google/cirq_google/serialization/arg_func_langs_test.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
  dev_tools/build-protos.sh
  dev_tools/requirements/deps/protos.txt
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

decrease polling rate (#6762)
  cirq-google/cirq_google/engine/engine_job.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Update pyquil dependency and remove workaround pinning of quil (#6763)
  Dockerfile
  cirq-rigetti/requirements.txt
Owners: @quantumlib/cirq-maintainers, @vtomole, @erichulburd, @kalzoo, @dbanty

Allow external users to use snapshot_id (#6739)
  cirq-google/cirq_google/cloud/quantum_v1alpha1/types/quantum.py
  cirq-google/cirq_google/engine/abstract_processor.py
  cirq-google/cirq_google/engine/engine.py
  cirq-google/cirq_google/engine/engine_client.py
  cirq-google/cirq_google/engine/engine_client_test.py
  cirq-google/cirq_google/engine/engine_processor.py
  cirq-google/cirq_google/engine/engine_processor_test.py
  cirq-google/cirq_google/engine/engine_program.py
  cirq-google/cirq_google/engine/engine_test.py
  cirq-google/cirq_google/engine/processor_sampler.py
  cirq-google/cirq_google/engine/processor_sampler_test.py
  cirq-google/cirq_google/engine/simulated_local_processor.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

add request limiter when polling for results (#6774)
  cirq-core/cirq/work/sampler.py
  cirq-core/cirq/work/sampler_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Transpile to native IonQ gates (#6572)
  cirq-ionq/cirq_ionq/__init__.py
  cirq-ionq/cirq_ionq/ionq_native_gates.py
  cirq-ionq/cirq_ionq/ionq_native_gates_test.py
  cirq-ionq/cirq_ionq/ionq_native_target_gateset.py
  cirq-ionq/cirq_ionq/ionq_native_target_gateset_test.py
  cirq-ionq/cirq_ionq/json_resolver_cache.py
  cirq-ionq/cirq_ionq/json_test_data/AriaNativeGateset.json
  cirq-ionq/cirq_ionq/json_test_data/AriaNativeGateset.repr
  cirq-ionq/cirq_ionq/json_test_data/ForteNativeGateset.json
  cirq-ionq/cirq_ionq/json_test_data/ForteNativeGateset.repr
  cirq-ionq/cirq_ionq/json_test_data/ZZGate.json
  cirq-ionq/cirq_ionq/json_test_data/ZZGate.repr
  cirq-ionq/cirq_ionq/serializer.py
  cirq-ionq/cirq_ionq/serializer_test.py
Owners: @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @quantumlib/cirq-maintainers, @vtomole, @splch

Add TypedUnits to the requirements of cirq-google (#6773)
  cirq-google/requirements.txt
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Mark QSD QFT5 with xfail (#6767)
  cirq-core/cirq/transformers/analytical_decompositions/quantum_shannon_decomposition_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Use pytest fixture for multiprocessing Pool in XEB tests (#6766)
  cirq-core/cirq/experiments/xeb_fitting_test.py
  cirq-core/cirq/experiments/xeb_simulation_test.py
Owners: @mrwojtek, @quantumlib/cirq-maintainers, @vtomole

cirq-core/cirq/work/sampler.py (#6780)
  cirq-core/cirq/work/sampler.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Add custom args to value equality (#6799)
  cirq-google/cirq_google/ops/internal_gate.py
  cirq-google/cirq_google/ops/internal_gate_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Create workflow for Z-phase calibration (#6728)
  cirq-core/cirq/experiments/__init__.py
  cirq-core/cirq/experiments/two_qubit_xeb.py
  cirq-core/cirq/experiments/xeb_fitting.py
  cirq-core/cirq/experiments/z_phase_calibration.py
  cirq-core/cirq/experiments/z_phase_calibration_test.py
Owners: @mrwojtek, @quantumlib/cirq-maintainers, @vtomole

Preliminary support for outputting to OpenQASM 3.0 (#6795)
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_test.py
  cirq-core/cirq/circuits/qasm_output.py
  cirq-core/cirq/circuits/qasm_output_test.py
  cirq-core/cirq/ops/classically_controlled_operation.py
  cirq-core/cirq/ops/common_channels.py
  cirq-core/cirq/ops/common_gates.py
  cirq-core/cirq/ops/identity.py
  cirq-core/cirq/ops/matrix_gates.py
  cirq-core/cirq/ops/measurement_gate.py
  cirq-core/cirq/ops/phased_x_gate.py
  cirq-core/cirq/ops/swap_gates.py
  cirq-core/cirq/ops/three_qubit_gates.py
Owners: @quantumlib/cirq-maintainers, @vtomole
