Repository quantumlib/Cirq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult, @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @splch, @ma5x, @pschindler, @alfrisch, @HGSilveri, @erichulburd, @kalzoo, @dbanty, @mrwojtek, @aasfaw, @rmlarose, @guenp, @anpaz

Tell Dependabot to ignore higher versions of chai and pixelmatch (#7159)
  .github/dependabot.yml
Owners: @quantumlib/cirq-maintainers, @vtomole

Update chai & pixelmatch versions (#7160)
  cirq-web/cirq_ts/package-lock.json
  cirq-web/cirq_ts/package.json
Owners: @quantumlib/cirq-maintainers, @vtomole

Add a tool for measuring expectation values of Pauli strings with readout error mitigation (#7067)
  cirq-core/cirq/contrib/paulistring/__init__.py
  cirq-core/cirq/contrib/paulistring/pauli_string_measurement_with_readout_mitigation.py
  cirq-core/cirq/contrib/paulistring/pauli_string_measurement_with_readout_mitigation_test.py
  cirq-core/cirq/contrib/shuffle_circuits/shuffle_circuits_with_readout_benchmarking.py
  cirq-core/cirq/contrib/shuffle_circuits/shuffle_circuits_with_readout_benchmarking_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Add ability to add custom tag (de)serializers (#7169)
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
  cirq-google/cirq_google/serialization/tag_deserializer.py
  cirq-google/cirq_google/serialization/tag_serializer.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Update directories searched by Dependabot for pip case (#7155)
  .github/dependabot.yml
  dev_tools/requirements/deps/cirq-all-no-contrib.txt
Owners: @quantumlib/cirq-maintainers, @vtomole

Drop "requests" package from the isolated-base.env (#7154)
  dev_tools/requirements/isolated-base.env.txt
Owners: @quantumlib/cirq-maintainers, @vtomole

Update lists of tags (#7178)
  .github/workflows/stale.yml
Owners: @quantumlib/cirq-maintainers, @vtomole

Deprecate Cirq-Rigetti (#7176)
  cirq-core/cirq/protocols/hash_from_pickle_test.py
  cirq-rigetti/README.md
  cirq-rigetti/cirq_rigetti/aspen_device.py
  cirq-rigetti/cirq_rigetti/aspen_device_test.py
  cirq-rigetti/cirq_rigetti/circuit_sweep_executors.py
  cirq-rigetti/cirq_rigetti/circuit_sweep_executors_test.py
  cirq-rigetti/cirq_rigetti/circuit_transformers.py
  cirq-rigetti/cirq_rigetti/circuit_transformers_test.py
  cirq-rigetti/cirq_rigetti/deprecation.py
  cirq-rigetti/cirq_rigetti/json_test_data/spec.py
  cirq-rigetti/cirq_rigetti/qcs_sampler_and_service_test.py
  cirq-rigetti/cirq_rigetti/quil_input.py
  cirq-rigetti/cirq_rigetti/quil_input_test.py
  cirq-rigetti/cirq_rigetti/quil_output.py
  cirq-rigetti/cirq_rigetti/quil_output_test.py
  cirq-rigetti/cirq_rigetti/sampler.py
  cirq-rigetti/cirq_rigetti/sampler_bell_circuit_test.py
  cirq-rigetti/cirq_rigetti/sampler_parametric_circuit_test.py
  cirq-rigetti/cirq_rigetti/sampler_readout_reassigned_qubits_test.py
  cirq-rigetti/cirq_rigetti/sampler_readout_separate_memory_regions_test.py
  cirq-rigetti/cirq_rigetti/sampler_test.py
  cirq-rigetti/cirq_rigetti/service.py
  cirq-rigetti/cirq_rigetti/service_bell_circuit_test.py
  cirq-rigetti/cirq_rigetti/service_parametric_circuit_test.py
  cirq-rigetti/cirq_rigetti/service_test.py
  cirq-rigetti/setup.py
  dev_tools/docs/run_doctest.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @erichulburd, @kalzoo, @dbanty

Clarify the license statement for examples/ (#7173)
  examples/README.md
Owners: @quantumlib/cirq-maintainers, @vtomole

Decouple cirq package from cirq-rigetti (#7170)
  docs/hardware/rigetti/getting_started.ipynb
  setup.py
Owners: @erichulburd, @kalzoo, @dbanty, @aasfaw, @quantumlib/cirq-maintainers, @vtomole

Fix broken development environment (#7168)
  dev_tools/requirements/deps/packaging.txt
Owners: @quantumlib/cirq-maintainers, @vtomole

Fix np.einsum type annotations (#7184)
  cirq-core/cirq/experiments/readout_confusion_matrix.py
  cirq-core/cirq/linalg/transformations.py
  cirq-core/cirq/qis/states.py
Owners: @mrwojtek, @quantumlib/cirq-maintainers, @vtomole

Try again to format messages more nicely (#7180)
  .github/workflows/stale.yml
Owners: @quantumlib/cirq-maintainers, @vtomole

Simplify python package description (#7187)
  cirq-aqt/cirq_aqt/_version.py
  cirq-aqt/cirq_aqt/_version_test.py
  cirq-aqt/setup.py
  cirq-core/cirq/_version.py
  cirq-core/cirq/_version_test.py
  cirq-core/setup.py
  cirq-google/cirq_google/_version.py
  cirq-google/cirq_google/_version_test.py
  cirq-google/setup.py
  cirq-ionq/cirq_ionq/_version.py
  cirq-ionq/cirq_ionq/_version_test.py
  cirq-ionq/setup.py
  cirq-pasqal/cirq_pasqal/_version.py
  cirq-pasqal/cirq_pasqal/_version_test.py
  cirq-pasqal/setup.py
  cirq-rigetti/cirq_rigetti/_version.py
  cirq-rigetti/cirq_rigetti/_version_test.py
  cirq-rigetti/setup.py
  cirq-web/cirq_web/_version.py
  cirq-web/cirq_web/_version_test.py
  cirq-web/setup.py
  dev_tools/modules.py
  dev_tools/packaging/generate-dev-version-id.sh
  dev_tools/packaging/packaging_test.sh
  release.md
  setup.py
Owners: @ma5x, @pschindler, @alfrisch, @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult, @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @splch, @HGSilveri, @erichulburd, @kalzoo, @dbanty

Update Zenodo info & correct a small typo (#7191)
  release.md
Owners: @quantumlib/cirq-maintainers, @vtomole

CI - skip sorting of imports with isort (#7190)
  check/format-incremental
Owners: @quantumlib/cirq-maintainers, @vtomole

Fix isort invocation in format-incremental (#7194)
  check/format-incremental
Owners: @quantumlib/cirq-maintainers, @vtomole

Add isort for import linting (#7181)
  check/format-incremental
  dev_tools/requirements/deps/format.txt
  dev_tools/requirements/dev-np2.env.txt
  pyproject.toml
Owners: @quantumlib/cirq-maintainers, @vtomole

Update `_NPY_MAXDIMS` (#7167)
  cirq-core/cirq/linalg/transformations.py
  cirq-core/cirq/linalg/transformations_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Filter out harmless quimb-related warnings in check/doctest (#7179)
  dev_tools/docs/run_doctest.py
  pyproject.toml
Owners: @quantumlib/cirq-maintainers, @vtomole

Avoid frequent test failure in greedy_test.py by increasing timeout (#7188)
  cirq-core/cirq/contrib/routing/greedy_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Fix WaitGate for multiple qubits in cirq_google proto (#7189)
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Fix flakes in pauli_string_measurement_with_readout_mitigation_test (#7185)
  cirq-core/cirq/contrib/paulistring/pauli_string_measurement_with_readout_mitigation.py
  cirq-core/cirq/contrib/paulistring/pauli_string_measurement_with_readout_mitigation_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Improve check of expected shell commands in check/format-incremental (#7196)
  dev_tools/bash_scripts_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Remove debug printouts from the test (#7202)
  dev_tools/notebooks/isolated_notebook_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Change a list of if statements into match (#7204)
  cirq-google/cirq_google/serialization/arg_func_langs.py
  cirq-google/cirq_google/serialization/arg_func_langs_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Add bytes to cirq_google proto (#7201)
  cirq-google/cirq_google/api/v2/program.proto
  cirq-google/cirq_google/api/v2/program_pb2.py
  cirq-google/cirq_google/api/v2/program_pb2.pyi
  cirq-google/cirq_google/serialization/arg_func_langs.py
  cirq-google/cirq_google/serialization/arg_func_langs_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Revise Community section (#7199)
  README.md
Owners: @quantumlib/cirq-maintainers, @vtomole

Format typescript sources at max_line_length=100 (#7205)
  .editorconfig
  cirq-web/cirq_ts/e2e/bloch_sphere/bloch_sphere_e2e_test.ts
  cirq-web/cirq_ts/e2e/circuit/circuit_e2e_test.ts
  cirq-web/cirq_ts/src/bloch_sphere/bloch_sphere.ts
  cirq-web/cirq_ts/src/bloch_sphere/bloch_sphere_test.ts
  cirq-web/cirq_ts/src/bloch_sphere/components/meridians.ts
  cirq-web/cirq_ts/src/bloch_sphere/components/meridians_test.ts
  cirq-web/cirq_ts/src/bloch_sphere/components/scene.ts
  cirq-web/cirq_ts/src/bloch_sphere/components/sphere.ts
  cirq-web/cirq_ts/src/bloch_sphere/components/sphere_test.ts
  cirq-web/cirq_ts/src/bloch_sphere/components/state_vector.ts
  cirq-web/cirq_ts/src/bloch_sphere/main.ts
  cirq-web/cirq_ts/src/circuit/components/grid_qubit.ts
  cirq-web/cirq_ts/src/circuit/components/grid_qubit_test.ts
  cirq-web/cirq_ts/src/circuit/components/meshes.ts
  cirq-web/cirq_ts/src/circuit/components/types.ts
  cirq-web/cirq_ts/src/circuit/components/types_test.ts
  cirq-web/cirq_ts/src/circuit/grid_circuit.ts
  cirq-web/cirq_ts/src/circuit/grid_circuit_test.ts
  cirq-web/cirq_ts/src/circuit/main.ts
Owners: @quantumlib/cirq-maintainers, @vtomole

fix typos in docstrings (#7200)
  cirq-core/cirq/contrib/paulistring/pauli_string_measurement_with_readout_mitigation.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Resolve issue #7000 by adding PR labeler workflow (#7203)
  .github/workflows/pr-labeler.yaml
Owners: @quantumlib/cirq-maintainers, @vtomole

Ignore isort code formatting in git blame (#7197)
  .git-blame-ignore-revs
Owners: @quantumlib/cirq-maintainers, @vtomole

Fix #5497: update IonQ docs to remove decompose_operation (#7198)
  docs/hardware/ionq/circuits.md
Owners: @dabacon, @ColemanCollins, @nakardo, @gmauricio, @aasfaw, @rmlarose, @Cynocracy, @quantumlib/cirq-maintainers, @vtomole, @splch

Update and make minor additions to docs/ in time for Cirq 1.5 (#7175)
  docs/_book.yaml
  docs/build/_index.yaml
  docs/build/ecosystem.md
  docs/citation.md
  docs/dev/development.md
  docs/dev/gates.md
  docs/dev/modules.md
  docs/dev/notebooks.md
  docs/dev/plotting.md
  docs/dev/style.md
  docs/dev/support.md
  docs/dev/triage.md
  docs/dev/versions.md
  docs/experiments/fourier_checking.ipynb
  docs/experiments/variational_algorithm.ipynb
  docs/google/best_practices.ipynb
  docs/google/concepts.ipynb
  docs/google/engine.md
  docs/hardware/_index.yaml
  docs/hardware/ionq/circuits.md
  docs/hardware/pasqal/getting_started.ipynb
  docs/hardware/rigetti/access.md
  docs/hardware/rigetti/getting_started.ipynb
  docs/noise/qcvv/coherent_vs_incoherent_xeb.ipynb
  docs/simulate/virtual_engine_interface.ipynb
  docs/start/basics.ipynb
  docs/start/best_practices.md
  docs/start/install.md
  docs/start/intro.ipynb
  docs/start/start.ipynb
  docs/tutorials/google/start.ipynb
  docs/tutorials/google/visualizing_calibration_metrics.ipynb
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult, @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @splch, @HGSilveri, @erichulburd, @kalzoo, @dbanty, @mrwojtek

Create a new condition that allows easy control by bitmasks and Add a new classical Update the notebook for 'Classical control' to reflect new features" (#7166)
  cirq-core/cirq/__init__.py
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/protocols/json_serialization.py
  cirq-core/cirq/protocols/json_serialization_test.py
  cirq-core/cirq/protocols/json_test_data/BitMaskKeyCondition.json
  cirq-core/cirq/protocols/json_test_data/BitMaskKeyCondition.repr
  cirq-core/cirq/value/__init__.py
  cirq-core/cirq/value/condition.py
  cirq-core/cirq/value/condition_test.py
  dev_tools/notebooks/isolated_notebook_test.py
  docs/build/classical_control.ipynb
Owners: @quantumlib/cirq-maintainers, @vtomole, @aasfaw, @rmlarose

Improve cirq-dev installation command (#7213)
  README.md
  cirq-aqt/README.md
  cirq-core/README.md
  cirq-core/cirq/contrib/quimb/Cirq-to-Tensor-Networks.ipynb
  cirq-core/cirq/contrib/quimb/Contract-a-Grid-Circuit.ipynb
  cirq-google/README.md
  cirq-ionq/README.md
  cirq-pasqal/README.md
  cirq-rigetti/README.md
  cirq-web/README.md
  dev_tools/docs/build_api_docs.py
  dev_tools/notebooks/isolated_notebook_test.py
  docs/build/classical_control.ipynb
  docs/build/interop.ipynb
  docs/dev/notebooks.md
  docs/gatezoo.ipynb
  docs/noise/qcvv/parallel_xeb.ipynb
  docs/noise/qcvv/xeb_calibration_example.ipynb
  docs/simulate/qvm_stabilizer_example.ipynb
  docs/tutorials/google/colab.ipynb
  docs/tutorials/google/start.ipynb
  docs/tutorials/google/visualizing_calibration_metrics.ipynb
  release.md
Owners: @quantumlib/cirq-maintainers, @vtomole, @ma5x, @pschindler, @alfrisch, @wcourtney, @verult, @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @splch, @HGSilveri, @erichulburd, @kalzoo, @dbanty, @aasfaw, @rmlarose, @mrwojtek

Update clifford_gate.py (#7223)
  cirq-core/cirq/ops/clifford_gate.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Fix gitignore to track maintained sources in docs/build (#7216)
  .gitignore
Owners: @quantumlib/cirq-maintainers, @vtomole

Better stimcirq serialization (#7192)
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
  cirq-google/cirq_google/serialization/stimcirq_deserializer.py
  cirq-google/cirq_google/serialization/stimcirq_deserializer_test.py
  cirq-google/cirq_google/serialization/stimcirq_serializer.py
  cirq-google/cirq_google/serialization/stimcirq_serializer_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Use a different action for size labeler GHA (#7219)
  .github/pr-size-labels.yaml
  .github/workflows/pr-labeler.yaml
Owners: @quantumlib/cirq-maintainers, @vtomole

.github/CODEOWNERS:

####################
# cirq maintainers
####################

* @quantumlib/cirq-maintainers @vtomole

####################
# vendor maintainers
####################

cirq-google/**/*.* @wcourtney @quantumlib/cirq-maintainers @vtomole @verult

cirq-ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @Cynocracy @quantumlib/cirq-maintainers @vtomole @splch

cirq-aqt/**/*.* @ma5x @pschindler @alfrisch @quantumlib/cirq-maintainers @vtomole

cirq-pasqal/**/*.* @HGSilveri @quantumlib/cirq-maintainers @vtomole

cirq-rigetti/**/*.* @erichulburd @kalzoo @dbanty @quantumlib/cirq-maintainers @vtomole

################################################
# qcvv maintainers @mrwojtek + cirq maintainers
################################################

cirq-core/cirq/experiments/**/*.* @mrwojtek @quantumlib/cirq-maintainers @vtomole

#####################################################
# docs maintainers: maintainers + @aasfaw + @rmlarose
#####################################################

docs/**/*.* @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

###################################################################
# vendor docs maintainers: vendor maintainers + @aasfaw + @rmlarose
###################################################################

docs/google/**/*.* @wcourtney @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @verult
docs/tutorials/google/**/*.* @wcourtney @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @verult

docs/hardware/ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @aasfaw @rmlarose @Cynocracy @quantumlib/cirq-maintainers @vtomole @splch

docs/hardware/aqt/**/*.* @ma5x @pschindler @alfrisch @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

docs/hardware/pasqal/**/*.* @HGSilveri @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

docs/hardware/rigetti/**/*.* @erichulburd @kalzoo @dbanty @aasfaw @quantumlib/cirq-maintainers @vtomole

docs/hardware/azure-quantum/**/*.* @guenp @anpaz @aasfaw @quantumlib/cirq-maintainers @vtomole

#############################################################
# qcvv docs maintainers: docs maintainers + mrwojtek + aasfaw
#############################################################
docs/noise/qcvv/**/*.* @mrwojtek @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole
