Repository quantumlib/Cirq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult, @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @splch, @ma5x, @pschindler, @alfrisch, @HGSilveri, @erichulburd, @kalzoo, @dbanty, @mrwojtek, @aasfaw, @rmlarose, @guenp, @anpaz

.github/CODEOWNERS:

####################
# cirq maintainers
####################

* @quantumlib/cirq-maintainers @vtomole

####################
# vendor maintainers
####################

cirq-google/**/*.* @wcourtney @quantumlib/cirq-maintainers @vtomole @verult

cirq-ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @Cynocracy @quantumlib/cirq-maintainers @vtomole @splch

cirq-aqt/**/*.* @ma5x @pschindler @alfrisch @quantumlib/cirq-maintainers @vtomole

cirq-pasqal/**/*.* @HGSilveri @quantumlib/cirq-maintainers @vtomole

cirq-rigetti/**/*.* @erichulburd @kalzoo @dbanty @quantumlib/cirq-maintainers @vtomole

################################################
# qcvv maintainers @mrwojtek + cirq maintainers
################################################

cirq-core/cirq/experiments/**/*.* @mrwojtek @quantumlib/cirq-maintainers @vtomole

#####################################################
# docs maintainers: maintainers + @aasfaw + @rmlarose
#####################################################

docs/**/*.* @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

###################################################################
# vendor docs maintainers: vendor maintainers + @aasfaw + @rmlarose
###################################################################

docs/google/**/*.* @wcourtney @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @verult
docs/tutorials/google/**/*.* @wcourtney @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @verult

docs/hardware/ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @aasfaw @rmlarose @Cynocracy @quantumlib/cirq-maintainers @vtomole @splch

docs/hardware/aqt/**/*.* @ma5x @pschindler @alfrisch @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

docs/hardware/pasqal/**/*.* @HGSilveri @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

docs/hardware/rigetti/**/*.* @erichulburd @kalzoo @dbanty @aasfaw @quantumlib/cirq-maintainers @vtomole

docs/hardware/azure-quantum/**/*.* @guenp @anpaz @aasfaw @quantumlib/cirq-maintainers @vtomole

#############################################################
# qcvv docs maintainers: docs maintainers + mrwojtek + aasfaw
#############################################################
docs/noise/qcvv/**/*.* @mrwojtek @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

Fix check/nbformat installation and execution (#7004)
  check/nbformat
  dev_tools/requirements/deps/tensorflow-docs.txt
  docs/build/interop.ipynb
  docs/google/internal_gates.ipynb
  docs/hardware/aqt/getting_started.ipynb
  docs/noise/qcvv/parallel_xeb.ipynb
  docs/tutorials/google/start.ipynb
Owners: @quantumlib/cirq-maintainers, @vtomole, @aasfaw, @rmlarose, @wcourtney, @verult, @ma5x, @pschindler, @alfrisch, @mrwojtek

Overhaul top-level README and convert to Markdown (#6988)
  README.md
  README.rst
  dev_tools/snippets_test.py
  docs/dev/modules.md
  setup.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @aasfaw, @rmlarose

Allow symbolic scalars in linear combinations (#7030)
  cirq-core/cirq/linalg/operator_spaces.py
  cirq-core/cirq/linalg/operator_spaces_test.py
  cirq-core/cirq/ops/common_gates.py
  cirq-core/cirq/ops/linear_combinations.py
  cirq-core/cirq/ops/linear_combinations_test.py
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/ops/raw_types_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Enable test of the Contract-a-Grid-Circuit.ipynb notebook (#7015)
  cirq-core/cirq/contrib/quimb/Contract-a-Grid-Circuit.tst
  dev_tools/notebooks/notebook_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Move moment index into circuit message (#7008)
  cirq-google/cirq_google/api/v2/program.proto
  cirq-google/cirq_google/api/v2/program_pb2.py
  cirq-google/cirq_google/api/v2/program_pb2.pyi
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Fix QASM lexer when identifiers start with keywords (#7018)
  cirq-core/cirq/contrib/acquaintance/gates.py
  cirq-core/cirq/contrib/qasm_import/_lexer.py
  cirq-core/cirq/contrib/qasm_import/_lexer_test.py
  cirq-core/cirq/contrib/qasm_import/_parser.py
  cirq-core/cirq/contrib/qasm_import/_parser_test.py
  cirq-web/cirq_web/circuits/circuit.py
  cirq-web/cirq_web/circuits/circuit_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Specify `long_description_content_type` so that PyPI accepts wheels (#7035)
  cirq-aqt/setup.py
  cirq-core/setup.py
  cirq-google/setup.py
  cirq-ionq/setup.py
  cirq-pasqal/setup.py
  cirq-rigetti/setup.py
  cirq-web/setup.py
Owners: @ma5x, @pschindler, @alfrisch, @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult, @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @splch, @HGSilveri, @erichulburd, @kalzoo, @dbanty

Allow symbolic scalars in LinearDict (#7003)
  cirq-core/cirq/ops/common_gates.py
  cirq-core/cirq/ops/common_gates_test.py
  cirq-core/cirq/value/linear_dict.py
  cirq-core/cirq/value/linear_dict_test.py
  cirq-core/cirq/value/type_alias.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Enhance .zenodo.json metadata (#7017)
  .zenodo.json
Owners: @quantumlib/cirq-maintainers, @vtomole

Avoid broken wheel for qcs-sdk-python on Windows (#7026)
  cirq-rigetti/requirements.txt
Owners: @erichulburd, @kalzoo, @dbanty, @quantumlib/cirq-maintainers, @vtomole

Change npm schedule to monthly (#7033)
  .github/dependabot.yml
Owners: @quantumlib/cirq-maintainers, @vtomole

Clean up redundant complex type unions (#7041)
  cirq-core/cirq/interop/quirk/cells/parse.py
  cirq-core/cirq/linalg/combinators.py
  cirq-core/cirq/linalg/decompositions.py
  cirq-core/cirq/linalg/tolerance.py
  cirq-core/cirq/ops/dense_pauli_string.py
  cirq-core/cirq/ops/eigen_gate.py
  cirq-core/cirq/ops/identity.py
  cirq-core/cirq/ops/linear_combinations.py
  cirq-core/cirq/ops/pauli_string.py
  cirq-core/cirq/ops/pauli_string_phasor.py
  cirq-core/cirq/ops/pauli_string_test.py
  cirq-core/cirq/ops/phased_x_gate.py
  cirq-core/cirq/ops/phased_x_z_gate.py
  cirq-core/cirq/ops/projector.py
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/qis/states.py
  cirq-core/cirq/sim/clifford/stabilizer_state_ch_form.py
  cirq-core/cirq/study/flatten_expressions.py
  cirq-google/cirq_google/serialization/op_serializer.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult

Move coverage configuration to pyproject.toml (#7038)
  check/pytest-and-incremental-coverage
  check/pytest-changed-files-and-incremental-coverage
  dev_tools/bash_scripts_test.py
  dev_tools/conf/.coveragerc
  pyproject.toml
Owners: @quantumlib/cirq-maintainers, @vtomole

Compile to ZZ gate instead of MS for Forte backends when transpiling to native IonQ gates (#6973)
  cirq-ionq/cirq_ionq/ionq_native_target_gateset.py
  cirq-ionq/cirq_ionq/ionq_native_target_gateset_test.py
Owners: @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @quantumlib/cirq-maintainers, @vtomole, @splch

Fix the format of CliffordGate repr. (#7046)
  cirq-core/cirq/ops/clifford_gate.py
  cirq-core/cirq/ops/clifford_gate_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Add InternalTag to support non-public tags (#7040)
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/json_resolver_cache.py
  cirq-google/cirq_google/json_test_data/InternalTag.json
  cirq-google/cirq_google/json_test_data/InternalTag.repr
  cirq-google/cirq_google/ops/__init__.py
  cirq-google/cirq_google/ops/internal_tag.py
  cirq-google/cirq_google/ops/internal_tag_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Add NDArrays to cirq-google protos (#7032)
  cirq-google/cirq_google/api/v2/ndarrays.proto
  cirq-google/cirq_google/api/v2/ndarrays.py
  cirq-google/cirq_google/api/v2/ndarrays_pb2.py
  cirq-google/cirq_google/api/v2/ndarrays_pb2.pyi
  cirq-google/cirq_google/api/v2/ndarrays_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Improve the readability of CliffordTableau _full_str_ function (#7047)
  cirq-core/cirq/qis/clifford_tableau.py
  cirq-core/cirq/qis/clifford_tableau_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Partial Support for tags in cirq_google protos (#7044)
  cirq-google/cirq_google/api/v2/program.proto
  cirq-google/cirq_google/api/v2/program_pb2.py
  cirq-google/cirq_google/api/v2/program_pb2.pyi
  cirq-google/cirq_google/ops/dynamical_decoupling_tag.py
  cirq-google/cirq_google/ops/dynamical_decoupling_tag_test.py
  cirq-google/cirq_google/ops/fsim_via_model_tag.py
  cirq-google/cirq_google/ops/fsim_via_model_tag_test.py
  cirq-google/cirq_google/ops/internal_tag.py
  cirq-google/cirq_google/ops/internal_tag_test.py
  cirq-google/cirq_google/ops/physical_z_tag.py
  cirq-google/cirq_google/ops/physical_z_tag_test.py
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Remove [float,int] unions from type declarations (#7042)
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/moment.py
  cirq-core/cirq/circuits/text_diagram_drawer.py
  cirq-core/cirq/linalg/transformations.py
  cirq-core/cirq/ops/clifford_gate.py
  cirq-core/cirq/ops/dense_pauli_string.py
  cirq-core/cirq/ops/gate_operation.py
  cirq-core/cirq/ops/pauli_string_phasor.py
  cirq-core/cirq/ops/pauli_sum_exponential.py
  cirq-core/cirq/ops/phased_x_z_gate.py
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/ops/wait_gate.py
  cirq-core/cirq/protocols/approximate_equality_protocol.py
  cirq-core/cirq/protocols/commutes_protocol.py
  cirq-core/cirq/protocols/equal_up_to_global_phase_protocol.py
  cirq-core/cirq/testing/consistent_protocols.py
  cirq-core/cirq/value/periodic_value.py
  cirq-core/cirq/value/timestamp.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Avoid broken wheels for qcs-sdk-python (#7056)
  cirq-rigetti/requirements.txt
Owners: @erichulburd, @kalzoo, @dbanty, @quantumlib/cirq-maintainers, @vtomole

Support parameters in InternalTag (#7060)
  cirq-google/cirq_google/ops/internal_tag.py
  cirq-google/cirq_google/ops/internal_tag_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Unpin the qcs-sdk-python dependency (#7068)
  cirq-rigetti/requirements.txt
Owners: @erichulburd, @kalzoo, @dbanty, @quantumlib/cirq-maintainers, @vtomole

Fix "ambiguous redirect" error in check/shellcheck (#7078)
  check/shellcheck
Owners: @quantumlib/cirq-maintainers, @vtomole

Increase min version of Python Requests for multiple security advisories (#7075)
  cirq-aqt/requirements.txt
  cirq-ionq/requirements.txt
  cirq-pasqal/requirements.txt
  dev_tools/pr_monitor/requirements.txt
  dev_tools/requirements/deps/mypy.txt
  dev_tools/requirements/isolated-base.env.txt
Owners: @ma5x, @pschindler, @alfrisch, @quantumlib/cirq-maintainers, @vtomole, @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @splch, @HGSilveri

CI - update all GitHub action runners to ubuntu-22.04 (#7064)
  .github/workflows/ci-daily.yml
  .github/workflows/ci-weekly.yml
  .github/workflows/ci.yml
  .github/workflows/pytest-debug.yaml
  .github/workflows/release-main.yml
  .github/workflows/stale.yml
  dev_tools/packaging/verify-published-package.sh
Owners: @quantumlib/cirq-maintainers, @vtomole

Increase min version of Python tqdm for security (#7076)
  cirq-core/requirements.txt
Owners: @quantumlib/cirq-maintainers, @vtomole

Add workflow for OpenSSF Scorecard (#7074)
  .github/workflows/ossf-scorecard.yaml
Owners: @quantumlib/cirq-maintainers, @vtomole

Make mypy pass no matter if qsimcirq is installed or not (#7063)
  cirq-google/cirq_google/engine/virtual_engine_factory.py
  dev_tools/conf/mypy.ini
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Fix format issues flagged by black (#7084)
  cirq-aqt/cirq_aqt/aqt_device_metadata.py
  cirq-aqt/cirq_aqt/aqt_target_gateset.py
  cirq-core/cirq/contrib/acquaintance/strategies/quartic_paired.py
  cirq-core/cirq/contrib/json.py
  cirq-core/cirq/interop/quirk/cells/parse_test.py
  cirq-core/cirq/ops/__init__.py
  cirq-core/cirq/ops/op_tree.py
  cirq-core/cirq/sim/clifford/clifford_simulator.py
  cirq-core/cirq/sim/clifford/clifford_tableau_simulation_state.py
  cirq-core/cirq/study/sweepable.py
  cirq-core/cirq/transformers/analytical_decompositions/cphase_to_fsim.py
  cirq-core/cirq/transformers/dynamical_decoupling.py
  cirq-core/cirq/transformers/optimize_for_target_gateset_test.py
  cirq-google/cirq_google/api/v2/run_context.py
  cirq-google/cirq_google/engine/__init__.py
  cirq-google/cirq_google/engine/engine_processor.py
  cirq-google/cirq_google/engine/simulated_local_processor.py
  cirq-google/cirq_google/workflow/__init__.py
  cirq-rigetti/cirq_rigetti/circuit_transformers_test.py
  cirq-rigetti/cirq_rigetti/sampler_parametric_circuit_test.py
  cirq-rigetti/cirq_rigetti/sampler_readout_reassigned_qubits_test.py
  cirq-rigetti/cirq_rigetti/sampler_readout_separate_memory_regions_test.py
  cirq-rigetti/cirq_rigetti/service_parametric_circuit_test.py
  examples/bb84.py
  examples/shors_code.py
Owners: @ma5x, @pschindler, @alfrisch, @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult, @erichulburd, @kalzoo, @dbanty

Exclude proto-generated Python files from black formatter (#7094)
  pyproject.toml
Owners: @quantumlib/cirq-maintainers, @vtomole

Remove rST-specific code in snippets_test.py (#7085)
  dev_tools/snippets_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Allow ability to plug in custom (de)serializers for cirq_google protos (#7059)
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
  cirq-google/cirq_google/serialization/op_deserializer.py
  cirq-google/cirq_google/serialization/op_serializer.py
  cirq-google/cirq_google/serialization/op_serializer_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Set permissions for job (#7062)
  .github/workflows/stale.yml
Owners: @quantumlib/cirq-maintainers, @vtomole

Fix #7055: pin versions of actions in GHA workflows (#7077)
  .github/workflows/ci-daily.yml
  .github/workflows/ci-weekly.yml
  .github/workflows/ci.yml
  .github/workflows/pytest-debug.yaml
  .github/workflows/release-main.yml
  .github/workflows/stale.yml
Owners: @quantumlib/cirq-maintainers, @vtomole

Improve GitHub issue templates (#7087)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/design_discussion.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/project_health.md
  .github/ISSUE_TEMPLATE/task.md
Owners: @quantumlib/cirq-maintainers, @vtomole

Update & improve workflow for stale issues & PRs (#7045)
  .github/workflows/stale.yml
Owners: @quantumlib/cirq-maintainers, @vtomole

Use fixed PauliString.after(). (#7103)
  cirq-core/cirq/transformers/dynamical_decoupling.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Correct the sweep order example in the docstring (#7104)
  cirq-core/cirq/study/sweeps.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Fix #6970: mention release cadence (#7099)
  release.md
Owners: @quantumlib/cirq-maintainers, @vtomole
