Repository quantumlib/Cirq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult, @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @splch, @ma5x, @pschindler, @alfrisch, @HGSilveri, @erichulburd, @kalzoo, @dbanty, @mrwojtek, @aasfaw, @rmlarose, @guenp, @anpaz

.github/CODEOWNERS:

####################
# cirq maintainers
####################

* @quantumlib/cirq-maintainers @vtomole

####################
# vendor maintainers
####################

cirq-google/**/*.* @wcourtney @quantumlib/cirq-maintainers @vtomole @verult

cirq-ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @Cynocracy @quantumlib/cirq-maintainers @vtomole @splch

cirq-aqt/**/*.* @ma5x @pschindler @alfrisch @quantumlib/cirq-maintainers @vtomole

cirq-pasqal/**/*.* @HGSilveri @quantumlib/cirq-maintainers @vtomole

cirq-rigetti/**/*.* @erichulburd @kalzoo @dbanty @quantumlib/cirq-maintainers @vtomole

################################################
# qcvv maintainers @mrwojtek + cirq maintainers
################################################

cirq-core/cirq/experiments/**/*.* @mrwojtek @quantumlib/cirq-maintainers @vtomole

#####################################################
# docs maintainers: maintainers + @aasfaw + @rmlarose
#####################################################

docs/**/*.* @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

###################################################################
# vendor docs maintainers: vendor maintainers + @aasfaw + @rmlarose
###################################################################

docs/google/**/*.* @wcourtney @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @verult
docs/tutorials/google/**/*.* @wcourtney @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @verult

docs/hardware/ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @aasfaw @rmlarose @Cynocracy @quantumlib/cirq-maintainers @vtomole @splch

docs/hardware/aqt/**/*.* @ma5x @pschindler @alfrisch @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

docs/hardware/pasqal/**/*.* @HGSilveri @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

docs/hardware/rigetti/**/*.* @erichulburd @kalzoo @dbanty @aasfaw @quantumlib/cirq-maintainers @vtomole

docs/hardware/azure-quantum/**/*.* @guenp @anpaz @aasfaw @quantumlib/cirq-maintainers @vtomole

#############################################################
# qcvv docs maintainers: docs maintainers + mrwojtek + aasfaw
#############################################################
docs/noise/qcvv/**/*.* @mrwojtek @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

Fix: Allow subtraction of IdentityGate in PauliSum.__sub__ (#7276)
  cirq-core/cirq/ops/linear_combinations.py
  cirq-core/cirq/ops/linear_combinations_test.py
  cirq-core/cirq/ops/pauli_string_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Add QVM factory function load_device_noise_properties (#7369)
  cirq-google/cirq_google/engine/__init__.py
  cirq-google/cirq_google/engine/virtual_engine_factory.py
  cirq-google/cirq_google/engine/virtual_engine_factory_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Added QASM Import Support for rzz, rxx, ryy, crx, cry, and iswap Gates (#7290)
  cirq-core/cirq/contrib/qasm_import/_parser.py
  cirq-core/cirq/contrib/qasm_import/_parser_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Ignore typing PR for git blame. (#7363)
  .git-blame-ignore-revs
Owners: @quantumlib/cirq-maintainers, @vtomole

Flatten controlled-CZ and controlled-CX more consistently (#7365)
  cirq-core/cirq/ops/common_gates.py
  cirq-core/cirq/ops/common_gates_test.py
  cirq-core/cirq/ops/controlled_gate.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Unpin upper bound on setuptools requirement (#7359)
  dev_tools/requirements/deps/packaging.txt
Owners: @quantumlib/cirq-maintainers, @vtomole

Attempt canonicalization first when decomposing controlled gates (#7269)
  cirq-core/cirq/ops/controlled_gate.py
  cirq-core/cirq/ops/controlled_gate_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Add new "willow_pink" processor to the QVM factory (#7366)
  cirq-google/cirq_google/devices/calibrations/willow_pink_d7v1-2024_08_16_calibration.json
  cirq-google/cirq_google/devices/specifications/willow_pink_d7v1-2024_08_16_device_spec_for_grid_device.proto.txt
  cirq-google/cirq_google/engine/virtual_engine_factory.py
  cirq-google/cirq_google/engine/virtual_engine_factory_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Add `list_virtual_processors` function to the QVM factory (#7375)
  cirq-google/cirq_google/engine/__init__.py
  cirq-google/cirq_google/engine/virtual_engine_factory.py
  cirq-google/cirq_google/engine/virtual_engine_factory_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Support serializing sweeps with numpy values (#7398)
  cirq-google/cirq_google/api/v2/sweeps.py
  cirq-google/cirq_google/api/v2/sweeps_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

pylint - sync with rules used in internal codes (#7387)
  cirq-core/cirq/ops/control_values_test.py
  cirq-core/cirq/ops/pauli_gates_test.py
  cirq-core/cirq/ops/raw_types_test.py
  cirq-core/cirq/ops/state_preparation_channel_test.py
  cirq-core/cirq/protocols/qasm.py
  cirq-core/cirq/sim/clifford/clifford_simulator_test.py
  cirq-core/cirq/sim/simulator_test.py
  cirq-core/cirq/value/abc_alt.py
  cirq-core/cirq/value/linear_dict_test.py
  cirq-core/cirq/value/measurement_key_test.py
  cirq-core/cirq/value/timestamp_test.py
  dev_tools/conf/.pylintrc
Owners: @quantumlib/cirq-maintainers, @vtomole

Bump networkx to minimum version 3.4 (#7378)
  cirq-core/requirements.txt
Owners: @quantumlib/cirq-maintainers, @vtomole

Update format-incremental script to format notebooks (#7342)
  check/format-incremental
  dev_tools/requirements/deps/format.txt
Owners: @quantumlib/cirq-maintainers, @vtomole

Ignore notebook formatting in git blame (#7389)
  .git-blame-ignore-revs
Owners: @quantumlib/cirq-maintainers, @vtomole

CI - add ruff check of the code (#7372)
  .github/workflows/ci.yml
  dev_tools/requirements/deps/dev-tools.txt
  dev_tools/requirements/deps/ruff.txt
  dev_tools/requirements/lint.env.txt
  pyproject.toml
Owners: @quantumlib/cirq-maintainers, @vtomole

Take care of leftover conversions to PEP 585 style (#7382)
  cirq-core/cirq/protocols/circuit_diagram_info_protocol.py
  cirq-core/cirq/transformers/transformer_api.py
  docs/dev/plotting.md
  docs/dev/style.md
  docs/experiments/shor.ipynb
  docs/named_topologies.ipynb
  docs/noise/qcvv/xeb_calibration_example.ipynb
  docs/tutorials/google/echoes.ipynb
  docs/tutorials/google/spin_echoes.ipynb
Owners: @quantumlib/cirq-maintainers, @vtomole, @aasfaw, @rmlarose, @mrwojtek, @wcourtney, @verult

Remove dead code for scipy<=1.5 (#7410)
  cirq-core/cirq/transformers/analytical_decompositions/three_qubit_decomposition.py
  cirq-core/cirq/transformers/analytical_decompositions/three_qubit_decomposition_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

QVM - deprecate default gate_times_ns in noise_properties_from_calibration (#7399)
  cirq-google/cirq_google/engine/calibration_to_noise_properties.py
  cirq-google/cirq_google/engine/calibration_to_noise_properties_test.py
  cirq-google/cirq_google/engine/virtual_engine_factory.py
  cirq-google/cirq_google/engine/virtual_engine_factory_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Use list for GoogleNoiseProperties.readout_errors values (#7392)
  cirq-core/cirq/devices/superconducting_qubits_noise_properties.py
  cirq-google/cirq_google/devices/google_noise_properties.py
  cirq-google/cirq_google/engine/calibration_to_noise_properties_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult

Fix test case names. (#7406)
  cirq-core/cirq/transformers/merge_single_qubit_gates_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Update dd at "pulled-throughs meet non-cliffords" (#7409)
  cirq-core/cirq/transformers/dynamical_decoupling.py
  cirq-core/cirq/transformers/dynamical_decoupling_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Prefer load_device_noise_properties in example notebooks (#7408)
  dev_tools/notebooks/isolated_notebook_test.py
  docs/hardware/qubit_picking.ipynb
  docs/simulate/noisy_simulation.ipynb
  docs/simulate/quantum_virtual_machine.ipynb
  docs/simulate/qvm_basic_example.ipynb
Owners: @quantumlib/cirq-maintainers, @vtomole, @aasfaw, @rmlarose

Fixes #7072: Support more OpenQASM 2.0 gates from qelib1.inc (#7377)
  cirq-core/cirq/contrib/qasm_import/_parser.py
  cirq-core/cirq/contrib/qasm_import/_parser_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

ruff - enable and fix rules F401, F601 (#7413)
  cirq-core/cirq/__init__.py
  cirq-core/cirq/_compat_test.py
  cirq-core/cirq/contrib/__init__.py
  cirq-core/cirq/contrib/acquaintance/__init__.py
  cirq-core/cirq/contrib/quimb/Cirq-to-Tensor-Networks.ipynb
  cirq-core/cirq/contrib/quimb/Contract-a-Grid-Circuit.ipynb
  cirq-core/cirq/experiments/benchmarking/__init__.py
  cirq-core/cirq/interop/quirk/cells/__init__.py
  cirq-core/cirq/testing/_compat_test_data/module_a/__init__.py
  cirq-core/cirq/testing/_compat_test_data/module_a/module_b/__init__.py
  cirq-core/cirq/testing/_compat_test_data/module_a/sub/__init__.py
  cirq-core/cirq/testing/consistent_qasm_test.py
  cirq-core/cirq/transformers/gauge_compiling/__init__.py
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/api/__init__.py
  cirq-google/cirq_google/api/v1/__init__.py
  cirq-google/cirq_google/api/v1/proto_test.py
  cirq-google/cirq_google/api/v2/__init__.py
  cirq-google/cirq_google/api/v2/proto_test.py
  cirq-google/cirq_google/engine/abstract_processor.py
  cirq-google/cirq_google/engine/simulated_local_program.py
  cirq-ionq/cirq_ionq/service_test.py
  cirq-rigetti/cirq_rigetti/__init__.py
  cirq-web/circuit_example.ipynb
  examples/advanced/quantum_volume.ipynb
  examples/advanced/quantum_volume_routing.ipynb
  pyproject.toml
Owners: @quantumlib/cirq-maintainers, @vtomole, @mrwojtek, @wcourtney, @verult, @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @splch, @erichulburd, @kalzoo, @dbanty

Cirq x exponent symbol (#7400)
  cirq-core/cirq/ops/eigen_gate.py
  cirq-core/cirq/ops/eigen_gate_test.py
  cirq-core/cirq/ops/pauli_gates_test.py
  cirq-core/cirq/sim/simulator_base_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Bump mypy to 1.16.0 (#7407)
  cirq-core/cirq/_compat.py
  cirq-core/cirq/contrib/quantum_volume/quantum_volume.py
  cirq-core/cirq/experiments/random_quantum_circuit_generation.py
  cirq-core/cirq/experiments/xeb_sampling.py
  cirq-core/cirq/ops/classically_controlled_operation.py
  cirq-core/cirq/sim/density_matrix_simulator_test.py
  cirq-core/cirq/sim/simulator_base.py
  cirq-core/cirq/sim/sparse_simulator_test.py
  cirq-google/cirq_google/engine/asyncio_executor.py
  cirq-rigetti/cirq_rigetti/circuit_transformers.py
  dev_tools/requirements/deps/mypy.txt
Owners: @quantumlib/cirq-maintainers, @vtomole, @mrwojtek, @wcourtney, @verult, @erichulburd, @kalzoo, @dbanty

Fix typo in notebook example (#7426)
  docs/google/internal_gates.ipynb
Owners: @wcourtney, @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole, @verult

Modify apply_unitary and unitary to take in numpy unitary matrix. (#7419)
  cirq-core/cirq/protocols/apply_mixture_protocol.py
  cirq-core/cirq/protocols/apply_unitary_protocol.py
  cirq-core/cirq/protocols/apply_unitary_protocol_test.py
  cirq-core/cirq/protocols/has_unitary_protocol.py
  cirq-core/cirq/protocols/has_unitary_protocol_test.py
  cirq-core/cirq/protocols/kraus_protocol.py
  cirq-core/cirq/protocols/mixture_protocol.py
  cirq-core/cirq/protocols/mixture_protocol_test.py
  cirq-core/cirq/protocols/pauli_expansion_protocol_test.py
  cirq-core/cirq/protocols/unitary_protocol.py
  cirq-core/cirq/protocols/unitary_protocol_test.py
  cirq-google/cirq_google/transformers/analytical_decompositions/two_qubit_to_sycamore_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult

Change merge_single_qubit_moments_to_phxz to support global phase. (#7405)
  cirq-core/cirq/transformers/merge_single_qubit_gates.py
  cirq-core/cirq/transformers/merge_single_qubit_gates_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Extend include_tags to support by-type selection (#7425)
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/moment.py
  cirq-core/cirq/contrib/quantum_volume/quantum_volume.py
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/ops/raw_types_test.py
  cirq-core/cirq/protocols/circuit_diagram_info_protocol.py
  cirq-core/cirq/protocols/circuit_diagram_info_protocol_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Handle non-2D arrays in cirq.unitary (#7427)
  cirq-core/cirq/linalg/predicates.py
  cirq-core/cirq/linalg/predicates_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Cirq Exponent exception for str only (#7422)
  cirq-core/cirq/ops/eigen_gate.py
Owners: @quantumlib/cirq-maintainers, @vtomole

CI - bump GHA windows runner to windows-2022 (#7423)
  .github/workflows/ci-daily.yml
  .github/workflows/ci.yml
Owners: @quantumlib/cirq-maintainers, @vtomole

Add AnalogDetuneQubit cirq google version
  cirq-google/cirq_google/ops/analog_detune_gates.py
  cirq-google/cirq_google/ops/analog_detune_gates_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

fix lint
  cirq-google/cirq_google/ops/analog_detune_gates.py
  cirq-google/cirq_google/ops/analog_detune_gates_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

fix lint
  cirq-google/cirq_google/ops/analog_detune_gates.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

more fix
  cirq-google/cirq_google/ops/analog_detune_gates_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

type check
  cirq-google/cirq_google/ops/analog_detune_gates.py
  cirq-google/cirq_google/ops/analog_detune_gates_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Test coverage
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/json_resolver_cache.py
  cirq-google/cirq_google/ops/__init__.py
  cirq-google/cirq_google/ops/analog_detune_gates.py
  cirq-google/cirq_google/ops/analog_detune_gates_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

fix json
  cirq-google/cirq_google/json_test_data/AnalogDetuneQubit.json
  cirq-google/cirq_google/json_test_data/AnalogDetuneQubit.repr
  cirq-google/cirq_google/ops/analog_detune_gates_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult
