Repository quantumlib/Cirq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult, @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @splch, @ma5x, @pschindler, @alfrisch, @HGSilveri, @erichulburd, @kalzoo, @dbanty, @mrwojtek, @aasfaw, @rmlarose, @guenp, @anpaz

.github/CODEOWNERS:

####################
# cirq maintainers
####################

* @quantumlib/cirq-maintainers @vtomole

####################
# vendor maintainers
####################

cirq-google/**/*.* @wcourtney @quantumlib/cirq-maintainers @vtomole @verult

cirq-ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @Cynocracy @quantumlib/cirq-maintainers @vtomole @splch

cirq-aqt/**/*.* @ma5x @pschindler @alfrisch @quantumlib/cirq-maintainers @vtomole

cirq-pasqal/**/*.* @HGSilveri @quantumlib/cirq-maintainers @vtomole

cirq-rigetti/**/*.* @erichulburd @kalzoo @dbanty @quantumlib/cirq-maintainers @vtomole

################################################
# qcvv maintainers @mrwojtek + cirq maintainers
################################################

cirq-core/cirq/experiments/**/*.* @mrwojtek @quantumlib/cirq-maintainers @vtomole

#####################################################
# docs maintainers: maintainers + @aasfaw + @rmlarose
#####################################################

docs/**/*.* @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

###################################################################
# vendor docs maintainers: vendor maintainers + @aasfaw + @rmlarose
###################################################################

docs/google/**/*.* @wcourtney @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @verult
docs/tutorials/google/**/*.* @wcourtney @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @verult

docs/hardware/ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @aasfaw @rmlarose @Cynocracy @quantumlib/cirq-maintainers @vtomole @splch

docs/hardware/aqt/**/*.* @ma5x @pschindler @alfrisch @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

docs/hardware/pasqal/**/*.* @HGSilveri @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

docs/hardware/rigetti/**/*.* @erichulburd @kalzoo @dbanty @aasfaw @quantumlib/cirq-maintainers @vtomole

docs/hardware/azure-quantum/**/*.* @guenp @anpaz @aasfaw @quantumlib/cirq-maintainers @vtomole

#############################################################
# qcvv docs maintainers: docs maintainers + mrwojtek + aasfaw
#############################################################
docs/noise/qcvv/**/*.* @mrwojtek @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

Fix decompose for controlled CZ gates with phase shift (#7071)
  cirq-core/cirq/ops/controlled_gate.py
  cirq-core/cirq/ops/controlled_gate_test.py
  cirq-core/cirq/ops/controlled_operation.py
  cirq-core/cirq/ops/global_phase_op.py
  cirq-core/cirq/ops/global_phase_op_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

[Bugfix] Re-allow non-integral line/grid qubits (#7110)
  cirq-core/cirq/devices/grid_qubit.py
  cirq-core/cirq/devices/grid_qubit_test.py
  cirq-core/cirq/devices/line_qubit.py
  cirq-core/cirq/devices/line_qubit_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Add badge for OpenSSF score (#7097)
  README.md
Owners: @quantumlib/cirq-maintainers, @vtomole

Add a .editorconfig file (#7081)
  .editorconfig
Owners: @quantumlib/cirq-maintainers, @vtomole

Remove arg_function_language (#7092)
  cirq-google/cirq_google/api/v2/program.proto
  cirq-google/cirq_google/api/v2/program_pb2.py
  cirq-google/cirq_google/ops/internal_gate_test.py
  cirq-google/cirq_google/ops/internal_tag.py
  cirq-google/cirq_google/serialization/arg_func_langs.py
  cirq-google/cirq_google/serialization/arg_func_langs_test.py
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
  cirq-google/cirq_google/serialization/op_deserializer.py
  cirq-google/cirq_google/serialization/op_serializer.py
  cirq-google/cirq_google/serialization/serializer.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Remove apt package pandoc and add shellcheck (#7096)
  dev_tools/conf/apt-list-dev-tools.txt
Owners: @quantumlib/cirq-maintainers, @vtomole

Set workflow permissions (#7100)
  .github/workflows/ci-daily.yml
  .github/workflows/ci-weekly.yml
  .github/workflows/ci.yml
  .github/workflows/pytest-debug.yaml
  .github/workflows/release-main.yml
Owners: @quantumlib/cirq-maintainers, @vtomole

Ensure SycamoreGate instances are preserved over serialization (#7093)
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Partial support of reset gate in cirq_google protos (#7095)
  cirq-google/cirq_google/api/v2/program.proto
  cirq-google/cirq_google/api/v2/program_pb2.py
  cirq-google/cirq_google/api/v2/program_pb2.pyi
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Fix conjugated_by of PauliString. (#7065)
  cirq-core/cirq/ops/clifford_gate.py
  cirq-core/cirq/ops/pauli_string.py
  cirq-core/cirq/ops/pauli_string_test.py
  cirq-core/cirq/ops/swap_gates.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Add warning about GenAI code generation (#7098)
  CONTRIBUTING.md
Owners: @quantumlib/cirq-maintainers, @vtomole

Combine cirq-web updates from dependabot (#7117)
  cirq-web/cirq_ts/dist/bloch_sphere.bundle.js
  cirq-web/cirq_ts/dist/circuit.bundle.js
  cirq-web/cirq_ts/package-lock.json
  cirq-web/cirq_ts/package.json
Owners: @quantumlib/cirq-maintainers, @vtomole

Also avoid broken wheels when testing notebooks (#7127)
  dev_tools/notebooks/isolated_notebook_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Add magic square game (#7109)
  examples/README.md
  examples/magic_square.py
  examples/magic_square_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Support for stimcirq gates and operations in cirq_google protos (#7101)
  cirq-core/cirq/ops/gate_operation_test.py
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
  dev_tools/conf/mypy.ini
  dev_tools/requirements/deps/dev-tools.txt
Owners: @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult

Ignore proto code formatting in git blame (#7136)
  .git-blame-ignore-revs
Owners: @quantumlib/cirq-maintainers, @vtomole

Fix typo in README (#7125)
  README.md
Owners: @quantumlib/cirq-maintainers, @vtomole

cirq-google - get CZ gate noise properties from engine calibration data (#7116)
  cirq-google/cirq_google/engine/calibration_to_noise_properties.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Avoid broken wheels for qcs-sdk-python (#7126)
  Dockerfile
  cirq-rigetti/requirements.txt
Owners: @quantumlib/cirq-maintainers, @vtomole, @erichulburd, @kalzoo, @dbanty

Add cphase_gauge (#7111)
  cirq-core/cirq/transformers/gauge_compiling/__init__.py
  cirq-core/cirq/transformers/gauge_compiling/cphase_gauge.py
  cirq-core/cirq/transformers/gauge_compiling/cphase_gauge_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Add workflow to welcome first-time contributors (#7121)
  .github/workflows/first-interaction.yaml
Owners: @quantumlib/cirq-maintainers, @vtomole

Remove sweep_must_pass. (#7124)
  cirq-core/cirq/transformers/gauge_compiling/cphase_gauge_test.py
  cirq-core/cirq/transformers/gauge_compiling/cz_gauge_test.py
  cirq-core/cirq/transformers/gauge_compiling/spin_inversion_gauge_test.py
  cirq-core/cirq/transformers/gauge_compiling/sqrt_cz_gauge_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Format proto files (#7133)
  cirq-google/cirq_google/api/v1/program.proto
  cirq-google/cirq_google/api/v2/batch.proto
  cirq-google/cirq_google/api/v2/calibration.proto
  cirq-google/cirq_google/api/v2/metrics.proto
  cirq-google/cirq_google/api/v2/ndarrays.proto
  cirq-google/cirq_google/api/v2/ndarrays_pb2.pyi
  cirq-google/cirq_google/api/v2/program.proto
  cirq-google/cirq_google/api/v2/program_pb2.pyi
  cirq-google/cirq_google/api/v2/result.proto
  cirq-google/cirq_google/api/v2/result_pb2.pyi
  cirq-google/cirq_google/api/v2/run_context.proto
  cirq-google/cirq_google/api/v2/run_context_pb2.pyi
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Tweak the first-interaction workflow (#7134)
  .github/workflows/first-interaction.yaml
Owners: @quantumlib/cirq-maintainers, @vtomole

Add missing import of qiskit.qasm2 in unit test (#7137)
  cirq-core/cirq/contrib/qasm_import/_parser_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Add additional permissions to the job definition (#7153)
  .github/workflows/first-interaction.yaml
Owners: @quantumlib/cirq-maintainers, @vtomole

Typo in docstring (#7139)
  cirq-core/cirq/linalg/transformations.py
  cirq-core/cirq/testing/random_circuit_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Fix nondeterminacy in Circuit.insert (simplified) (#7043)
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Fix deserialization of reset gates when dimensions missing. (#7135)
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Remove .zenodo.json file (#7148)
  .zenodo.json
Owners: @quantumlib/cirq-maintainers, @vtomole

Avoid Moment typechecks when (un)freezing circuits (#7150)
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/frozen_circuit.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Allow cirq-google installation with protobuf-5 (#7147)
  cirq-google/requirements.txt
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Fix moment commutation detection for group-commuting operations (#6659) (#7082)
  cirq-core/cirq/circuits/moment.py
  cirq-core/cirq/circuits/moment_test.py
  cirq-core/cirq/ops/raw_types.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Small fixes of linalg.decompositions (#7128)
  cirq-core/cirq/linalg/decompositions.py
  cirq-core/cirq/linalg/decompositions_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Ensure InsertStrategy.NAME is identical after pickle round-trip (#7138)
  cirq-core/cirq/circuits/insert_strategy.py
  cirq-core/cirq/circuits/insert_strategy_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Update pass_operations_over with fixed conjugated_by (#7123)
  cirq-core/cirq/ops/pauli_string.py
  cirq-core/cirq/ops/pauli_string_phasor_test.py
  cirq-core/cirq/ops/pauli_string_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Let all sub-packages indicate when testing is in progress (#7174)
  cirq-pasqal/cirq_pasqal/conftest.py
  cirq-rigetti/cirq_rigetti/conftest.py
  cirq-web/cirq_web/conftest.py
Owners: @HGSilveri, @quantumlib/cirq-maintainers, @vtomole, @erichulburd, @kalzoo, @dbanty

Add missing license files & do minor updates to dot files (#7161)
  .editorconfig
  .github/workflows/first-interaction.yaml
  .github/workflows/pytest-debug.yaml
  .github/workflows/stale.yml
  .markdownlintrc
  .yamllint.yaml
Owners: @quantumlib/cirq-maintainers, @vtomole

Add info to CITATION.cff (#7140)
  CITATION.cff
Owners: @quantumlib/cirq-maintainers, @vtomole

Add boolean support to cirq_google protos (#7177)
  cirq-google/cirq_google/api/v2/program.proto
  cirq-google/cirq_google/api/v2/program_pb2.py
  cirq-google/cirq_google/api/v2/program_pb2.pyi
  cirq-google/cirq_google/serialization/arg_func_langs.py
  cirq-google/cirq_google/serialization/arg_func_langs_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult
