Repository quantumlib/Cirq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult, @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @splch, @ma5x, @pschindler, @alfrisch, @HGSilveri, @erichulburd, @kalzoo, @dbanty, @mrwojtek, @aasfaw, @rmlarose, @guenp, @anpaz

Try using a PAT (#7225)
  .github/workflows/pr-labeler.yaml
Owners: @quantumlib/cirq-maintainers, @vtomole

Recommend use of unquoted annotations in coding style guide (#7222)
  docs/dev/style.md
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole

Clarify docstring of `is_parameterized` (#7215)
  cirq-core/cirq/protocols/resolve_parameters.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Fix EigenGate equality (#7057)
  cirq-core/cirq/ops/common_gates.py
  cirq-core/cirq/ops/common_gates_test.py
  cirq-core/cirq/ops/eigen_gate.py
  cirq-core/cirq/ops/eigen_gate_test.py
  cirq-core/cirq/ops/parity_gates_test.py
  cirq-core/cirq/ops/pauli_gates.py
  cirq-core/cirq/ops/pauli_interaction_gate.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Allow '_mixture_' to return gates instead of just raw unitary matrices (#7048)
  cirq-core/cirq/ops/common_channels.py
  cirq-core/cirq/protocols/apply_mixture_protocol.py
  cirq-core/cirq/protocols/apply_mixture_protocol_test.py
  cirq-core/cirq/protocols/kraus_protocol.py
  cirq-core/cirq/protocols/mixture_protocol.py
  cirq-core/cirq/protocols/mixture_protocol_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Flip back to default `use_repetition_ids=True` in CircuitOperation (#7237)
  cirq-core/cirq/circuits/circuit_operation.py
  cirq-core/cirq/circuits/circuit_operation_test.py
  cirq-core/cirq/ops/classically_controlled_operation_test.py
  cirq-core/cirq/protocols/json_test_data/CircuitOperation.json
  cirq-core/cirq/protocols/json_test_data/CircuitOperation.repr_inward
Owners: @quantumlib/cirq-maintainers, @vtomole

Compensate for global phase in MatrixGate decomposition (#7118)
  cirq-core/cirq/linalg/__init__.py
  cirq-core/cirq/linalg/transformations.py
  cirq-core/cirq/linalg/transformations_test.py
  cirq-core/cirq/ops/controlled_gate.py
  cirq-core/cirq/ops/controlled_gate_test.py
  cirq-core/cirq/ops/matrix_gates.py
  cirq-core/cirq/transformers/analytical_decompositions/three_qubit_decomposition.py
  cirq-ionq/cirq_ionq/ionq_gateset.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @splch

Fix issue #6934 (#7230)
  docs/start/install.md
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole

Fix docker installation for cirq_pre_release image (#7240)
  Dockerfile
Owners: @quantumlib/cirq-maintainers, @vtomole

Address pandas warning about deprecated DataFrameGroupBy.apply default (#7235)
  cirq-core/cirq/experiments/xeb_fitting.py
Owners: @mrwojtek, @quantumlib/cirq-maintainers, @vtomole

ci-daily - explicitly install cirq-rigetti for the tests (#7229)
  .github/workflows/ci-daily.yml
Owners: @quantumlib/cirq-maintainers, @vtomole

Ignore spurious PollerCompletionQueue errors in AsyncioExecutor (#6492)
  cirq-google/cirq_google/engine/asyncio_executor.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Test qcircuit pdf generation without extra `prepare_only` argument (#7227)
  cirq-core/cirq/contrib/qcircuit/qcircuit_pdf.py
  cirq-core/cirq/contrib/qcircuit/qcircuit_pdf_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Add tuples, ndarrays, and complex numbers to cirq_google proto (#7226)
  cirq-google/cirq_google/api/v2/program.proto
  cirq-google/cirq_google/api/v2/program_pb2.py
  cirq-google/cirq_google/api/v2/program_pb2.pyi
  cirq-google/cirq_google/serialization/arg_func_langs.py
  cirq-google/cirq_google/serialization/arg_func_langs_test.py
  cirq-google/cirq_google/serialization/circuit_serializer.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Remove previously deprecated fields in cirq_google proto (#7183)
  cirq-google/cirq_google/api/v2/program.proto
  cirq-google/cirq_google/api/v2/program_pb2.py
  cirq-google/cirq_google/api/v2/program_pb2.pyi
  cirq-google/cirq_google/engine/engine_program_test.py
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
  cirq-google/cirq_google/serialization/op_deserializer_test.py
  cirq-google/cirq_google/serialization/op_serializer_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Address warning about node_link_data, node_link_graph defaults (#7234)
  cirq-core/cirq/devices/device.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Assume PhasedXPowGate is different from XPowGate and YPowGate (#7070)
  cirq-core/cirq/ops/common_gates.py
  cirq-core/cirq/ops/phased_x_gate.py
  cirq-core/cirq/ops/phased_x_gate_test.py
  cirq-core/cirq/transformers/eject_phased_paulis.py
  cirq-core/cirq/transformers/eject_phased_paulis_test.py
  cirq-core/cirq/transformers/eject_z_test.py
  cirq-core/cirq/transformers/merge_single_qubit_gates_test.py
  cirq-google/cirq_google/api/v1/programs_test.py
  cirq-google/cirq_google/engine/engine_program_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult

Avoid using NotImplemented as a boolean (#7259)
  cirq-core/cirq/ops/clifford_gate.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Fix serialization error in cirq_google. (#7260)
  cirq-google/cirq_google/serialization/circuit_serializer.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

CI - fix failing pre-release workflow (#7252)
  .github/workflows/release-main.yml
Owners: @quantumlib/cirq-maintainers, @vtomole

Fix typos in XEB (#7254)
  docs/_book.yaml
  docs/noise/_index.yaml
  docs/noise/qcvv/coherent_vs_incoherent_xeb.ipynb
  docs/noise/qcvv/xeb_theory.ipynb
  docs/tutorials/google/identifying_hardware_changes.ipynb
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole, @mrwojtek, @wcourtney, @verult

Test all notebooks vs stable cirq after the release (#7255)
  dev_tools/notebooks/isolated_notebook_test.py
  dev_tools/notebooks/notebook_test.py
  docs/build/classical_control.ipynb
  docs/build/interop.ipynb
  docs/noise/qcvv/parallel_xeb.ipynb
  docs/simulate/qvm_stabilizer_example.ipynb
  docs/tutorials/google/colab.ipynb
  docs/tutorials/google/start.ipynb
Owners: @quantumlib/cirq-maintainers, @vtomole, @aasfaw, @rmlarose, @mrwojtek, @wcourtney, @verult

Correct minor typo in BitMaskKeyCondition (#7251)
  cirq-core/cirq/value/condition.py
  docs/build/classical_control.ipynb
  docs/transform/custom_transformers.ipynb
  docs/transform/routing_transformer.ipynb
Owners: @quantumlib/cirq-maintainers, @vtomole, @aasfaw, @rmlarose

Fix a few capitalization typos (#7244)
  docs/build/ecosystem.md
  docs/citation.md
  docs/dev/style.md
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole

Roll forward #6910 - CircuitOperation: change use_repetition_ids default to False (#7265)
  cirq-core/cirq/circuits/circuit_operation.py
  cirq-core/cirq/circuits/circuit_operation_test.py
  cirq-core/cirq/ops/classically_controlled_operation_test.py
  cirq-core/cirq/protocols/json_test_data/CircuitOperation.json
  cirq-core/cirq/protocols/json_test_data/CircuitOperation.repr_inward
Owners: @quantumlib/cirq-maintainers, @vtomole

Drop temporary warnings about changed data promotion in numpy-2 (#7258)
  .github/workflows/ci.yml
  conftest.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Add classical conditions to cirq_google proto (#7250)
  cirq-google/cirq_google/api/v2/program.proto
  cirq-google/cirq_google/api/v2/program_pb2.py
  cirq-google/cirq_google/api/v2/program_pb2.pyi
  cirq-google/cirq_google/serialization/arg_func_langs.py
  cirq-google/cirq_google/serialization/arg_func_langs_test.py
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
  cirq-google/cirq_google/serialization/op_deserializer.py
  cirq-google/cirq_google/serialization/op_deserializer_test.py
  cirq-google/cirq_google/serialization/op_serializer.py
  cirq-google/cirq_google/serialization/op_serializer_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Fix failing CI tests due to old setuptools (#7249)
  .github/workflows/ci.yml
  dev_tools/requirements/deps/packaging.txt
Owners: @quantumlib/cirq-maintainers, @vtomole

Cite Cirq release 1.5.0 (#7263)
  CITATION.cff
Owners: @quantumlib/cirq-maintainers, @vtomole

Bump cirq version to 1.6.0 (#7261)
  cirq-aqt/cirq_aqt/_version.py
  cirq-aqt/cirq_aqt/_version_test.py
  cirq-core/cirq/_version.py
  cirq-core/cirq/_version_test.py
  cirq-google/cirq_google/_version.py
  cirq-google/cirq_google/_version_test.py
  cirq-ionq/cirq_ionq/_version.py
  cirq-ionq/cirq_ionq/_version_test.py
  cirq-pasqal/cirq_pasqal/_version.py
  cirq-pasqal/cirq_pasqal/_version_test.py
  cirq-rigetti/cirq_rigetti/_version.py
  cirq-rigetti/cirq_rigetti/_version_test.py
  cirq-web/cirq_web/_version.py
  cirq-web/cirq_web/_version_test.py
Owners: @ma5x, @pschindler, @alfrisch, @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult, @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @splch, @HGSilveri, @erichulburd, @kalzoo, @dbanty

Do mild editing for grammar, consistency, and Markdown (#7246)
  docs/build/_index.yaml
  docs/dev/development.md
  docs/dev/serialization.md
  docs/experiments/_index.yaml
  docs/google/calibration.md
  docs/google/devices.md
  docs/google/engine.md
  docs/google/specification.md
  docs/transform/_index.yaml
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult

Fix issue #7245: update docs referring to calibration_api.ipynb (#7253)
  docs/google/best_practices.ipynb
  docs/noise/qcvv/coherent_vs_incoherent_xeb.ipynb
  docs/noise/qcvv/xeb_calibration_example.ipynb
Owners: @wcourtney, @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole, @verult, @mrwojtek

Switch notebooks from dev to stable cirq where possible (#7247)
  cirq-core/cirq/contrib/quimb/Cirq-to-Tensor-Networks.ipynb
  cirq-core/cirq/contrib/quimb/Contract-a-Grid-Circuit.ipynb
  dev_tools/notebooks/isolated_notebook_test.py
  docs/gatezoo.ipynb
  docs/noise/calibration_api.tst
  docs/operators_and_observables.tst
  docs/transform/transformers.ipynb
Owners: @quantumlib/cirq-maintainers, @vtomole, @aasfaw, @rmlarose

Clarify error message for `decompose_once(X(q))` (#7281)
  cirq-core/cirq/protocols/decompose_protocol.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Remove pytest-debug.yaml workflow (#7274)
  .github/workflows/pytest-debug.yaml
Owners: @quantumlib/cirq-maintainers, @vtomole

Flip test names to match expected warnings (#7275)
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Replace PR labeler with better & safer version (#7271)
  .github/pr-size-labels.yaml
  .github/workflows/pr-labeler.yaml
  dev_tools/ci/README.md
  dev_tools/ci/size-labeler.sh
Owners: @quantumlib/cirq-maintainers, @vtomole

Remove pr_monitor (#7214)
  dev_tools/cirq-infra/README.md
  dev_tools/pr_monitor.py
  dev_tools/pr_monitor.sh
  dev_tools/pr_monitor/Dockerfile
  dev_tools/pr_monitor/README.md
  dev_tools/pr_monitor/cloudbuild-deploy.yaml
  dev_tools/pr_monitor/requirements.txt
  dev_tools/pr_monitor/skaffold.yaml
  dev_tools/pr_monitor/statefulset.yaml
Owners: @quantumlib/cirq-maintainers, @vtomole

Remove USE_CONSTANTS flags and make them the default (#7262)
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Update cirq resolver to check sympy singletons with `is` instead of `==` (#7279)
  cirq-core/cirq/study/resolver.py
Owners: @quantumlib/cirq-maintainers, @vtomole

.github/CODEOWNERS:

####################
# cirq maintainers
####################

* @quantumlib/cirq-maintainers @vtomole

####################
# vendor maintainers
####################

cirq-google/**/*.* @wcourtney @quantumlib/cirq-maintainers @vtomole @verult

cirq-ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @Cynocracy @quantumlib/cirq-maintainers @vtomole @splch

cirq-aqt/**/*.* @ma5x @pschindler @alfrisch @quantumlib/cirq-maintainers @vtomole

cirq-pasqal/**/*.* @HGSilveri @quantumlib/cirq-maintainers @vtomole

cirq-rigetti/**/*.* @erichulburd @kalzoo @dbanty @quantumlib/cirq-maintainers @vtomole

################################################
# qcvv maintainers @mrwojtek + cirq maintainers
################################################

cirq-core/cirq/experiments/**/*.* @mrwojtek @quantumlib/cirq-maintainers @vtomole

#####################################################
# docs maintainers: maintainers + @aasfaw + @rmlarose
#####################################################

docs/**/*.* @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

###################################################################
# vendor docs maintainers: vendor maintainers + @aasfaw + @rmlarose
###################################################################

docs/google/**/*.* @wcourtney @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @verult
docs/tutorials/google/**/*.* @wcourtney @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @verult

docs/hardware/ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @aasfaw @rmlarose @Cynocracy @quantumlib/cirq-maintainers @vtomole @splch

docs/hardware/aqt/**/*.* @ma5x @pschindler @alfrisch @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

docs/hardware/pasqal/**/*.* @HGSilveri @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

docs/hardware/rigetti/**/*.* @erichulburd @kalzoo @dbanty @aasfaw @quantumlib/cirq-maintainers @vtomole

docs/hardware/azure-quantum/**/*.* @guenp @anpaz @aasfaw @quantumlib/cirq-maintainers @vtomole

#############################################################
# qcvv docs maintainers: docs maintainers + mrwojtek + aasfaw
#############################################################
docs/noise/qcvv/**/*.* @mrwojtek @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole
