Repository quantumlib/Cirq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult, @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @splch, @ma5x, @pschindler, @alfrisch, @HGSilveri, @erichulburd, @kalzoo, @dbanty, @mrwojtek, @aasfaw, @rmlarose, @guenp, @anpaz

.github/CODEOWNERS:

####################
# cirq maintainers
####################

* @quantumlib/cirq-maintainers @vtomole

####################
# vendor maintainers
####################

cirq-google/**/*.* @wcourtney @quantumlib/cirq-maintainers @vtomole @verult

cirq-ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @Cynocracy @quantumlib/cirq-maintainers @vtomole @splch

cirq-aqt/**/*.* @ma5x @pschindler @alfrisch @quantumlib/cirq-maintainers @vtomole

cirq-pasqal/**/*.* @HGSilveri @quantumlib/cirq-maintainers @vtomole

cirq-rigetti/**/*.* @erichulburd @kalzoo @dbanty @quantumlib/cirq-maintainers @vtomole

################################################
# qcvv maintainers @mrwojtek + cirq maintainers
################################################

cirq-core/cirq/experiments/**/*.* @mrwojtek @quantumlib/cirq-maintainers @vtomole

#####################################################
# docs maintainers: maintainers + @aasfaw + @rmlarose
#####################################################

docs/**/*.* @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

###################################################################
# vendor docs maintainers: vendor maintainers + @aasfaw + @rmlarose
###################################################################

docs/google/**/*.* @wcourtney @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @verult
docs/tutorials/google/**/*.* @wcourtney @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @verult

docs/hardware/ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @aasfaw @rmlarose @Cynocracy @quantumlib/cirq-maintainers @vtomole @splch

docs/hardware/aqt/**/*.* @ma5x @pschindler @alfrisch @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

docs/hardware/pasqal/**/*.* @HGSilveri @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

docs/hardware/rigetti/**/*.* @erichulburd @kalzoo @dbanty @aasfaw @quantumlib/cirq-maintainers @vtomole

docs/hardware/azure-quantum/**/*.* @guenp @anpaz @aasfaw @quantumlib/cirq-maintainers @vtomole

#############################################################
# qcvv docs maintainers: docs maintainers + mrwojtek + aasfaw
#############################################################
docs/noise/qcvv/**/*.* @mrwojtek @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

Add support for merge queues (#6953)
  .github/workflows/ci.yml
Owners: @quantumlib/cirq-maintainers, @vtomole

Improve __pow__ for SingleQubitCliffordGate (issue #6327) (#6919)
  cirq-core/cirq/ops/clifford_gate.py
  cirq-core/cirq/ops/clifford_gate_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Streamline proto serialization of circuits with duplicate moments. (#6941)
  cirq-google/cirq_google/api/v2/program.proto
  cirq-google/cirq_google/api/v2/program_pb2.py
  cirq-google/cirq_google/api/v2/program_pb2.pyi
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Clean up obsolete TODO comments (#6957)
  .github/workflows/ci-daily.yml
  .github/workflows/ci.yml
  dev_tools/notebooks/isolated_notebook_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Add a new sweep metadata from/to proto approach (#6925)
  cirq-google/cirq_google/api/v2/run_context.proto
  cirq-google/cirq_google/api/v2/run_context_pb2.py
  cirq-google/cirq_google/api/v2/run_context_pb2.pyi
  cirq-google/cirq_google/api/v2/sweeps.py
  cirq-google/cirq_google/api/v2/sweeps_test.py
  cirq-google/cirq_google/json_resolver_cache.py
  cirq-google/cirq_google/json_test_data/cirq.google.Metadata.json
  cirq-google/cirq_google/json_test_data/cirq.google.Metadata.repr
  cirq-google/cirq_google/study/__init__.py
  cirq-google/cirq_google/study/device_parameter.py
  cirq-google/cirq_google/study/device_parameter_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Add YAML file linter (#6896)
  .yamllint.yaml
Owners: @quantumlib/cirq-maintainers, @vtomole

correct noise channel approximate equality (#6632)
  cirq-core/cirq/ops/common_channels.py
  cirq-core/cirq/ops/common_channels_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Make Dependabot ignore patch updates to JS dependencies (#6967)
  .github/dependabot.yml
Owners: @quantumlib/cirq-maintainers, @vtomole

Add a function for running circuits in a shuffled order with readout error benchmarking. (#6945)
  cirq-core/cirq/contrib/shuffle_circuits/__init__.py
  cirq-core/cirq/contrib/shuffle_circuits/shuffle_circuits_with_readout_benchmarking.py
  cirq-core/cirq/contrib/shuffle_circuits/shuffle_circuits_with_readout_benchmarking_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Apply as_sweep for SqrtCZGauge (#6931)
  cirq-core/cirq/transformers/gauge_compiling/__init__.py
  cirq-core/cirq/transformers/gauge_compiling/cz_gauge.py
  cirq-core/cirq/transformers/gauge_compiling/gauge_compiling.py
  cirq-core/cirq/transformers/gauge_compiling/gauge_compiling_test.py
  cirq-core/cirq/transformers/gauge_compiling/gauge_compiling_test_utils.py
  cirq-core/cirq/transformers/gauge_compiling/gauge_compiling_test_utils_test.py
  cirq-core/cirq/transformers/gauge_compiling/iswap_gauge.py
  cirq-core/cirq/transformers/gauge_compiling/iswap_gauge_test.py
  cirq-core/cirq/transformers/gauge_compiling/spin_inversion_gauge.py
  cirq-core/cirq/transformers/gauge_compiling/sqrt_cz_gauge.py
  cirq-core/cirq/transformers/gauge_compiling/sqrt_cz_gauge_test.py
  cirq-core/cirq/transformers/gauge_compiling/sqrt_iswap_gauge.py
  cirq-core/cirq/transformers/gauge_compiling/sqrt_iswap_gauge_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Revert "#6586 - Avoid DivisionByZero error when TensorNetwork simplifies to a scalar" (#6958)
  cirq-core/cirq/contrib/quimb/state_vector.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Refactor engine client `test_create_job` test names for better clarity and consistency (#6885)
  cirq-google/cirq_google/engine/engine_client_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Optimize qubit hash for Set operations (#6908)
  cirq-core/cirq/devices/grid_qubit.py
  cirq-core/cirq/devices/line_qubit.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Fix classical conditions getting optimized ahead of their measurements (#6872)
  cirq-core/cirq/sim/simulator.py
  cirq-core/cirq/sim/simulator_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

[cleanup] Remove unused `GridParallelXEBMetadata` class (#6909)
  cirq-core/cirq/experiments/grid_parallel_two_qubit_xeb.py
  cirq-core/cirq/experiments/grid_parallel_two_qubit_xeb_test.py
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/protocols/json_test_data/GridParallelXEBMetadata.json
  cirq-core/cirq/protocols/json_test_data/GridParallelXEBMetadata.repr
Owners: @mrwojtek, @quantumlib/cirq-maintainers, @vtomole

Update scientific Python core dependencies per NEP-29 and SPEC-0 (#6975)
  cirq-core/requirements.txt
  dev_tools/requirements/deps/ipython.txt
Owners: @quantumlib/cirq-maintainers, @vtomole

Bump grpcio-tools from 1.59 to 1.62 (#6976)
  cirq-google/cirq_google/api/v1/operations_pb2.py
  cirq-google/cirq_google/api/v1/params_pb2.py
  cirq-google/cirq_google/api/v1/program_pb2.py
  cirq-google/cirq_google/api/v2/batch_pb2.py
  cirq-google/cirq_google/api/v2/calibration_pb2.py
  cirq-google/cirq_google/api/v2/device_pb2.py
  cirq-google/cirq_google/api/v2/metrics_pb2.py
  cirq-google/cirq_google/api/v2/program_pb2.py
  cirq-google/cirq_google/api/v2/result_pb2.py
  cirq-google/cirq_google/api/v2/run_context_pb2.py
  cirq-google/requirements.txt
  dev_tools/requirements/deps/mypy.txt
  dev_tools/requirements/deps/protos.txt
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Combine cirq-web package updates from dependabot (#6993)
  cirq-web/cirq_ts/dist/bloch_sphere.bundle.js
  cirq-web/cirq_ts/dist/circuit.bundle.js
  cirq-web/cirq_ts/package-lock.json
  cirq-web/cirq_ts/package.json
Owners: @quantumlib/cirq-maintainers, @vtomole

Add a default fallback for the equal_up_to_global_phase protocol (#6950)
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/protocols/equal_up_to_global_phase_protocol_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Update .markdownlintrc (#6990)
  .markdownlintrc
Owners: @quantumlib/cirq-maintainers, @vtomole

Implement _value_equality_approximate_values_ for PhasedISwapPowGate. (#6959)
  cirq-core/cirq/ops/phased_iswap_gate.py
  cirq-core/cirq/ops/phased_iswap_gate_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Perf optimization for building circuits using only appends (#6882)
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_test.py
  cirq-core/cirq/contrib/acquaintance/executor.py
  cirq-core/cirq/transformers/transformer_primitives.py
Owners: @quantumlib/cirq-maintainers, @vtomole

CI - run the pytest-numpy-2 job also with Python 3.13 (#6974)
  .github/workflows/ci.yml
  cirq-google/cirq_google/engine/engine_processor_test.py
  dev_tools/requirements/dev-np2.env.txt
Owners: @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult

Use encoding UTF-8 when opening files (#6989)
  dev_tools/bash_scripts_test.py
  dev_tools/codeowners_test.py
  dev_tools/conftest.py
  dev_tools/incremental_coverage.py
  dev_tools/modules.py
  dev_tools/version_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Add PyPI keywords and edit maintainers name (#6992)
  cirq-aqt/setup.py
  cirq-core/setup.py
  cirq-google/setup.py
  cirq-ionq/setup.py
  cirq-pasqal/setup.py
  cirq-rigetti/setup.py
  cirq-web/setup.py
  setup.py
Owners: @ma5x, @pschindler, @alfrisch, @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult, @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @splch, @HGSilveri, @erichulburd, @kalzoo, @dbanty

Replace OpTree with OP_TREE (#6960)
  cirq-core/cirq/ops/op_tree.py
  cirq-core/cirq/transformers/analytical_decompositions/quantum_shannon_decomposition.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Support numpy qid indexes (#6987)
  cirq-core/cirq/devices/grid_qubit.py
  cirq-core/cirq/devices/grid_qubit_test.py
  cirq-core/cirq/devices/line_qubit.py
  cirq-core/cirq/devices/line_qubit_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Streamline proto serialization of circuits with duplicate operations (#6991)
  cirq-google/cirq_google/api/v2/program.proto
  cirq-google/cirq_google/api/v2/program_pb2.py
  cirq-google/cirq_google/api/v2/program_pb2.pyi
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Minor edits and updates to Markdown files in docs/ (#7009)
  docs/build/ecosystem.md
  docs/citation.md
  docs/dev/development.md
  docs/dev/gates.md
  docs/dev/modules.md
  docs/dev/nomenclature.md
  docs/dev/notebooks.md
  docs/dev/plotting.md
  docs/dev/rfc_process.md
  docs/dev/serialization.md
  docs/dev/style.md
  docs/dev/support.md
  docs/dev/triage.md
  docs/dev/versions.md
  docs/google/access.md
  docs/google/devices.md
  docs/google/engine.md
  docs/google/specification.md
  docs/start/install.md
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult

Update and refresh cirq-* module README files (#6900)
  cirq-aqt/README.md
  cirq-aqt/README.rst
  cirq-aqt/setup.py
  cirq-core/README.md
  cirq-core/README.rst
  cirq-core/setup.py
  cirq-google/README.md
  cirq-google/README.rst
  cirq-google/setup.py
  cirq-ionq/README.md
  cirq-ionq/README.rst
  cirq-ionq/setup.py
  cirq-pasqal/README.md
  cirq-pasqal/README.rst
  cirq-pasqal/setup.py
  cirq-rigetti/README.md
  cirq-rigetti/README.rst
  cirq-rigetti/setup.py
  cirq-web/README.md
  cirq-web/README.rst
  cirq-web/setup.py
Owners: @ma5x, @pschindler, @alfrisch, @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult, @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @splch, @HGSilveri, @erichulburd, @kalzoo, @dbanty

Avoid CI flake due to random-seed-dependent test (#7016)
  cirq-core/cirq/transformers/analytical_decompositions/controlled_gate_decomposition_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

CI - fix failing test with Python 3.13 (#6996)
  dev_tools/pypath
  dev_tools/requirements/dev-np2.env.txt
Owners: @quantumlib/cirq-maintainers, @vtomole

Fix typo (#7006)
  .github/SECURITY.md
Owners: @quantumlib/cirq-maintainers, @vtomole

Reformat miscellaneous .md files outside of docs/ (#6999)
  CONTRIBUTING.md
  benchmarks/README.md
  cirq-core/cirq/protocols/json_test_data/README.md
  cirq-google/cirq_google/devices/specifications/README.md
  cirq-google/version_policy.md
  cirq-web/cirq_ts/README.md
  cirq-web/cirq_web/README.md
  dev_tools/cirq-infra/README.md
  dev_tools/triage-party/README.md
  examples/README.md
  release.md
Owners: @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult

doctest - exclude third-party sources in node_modules (#7011)
  dev_tools/docs/run_doctest.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Fix logic for handling `repetition_ids` in `CircuitOperation.replace` (#6984)
  cirq-core/cirq/circuits/circuit_operation.py
  cirq-core/cirq/circuits/circuit_operation_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Fix mapped measurement keys of repeat_until fields in CircuitOperations (#6881)
  cirq-core/cirq/circuits/circuit_operation.py
  cirq-core/cirq/circuits/circuit_operation_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Fix a couple of spelling typos before release (#7010)
  cirq-core/cirq/study/sweeps.py
  docs/dev/rfc_process.md
Owners: @quantumlib/cirq-maintainers, @vtomole, @aasfaw, @rmlarose

add snapshot_id to get_sampler interface on engine object (#7005)
  cirq-google/cirq_google/engine/engine.py
  cirq-google/cirq_google/engine/engine_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

CI - remove rstcheck as there are no rst files left (#7014)
  .github/workflows/ci.yml
  dev_tools/requirements/deps/dev-tools.txt
Owners: @quantumlib/cirq-maintainers, @vtomole
