Repository quantumlib/Cirq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult, @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @splch, @ma5x, @pschindler, @alfrisch, @HGSilveri, @erichulburd, @kalzoo, @dbanty, @mrwojtek, @aasfaw, @rmlarose, @guenp, @anpaz

Add a circuit with 'tomo_key' to test key collision handling to fix coverage issues
  cirq-core/cirq/experiments/qubit_characterizations_test.py
Owners: @mrwojtek, @quantumlib/cirq-maintainers, @vtomole

Fixing production code, fixing tests.
  cirq-ionq/cirq_ionq/ionq_client.py
  cirq-ionq/cirq_ionq/ionq_client_test.py
  cirq-ionq/cirq_ionq/job_test.py
  cirq-ionq/cirq_ionq/sampler_test.py
  cirq-ionq/cirq_ionq/serializer.py
  cirq-ionq/cirq_ionq/serializer_test.py
  cirq-ionq/cirq_ionq/service_test.py
Owners: @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @quantumlib/cirq-maintainers, @vtomole, @splch

Apply suggestions from code review
  cirq-core/cirq/circuits/circuit.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Promote FrozenCircuit.tags to AbstractCircuit (#7476)
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_test.py
  cirq-core/cirq/circuits/frozen_circuit.py
  cirq-core/cirq/circuits/frozen_circuit_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Fixing MS gate inverse is not implemented correctly (Issue 7432) (#7466)
  cirq-ionq/cirq_ionq/ionq_native_gates.py
  cirq-ionq/cirq_ionq/ionq_native_gates_test.py
Owners: @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @quantumlib/cirq-maintainers, @vtomole, @splch

Promote FrozenCircuit.tags to AbstractCircuit
  cirq-core/cirq/circuits/circuit.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Add support for proto serialization of circuit tags
  cirq-google/cirq_google/api/v2/program.proto
  cirq-google/cirq_google/api/v2/program_pb2.py
  cirq-google/cirq_google/api/v2/program_pb2.pyi
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Fix lint issue
  cirq-core/cirq/circuits/circuit.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Temporarily activate ci-daily for pull-requests
  .github/workflows/ci-daily.yml
Owners: @quantumlib/cirq-maintainers, @vtomole

Enable test_notebooks_against_cirq_head on all platforms
  dev_tools/notebooks/notebook_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Add comments
  cirq-google/cirq_google/api/v2/program.proto
  cirq-google/cirq_google/api/v2/program_pb2.pyi
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Add proto serialization support for circuit tags (#7478)
  cirq-google/cirq_google/api/v2/program.proto
  cirq-google/cirq_google/api/v2/program_pb2.py
  cirq-google/cirq_google/api/v2/program_pb2.pyi
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Standardize serialization of CalibrationTag
  cirq-google/cirq_google/api/v2/program.proto
  cirq-google/cirq_google/api/v2/program_pb2.py
  cirq-google/cirq_google/api/v2/program_pb2.pyi
  cirq-google/cirq_google/ops/calibration_tag.py
  cirq-google/cirq_google/ops/calibration_tag_test.py
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Make `list_all_notebooks` work at any CWD
  dev_tools/notebooks/__init__.py
  dev_tools/notebooks/isolated_notebook_test.py
  dev_tools/notebooks/utils.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Determine changed notebooks w/r to the merge base with main
  dev_tools/notebooks/isolated_notebook_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Temporarily ignore isolated_notebook_test update
  dev_tools/notebooks/isolated_notebook_test.py
  docs/start/basics.ipynb
  docs/start/intro.ipynb
Owners: @quantumlib/cirq-maintainers, @vtomole, @aasfaw, @rmlarose

Add tests that validate SKIP_NOTEBOOKS entries
  dev_tools/notebooks/isolated_notebook_test.py
  dev_tools/notebooks/notebook_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Revert "Temporarily ignore isolated_notebook_test update"
  dev_tools/notebooks/isolated_notebook_test.py
  docs/start/basics.ipynb
  docs/start/intro.ipynb
Owners: @quantumlib/cirq-maintainers, @vtomole, @aasfaw, @rmlarose

Add return-type annotations to notebook_test.py
  dev_tools/notebooks/notebook_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Test for misordered qubits in matrix gate decomposition
  cirq-core/cirq/ops/matrix_gates.py
  cirq-core/cirq/ops/matrix_gates_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Fix misordered qubits in matrix gate decomposition
  cirq-core/cirq/ops/matrix_gates.py
  cirq-core/cirq/ops/matrix_gates_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

lint
  cirq-core/cirq/ops/matrix_gates.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Make isolated_notebook_test work from any directory (#7481)
  dev_tools/notebooks/__init__.py
  dev_tools/notebooks/isolated_notebook_test.py
  dev_tools/notebooks/notebook_test.py
  dev_tools/notebooks/utils.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Standardize serialization of CalibrationTag (#7480)
  cirq-google/cirq_google/api/v2/program.proto
  cirq-google/cirq_google/api/v2/program_pb2.py
  cirq-google/cirq_google/api/v2/program_pb2.pyi
  cirq-google/cirq_google/ops/calibration_tag.py
  cirq-google/cirq_google/ops/calibration_tag_test.py
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Cache the result of has_unitary for CircuitOperation.
  cirq-core/cirq/circuits/circuit_operation.py
  cirq-core/cirq/circuits/circuit_operation_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Use an efficient representation for connected components of operations in the merge methods.
  cirq-core/cirq/transformers/connected_component.py
  cirq-core/cirq/transformers/connected_component_test.py
  cirq-core/cirq/transformers/transformer_primitives.py
  cirq-core/cirq/transformers/transformer_primitives_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Fix lint, format and coverage issues.
  cirq-core/cirq/transformers/connected_component.py
  cirq-core/cirq/transformers/connected_component_test.py
  cirq-core/cirq/transformers/transformer_primitives_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Cache the result of CircuitOperation.has_unitary (#7483)
  cirq-core/cirq/circuits/circuit_operation.py
  cirq-core/cirq/circuits/circuit_operation_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

ci-weekly - use common naming for the upload-artifacts step
  .github/workflows/ci-weekly.yml
Owners: @quantumlib/cirq-maintainers, @vtomole

ci-daily - save notebook outputs when tests fail
  .github/workflows/ci-daily.yml
Owners: @quantumlib/cirq-maintainers, @vtomole

Introduce intentional failure to start/intro.ipynb
  docs/start/intro.ipynb
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole

ci - avoid overlapping artifact names from notebook tests
  .github/workflows/ci.yml
Owners: @quantumlib/cirq-maintainers, @vtomole

Fix resolution of notebook paths when pytest is not at the repo root
  dev_tools/notebooks/isolated_notebook_test.py
  dev_tools/notebooks/notebook_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

ci - avoid overlapping artifact names from notebook tests
  .github/workflows/ci-weekly.yml
  .github/workflows/ci.yml
Owners: @quantumlib/cirq-maintainers, @vtomole

Fix resolution of notebook paths when pytest is not at the repo root
  dev_tools/notebooks/isolated_notebook_test.py
  dev_tools/notebooks/notebook_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Ignore deleted files in check/pylint-changed-files
  check/pylint-changed-files
Owners: @quantumlib/cirq-maintainers, @vtomole

Remove redundant pytest marker `rigetti_integration`
  .github/workflows/ci-daily.yml
  .github/workflows/ci.yml
  conftest.py
  pyproject.toml
Owners: @quantumlib/cirq-maintainers, @vtomole

Remove cirq_rigetti references from typecheck configuration
  check/mypy
  dev_tools/conf/mypy.ini
Owners: @quantumlib/cirq-maintainers, @vtomole

Remove references to non-existing files from Python sources
  cirq-core/cirq/protocols/hash_from_pickle_test.py
  dev_tools/docs/run_doctest.py
  dev_tools/notebooks/isolated_notebook_test.py
  dev_tools/notebooks/notebook_test.py
  setup.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Remove link to cirq-rigetti from the Cirq start notebook
  docs/start/start.ipynb
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole

.github/CODEOWNERS:

####################
# cirq maintainers
####################

* @quantumlib/cirq-maintainers @vtomole

####################
# vendor maintainers
####################

cirq-google/**/*.* @wcourtney @quantumlib/cirq-maintainers @vtomole @verult

cirq-ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @Cynocracy @quantumlib/cirq-maintainers @vtomole @splch

cirq-aqt/**/*.* @ma5x @pschindler @alfrisch @quantumlib/cirq-maintainers @vtomole

cirq-pasqal/**/*.* @HGSilveri @quantumlib/cirq-maintainers @vtomole

cirq-rigetti/**/*.* @erichulburd @kalzoo @dbanty @quantumlib/cirq-maintainers @vtomole

################################################
# qcvv maintainers @mrwojtek + cirq maintainers
################################################

cirq-core/cirq/experiments/**/*.* @mrwojtek @quantumlib/cirq-maintainers @vtomole

#####################################################
# docs maintainers: maintainers + @aasfaw + @rmlarose
#####################################################

docs/**/*.* @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

###################################################################
# vendor docs maintainers: vendor maintainers + @aasfaw + @rmlarose
###################################################################

docs/google/**/*.* @wcourtney @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @verult
docs/tutorials/google/**/*.* @wcourtney @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @verult

docs/hardware/ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @aasfaw @rmlarose @Cynocracy @quantumlib/cirq-maintainers @vtomole @splch

docs/hardware/aqt/**/*.* @ma5x @pschindler @alfrisch @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

docs/hardware/pasqal/**/*.* @HGSilveri @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

docs/hardware/rigetti/**/*.* @erichulburd @kalzoo @dbanty @aasfaw @quantumlib/cirq-maintainers @vtomole

docs/hardware/azure-quantum/**/*.* @guenp @anpaz @aasfaw @quantumlib/cirq-maintainers @vtomole

#############################################################
# qcvv docs maintainers: docs maintainers + mrwojtek + aasfaw
#############################################################
docs/noise/qcvv/**/*.* @mrwojtek @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole
