Repository quantumlib/Cirq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult, @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @splch, @ma5x, @pschindler, @alfrisch, @HGSilveri, @erichulburd, @kalzoo, @dbanty, @mrwojtek, @aasfaw, @rmlarose, @guenp, @anpaz

Ensure QVM notebooks use development version of cirq (#7436)
  docs/hardware/qubit_picking.ipynb
  docs/simulate/noisy_simulation.ipynb
  docs/simulate/quantum_virtual_machine.ipynb
  docs/simulate/qvm_basic_example.ipynb
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole

format
  cirq-core/cirq/ops/three_qubit_gates.py
Owners: @quantumlib/cirq-maintainers, @vtomole

revive GlobalPhaseGate.is_identity()
  cirq-core/cirq/ops/common_gates.py
  cirq-core/cirq/ops/global_phase_op.py
  cirq-core/cirq/ops/global_phase_op_test.py
  cirq-core/cirq/ops/three_qubit_gates.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Docstring
  cirq-core/cirq/ops/global_phase_op.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Docstring
  cirq-core/cirq/ops/global_phase_op.py
Owners: @quantumlib/cirq-maintainers, @vtomole

reuse applying kraus operator
  cirq-core/cirq/protocols/kraus_protocol_test.py
  cirq-core/cirq/qis/channels_test.py
  cirq-core/cirq/testing/circuit_compare.py
Owners: @quantumlib/cirq-maintainers, @vtomole

.
  cirq-core/cirq/protocols/kraus_protocol_test.py
  cirq-core/cirq/qis/channels_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

.
  cirq-core/cirq/protocols/kraus_protocol_test.py
  cirq-core/cirq/qis/channels_test.py
  cirq-core/cirq/testing/circuit_compare.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Simplify decomposition of controlled eigengates with global phase (#7383)
  cirq-core/cirq/ops/common_gates.py
  cirq-core/cirq/ops/common_gates_test.py
  cirq-core/cirq/ops/controlled_gate.py
  cirq-core/cirq/ops/controlled_gate_test.py
  cirq-core/cirq/ops/global_phase_op.py
  cirq-core/cirq/ops/global_phase_op_test.py
  cirq-core/cirq/ops/three_qubit_gates.py
  cirq-core/cirq/protocols/decompose_protocol.py
  cirq-core/cirq/protocols/decompose_protocol_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Implements optimizations A.1 and A.2 for Quantum Shannon Decomposition (#7390)
  cirq-core/cirq/transformers/analytical_decompositions/quantum_shannon_decomposition.py
  cirq-core/cirq/transformers/analytical_decompositions/quantum_shannon_decomposition_test.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_cz.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_cz_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

.
  cirq-core/cirq/protocols/kraus_protocol_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Started on updating the API.
  cirq-ionq/cirq_ionq/ionq_client.py
  cirq-ionq/cirq_ionq/service.py
  docs/hardware/ionq/service.md
Owners: @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @quantumlib/cirq-maintainers, @vtomole, @splch, @aasfaw, @rmlarose

comment
  cirq-core/cirq/protocols/json_serialization_test.py
  cirq-google/cirq_google/ops/analog_detune_gates.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult

Add AnalogDetuneQubit cirq google version (#7430)
  cirq-core/cirq/protocols/json_serialization_test.py
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/json_resolver_cache.py
  cirq-google/cirq_google/json_test_data/AnalogDetuneQubit.json
  cirq-google/cirq_google/json_test_data/AnalogDetuneQubit.repr
  cirq-google/cirq_google/ops/__init__.py
  cirq-google/cirq_google/ops/analog_detune_gates.py
  cirq-google/cirq_google/ops/analog_detune_gates_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult

Add AnalogTrajectory and FreqMap
  cirq-google/cirq_google/experimental/analog_experiments/__init__.py
  cirq-google/cirq_google/experimental/analog_experiments/analog_trajectory_util.py
  cirq-google/cirq_google/experimental/analog_experiments/analog_trajectory_util_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

fix input
  cirq-google/cirq_google/experimental/analog_experiments/__init__.py
  cirq-google/cirq_google/experimental/analog_experiments/analog_trajectory_util.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Split the util and polish plot func
  cirq-google/cirq_google/experimental/analog_experiments/analog_trajectory_util.py
  cirq-google/cirq_google/experimental/analog_experiments/symbol_util.py
  cirq-google/cirq_google/ops/analog_detune_gates.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Add AnalogDetuneQubit cirq google version (#7430)
  cirq-google/cirq_google/experimental/analog_experiments/symbol_util.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

type and lint
  cirq-google/cirq_google/experimental/analog_experiments/analog_trajectory_util.py
  cirq-google/cirq_google/experimental/analog_experiments/analog_trajectory_util_test.py
  cirq-google/cirq_google/experimental/analog_experiments/symbol_util.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

coverage
  cirq-google/cirq_google/experimental/analog_experiments/analog_trajectory_util.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

fix
  cirq-google/cirq_google/experimental/analog_experiments/analog_trajectory_util.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

format
  cirq-google/cirq_google/experimental/analog_experiments/analog_trajectory_util.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

fix typo
  cirq-google/cirq_google/experimental/analog_experiments/analog_trajectory_util.py
  cirq-google/cirq_google/experimental/analog_experiments/analog_trajectory_util_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

test_get_full_trajectory_with_resolved_idles
  cirq-google/cirq_google/experimental/analog_experiments/analog_trajectory_util_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

add more check
  cirq-google/cirq_google/experimental/analog_experiments/analog_trajectory_util.py
  cirq-google/cirq_google/experimental/analog_experiments/analog_trajectory_util_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

.
  cirq-core/cirq/protocols/kraus_protocol_test.py
  cirq-core/cirq/qis/channels_test.py
  cirq-core/cirq/testing/circuit_compare.py
Owners: @quantumlib/cirq-maintainers, @vtomole

add option to remove half turns
  cirq-core/cirq/experiments/qubit_characterizations.py
  cirq-core/cirq/experiments/qubit_characterizations_test.py
Owners: @mrwojtek, @quantumlib/cirq-maintainers, @vtomole

nit
  cirq-core/cirq/experiments/qubit_characterizations.py
Owners: @mrwojtek, @quantumlib/cirq-maintainers, @vtomole

Update qubit_characterizations.py
  cirq-core/cirq/experiments/qubit_characterizations.py
Owners: @mrwojtek, @quantumlib/cirq-maintainers, @vtomole

Update qubit_characterizations.py
  cirq-core/cirq/experiments/qubit_characterizations.py
Owners: @mrwojtek, @quantumlib/cirq-maintainers, @vtomole

Update cirq-core/cirq/experiments/qubit_characterizations.py
  cirq-core/cirq/experiments/qubit_characterizations.py
Owners: @mrwojtek, @quantumlib/cirq-maintainers, @vtomole

Rework after review: minor fixes.
  cirq-ionq/cirq_ionq/results.py
  cirq-ionq/cirq_ionq/serializer.py
Owners: @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @quantumlib/cirq-maintainers, @vtomole, @splch

Update QVM demo notebooks to use willow_pink (#7428)
  docs/simulate/noisy_simulation.ipynb
  docs/simulate/quantum_virtual_machine.ipynb
  docs/simulate/qvm_basic_example.ipynb
  docs/simulate/qvm_builder_code.ipynb
  docs/simulate/qvm_stabilizer_example.ipynb
  docs/simulate/virtual_engine_interface.ipynb
  docs/tutorials/google/colab.ipynb
  docs/tutorials/google/echoes.ipynb
  examples/advanced/quantum_volume_errors.ipynb
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult

coverage
  cirq-google/cirq_google/experimental/analog_experiments/analog_trajectory_util_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

move symbol_util and rename
  cirq-google/cirq_google/experimental/analog_experiments/__init__.py
  cirq-google/cirq_google/experimental/analog_experiments/analog_trajectory_util.py
  cirq-google/cirq_google/experimental/analog_experiments/analog_trajectory_util_test.py
  cirq-google/cirq_google/ops/analog_detune_gates.py
  cirq-google/cirq_google/study/symbol_util.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Add more test for symbol_util
  cirq-google/cirq_google/study/symbol_util_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Add AnalogTrajectory and FreqMap (#7437)
  cirq-google/cirq_google/experimental/analog_experiments/__init__.py
  cirq-google/cirq_google/experimental/analog_experiments/analog_trajectory_util.py
  cirq-google/cirq_google/experimental/analog_experiments/analog_trajectory_util_test.py
  cirq-google/cirq_google/ops/analog_detune_gates.py
  cirq-google/cirq_google/study/symbol_util.py
  cirq-google/cirq_google/study/symbol_util_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Make QVM notebooks use development version of cirq_google
  docs/hardware/qubit_picking.ipynb
  docs/simulate/noisy_simulation.ipynb
  docs/simulate/quantum_virtual_machine.ipynb
  docs/simulate/qvm_basic_example.ipynb
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole

Fix typo
  docs/hardware/qubit_picking.ipynb
  docs/simulate/noisy_simulation.ipynb
  docs/simulate/quantum_virtual_machine.ipynb
  docs/simulate/qvm_basic_example.ipynb
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole

Make QVM notebooks use development version of cirq_google (#7439)
  docs/hardware/qubit_picking.ipynb
  docs/simulate/noisy_simulation.ipynb
  docs/simulate/quantum_virtual_machine.ipynb
  docs/simulate/qvm_basic_example.ipynb
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole

.github/CODEOWNERS:

####################
# cirq maintainers
####################

* @quantumlib/cirq-maintainers @vtomole

####################
# vendor maintainers
####################

cirq-google/**/*.* @wcourtney @quantumlib/cirq-maintainers @vtomole @verult

cirq-ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @Cynocracy @quantumlib/cirq-maintainers @vtomole @splch

cirq-aqt/**/*.* @ma5x @pschindler @alfrisch @quantumlib/cirq-maintainers @vtomole

cirq-pasqal/**/*.* @HGSilveri @quantumlib/cirq-maintainers @vtomole

cirq-rigetti/**/*.* @erichulburd @kalzoo @dbanty @quantumlib/cirq-maintainers @vtomole

################################################
# qcvv maintainers @mrwojtek + cirq maintainers
################################################

cirq-core/cirq/experiments/**/*.* @mrwojtek @quantumlib/cirq-maintainers @vtomole

#####################################################
# docs maintainers: maintainers + @aasfaw + @rmlarose
#####################################################

docs/**/*.* @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

###################################################################
# vendor docs maintainers: vendor maintainers + @aasfaw + @rmlarose
###################################################################

docs/google/**/*.* @wcourtney @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @verult
docs/tutorials/google/**/*.* @wcourtney @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @verult

docs/hardware/ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @aasfaw @rmlarose @Cynocracy @quantumlib/cirq-maintainers @vtomole @splch

docs/hardware/aqt/**/*.* @ma5x @pschindler @alfrisch @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

docs/hardware/pasqal/**/*.* @HGSilveri @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

docs/hardware/rigetti/**/*.* @erichulburd @kalzoo @dbanty @aasfaw @quantumlib/cirq-maintainers @vtomole

docs/hardware/azure-quantum/**/*.* @guenp @anpaz @aasfaw @quantumlib/cirq-maintainers @vtomole

#############################################################
# qcvv docs maintainers: docs maintainers + mrwojtek + aasfaw
#############################################################
docs/noise/qcvv/**/*.* @mrwojtek @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole
