Repository quantumlib/Cirq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult, @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @splch, @ma5x, @pschindler, @alfrisch, @HGSilveri, @erichulburd, @kalzoo, @dbanty, @mrwojtek, @aasfaw, @rmlarose, @guenp, @anpaz

.github/CODEOWNERS:

####################
# cirq maintainers
####################

* @quantumlib/cirq-maintainers @vtomole

####################
# vendor maintainers
####################

cirq-google/**/*.* @wcourtney @quantumlib/cirq-maintainers @vtomole @verult

cirq-ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @Cynocracy @quantumlib/cirq-maintainers @vtomole @splch

cirq-aqt/**/*.* @ma5x @pschindler @alfrisch @quantumlib/cirq-maintainers @vtomole

cirq-pasqal/**/*.* @HGSilveri @quantumlib/cirq-maintainers @vtomole

cirq-rigetti/**/*.* @erichulburd @kalzoo @dbanty @quantumlib/cirq-maintainers @vtomole

################################################
# qcvv maintainers @mrwojtek + cirq maintainers
################################################

cirq-core/cirq/experiments/**/*.* @mrwojtek @quantumlib/cirq-maintainers @vtomole

#####################################################
# docs maintainers: maintainers + @aasfaw + @rmlarose
#####################################################

docs/**/*.* @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

###################################################################
# vendor docs maintainers: vendor maintainers + @aasfaw + @rmlarose
###################################################################

docs/google/**/*.* @wcourtney @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @verult
docs/tutorials/google/**/*.* @wcourtney @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @verult

docs/hardware/ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @aasfaw @rmlarose @Cynocracy @quantumlib/cirq-maintainers @vtomole @splch

docs/hardware/aqt/**/*.* @ma5x @pschindler @alfrisch @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

docs/hardware/pasqal/**/*.* @HGSilveri @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

docs/hardware/rigetti/**/*.* @erichulburd @kalzoo @dbanty @aasfaw @quantumlib/cirq-maintainers @vtomole

docs/hardware/azure-quantum/**/*.* @guenp @anpaz @aasfaw @quantumlib/cirq-maintainers @vtomole

#############################################################
# qcvv docs maintainers: docs maintainers + mrwojtek + aasfaw
#############################################################
docs/noise/qcvv/**/*.* @mrwojtek @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

formatting updates
  cirq-core/cirq/experiments/qubit_characterizations_test.py
Owners: @mrwojtek, @quantumlib/cirq-maintainers, @vtomole

more formatting updates
  cirq-core/cirq/experiments/qubit_characterizations.py
  cirq-core/cirq/experiments/qubit_characterizations_test.py
Owners: @mrwojtek, @quantumlib/cirq-maintainers, @vtomole

Address review comments for PR #7390
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_cz.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_cz_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Add unit test for.
  cirq-google/cirq_google/engine/engine_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Address review comments for PR #7390 (#7441)
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_cz.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_cz_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

fixed formatting + errors
  cirq-core/cirq/experiments/qubit_characterizations.py
  cirq-core/cirq/experiments/qubit_characterizations_test.py
Owners: @mrwojtek, @quantumlib/cirq-maintainers, @vtomole

Add noise gates to cirq_google serialization
  cirq-google/cirq_google/api/v2/program.proto
  cirq-google/cirq_google/api/v2/program_pb2.py
  cirq-google/cirq_google/api/v2/program_pb2.pyi
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Fix formatting.
  cirq-google/cirq_google/engine/engine_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Fix typecheck
  cirq-google/cirq_google/serialization/circuit_serializer.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

AnalogDetuneCouplerOnly
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/json_resolver_cache.py
  cirq-google/cirq_google/json_test_data/AnalogDetuneCouplerOnly.json
  cirq-google/cirq_google/json_test_data/AnalogDetuneCouplerOnly.repr
  cirq-google/cirq_google/ops/__init__.py
  cirq-google/cirq_google/ops/analog_detune_gates.py
  cirq-google/cirq_google/ops/analog_detune_gates_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Add docstring
  cirq-google/cirq_google/json_test_data/AnalogDetuneCouplerOnly.repr
  cirq-google/cirq_google/ops/analog_detune_gates.py
  cirq-google/cirq_google/ops/analog_detune_gates_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

typecheck2
  cirq-google/cirq_google/serialization/circuit_serializer.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Permit installation for Python 3.10
  cirq-aqt/setup.py
  cirq-google/setup.py
  cirq-ionq/setup.py
  cirq-pasqal/setup.py
  cirq-rigetti/setup.py
  cirq-web/setup.py
  setup.py
Owners: @ma5x, @pschindler, @alfrisch, @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult, @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @splch, @HGSilveri, @erichulburd, @kalzoo, @dbanty

typo
  cirq-google/cirq_google/serialization/circuit_serializer.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Change all python_requires values
  cirq-core/setup.py
Owners: @quantumlib/cirq-maintainers, @vtomole

And drop redundant parentheses in test
  dev_tools/modules_test_data/mod1/setup.py
Owners: @quantumlib/cirq-maintainers, @vtomole

test
  cirq-google/cirq_google/json_test_data/AnalogDetuneCouplerOnly.repr
  cirq-google/cirq_google/ops/analog_detune_gates_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Let loose the runtime check of Python version too
  cirq-core/cirq/_version.py
  cirq-google/cirq_google/_version.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult

Fix repr
  cirq-google/cirq_google/json_test_data/AnalogDetuneCouplerOnly.repr
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Permit installation for Python 3.10 (docs build only) (#7445)
  cirq-aqt/setup.py
  cirq-core/cirq/_version.py
  cirq-core/setup.py
  cirq-google/cirq_google/_version.py
  cirq-google/setup.py
  cirq-ionq/setup.py
  cirq-pasqal/setup.py
  cirq-rigetti/setup.py
  cirq-web/setup.py
  dev_tools/modules_test_data/mod1/setup.py
  setup.py
Owners: @ma5x, @pschindler, @alfrisch, @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult, @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @splch, @HGSilveri, @erichulburd, @kalzoo, @dbanty

More format updates.
  cirq-google/cirq_google/engine/engine.py
  cirq-google/cirq_google/engine/engine_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

fix coverage
  cirq-google/cirq_google/ops/analog_detune_gates_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

checkpoint
  cirq-core/cirq/experiments/qubit_characterizations.py
  cirq-core/cirq/experiments/qubit_characterizations_test.py
Owners: @mrwojtek, @quantumlib/cirq-maintainers, @vtomole

nits
  cirq-core/cirq/experiments/qubit_characterizations.py
  cirq-core/cirq/experiments/qubit_characterizations_test.py
Owners: @mrwojtek, @quantumlib/cirq-maintainers, @vtomole

lint
  cirq-core/cirq/experiments/qubit_characterizations.py
Owners: @mrwojtek, @quantumlib/cirq-maintainers, @vtomole

Update cirq-core/cirq/experiments/qubit_characterizations.py
  cirq-core/cirq/experiments/qubit_characterizations.py
Owners: @mrwojtek, @quantumlib/cirq-maintainers, @vtomole

No-op change to trigger notebook test in the CI
  docs/simulate/qvm_basic_example.ipynb
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole

Temporarily run the notebooks-branch test on mac
  .github/workflows/ci.yml
Owners: @quantumlib/cirq-maintainers, @vtomole

Rebuild Cirq-web bundle files
  cirq-web/cirq_web/dist/bloch_sphere.bundle.js
  cirq-web/cirq_web/dist/circuit.bundle.js
Owners: @quantumlib/cirq-maintainers, @vtomole

Let us unify version specs for types-requests and requests
  dev_tools/requirements/deps/mypy.txt
Owners: @quantumlib/cirq-maintainers, @vtomole

CI - disable cirq-rigetti tests (#7433)
  .github/workflows/ci-daily.yml
  .github/workflows/ci.yml
  check/mypy
  cirq-core/cirq/protocols/hash_from_pickle_test.py
  cirq-core/cirq/protocols/json_serialization_test.py
  dev_tools/conf/mypy.ini
  dev_tools/requirements/deps/cirq-all-no-contrib.txt
Owners: @quantumlib/cirq-maintainers, @vtomole

Combine cirq-web updates (#7456)
  cirq-web/cirq_web/dist/bloch_sphere.bundle.js
  cirq-web/cirq_web/dist/circuit.bundle.js
  cirq-web/cirq_web/package-lock.json
  cirq-web/cirq_web/package.json
Owners: @quantumlib/cirq-maintainers, @vtomole

Combine mypy version updates (#7457)
  dev_tools/requirements/deps/mypy.txt
Owners: @quantumlib/cirq-maintainers, @vtomole

Nit - sync docstring with function arguments
  cirq-core/cirq/contrib/paulistring/pauli_string_measurement_with_readout_mitigation.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Fix unintentional dropping of circuits in a loop
  cirq-core/cirq/contrib/paulistring/pauli_string_measurement_with_readout_mitigation_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Nit - avoid repeated list construction
  cirq-core/cirq/contrib/paulistring/pauli_string_measurement_with_readout_mitigation.py
  cirq-core/cirq/contrib/paulistring/pauli_string_measurement_with_readout_mitigation_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Fix possible KeyError in test_process_pauli_measurement_results_raises_error_on_missing_calibration
  cirq-core/cirq/contrib/paulistring/pauli_string_measurement_with_readout_mitigation_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Make changes based on Nour's suggestions
  cirq-core/cirq/contrib/shuffle_circuits/__init__.py
  cirq-core/cirq/contrib/shuffle_circuits/shuffle_circuits_with_readout_benchmarking.py
  cirq-core/cirq/contrib/shuffle_circuits/shuffle_circuits_with_readout_benchmarking_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Fix tests and lint
  cirq-core/cirq/contrib/paulistring/pauli_string_measurement_with_readout_mitigation.py
  cirq-core/cirq/contrib/shuffle_circuits/shuffle_circuits_with_readout_benchmarking.py
  cirq-core/cirq/contrib/shuffle_circuits/shuffle_circuits_with_readout_benchmarking_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Cleaning up the code. Fix linting and other format errors.
  cirq-ionq/cirq_ionq/serializer.py
Owners: @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @quantumlib/cirq-maintainers, @vtomole, @splch
