Repository quantumlib/Cirq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult, @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @splch, @ma5x, @pschindler, @alfrisch, @HGSilveri, @erichulburd, @kalzoo, @dbanty, @mrwojtek, @aasfaw, @rmlarose, @guenp, @anpaz

.github/CODEOWNERS:

####################
# cirq maintainers
####################

* @quantumlib/cirq-maintainers @vtomole

####################
# vendor maintainers
####################

cirq-google/**/*.* @wcourtney @quantumlib/cirq-maintainers @vtomole @verult

cirq-ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @Cynocracy @quantumlib/cirq-maintainers @vtomole @splch

cirq-aqt/**/*.* @ma5x @pschindler @alfrisch @quantumlib/cirq-maintainers @vtomole

cirq-pasqal/**/*.* @HGSilveri @quantumlib/cirq-maintainers @vtomole

cirq-rigetti/**/*.* @erichulburd @kalzoo @dbanty @quantumlib/cirq-maintainers @vtomole

################################################
# qcvv maintainers @mrwojtek + cirq maintainers
################################################

cirq-core/cirq/experiments/**/*.* @mrwojtek @quantumlib/cirq-maintainers @vtomole

#####################################################
# docs maintainers: maintainers + @aasfaw + @rmlarose
#####################################################

docs/**/*.* @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

###################################################################
# vendor docs maintainers: vendor maintainers + @aasfaw + @rmlarose
###################################################################

docs/google/**/*.* @wcourtney @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @verult
docs/tutorials/google/**/*.* @wcourtney @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @verult

docs/hardware/ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @aasfaw @rmlarose @Cynocracy @quantumlib/cirq-maintainers @vtomole @splch

docs/hardware/aqt/**/*.* @ma5x @pschindler @alfrisch @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

docs/hardware/pasqal/**/*.* @HGSilveri @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

docs/hardware/rigetti/**/*.* @erichulburd @kalzoo @dbanty @aasfaw @quantumlib/cirq-maintainers @vtomole

docs/hardware/azure-quantum/**/*.* @guenp @anpaz @aasfaw @quantumlib/cirq-maintainers @vtomole

#############################################################
# qcvv docs maintainers: docs maintainers + mrwojtek + aasfaw
#############################################################
docs/noise/qcvv/**/*.* @mrwojtek @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

fix
  cirq-google/cirq_google/json_test_data/AnalogDetuneQubit.repr
  cirq-google/cirq_google/ops/analog_detune_gates.py
  cirq-google/cirq_google/ops/analog_detune_gates_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

repr
  cirq-google/cirq_google/json_test_data/AnalogDetuneQubit.repr
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

json
  cirq-google/cirq_google/json_test_data/AnalogDetuneQubit.json
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

remove comma
  cirq-google/cirq_google/json_test_data/AnalogDetuneQubit.json
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

json
  cirq-google/cirq_google/json_test_data/AnalogDetuneQubit.json
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

coverage
  cirq-google/cirq_google/ops/analog_detune_gates.py
  cirq-google/cirq_google/ops/analog_detune_gates_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Improve dd perf by constructing Circuit via from_moments
  cirq-core/cirq/transformers/dynamical_decoupling.py
Owners: @quantumlib/cirq-maintainers, @vtomole

coverage
  cirq-google/cirq_google/ops/analog_detune_gates_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Revert "Prefer testing the public `cirq.decompose` API"
  cirq-core/cirq/ops/raw_types_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Fix test assertion in raw_types_test.py. (#7401)
  cirq-core/cirq/ops/raw_types_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

coverage
  cirq-google/cirq_google/ops/analog_detune_gates.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Update dd with faster circuit construction (#7431)
  cirq-core/cirq/transformers/dynamical_decoupling.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Update docstring
  cirq-google/cirq_google/ops/analog_detune_gates.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Make changes based on @Nour's suggestions.
  cirq-core/cirq/contrib/paulistring/pauli_string_measurement_with_readout_mitigation.py
  cirq-core/cirq/contrib/paulistring/pauli_string_measurement_with_readout_mitigation_test.py
  cirq-core/cirq/experiments/single_qubit_readout_calibration.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @mrwojtek

Fix lint
  cirq-core/cirq/contrib/paulistring/pauli_string_measurement_with_readout_mitigation.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Fix format
  cirq-core/cirq/contrib/paulistring/pauli_string_measurement_with_readout_mitigation.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Combining readout circuits for QWC pauli strings in the ```measure_pauli_strings``` method (#7416)
  cirq-core/cirq/contrib/paulistring/pauli_string_measurement_with_readout_mitigation.py
  cirq-core/cirq/contrib/paulistring/pauli_string_measurement_with_readout_mitigation_test.py
  cirq-core/cirq/experiments/single_qubit_readout_calibration.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @mrwojtek

Remove cirq-rigetti tests from ci-daily.yml
  .github/workflows/ci-daily.yml
Owners: @quantumlib/cirq-maintainers, @vtomole

Make `willow_pink` the default processor in noisy_simulation.ipynb
  docs/simulate/noisy_simulation.ipynb
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole

update kraus protocol to add apply_channel fallback
  cirq-core/cirq/protocols/kraus_protocol.py
  cirq-core/cirq/protocols/kraus_protocol_test.py
  cirq-core/cirq/testing/circuit_compare.py
Owners: @quantumlib/cirq-maintainers, @vtomole

.
  cirq-core/cirq/testing/circuit_compare.py
Owners: @quantumlib/cirq-maintainers, @vtomole

.
  cirq-core/cirq/testing/circuit_compare.py
Owners: @quantumlib/cirq-maintainers, @vtomole

.
  cirq-core/cirq/protocols/kraus_protocol.py
Owners: @quantumlib/cirq-maintainers, @vtomole

.
  cirq-core/cirq/protocols/kraus_protocol_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

.
  cirq-core/cirq/protocols/kraus_protocol_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

.
  cirq-core/cirq/protocols/kraus_protocol_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

.
  cirq-core/cirq/contrib/paulistring/pauli_string_measurement_with_readout_mitigation.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Fix pylint.
  cirq-core/cirq/transformers/merge_single_qubit_gates_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Fix pylint
  cirq-core/cirq/transformers/merge_single_qubit_gates_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Update cirq-core/cirq/ops/three_qubit_gates.py
  cirq-core/cirq/ops/three_qubit_gates.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Update cirq-core/cirq/ops/controlled_gate_test.py
  cirq-core/cirq/ops/controlled_gate_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Remove cirq-rigetti tests from ci.yml
  .github/workflows/ci.yml
Owners: @quantumlib/cirq-maintainers, @vtomole

Hardcode exclusion of cirq_rigetti in cirq-core unit tests
  cirq-core/cirq/protocols/hash_from_pickle_test.py
  cirq-core/cirq/protocols/json_serialization_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Drop cirq-rigetti requirements from dev.env.txt
  dev_tools/requirements/deps/cirq-all-no-contrib.txt
Owners: @quantumlib/cirq-maintainers, @vtomole

REVERT ME - temporarily activate ci-daily and ci-weekly in pull requests
  .github/workflows/ci-daily.yml
  .github/workflows/ci-weekly.yml
Owners: @quantumlib/cirq-maintainers, @vtomole

exclude cirq-rigetti from typecheck
  check/mypy
  dev_tools/conf/mypy.ini
Owners: @quantumlib/cirq-maintainers, @vtomole

Revert "REVERT ME - temporarily activate ci-daily and ci-weekly in pull requests"
  .github/workflows/ci-daily.yml
  .github/workflows/ci-weekly.yml
Owners: @quantumlib/cirq-maintainers, @vtomole

Support merge symbolized 1 qubit gate transformer (#7393)
  cirq-core/cirq/__init__.py
  cirq-core/cirq/transformers/__init__.py
  cirq-core/cirq/transformers/merge_single_qubit_gates.py
  cirq-core/cirq/transformers/merge_single_qubit_gates_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Allow users to run readout benchmarking with sweep
  cirq-core/cirq/contrib/shuffle_circuits/__init__.py
  cirq-core/cirq/contrib/shuffle_circuits/shuffle_circuits_with_readout_benchmarking.py
  cirq-core/cirq/contrib/shuffle_circuits/shuffle_circuits_with_readout_benchmarking_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Ensure QVM notebooks use development version of cirq
  docs/hardware/qubit_picking.ipynb
  docs/simulate/noisy_simulation.ipynb
  docs/simulate/quantum_virtual_machine.ipynb
  docs/simulate/qvm_basic_example.ipynb
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole
