Repository quantumlib/Cirq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult, @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @splch, @ma5x, @pschindler, @alfrisch, @HGSilveri, @erichulburd, @kalzoo, @dbanty, @mrwojtek, @aasfaw, @rmlarose, @guenp, @anpaz

.github/CODEOWNERS:

####################
# cirq maintainers
####################

* @quantumlib/cirq-maintainers @vtomole

####################
# vendor maintainers
####################

cirq-google/**/*.* @wcourtney @quantumlib/cirq-maintainers @vtomole @verult

cirq-ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @Cynocracy @quantumlib/cirq-maintainers @vtomole @splch

cirq-aqt/**/*.* @ma5x @pschindler @alfrisch @quantumlib/cirq-maintainers @vtomole

cirq-pasqal/**/*.* @HGSilveri @quantumlib/cirq-maintainers @vtomole

cirq-rigetti/**/*.* @erichulburd @kalzoo @dbanty @quantumlib/cirq-maintainers @vtomole

################################################
# qcvv maintainers @mrwojtek + cirq maintainers
################################################

cirq-core/cirq/experiments/**/*.* @mrwojtek @quantumlib/cirq-maintainers @vtomole

#####################################################
# docs maintainers: maintainers + @aasfaw + @rmlarose
#####################################################

docs/**/*.* @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

###################################################################
# vendor docs maintainers: vendor maintainers + @aasfaw + @rmlarose
###################################################################

docs/google/**/*.* @wcourtney @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @verult
docs/tutorials/google/**/*.* @wcourtney @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @verult

docs/hardware/ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @aasfaw @rmlarose @Cynocracy @quantumlib/cirq-maintainers @vtomole @splch

docs/hardware/aqt/**/*.* @ma5x @pschindler @alfrisch @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

docs/hardware/pasqal/**/*.* @HGSilveri @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

docs/hardware/rigetti/**/*.* @erichulburd @kalzoo @dbanty @aasfaw @quantumlib/cirq-maintainers @vtomole

docs/hardware/azure-quantum/**/*.* @guenp @anpaz @aasfaw @quantumlib/cirq-maintainers @vtomole

#############################################################
# qcvv docs maintainers: docs maintainers + mrwojtek + aasfaw
#############################################################
docs/noise/qcvv/**/*.* @mrwojtek @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

Fix Moment.resolve_parameter for constant sympy expressions (#6794)
  cirq-core/cirq/circuits/moment.py
  cirq-core/cirq/circuits/moment_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Replace type_workarounds.NotImplementedType with types.NotImplementedType (#6790)
  cirq-core/cirq/__init__.py
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/frozen_circuit.py
  cirq-core/cirq/circuits/moment.py
  cirq-core/cirq/contrib/acquaintance/permutation.py
  cirq-core/cirq/contrib/paulistring/clifford_target_gateset.py
  cirq-core/cirq/ops/clifford_gate.py
  cirq-core/cirq/ops/common_gates.py
  cirq-core/cirq/ops/controlled_gate.py
  cirq-core/cirq/ops/controlled_gate_test.py
  cirq-core/cirq/ops/controlled_operation.py
  cirq-core/cirq/ops/controlled_operation_test.py
  cirq-core/cirq/ops/dense_pauli_string.py
  cirq-core/cirq/ops/eigen_gate.py
  cirq-core/cirq/ops/gate_operation.py
  cirq-core/cirq/ops/global_phase_op.py
  cirq-core/cirq/ops/identity.py
  cirq-core/cirq/ops/parallel_gate.py
  cirq-core/cirq/ops/pauli_gates.py
  cirq-core/cirq/ops/pauli_string.py
  cirq-core/cirq/ops/phased_x_gate.py
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/protocols/act_on_protocol.py
  cirq-core/cirq/protocols/apply_channel_protocol.py
  cirq-core/cirq/protocols/apply_mixture_protocol.py
  cirq-core/cirq/protocols/apply_unitary_protocol.py
  cirq-core/cirq/protocols/commutes_protocol.py
  cirq-core/cirq/protocols/control_key_protocol.py
  cirq-core/cirq/protocols/decompose_protocol.py
  cirq-core/cirq/protocols/json_serialization.py
  cirq-core/cirq/protocols/kraus_protocol.py
  cirq-core/cirq/protocols/measurement_key_protocol.py
  cirq-core/cirq/protocols/mixture_protocol.py
  cirq-core/cirq/protocols/qasm.py
  cirq-core/cirq/protocols/qid_shape_protocol.py
  cirq-core/cirq/protocols/unitary_protocol.py
  cirq-core/cirq/sim/clifford/stabilizer_simulation_state.py
  cirq-core/cirq/sim/simulation_state_base.py
  cirq-core/cirq/testing/consistent_protocols_test.py
  cirq-core/cirq/type_workarounds.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Create a way to encode general functions (#6788)
  cirq-google/cirq_google/api/v2/program.proto
  cirq-google/cirq_google/api/v2/program_pb2.py
  cirq-google/cirq_google/api/v2/program_pb2.pyi
  cirq-google/cirq_google/ops/internal_gate.py
  cirq-google/cirq_google/ops/internal_gate_test.py
  cirq-google/cirq_google/serialization/arg_func_langs.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Have stale bot apply `status/stale` label for both issues and PRs (#6796)
  .github/workflows/stale.yml
Owners: @quantumlib/cirq-maintainers, @vtomole

fix `phase_by` protocol for tagged operations (#6792)
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/ops/raw_types_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Remove print statement... (#6784)
  cirq-google/cirq_google/engine/processor_sampler.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Parallel XEB: Add option to specify pairs (#6787)
  cirq-core/cirq/experiments/two_qubit_xeb.py
  cirq-core/cirq/experiments/two_qubit_xeb_test.py
Owners: @mrwojtek, @quantumlib/cirq-maintainers, @vtomole

Limit the number of db reads using duet.Limiter (#6783)
  cirq-core/cirq/work/sampler.py
  cirq-core/cirq/work/sampler_test.py
  cirq-google/cirq_google/engine/engine_job.py
  cirq-google/cirq_google/engine/processor_sampler.py
  cirq-google/cirq_google/engine/processor_sampler_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult

Add DynamicalDecouplingTag to cirq-google (#6782)
  cirq-google/cirq_google/api/v2/program.proto
  cirq-google/cirq_google/api/v2/program_pb2.py
  cirq-google/cirq_google/api/v2/program_pb2.pyi
  cirq-google/cirq_google/ops/__init__.py
  cirq-google/cirq_google/ops/dynamical_decoupling_tag.py
  cirq-google/cirq_google/ops/dynamical_decoupling_tag_test.py
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Add throttle for jobs run with ProcessorSampler (#6786)
  cirq-core/cirq/work/sampler.py
  cirq-google/cirq_google/engine/engine_job.py
  cirq-google/cirq_google/engine/engine_processor.py
  cirq-google/cirq_google/engine/processor_sampler.py
  cirq-google/cirq_google/engine/processor_sampler_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult

Force decimals in scientific notation for OpenQASM 2.0 (#6802)
  cirq-core/cirq/protocols/qasm.py
  cirq-core/cirq/protocols/qasm_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Add parsing of the reset instruction to QASM parser (#6710)
  cirq-core/cirq/contrib/qasm_import/_lexer.py
  cirq-core/cirq/contrib/qasm_import/_parser.py
  cirq-core/cirq/contrib/qasm_import/_parser_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Add Concat to cirq-google sweep proto (#6821)
  cirq-google/cirq_google/api/v2/run_context.proto
  cirq-google/cirq_google/api/v2/run_context_pb2.py
  cirq-google/cirq_google/api/v2/run_context_pb2.pyi
  cirq-google/cirq_google/api/v2/sweeps.py
  cirq-google/cirq_google/api/v2/sweeps_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Add zip_longest support to the cirq_google sweep proto (#6815)
  cirq-google/cirq_google/api/v2/run_context.proto
  cirq-google/cirq_google/api/v2/run_context_pb2.py
  cirq-google/cirq_google/api/v2/run_context_pb2.pyi
  cirq-google/cirq_google/api/v2/sweeps.py
  cirq-google/cirq_google/api/v2/sweeps_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Divert cirq.Sampler's run_batch to run_batch_async (#6813)
  cirq-core/cirq/work/sampler.py
  cirq-google/cirq_google/engine/validating_sampler.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult

Allow measurement keys with differing qubits in OpenQASM (#6803)
  cirq-core/cirq/circuits/qasm_output.py
  cirq-core/cirq/circuits/qasm_output_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Support "cu1", "cu3", and "crz" in QasmParser (#6820)
  cirq-core/cirq/contrib/qasm_import/_parser.py
  cirq-core/cirq/contrib/qasm_import/_parser_test.py
  docs/build/interop.ipynb
Owners: @quantumlib/cirq-maintainers, @vtomole, @aasfaw, @rmlarose

Add option to specify batch size (#6809)
  cirq-core/cirq/experiments/two_qubit_xeb.py
Owners: @mrwojtek, @quantumlib/cirq-maintainers, @vtomole

Preliminary support for parsing OpenQASM 3.0 (#6797)
  cirq-core/cirq/contrib/qasm_import/_lexer.py
  cirq-core/cirq/contrib/qasm_import/_parser.py
  cirq-core/cirq/contrib/qasm_import/_parser_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Fix dependabot configuration (#6822)
  .github/dependabot.yml
Owners: @quantumlib/cirq-maintainers, @vtomole

disable streaming by default (#6818)
  cirq-google/cirq_google/engine/engine.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

vectorize readout mitigation (#6812)
  cirq-core/cirq/experiments/readout_confusion_matrix.py
Owners: @mrwojtek, @quantumlib/cirq-maintainers, @vtomole

Add Concat to Sweeps (#6819)
  cirq-core/cirq/__init__.py
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/protocols/json_test_data/Concat.json
  cirq-core/cirq/protocols/json_test_data/Concat.repr
  cirq-core/cirq/study/__init__.py
  cirq-core/cirq/study/sweeps.py
  cirq-core/cirq/study/sweeps_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Adjust labels added to PRs by Dependabot (#6806)
  .github/dependabot.yml
Owners: @quantumlib/cirq-maintainers, @vtomole

Update docs to use quantumai-oss-maintainers@googlegroups.com (#6804)
  CODE_OF_CONDUCT.md
  README.rst
Owners: @quantumlib/cirq-maintainers, @vtomole

Fix some typos on the engine documentation page (#6890)
  docs/google/engine.md
Owners: @wcourtney, @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole, @verult

Fix exponent location on classically controlled diagrams (#6897)
  cirq-core/cirq/ops/classically_controlled_operation.py
  cirq-core/cirq/ops/classically_controlled_operation_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Add more informative message for improper cirq.qasm arguments. (#6905)
  cirq-core/cirq/protocols/qasm.py
  cirq-core/cirq/protocols/qasm_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Add ability to pass tags to XEB and related methods (#6836)
  cirq-core/cirq/experiments/random_quantum_circuit_generation.py
  cirq-core/cirq/experiments/random_quantum_circuit_generation_test.py
  cirq-core/cirq/experiments/two_qubit_xeb.py
  cirq-core/cirq/experiments/z_phase_calibration.py
Owners: @mrwojtek, @quantumlib/cirq-maintainers, @vtomole

make DensityMatrixSimulator more numerically stable (#6850)
  cirq-core/cirq/sim/simulation_utils.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Use strategy "increase-if-necessary" in dependabot.yml (#6839)
  .github/dependabot.yml
Owners: @quantumlib/cirq-maintainers, @vtomole

allow passing a callable to de/serialization funcs (#6855)
  cirq-google/cirq_google/api/v2/sweeps.py
  cirq-google/cirq_google/api/v2/sweeps_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Combine acceptable dependabot updates for Python (#6853)
  dev_tools/requirements/deps/format.txt
  dev_tools/requirements/deps/mypy.txt
Owners: @quantumlib/cirq-maintainers, @vtomole

Create a transformer cancels the effect of Z-phases (#6837)
  cirq-core/cirq/experiments/z_phase_calibration.py
  cirq-core/cirq/experiments/z_phase_calibration_test.py
  cirq-core/cirq/ops/fsim_gate.py
  cirq-core/cirq/ops/fsim_gate_test.py
Owners: @mrwojtek, @quantumlib/cirq-maintainers, @vtomole

Support serialization of sweeps with tunits (#6829)
  cirq-google/cirq_google/api/v2/run_context.proto
  cirq-google/cirq_google/api/v2/run_context_pb2.py
  cirq-google/cirq_google/api/v2/run_context_pb2.pyi
  cirq-google/cirq_google/api/v2/sweeps.py
  cirq-google/cirq_google/api/v2/sweeps_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Combine passing dependabot updates for cirq-web (#6854)
  cirq-web/cirq_ts/package-lock.json
  cirq-web/cirq_ts/package.json
Owners: @quantumlib/cirq-maintainers, @vtomole

Infer QASM for classical KeyConditions in circuit (#6871)
  cirq-core/cirq/circuits/qasm_output.py
  cirq-core/cirq/ops/classically_controlled_operation.py
  cirq-core/cirq/ops/classically_controlled_operation_test.py
  cirq-core/cirq/protocols/qasm.py
  cirq-core/cirq/value/condition.py
  cirq-core/cirq/value/condition_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Multiple fixes and enhancements to dependabot.yml (#6834)
  .github/dependabot.yml
Owners: @quantumlib/cirq-maintainers, @vtomole

Disable local Google Cloud credentials in tests (#6851)
  dev_tools/conftest.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Support run_sweep in GaugeTransformer. Pioneered in the CZ Gauge. (#6852)
  cirq-core/cirq/transformers/gauge_compiling/cz_gauge.py
  cirq-core/cirq/transformers/gauge_compiling/cz_gauge_test.py
  cirq-core/cirq/transformers/gauge_compiling/gauge_compiling.py
  cirq-core/cirq/transformers/gauge_compiling/gauge_compiling_test.py
  cirq-core/cirq/transformers/gauge_compiling/gauge_compiling_test_utils.py
  cirq-core/cirq/transformers/gauge_compiling/gauge_compiling_test_utils_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole
