Repository quantumlib/Cirq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult, @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @splch, @ma5x, @pschindler, @alfrisch, @HGSilveri, @erichulburd, @kalzoo, @dbanty, @mrwojtek, @aasfaw, @rmlarose, @guenp, @anpaz

Combine passing dependabot updates for cirq-web (#6861)
  cirq-web/cirq_ts/package-lock.json
  cirq-web/cirq_ts/package.json
Owners: @quantumlib/cirq-maintainers, @vtomole

Replace references to "master" branch with "main" (#6888)
  cirq-google/cirq_google/devices/grid_device.py
  cirq-web/README.rst
  dev_tools/conf/.pylintrc
  dev_tools/triage-party/README.md
  release.md
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Increase stale issue time & enhance stale bot config (#6924)
  .github/workflows/stale.yml
Owners: @quantumlib/cirq-maintainers, @vtomole

CircuitOperation: change use_repetition_ids default to False (#6910)
  cirq-core/cirq/circuits/circuit_operation.py
  cirq-core/cirq/circuits/circuit_operation_test.py
  cirq-core/cirq/ops/classically_controlled_operation_test.py
  cirq-core/cirq/protocols/json_test_data/CircuitOperation.json
  cirq-core/cirq/protocols/json_test_data/CircuitOperation.repr_inward
Owners: @quantumlib/cirq-maintainers, @vtomole

Return NotImplemented for diagram info for empty PauliStringPhasors (#6880)
  cirq-core/cirq/ops/pauli_string_phasor.py
  cirq-core/cirq/ops/pauli_string_phasor_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Re-enable streaming Engine interface. (#6930)
  cirq-google/cirq_google/engine/engine.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Fix documentation for PhasedXZGate (#6870)
  cirq-core/cirq/ops/phased_x_z_gate.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Add maintainer and maintainer_email fields to setup.py (#6887)
  cirq-aqt/setup.py
  cirq-core/setup.py
  cirq-google/setup.py
  cirq-ionq/setup.py
  cirq-pasqal/setup.py
  cirq-rigetti/setup.py
  cirq-web/setup.py
  dev_tools/modules_test.py
  dev_tools/modules_test_data/mod1/setup.py
  setup.py
Owners: @ma5x, @pschindler, @alfrisch, @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult, @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @splch, @HGSilveri, @erichulburd, @kalzoo, @dbanty

Add documentation for QASM export (#6891)
  dev_tools/notebooks/isolated_notebook_test.py
  docs/build/interop.ipynb
Owners: @quantumlib/cirq-maintainers, @vtomole, @aasfaw, @rmlarose

Add examples for transform_qubits function (#6915)
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/ops/raw_types.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Add PyPI Trove classifiers to setup.py files (#6892)
  cirq-aqt/setup.py
  cirq-core/setup.py
  cirq-google/setup.py
  cirq-ionq/setup.py
  cirq-pasqal/setup.py
  cirq-rigetti/setup.py
  cirq-web/setup.py
  setup.py
Owners: @ma5x, @pschindler, @alfrisch, @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult, @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @splch, @HGSilveri, @erichulburd, @kalzoo, @dbanty

Fix flaky curve fitting tests (#6916)
  cirq-core/cirq/experiments/xeb_fitting.py
Owners: @mrwojtek, @quantumlib/cirq-maintainers, @vtomole

Avoid flaky test execution in z_phase_calibration_test (#6928)
  cirq-core/cirq/experiments/z_phase_calibration_test.py
Owners: @mrwojtek, @quantumlib/cirq-maintainers, @vtomole

Revert "Add PyPI Trove classifiers to setup.py files (#6892)" (#6937)
  cirq-aqt/setup.py
  cirq-core/setup.py
  cirq-google/setup.py
  cirq-ionq/setup.py
  cirq-pasqal/setup.py
  cirq-rigetti/setup.py
  cirq-web/setup.py
  setup.py
Owners: @ma5x, @pschindler, @alfrisch, @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult, @dabacon, @ColemanCollins, @nakardo, @gmauricio, @Cynocracy, @splch, @HGSilveri, @erichulburd, @kalzoo, @dbanty

Add metadata into single sweep (#6869)
  cirq-google/cirq_google/api/v2/run_context.proto
  cirq-google/cirq_google/api/v2/run_context_pb2.py
  cirq-google/cirq_google/api/v2/run_context_pb2.pyi
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Add bitwise option to Sympy evaluator for classical controls (#6914)
  cirq-core/cirq/_compat.py
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/ops/classically_controlled_operation_test.py
  cirq-core/cirq/protocols/hash_from_pickle_test.py
  cirq-core/cirq/protocols/json_serialization.py
  cirq-core/cirq/protocols/json_test_data/SympyCondition.json
  cirq-core/cirq/protocols/json_test_data/SympyCondition.repr
  cirq-core/cirq/protocols/json_test_data/sympy.And.json
  cirq-core/cirq/protocols/json_test_data/sympy.And.repr
  cirq-core/cirq/protocols/json_test_data/sympy.Indexed.json
  cirq-core/cirq/protocols/json_test_data/sympy.Indexed.repr
  cirq-core/cirq/protocols/json_test_data/sympy.IndexedBase.json
  cirq-core/cirq/protocols/json_test_data/sympy.IndexedBase.repr
  cirq-core/cirq/protocols/json_test_data/sympy.Not.json
  cirq-core/cirq/protocols/json_test_data/sympy.Not.repr
  cirq-core/cirq/protocols/json_test_data/sympy.Or.json
  cirq-core/cirq/protocols/json_test_data/sympy.Or.repr
  cirq-core/cirq/protocols/json_test_data/sympy.Xor.json
  cirq-core/cirq/protocols/json_test_data/sympy.Xor.repr
  cirq-core/cirq/value/condition.py
  cirq-core/cirq/value/condition_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Apply as_sweep for iswap_gauge, spin_inversion_gauge, sqrt_iswap_gauge (#6911)
  cirq-core/cirq/transformers/gauge_compiling/gauge_compiling.py
  cirq-core/cirq/transformers/gauge_compiling/iswap_gauge.py
  cirq-core/cirq/transformers/gauge_compiling/iswap_gauge_test.py
  cirq-core/cirq/transformers/gauge_compiling/spin_inversion_gauge.py
  cirq-core/cirq/transformers/gauge_compiling/spin_inversion_gauge_test.py
  cirq-core/cirq/transformers/gauge_compiling/sqrt_iswap_gauge.py
  cirq-core/cirq/transformers/gauge_compiling/sqrt_iswap_gauge_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Fix diagram for Identity with no qubits (#6926)
  cirq-core/cirq/ops/identity.py
  cirq-core/cirq/ops/identity_test.py
  cirq-core/cirq/protocols/circuit_diagram_info_protocol.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Add recommended files for community support & update CONTRIBUTING.md (#6898)
  .github/SECURITY.md
  CITATION.cff
  CONTRIBUTING.md
  SUPPORT.md
Owners: @quantumlib/cirq-maintainers, @vtomole

Improve __str__ and __repr__ for SingleQubitCliffordGate (issue #6326) (#6920)
  cirq-core/cirq/ops/clifford_gate.py
  cirq-core/cirq/ops/clifford_gate_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Add versioning strategy for npm updates (#6867)
  .github/dependabot.yml
Owners: @quantumlib/cirq-maintainers, @vtomole

Disallow passing types as tags (#6947)
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/ops/raw_types_test.py
  cirq-google/cirq_google/devices/google_noise_properties.py
  cirq-google/cirq_google/devices/google_noise_properties_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole, @wcourtney, @verult

Trivial changes to Codecov config file (#6904)
  .codecov.yaml
  codecov.yml
Owners: @quantumlib/cirq-maintainers, @vtomole

Consider all-false invert_mask equal to no invert_mask (#6952)
  cirq-core/cirq/ops/measurement_gate.py
  cirq-core/cirq/ops/measurement_gate_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Fix dd issue in calling PauliString.after. (#6943)
  cirq-core/cirq/transformers/dynamical_decoupling.py
  cirq-core/cirq/transformers/dynamical_decoupling_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Remove notebooks refering to removed service (#6580)
  dev_tools/notebooks/isolated_notebook_test.py
  dev_tools/notebooks/notebook_test.py
  docs/noise/_index.yaml
  docs/noise/calibration_api.ipynb
  docs/noise/calibration_faq.md
  docs/noise/floquet_calibration_example.ipynb
Owners: @quantumlib/cirq-maintainers, @vtomole, @aasfaw, @rmlarose

Add info to examples/README.rst & convert to Markdown (#6889)
  examples/README.md
  examples/README.rst
Owners: @quantumlib/cirq-maintainers, @vtomole

Adjust some more TeX expressions for rendering in web docs (#6942)
  cirq-core/cirq/experiments/qubit_characterizations.py
  cirq-core/cirq/ops/common_channels.py
  cirq-core/cirq/ops/phased_x_z_gate.py
  cirq-core/cirq/testing/sample_gates.py
Owners: @mrwojtek, @quantumlib/cirq-maintainers, @vtomole

s/Unitary Fund/Unitary Foundation/ (#6938)
  docs/build/ecosystem.md
Owners: @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole

Add Markdown file linter (#6895)
  .markdownlintrc
Owners: @quantumlib/cirq-maintainers, @vtomole

Make qubits a memoized property of Moment (#6894)
  cirq-core/cirq/circuits/moment.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Fix qasm tests for qiskit 1.0 (#6927)
  cirq-core/cirq/testing/consistent_qasm.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Support inverse gate JSON seralization (#6912)
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/ops/gate_operation_test.py
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/protocols/json_test_data/_InverseCompositeGate.json
  cirq-core/cirq/protocols/json_test_data/_InverseCompositeGate.repr
Owners: @quantumlib/cirq-maintainers, @vtomole

Remove references to run_batch in engine docs (#6948)
  docs/google/best_practices.ipynb
  docs/google/engine.md
Owners: @wcourtney, @aasfaw, @rmlarose, @quantumlib/cirq-maintainers, @vtomole, @verult

Add manually-triggered debugging workflow (#6918)
  .github/workflows/pytest-debug.yaml
Owners: @quantumlib/cirq-maintainers, @vtomole

Handle qudits in drop_terminal_measurements (#6879)
  cirq-core/cirq/transformers/measurement_transformers.py
  cirq-core/cirq/transformers/measurement_transformers_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Pass `sweep_transformer` recursively (#6951)
  cirq-google/cirq_google/api/v2/sweeps.py
  cirq-google/cirq_google/api/v2/sweeps_test.py
Owners: @wcourtney, @quantumlib/cirq-maintainers, @vtomole, @verult

Support custom gate defintions in QASM parser (#6917)
  cirq-core/cirq/circuits/qasm_output.py
  cirq-core/cirq/contrib/qasm_import/_lexer.py
  cirq-core/cirq/contrib/qasm_import/_lexer_test.py
  cirq-core/cirq/contrib/qasm_import/_parser.py
  cirq-core/cirq/contrib/qasm_import/_parser_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Fix order preservation in align_right (#6899)
  cirq-core/cirq/transformers/align.py
  cirq-core/cirq/transformers/align_test.py
Owners: @quantumlib/cirq-maintainers, @vtomole

Add construction examples to docstrings of ClassicallyControlledOperation (#6913)
  cirq-core/cirq/ops/classically_controlled_operation.py
Owners: @quantumlib/cirq-maintainers, @vtomole

.github/CODEOWNERS:

####################
# cirq maintainers
####################

* @quantumlib/cirq-maintainers @vtomole

####################
# vendor maintainers
####################

cirq-google/**/*.* @wcourtney @quantumlib/cirq-maintainers @vtomole @verult

cirq-ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @Cynocracy @quantumlib/cirq-maintainers @vtomole @splch

cirq-aqt/**/*.* @ma5x @pschindler @alfrisch @quantumlib/cirq-maintainers @vtomole

cirq-pasqal/**/*.* @HGSilveri @quantumlib/cirq-maintainers @vtomole

cirq-rigetti/**/*.* @erichulburd @kalzoo @dbanty @quantumlib/cirq-maintainers @vtomole

################################################
# qcvv maintainers @mrwojtek + cirq maintainers
################################################

cirq-core/cirq/experiments/**/*.* @mrwojtek @quantumlib/cirq-maintainers @vtomole

#####################################################
# docs maintainers: maintainers + @aasfaw + @rmlarose
#####################################################

docs/**/*.* @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

###################################################################
# vendor docs maintainers: vendor maintainers + @aasfaw + @rmlarose
###################################################################

docs/google/**/*.* @wcourtney @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @verult
docs/tutorials/google/**/*.* @wcourtney @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole @verult

docs/hardware/ionq/**/*.* @dabacon @ColemanCollins @nakardo @gmauricio @aasfaw @rmlarose @Cynocracy @quantumlib/cirq-maintainers @vtomole @splch

docs/hardware/aqt/**/*.* @ma5x @pschindler @alfrisch @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

docs/hardware/pasqal/**/*.* @HGSilveri @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole

docs/hardware/rigetti/**/*.* @erichulburd @kalzoo @dbanty @aasfaw @quantumlib/cirq-maintainers @vtomole

docs/hardware/azure-quantum/**/*.* @guenp @anpaz @aasfaw @quantumlib/cirq-maintainers @vtomole

#############################################################
# qcvv docs maintainers: docs maintainers + mrwojtek + aasfaw
#############################################################
docs/noise/qcvv/**/*.* @mrwojtek @aasfaw @rmlarose @quantumlib/cirq-maintainers @vtomole
