Repository quantumlib/Cirq, pull requests merged in 2018-12, with the labels that each got.

#1217 Add phase_exponent to XPowGate and YPowGate
  cirq/ops/common_gates.py
  cirq/ops/phased_x_gate_test.py
Labels: cla: yes

#1209 Use same type for measurement results everywhere
  cirq/google/sim/xmon_simulator_test.py
  cirq/google/sim/xmon_stepper_test.py
  cirq/sim/simulator.py
  cirq/sim/sparse_simulator.py
  cirq/sim/sparse_simulator_test.py
  cirq/sim/wave_function.py
  cirq/sim/wave_function_test.py
  cirq/study/trial_result.py
  docs/conf.py
Labels: automerge, cla: yes

#1218 Correct and update Circuit docstring with available methods
  cirq/circuits/circuit.py
Labels: automerge, cla: yes

#1203 Make PauliString an Operation
  cirq/contrib/paulistring/pauli_string_raw_types.py
  cirq/ops/clifford_gate.py
  cirq/ops/pauli_string.py
  cirq/ops/pauli_string_test.py
Labels: cla: yes

#1199 Add option to skip cleanup in two qubit decomposition
  cirq/google/convert_to_xmon_gates.py
  cirq/optimizers/merge_interactions.py
  cirq/optimizers/two_qubit_decompositions.py
  cirq/optimizers/two_qubit_decompositions_test.py
Labels: Ready for Re-Review, cla: yes

#1194 Implement approximate equality protocol
  cirq/__init__.py
  cirq/protocols/__init__.py
  cirq/protocols/approximate_equality.py
  cirq/protocols/approximate_equality_test.py
Labels: automerge, cla: yes

#1164 Improve decompose documentation
  cirq/protocols/decompose.py
  docs/gates.md
Labels: automerge, cla: yes

#1193 Render empty moments
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
Labels: cla: yes

#1225 Made the table conforming to rst syntax (should resolve #1185)
  cirq/sim/simulator.py
Labels: cla: yes

#1201 reorganized and augmented acquaintance module
  cirq/contrib/acquaintance/__init__.py
  cirq/contrib/acquaintance/bipartite.py
  cirq/contrib/acquaintance/bipartite_test.py
  cirq/contrib/acquaintance/devices.py
  cirq/contrib/acquaintance/devices_test.py
  cirq/contrib/acquaintance/executor.py
  cirq/contrib/acquaintance/executor_test.py
  cirq/contrib/acquaintance/gates.py
  cirq/contrib/acquaintance/gates_test.py
  cirq/contrib/acquaintance/inspection_utils.py
  cirq/contrib/acquaintance/inspection_utils_test.py
  cirq/contrib/acquaintance/mutation_utils.py
  cirq/contrib/acquaintance/mutation_utils_test.py
  cirq/contrib/acquaintance/permutation.py
  cirq/contrib/acquaintance/permutation_test.py
  cirq/contrib/acquaintance/shift.py
  cirq/contrib/acquaintance/shift_test.py
  cirq/contrib/acquaintance/strategies/__init__.py
  cirq/contrib/acquaintance/strategies/complete.py
Labels: cla: yes

#1233 Disable post-computation verification tasks
  cirq/linalg/decompositions.py
  cirq/linalg/decompositions_test.py
  cirq/linalg/diagonalize.py
Labels: automerge, cla: yes

#1223 Extend value_equality decorator with support for approximate equality
  cirq/value/value_equality.py
  cirq/value/value_equality_test.py
Labels: automerge, cla: yes

#1237 adds Moment.__bool__
  cirq/circuits/moment.py
  cirq/circuits/moment_test.py
Labels: automerge, cla: yes

#1228 Converts qcircuit module to protocol style
  cirq/circuits/circuit.py
  cirq/contrib/qcircuit/__init__.py
  cirq/contrib/qcircuit/qcircuit_diagram.py
  cirq/contrib/qcircuit/qcircuit_diagram_info.py
  cirq/contrib/qcircuit/qcircuit_diagram_info_test.py
  cirq/contrib/qcircuit/qcircuit_diagrammable.py
  cirq/contrib/qcircuit/qcircuit_test.py
  cirq/protocols/circuit_diagram_info.py
Labels: cla: yes

#1220 Adds a static range method to the NamedQubit class.
  cirq/ops/named_qubit.py
  cirq/ops/named_qubit_test.py
Labels: cla: yes

#1238 Moved __call__ up to OptimizationPass
  cirq/circuits/optimization_pass.py
Labels: automerge, cla: yes

#1213 Define __iter__ and __len__ for Moment
  cirq/__init__.py
  cirq/circuits/__init__.py
  cirq/circuits/circuit.py
  cirq/circuits/circuit_dag.py
  cirq/circuits/circuit_test.py
  cirq/circuits/optimization_pass.py
  cirq/circuits/qasm_output.py
  cirq/contrib/acquaintance/mutation_utils.py
  cirq/contrib/jobs/depolarizer_channel.py
  cirq/contrib/paulistring/convert_to_pauli_string_phasors.py
  cirq/contrib/paulistring/separate.py
  cirq/contrib/quirk/linearize_circuit.py
  cirq/google/xmon_device.py
  cirq/ops/__init__.py
  cirq/ops/moment.py
  cirq/ops/moment_test.py
  cirq/ops/op_tree.py
  cirq/ops/op_tree_test.py
  cirq/optimizers/eject_phased_paulis_test.py
  cirq/optimizers/two_qubit_decompositions.py
  cirq/testing/random_circuit.py
Labels: Ready for Re-Review, cla: yes

#1229 Add support for approximate equality to EigenGate and use it in decomposition tests.
  cirq/ops/eigen_gate.py
  cirq/ops/eigen_gate_test.py
  cirq/optimizers/decompositions_test.py
Labels: automerge, cla: yes

#1221 Define SamplesDisplay, WaveFunctionDisplay, and Pauli string expectations
  cirq/__init__.py
  cirq/ops/__init__.py
  cirq/ops/display.py
  cirq/ops/display_test.py
Labels: automerge, cla: yes

#1230 Add PeriodicValue wrapper which handles values periodicity.
  cirq/__init__.py
  cirq/value/__init__.py
  cirq/value/periodic_value.py
  cirq/value/periodic_value_test.py
Labels: cla: yes

#1253 Make param_resolver and params argument default to None
  cirq/sim/simulator.py
Labels: automerge, cla: yes

#1256 Add contrib requirements to dev install
  docs/development.md
Labels: cla: yes

#1266 Define __bool__ for Circuit
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
Labels: cla: yes

#1249 Make cirq.Pauli a gate
  cirq/contrib/acquaintance/bipartite.py
  cirq/contrib/paulistring/clifford_optimize.py
  cirq/contrib/paulistring/convert_gate_set_test.py
  cirq/contrib/paulistring/convert_to_clifford_gates_test.py
  cirq/contrib/paulistring/convert_to_pauli_string_phasors_test.py
  cirq/contrib/paulistring/pauli_string_phasor_test.py
  cirq/contrib/paulistring/pauli_string_raw_types_test.py
  cirq/experiments/google_v2_supremacy_circuit.py
  cirq/ops/__init__.py
  cirq/ops/clifford_gate.py
  cirq/ops/clifford_gate_test.py
  cirq/ops/common_channels.py
  cirq/ops/common_gates.py
  cirq/ops/display_test.py
  cirq/ops/pauli.py
  cirq/ops/pauli_gates.py
  cirq/ops/pauli_gates_test.py
  cirq/ops/pauli_interaction_gate.py
  cirq/ops/pauli_interaction_gate_test.py
  cirq/ops/pauli_string.py
  cirq/ops/pauli_string_test.py
  cirq/ops/pauli_test.py
  cirq/ops/phased_x_gate.py
  cirq/ops/three_qubit_gates.py
  cirq/optimizers/decompositions.py
  cirq/testing/consistent_protocols_test.py
Labels: automerge, cla: yes

#1234 Added docker installation instructions and Dockerfile.
  Dockerfile
  dev_tools/Dockerfile
  docs/development.md
  docs/install.md
Labels: Ready for Re-Review, cla: yes

#1248 Remove OptimizationPass
  cirq/__init__.py
  cirq/circuits/__init__.py
  cirq/circuits/optimization_pass.py
  cirq/contrib/quirk/linearize_circuit.py
  cirq/optimizers/drop_empty_moments.py
  cirq/optimizers/drop_negligible.py
  cirq/optimizers/drop_negligible_test.py
  cirq/optimizers/eject_phased_paulis.py
  cirq/optimizers/eject_z.py
  cirq/optimizers/eject_z_test.py
  cirq/optimizers/merge_single_qubit_gates_test.py
Labels: cla: yes

#1252 Add method for computing Display values to SimulatesIntermediateWaveFunction
  cirq/__init__.py
  cirq/sim/simulator.py
  cirq/sim/simulator_test.py
  cirq/sim/sparse_simulator.py
  cirq/sim/sparse_simulator_test.py
  cirq/study/__init__.py
  cirq/study/compute_displays_result.py
  cirq/study/compute_displays_result_test.py
Labels: cla: yes
