Repository quantumlib/Cirq, pull requests merged in 2018-11, with the labels that each got.

#1081 Replace decompose_once with decompose in convert_to_cz_and_single_gat…
  cirq/circuits/convert_to_cz_and_single_gates.py
  cirq/circuits/convert_to_cz_and_single_gates_test.py
  cirq/contrib/paulistring/convert_to_clifford_gates.py
Labels: automerge, cla: yes

#1092 Ignore global phase when canonicalizing EigenGate's circuit diagram exponent
  cirq/contrib/paulistring/optimize_test.py
  cirq/ops/common_gates.py
  cirq/ops/common_gates_test.py
  cirq/ops/eigen_gate.py
  cirq/ops/eigen_gate_test.py
  cirq/ops/pauli_interaction_gate.py
  cirq/ops/phased_x_gate.py
  cirq/ops/three_qubit_gates.py
Labels: automerge, cla: yes

#1097 Do not do decomposition if interactions cannot be merged
  cirq/circuits/merge_interactions.py
Labels: automerge, cla: yes

#1101 Use "Rx(0.5pi)" style symbols in diagrams when users use `Rx` instead of `X**#`
  cirq/ops/common_gates.py
  cirq/ops/common_gates_test.py
  cirq/ops/eigen_gate.py
Labels: automerge, cla: yes

#1082 Methods for performing single or repeated measurements.
  cirq/__init__.py
  cirq/google/sim/xmon_simulator_test.py
  cirq/google/sim/xmon_stepper.py
  cirq/linalg/predicates.py
  cirq/ops/common_gates.py
  cirq/ops/common_gates_test.py
  cirq/sim/__init__.py
  cirq/sim/state.py
  cirq/sim/state_test.py
Labels: automerge, cla: yes

#1106 Rename state module to wavefunction
  cirq/sim/__init__.py
  cirq/sim/simulator.py
  cirq/sim/wavefunction.py
  cirq/sim/wavefunction_test.py
Labels: automerge, cla: yes

#1112 Remove call to np.mat()
  cirq/linalg/decompositions.py
Labels: automerge, cla: yes

#1103 Delete XmonGate class
  cirq/google/__init__.py
  cirq/google/convert_to_xmon_gates.py
  cirq/google/merge_rotations.py
  cirq/google/programs.py
  cirq/google/programs_test.py
  cirq/google/sim/xmon_simulator.py
  cirq/google/xmon_device.py
  cirq/google/xmon_gate_extensions.py
  cirq/google/xmon_gates.py
  cirq/google/xmon_gates_test.py
  docs/schedules.md
Labels: automerge, cla: yes

#1110 Delete cirq.google.ExpWGate
  cirq/circuits/circuit_test.py
  cirq/circuits/qasm_output_test.py
  cirq/contrib/jobs/depolarizer_channel_test.py
  cirq/contrib/qcircuit/qcircuit_diagrammable.py
  cirq/contrib/quirk/export_to_quirk_test.py
  cirq/contrib/quirk/quirk_gate.py
  cirq/google/__init__.py
  cirq/google/decompositions.py
  cirq/google/eject_full_w.py
  cirq/google/eject_full_w_test.py
  cirq/google/eject_z_test.py
  cirq/google/programs.py
  cirq/google/programs_test.py
  cirq/google/sim/xmon_simulator.py
  cirq/google/sim/xmon_simulator_test.py
  cirq/google/xmon_device.py
  cirq/google/xmon_device_test.py
  cirq/google/xmon_gates.py
  cirq/google/xmon_gates_test.py
  cirq/ops/controlled_gate_test.py
  cirq/study/visualize_test.py
  cirq/testing/circuit_compare_test.py
  cirq/value/angle.py
  dev_tools/profiling/benchmark_simulators.py
  docs/gates.md
  docs/schedules.md
  docs/simulation.md
Labels: automerge, cla: yes

#1104 Add PhasedXPowGate._qasm_ and assert_qasm_is_consistent_with_unitary
  cirq/circuits/qasm_output.py
  cirq/circuits/qasm_output_test.py
  cirq/ops/phased_x_gate.py
  cirq/ops/phased_x_gate_test.py
  cirq/protocols/qasm.py
  cirq/testing/__init__.py
  cirq/testing/consistent_qasm.py
  cirq/testing/consistent_qasm_test.py
  dev_tools/conf/mypy.ini
  dev_tools/conf/pip-list-dev-tools.txt
  dev_tools/incremental_coverage.py
Labels: automerge, cla: yes

#1117 Fix `continuous-integration/check.sh --only=pytest2` failing under pytest 3.10
  dev_tools/check_pytest_v2.py
Labels: automerge, cla: yes

#1111 Delete cirq.extensions
  cirq/__init__.py
  cirq/circuits/circuit_test.py
  cirq/contrib/qcircuit/__init__.py
  cirq/contrib/qcircuit/qcircuit_diagram.py
  cirq/contrib/qcircuit/qcircuit_diagrammable.py
  cirq/contrib/qcircuit/qcircuit_test.py
  cirq/contrib/quirk/export_to_quirk.py
  cirq/contrib/quirk/export_to_quirk_test.py
  cirq/contrib/quirk/quirk_gate.py
  cirq/extension/__init__.py
  cirq/extension/cast.py
  cirq/extension/cast_test.py
  cirq/extension/extensions.py
  cirq/extension/extensions_test.py
  cirq/extension/potential_implementation.py
  cirq/ops/gate_operation.py
  docs/extensions.md
  docs/gates.md
Labels: automerge, cla: yes

#1120 Add scalar version of Tolerance
  cirq/decompositions.py
  cirq/linalg/tolerance.py
  cirq/linalg/tolerance_test.py
Labels: automerge, cla: yes

#1116 Merge cirq/google/xmon_gates.py into cirq/google/programs.py
  cirq/google/__init__.py
  cirq/google/convert_to_xmon_gates.py
  cirq/google/merge_rotations.py
  cirq/google/programs.py
  cirq/google/programs_test.py
  cirq/google/xmon_gates.py
  cirq/google/xmon_gates_test.py
Labels: automerge, cla: yes

#1132 Move various optimizers from cirq/circuits to cirq/optimizers
  cirq/__init__.py
  cirq/circuits/__init__.py
  cirq/contrib/acquaintance/strategy.py
  cirq/contrib/paulistring/convert_gate_set.py
  cirq/contrib/paulistring/optimize.py
  cirq/google/engine/engine.py
  cirq/google/optimize.py
  cirq/google/sim/xmon_simulator.py
  cirq/optimizers/__init__.py
  cirq/optimizers/convert_to_cz_and_single_gates.py
  cirq/optimizers/convert_to_cz_and_single_gates_test.py
  cirq/optimizers/drop_empty_moments.py
  cirq/optimizers/drop_empty_moments_test.py
  cirq/optimizers/drop_negligible.py
  cirq/optimizers/drop_negligible_test.py
  cirq/optimizers/expand_composite.py
  cirq/optimizers/expand_composite_test.py
  cirq/optimizers/merge_interactions.py
  cirq/optimizers/merge_interactions_test.py
  cirq/optimizers/merge_single_qubit_gates.py
  cirq/optimizers/merge_single_qubit_gates_test.py
Labels: automerge, cla: yes

#1133 Add publish-dev-package and verify-published-package scripts
  dev_tools/packaging/produce-package.sh
  dev_tools/packaging/publish-dev-package.sh
  dev_tools/packaging/verify-published-package.sh
  dev_tools/produce-package.sh
  docs/development.md
Labels: automerge, cla: yes

#1067 Added More Noise
  cirq/__init__.py
  cirq/ops/__init__.py
  cirq/ops/common_channels.py
  cirq/ops/common_channels_test.py
Labels: cla: yes

#1118 Use numpy simulator for Simulator class
  README.rst
  cirq/__init__.py
  cirq/google/sim/xmon_simulator.py
  cirq/google/sim/xmon_simulator_test.py
  cirq/protocols/apply_unitary_to_tensor.py
  cirq/sim/__init__.py
  cirq/sim/simulator.py
  cirq/sim/simulator_test.py
  cirq/sim/sparse_simulator.py
  cirq/sim/sparse_simulator_test.py
  cirq/sim/wave_function.py
  cirq/sim/wave_function_test.py
  docs/simulation.md
Labels: cla: yes

#1140 Bring back __init__ for compited protobufs
  cirq/api/__init__.py
  cirq/api/google/__init__.py
  cirq/api/google/v1/__init__.py
  cirq/api/google/v1/proto_test.py
  cirq/ops/pauli_interaction_gate.py
  dev_tools/conf/mypy.ini
Labels: cla: yes

#812 circuit.insert does now check 'index' variable first
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
  cirq/circuits/insert_strategy.py
Labels: automerge, cla: yes

#1102 Add XXPowGate with Molmer-Sorensen MS(rads) variant
  cirq/__init__.py
  cirq/ion/__init__.py
  cirq/ion/ion_gates.py
  cirq/ion/ion_gates_test.py
  cirq/ops/__init__.py
  cirq/ops/common_gates.py
  cirq/ops/common_gates_test.py
Labels: automerge, cla: yes

#1153 Add "add2virtualenv" to dev setup instructions
  docs/development.md
Labels: automerge, cla: yes

#1151 Derive cirq.YY and cirq.ZZ from cirq.XX and openfermioncirq.ZZ
  cirq/__init__.py
  cirq/ion/ion_gates.py
  cirq/ion/ion_gates_test.py
  cirq/ops/__init__.py
  cirq/ops/common_gates.py
  cirq/ops/common_gates_test.py
  cirq/ops/parity_gates.py
  cirq/ops/parity_gates_test.py
  cirq/protocols/__init__.py
  cirq/protocols/decompose.py
  cirq/testing/consistent_decomposition.py
  cirq/testing/consistent_phase_by.py
  cirq/testing/consistent_phase_by_test.py
Labels: automerge, cla: yes

#1138 fraction representation of exponents for circuit diagrams
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
  cirq/contrib/paulistring/convert_gate_set_test.py
  cirq/contrib/paulistring/convert_to_pauli_string_phasors_test.py
  cirq/contrib/paulistring/optimize_test.py
  cirq/contrib/paulistring/pauli_string_optimize_test.py
  cirq/ops/three_qubit_gates_test.py
  docs/tutorial.md
Labels: automerge, cla: yes

#1157 Fix bug when multiple qubits are measured in sparse simulator
  cirq/sim/sparse_simulator.py
  cirq/sim/sparse_simulator_test.py
Labels: automerge, cla: yes

#1154 Fix qubit ordering of 2-qubit QASM decomposition and TwoQubitMatrixGate's phase_by
  cirq/circuits/qasm_output.py
  cirq/circuits/qasm_output_test.py
  cirq/ops/controlled_gate.py
  cirq/ops/controlled_gate_test.py
  cirq/ops/matrix_gates.py
  cirq/ops/matrix_gates_test.py
Labels: Ready for Re-Review, cla: yes

#1091 Create cirq.contrib.tpu with helper methods for tpu simulation
  .travis.yml
  cirq/circuits/circuit.py
  cirq/contrib/contrib-requirements.txt
  cirq/contrib/tpu/__init__.py
  cirq/contrib/tpu/circuit_to_tensorflow.py
  cirq/contrib/tpu/circuit_to_tensorflow_test.py
  cirq/linalg/combinators.py
  cirq/sim/wave_function.py
  dev_tools/conf/mypy.ini
Labels: automerge, cla: yes

#1160 Make HPowGate's _decompose_ preserve global phase
  cirq/ops/common_gates.py
  cirq/testing/consistent_decomposition.py
Labels: cla: yes

#1162 Fix sparse simulator not decomposing composite gates
  cirq/__init__.py
  cirq/protocols/__init__.py
  cirq/sim/simulator.py
  cirq/sim/simulator_test.py
  cirq/sim/sparse_simulator.py
  cirq/sim/sparse_simulator_test.py
Labels: automerge, cla: yes

#1173 Fix eigenvalue_expontent_factor docstring
  cirq/ops/eigen_gate.py
Labels: cla: yes

#1175 Install contrib dependencies during package verification
  dev_tools/packaging/verify-published-package.sh
Labels: cla: yes

#1176 Reorder unitary instead of reversing qubits in QASM tests
  cirq/circuits/qasm_output_test.py
  cirq/testing/consistent_qasm.py
Labels: cla: yes

#1171 Add documentation to common gates
  cirq/ops/common_gates.py
Labels: automerge, cla: yes

#1177 Use QASM protocol in QASM tests
  cirq/testing/consistent_qasm.py
Labels: automerge, cla: yes

#1167 First pass for implementing density matrices and bloch vectors.
  cirq/__init__.py
  cirq/sim/__init__.py
  cirq/sim/simulator.py
  cirq/sim/simulator_test.py
  cirq/sim/wave_function.py
  cirq/sim/wave_function_test.py
Labels: cla: yes

#1178 Refactor `_apply_unitary_to_effect_` into `_apply_unitary_`
  cirq/__init__.py
  cirq/circuits/circuit.py
  cirq/linalg/predicates.py
  cirq/ops/common_gates.py
  cirq/ops/controlled_gate.py
  cirq/ops/controlled_gate_test.py
  cirq/ops/gate_operation.py
  cirq/ops/parity_gates.py
  cirq/ops/three_qubit_gates.py
  cirq/protocols/__init__.py
  cirq/protocols/apply_unitary.py
  cirq/protocols/apply_unitary_test.py
  cirq/protocols/apply_unitary_to_tensor.py
  cirq/protocols/apply_unitary_to_tensor_test.py
  cirq/sim/simulator.py
  cirq/sim/sparse_simulator.py
  cirq/sim/sparse_simulator_test.py
  cirq/testing/circuit_compare.py
  cirq/testing/circuit_compare_test.py
  cirq/testing/consistent_phase_by.py
Labels: automerge, cla: yes

#1184 Polish documentation generation
  cirq/ops/common_channels.py
  continuous-integration/build-docs.sh
  dev_tools/build-docs.sh
  dev_tools/conf/pip-list-dev-tools.txt
  dev_tools/packaging/produce-package.sh
  docs/Makefile
  docs/_templates/autosummary/class.rst
  docs/_templates/autosummary/module.rst
  docs/_templates/layout.html
  docs/conf.py
  docs/favicon.ico
  docs/requirements.txt
  third_party/sphinx/LICENSE
  third_party/sphinx/README.md
  third_party/sphinx/sphinx/ext/autosummary/templates/autosummary/class.rst
  third_party/sphinx/sphinx/ext/autosummary/templates/autosummary/module.rst
Labels: cla: yes

#1192 For circuit diagram exponents equal to 0, output "^0" instead of "^(0)"
  cirq/circuits/circuit.py
Labels: cla: yes

#1165 Add and use functions to test consistency of protocol implementations
  cirq/ops/common_gates.py
  cirq/ops/common_gates_test.py
  cirq/ops/controlled_gate_test.py
  cirq/ops/matrix_gates.py
  cirq/ops/matrix_gates_test.py
  cirq/ops/parity_gates.py
  cirq/ops/parity_gates_test.py
  cirq/ops/pauli_interaction_gate.py
  cirq/ops/pauli_interaction_gate_test.py
  cirq/ops/phased_x_gate_test.py
  cirq/ops/three_qubit_gates.py
  cirq/ops/three_qubit_gates_test.py
  cirq/testing/__init__.py
  cirq/testing/circuit_compare.py
  cirq/testing/consistent_decomposition.py
  cirq/testing/consistent_phase_by.py
  cirq/testing/consistent_protocols.py
  cirq/testing/consistent_protocols_test.py
Labels: cla: yes

#1141 Make bash_scripts_test more tolerant to different git tool versions
  check/pytest-and-incremental-coverage
  dev_tools/bash_scripts_test.py
Labels: automerge, cla: yes

#1196 Add readthedocs build badge and fix requirements file path
  .readthedocs.yml
  README.rst
Labels: automerge, cla: yes

#1198 Add a is_native_xmon_gate function along with tests and documentation.
  cirq/google/__init__.py
  cirq/google/programs.py
  cirq/google/programs_test.py
Labels: automerge, cla: yes

#1191 Polish pass over the documentation
  cirq/devices/grid_qubit.py
  cirq/linalg/decompositions.py
  cirq/ops/common_gates.py
  cirq/ops/matrix_gates.py
  cirq/ops/named_qubit.py
  cirq/ops/raw_types.py
  cirq/ops/three_qubit_gates.py
  cirq/sim/wave_function.py
  docs/api.rst
  docs/development.md
  docs/gates.md
Labels: automerge, cla: yes

#1210 Version 0.4.0
  cirq/_version.py
Labels: cla: yes

#1211 Start dev version 0.5.0.dev
  cirq/_version.py
Labels: cla: yes
