Repository quantumlib/Cirq, pull requests merged in 2018-10, with the labels that each got.

#972 Begin switch from value.inverse() to value**-1 / cirq.inverse(value)
  cirq/contrib/paulistring/pauli_string_phasor.py
  cirq/contrib/paulistring/pauli_string_phasor_test.py
  cirq/google/xmon_gates_test.py
  cirq/ops/clifford_gate.py
  cirq/ops/clifford_gate_test.py
  cirq/ops/common_gates_test.py
  cirq/ops/controlled_gate.py
  cirq/ops/controlled_gate_test.py
  cirq/ops/eigen_gate.py
  cirq/ops/eigen_gate_test.py
  cirq/ops/gate_operation.py
  cirq/ops/gate_operation_test.py
  cirq/ops/pauli_interaction_gate.py
  cirq/ops/pauli_string.py
  cirq/ops/reversible_composite_gate.py
  cirq/ops/reversible_composite_gate_test.py
Labels: cla: yes

#738 Don't import flattened modules
  cirq/__init__.py
Labels: automerge, cla: yes

#975 Define circuit_diagram_info magic method protocol
  cirq/__init__.py
  cirq/protocols/__init__.py
  cirq/protocols/circuit_diagram_info.py
  cirq/protocols/circuit_diagram_info_test.py
Labels: automerge, cla: yes

#924 Optimize simulation with ApplyUnitaryToTensor protocol
  cirq/__init__.py
  cirq/circuits/circuit.py
  cirq/linalg/__init__.py
  cirq/linalg/predicates.py
  cirq/linalg/predicates_test.py
  cirq/linalg/transformations.py
  cirq/ops/common_gates.py
  cirq/ops/common_gates_test.py
  cirq/ops/gate_operation.py
  cirq/protocols/__init__.py
  cirq/protocols/apply_unitary_to_tensor.py
  cirq/protocols/apply_unitary_to_tensor_test.py
Labels: automerge, cla: yes

#866 Random circuits v2
  cirq/experiments/__init__.py
  cirq/experiments/google_v2_supremacy_circuit.py
  cirq/experiments/google_v2_supremacy_circuit_test.py
Labels: cla: yes

#977 Delete supremacy "example" now that better code is in experiments/
  examples/examples_test.py
  examples/supremacy.py
Labels: automerge, cla: yes

#979 Implement more _apply_unitary_to_tensor_ methods
  cirq/__init__.py
  cirq/ops/common_gates.py
  cirq/ops/common_gates_test.py
  cirq/ops/controlled_gate.py
  cirq/ops/controlled_gate_test.py
  cirq/ops/three_qubit_gates.py
  cirq/ops/three_qubit_gates_test.py
  cirq/testing/__init__.py
  cirq/testing/circuit_compare.py
  cirq/testing/circuit_compare_test.py
Labels: automerge, cla: yes

#984 Define `apply_matrix_to_slices` method
  cirq/__init__.py
  cirq/linalg/__init__.py
  cirq/linalg/transformations.py
  cirq/linalg/transformations_test.py
Labels: automerge, cla: yes

#976 Refactor cirq.Circuit to use cirq.circuit_diagram_info
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
  cirq/contrib/qcircuit/qcircuit_diagram.py
  cirq/contrib/qcircuit/qcircuit_diagrammable.py
  cirq/contrib/qcircuit/qcircuit_test.py
  cirq/ops/controlled_gate.py
  cirq/ops/controlled_gate_test.py
  cirq/ops/gate_operation.py
  cirq/ops/gate_operation_test.py
  cirq/protocols/circuit_diagram_info.py
Labels: cla: yes

#953 Refactor EigenGate to include a global phase shift
  cirq/contrib/jobs/depolarizer_channel.py
  cirq/google/xmon_gates.py
  cirq/google/xmon_gates_test.py
  cirq/ops/common_gates.py
  cirq/ops/common_gates_test.py
  cirq/ops/eigen_gate.py
  cirq/ops/eigen_gate_test.py
Labels: automerge, cla: yes

#985 Fix auto_merge failing to understand checks that aren't status checks
  dev_tools/auto_merge.py
Labels: cla: yes

#987 Add parameter resolution protocol
  cirq/__init__.py
  cirq/circuits/circuit.py
  cirq/contrib/paulistring/pauli_string_phasor.py
  cirq/contrib/paulistring/pauli_string_phasor_test.py
  cirq/google/sim/xmon_simulator_test.py
  cirq/google/xmon_gates.py
  cirq/google/xmon_gates_test.py
  cirq/ops/__init__.py
  cirq/ops/common_gates.py
  cirq/ops/controlled_gate.py
  cirq/ops/controlled_gate_test.py
  cirq/ops/eigen_gate.py
  cirq/ops/eigen_gate_test.py
  cirq/ops/gate_features.py
  cirq/ops/gate_features_test.py
  cirq/ops/gate_operation.py
  cirq/ops/gate_operation_test.py
  cirq/ops/three_qubit_gates.py
  cirq/protocols/__init__.py
  cirq/protocols/resolve_parameters.py
  cirq/protocols/resolve_parameters_test.py
  docs/api.rst
Labels: automerge, cla: yes

#817 Implement OrderTester
  cirq/testing/__init__.py
  cirq/testing/equals_tester.py
  cirq/testing/order_tester.py
  cirq/testing/order_tester_test.py
Labels: Ready for Re-Review, cla: yes

#999 Change types for PauliString.get()
  cirq/ops/pauli_string.py
Labels: automerge, cla: yes

#1004 Remove Circuit.__deepcopy__
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
Labels: automerge, cla: yes

#1000 Add alpha stage statements to README and install.md
  README.rst
  docs/install.md
Labels: cla: yes

#1016 Drop bazel build step - breaking because oracle.download.com 404ing
  .travis.yml
Labels: cla: yes

#833 Default qubit order now sorts by type then by whatever ordering is defined by each qubit type
  cirq/circuits/circuit_test.py
  cirq/circuits/drop_empty_moments_test.py
  cirq/circuits/expand_composite_test.py
  cirq/circuits/merge_single_qubit_gates_test.py
  cirq/circuits/moment_test.py
  cirq/contrib/jobs/depolarizer_channel_test.py
  cirq/contrib/jobs/job_test.py
  cirq/contrib/qcircuit/qcircuit_diagram.py
  cirq/contrib/qcircuit/qcircuit_test.py
  cirq/decompositions_test.py
  cirq/devices/grid_qubit.py
  cirq/google/decompositions_test.py
  cirq/google/merge_rotations_test.py
  cirq/line/line_qubit.py
  cirq/ops/__init__.py
  cirq/ops/clifford_gate.py
  cirq/ops/gate_features_test.py
  cirq/ops/gate_operation_test.py
  cirq/ops/named_qubit.py
  cirq/ops/named_qubit_test.py
  cirq/ops/op_tree_test.py
  cirq/ops/qubit_order.py
  cirq/ops/qubit_order_test.py
  cirq/ops/raw_types.py
  cirq/ops/raw_types_test.py
  cirq/ops/reversible_composite_gate_test.py
  cirq/schedules/schedule_test.py
  cirq/schedules/scheduled_operation_test.py
  cirq/testing/random_circuit.py
  cirq/testing/random_circuit_test.py
Labels: automerge, cla: yes

#1011 Remove cirq.ReversibleEffect in favor of cirq.inverse and __pow__
  cirq/__init__.py
  cirq/contrib/paulistring/convert_to_clifford_gates.py
  cirq/contrib/paulistring/pauli_string_phasor.py
  cirq/contrib/paulistring/pauli_string_phasor_test.py
  cirq/decompositions.py
  cirq/google/xmon_gates.py
  cirq/ops/__init__.py
  cirq/ops/clifford_gate.py
  cirq/ops/common_gates.py
  cirq/ops/common_gates_test.py
  cirq/ops/controlled_gate.py
  cirq/ops/controlled_gate_test.py
  cirq/ops/eigen_gate.py
  cirq/ops/gate_features.py
  cirq/ops/gate_features_test.py
  cirq/ops/gate_operation.py
  cirq/ops/reversible_composite_gate.py
  cirq/ops/reversible_composite_gate_test.py
  cirq/protocols/inverse.py
  cirq/protocols/inverse_test.py
  docs/gates.md
Labels: automerge, cla: yes

#1007 Merge cirq.google.Exp11Gate into cirq.Rot11Gate
  cirq/circuits/circuit_test.py
  cirq/circuits/qasm_output_test.py
  cirq/contrib/jobs/depolarizer_channel_test.py
  cirq/contrib/quirk/quirk_gate.py
  cirq/google/__init__.py
  cirq/google/convert_to_xmon_gates.py
  cirq/google/eject_full_w.py
  cirq/google/eject_full_w_test.py
  cirq/google/eject_z_test.py
  cirq/google/merge_rotations.py
  cirq/google/optimize_test.py
  cirq/google/programs.py
  cirq/google/programs_test.py
  cirq/google/sim/xmon_simulator.py
  cirq/google/sim/xmon_simulator_test.py
  cirq/google/xmon_device.py
  cirq/google/xmon_device_test.py
  cirq/google/xmon_gate_extensions.py
  cirq/google/xmon_gates.py
  cirq/google/xmon_gates_test.py
  dev_tools/profiling/benchmark_simulators.py
  docs/schedules.md
  docs/simulation.md
Labels: automerge, cla: yes

#1008 Refactor OrderTester to detect bad NotImplemented patterns
  cirq/testing/equals_tester.py
  cirq/testing/order_tester.py
  cirq/testing/order_tester_test.py
Labels: automerge, cla: yes

#1009 Merge cirq.google.XmonMeasurementGate into cirq.MeasurementGate
  cirq/google/__init__.py
  cirq/google/convert_to_xmon_gates.py
  cirq/google/eject_full_w_test.py
  cirq/google/eject_z_test.py
  cirq/google/programs.py
  cirq/google/programs_test.py
  cirq/google/sim/xmon_simulator.py
  cirq/google/sim/xmon_simulator_test.py
  cirq/google/xmon_device.py
  cirq/google/xmon_device_test.py
  cirq/google/xmon_gate_extensions.py
  cirq/google/xmon_gates.py
  cirq/google/xmon_gates_test.py
  cirq/ops/common_gates_test.py
  cirq/study/visualize_test.py
  docs/gates.md
  docs/simulation.md
Labels: automerge, cla: yes

#997 Add cirq.testing.assert_equivalent_repr
  cirq/circuits/circuit_test.py
  cirq/google/xmon_gates.py
  cirq/google/xmon_gates_test.py
  cirq/testing/__init__.py
  cirq/testing/equivalent_repr_eval.py
  cirq/testing/equivalent_repr_eval_test.py
Labels: automerge, cla: yes

#1010 Replace PhaseableEffect with a new SupportsPhase protocol
  cirq/__init__.py
  cirq/google/eject_z.py
  cirq/google/xmon_gates.py
  cirq/ops/__init__.py
  cirq/ops/common_gates.py
  cirq/ops/common_gates_test.py
  cirq/ops/gate_features.py
  cirq/ops/gate_operation.py
  cirq/ops/matrix_gates.py
  cirq/ops/matrix_gates_test.py
  cirq/protocols/__init__.py
  cirq/protocols/phase.py
  cirq/protocols/phase_test.py
  docs/api.rst
Labels: automerge, cla: yes

#1017 Special case single-qubit unitaries in _apply_unitary_to_tensor_
  cirq/linalg/transformations.py
  cirq/ops/common_gates_test.py
  cirq/protocols/apply_unitary_to_tensor.py
Labels: cla: yes

#1012 Remove semicolon to run snippets test in schedules.md
  docs/schedules.md
  docs/snippets_test.py
Labels: automerge, cla: yes

#1022 Define cirq.Rx/Ry/Rz methods
  cirq/__init__.py
  cirq/ops/__init__.py
  cirq/ops/common_gates.py
  cirq/ops/common_gates_test.py
  cirq/testing/equivalent_repr_eval.py
Labels: automerge, cla: yes

#1020 Delete TextDiagrammable in favor of _circuit_diagram_info_ magic method
  cirq/__init__.py
  cirq/contrib/acquaintance/executor_test.py
  cirq/contrib/acquaintance/gates.py
  cirq/contrib/acquaintance/gates_test.py
  cirq/contrib/acquaintance/permutation.py
  cirq/contrib/acquaintance/permutation_test.py
  cirq/contrib/acquaintance/shift.py
  cirq/contrib/acquaintance/shift_test.py
  cirq/contrib/paulistring/pauli_string_phasor.py
  cirq/contrib/paulistring/pauli_string_raw_types.py
  cirq/contrib/paulistring/pauli_string_raw_types_test.py
  cirq/google/xmon_gates.py
  cirq/ops/__init__.py
  cirq/ops/clifford_gate.py
  cirq/ops/clifford_gate_test.py
  cirq/ops/common_gates.py
  cirq/ops/common_gates_test.py
  cirq/ops/gate_features.py
  cirq/ops/gate_features_test.py
  cirq/ops/matrix_gates.py
  cirq/ops/pauli_interaction_gate.py
  cirq/ops/three_qubit_gates.py
  cirq/protocols/circuit_diagram_info.py
  cirq/protocols/circuit_diagram_info_test.py
  cirq/testing/equivalent_repr_eval.py
  docs/gates.md
Labels: automerge, cla: yes

#1023 Fix protocol definition for trace_distance_bound
  cirq/protocols/trace_distance_bound.py
Labels: automerge, cla: yes

#1025 Merge cirq.google.ExpZGate into cirq.RotZGate
  cirq/circuits/circuit_test.py
  cirq/circuits/qasm_output_test.py
  cirq/contrib/jobs/depolarizer_channel.py
  cirq/contrib/jobs/depolarizer_channel_test.py
  cirq/contrib/qcircuit/qcircuit_diagrammable.py
  cirq/contrib/quirk/quirk_gate.py
  cirq/google/__init__.py
  cirq/google/eject_full_w.py
  cirq/google/eject_full_w_test.py
  cirq/google/eject_z.py
  cirq/google/eject_z_test.py
  cirq/google/engine/engine_test.py
  cirq/google/programs.py
  cirq/google/programs_test.py
  cirq/google/sim/xmon_simulator.py
  cirq/google/sim/xmon_simulator_test.py
  cirq/google/xmon_device.py
  cirq/google/xmon_device_test.py
  cirq/google/xmon_gate_extensions.py
  cirq/google/xmon_gates.py
  cirq/google/xmon_gates_test.py
  cirq/testing/circuit_compare_test.py
  dev_tools/profiling/benchmark_simulators.py
  docs/gates.md
Labels: automerge, cla: yes

#1024 Leave example code unchanged when converting to python 2
  .travis.yml
  check/pytest2
  cirq/ops/controlled_gate_test.py
  dev_tools/env_tools.py
  dev_tools/produce-package.sh
  dev_tools/python2.7-generate.sh
  dev_tools/python2.7-requirements.txt
  docs/development.md
  docs/tutorial.md
  examples/bcs_mean_field.py
  examples/bell_inequality.py
Labels: automerge, cla: yes

#1021 Refactor `cirq.ExtrapolatableEffect` into `cirq.pow` using magic method `__pow__`
  cirq/__init__.py
  cirq/contrib/paulistring/pauli_string_phasor.py
  cirq/contrib/paulistring/pauli_string_phasor_test.py
  cirq/google/xmon_gates.py
  cirq/ops/__init__.py
  cirq/ops/clifford_gate.py
  cirq/ops/common_gates_test.py
  cirq/ops/controlled_gate.py
  cirq/ops/controlled_gate_test.py
  cirq/ops/eigen_gate.py
  cirq/ops/eigen_gate_test.py
  cirq/ops/gate_features.py
  cirq/ops/gate_features_test.py
  cirq/ops/gate_operation.py
  cirq/ops/gate_operation_test.py
  cirq/ops/matrix_gates.py
  cirq/ops/matrix_gates_test.py
  cirq/protocols/__init__.py
  cirq/protocols/mul.py
  cirq/protocols/mul_test.py
  cirq/protocols/pow.py
  cirq/protocols/pow_test.py
Labels: automerge, cla: yes

#1027 Bump pylint version from 1.9.* to 2.1.*
  cirq/ops/clifford_gate.py
  cirq/ops/pauli_string_test.py
  dev_tools/conf/pip-list-dev-tools.txt
Labels: automerge, cla: yes

#1026 Loosen numpy version to >=1.12.0
  cirq/testing/__init__.py
  cirq/testing/circuit_compare.py
  dev_tools/python2.7-requirements.txt
  docs/simulation.md
  docs/snippets_test.py
  requirements.txt
Labels: automerge, cla: yes

#1029 Remove `extension` parameters and fields from most methods and classes
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
  cirq/circuits/convert_to_cz_and_single_gates.py
  cirq/circuits/drop_negligible.py
  cirq/circuits/expand_composite.py
  cirq/circuits/expand_composite_test.py
  cirq/circuits/merge_interactions.py
  cirq/circuits/qasm_output.py
  cirq/contrib/acquaintance/strategy.py
  cirq/contrib/paulistring/convert_to_clifford_gates.py
  cirq/contrib/paulistring/convert_to_pauli_string_phasors.py
  cirq/contrib/qcircuit/qcircuit_diagram.py
  cirq/google/convert_to_xmon_gates.py
  cirq/google/eject_full_w.py
  cirq/google/eject_z.py
  cirq/google/sim/xmon_simulator.py
  cirq/google/sim/xmon_simulator_test.py
  cirq/protocols/resolve_parameters.py
  cirq/sim/simulator.py
  cirq/sim/simulator_test.py
  docs/tutorial.md
Labels: automerge, cla: yes

#1028 Channel protocol
  cirq/__init__.py
  cirq/protocols/__init__.py
  cirq/protocols/channel.py
  cirq/protocols/channel_test.py
  cirq/protocols/inverse.py
  cirq/protocols/inverse_test.py
Labels: cla: yes

#1033 Fix formatting on README.rst
  README.rst
Labels: automerge, cla: yes

#1018 Implement ControlledGate._phase_by_
  cirq/ops/controlled_gate.py
  cirq/ops/controlled_gate_test.py
Labels: automerge, cla: yes

#1040 Random circuits bristlecone
  cirq/experiments/google_v2_supremacy_circuit.py
  cirq/experiments/google_v2_supremacy_circuit_test.py
Labels: cla: yes

#1039 Add 'dottable' check to assert_equivalent_repr
  cirq/ops/three_qubit_gates.py
  cirq/ops/three_qubit_gates_test.py
  cirq/testing/equivalent_repr_eval.py
  cirq/testing/equivalent_repr_eval_test.py
Labels: automerge, cla: yes

#1049 Add _has_unitary_ magic method
  cirq/__init__.py
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
  cirq/google/xmon_gates.py
  cirq/google/xmon_gates_test.py
  cirq/ops/clifford_gate.py
  cirq/ops/clifford_gate_test.py
  cirq/ops/controlled_gate.py
  cirq/ops/controlled_gate_test.py
  cirq/ops/eigen_gate.py
  cirq/ops/eigen_gate_test.py
  cirq/ops/gate_operation.py
  cirq/ops/gate_operation_test.py
  cirq/ops/matrix_gates.py
  cirq/ops/matrix_gates_test.py
  cirq/ops/three_qubit_gates.py
  cirq/ops/three_qubit_gates_test.py
  cirq/protocols/__init__.py
  cirq/protocols/unitary.py
  cirq/protocols/unitary_test.py
Labels: cla: yes

#1035 Add cirq.decompose[_once][_with_qubits] protocol
  cirq/__init__.py
  cirq/protocols/__init__.py
  cirq/protocols/decompose.py
  cirq/protocols/decompose_test.py
Labels: automerge, cla: yes

#1044 Add cirq.PhasedXPowGate, which will replace cirq.google.ExpWGate
  cirq/__init__.py
  cirq/ops/__init__.py
  cirq/ops/common_gates.py
  cirq/ops/common_gates_test.py
  cirq/ops/phased_x_gate.py
  cirq/ops/phased_x_gate_test.py
  cirq/protocols/phase.py
  cirq/testing/__init__.py
  cirq/testing/consistent_decomposition.py
  cirq/testing/consistent_decomposition_test.py
  cirq/testing/consistent_phase_by.py
  cirq/testing/consistent_phase_by_test.py
Labels: automerge, cla: yes

#1045 Refactor Rot[X/Y/Z/11]Gate into [CZ/X/Y/Z]PowGate
  cirq/__init__.py
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
  cirq/circuits/convert_to_cz_and_single_gates.py
  cirq/circuits/convert_to_cz_and_single_gates_test.py
  cirq/circuits/merge_interactions.py
  cirq/circuits/merge_interactions_test.py
  cirq/contrib/paulistring/clifford_optimize.py
  cirq/contrib/paulistring/optimize.py
  cirq/contrib/paulistring/optimize_test.py
  cirq/contrib/paulistring/pauli_string_phasor.py
  cirq/contrib/paulistring/recombine.py
  cirq/contrib/paulistring/separate_test.py
  cirq/contrib/qcircuit/qcircuit_diagrammable.py
  cirq/contrib/quirk/export_to_quirk_test.py
  cirq/contrib/quirk/quirk_gate.py
  cirq/decompositions.py
  cirq/decompositions_test.py
  cirq/experiments/google_v2_supremacy_circuit_test.py
  cirq/google/decompositions.py
  cirq/google/decompositions_test.py
  cirq/google/eject_full_w.py
  cirq/google/eject_z.py
  cirq/google/optimize_test.py
  cirq/google/programs.py
  cirq/google/sim/xmon_simulator.py
  cirq/google/xmon_device.py
  cirq/google/xmon_gate_extensions.py
  cirq/google/xmon_gates.py
  cirq/ops/__init__.py
  cirq/ops/common_gates.py
  cirq/ops/common_gates_test.py
  cirq/ops/controlled_gate_test.py
  cirq/ops/gate_operation_test.py
  cirq/ops/pauli_interaction_gate.py
  cirq/ops/pauli_string.py
  cirq/ops/phased_x_gate_test.py
  cirq/schedules/schedulers_test.py
  cirq/testing/random_circuit.py
  docs/extensions.md
  docs/gates.md
  docs/schedules.md
  docs/tutorial.md
Labels: BREAKING CHANGE, automerge, cla: yes

#1054 Refactor [H/CNot/Swap/ISwap]Gate into [H/CNot/Swap/ISwap]PowGate
  cirq/__init__.py
  cirq/circuits/expand_composite_test.py
  cirq/contrib/qcircuit/qcircuit_diagrammable.py
  cirq/contrib/qcircuit/qcircuit_test.py
  cirq/contrib/quirk/quirk_gate.py
  cirq/experiments/google_v2_supremacy_circuit_test.py
  cirq/ops/__init__.py
  cirq/ops/common_gates.py
  cirq/ops/common_gates_test.py
  cirq/ops/eigen_gate.py
  cirq/ops/three_qubit_gates.py
  cirq/protocols/decompose_test.py
  cirq/schedules/schedulers_test.py
  examples/bcs_mean_field.py
Labels: BREAKING CHANGE, automerge, cla: yes

#1058 Rename cirq.google.ExpWGate's attributes to more closely match cirq.PhasedXGate
  cirq/circuits/circuit_test.py
  cirq/circuits/qasm_output_test.py
  cirq/contrib/jobs/depolarizer_channel_test.py
  cirq/contrib/qcircuit/qcircuit_diagrammable.py
  cirq/contrib/quirk/export_to_quirk_test.py
  cirq/contrib/quirk/quirk_gate.py
  cirq/google/decompositions.py
  cirq/google/eject_full_w.py
  cirq/google/eject_full_w_test.py
  cirq/google/eject_z_test.py
  cirq/google/programs_test.py
  cirq/google/sim/xmon_simulator.py
  cirq/google/sim/xmon_simulator_test.py
  cirq/google/xmon_gate_extensions.py
  cirq/google/xmon_gates.py
  cirq/google/xmon_gates_test.py
  cirq/ops/controlled_gate_test.py
  cirq/study/visualize_test.py
  cirq/testing/circuit_compare_test.py
  dev_tools/profiling/benchmark_simulators.py
  docs/schedules.md
  docs/simulation.md
Labels: automerge, cla: yes

#1057 Refactor QasmConvertible[Gate/Operation] into a magic method protocol
  cirq/__init__.py
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
  cirq/circuits/qasm_output.py
  cirq/circuits/qasm_output_test.py
  cirq/ops/__init__.py
  cirq/ops/common_gates.py
  cirq/ops/gate_features.py
  cirq/ops/gate_features_test.py
  cirq/ops/gate_operation.py
  cirq/ops/three_qubit_gates.py
  cirq/protocols/__init__.py
  cirq/protocols/qasm.py
  cirq/protocols/qasm_test.py
  cirq/protocols/resolve_parameters_test.py
  setup.py
Labels: automerge, cla: yes

#1056 Use `cirq.decompose` protocols instead of `Composite[Gate/Operation]`
  cirq/__init__.py
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
  cirq/circuits/convert_to_cz_and_single_gates.py
  cirq/circuits/convert_to_cz_and_single_gates_test.py
  cirq/circuits/expand_composite.py
  cirq/circuits/expand_composite_test.py
  cirq/circuits/qasm_output.py
  cirq/circuits/qasm_output_test.py
  cirq/contrib/acquaintance/gates.py
  cirq/contrib/acquaintance/gates_test.py
  cirq/contrib/acquaintance/permutation.py
  cirq/contrib/acquaintance/permutation_test.py
  cirq/contrib/acquaintance/shift.py
  cirq/contrib/paulistring/convert_to_clifford_gates.py
  cirq/contrib/paulistring/convert_to_clifford_gates_test.py
  cirq/contrib/paulistring/pauli_string_phasor.py
  cirq/google/convert_to_xmon_gates.py
  cirq/google/convert_to_xmon_gates_test.py
  cirq/ops/__init__.py
  cirq/ops/clifford_gate.py
  cirq/ops/common_gates.py
  cirq/ops/common_gates_test.py
  cirq/ops/gate_features.py
  cirq/ops/gate_features_test.py
  cirq/ops/gate_operation.py
  cirq/ops/pauli_interaction_gate.py
  cirq/ops/pauli_interaction_gate_test.py
  cirq/ops/phased_x_gate.py
  cirq/ops/phased_x_gate_test.py
  cirq/ops/reversible_composite_gate.py
  cirq/ops/reversible_composite_gate_test.py
  cirq/ops/three_qubit_gates.py
  cirq/ops/three_qubit_gates_test.py
  cirq/protocols/decompose.py
  cirq/testing/consistent_decomposition.py
  cirq/testing/consistent_decomposition_test.py
  docs/gates.md
  docs/simulation.md
  examples/phase_estimator.py
Labels: automerge, cla: yes

#1032 First take at depolarizing channels
  cirq/__init__.py
  cirq/ops/__init__.py
  cirq/ops/common_channels.py
  cirq/ops/common_channels_test.py
Labels: cla: yes

#1063 Fix `cirq.Circuit._has_unitary_` false positives
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
Labels: automerge, cla: yes

#1065 Use `cirq.testing.assert_same_circuits` in a few tests
  cirq/circuits/merge_single_qubit_gates_test.py
  cirq/google/eject_z_test.py
  cirq/google/merge_rotations_test.py
Labels: cla: yes

#918 Add annotation that denotes columns belonging to the same Moment to text diagrams.
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
  cirq/circuits/text_diagram_drawer.py
  cirq/contrib/qcircuit/qcircuit_diagram.py
  cirq/testing/circuit_compare.py
Labels: automerge, cla: yes

#1068 use r string to avoid double slash in test diagram
  cirq/circuits/circuit_test.py
Labels: automerge, cla: yes

#1069 Replace decompose_once with decompose in expand_composite
  cirq/circuits/expand_composite.py
Labels: automerge, cla: yes

#1064 Add global_shift to PhasedXGate
  cirq/ops/phased_x_gate.py
  cirq/ops/phased_x_gate_test.py
Labels: automerge, cla: yes

#1066 Mark X, Y, and PhasedX gates as Xmon natives
  cirq/circuits/circuit_test.py
  cirq/devices/device.py
  cirq/google/convert_to_xmon_gates.py
  cirq/google/eject_z_test.py
  cirq/google/programs.py
  cirq/google/programs_test.py
  cirq/google/sim/xmon_simulator.py
  cirq/google/xmon_device.py
  cirq/google/xmon_gates.py
  cirq/google/xmon_gates_test.py
Labels: automerge, cla: yes

#1077 Ensure that Circuit.resolve_parameters preserves the circuit layout (solves #992).
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
Labels: cla: yes

#1055 Refactor EigenGate's period semantics
  cirq/google/optimize_test.py
  cirq/ops/common_gates.py
  cirq/ops/common_gates_test.py
  cirq/ops/eigen_gate.py
  cirq/ops/eigen_gate_test.py
  cirq/ops/pauli_interaction_gate.py
  cirq/ops/pauli_interaction_gate_test.py
  cirq/ops/phased_x_gate.py
  cirq/ops/phased_x_gate_test.py
  cirq/ops/three_qubit_gates.py
Labels: BREAKING CHANGE, automerge, cla: yes

#1085 Add back generated proto files
  .travis.yml
  cirq/api/google/v1/operations_pb2.py
  cirq/api/google/v1/params_pb2.py
  cirq/api/google/v1/program_pb2.py
  dev_tools/python2.7-generate.sh
  docs/development.md
Labels: cla: yes

#1089 Rename and export supremacy circuit generating code to top level
  cirq/__init__.py
  cirq/experiments/__init__.py
  cirq/experiments/google_v2_supremacy_circuit.py
  cirq/experiments/google_v2_supremacy_circuit_test.py
Labels: automerge, cla: yes

#1078 Replace decompose_once with decompose in qasm_output.py
  cirq/circuits/qasm_output.py
  cirq/circuits/qasm_output_test.py
  cirq/protocols/decompose.py
Labels: automerge, cla: yes
