Repository quantumlib/Cirq, pull requests merged in 2019-10, with the labels that each got.

#2206 Delete control protocol.
  cirq/__init__.py
  cirq/ops/raw_types.py
  cirq/protocols/__init__.py
  cirq/protocols/control.py
  cirq/protocols/control_test.py
  docs/api.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#2184 Fix lack-of-aliasing bug in ArithmeticOperation
  cirq/ops/arithmetic_operation.py
  cirq/ops/arithmetic_operation_test.py
  cirq/schedules/schedule.py
  cirq/schedules/schedule_test.py
  cirq/testing/__init__.py
  cirq/testing/circuit_compare.py
  cirq/testing/circuit_compare_test.py
  cirq/testing/consistent_protocols.py
  cirq/testing/equivalent_repr_eval.py
  docs/api.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#2245 Use `'cirq.*'` type annotations in `circuit.py`
  cirq/circuits/circuit.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2223 [Fixes #2174] makes get_logical_operations and is_valid_routing more robust
  cirq/contrib/acquaintance/permutation.py
  cirq/contrib/routing/router_test.py
  cirq/contrib/routing/swap_network.py
  cirq/contrib/routing/swap_network_test.py
  cirq/contrib/routing/utils.py
  cirq/contrib/routing/utils_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2243 Speed up some slow tests
  cirq/experiments/cross_entropy_benchmarking_test.py
  cirq/experiments/n_qubit_tomography_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2249 Fix flaky teleportation example test
  examples/examples_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2232 Introduce `cirq.PAULI_STRING_LIKE` type
  cirq/__init__.py
  cirq/contrib/paulistring/clifford_optimize.py
  cirq/contrib/paulistring/convert_gate_set_test.py
  cirq/contrib/paulistring/convert_to_pauli_string_phasors.py
  cirq/contrib/paulistring/convert_to_pauli_string_phasors_test.py
  cirq/ops/__init__.py
  cirq/ops/display.py
  cirq/ops/gate_operation.py
  cirq/ops/linear_combinations.py
  cirq/ops/pauli_gates.py
  cirq/ops/pauli_gates_test.py
  cirq/ops/pauli_string.py
  cirq/ops/pauli_string_test.py
  cirq/ops/swap_gates.py
  cirq/protocols/json_test.py
  examples/hhl.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2250 Fix qid shape documentation
  cirq/protocols/qid_shape_protocol.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1654 Add travis build for OSX
  .travis.yml
Labels: automerge, cla: yes, front_of_queue_automerge

#2253 Added __repr__ tests
  cirq/devices/grid_qubit_test.py
  cirq/ops/fourier_transform_test.py
  cirq/ops/fsim_gate_test.py
  cirq/ops/global_phase_op_test.py
  cirq/ops/matrix_gates_test.py
  cirq/ops/moment_test.py
  cirq/ops/pauli_interaction_gate_test.py
  cirq/ops/phased_iswap_gate_test.py
  cirq/schedules/scheduled_operation.py
  cirq/schedules/scheduled_operation_test.py
  cirq/sim/wave_function_simulator.py
  cirq/sim/wave_function_simulator_test.py
  cirq/value/duration_test.py
  cirq/value/timestamp_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2255 #2147 Move `Cirq/cirq/vis/examples/` to `Cirq/examples`
  cirq/vis/README.md
  cirq/vis/examples/bristlecone_heatmap_example_test.py
  cirq/vis/heatmap.py
  examples/bristlecone_heatmap_example.png
  examples/bristlecone_heatmap_example.py
  examples/examples_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2246 Add measure/scalar/swap/display/qft support to import-from-quirk
  cirq/contrib/quirk/cells/all_cells.py
  cirq/contrib/quirk/cells/frequency_space_cells.py
  cirq/contrib/quirk/cells/frequency_space_cells_test.py
  cirq/contrib/quirk/cells/ignored_cells.py
  cirq/contrib/quirk/cells/ignored_cells_test.py
  cirq/contrib/quirk/cells/measurement_cells.py
  cirq/contrib/quirk/cells/measurement_cells_test.py
  cirq/contrib/quirk/cells/scalar_cells.py
  cirq/contrib/quirk/cells/scalar_cells_test.py
  cirq/contrib/quirk/cells/swap_cell.py
  cirq/contrib/quirk/cells/swap_cell_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2262 Fix deprecation warning in arithmetic_operation.py
  cirq/ops/arithmetic_operation.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2263 Add transform_qubits to Circuit
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
  cirq/ops/moment.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2272 Create DensePauliString and MutableDensePauliString
  .gitignore
  cirq/__init__.py
  cirq/_compat.py
  cirq/ops/__init__.py
  cirq/ops/dense_pauli_string.py
  cirq/ops/dense_pauli_string_test.py
  cirq/ops/gate_operation.py
  cirq/ops/gate_operation_test.py
  cirq/ops/pauli_string.py
  cirq/protocols/approximate_equality.py
  cirq/protocols/approximate_equality_test.py
  cirq/protocols/json.py
  cirq/protocols/json_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2276 Fix cirq.approx_equals going into an infinite recursive loop on strings
  cirq/protocols/approximate_equality.py
  cirq/protocols/approximate_equality_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2275 Vectorized implementation of KAK decomposition.
  cirq/__init__.py
  cirq/linalg/__init__.py
  cirq/linalg/decompositions.py
  cirq/linalg/decompositions_test.py
  docs/api.rst
Labels: cla: yes

#2284 Workaround windows builds suddenly failing
  .travis.yml
Labels: automerge, cla: yes, front_of_queue_automerge

#2281 Add Symbol and timedelta interop features to cirq.Duration
  cirq/__init__.py
  cirq/google/serializable_device.py
  cirq/google/xmon_device.py
  cirq/google/xmon_device_test.py
  cirq/ion/ion_device.py
  cirq/ion/ion_device_test.py
  cirq/neutral_atoms/neutral_atom_devices.py
  cirq/ops/linear_combinations.py
  cirq/protocols/json_test.py
  cirq/schedules/schedule.py
  cirq/schedules/scheduled_operation.py
  cirq/value/__init__.py
  cirq/value/duration.py
  cirq/value/duration_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2290 Add default parameters for add_subplot
  cirq/linalg/decompositions.py
Labels: cla: yes

#2301 Additional workaround for Windows builds failing
  .travis.yml
Labels: automerge, cla: yes, front_of_queue_automerge

#2296 Require n_rows > 1 in generate_boixo_2018_supremacy_circuits_v2_bristlecone
  cirq/experiments/google_v2_supremacy_circuit.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2302 Add Require n_rows > 1 in generate_boixo_2018_supremacy_circuits_v2_…
  cirq/experiments/google_v2_supremacy_circuit_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2297 Add pandas.DataFrame support to proper_repr and json serialization
  cirq/_compat.py
  cirq/_compat_test.py
  cirq/protocols/json.py
  cirq/protocols/json_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2239 Update protobuf version
  .gitignore
  .travis.yml
  WORKSPACE
  check/bazel
  check/build-protos
  cirq/api/google/v1/BUILD
  cirq/api/google/v2/BUILD
  cirq/api/google/v2/device_pb2.py
  cirq/api/google/v2/device_pb2.pyi
  cirq/api/google/v2/metrics_pb2.py
  cirq/api/google/v2/program_pb2.py
  cirq/api/google/v2/proto_test.py
  cirq/api/google/v2/result_pb2.py
  cirq/api/google/v2/run_context_pb2.py
  cirq/google/api/v1/operations_pb2.py
  cirq/google/api/v1/operations_pb2.pyi
  cirq/google/api/v1/params_pb2.py
  cirq/google/api/v1/params_pb2.pyi
  cirq/google/api/v1/program_pb2.py
  cirq/google/api/v1/program_pb2.pyi
  cirq/google/api/v2/device_pb2.py
  cirq/google/api/v2/device_pb2.pyi
  cirq/google/api/v2/metrics_pb2.py
  cirq/google/api/v2/metrics_pb2.pyi
  cirq/google/api/v2/program_pb2.py
  cirq/google/api/v2/program_pb2.pyi
  cirq/google/api/v2/result_pb2.py
  cirq/google/api/v2/result_pb2.pyi
  cirq/google/api/v2/run_context_pb2.py
  cirq/google/api/v2/run_context_pb2.pyi
  dev_tools/conf/pip-list-dev-tools.txt
  docs/development.md
  requirements.txt
Labels: automerge, cla: yes, front_of_queue_automerge

#2292 Remove usage of deprecated apply_unitary_effect_to_state
  cirq/ops/pauli_string_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2291 Remove usage of deprecated Circuit.from_ops method
  cirq/ops/arithmetic_operation_test.py
  cirq/ops/phased_iswap_gate_test.py
  examples/advanced/quantum_volume_test.py
  examples/noisy_simulation_example.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2303 Add cirq.WaitGate
  cirq/__init__.py
  cirq/ops/__init__.py
  cirq/ops/wait_gate.py
  cirq/ops/wait_gate_test.py
  cirq/protocols/json.py
  cirq/protocols/json_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2307 Fix `snippets_test` not recursing into sub-directorries of docs/
  docs/dev/plotting.md
  docs/snippets_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2306 Handle empty list case in kak_vector and scatter_plot_normalized_kak_interaction_coefficients
  cirq/linalg/decompositions.py
  cirq/linalg/decompositions_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2305 Improve pandas and sympy json support
  cirq/_compat.py
  cirq/_compat_test.py
  cirq/protocols/json.py
  cirq/protocols/json_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2312 Implement value equality and repr for ConstantQubitNoiseModel
  cirq/devices/noise_model.py
  cirq/devices/noise_model_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2280 Move MeasurementGate, measure, and measure_each out of common_gates.py
  cirq/ops/__init__.py
  cirq/ops/common_gates.py
  cirq/ops/common_gates_test.py
  cirq/ops/measure_util.py
  cirq/ops/measure_util_test.py
  cirq/ops/measurement_gate.py
  cirq/ops/measurement_gate_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2156 Update errors from Engine API
  cirq/google/engine/engine.py
  cirq/google/engine/engine_test.py
Labels: cla: yes

#2244 Add `NOISE_MODEL_LIKE`
  cirq/__init__.py
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
  cirq/devices/__init__.py
  cirq/devices/noise_model.py
  cirq/devices/noise_model_test.py
  cirq/protocols/json_test.py
  cirq/sim/density_matrix_simulator.py
  cirq/sim/mux.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2286 Change `plot` methods according to recommendations in plotting.md
  cirq/experiments/cross_entropy_benchmarking.py
  cirq/experiments/cross_entropy_benchmarking_test.py
  cirq/experiments/qubit_characterizations.py
  cirq/experiments/qubit_characterizations_test.py
  dev_tools/incremental_coverage.py
  docs/dev/plotting.md
Labels: automerge, cla: yes, front_of_queue_automerge

#2318 Fix simulator seeding to ensure runs are reproducible
  cirq/sim/density_matrix_simulator.py
  cirq/sim/density_matrix_simulator_test.py
  cirq/sim/density_matrix_utils.py
  cirq/sim/density_matrix_utils_test.py
  cirq/sim/mux.py
  cirq/sim/mux_test.py
  cirq/sim/simulator.py
  cirq/sim/simulator_test.py
  cirq/sim/sparse_simulator.py
  cirq/sim/sparse_simulator_test.py
  cirq/sim/wave_function.py
  cirq/sim/wave_function_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2258 Add support for arithmetic gates to import-from-quirk
  cirq/contrib/__init__.py
  cirq/contrib/quirk/__init__.py
  cirq/contrib/quirk/cells/__init__.py
  cirq/contrib/quirk/cells/all_cells.py
  cirq/contrib/quirk/cells/arithmetic_cells.py
  cirq/contrib/quirk/cells/arithmetic_cells_test.py
  cirq/contrib/quirk/cells/cell.py
  cirq/contrib/quirk/cells/frequency_space_cells.py
  cirq/contrib/quirk/cells/input_cells.py
  cirq/contrib/quirk/cells/input_cells_test.py
  cirq/contrib/quirk/url_to_circuit.py
  cirq/ops/arithmetic_operation.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2325 Migrate the remaining plot functions according to docs/dev/plotting.md.
  cirq/linalg/decompositions.py
  cirq/vis/heatmap.py
  cirq/vis/heatmap_test.py
  examples/bristlecone_heatmap_example.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2330 Add some documentation about the default behavior of ControlledGate, Gate.controlled() and Operation.controlled_by()
  cirq/ops/controlled_gate.py
  cirq/ops/raw_types.py
Labels: automerge, cla: yes

#2319 Avoid changing global random state in sample_sweep
  cirq/sim/mux.py
  cirq/sim/mux_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2323 SVG Circuit Representations
  cirq/contrib/svg/__init__.py
  cirq/contrib/svg/example.ipynb
  cirq/contrib/svg/svg.py
  cirq/contrib/svg/svg_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2329 Rename apply_channel.py to apply_channel_protocol.py
  cirq/protocols/__init__.py
  cirq/protocols/apply_channel_protocol.py
  cirq/protocols/apply_channel_protocol_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2334 Suffix '_protocol' onto decompose and measurement key protocol file names
  cirq/protocols/__init__.py
  cirq/protocols/apply_unitary.py
  cirq/protocols/decompose_protocol.py
  cirq/protocols/decompose_protocol_test.py
  cirq/protocols/has_unitary.py
  cirq/protocols/measurement_key_protocol.py
  cirq/protocols/measurement_key_protocol_test.py
  cirq/protocols/unitary.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2229 Depolarizing noise models
  cirq/contrib/noise_models/__init__.py
  cirq/contrib/noise_models/noise_models.py
  cirq/contrib/noise_models/noise_models_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2327 Implement JSON serialization for NO_NOISE and ConstantQubitNoiseModel
  cirq/devices/noise_model.py
  cirq/protocols/json.py
  cirq/protocols/json_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2333 Compatibility shim for common gate
  cirq/ops/common_gates.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2335 Add check_preconditions flag to PauliSum and PauliString expectation functions
  cirq/ops/linear_combinations.py
  cirq/ops/linear_combinations_test.py
  cirq/ops/pauli_string.py
  cirq/ops/pauli_string_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2328 Implement JSON serialization protocol for common channels
  cirq/ops/common_channels.py
  cirq/protocols/json.py
  cirq/protocols/json_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2264 Add qubits and extra_recognized parameters to quirk_url_to_circuit
  cirq/contrib/quirk/cells/__init__.py
  cirq/contrib/quirk/cells/cell.py
  cirq/contrib/quirk/cells/frequency_space_cells.py
  cirq/contrib/quirk/cells/qubit_permutation_cells.py
  cirq/contrib/quirk/cells/scalar_cells.py
  cirq/contrib/quirk/cells/single_qubit_rotation_cells.py
  cirq/contrib/quirk/cells/swap_cell.py
  cirq/contrib/quirk/url_to_circuit.py
  cirq/contrib/quirk/url_to_circuit_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2321 Add `value: Any = 1` parameter to `cirq.one_hot`
  cirq/linalg/states.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2331 Rename apply_unitary.py to apply_unitary_protocol.py
  cirq/protocols/__init__.py
  cirq/protocols/apply_channel_protocol.py
  cirq/protocols/apply_unitary_protocol.py
  cirq/protocols/apply_unitary_protocol_test.py
  cirq/protocols/has_unitary.py
  cirq/protocols/unitary.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2332 Suffix '_protocol' onto circuit diagram info and approximate equality protocol file names
  cirq/protocols/__init__.py
  cirq/protocols/approximate_equality_protocol.py
  cirq/protocols/approximate_equality_protocol_test.py
  cirq/protocols/circuit_diagram_info_protocol.py
  cirq/protocols/circuit_diagram_info_protocol_test.py
  cirq/protocols/equal_up_to_global_phase.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2343 Use headless matplotlib backend in tests
  cirq/conftest.py
Labels: cla: yes

#2316 Offline simulation support in XEB fidelity estimator
  cirq/experiments/fidelity_estimation.py
  cirq/experiments/fidelity_estimation_test.py
Labels: cla: yes

#2342 Make greedy routing initialization and routing deterministic given seed
  cirq/contrib/routing/greedy.py
  cirq/contrib/routing/initialization.py
  cirq/contrib/routing/initialization_test.py
  cirq/contrib/routing/router_test.py
  cirq/google/serializable_device_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2225 Utilities for visualizing routing
  cirq/contrib/routing/__init__.py
  cirq/contrib/routing/device.py
  cirq/contrib/routing/device_test.py
  cirq/contrib/routing/utils.py
  cirq/contrib/routing/utils_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2346 Add simplified `extra_cell_makers` argument option to `quirk_url_to_circuit`
  cirq/contrib/quirk/url_to_circuit.py
  cirq/contrib/quirk/url_to_circuit_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2300 Add cirq.Sampler.sample method
  cirq/work/sampler.py
  cirq/work/sampler_test.py
  docs/api.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#2350 Fix Swap and ISwap decompositions not preserving global phase
  cirq/ops/swap_gates.py
  cirq/ops/swap_gates_test.py
Labels: cla: yes

#2352 Speed up findall_operations_until_blocked
  cirq/circuits/circuit.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2354 Speeds up circuit copying
  cirq/circuits/circuit.py
Labels: cla: yes

#2355 [Qudits] Fix SimulationTrialResult str for qudits
  cirq/sim/simulator.py
  cirq/sim/simulator_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2357 Fix quirk parsing failing on floating point results
  cirq/contrib/quirk/cells/parse.py
  cirq/contrib/quirk/cells/parse_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2344 Support both linear and logarithmic XEB fidelity estimators
  cirq/__init__.py
  cirq/experiments/__init__.py
  cirq/experiments/fidelity_estimation.py
  cirq/experiments/fidelity_estimation_test.py
Labels: Ready for Re-Review, cla: yes

#2369 Set networkx version to 2.3
  requirements.txt
Labels: cla: yes

#2371 Move Quantum Volume into contrib
  cirq/contrib/quantum_volume/__init__.py
  cirq/contrib/quantum_volume/quantum_volume.py
  cirq/contrib/quantum_volume/quantum_volume_test.py
  examples/advanced/quantum_volume.ipynb
  examples/advanced/quantum_volume.py
  examples/advanced/quantum_volume_errors.ipynb
  examples/advanced/quantum_volume_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2372 Allow creating circuit from pre-parsed quirk json data
  cirq/contrib/quirk/__init__.py
  cirq/contrib/quirk/url_to_circuit.py
  cirq/contrib/quirk/url_to_circuit_test.py
Labels: cla: yes

#2374 Add py.typed for type checkers
  cirq/py.typed
  setup.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2370 Escape unicode characters when producing latex
  cirq/contrib/qcircuit/qcircuit_pdf.py
  docs/install.md
Labels: automerge, cla: yes, front_of_queue_automerge

#2340 Suffix '_protocol' onto has_unitary/mixture/pauli_expansion/equal_up_to_global_phase protocol files
  cirq/protocols/__init__.py
  cirq/protocols/channel.py
  cirq/protocols/equal_up_to_global_phase_protocol.py
  cirq/protocols/equal_up_to_global_phase_protocol_test.py
  cirq/protocols/has_unitary_protocol.py
  cirq/protocols/has_unitary_protocol_test.py
  cirq/protocols/mixture_protocol.py
  cirq/protocols/mixture_protocol_test.py
  cirq/protocols/pauli_expansion_protocol.py
  cirq/protocols/pauli_expansion_protocol_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2337 TrialResult histogram fold_func should take nparray
  cirq/study/trial_result.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2366 XEB fidelity estimator based on normalized HOG score
  cirq/__init__.py
  cirq/experiments/__init__.py
  cirq/experiments/fidelity_estimation.py
  cirq/experiments/fidelity_estimation_test.py
Labels: cla: yes

#2261 Support quirk input rotation gates and mark remaining quirk gates as unsupported (for now)
  cirq/circuits/circuit.py
  cirq/contrib/quirk/__init__.py
  cirq/contrib/quirk/cells/__init__.py
  cirq/contrib/quirk/cells/all_cells.py
  cirq/contrib/quirk/cells/cell.py
  cirq/contrib/quirk/cells/input_rotation_cells.py
  cirq/contrib/quirk/cells/input_rotation_cells_test.py
  cirq/contrib/quirk/cells/unsupported_cells.py
  cirq/contrib/quirk/cells/unsupported_cells_test.py
  cirq/protocols/circuit_diagram_info_protocol.py
  cirq/protocols/circuit_diagram_info_protocol_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2345 Speed up linalg.dot
  cirq/linalg/combinators.py
  cirq/linalg/combinators_test.py
Labels: cla: yes

#2383 Include mypy stubs for protos in cirq packages.
  setup.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2379 Add quirk parsing support for initial states
  cirq/contrib/quirk/url_to_circuit.py
  cirq/contrib/quirk/url_to_circuit_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2339 Suffix '_protocol' onto phase/pow/mul protocol files
  cirq/protocols/__init__.py
  cirq/protocols/mul_protocol.py
  cirq/protocols/mul_protocol_test.py
  cirq/protocols/phase_protocol.py
  cirq/protocols/phase_protocol_test.py
  cirq/protocols/pow_protocol.py
  cirq/protocols/pow_protocol_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2388 Quantum volume: num_circuits vs repetitions
  cirq/contrib/quantum_volume/__init__.py
  cirq/contrib/quantum_volume/quantum_volume.py
  cirq/contrib/quantum_volume/quantum_volume_test.py
  examples/advanced/quantum_volume.py
  examples/advanced/quantum_volume_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2377 Replace sympy-based parser in circuit_from_quirk_url with ported parser from Quirk
  cirq/contrib/quirk/cells/parse.py
  cirq/contrib/quirk/cells/parse_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2387 Add type annotations for Circuit.__iter__ and Moment.__iter__
  cirq/circuits/circuit.py
  cirq/contrib/acquaintance/mutation_utils.py
  cirq/ops/moment.py
  cirq/protocols/inverse_protocol.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2391 Make Moment immutable --> dependent PR--> #2378
  cirq/ops/moment.py
  cirq/ops/moment_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2398 Fix ParallelGateOperation doc
  cirq/ops/parallel_gate_operation.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2394 Speed up param resolution
  cirq/study/resolver.py
  cirq/study/resolver_test.py
Labels: cla: yes

#1765 Multiplying by the identity gate should return the other operation
  cirq/__init__.py
  cirq/ops/__init__.py
  cirq/ops/common_channels.py
  cirq/ops/common_gates.py
  cirq/ops/common_gates_test.py
  cirq/ops/dense_pauli_string.py
  cirq/ops/gate_operation_test.py
  cirq/ops/identity.py
  cirq/ops/identity_test.py
  cirq/ops/linear_combinations.py
  cirq/ops/pauli_gates.py
  cirq/ops/pauli_gates_test.py
  cirq/ops/pauli_string.py
  cirq/ops/three_qubit_gates_test.py
  cirq/protocols/decompose_protocol_test.py
  cirq/protocols/json.py
  cirq/protocols/json_test.py
Labels: automerge, cla: yes

#2397 Add optional gate attribute on Operation
  cirq/aqt/aqt_device.py
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
  cirq/circuits/qasm_output.py
  cirq/contrib/acquaintance/executor.py
  cirq/contrib/acquaintance/mutation_utils.py
  cirq/contrib/noise_models/noise_models_test.py
  cirq/contrib/paulistring/clifford_optimize.py
  cirq/contrib/paulistring/convert_to_clifford_gates.py
  cirq/contrib/paulistring/optimize.py
  cirq/contrib/qcircuit/qcircuit_diagram_info.py
  cirq/contrib/routing/router.py
  cirq/google/convert_to_xmon_gates.py
  cirq/google/op_deserializer.py
  cirq/google/optimize.py
  cirq/google/xmon_device.py
  cirq/ion/ion_device.py
  cirq/neutral_atoms/neutral_atom_devices.py
  cirq/ops/dense_pauli_string.py
  cirq/ops/gate_operation.py
  cirq/ops/parallel_gate_operation.py
  cirq/ops/pauli_string.py
  cirq/ops/raw_types.py
  cirq/optimizers/convert_to_cz_and_single_gates.py
  cirq/optimizers/convert_to_cz_and_single_gates_test.py
  cirq/optimizers/eject_phased_paulis.py
  cirq/optimizers/eject_z.py
  cirq/optimizers/merge_interactions.py
  cirq/optimizers/two_qubit_decompositions_test.py
  cirq/schedules/schedulers_test.py
  cirq/sim/density_matrix_simulator.py
  cirq/sim/sparse_simulator.py
  cirq/study/flatten_expressions.py
  cirq/value/linear_dict.py
  cirq/work/pauli_sum_collector.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2401 Improve types in decompose protocol
  cirq/circuits/circuit.py
  cirq/contrib/tpu/circuit_to_tensorflow.py
  cirq/protocols/decompose_protocol.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2362 makes noise channels respect circuit_diagram precision
  cirq/ops/common_channels.py
  cirq/ops/common_channels_test.py
Labels: cla: yes

#2404 PhasedXPowGate circuit representation as PhX #2322
  cirq/circuits/circuit_test.py
  cirq/google/convert_to_xmon_gates_test.py
  cirq/neutral_atoms/convert_to_neutral_atom_gates_test.py
  cirq/ops/phased_x_gate.py
  cirq/ops/phased_x_gate_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2129 Add initial Clifford simulator
  cirq/__init__.py
  cirq/protocols/json_test.py
  cirq/sim/__init__.py
  cirq/sim/clifford/__init__.py
  cirq/sim/clifford/clifford_simulator.py
  cirq/sim/clifford/clifford_simulator_test.py
  cirq/sim/clifford/clifford_tableau.py
  cirq/sim/clifford/stabilizer_state_ch_form.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2417 Add link to QuantumComputing.SE `cirq` tag query
  README.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#2396 Add Sycamore gate and gate_set to cirq
  cirq/__init__.py
  cirq/google/__init__.py
  cirq/google/gate_sets.py
  cirq/google/gate_sets_test.py
  cirq/ops/__init__.py
  cirq/ops/sycamore_gate.py
  cirq/ops/sycamore_gate_test.py
  cirq/protocols/json.py
  cirq/protocols/json_test.py
Labels: cla: yes

#2389 Move files from cirq.google into subpackages
  cirq/contrib/quantum_volume/quantum_volume.py
  cirq/devices/grid_qubit_test.py
  cirq/google/__init__.py
  cirq/google/api/v1/programs.py
  cirq/google/devices/__init__.py
  cirq/google/devices/known_devices.py
  cirq/google/devices/known_devices_test.py
  cirq/google/devices/serializable_device.py
  cirq/google/devices/serializable_device_test.py
  cirq/google/devices/xmon_device.py
  cirq/google/devices/xmon_device_test.py
  cirq/google/optimizers/__init__.py
  cirq/google/optimizers/convert_to_xmon_gates.py
  cirq/google/optimizers/convert_to_xmon_gates_test.py
  cirq/google/optimizers/optimize_for_xmon.py
  cirq/google/optimizers/optimize_for_xmon_test.py
  cirq/protocols/json.py
  cirq/protocols/json_test.py
  examples/bristlecone_heatmap_example.py
Labels: cla: yes

#2424 Add SQRT_ISWAP_GATESET
  cirq/google/__init__.py
  cirq/google/common_serializers.py
  cirq/google/gate_sets.py
  cirq/google/gate_sets_test.py
  cirq/protocols/json_test.py
Labels: cla: yes

#2349 Add cirq.PauliSum.__pow__ method, generalize cirq.PauliSum.__mul__ methods
  cirq/ops/linear_combinations.py
  cirq/ops/linear_combinations_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2363 Add apply method for mixtures.
  cirq/__init__.py
  cirq/protocols/__init__.py
  cirq/protocols/apply_mixture_protocol.py
  cirq/protocols/apply_mixture_protocol_test.py
  cirq/protocols/json_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2351 Fix `PauliString.pass_operations_over` not supporting common gates
  cirq/contrib/routing/device_test.py
  cirq/contrib/routing/utils_test.py
  cirq/ops/common_gates.py
  cirq/ops/gate_operation.py
  cirq/ops/gate_operation_test.py
  cirq/ops/identity.py
  cirq/ops/parity_gates.py
  cirq/ops/pauli_string.py
  cirq/ops/pauli_string_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2308 Example of direct fidelity estimation
  examples/direct_fidelity_estimation.py
  examples/direct_fidelity_estimation_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2435 Add atol parameter to PauliSum expectation methods
  cirq/ops/linear_combinations.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2434 Raise auto_merge script's ability to see an approving review
  dev_tools/auto_merge.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2287 Add cirq.experiments.t1_decay
  cirq/experiments/__init__.py
  cirq/experiments/t1_decay_experiment.py
  cirq/experiments/t1_decay_experiment_test.py
  cirq/testing/equivalent_repr_eval.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2429 Json serialization of ControlledGate and ControlledOperation
  cirq/ops/controlled_gate.py
  cirq/ops/controlled_operation.py
  cirq/ops/controlled_operation_test.py
  cirq/protocols/json.py
  cirq/protocols/json_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2426 Change XMON to use common serializers
  cirq/google/common_serializers.py
  cirq/google/devices/known_devices.py
  cirq/google/devices/known_devices_test.py
  cirq/google/engine/engine.py
  cirq/google/gate_sets.py
  cirq/google/gate_sets_test.py
Labels: cla: yes

#2430 Add more tests of simulator seeding
  cirq/sim/density_matrix_simulator_test.py
  cirq/sim/sparse_simulator_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2348 adds parse_random_state and associated types
  cirq/contrib/quantum_volume/quantum_volume.py
  cirq/contrib/quantum_volume/quantum_volume_test.py
  cirq/contrib/routing/greedy.py
  cirq/contrib/routing/initialization.py
  cirq/testing/lin_alg_utils.py
  cirq/testing/random_circuit.py
  cirq/value/__init__.py
  cirq/value/random_state.py
  cirq/value/random_state_test.py
  examples/advanced/quantum_volume.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2436 Shor's algorithm, the quantum parts
  examples/examples_test.py
  examples/shor.py
Labels: cla: yes

#2380 Split travis.ci tests into fast stage then slow stage
  .travis.yml
  dev_tools/conf/pip-install-minimal-for-pytest-changed-files.sh
Labels: automerge, cla: yes, front_of_queue_automerge

#2443 Add a build check for contrib references within non-contrib code
  .travis.yml
  check/all
  check/misc
  cirq/protocols/json.py
  cirq/protocols/json_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2444 Rename cirq-dev to cirq-unstable
  .travis.yml
  dev_tools/packaging/publish-dev-package.sh
  dev_tools/packaging/verify-published-package.sh
  setup.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2438 Lazy load param_dict and use symbol name
  cirq/study/resolver.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2441 Speed up circuit creation
  cirq/contrib/quirk/cells/arithmetic_cells.py
  cirq/contrib/quirk/cells/input_cells_test.py
  cirq/devices/unconstrained_device.py
  cirq/ops/moment.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2257 Allow multiple gate sets in a device spec.
  cirq/google/devices/known_devices.py
  cirq/google/devices/known_devices_test.py
  cirq/google/devices/serializable_device.py
  cirq/google/devices/serializable_device_test.py
Labels: Ready for Re-Review, cla: yes

#2433 Generalize read/to_json to work with pathlib.Path and raw json text
  cirq/protocols/json.py
  cirq/protocols/json_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2450 Fix dataclasses package being installed for python 3.7+
  requirements.txt
Labels: automerge, cla: yes, front_of_queue_automerge

#2452 Move SycamoreGate to cirq.google
  cirq/__init__.py
  cirq/google/__init__.py
  cirq/google/gate_sets_test.py
  cirq/google/ops/__init__.py
  cirq/google/ops/sycamore_gate.py
  cirq/google/ops/sycamore_gate_test.py
  cirq/ops/__init__.py
  cirq/protocols/json.py
  cirq/protocols/json_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2454 Start development of 0.7.0
  cirq/_version.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2437 Add WaitGate proto serialization
  cirq/google/common_serializers.py
  cirq/google/common_serializers_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2456 Implement JSON serialization for numpy dtypes
  cirq/protocols/json.py
  cirq/protocols/json_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2459 Add random_state argument to linalg testing functions for seeded randomness
  cirq/testing/lin_alg_utils.py
  cirq/testing/lin_alg_utils_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2460 Speed up wavefunction sampling
  cirq/sim/wave_function.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2462 Speed up density matrix sampling
  cirq/sim/density_matrix_utils.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2463 Speed up sampling in the case of measuring all qudits
  cirq/sim/density_matrix_utils.py
  cirq/sim/wave_function.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2465 Gate.controlled(0) return self
  cirq/ops/raw_types.py
  cirq/ops/raw_types_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2467 Loosen precision requirement on some tests
  cirq/ops/linear_combinations_test.py
  cirq/ops/pauli_string_test.py
Labels: cla: yes

#2469 Use testing assert function for more readable output
  cirq/optimizers/decompositions_test.py
Labels: cla: yes
