Repository quantumlib/Cirq, pull requests merged in 2019-01, with the labels that each got.

#1279 fix table formatting in two more cases (see #1185)
  cirq/google/sim/xmon_simulator.py
  cirq/sim/simulator.py
Labels: cla: yes

#1271 use itertools.groupby instead of looping in Python
  cirq/circuits/circuit.py
Labels: cla: yes

#1280 Remove documentation reference to the deleted class OptimizationPass (see #1248)
  docs/api.rst
Labels: cla: yes

#1272 Nonhardcode python location in dev_tools/env_tools.py
  dev_tools/env_tools.py
Labels: cla: yes

#1268 Remove implicit imports from tests by adding global_vals argument to test routine
  cirq/testing/consistent_protocols.py
  cirq/testing/consistent_protocols_test.py
  cirq/testing/equivalent_repr_eval.py
Labels: cla: yes

#1294 Simpify initialization of Pauli gates
  cirq/ops/pauli_gates.py
Labels: cla: yes

#1295 Remove Pauli addition and subtraction
  cirq/ops/clifford_gate.py
  cirq/ops/clifford_gate_test.py
  cirq/ops/pauli_gates.py
  cirq/ops/pauli_gates_test.py
  cirq/ops/pauli_string_test.py
Labels: cla: yes

#1278 Add examples to the documentation
  docs/examples.rst
  docs/index.rst
Labels: cla: yes

#1274 Fixes bug in Circuit.insert
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
Labels: cla: yes

#1312 Fix FutureWarning from numpy 1.16
  cirq/google/programs.py
Labels: cla: yes

#1276 Support cirq.approx_eq in matrix gates.
  cirq/ops/matrix_gates.py
  cirq/ops/matrix_gates_test.py
Labels: automerge, cla: yes

#1318 updated circuit.to_text_diagram_drawer docstring
  cirq/circuits/circuit.py
Labels: cla: yes

#1319 [Fixes #1315] checks for empty text entry
  cirq/circuits/circuit_test.py
  cirq/circuits/text_diagram_drawer.py
Labels: cla: yes

#1311 Use np.sum in PauliString expectation display
  cirq/ops/display.py
Labels: cla: yes

#1300 Add to snippets test the ability to apply text substitutions when executing snippets
  docs/snippets_test.py
  docs/tutorial.md
Labels: cla: yes

#1308 Add support for more gate types to Quirk export
  cirq/contrib/quirk/export_to_quirk_test.py
  cirq/contrib/quirk/quirk_gate.py
Labels: automerge, cla: yes

#1254 Make include_global_phase argument of assert_decompose_is_consistent_with_unitary default to True
  cirq/ops/common_gates_test.py
  cirq/ops/phased_x_gate_test.py
  cirq/ops/three_qubit_gates_test.py
  cirq/testing/consistent_decomposition.py
  cirq/testing/consistent_protocols.py
Labels: cla: yes

#1313 Set approx_eq default tolerance to 1e-8
  cirq/protocols/approximate_equality.py
  cirq/protocols/approximate_equality_test.py
Labels: automerge, cla: yes

#1304 Adds optimizer to remove redundant acquaintance opportunities
  cirq/contrib/acquaintance/__init__.py
  cirq/contrib/acquaintance/optimizers.py
  cirq/contrib/acquaintance/optimizers_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1275 Create specialized approximate value comparison for EigenGate
  cirq/ops/eigen_gate.py
  cirq/ops/eigen_gate_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1257 Add compute_samples_displays method to SimulatesSamples
  cirq/sim/simulator.py
  cirq/sim/simulator_test.py
  cirq/sim/sparse_simulator_test.py
  cirq/study/visualize_test.py
  examples/bell_inequality.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1247 Use QubitId in stepresult DM.
  cirq/sim/simulator.py
  cirq/sim/simulator_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1317 Add random_superposition()
  cirq/.DS_Store
  cirq/testing/random_superposition.py
  cirq/testing/random_superposition_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1305 Cubic acquaintance strategy
  cirq/contrib/acquaintance/__init__.py
  cirq/contrib/acquaintance/strategies/__init__.py
  cirq/contrib/acquaintance/strategies/cubic.py
  cirq/contrib/acquaintance/strategies/cubic_test.py
Labels: cla: yes

#1303 Adds {__eq__, __repr__} to {SwapPermutationGate, LinearPermutationGate}
  cirq/contrib/__init__.py
  cirq/contrib/acquaintance/gates.py
  cirq/contrib/acquaintance/gates_test.py
  cirq/contrib/acquaintance/permutation.py
  cirq/contrib/acquaintance/permutation_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1331 [Fixes #1329] fixed flaky gates test
  cirq/contrib/acquaintance/gates_test.py
Labels: cla: yes
