Repository quantumlib/Cirq, pull requests merged in 2019-02, with the labels that each got.

#1326 Stateless auto_merge script
  dev_tools/auto_merge.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1338 [Fixes #1335] fixed flaky test_linear_permutation_gate_equality
  cirq/contrib/acquaintance/permutation_test.py
Labels: cla: yes

#1320 Controlled gate decompose & ControlledOperation
  cirq/__init__.py
  cirq/ops/__init__.py
  cirq/ops/controlled_gate.py
  cirq/ops/controlled_operation.py
  cirq/ops/controlled_operation_test.py
  cirq/ops/gate_features.py
  cirq/ops/gate_operation.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1327 Extract wavefunction convenience methods into abstract StateVector class
  cirq/__init__.py
  cirq/google/sim/xmon_simulator.py
  cirq/google/sim/xmon_simulator_test.py
  cirq/sim/__init__.py
  cirq/sim/simulator.py
  cirq/sim/simulator_test.py
  cirq/sim/sparse_simulator.py
  cirq/sim/sparse_simulator_test.py
  cirq/sim/wave_function.py
  cirq/sim/wave_function_test.py
  docs/simulation.md
Labels: automerge, cla: yes, front_of_queue_automerge

#1333 Bare bones identity gate
  cirq/__init__.py
  cirq/ops/__init__.py
  cirq/ops/common_gates.py
  cirq/ops/common_gates_test.py
Labels: cla: yes

#1334 Add mixture protocol
  cirq/__init__.py
  cirq/protocols/__init__.py
  cirq/protocols/inverse_test.py
  cirq/protocols/mixture.py
  cirq/protocols/mixture_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1344 Postpone scanning when master has been recently modified
  dev_tools/auto_merge.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1351 Update documentation to use `python -m pip` instead of just `pip`.
  cirq/study/visualize.py
  docs/development.md
  docs/install.md
Labels: cla: yes

#1362 [fixes #1361] switched from NamedQubit to LineQubit
  cirq/contrib/acquaintance/gates_test.py
Labels: cla: yes

#1360 Add layer to Simulator interfaces to allow other step by step simulations
  cirq/__init__.py
  cirq/google/sim/xmon_simulator.py
  cirq/google/sim/xmon_simulator_test.py
  cirq/sim/__init__.py
  cirq/sim/simulator.py
  cirq/sim/simulator_test.py
  cirq/sim/sparse_simulator.py
  cirq/sim/sparse_simulator_test.py
  cirq/sim/wave_function.py
  cirq/sim/wave_function_simulator.py
  cirq/sim/wave_function_simulator_test.py
  cirq/sim/wave_function_test.py
  docs/api.rst
Labels: cla: yes

#1364 Add method to get valid density matrix from possible inputs
  cirq/__init__.py
  cirq/sim/__init__.py
  cirq/sim/density_matrix.py
  cirq/sim/density_matrix_test.py
  cirq/sim/wave_function.py
Labels: cla: yes

#1365 Add exception type for ctypes error
  cirq/google/sim/mem_manager.py
Labels: cla: yes

#1349 pytest-benchmark init
  .gitignore
  cirq/linalg/decompositions_test.py
  dev_tools/conf/pip-list-dev-tools.txt
  dev_tools/conf/pip-list-python2.7-test-tools.txt
  examples/examples_test.py
Labels: automerge, cla: yes

#1342 Refactor (private) BlockDiagramDrawer out of TextDiagramDrawer
  cirq/circuits/_block_diagram_drawer.py
  cirq/circuits/_block_diagram_drawer_test.py
  cirq/circuits/_box_drawing_character_data.py
  cirq/circuits/_box_drawing_character_data_test.py
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
  cirq/circuits/text_diagram_drawer.py
  cirq/circuits/text_diagram_drawer_test.py
  cirq/contrib/acquaintance/inspection_utils_test.py
  cirq/contrib/qcircuit/qcircuit_diagram.py
  cirq/ops/matrix_gates_test.py
  docs/snippets_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1368 Uses single gate in final moment of swap network
  cirq/contrib/acquaintance/executor_test.py
  cirq/contrib/acquaintance/gates.py
  cirq/contrib/acquaintance/gates_test.py
  cirq/contrib/acquaintance/permutation.py
  cirq/contrib/acquaintance/permutation_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1367 Add has_channel and has_mixture methods.
  cirq/__init__.py
  cirq/ops/common_channels.py
  cirq/ops/common_channels_test.py
  cirq/protocols/__init__.py
  cirq/protocols/channel.py
  cirq/protocols/channel_test.py
  cirq/protocols/mixture.py
  cirq/protocols/mixture_test.py
Labels: Ready for Re-Review, cla: yes

#771 Basic arithmetic example
  examples/basic_arithmetic.py
  examples/examples_test.py
Labels: cla: yes

#1273 Add dockerhub pull
  docs/development.md
  docs/install.md
Labels: automerge, cla: yes

#1281 Remove `cirq.Tolerance` in favor of passing `atol` and `rtol` in method parameters.
  cirq/__init__.py
  cirq/circuits/qasm_output.py
  cirq/contrib/paulistring/clifford_optimize.py
  cirq/contrib/paulistring/convert_gate_set.py
  cirq/contrib/paulistring/convert_to_clifford_gates.py
  cirq/contrib/paulistring/convert_to_pauli_string_phasors.py
  cirq/contrib/paulistring/optimize.py
  cirq/contrib/paulistring/pauli_string_optimize.py
  cirq/contrib/paulistring/separate.py
  cirq/linalg/__init__.py
  cirq/linalg/decompositions.py
  cirq/linalg/decompositions_test.py
  cirq/linalg/diagonalize.py
  cirq/linalg/diagonalize_test.py
  cirq/linalg/predicates.py
  cirq/linalg/predicates_test.py
  cirq/linalg/tolerance.py
  cirq/linalg/tolerance_test.py
  cirq/optimizers/decompositions.py
  cirq/optimizers/two_qubit_decompositions.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1375 Make the api_key optional.
  cirq/google/engine/engine.py
Labels: cla: yes

#1366 Adds measure and sample for density matrices.
  cirq/__init__.py
  cirq/linalg/predicates.py
  cirq/linalg/predicates_test.py
  cirq/sim/__init__.py
  cirq/sim/density_matrix.py
  cirq/sim/density_matrix_test.py
  cirq/sim/density_matrix_utils.py
  cirq/sim/density_matrix_utils_test.py
  cirq/sim/wave_function.py
  cirq/sim/wave_function_test.py
Labels: cla: yes

#1378 Fix missing self.
  cirq/google/engine/engine.py
Labels: cla: yes

#1374 Density matrix simulator
  cirq/__init__.py
  cirq/ops/gate_operation.py
  cirq/ops/gate_operation_test.py
  cirq/protocols/apply_channel.py
  cirq/sim/__init__.py
  cirq/sim/density_matrix_simulator.py
  cirq/sim/density_matrix_simulator_test.py
  cirq/sim/density_matrix_utils_test.py
  cirq/sim/sparse_simulator.py
Labels: cla: yes

#1345 fix controlled gate circuit diagram info passed to subgate
  cirq/ops/controlled_gate.py
  cirq/ops/controlled_gate_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1376 Cleanup in linalg package
  cirq/_compat.py
  cirq/linalg/decompositions.py
  cirq/linalg/diagonalize.py
  cirq/linalg/diagonalize_test.py
  cirq/linalg/predicates.py
  cirq/linalg/tolerance.py
  cirq/linalg/tolerance_test.py
  cirq/ops/eigen_gate.py
  cirq/ops/phased_x_gate.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1346 ControlledOperation._apply_unitary_
  cirq/ops/controlled_gate.py
  cirq/ops/controlled_gate_test.py
  cirq/ops/controlled_operation.py
  cirq/ops/controlled_operation_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1377 Add support for qubit keys in TrialResult.histogram
  .gitignore
  cirq/protocols/resolve_parameters.py
  cirq/study/trial_result.py
  cirq/study/trial_result_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1250 Make `has_unitary` and `unitary` fallback to `decompose`
  cirq/ops/three_qubit_gates.py
  cirq/optimizers/convert_to_cz_and_single_gates_test.py
  cirq/protocols/unitary.py
  cirq/protocols/unitary_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1389 pow magic methods for symbols
  cirq/value/symbol.py
  cirq/value/symbol_test.py
Labels: cla: yes

#990 Replace cirq.Symbol with sympy.Symbol
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
  cirq/contrib/jobs/depolarizer_channel.py
  cirq/contrib/jobs/depolarizer_channel_test.py
  cirq/contrib/paulistring/pauli_string_phasor.py
  cirq/contrib/paulistring/pauli_string_phasor_test.py
  cirq/contrib/quirk/export_to_quirk_test.py
  cirq/contrib/quirk/quirk_gate.py
  cirq/google/programs.py
  cirq/google/programs_test.py
  cirq/google/sim/xmon_simulator_test.py
  cirq/ops/common_gates_test.py
  cirq/ops/controlled_gate_test.py
  cirq/ops/controlled_operation_test.py
  cirq/ops/eigen_gate.py
  cirq/ops/eigen_gate_test.py
  cirq/ops/gate_operation_test.py
  cirq/ops/matrix_gates_test.py
  cirq/ops/pauli_gates.py
  cirq/ops/pauli_interaction_gate.py
  cirq/ops/pauli_interaction_gate_test.py
  cirq/ops/phased_x_gate.py
  cirq/ops/phased_x_gate_test.py
  cirq/optimizers/eject_phased_paulis.py
  cirq/optimizers/eject_z.py
  cirq/protocols/mul.py
  cirq/protocols/unitary.py
  cirq/sim/sparse_simulator_test.py
  cirq/study/resolver.py
  cirq/study/resolver_test.py
  cirq/study/sweeps.py
  cirq/study/sweeps_test.py
  cirq/testing/circuit_compare.py
  cirq/testing/consistent_protocols.py
  cirq/testing/consistent_protocols_test.py
  cirq/value/angle.py
  cirq/value/angle_test.py
  cirq/value/periodic_value.py
  cirq/value/symbol.py
  dev_tools/conf/mypy.ini
  dev_tools/python2.7-requirements.txt
  requirements.txt
Labels: Ready for Re-Review, cla: yes

#1385 Increase speed of some tests
  cirq/google/sim/xmon_stepper_test.py
  examples/basic_arithmetic.py
  examples/bell_inequality.py
  examples/bernstein_vazirani.py
  examples/examples_test.py
  examples/grover.py
  examples/phase_estimator.py
  examples/quantum_fourier_transform.py
Labels: cla: yes

#1384 Add measurement_key protocol.
  cirq/__init__.py
  cirq/circuits/qasm_output.py
  cirq/google/programs.py
  cirq/google/sim/xmon_simulator.py
  cirq/google/xmon_device.py
  cirq/ops/common_gates.py
  cirq/ops/common_gates_test.py
  cirq/ops/gate_features_test.py
  cirq/ops/gate_operation.py
  cirq/ops/gate_operation_test.py
  cirq/protocols/__init__.py
  cirq/protocols/measurement_key.py
  cirq/protocols/measurement_key_test.py
  cirq/protocols/unitary.py
  cirq/sim/density_matrix_simulator.py
  cirq/sim/sparse_simulator.py
Labels: cla: yes

#1387 Make SingleQubitGate.on_each use *targets
  cirq/circuits/circuit_test.py
  cirq/ops/gate_features.py
  cirq/ops/gate_features_test.py
  cirq/protocols/decompose_test.py
  cirq/sim/sparse_simulator_test.py
  examples/bernstein_vazirani.py
  examples/grover.py
  examples/phase_estimator.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1396 Delete cirq.Symbol, fix several snags with sympy
  cirq/__init__.py
  cirq/_compat.py
  cirq/contrib/paulistring/pauli_string_phasor.py
  cirq/contrib/paulistring/pauli_string_phasor_test.py
  cirq/contrib/quirk/export_to_quirk_test.py
  cirq/linalg/decompositions.py
  cirq/ops/common_gates.py
  cirq/ops/common_gates_test.py
  cirq/ops/eigen_gate.py
  cirq/ops/eigen_gate_test.py
  cirq/ops/matrix_gates.py
  cirq/ops/parity_gates.py
  cirq/ops/pauli_interaction_gate.py
  cirq/ops/pauli_string.py
  cirq/ops/pauli_string_test.py
  cirq/ops/phased_x_gate.py
  cirq/ops/phased_x_gate_test.py
  cirq/ops/three_qubit_gates.py
  cirq/optimizers/eject_phased_paulis_test.py
  cirq/optimizers/eject_z_test.py
  cirq/optimizers/merge_interactions_test.py
  cirq/protocols/mul.py
  cirq/protocols/mul_test.py
  cirq/sim/density_matrix_simulator_test.py
  cirq/study/resolver.py
  cirq/study/resolver_test.py
  cirq/testing/consistent_protocols.py
  cirq/testing/consistent_protocols_test.py
  cirq/testing/equivalent_repr_eval.py
  cirq/value/__init__.py
  cirq/value/angle.py
  cirq/value/symbol.py
  cirq/value/symbol_test.py
  docs/simulation.md
  docs/tutorial.md
Labels: automerge, cla: yes, front_of_queue_automerge

#1401 Fix issues found syncing openfermioncirq to cirq dev release
  cirq/contrib/acquaintance/bipartite.py
  cirq/ops/common_gates.py
  cirq/testing/equals_tester.py
  dev_tools/packaging/verify-published-package.sh
  dev_tools/python2.7-requirements.txt
Labels: automerge, cla: yes, front_of_queue_automerge

#1400 Add density matrix to simulator benchmarker
  dev_tools/profiling/benchmark_simulators.py
  dev_tools/profiling/benchmark_simulators_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1390 Pauli expansion protocol
  cirq/__init__.py
  cirq/linalg/__init__.py
  cirq/linalg/operator_spaces.py
  cirq/linalg/operator_spaces_test.py
  cirq/ops/common_gates.py
  cirq/ops/common_gates_test.py
  cirq/ops/phased_x_gate.py
  cirq/protocols/__init__.py
  cirq/protocols/pauli_expansion.py
  cirq/protocols/pauli_expansion_test.py
  cirq/testing/__init__.py
  cirq/testing/consistent_pauli_expansion.py
  cirq/testing/consistent_pauli_expansion_test.py
  cirq/testing/consistent_protocols.py
  cirq/testing/consistent_protocols_test.py
Labels: cla: yes

#1402 _unitary_() init for qasm_output.py
  cirq/circuits/qasm_output.py
  cirq/circuits/qasm_output_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1403 Make circuit_compare._infer_qubit_count use Gate.num_qubits
  cirq/testing/circuit_compare.py
  cirq/testing/circuit_compare_test.py
  cirq/testing/equivalent_repr_eval.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1404 Pretty print TrialResult in ipython
  cirq/ops/moment.py
  cirq/study/trial_result.py
  cirq/study/trial_result_test.py
  dev_tools/incremental_coverage.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1398 Linspace accepts sympy symbol
  cirq/study/sweeps.py
  cirq/study/sweeps_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1411 Work around bug in pylint's parser astroid
  .travis.yml
  dev_tools/conf/pip-list-dev-tools.txt
Labels: automerge, cla: yes, front_of_queue_automerge

#1392 Make pylint catch strings with anomalous backslashes
  cirq/circuits/_block_diagram_drawer_test.py
  cirq/circuits/qasm_output.py
  cirq/contrib/qcircuit/qcircuit_diagram.py
  cirq/contrib/qcircuit/qcircuit_diagram_info.py
  cirq/contrib/qcircuit/qcircuit_diagram_info_test.py
  cirq/ops/parity_gates.py
  cirq/protocols/channel.py
  cirq/protocols/measurement_key.py
  cirq/sim/wave_function.py
  dev_tools/check_pytest_v2.py
  dev_tools/check_pytest_with_coverage.py
  dev_tools/conf/.pylintrc
  examples/bcs_mean_field.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1406 Delete cirq/contrib/jobs
  cirq/contrib/__init__.py
  cirq/contrib/jobs/__init__.py
  cirq/contrib/jobs/depolarizer_channel.py
  cirq/contrib/jobs/depolarizer_channel_test.py
  cirq/contrib/jobs/job.py
  cirq/contrib/jobs/job_test.py
Labels: automerge, cla: yes, front_of_queue_automerge
