Repository quantumlib/Cirq, pull requests merged in 2019-08, with the labels that each got.

#1904 Suppress Application Default Credential warnings while creating Engine service
  cirq/google/engine/engine.py
Labels: automerge, cla: yes

#1895 Eject Zs through SWAP
  cirq/optimizers/eject_z.py
  cirq/optimizers/eject_z_test.py
Labels: cla: yes

#1910 Fix dev tool terminal colors on Mac
  check/all
  check/format-incremental
  check/mypy
  check/pytest-and-incremental-coverage
  check/pytest-changed-files
  dev_tools/build-docs.sh
  dev_tools/build-protos.sh
  dev_tools/packaging/produce-package.sh
  dev_tools/packaging/publish-dev-package.sh
  dev_tools/packaging/verify-published-package.sh
Labels: cla: yes

#1909 Add qubits property
  cirq/ops/linear_combinations.py
  cirq/ops/linear_combinations_test.py
Labels: automerge, cla: yes

#1917 Roll back extras_require
  docs/development.md
  docs/install.md
  setup.py
Labels: cla: yes

#1914 adds missing methods to Circuit.__doc__
  cirq/circuits/circuit.py
Labels: cla: yes

#1919 Change old references to SupportsApplyUnitary
  cirq/sim/density_matrix_simulator.py
  cirq/sim/sparse_simulator.py
  docs/api.rst
Labels: cla: yes

#1905 Reuse program
  cirq/google/engine/engine.py
  cirq/google/engine/engine_test.py
Labels: automerge, cla: yes

#1911 Efficient integer powers of Pauli combinations
  cirq/__init__.py
  cirq/linalg/__init__.py
  cirq/linalg/operator_spaces.py
  cirq/linalg/operator_spaces_test.py
  cirq/ops/linear_combinations.py
  cirq/ops/linear_combinations_test.py
Labels: cla: yes

#1923 Add missing classes in google __init__
  cirq/google/__init__.py
  cirq/google/engine/__init__.py
Labels: cla: yes

#1924 Add missing program_id
  cirq/google/engine/engine.py
Labels: cla: yes

#1926 Fix a type on processor_selector
  cirq/google/engine/engine.py
  cirq/google/engine/engine_test.py
Labels: cla: yes

#1925 Remove whitespace in density simulator test
  cirq/sim/density_matrix_simulator_test.py
Labels: cla: yes

#1918 Remove gifs from docs
  docs/resources/BitFlipChannelDef.gif
  docs/resources/EnergyDef.gif
  docs/resources/HamiltonianDef.gif
  docs/resources/StateDef.gif
  docs/simulation.md
  docs/tutorial.md
Labels: automerge, cla: yes

#1842 Calculate trace_distance_bound for unitaries
  cirq/ops/common_gates.py
  cirq/ops/common_gates_test.py
  cirq/ops/controlled_gate.py
  cirq/ops/controlled_gate_test.py
  cirq/ops/controlled_operation.py
  cirq/ops/controlled_operation_test.py
  cirq/ops/eigen_gate.py
  cirq/ops/eigen_gate_test.py
  cirq/ops/matrix_gates.py
  cirq/ops/parallel_gate_operation.py
  cirq/ops/parallel_gate_operation_test.py
  cirq/ops/parity_gates.py
  cirq/ops/parity_gates_test.py
  cirq/ops/pauli_string_phasor.py
  cirq/ops/phased_x_gate.py
  cirq/ops/three_qubit_gates.py
  cirq/protocols/__init__.py
  cirq/protocols/trace_distance_bound.py
  cirq/protocols/trace_distance_bound_test.py
  cirq/testing/__init__.py
  cirq/testing/consistent_protocols.py
Labels: automerge, cla: yes

#1929 Add ResetChannel
  cirq/__init__.py
  cirq/ops/__init__.py
  cirq/ops/common_channels.py
  cirq/ops/common_channels_test.py
  docs/api.rst
Labels: cla: yes

#1931 Remove many obsoleted pylint directives
  cirq/circuits/_bucket_priority_queue.py
  cirq/circuits/circuit.py
  cirq/circuits/optimization_pass.py
  cirq/circuits/qasm_output.py
  cirq/circuits/text_diagram_drawer.py
  cirq/contrib/acquaintance/executor.py
  cirq/contrib/acquaintance/gates_test.py
  cirq/contrib/acquaintance/mutation_utils.py
  cirq/contrib/acquaintance/optimizers.py
  cirq/contrib/graph_device/uniform_graph_device.py
  cirq/contrib/paulistring/convert_to_pauli_string_phasors.py
  cirq/devices/device.py
  cirq/devices/noise_model.py
  cirq/google/api/v1/programs.py
  cirq/google/engine/engine_sampler.py
  cirq/google/line/placement/anneal.py
  cirq/google/line/placement/chip.py
  cirq/google/line/placement/greedy.py
  cirq/google/line/placement/line.py
  cirq/google/line/placement/place_strategy.py
  cirq/google/optimize.py
  cirq/google/sim/mem_manager.py
  cirq/google/sim/xmon_simulator.py
  cirq/google/xmon_device.py
  cirq/ion/ion_device.py
  cirq/linalg/decompositions.py
  cirq/linalg/predicates.py
  cirq/ops/display.py
  cirq/ops/gate_operation.py
  cirq/ops/parallel_gate_operation.py
  cirq/ops/pauli_gates.py
  cirq/ops/qubit_order.py
  cirq/ops/raw_types.py
  cirq/optimizers/drop_negligible.py
  cirq/optimizers/eject_phased_paulis.py
  cirq/optimizers/eject_z.py
  cirq/optimizers/merge_interactions_test.py
  cirq/protocols/circuit_diagram_info.py
  cirq/protocols/control.py
  cirq/protocols/decompose.py
  cirq/protocols/has_unitary.py
  cirq/protocols/inverse.py
  cirq/protocols/pow.py
  cirq/protocols/qasm.py
  cirq/protocols/qid_shape_protocol.py
  cirq/protocols/resolve_parameters.py
  cirq/protocols/unitary.py
  cirq/schedules/schedule.py
  cirq/sim/density_matrix_simulator.py
  cirq/study/resolver.py
  cirq/study/trial_result.py
  cirq/testing/circuit_compare.py
  cirq/testing/random_circuit.py
  cirq/work/collector.py
  cirq/work/sampler.py
  dev_tools/shell_tools.py
  docs/snippets_test.py
Labels: cla: yes

#1935 Add back in extras_require by using compatible versions
  cirq/contrib/contrib-requirements.txt
  dev_tools/conf/pip-list-dev-tools.txt
  docs/development.md
  docs/install.md
  setup.py
Labels: cla: yes

#1937 Fix PhasedXPowGate circuit diagram
  cirq/ops/phased_x_gate.py
  cirq/ops/phased_x_gate_test.py
Labels: cla: yes

#1941 Cleanup: remove instances of abstractmethod for properties
  cirq/contrib/acquaintance/executor.py
  cirq/ops/raw_types.py
  cirq/study/sweeps.py
Labels: cla: yes

#1938 Dev release push to test pypi
  .travis.yml
  dev_tools/packaging/set-dev-version.sh
  setup.py
Labels: cla: yes

#1946 Fix error code output for check/pytest
  check/pytest
  cirq/ops/phased_x_gate.py
  cirq/ops/phased_x_gate_test.py
Labels: cla: yes

#1944 Change instance checks for sympy.Symbol to sympy.Basic
  cirq/ops/matrix_gates.py
  cirq/ops/phased_x_gate.py
  cirq/ops/phased_x_gate_test.py
  cirq/optimizers/eject_phased_paulis.py
  cirq/optimizers/eject_phased_paulis_test.py
  cirq/optimizers/eject_z.py
  cirq/optimizers/eject_z_test.py
  cirq/testing/consistent_phase_by.py
  cirq/testing/consistent_phase_by_test.py
  cirq/testing/consistent_protocols_test.py
Labels: cla: yes

#1928 Add SimulatesAmplitudes simulator interface
  cirq/__init__.py
  cirq/sim/__init__.py
  cirq/sim/simulator.py
  cirq/sim/sparse_simulator_test.py
  cirq/sim/wave_function_simulator.py
Labels: cla: yes

#1947 Fix Travis deploy condition
  .travis.yml
Labels: cla: yes

#1906 Add a Heatmap class to cirq/vis/
  cirq/__init__.py
  cirq/vis/README.md
  cirq/vis/__init__.py
  cirq/vis/examples/bristlecone_heatmap_example.png
  cirq/vis/examples/bristlecone_heatmap_example.py
  cirq/vis/examples/bristlecone_heatmap_example_test.py
  cirq/vis/heatmap.py
  cirq/vis/heatmap_test.py
  dev_tools/conf/mypy.ini
Labels: cla: yes

#1953 Fix Travis dev-release URL and version
  .travis.yml
  dev_tools/packaging/set-dev-version.sh
  setup.py
Labels: cla: yes

#1954 makes circuit DAG transitive closure
  cirq/circuits/circuit_dag.py
  cirq/circuits/circuit_dag_test.py
Labels: bug, cla: yes

#1955 Make engine not eat error messages
  cirq/google/engine/engine.py
  cirq/google/engine/engine_test.py
Labels: cla: yes

#1956 Add warning to readme for dev version on pypi
  setup.py
Labels: cla: yes

#1950 Support symbols in EjectZ
  cirq/optimizers/decompositions.py
  cirq/optimizers/eject_z.py
  cirq/optimizers/eject_z_test.py
Labels: cla: yes

#1957 Add spaces to dev string
  setup.py
Labels: cla: yes

#1949 Fix invert mask bugs in simulator.
  cirq/ops/common_gates.py
  cirq/ops/common_gates_test.py
  cirq/sim/simulator.py
  cirq/sim/simulator_test.py
  cirq/sim/sparse_simulator.py
  cirq/sim/sparse_simulator_test.py
Labels: cla: yes

#1959 Add pandoc to dev apt-list
  dev_tools/conf/apt-list-dev-tools.txt
Labels: cla: yes

#1962 Move over to uploading cirq-dev to quantumlibdev pypi on prod
  .travis.yml
Labels: cla: yes

#1964 Revert tf_nightly requirement to `tensorflow` because tensorflow now support python 3.7
  cirq/contrib/contrib-requirements.txt
Labels: cla: yes

#1960 Cross entropy benchmarking
  cirq/experiments/__init__.py
  cirq/experiments/cross_entropy_benchmarking.py
  cirq/experiments/cross_entropy_benchmarking_test.py
  examples/cross_entropy_benchmarking_example.py
Labels: cla: yes

#1970 Address cross entropy comments from #1960
  cirq/experiments/__init__.py
  cirq/experiments/cross_entropy_benchmarking.py
  cirq/experiments/cross_entropy_benchmarking_test.py
  examples/cross_entropy_benchmarking_example.py
  examples/examples_test.py
Labels: cla: yes

#1971 Add atol parameter to GlobalPhaseOperation
  cirq/ops/global_phase_op.py
Labels: cla: yes

#1851 Fix SupportsPhase documentation
  cirq/protocols/phase.py
Labels: automerge, cla: yes

#1677 Implement ThreeQubitDiagonalGate
  cirq/__init__.py
  cirq/ops/__init__.py
  cirq/ops/three_qubit_gates.py
  cirq/ops/three_qubit_gates_test.py
Labels: Ready for Re-Review, cla: yes

#1976 Equality for CSwapGate
  cirq/ops/three_qubit_gates.py
  cirq/ops/three_qubit_gates_test.py
Labels: cla: yes

#1977 Add pauli expansion to three qubit gate and update doc
  cirq/ops/three_qubit_gates.py
  cirq/ops/three_qubit_gates_test.py
Labels: cla: yes

#1979 Move LineQubit to device and delete line
  cirq/__init__.py
  cirq/contrib/acquaintance/testing.py
  cirq/contrib/graph_device/uniform_graph_device.py
  cirq/contrib/quirk/export_to_quirk.py
  cirq/contrib/quirk/linearize_circuit.py
  cirq/devices/__init__.py
  cirq/devices/line_qubit.py
  cirq/devices/line_qubit_test.py
  cirq/ion/ion_device.py
  cirq/line/__init__.py
  cirq/ops/raw_types.py
  cirq/protocols/has_unitary.py
  cirq/sim/mux.py
  cirq/testing/consistent_decomposition.py
  cirq/testing/consistent_qasm.py
Labels: cla: yes

#1980 Speed up qaoa test
  examples/examples_test.py
  examples/qaoa.py
Labels: cla: yes

#1982 Add EngineProgram to QuantumEngineSampler
  cirq/google/engine/engine.py
  cirq/google/engine/engine_sampler.py
  cirq/google/engine/engine_sampler_test.py
Labels: cla: yes

#1974 Support symbols in EjectPhasedPaulis optimizer
  cirq/ops/pauli_gates.py
  cirq/optimizers/decompositions.py
  cirq/optimizers/decompositions_test.py
  cirq/optimizers/eject_phased_paulis.py
  cirq/optimizers/eject_phased_paulis_test.py
  cirq/value/angle.py
  cirq/value/angle_test.py
Labels: automerge, cla: yes

#1990 Add TParamVal alias
  cirq/__init__.py
  cirq/google/api/v1/programs.py
  cirq/ops/common_gates.py
  cirq/ops/eigen_gate.py
  cirq/ops/eigen_gate_test.py
  cirq/ops/pauli_gates.py
  cirq/ops/pauli_interaction_gate.py
  cirq/ops/three_qubit_gates.py
  cirq/optimizers/eject_phased_paulis.py
  cirq/study/resolver.py
  cirq/testing/consistent_protocols.py
  cirq/value/__init__.py
  cirq/value/angle.py
  cirq/value/type_alias.py
Labels: cla: yes

#1894 Device specification proto
  cirq/api/google/v2/device.proto
  cirq/api/google/v2/device_pb2.py
  cirq/api/google/v2/device_pb2.pyi
Labels: Ready for Re-Review, cla: yes

#1988 Make engine calibration a dict and add heatmap
  cirq/google/engine/engine.py
  cirq/google/engine/engine_test.py
  cirq/vis/heatmap.py
Labels: cla: yes

#1963 Add parameter expression flattening
  cirq/__init__.py
  cirq/google/api/v1/params_test.py
  cirq/protocols/resolve_parameters.py
  cirq/study/__init__.py
  cirq/study/flatten_expressions.py
  cirq/study/flatten_expressions_test.py
  cirq/study/resolver.py
  cirq/study/sweepable.py
  cirq/study/sweepable_test.py
  cirq/study/sweeps.py
  cirq/study/sweeps_test.py
Labels: cla: yes

#2007 Remove dev deploy
  .travis.yml
Labels: cla: yes

#2004 Move ControlledOperation nested control flattening out of __new__
  cirq/ops/controlled_operation.py
Labels: cla: yes

#1993 Delete XmonSimulator
  cirq/google/__init__.py
  cirq/google/sim/__init__.py
  cirq/google/sim/mem_manager.py
  cirq/google/sim/mem_manager_test.py
  cirq/google/sim/xmon_simulator.py
  cirq/google/sim/xmon_simulator_test.py
  cirq/google/sim/xmon_stepper.py
  cirq/google/sim/xmon_stepper_test.py
  dev_tools/profiling/benchmark_simulators.py
  dev_tools/profiling/benchmark_simulators_test.py
  docs/api.rst
  docs/simulation.md
Labels: cla: yes

#2003 Simplify the type of ValueMap in cirq/vis/heatmap.py.
  cirq/vis/heatmap.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2005 Fix the quantum teleportation example
  examples/examples_test.py
  examples/quantum_teleportation.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1981 Fix doc warnings
  cirq/ops/common_gates.py
  cirq/sim/density_matrix_simulator.py
  cirq/sim/sparse_simulator.py
  cirq/sim/wave_function.py
  cirq/sim/wave_function_simulator.py
  cirq/study/trial_result.py
  docs/conf.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1893 Delete continuous-integration/ folder
  continuous-integration/check.sh
  continuous-integration/simple_check.sh
  dev_tools/all_checks.py
  dev_tools/check_pylint.py
  dev_tools/check_typecheck.py
  dev_tools/run_checks.py
  dev_tools/run_pytest_and_incremental_coverage.py
  dev_tools/run_simple_checks.py
Labels: cla: yes

#1891 Add reference for iswap gate convention
  cirq/ops/common_gates.py
  cirq/ops/common_gates_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2010 Split engine into more modules
  cirq/google/engine/__init__.py
  cirq/google/engine/calibration.py
  cirq/google/engine/calibration_test.py
  cirq/google/engine/engine.py
  cirq/google/engine/engine_job.py
  cirq/google/engine/engine_job_test.py
  cirq/google/engine/engine_program.py
  cirq/google/engine/engine_program_test.py
  cirq/google/engine/engine_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2017 Add seed to simulators
  cirq/sim/density_matrix_simulator.py
  cirq/sim/density_matrix_simulator_test.py
  cirq/sim/mux.py
  cirq/sim/mux_test.py
  cirq/sim/sparse_simulator.py
  cirq/sim/sparse_simulator_test.py
Labels: cla: yes

#2012 Make simulators fail when all parameters are not resolved
  cirq/sim/density_matrix_simulator.py
  cirq/sim/density_matrix_simulator_test.py
  cirq/sim/sparse_simulator.py
  cirq/sim/sparse_simulator_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1820 added swap_gate arg to complete acquaintance strategy
  cirq/contrib/acquaintance/__init__.py
  cirq/contrib/acquaintance/gates.py
  cirq/contrib/acquaintance/gates_test.py
  cirq/contrib/acquaintance/permutation.py
  cirq/contrib/acquaintance/strategies/complete.py
Labels: cla: yes

#2008 Update extras_requires to a contrib and a dev_env which includes dev plus contrib
  docs/development.md
  setup.py
Labels: cla: yes

#2016 Support cirq.I.on_each()
  cirq/ops/common_gates.py
  cirq/ops/common_gates_test.py
  cirq/ops/gate_features.py
Labels: cla: yes

#2013 Update development docs for check/all script
  docs/development.md
Labels: cla: yes

#1880 JSON Protocol
  cirq/__init__.py
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
  cirq/devices/grid_qubit.py
  cirq/devices/grid_qubit_test.py
  cirq/devices/line_qubit.py
  cirq/devices/line_qubit_test.py
  cirq/devices/unconstrained_device.py
  cirq/ops/common_gates.py
  cirq/ops/eigen_gate.py
  cirq/ops/fsim_gate.py
  cirq/ops/fsim_gate_test.py
  cirq/ops/gate_operation.py
  cirq/ops/global_phase_op.py
  cirq/ops/global_phase_op_test.py
  cirq/ops/moment.py
  cirq/ops/moment_test.py
  cirq/ops/named_qubit.py
  cirq/ops/pauli_gates.py
  cirq/ops/pauli_string.py
  cirq/ops/phased_x_gate.py
  cirq/ops/raw_types.py
  cirq/ops/raw_types_test.py
  cirq/protocols/__init__.py
  cirq/protocols/json.py
  cirq/protocols/json_test.py
  cirq/study/trial_result.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2019 Add invert_mask to MeasureInfo
  cirq/google/api/v2/results.py
  cirq/google/api/v2/results_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2037 Fix circular import issues and document inter-module dependency ordering
  cirq/__init__.py
  cirq/_import.py
  cirq/linalg/transformations.py
  cirq/ops/clifford_gate.py
  cirq/ops/common_channels.py
  cirq/ops/common_gates.py
  cirq/ops/controlled_gate.py
  cirq/ops/controlled_operation.py
  cirq/ops/eigen_gate.py
  cirq/ops/gate_operation.py
  cirq/ops/matrix_gates.py
  cirq/ops/moment.py
  cirq/ops/parallel_gate_operation.py
  cirq/ops/parity_gates.py
  cirq/ops/pauli_gates.py
  cirq/ops/pauli_interaction_gate.py
  cirq/ops/pauli_string.py
  cirq/ops/pauli_string_phasor.py
  cirq/ops/pauli_string_raw_types.py
  cirq/ops/phased_x_gate.py
  cirq/ops/raw_types.py
  cirq/ops/three_qubit_gates.py
  cirq/testing/circuit_compare.py
  cirq/value/value_equality.py
  dev_tools/import_test.py
Labels: cla: yes

#2031 Add default annotation to heatmap.
  cirq/vis/heatmap.py
  cirq/vis/heatmap_test.py
Labels: cla: yes

#2046 Improve error message when failing to parse an operation
  cirq/google/serializable_gate_set.py
  cirq/google/serializable_gate_set_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2023 Update publish dev pypi script to use cirq-dev
  dev_tools/packaging/generate-dev-version-id.sh
  dev_tools/packaging/publish-dev-package.sh
  dev_tools/packaging/set-dev-version.sh
Labels: Ready for Re-Review, automerge, cla: yes, front_of_queue_automerge

#2052 Fix bugs in publish-dev-package and verify-published-package
  dev_tools/packaging/publish-dev-package.sh
  dev_tools/packaging/verify-published-package.sh
Labels: automerge, cla: yes, front_of_queue_automerge

#2038 Shor's algorithm, the classical parts
  examples/examples_test.py
  examples/shor.py
Labels: cla: yes

#2054 Add dev deploy to pypi on merge back
  .travis.yml
Labels: cla: yes

#2018 [Qudits, WIP] Add dimension property to Qids
  cirq/__init__.py
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
  cirq/devices/__init__.py
  cirq/devices/grid_qubit.py
  cirq/devices/line_qubit.py
  cirq/devices/line_qubit_test.py
  cirq/ops/__init__.py
  cirq/ops/controlled_gate.py
  cirq/ops/gate_features_test.py
  cirq/ops/gate_operation_test.py
  cirq/ops/matrix_gates.py
  cirq/ops/named_qubit.py
  cirq/ops/op_tree.py
  cirq/ops/op_tree_test.py
  cirq/ops/raw_types.py
  cirq/ops/raw_types_test.py
  cirq/protocols/apply_unitary.py
  cirq/protocols/apply_unitary_test.py
  cirq/protocols/has_unitary.py
  cirq/protocols/json.py
  cirq/protocols/json_test.py
  cirq/protocols/qid_shape_protocol.py
  cirq/protocols/qid_shape_protocol_test.py
  cirq/sim/mux.py
  cirq/testing/consistent_decomposition.py
  dev_tools/incremental_coverage.py
Labels: cla: yes

#2033 Integer powers of linear combinations of Pauli gate operations
  cirq/ops/linear_combinations.py
  cirq/ops/linear_combinations_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2042 Rename to_json_dict to obj_to_dict_helper
  cirq/__init__.py
  cirq/circuits/circuit.py
  cirq/devices/grid_qubit.py
  cirq/devices/line_qubit.py
  cirq/devices/unconstrained_device.py
  cirq/ops/eigen_gate.py
  cirq/ops/fsim_gate.py
  cirq/ops/gate_operation.py
  cirq/ops/global_phase_op.py
  cirq/ops/moment.py
  cirq/ops/named_qubit.py
  cirq/ops/pauli_string.py
  cirq/ops/phased_x_gate.py
  cirq/ops/raw_types.py
  cirq/protocols/__init__.py
  cirq/protocols/json.py
Labels: automerge, cla: yes, front_of_queue_automerge
