Repository quantumlib/Cirq, pull requests merged in 2019-07, with the labels that each got.

#1763 [Qasm import] rotation gates
  cirq/contrib/qasm_import/_parser.py
  cirq/contrib/qasm_import/_parser_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1762 Allow adding OP_TREEs into Circuit
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1769 Remove Unnecessary 'elif' after 'return' statements
  cirq/contrib/acquaintance/bipartite.py
  cirq/contrib/paulistring/convert_to_clifford_gates.py
  cirq/google/api/v2/sweeps.py
  cirq/google/engine/engine.py
  cirq/google/line/placement/greedy.py
  cirq/google/params.py
  cirq/google/programs.py
  cirq/google/serializable_gate_set.py
  cirq/ion/convert_to_ion_gates.py
  cirq/ops/clifford_gate.py
  cirq/ops/pauli_string.py
  cirq/study/sweepable.py
  cirq/value/duration.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1776 Mention gitter cirqdev in readme
  README.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#1747 Refactor cirq.has_unitary into a list-of-strategies implementation
  cirq/optimizers/convert_to_cz_and_single_gates_test.py
  cirq/protocols/__init__.py
  cirq/protocols/has_unitary.py
  cirq/protocols/has_unitary_test.py
  cirq/protocols/mixture.py
  cirq/protocols/unitary.py
  dev_tools/incremental_coverage.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1781 precompute comparison key in NamedQubit
  cirq/ops/named_qubit.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1551 Add cirq.SampleCollector and associated utilities
  cirq/__init__.py
  cirq/experiments/qubit_characterizations.py
  cirq/ops/__init__.py
  cirq/ops/linear_combinations.py
  cirq/ops/linear_combinations_test.py
  cirq/ops/pauli_string.py
  cirq/ops/pauli_string_test.py
  cirq/sim/__init__.py
  cirq/sim/simulator.py
  cirq/sim/simulator_test.py
  cirq/sim/sparse_simulator_test.py
  cirq/work/__init__.py
  cirq/work/collector.py
  cirq/work/collector_test.py
  cirq/work/pauli_sum_collector.py
  cirq/work/pauli_sum_collector_test.py
  cirq/work/sampler.py
  cirq/work/sampler_test.py
  cirq/work/work_pool.py
  cirq/work/work_pool_test.py
Labels: cla: yes

#1768 Remove Unnecessary 'else' after 'return' statements
  cirq/circuits/circuit.py
  cirq/circuits/circuit_dag.py
  cirq/contrib/paulistring/clifford_optimize.py
  cirq/google/engine/engine.py
  cirq/google/line/placement/optimization.py
  cirq/google/programs.py
  cirq/google/sim/xmon_simulator.py
  cirq/ops/clifford_gate.py
  cirq/ops/common_gates.py
  cirq/ops/phased_x_gate.py
  cirq/optimizers/two_qubit_decompositions.py
  cirq/protocols/resolve_parameters.py
  cirq/sim/density_matrix_simulator.py
  cirq/sim/sparse_simulator.py
  cirq/testing/consistent_qasm.py
  cirq/work/work_pool.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1749 Rename Circuit.apply_unitary_effect_to_state to Circuit.final_wavefunction
  cirq/_compat.py
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
  cirq/contrib/tpu/circuit_to_tensorflow_test.py
  cirq/ops/display_test.py
  cirq/ops/pauli_string_test.py
  cirq/sim/sparse_simulator_test.py
  cirq/sim/wave_function_simulator.py
  dev_tools/profiling/benchmark_simulators.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1794 Fix QubitOrder.explicit
  cirq/ops/qubit_order.py
  cirq/ops/qubit_order_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1766 [QASM import] u3, u2, id gates
  cirq/circuits/qasm_output.py
  cirq/circuits/qasm_output_test.py
  cirq/contrib/qasm_import/_parser.py
  cirq/contrib/qasm_import/_parser_test.py
  cirq/contrib/qasm_import/qasm_test.py
  cirq/ops/common_gates.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1790 Refactor cirq.apply_unitary to use list-of-strategies approach
  cirq/__init__.py
  cirq/ops/common_gates.py
  cirq/ops/gate_operation.py
  cirq/protocols/__init__.py
  cirq/protocols/apply_unitary.py
  cirq/protocols/apply_unitary_test.py
  cirq/protocols/channel.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1788 Don't auto-replace PhasedXPowGate instances with XPowGate or YPowGate
  cirq/ops/phased_x_gate.py
  cirq/ops/phased_x_gate_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1789 Refactor cirq.unitary to use list-of-strategies approach
  cirq/optimizers/merge_interactions.py
  cirq/protocols/unitary.py
  cirq/protocols/unitary_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1785 More verbose output when gate fails to be serialized
  cirq/google/serializable_gate_set.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1797 s/v1/v2 for metrics proto.
  cirq/api/google/v2/BUILD
  cirq/api/google/v2/metrics.proto
  cirq/api/google/v2/metrics_pb2.py
  cirq/api/google/v2/program_pb2.py
  cirq/api/google/v2/result_pb2.py
  cirq/api/google/v2/run_context_pb2.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1779 Use v2 protos in cirq.google.Engine
  cirq/google/api/v2/results.py
  cirq/google/api/v2/results_test.py
  cirq/google/engine/engine.py
  cirq/google/engine/engine_test.py
Labels: Ready for Re-Review, cla: yes

#1777 [Qudits] Add new protocols: cirq.num_qubits, cirq.qid_shape
  cirq/__init__.py
  cirq/_compat.py
  cirq/ops/__init__.py
  cirq/ops/gate_features.py
  cirq/ops/gate_operation.py
  cirq/ops/gate_operation_test.py
  cirq/ops/op_tree.py
  cirq/ops/op_tree_test.py
  cirq/ops/raw_types.py
  cirq/ops/raw_types_test.py
  cirq/protocols/__init__.py
  cirq/protocols/qid_shape_protocol.py
  cirq/protocols/qid_shape_protocol_test.py
  cirq/testing/__init__.py
  cirq/testing/circuit_compare.py
  cirq/testing/circuit_compare_test.py
  cirq/testing/consistent_protocols.py
Labels: cla: yes

#1752 Use Pandas DataFrame instead of Dict under the hood in TrialResult
  cirq/google/api/v2/results.py
  cirq/google/api/v2/results_test.py
  cirq/google/engine/engine.py
  cirq/google/sim/xmon_simulator_test.py
  cirq/sim/simulator.py
  cirq/sim/simulator_test.py
  cirq/study/compute_displays_result_test.py
  cirq/study/trial_result.py
  cirq/study/trial_result_test.py
  dev_tools/conf/mypy.ini
  requirements.txt
Labels: automerge, cla: yes, front_of_queue_automerge

#1743 Add PauliString._unitary_ and cirq.GlobalPhaseOperation
  cirq/__init__.py
  cirq/circuits/circuit.py
  cirq/linalg/combinators.py
  cirq/linalg/combinators_test.py
  cirq/ops/__init__.py
  cirq/ops/common_gates.py
  cirq/ops/global_phase_op.py
  cirq/ops/global_phase_op_test.py
  cirq/ops/pauli_string.py
  cirq/ops/pauli_string_test.py
  cirq/ops/raw_types.py
  cirq/sim/density_matrix_simulator_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1802 Add static TrialResult.from_single_parameter_set factory method
  cirq/google/api/v2/results.py
  cirq/google/api/v2/results_test.py
  cirq/google/engine/engine.py
  cirq/sim/simulator.py
  cirq/sim/simulator_test.py
  cirq/study/compute_displays_result_test.py
  cirq/study/trial_result.py
  cirq/study/trial_result_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1796 Change pytest.raises to use match instead of message.
  cirq/contrib/acquaintance/permutation_test.py
  cirq/google/sim/xmon_simulator_test.py
  cirq/google/xmon_device_test.py
  cirq/ion/ion_device_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1798 Make displays respect PauliString coefficient
  cirq/ops/display.py
  cirq/ops/display_test.py
Labels: automerge, bug, cla: yes, front_of_queue_automerge

#1811 Optimize TrialResult.data
  cirq/__init__.py
  cirq/study/trial_result.py
  cirq/study/trial_result_test.py
  cirq/value/__init__.py
  cirq/value/digits.py
  cirq/value/digits_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1818 Remove perf test continuous integration
  .travis.yml
Labels: automerge, cla: yes, front_of_queue_automerge

#1799 [QASM import] one qubit gates
  cirq/circuits/qasm_output.py
  cirq/contrib/qasm_import/_parser.py
  cirq/contrib/qasm_import/_parser_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1822 Add GateOperation gate instance test
  cirq/__init__.py
  cirq/ops/__init__.py
  cirq/ops/gate_operation.py
  cirq/ops/gate_operation_test.py
Labels: cla: yes

#1817 Add doctest continuous integration
  check/doctest
  cirq/linalg/decompositions_perf_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1824 Add doctest to .travis.yml
  .travis.yml
Labels: automerge, cla: yes, front_of_queue_automerge

#1771 [Qudits] Add support to cirq.unitary, cirq.apply_unitary, and Circuit
  cirq/__init__.py
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
  cirq/linalg/__init__.py
  cirq/linalg/states.py
  cirq/linalg/states_test.py
  cirq/linalg/transformations.py
  cirq/protocols/apply_channel_test.py
  cirq/protocols/apply_unitary.py
  cirq/protocols/apply_unitary_test.py
  cirq/protocols/has_unitary.py
  cirq/protocols/unitary.py
  cirq/protocols/unitary_test.py
Labels: cla: yes, front_of_queue_automerge

#1825 Add --actually-quiet parameter to check/pytest and use it in continuous integration runs
  .travis.yml
  check/pytest
  dev_tools/check_pytest_with_coverage.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1827 When user removes automerge but leaves front_of_queue_automerge, cancel automerge
  dev_tools/auto_merge.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1829 Fix deprecation warnings due to not using collections.abc
  cirq/google/engine/engine.py
  cirq/ops/gate_features.py
  cirq/ops/gate_features_test.py
  cirq/ops/op_tree.py
  cirq/ops/qubit_order.py
  cirq/protocols/circuit_diagram_info.py
  cirq/protocols/control.py
  cirq/protocols/decompose.py
  cirq/protocols/equal_up_to_global_phase.py
  cirq/protocols/inverse.py
  cirq/study/sweepable.py
  cirq/testing/asynchronous.py
  dev_tools/shell_tools.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1828 Make resolve_parameters/is_parameterized recurse on tuples and lists
  cirq/protocols/resolve_parameters.py
  cirq/protocols/resolve_parameters_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1810 Implement TrialResult.__eq__ using pandas.DataFrame.equals
  cirq/study/trial_result.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1821 Adds functionality for viewing and debugging swap networks
  cirq/contrib/acquaintance/__init__.py
  cirq/contrib/acquaintance/permutation.py
  cirq/contrib/acquaintance/permutation_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1791 Define von Neumann entropy
  cirq/__init__.py
  cirq/sim/__init__.py
  cirq/sim/density_matrix_utils.py
  cirq/sim/density_matrix_utils_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1836 Add ability to add or subtract tuples from GridQubits, ints from LineQubits
  cirq/devices/grid_qubit.py
  cirq/devices/grid_qubit_test.py
  cirq/line/line_qubit.py
  cirq/line/line_qubit_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1845 Allow cirq.* in docstring code snippets
  .travis.yml
  check/doctest
  cirq/devices/grid_qubit.py
  cirq/line/line_qubit.py
  cirq/value/digits.py
  dev_tools/output_capture.py
  dev_tools/run_doctest.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1843 Add is_supported_gate to serialized gate set
  cirq/google/serializable_gate_set.py
  cirq/google/serializable_gate_set_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1847 Fix types on Sampler.run_async
  cirq/work/sampler.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1848 fix sign in ISWAP doc
  cirq/ops/common_gates.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1841 Get processors and calibrations in the Engine
  cirq/google/engine/engine.py
  cirq/google/engine/engine_test.py
Labels: cla: yes

#1844 adds support to resolver for complex values and free symbols
  cirq/study/resolver.py
  cirq/study/resolver_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1830 [QASM import] two and three qubit gates
  cirq/circuits/qasm_output_test.py
  cirq/contrib/qasm_import/_parser.py
  cirq/contrib/qasm_import/_parser_test.py
  cirq/contrib/qasm_import/qasm_test.py
  cirq/testing/consistent_qasm.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1858 YPowGate docstring fix
  cirq/ops/common_gates.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1854 fixes bug in Circuit.findall_operations_until_blocked
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
Labels: bug, cla: yes

#1846 Move sweepable_to_sweeps function into sweepable.py
  cirq/google/engine/engine.py
  cirq/study/__init__.py
  cirq/study/sweepable.py
  cirq/study/sweepable_test.py
Labels: cla: yes

#1839 Add check/all to run tests close to CI
  check/all
Labels: cla: yes

#1864 Fix documentation in phase protocol doc
  cirq/protocols/phase.py
Labels: cla: yes

#1863 Add pip package configurations for contrib and dev tools
  docs/development.md
  docs/install.md
  setup.py
Labels: automerge, cla: yes

#1834 Optimize recombination step in paulistring optimizer
  cirq/contrib/paulistring/recombine.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1869 Fix doc badge and unstable links
  README.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#1852 Move api commands into api/v1 like v2
  cirq/__init__.py
  cirq/google/__init__.py
  cirq/google/api/v1/__init__.py
  cirq/google/api/v1/params.py
  cirq/google/api/v1/params_test.py
  cirq/google/api/v1/programs.py
  cirq/google/api/v1/programs_test.py
  cirq/google/convert_to_xmon_gates.py
  cirq/google/engine/engine.py
  cirq/google/params.py
  cirq/google/params_test.py
  cirq/study/__init__.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1870 Fix supported gate in serialized gate set to also use predicates
  cirq/google/op_serializer.py
  cirq/google/op_serializer_test.py
  cirq/google/serializable_gate_set.py
  cirq/google/serializable_gate_set_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1872 Fix pytest.raises calls in permutation_test.py
  cirq/contrib/acquaintance/permutation_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1865 [QASM import] docs
  cirq/contrib/qasm_import/__init__.py
  cirq/contrib/qasm_import/qasm.py
  cirq/contrib/qasm_import/qasm_test.py
  dev_tools/build-docs.sh
  dev_tools/conf/pip-list-dev-tools.txt
  docs/circuits.md
  docs/conf.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1876 Restore python3-tk as an apt requirement
  apt-system-requirements.txt
Labels: automerge, cla: yes, front_of_queue_automerge

#1857 Add __str__ to DensityMatrixTrialResult
  cirq/sim/density_matrix_simulator.py
  cirq/sim/density_matrix_simulator_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1886 Bump ply version
  cirq/contrib/contrib-requirements.txt
Labels: automerge, cla: yes, front_of_queue_automerge

#1878 Add cirq.Sampler.run_sweep_async
  cirq/work/sampler.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1874 Add type annotations in cirq/google/op_deserializer.py
  cirq/google/op_deserializer.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1871 Add direct support for 3-legged OAuth
  cirq/google/engine/engine.py
  cirq/google/engine/engine_test.py
  cirq/google/engine/env_config.py
  cirq/google/engine/env_config_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1879 Add dev_tools/profiling/live_plot_collector.py
  dev_tools/profiling/live_plot_collector.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1877 Document FSimGate.__init__'s parameters
  cirq/ops/fsim_gate.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1896 Fix type of Pauli powers
  cirq/ops/eigen_gate.py
  cirq/ops/pauli_gates.py
  cirq/ops/pauli_gates_test.py
  cirq/ops/pauli_string.py
  cirq/ops/pauli_string_test.py
Labels: cla: yes

#1875 Add cirq.google.QuantumEngineSampler
  cirq/google/__init__.py
  cirq/google/engine/__init__.py
  cirq/google/engine/engine_sampler.py
  cirq/google/engine/engine_sampler_test.py
Labels: cla: yes

#1897 Document relationship between fSim, iSWAP and CPhase
  cirq/ops/fsim_gate.py
  cirq/ops/fsim_gate_test.py
Labels: cla: yes

#1902 Filter out Identities from PauliString constructor
  cirq/ops/pauli_string.py
  cirq/ops/pauli_string_test.py
Labels: cla: yes
