Repository quantumlib/Cirq, pull requests merged in 2019-09, with the labels that each got.

#2059 Remove lazy imports from protocols
  cirq/__init__.py
  cirq/protocols/decompose.py
  cirq/protocols/equal_up_to_global_phase.py
  cirq/protocols/has_unitary.py
  cirq/protocols/inverse.py
  cirq/protocols/qasm.py
  cirq/protocols/qid_shape_protocol.py
  cirq/protocols/resolve_parameters.py
Labels: cla: yes

#2060 Break cyclic dependence and remove remaining lazy imports from protocols
  cirq/protocols/apply_unitary.py
  cirq/protocols/decompose.py
  cirq/protocols/has_unitary.py
  cirq/protocols/unitary.py
Labels: cla: yes

#2056 [Qudits] Add support to IdentityGate, MeasurementGate, several protocols
  cirq/__init__.py
  cirq/ops/__init__.py
  cirq/ops/common_gates.py
  cirq/ops/common_gates_test.py
  cirq/protocols/apply_channel.py
  cirq/protocols/apply_channel_test.py
  cirq/protocols/json_test.py
  cirq/protocols/pauli_expansion.py
  cirq/protocols/pauli_expansion_test.py
  cirq/testing/circuit_compare.py
  cirq/testing/circuit_compare_test.py
  cirq/testing/consistent_pauli_expansion.py
  cirq/testing/consistent_phase_by.py
  cirq/testing/consistent_phase_by_test.py
  cirq/testing/consistent_qasm.py
  cirq/testing/consistent_qasm_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2065 Fix flaky optimizer test
  cirq/optimizers/decompositions_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2068 Fix indentation in Travis yaml file
  .travis.yml
Labels: cla: yes

#2058 Add n qubit tomography experiment
  cirq/experiments/n_qubit_tomography.py
  cirq/experiments/n_qubit_tomography_test.py
  cirq/experiments/qubit_characterizations.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2043 Polish type annotations in cirq/circuits/
  cirq/circuits/circuit.py
  cirq/circuits/circuit_dag.py
  cirq/circuits/optimization_pass.py
  cirq/circuits/qasm_output.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2044 Polish type annotations in cirq/google/
  cirq/google/api/v1/programs.py
  cirq/google/api/v2/results.py
  cirq/google/convert_to_xmon_gates.py
  cirq/google/engine/calibration.py
  cirq/google/op_deserializer.py
  cirq/google/op_serializer.py
  cirq/google/optimize.py
  cirq/google/serializable_gate_set.py
  cirq/google/xmon_device.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2045 Polish type annotations in cirq/contrib/acquaintance
  cirq/contrib/acquaintance/bipartite.py
  cirq/contrib/acquaintance/devices.py
  cirq/contrib/acquaintance/executor.py
  cirq/contrib/acquaintance/gates.py
  cirq/contrib/acquaintance/inspection_utils.py
  cirq/contrib/acquaintance/mutation_utils.py
  cirq/contrib/acquaintance/optimizers.py
  cirq/contrib/acquaintance/permutation.py
  cirq/contrib/acquaintance/shift.py
  cirq/contrib/acquaintance/shift_swap_network.py
  cirq/contrib/acquaintance/strategies/complete.py
  cirq/contrib/acquaintance/strategies/cubic.py
  cirq/contrib/acquaintance/strategies/quartic_paired.py
  cirq/contrib/acquaintance/testing.py
  cirq/contrib/acquaintance/topological_sort.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2074 [Qudits] Support wave function/sparse simulator
  cirq/linalg/predicates.py
  cirq/linalg/predicates_test.py
  cirq/sim/density_matrix_utils.py
  cirq/sim/simulator.py
  cirq/sim/sparse_simulator.py
  cirq/sim/sparse_simulator_test.py
  cirq/sim/wave_function.py
  cirq/sim/wave_function_simulator.py
  cirq/sim/wave_function_simulator_test.py
  cirq/sim/wave_function_test.py
Labels: cla: yes

#2077 [Qudits] Support density matrix simulator, ResetChannel
  cirq/__init__.py
  cirq/ops/__init__.py
  cirq/ops/common_channels.py
  cirq/ops/common_channels_test.py
  cirq/protocols/json_test.py
  cirq/sim/density_matrix_simulator.py
  cirq/sim/density_matrix_simulator_test.py
  cirq/sim/density_matrix_utils.py
  cirq/sim/density_matrix_utils_test.py
  cirq/sim/simulator.py
  cirq/sim/wave_function.py
  cirq/sim/wave_function_simulator.py
Labels: cla: yes

#2079 [Qudits] Fix qudit result with invert mask in simulators
  cirq/sim/density_matrix_simulator.py
  cirq/sim/density_matrix_simulator_test.py
  cirq/sim/simulator.py
  cirq/sim/simulator_test.py
  cirq/study/trial_result.py
  cirq/study/trial_result_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2063 Replace file_tester.py with tmpdir and tmpdir_factory
  cirq/circuits/circuit_test.py
  cirq/circuits/qasm_output_test.py
  cirq/testing/__init__.py
  cirq/testing/file_tester.py
  cirq/testing/file_tester_test.py
  dev_tools/bash_scripts_test.py
  dev_tools/conf/mypy.ini
  docs/api.rst
Labels: cla: yes

#2081 Add __str__ to job and calibration
  cirq/google/engine/calibration.py
  cirq/google/engine/calibration_test.py
  cirq/google/engine/engine_job.py
  cirq/google/engine/engine_job_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2086 cirq.google.api is the new cirq.api.google
  check/bazel
  cirq/google/api/v2/results.py
  cirq/google/api/v2/results_test.py
  cirq/google/api/v2/sweeps.py
  cirq/google/api/v2/sweeps_test.py
  cirq/google/engine/calibration_test.py
  cirq/google/engine/engine.py
  cirq/google/engine/engine_test.py
  cirq/google/op_deserializer.py
  cirq/google/op_serializer.py
  cirq/google/serializable_gate_set.py
Labels: cla: yes

#2080 Allowing lists of dicts and flattened sweeps to be serialized
  cirq/google/api/v2/sweeps.py
  cirq/google/api/v2/sweeps_test.py
  cirq/study/flatten_expressions.py
  cirq/study/resolver.py
  cirq/study/resolver_test.py
Labels: cla: yes

#2088 Allow bools to be parsed by the serializer
  cirq/google/api/v1/programs.py
  cirq/google/api/v1/programs_test.py
Labels: cla: yes

#2085 [Qudits] Support ControlledGate, ControlledOperation, SingleQubitMatrixGate
  cirq/ops/controlled_gate.py
  cirq/ops/controlled_gate_test.py
  cirq/ops/controlled_operation.py
  cirq/ops/controlled_operation_test.py
  cirq/ops/matrix_gates.py
  cirq/ops/matrix_gates_test.py
  cirq/ops/raw_types.py
Labels: cla: yes

#2089 [Qudits] Allow argument of Gate._decompose_ to not just be 'qubits'
  cirq/protocols/decompose.py
  cirq/protocols/decompose_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1663 Aqt device
  cirq/aqt/__init__.py
  cirq/aqt/aqt_device.py
  cirq/aqt/aqt_sampler.py
  cirq/aqt/aqt_sampler_test.py
  cirq/aqt/aqt_simulator_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2078 Add decompose for ZZPowGate
  cirq/ops/parity_gates.py
  cirq/ops/parity_gates_test.py
Labels: cla: yes

#2093 Revert "cirq.google.api is the new cirq.api.google (#2086)"
  check/bazel
  cirq/google/api/v2/results.py
  cirq/google/api/v2/results_test.py
  cirq/google/api/v2/sweeps.py
  cirq/google/api/v2/sweeps_test.py
  cirq/google/engine/calibration_test.py
  cirq/google/engine/engine.py
  cirq/google/engine/engine_test.py
  cirq/google/op_deserializer.py
  cirq/google/op_serializer.py
  cirq/google/serializable_gate_set.py
Labels: cla: yes

#2094 Add qubit reset support to the wave function simulator
  cirq/sim/sparse_simulator.py
  cirq/sim/sparse_simulator_test.py
Labels: automerge, cla: yes

#2120 eigvals -> eigvalsh
  cirq/sim/density_matrix_utils.py
Labels: cla: yes

#2116 Add google.api protos to packages.
  setup.py
Labels: cla: yes

#2109 Add Circuit.with_noise
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2119 Add check_preconditions to kak_decomposition and diagonalize_real_symmetric_matrix
  cirq/linalg/decompositions.py
  cirq/linalg/decompositions_test.py
  cirq/linalg/diagonalize.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2096 Add `sampler` method to `cirq.google.Engine`
  cirq/google/engine/engine.py
  cirq/google/engine/engine_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2117 Add `cirq.scatter_plot_normalized_kak_interaction_coefficients`
  cirq/__init__.py
  cirq/linalg/__init__.py
  cirq/linalg/decompositions.py
  cirq/linalg/decompositions_test.py
  cirq/ops/pauli_string.py
  dev_tools/incremental_coverage.py
  dev_tools/run_doctest.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2127 Add cirq.ArithmeticOperation helper class
  cirq/__init__.py
  cirq/ops/__init__.py
  cirq/ops/arithmetic_operation.py
  cirq/ops/arithmetic_operation_test.py
  cirq/protocols/apply_unitary.py
  cirq/protocols/apply_unitary_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2130 Make Duration JSON serializable
  cirq/protocols/json.py
  cirq/protocols/json_test.py
  cirq/value/duration.py
  cirq/value/duration_test.py
Labels: cla: yes

#2133 Added a docstring to paulistring module.
  cirq/contrib/paulistring/__init__.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2101 Make sweepable.to_resolvers a generator
  cirq/aqt/aqt_sampler.py
  cirq/sim/density_matrix_simulator.py
  cirq/sim/density_matrix_simulator_test.py
  cirq/sim/mux.py
  cirq/sim/simulator.py
  cirq/sim/wave_function_simulator.py
  cirq/study/sweepable.py
  cirq/study/sweepable_test.py
  dev_tools/profiling/live_plot_collector.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2112 Implement Quantum Volume HOG portion
  cirq/testing/lin_alg_utils.py
  cirq/testing/lin_alg_utils_test.py
  examples/advanced/__init__.py
  examples/advanced/quantum_volume.py
  examples/advanced/quantum_volume_test.py
Labels: cla: yes

#2132 Add ability to slice sweeps
  cirq/study/sweeps.py
  cirq/study/sweeps_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2136 Define cirq.Moment.__pow__
  cirq/circuits/circuit.py
  cirq/ops/moment.py
  cirq/ops/moment_test.py
  cirq/protocols/__init__.py
  cirq/protocols/inverse_protocol.py
  cirq/protocols/inverse_protocol_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2087 Create contrib/routing
  cirq/circuits/circuit_dag.py
  cirq/circuits/circuit_dag_test.py
  cirq/contrib/acquaintance/permutation.py
  cirq/contrib/acquaintance/topological_sort.py
  cirq/contrib/routing/__init__.py
  cirq/contrib/routing/device.py
  cirq/contrib/routing/device_test.py
  cirq/contrib/routing/greedy.py
  cirq/contrib/routing/initialization.py
  cirq/contrib/routing/router.py
  cirq/contrib/routing/router_test.py
  cirq/contrib/routing/swap_network.py
  cirq/contrib/routing/swap_network_test.py
  cirq/contrib/routing/utils.py
  cirq/contrib/routing/utils_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2145 Delete repeated `Product` import in `study/__init__.py`
  cirq/study/__init__.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2140 Add OpTree protocol
  cirq/__init__.py
  cirq/circuits/circuit.py
  cirq/experiments/qubit_characterizations.py
  cirq/ops/__init__.py
  cirq/ops/op_tree.py
  cirq/ops/op_tree_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2131 Make _NamedConstantXmonDevice JSON serializable
  cirq/google/known_devices.py
  cirq/google/known_devices_test.py
  cirq/protocols/json.py
  cirq/protocols/json_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2114 XEB fidelity estimator for large circuits
  cirq/__init__.py
  cirq/experiments/__init__.py
  cirq/experiments/fidelity_estimation.py
  cirq/experiments/fidelity_estimation_test.py
Labels: cla: yes

#2157 Cleanup unused type imports
  cirq/contrib/acquaintance/topological_sort.py
  cirq/contrib/routing/device.py
  cirq/contrib/routing/greedy.py
  cirq/contrib/routing/router.py
  cirq/contrib/routing/utils.py
Labels: cla: yes

#2159 Handle tuple input in cross entropy fidelity estimator
  cirq/experiments/fidelity_estimation.py
  cirq/experiments/fidelity_estimation_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2155 Allow random circuit generator to be seeded
  cirq/testing/random_circuit.py
  cirq/testing/random_circuit_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2149 Add atol parameter to wavefunction and density matrix utils
  cirq/ops/pauli_string.py
  cirq/sim/density_matrix_utils.py
  cirq/sim/density_matrix_utils_test.py
  cirq/sim/wave_function.py
  cirq/testing/random_circuit.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2161 Set PRNG to np.random if seed is None in cirq.testing.random_circuit
  cirq/testing/random_circuit.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2135 Add Quantum Fourier Transform
  cirq/__init__.py
  cirq/circuits/circuit.py
  cirq/ops/__init__.py
  cirq/ops/controlled_operation.py
  cirq/ops/fourier_transform.py
  cirq/ops/fourier_transform_test.py
  cirq/ops/raw_types.py
  cirq/ops/raw_types_test.py
  cirq/protocols/apply_unitary.py
  cirq/protocols/apply_unitary_test.py
  cirq/protocols/circuit_diagram_info.py
  cirq/protocols/json.py
  cirq/protocols/json_test.py
  examples/hhl.py
  examples/phase_estimator.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2158 Change compute_amplitudes input format from 2-d array of bools to 1-d array of ints
  cirq/sim/simulator.py
  cirq/sim/sparse_simulator_test.py
  cirq/sim/wave_function_simulator.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2025 Treat build-docs warnings as errors on Travis
  .travis.yml
  cirq/__init__.py
  cirq/_compat.py
  cirq/protocols/json_test.py
  dev_tools/build-docs.sh
  docs/api.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#2162 Add _compat.deprecate_parameter
  cirq/_compat.py
  cirq/_compat_test.py
  cirq/linalg/decompositions_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2163 Refactor Circuit.__init__ to accept an OP_TREE
  cirq/aqt/aqt_sampler.py
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
  cirq/contrib/graph_device/graph_device_test.py
  cirq/google/api/v2/results.py
  cirq/google/serializable_gate_set.py
  cirq/google/serializable_gate_set_test.py
  cirq/sim/density_matrix_simulator.py
  cirq/sim/mux.py
  cirq/sim/simulator.py
  cirq/sim/wave_function_simulator.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2166 Replace usage of cirq.Circuit.from_ops(...) with cirq.Circuit(...) in contrib
  cirq/contrib/acquaintance/bipartite_test.py
  cirq/contrib/acquaintance/executor_test.py
  cirq/contrib/acquaintance/gates_test.py
  cirq/contrib/acquaintance/mutation_utils_test.py
  cirq/contrib/acquaintance/optimizers_test.py
  cirq/contrib/acquaintance/permutation_test.py
  cirq/contrib/acquaintance/shift_swap_network_test.py
  cirq/contrib/acquaintance/shift_test.py
  cirq/contrib/acquaintance/strategies/complete.py
  cirq/contrib/acquaintance/strategies/quartic_paired.py
  cirq/contrib/paulistring/clifford_optimize.py
  cirq/contrib/paulistring/clifford_optimize_test.py
  cirq/contrib/paulistring/convert_gate_set_test.py
  cirq/contrib/paulistring/convert_to_clifford_gates_test.py
  cirq/contrib/paulistring/convert_to_pauli_string_phasors_test.py
  cirq/contrib/paulistring/optimize.py
  cirq/contrib/paulistring/optimize_test.py
  cirq/contrib/paulistring/pauli_string_optimize_test.py
  cirq/contrib/paulistring/recombine.py
  cirq/contrib/paulistring/separate.py
  cirq/contrib/qasm_import/_parser_test.py
  cirq/contrib/qasm_import/qasm_test.py
  cirq/contrib/qcircuit/qcircuit_test.py
  cirq/contrib/quirk/export_to_quirk_test.py
  cirq/contrib/routing/greedy.py
  cirq/contrib/routing/router_test.py
  cirq/contrib/routing/utils.py
  cirq/contrib/routing/utils_test.py
  cirq/contrib/tpu/circuit_to_tensorflow.py
  cirq/contrib/tpu/circuit_to_tensorflow_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2169 Replace usage of cirq.Circuit.from_ops(...) with cirq.Circuit(...) in experiments,google
  cirq/experiments/fidelity_estimation_test.py
  cirq/experiments/n_qubit_tomography.py
  cirq/experiments/qubit_characterizations.py
  cirq/experiments/qubit_characterizations_test.py
  cirq/google/api/v1/programs_test.py
  cirq/google/api/v2/sweeps_test.py
  cirq/google/convert_to_xmon_gates_test.py
  cirq/google/gate_sets_test.py
  cirq/google/optimize.py
  cirq/google/optimize_test.py
  cirq/google/serializable_gate_set_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2171 Replace usage of cirq.Circuit.from_ops(...) with cirq.Circuit(...) in documentation
  README.rst
  docs/circuits.md
  docs/qudits.md
  docs/simulation.md
  examples/basic_arithmetic.py
  examples/bcs_mean_field.py
  examples/hello_qubit.py
  examples/phase_estimator.py
  examples/place_on_bristlecone.py
  examples/qaoa.py
  examples/quantum_fourier_transform.py
  examples/quantum_teleportation.py
  examples/qubit_characterizations_example.py
  examples/swap_networks.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2165 Replace usage of cirq.Circuit.from_ops(...) with cirq.Circuit(...) in ops
  cirq/ops/arithmetic_operation.py
  cirq/ops/clifford_gate_test.py
  cirq/ops/common_gates_test.py
  cirq/ops/controlled_gate_test.py
  cirq/ops/display_test.py
  cirq/ops/fsim_gate_test.py
  cirq/ops/matrix_gates_test.py
  cirq/ops/parity_gates_test.py
  cirq/ops/pauli_interaction_gate_test.py
  cirq/ops/pauli_string_phasor_test.py
  cirq/ops/pauli_string_raw_types_test.py
  cirq/ops/pauli_string_test.py
  cirq/ops/phased_x_gate_test.py
  cirq/ops/three_qubit_gates_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2170 Replace usage of cirq.Circuit.from_ops(...) with cirq.Circuit(...) in sim,study,testing
  cirq/sim/density_matrix_simulator_test.py
  cirq/sim/mux.py
  cirq/sim/mux_test.py
  cirq/sim/simulator.py
  cirq/sim/simulator_test.py
  cirq/sim/sparse_simulator_test.py
  cirq/sim/wave_function_simulator.py
  cirq/study/flatten_expressions.py
  cirq/study/flatten_expressions_test.py
  cirq/study/trial_result_test.py
  cirq/testing/circuit_compare_test.py
  cirq/testing/consistent_decomposition.py
  cirq/testing/sample_circuits.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2168 Replace usage of cirq.Circuit.from_ops(...) with cirq.Circuit(...) in circuits,work,dev_tools
  cirq/circuits/circuit_dag.py
  cirq/circuits/circuit_dag_test.py
  cirq/circuits/circuit_test.py
  cirq/circuits/optimization_pass_test.py
  cirq/circuits/qasm_output_test.py
  cirq/work/collector_test.py
  cirq/work/pauli_sum_collector_test.py
  dev_tools/packaging/verify-published-package.sh
  dev_tools/profiling/live_plot_collector.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2167 Replace usage of cirq.Circuit.from_ops(...) with cirq.Circuit(...) in aqt,ion,linalg,neutral_atoms,optimizers,protocols
  cirq/aqt/aqt_sampler_test.py
  cirq/ion/ion_decomposition.py
  cirq/ion/ion_decomposition_test.py
  cirq/ion/ion_gates_test.py
  cirq/linalg/decompositions.py
  cirq/linalg/decompositions_test.py
  cirq/neutral_atoms/convert_to_neutral_atom_gates_test.py
  cirq/optimizers/convert_to_cz_and_single_gates_test.py
  cirq/optimizers/drop_negligible_test.py
  cirq/optimizers/eject_z_test.py
  cirq/optimizers/expand_composite_test.py
  cirq/optimizers/merge_interactions_test.py
  cirq/optimizers/merge_single_qubit_gates_test.py
  cirq/optimizers/two_qubit_decompositions.py
  cirq/optimizers/two_qubit_decompositions_test.py
  cirq/protocols/decompose_test.py
  cirq/protocols/json_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2146 TrialResult addition
  cirq/study/trial_result.py
  cirq/study/trial_result_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2177 Fix ISWAP trace_distance_bound
  cirq/ops/common_gates.py
  cirq/ops/common_gates_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2173 Phased ISWAP gate
  cirq/__init__.py
  cirq/ops/__init__.py
  cirq/ops/phased_iswap_gate.py
  cirq/ops/phased_iswap_gate_test.py
  cirq/protocols/json.py
  cirq/protocols/json_test.py
  cirq/testing/consistent_protocols.py
Labels: cla: yes

#2181 Deprecate `cirq.Circuit.from_ops`
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
  cirq/ops/fourier_transform_test.py
  cirq/sim/sparse_simulator_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2141 Added Optimization to move terminal measurements to final moment.
  cirq/__init__.py
  cirq/optimizers/__init__.py
  cirq/optimizers/synchronize_terminal_measurements.py
  cirq/optimizers/synchronize_terminal_measurements_test.py
  cirq/protocols/json_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2090 Remove prespecified control qubits from ControlledGate.
  cirq/ops/controlled_gate.py
  cirq/ops/controlled_gate_test.py
  cirq/ops/raw_types.py
  cirq/protocols/control.py
  cirq/protocols/control_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2197 Update the spelling error in sparse_simulator.py
  cirq/sim/sparse_simulator.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2205 Extricate the swaps
  cirq/ops/__init__.py
  cirq/ops/common_gates.py
  cirq/ops/common_gates_test.py
  cirq/ops/phased_iswap_gate.py
  cirq/ops/swap_gates.py
  cirq/ops/swap_gates_test.py
  cirq/ops/three_qubit_gates.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2189 Support adding individual operations to circuits
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
  cirq/ops/op_tree.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2190 [Qudits] Add support to default gate inverse, simulator invert mask
  cirq/ops/raw_types.py
  cirq/ops/raw_types_test.py
  cirq/sim/sparse_simulator.py
  cirq/sim/sparse_simulator_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2203 Mock build for test_implied_job_config_gcs_prefix()
  cirq/google/engine/engine_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2187 Add ability to compute HOG probabilities for a given sampler
  .gitignore
  examples/advanced/quantum_volume.ipynb
  examples/advanced/quantum_volume.py
  examples/advanced/quantum_volume_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2224 Support receiving both api.google and google.api protos
  cirq/google/engine/engine.py
  cirq/google/engine/engine_test.py
Labels: cla: yes

#2207 makes random_circuit reproducible across runs
  cirq/testing/random_circuit.py
  cirq/testing/random_circuit_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2228 Add user friendly string for calibration timestamp.
  cirq/google/engine/calibration.py
  cirq/google/engine/calibration_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2227 Allow repetitions=0 in cirq.sample
  cirq/experiments/fidelity_estimation_test.py
  cirq/sim/mux_test.py
  cirq/sim/simulator.py
  cirq/sim/simulator_test.py
  cirq/study/trial_result.py
Labels: cla: yes

#2110 Add device specification proto support
  cirq/api/google/v2/__init__.py
  cirq/devices/grid_qubit.py
  cirq/devices/grid_qubit_test.py
  cirq/devices/line_qubit.py
  cirq/devices/line_qubit_test.py
  cirq/google/__init__.py
  cirq/google/api/v2/__init__.py
  cirq/google/known_devices.py
  cirq/google/known_devices_test.py
  cirq/google/serializable_device.py
  cirq/google/serializable_device_test.py
  cirq/protocols/json_test.py
Labels: Ready for Re-Review, automerge, cla: yes, front_of_queue_automerge

#2235 Rename potentially confusing functions
  cirq/__init__.py
  cirq/experiments/__init__.py
  cirq/experiments/google_v2_supremacy_circuit.py
  cirq/experiments/google_v2_supremacy_circuit_test.py
  docs/api.rst
Labels: cla: yes

#2230 Add common serializers to cirq
  cirq/google/common_serializers.py
  cirq/google/common_serializers_test.py
Labels: automerge, cla: yes

#2234 Show yellow text when lines had to be reformatted
  check/format-incremental
Labels: automerge, cla: yes, front_of_queue_automerge

#2231 Move proto methods out of GridQubit
  cirq/devices/grid_qubit.py
  cirq/devices/grid_qubit_test.py
  cirq/google/api/v1/programs.py
  cirq/google/api/v1/programs_test.py
  cirq/google/api/v2/__init__.py
  cirq/google/api/v2/program.py
  cirq/google/api/v2/program_test.py
  cirq/google/api/v2/results.py
  cirq/google/api/v2/results_test.py
  cirq/google/engine/calibration.py
  cirq/google/known_devices.py
  cirq/google/op_deserializer.py
  cirq/google/op_serializer.py
  cirq/google/serializable_device.py
  cirq/google/serializable_device_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2237 Add missing copyrights
  cirq/aqt/aqt_device.py
  cirq/aqt/aqt_sampler.py
  cirq/aqt/aqt_sampler_test.py
  cirq/aqt/aqt_simulator_test.py
  cirq/experiments/cross_entropy_benchmarking.py
  cirq/experiments/cross_entropy_benchmarking_test.py
  cirq/experiments/fidelity_estimation.py
  cirq/experiments/fidelity_estimation_test.py
  cirq/experiments/google_v2_supremacy_circuit_test.py
  cirq/experiments/n_qubit_tomography.py
  cirq/experiments/n_qubit_tomography_test.py
  cirq/experiments/qubit_characterizations.py
  cirq/experiments/qubit_characterizations_test.py
  cirq/value/digits.py
  cirq/value/digits_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2236 Reorder travis tests
  .travis.yml
  style.md
Labels: automerge, cla: yes, front_of_queue_automerge

#2242 Fix tensorflow version since tensorflow 2.0 was just released
  cirq/contrib/contrib-requirements.txt
Labels: cla: yes

#2241 Fix initial state possibly being modified in simulation
  cirq/sim/sparse_simulator_test.py
  cirq/sim/wave_function.py
  cirq/sim/wave_function_test.py
Labels: cla: yes
