Repository quantumlib/Cirq, pull requests merged in 2019-03, with the labels that each got.

#1414 Move benchmark tests to _perf_ files
  cirq/linalg/decompositions_perf_test.py
  cirq/linalg/decompositions_test.py
  examples/examples_perf_test.py
  examples/examples_test.py
Labels: cla: yes

#1391 ParallelGateOperation
  cirq/__init__.py
  cirq/circuits/circuit.py
  cirq/google/xmon_device_test.py
  cirq/ops/__init__.py
  cirq/ops/gate_operation.py
  cirq/ops/gate_operation_test.py
  cirq/ops/parallel_gate_operation.py
  cirq/ops/parallel_gate_operation_test.py
  cirq/ops/raw_types.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1421 added PeriodicValue._is_parameterized_
  cirq/value/periodic_value.py
  cirq/value/periodic_value_test.py
Labels: cla: yes, front_of_queue_automerge

#1423 Remove calls to benchmark in examples_test.py
  examples/examples_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1424 Applies parameter protocols to bare Symbols
  cirq/circuits/circuit.py
  cirq/contrib/paulistring/pauli_string_phasor.py
  cirq/ops/common_gates.py
  cirq/ops/eigen_gate.py
  cirq/protocols/mul.py
  cirq/protocols/resolve_parameters.py
  cirq/protocols/resolve_parameters_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1442 Remove unused import
  cirq/ops/gate_features.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1436 Fixing what appears to be a typo.
  docs/tutorial.md
Labels: automerge, cla: yes, front_of_queue_automerge

#1441 Pauli expansion for Fredkin and Toffoli gates
  cirq/ops/three_qubit_gates.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1428 Except 3.5.0 and 3.5.1 in setup.py
  setup.py
Labels: cla: yes

#1437 Should this example be corrected?
  docs/tutorial.md
Labels: cla: yes

#1440 Clean up TODO
  cirq/ops/common_gates.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1418 Add Superdense Coding to examples.
  examples/examples_perf_test.py
  examples/examples_test.py
  examples/superdense_coding.py
Labels: automerge, cla: yes, front_of_queue_automerge

#907 Add Deutsch's algorithm to examples.
  examples/deutsch.py
  examples/examples_test.py
Labels: cla: yes

#1438 Density matrix sampling for terminal measurements
  cirq/sim/density_matrix_simulator.py
  cirq/sim/density_matrix_simulator_test.py
  cirq/sim/sparse_simulator_test.py
Labels: cla: yes

#1407 Define cirq.Gate**-1 for gates with a _decompose_ method
  cirq/__init__.py
  cirq/ops/__init__.py
  cirq/ops/gate_features.py
  cirq/ops/gate_operation_test.py
  cirq/ops/raw_types.py
  cirq/ops/raw_types_test.py
  cirq/ops/reversible_composite_gate.py
  cirq/ops/reversible_composite_gate_test.py
  cirq/protocols/unitary_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1408 Auto-wrap dictionaries into ParamResolver and skip empty resolutions
  cirq/__init__.py
  cirq/protocols/resolve_parameters.py
  cirq/protocols/resolve_parameters_test.py
  cirq/sim/density_matrix_simulator_test.py
  cirq/sim/simulator.py
  cirq/sim/sparse_simulator_test.py
  cirq/study/__init__.py
  cirq/study/resolver.py
  cirq/study/resolver_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1416 Adds ShiftSwapNetwork
  cirq/contrib/acquaintance/__init__.py
  cirq/contrib/acquaintance/bipartite.py
  cirq/contrib/acquaintance/bipartite_test.py
  cirq/contrib/acquaintance/devices.py
  cirq/contrib/acquaintance/executor.py
  cirq/contrib/acquaintance/executor_test.py
  cirq/contrib/acquaintance/gates.py
  cirq/contrib/acquaintance/gates_test.py
  cirq/contrib/acquaintance/mutation_utils.py
  cirq/contrib/acquaintance/optimizers.py
  cirq/contrib/acquaintance/permutation.py
  cirq/contrib/acquaintance/permutation_test.py
  cirq/contrib/acquaintance/shift.py
  cirq/contrib/acquaintance/shift_swap_network.py
  cirq/contrib/acquaintance/shift_swap_network_test.py
  cirq/contrib/acquaintance/shift_test.py
  cirq/contrib/acquaintance/strategies/cubic.py
  cirq/contrib/acquaintance/testing.py
Labels: cla: yes

#1412 Make automerge script wait 30 seconds before failing on possibly-temporary errors
  dev_tools/auto_merge.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1431 CliffordGate**0.5/-0.5
  cirq/ops/clifford_gate.py
  cirq/ops/clifford_gate_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1405 XmonSimulator now requires given circuits to have an XmonDevice that validates the circuit
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
  cirq/google/sim/xmon_simulator.py
  cirq/google/sim/xmon_simulator_test.py
  cirq/schedules/schedule.py
  cirq/study/visualize_test.py
  dev_tools/profiling/benchmark_simulators.py
  docs/tutorial.md
  examples/deutsch.py
  examples/hello_qubit.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1439 Add LinearDict
  cirq/__init__.py
  cirq/value/__init__.py
  cirq/value/linear_dict.py
  cirq/value/linear_dict_test.py
Labels: cla: yes

#1449 Add Quantum Teleportation to examples.
  examples/examples_perf_test.py
  examples/examples_test.py
  examples/quantum_teleportation.py
Labels: cla: yes

#1453 [Fixes #1448] fixed docstring for CZPowGate
  cirq/ops/common_gates.py
Labels: cla: yes

#1455 Verified and documented methods sampling from Haar measure.
  cirq/testing/lin_alg_utils.py
  cirq/testing/lin_alg_utils_test.py
  cirq/testing/random_superposition.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1450 Put failure information in AssertionError's message, instead of printing
  cirq/linalg/diagonalize_test.py
  cirq/optimizers/expand_composite_test.py
  cirq/optimizers/merge_interactions_test.py
  cirq/optimizers/merge_single_qubit_gates_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1446 Call escape_text_latex before creating qcircuit qubit name
  cirq/contrib/qcircuit/qcircuit_diagram.py
  cirq/contrib/qcircuit/qcircuit_diagram_info.py
  cirq/contrib/qcircuit/qcircuit_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1369 Optimize single qubit optimization
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
  cirq/ops/moment.py
  cirq/optimizers/merge_single_qubit_gates.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1456 Add random_superposition to cirq.testing
  cirq/testing/__init__.py
  cirq/testing/random_superposition_test.py
  cirq/value/linear_dict.py
  setup.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1330 characterization of single- and two-qubit states and gates
  cirq/experiments/__init__.py
  cirq/experiments/qubit_characterizations.py
  cirq/experiments/qubit_characterizations_test.py
  examples/examples_test.py
  examples/qubit_characterizations_example.py
Labels: cla: yes

#1457 Refactor PauliString.negated into complex PauliString.coefficient
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
  cirq/contrib/paulistring/clifford_optimize.py
  cirq/contrib/paulistring/pauli_string_optimize.py
  cirq/contrib/paulistring/pauli_string_phasor.py
  cirq/contrib/paulistring/pauli_string_phasor_test.py
  cirq/contrib/paulistring/pauli_string_raw_types.py
  cirq/contrib/paulistring/pauli_string_raw_types_test.py
  cirq/ops/display_test.py
  cirq/ops/pauli_string.py
  cirq/ops/pauli_string_test.py
  cirq/protocols/mul.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1447 Define and simulate DensityMatrixDisplay
  cirq/__init__.py
  cirq/ops/__init__.py
  cirq/ops/display.py
  cirq/ops/display_test.py
  cirq/sim/density_matrix_simulator.py
  cirq/sim/density_matrix_simulator_test.py
  cirq/sim/sparse_simulator.py
  cirq/testing/__init__.py
  cirq/testing/lin_alg_utils.py
  cirq/testing/lin_alg_utils_test.py
  cirq/testing/random_superposition.py
  cirq/testing/random_superposition_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1244 HHL example
  examples/examples_test.py
  examples/grover.py
  examples/hhl.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1473 Fix key sorting in LinearDict.__format__
  cirq/value/linear_dict.py
  cirq/value/linear_dict_test.py
Labels: cla: yes

#1477 Update HPowGate's _circuit_diagram_info_ to express exponentiation
  cirq/ops/common_gates.py
  cirq/ops/common_gates_test.py
Labels: cla: yes

#1475 Capture type of default in Pauli expansion protocol
  cirq/protocols/pauli_expansion.py
Labels: automerge, cla: yes

#1468 Use composition instead of inheritance in LinearDict
  cirq/value/linear_dict.py
  cirq/value/linear_dict_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1465 Implement approx_eq in Circuit
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
  cirq/ops/gate_operation.py
  cirq/ops/gate_operation_test.py
  cirq/ops/moment.py
  cirq/ops/moment_test.py
  cirq/protocols/approximate_equality.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1469 Use LinearDict for Pauli expansions
  cirq/linalg/operator_spaces.py
  cirq/ops/common_gates.py
  cirq/ops/phased_x_gate.py
  cirq/ops/three_qubit_gates.py
  cirq/protocols/pauli_expansion.py
  cirq/protocols/pauli_expansion_test.py
  cirq/testing/consistent_pauli_expansion_test.py
  cirq/testing/consistent_protocols_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1480 Fixed generation of random orthogonal matrices.
  cirq/testing/lin_alg_utils.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1459 Apply channel protocol
  cirq/__init__.py
  cirq/protocols/__init__.py
  cirq/protocols/apply_channel.py
  cirq/protocols/apply_channel_test.py
  cirq/protocols/apply_unitary_test.py
  cirq/protocols/channel.py
Labels: cla: yes

#1482 Minor fix to apply_channel
  cirq/protocols/apply_channel.py
Labels: cla: yes

#1481 Linear combination of gates
  cirq/__init__.py
  cirq/ops/__init__.py
  cirq/ops/linear_combinations.py
  cirq/ops/linear_combinations_test.py
  cirq/ops/raw_types.py
  cirq/ops/raw_types_test.py
  cirq/value/__init__.py
  cirq/value/linear_dict.py
  cirq/value/linear_dict_test.py
Labels: cla: yes
