Repository quantumlib/Cirq, pull requests merged in 2020-11, with the labels that each got.

#3473 Update and polish educators workshop intro notebook
  docs/tutorials/educators/intro.ipynb
Labels: cla: yes

#3478 Reorder const methods in Circuit
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3477 Fix iterator name in channel docstrings
  cirq/protocols/channel.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3482 Fix a typo in basics.ipynb
  docs/tutorials/basics.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge

#3480 Add serialization of tokens
  cirq/google/api/v1/operations_pb2.py
  cirq/google/api/v1/params_pb2.py
  cirq/google/api/v1/program_pb2.py
  cirq/google/api/v2/batch_pb2.py
  cirq/google/api/v2/calibration_pb2.py
  cirq/google/api/v2/device_pb2.py
  cirq/google/api/v2/metrics_pb2.py
  cirq/google/api/v2/program.proto
  cirq/google/api/v2/program_pb2.py
  cirq/google/api/v2/program_pb2.pyi
  cirq/google/api/v2/result_pb2.py
  cirq/google/api/v2/run_context_pb2.py
  cirq/google/op_deserializer.py
  cirq/google/op_deserializer_test.py
  cirq/google/op_serializer.py
  cirq/google/op_serializer_test.py
  cirq/google/serializable_gate_set.py
  cirq/google/serializable_gate_set_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3476 Update/polish textbook algorithms tutorial from educators workshop
  docs/tutorials/educators/textbook_algorithms.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge

#3483 Modify EngineProgram.get_circuit() to work with BatchPrograms
  cirq/google/engine/engine_program.py
  cirq/google/engine/engine_program_test.py
Labels: cla: yes

#3481 AbstractCircuits and FrozenCircuits
  cirq/__init__.py
  cirq/circuits/__init__.py
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
  cirq/circuits/frozen_circuit.py
  cirq/circuits/frozen_circuit_test.py
  cirq/ops/moment.py
  cirq/protocols/json_serialization.py
  cirq/protocols/json_test_data/FrozenCircuit.json
  cirq/protocols/json_test_data/FrozenCircuit.repr
  cirq/testing/circuit_compare.py
  rtd_docs/api.rst
Labels: area/subcircuits, automerge, cla: yes, front_of_queue_automerge

#3484 Fix notebook authentication
  docs/tutorials/google/colab.ipynb
  docs/tutorials/google/reservations.ipynb
  docs/tutorials/google/start.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge, kind/docs

#3488 Change initial backoff in engine client.
  cirq/google/engine/engine_client.py
  cirq/google/engine/engine_client_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3487 moving freezegun dependency to dev dependencies
  dev_tools/conf/pip-list-dev-tools.txt
  requirements.txt
Labels: automerge, cla: yes, front_of_queue_automerge

#3489 Remove "python" symbolic link
  python
Labels: automerge, cla: yes, front_of_queue_automerge

#3428 Make dtype optional in state validation routines
  cirq/__init__.py
  cirq/qis/__init__.py
  cirq/qis/states.py
  cirq/qis/states_test.py
  rtd_docs/api.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#3474 Add initial Engine client for Calibration API
  cirq/google/__init__.py
  cirq/google/api/v2/__init__.py
  cirq/google/arg_func_langs.py
  cirq/google/arg_func_langs_test.py
  cirq/google/engine/__init__.py
  cirq/google/engine/calibration_layer.py
  cirq/google/engine/calibration_result.py
  cirq/google/engine/engine.py
  cirq/google/engine/engine_job.py
  cirq/google/engine/engine_job_test.py
  cirq/google/engine/engine_program.py
  cirq/google/engine/engine_program_test.py
  cirq/google/engine/engine_test.py
  cirq/google/engine/result_type.py
  cirq/google/op_serializer.py
  cirq/protocols/json_serialization.py
  cirq/protocols/json_serialization_test.py
  rtd_docs/api.rst
Labels: cla: yes

#3496 update code of conduct steward
  CODE_OF_CONDUCT.md
Labels: automerge, cla: yes, front_of_queue_automerge

#3495 Add measurement key remapping protocol.
  cirq/__init__.py
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
  cirq/circuits/frozen_circuit.py
  cirq/ops/gate_operation.py
  cirq/ops/gate_operation_test.py
  cirq/ops/measurement_gate.py
  cirq/ops/measurement_gate_test.py
  cirq/ops/moment.py
  cirq/ops/moment_test.py
  cirq/ops/raw_types.py
  cirq/ops/raw_types_test.py
  cirq/protocols/__init__.py
  cirq/protocols/measurement_key_protocol.py
  cirq/protocols/measurement_key_protocol_test.py
  rtd_docs/api.rst
Labels: area/subcircuits, automerge, cla: yes, front_of_queue_automerge

#3497 Fixes transform.ipynb and adds notebook testing
  .github/workflows/ci.yml
  dev_tools/conf/mypy.ini
  dev_tools/conf/pip-install-minimal-for-pytest-changed-files.sh
  dev_tools/conf/pip-list-dev-tools.txt
  dev_tools/conftest.py
  dev_tools/notebook_test.py
  docs/transform.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge

#3500 Initial IonQ service
  cirq/__init__.py
  cirq/ionq/__init__.py
  cirq/ionq/ionq_client.py
  cirq/ionq/ionq_client_test.py
  cirq/ionq/job.py
  cirq/ionq/job_test.py
  cirq/ionq/results.py
  cirq/ionq/results_test.py
  cirq/ionq/serializer.py
  cirq/ionq/serializer_test.py
  cirq/ionq/service.py
  cirq/ionq/service_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3506 New landing page for tutorials
  docs/tutorials/_index.yaml
  docs/tutorials/basics.ipynb
  docs/tutorials/index.md
  rtd_docs/index.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#3510 Adding missing ecosystem nav
  docs/_book.yaml
Labels: automerge, cla: yes, front_of_queue_automerge, kind/docs

#3486 Update/polish QAOA educators tutorial.
  docs/tutorials/educators/qaoa_ising.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge, kind/docs

#3491 Update/polish neutral atom device tutorial.
  docs/tutorials/educators/neutral_atom.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge, kind/docs

#3513 Generalize types for basic qubit experiments
  cirq/__init__.py
  cirq/experiments/qubit_characterizations.py
  cirq/experiments/t1_decay_experiment.py
  cirq/experiments/t2_decay_experiment.py
  rtd_docs/api.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#3514 Make WaitGate variadic and add wait helper function
  cirq/__init__.py
  cirq/circuits/quil_output_test.py
  cirq/experiments/t1_decay_experiment.py
  cirq/experiments/t2_decay_experiment.py
  cirq/experiments/t2_decay_experiment_test.py
  cirq/google/common_serializers_test.py
  cirq/google/devices/known_devices_test.py
  cirq/google/gate_sets_test.py
  cirq/ops/__init__.py
  cirq/ops/wait_gate.py
  cirq/ops/wait_gate_test.py
  cirq/sim/density_matrix_simulator_test.py
  cirq/sim/sparse_simulator_test.py
  rtd_docs/api.rst
Labels: cla: yes

#3505 Add PhasedFSimGate
  cirq/__init__.py
  cirq/ops/__init__.py
  cirq/ops/fsim_gate.py
  cirq/ops/fsim_gate_test.py
  cirq/protocols/json_serialization.py
  cirq/protocols/json_test_data/PhasedFSimGate.json
  cirq/protocols/json_test_data/PhasedFSimGate.repr
  rtd_docs/api.rst
Labels: cla: yes

#3507 Fixes run_batch requiring param list
  cirq/google/engine/engine.py
  cirq/google/engine/engine_program.py
  cirq/google/engine/engine_program_test.py
  cirq/google/engine/engine_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3523 Add cancel and delete to IonQ job
  cirq/ionq/__init__.py
  cirq/ionq/ionq_client.py
  cirq/ionq/ionq_client_test.py
  cirq/ionq/ionq_exceptions.py
  cirq/ionq/ionq_exceptions_test.py
  cirq/ionq/job.py
  cirq/ionq/job_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3525 codeowners file
  .github/CODEOWNERS
  .github/workflows/ci.yml
  dev_tools/codeowners_test.py
  dev_tools/conf/mypy.ini
  dev_tools/conf/pip-install-minimal-for-pytest-changed-files.sh
Labels: automerge, cla: yes, front_of_queue_automerge

#3526 aqt, pasqal, ionq owners
  .github/CODEOWNERS
  dev_tools/codeowners_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3519 Implement cirq.commute for Moment and Operation
  cirq/ops/moment.py
  cirq/ops/moment_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3524 Fix symmetry of PhasedFSimGate under qubit exchange
  cirq/ops/fsim_gate.py
  cirq/ops/fsim_gate_test.py
Labels: cla: yes

#3508 Add JSON serialization for Calibration metrics
  cirq/google/engine/calibration.py
  cirq/google/engine/calibration_test.py
  cirq/protocols/json_serialization.py
  cirq/protocols/json_serialization_test.py
  cirq/protocols/json_test_data/Calibration.json
  cirq/protocols/json_test_data/Calibration.repr
Labels: cla: yes

#3530 Add command to track upstream repo.
  CONTRIBUTING.md
Labels: automerge, cla: yes, front_of_queue_automerge

#3520 Complete serializer for IonQ gates
  cirq/google/common_serializers.py
  cirq/ionq/serializer.py
  cirq/ionq/serializer_test.py
Labels: cla: yes

#3535 Tweak coverage to prepare for switching to black
  cirq/ops/qubit_order_test.py
  cirq/testing/consistent_pauli_expansion_test.py
  dev_tools/incremental_coverage.py
  dev_tools/incremental_coverage_test.py
  examples/examples_perf_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3534 Tweak formatting to prepare for switching to black
  cirq/contrib/qasm_import/_parser_test.py
  cirq/interop/quirk/url_to_circuit_test.py
  cirq/ops/measurement_gate_test.py
  cirq/ops/pauli_string_test.py
  cirq/pasqal/pasqal_device.py
  cirq/sim/density_matrix_simulator_test.py
  cirq/value/product_state.py
  dev_tools/incremental_coverage_test.py
  dev_tools/shell_tools_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3533 Fix type error in (X/Y)PowGate._act_on_
  cirq/ops/common_gates.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3532 Refactor how we generate default json resolver
  cirq/protocols/json_serialization.py
  cirq/protocols/json_serialization_test.py
Labels: BREAKING CHANGE, automerge, cla: yes, front_of_queue_automerge

#3537 Fix WAIT_GATE_SERIALIZER to work with multi-qubit waits
  cirq/google/common_serializers.py
  cirq/google/common_serializers_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3543 Canonicalize theta and phi for the FSimGate
  cirq/google/common_serializers_test.py
  cirq/ops/fsim_gate.py
  cirq/ops/fsim_gate_test.py
Labels: cla: yes

#3522 Reorganize tutorials landing page
  docs/tutorials/_index.yaml
Labels: automerge, cla: yes, front_of_queue_automerge, kind/docs

#3472 [3 qubit decomposition] Extract diagonal
  cirq/__init__.py
  cirq/linalg/__init__.py
  cirq/linalg/decompositions.py
  cirq/linalg/decompositions_test.py
  cirq/optimizers/__init__.py
  cirq/optimizers/two_qubit_decompositions.py
  cirq/optimizers/two_qubit_decompositions_test.py
  cirq/testing/__init__.py
  cirq/testing/random_circuit.py
  cirq/testing/random_circuit_test.py
  rtd_docs/api.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#3531 [doc] remove CircuitDag methods from API doc that are inherited from networkx
  dev_tools/docs/build_api_docs.py
Labels: automerge, cla: yes, front_of_queue_automerge, kind/docs

#3545 Docs nits
  docs/_book.yaml
  docs/gates.ipynb
  docs/install.md
  docs/start.md
  docs/tutorials/_index.yaml
  docs/tutorials/qaoa.ipynb
  docs/tutorials/variational_algorithm.ipynb
  rtd_docs/conf.py
Labels: automerge, cla: yes, front_of_queue_automerge, kind/docs
