Repository quantumlib/Cirq, pull requests merged in 2020-08, with the labels that each got.

#3191 Cosmetics: e.g. vs i.e.
  cirq/devices/grid_qubit.py
  cirq/devices/line_qubit.py
Labels: cla: yes

#3193 Adding Pasqal documentation
  docs/index.rst
  docs/pasqal/devices.md
  docs/pasqal/files/Cirq_pasqal.png
  docs/pasqal/files/Grover_circuit.png
  docs/pasqal/files/eiffel_tower.png
  docs/pasqal/files/grid_atoms.png
  docs/pasqal/files/r_radius.001.png
  docs/pasqal/getting_started.ipynb
  docs/pasqal/sampler.md
Labels: automerge, cla: yes, front_of_queue_automerge

#3129 Quimb Tensor Network Simulators
  cirq/contrib/contrib-requirements.txt
  cirq/contrib/quimb/Cirq-to-Tensor-Networks.ipynb
  cirq/contrib/quimb/Contract-a-Grid-Circuit.ipynb
  cirq/contrib/quimb/__init__.py
  cirq/contrib/quimb/density_matrix.py
  cirq/contrib/quimb/density_matrix_test.py
  cirq/contrib/quimb/grid_circuits.py
  cirq/contrib/quimb/grid_circuits_test.py
  cirq/contrib/quimb/state_vector.py
  cirq/contrib/quimb/state_vector_test.py
  dev_tools/conf/mypy.ini
Labels: automerge, cla: yes, front_of_queue_automerge

#3201 Fix docs build
  dev_tools/build-docs.sh
  dev_tools/conf/pip-list-dev-tools.txt
Labels: automerge, cla: yes, front_of_queue_automerge

#3199 Document matrices for parity gates
  cirq/ops/parity_gates.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3195 Approximately equal circuits with symbols not detected by cirq.approx_eq
  cirq/ops/eigen_gate_test.py
  cirq/protocols/approximate_equality_protocol.py
  cirq/protocols/approximate_equality_protocol_test.py
Labels: BREAKING CHANGE, automerge, cla: yes, front_of_queue_automerge

#3186 Qc render fix
  cirq/circuits/circuit.py
  cirq/contrib/qcircuit/qcircuit_diagram.py
  cirq/contrib/qcircuit/qcircuit_test.py
  cirq/google/line/placement/greedy.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3205 Rewrite sympy in 20 lines
  cirq/study/resolver.py
  cirq/study/resolver_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3204 Remove cirq v1 programs from namespace
  cirq/google/__init__.py
  cirq/google/api/v1/programs_test.py
  cirq/google/devices/xmon_device.py
  cirq/google/optimizers/convert_to_xmon_gates.py
  docs/api.rst
Labels: BREAKING CHANGE, automerge, cla: yes, front_of_queue_automerge

#3206 Add missing factor of pi to parameterized Quil gate output
  .gitignore
  cirq/circuits/quil_output_test.py
  cirq/ops/common_gates.py
  cirq/ops/parity_gates.py
  cirq/ops/swap_gates.py
  dev_tools/conf/pip-list-dev-tools.txt
Labels: automerge, cla: yes, front_of_queue_automerge

#3207 Add jupyter-compatible repr for SerializableDevice
  cirq/google/devices/serializable_device.py
  cirq/google/devices/serializable_device_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3211 Add initial support for converting Quil programs into Cirq circuits
  cirq/circuits/quil_output.py
  cirq/circuits/quil_output_test.py
  cirq/contrib/contrib-requirements.txt
  cirq/contrib/quil_import/__init__.py
  cirq/contrib/quil_import/quil.py
  cirq/contrib/quil_import/quil_test.py
  cirq/ops/swap_gates.py
  cirq/ops/two_qubit_diagonal_gate.py
  dev_tools/conf/mypy.ini
  docs/api.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#3215 Disable cirq v1 api docs
  dev_tools/docs/build_api_docs.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3217 Minor Correction to Dev Docs.
  docs/dev/development.md
Labels: automerge, cla: yes, front_of_queue_automerge

#3216 Add Moment.__sub__ and generalize Moment.__add__
  cirq/contrib/qcircuit/qcircuit_diagram_info.py
  cirq/devices/grid_qubit.py
  cirq/devices/line_qubit.py
  cirq/ops/moment.py
  cirq/ops/moment_test.py
  cirq/protocols/channel.py
  cirq/study/trial_result.py
  cirq/value/__init__.py
  cirq/value/linear_dict.py
  cirq/value/value_equality_attr.py
  cirq/value/value_equality_attr_test.py
  dev_tools/auto_merge.py
  dev_tools/conf/pip-list-dev-tools.txt
  dev_tools/prepared_env.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3223 Add JsonResolver mypy type for custom json resolvers
  cirq/__init__.py
  cirq/protocols/__init__.py
  cirq/protocols/json_serialization.py
  cirq/protocols/json_serialization_test.py
  dev_tools/incremental_coverage.py
  docs/api.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#3221 Escape special characters in Jupyter circuit diagram
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
Labels: cla: yes

#2922 A example of Qec using Shor's Code
  docs/examples.md
  examples/examples_test.py
  examples/shors_code.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3225 Add get_engine_device shortcut
  cirq/google/__init__.py
  cirq/google/engine/__init__.py
  cirq/google/engine/engine.py
  cirq/google/engine/engine_test.py
  docs/api.rst
Labels: cla: yes

#3247 Upgrade to sphinx 3.2.* and fix warnings
  cirq/google/gate_sets.py
  cirq/google/line/placement/greedy.py
  dev_tools/build-docs.sh
  dev_tools/conf/pip-list-dev-tools.txt
  docs/conf.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3236 Feature request template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: automerge, cla: yes, front_of_queue_automerge

#3218 Add pow function to arg_func_lang
  cirq/google/arg_func_langs.py
  cirq/google/arg_func_langs_test.py
Labels: cla: yes

#3227 [qpolish] dev-site & readthedocs hybrid
  .github/workflows/ci.yml
  .gitignore
  .readthedocs.yml
  README.rst
  check/doctest
  check/pytest-changed-files
  check/pytest-changed-files-and-incremental-coverage
  dev_tools/bash_scripts_test.py
  dev_tools/docs/build-rtd-docs.sh
  dev_tools/docs/run_doctest.py
  dev_tools/snippets_test.py
  docs/_book.yaml
  docs/_index.yaml
  docs/circuits.ipynb
  docs/dev/development.md
  docs/gates.ipynb
  docs/images/CircuitMomentOperation.png
  docs/images/Cirq_logo_color.png
  docs/images/Cirq_logo_color.svg
  docs/images/Cirq_logo_notext.png
  docs/images/Cirq_logo_notext.svg
  docs/images/circ2.png
  docs/images/cycle.png
  docs/images/moments.png
  docs/images/qc_blocked_king.png
  docs/images/qc_exclusion_move.png
  docs/images/qc_qking_moves.png
  docs/images/qc_slide_move.png
  docs/images/qc_split_move1.png
  docs/images/qc_standard_move.png
  docs/interop.ipynb
  docs/tutorial.ipynb
  docs/tutorials/Quantum_Walk.ipynb
  docs/tutorials/basics.ipynb
  docs/tutorials/examples.md
  docs/tutorials/quantum_chess.ipynb
  docs/tutorials/variational_algorithm.ipynb
  rtd_docs/.gitignore
  rtd_docs/Makefile
  rtd_docs/__init__.py
  rtd_docs/_static/tweak-style.css
  rtd_docs/_templates/autosummary/class.rst
  rtd_docs/_templates/autosummary/module.rst
  rtd_docs/_templates/breadcrumbs.html
  rtd_docs/_templates/layout.html
  rtd_docs/api.rst
  rtd_docs/conf.py
  rtd_docs/dev/index.rst
  rtd_docs/docs_coverage_test.py
  rtd_docs/favicon.ico
  rtd_docs/index.rst
Labels: cla: yes

#3252 Fixing a bunch of typos
  cirq/contrib/noise_models/noise_models.py
  cirq/contrib/qasm_import/_lexer_test.py
  cirq/contrib/quantum_volume/quantum_volume_test.py
  cirq/contrib/svg/svg.py
  cirq/experiments/single_qubit_readout_calibration.py
  cirq/google/api/v2/results.py
  cirq/google/devices/serializable_device.py
  cirq/google/devices/serializable_device_test.py
  cirq/google/line/placement/anneal.py
  cirq/google/line/placement/greedy.py
  cirq/google/optimizers/convert_to_sycamore_gates.py
  cirq/google/optimizers/optimize_for_sycamore.py
  cirq/google/serializable_gate_set_test.py
  cirq/linalg/transformations_test.py
  cirq/ops/clifford_gate_test.py
  cirq/ops/gate_operation_test.py
  cirq/ops/pauli_string.py
  cirq/ops/two_qubit_diagonal_gate.py
  cirq/optimizers/cphase_to_fsim.py
  cirq/optimizers/expand_composite_test.py
  cirq/optimizers/synchronize_terminal_measurements.py
  cirq/protocols/apply_channel_protocol.py
  cirq/protocols/apply_channel_protocol_test.py
  cirq/protocols/apply_mixture_protocol.py
  cirq/protocols/apply_mixture_protocol_test.py
  cirq/protocols/channel.py
  cirq/protocols/decompose_protocol.py
  cirq/protocols/has_stabilizer_effect_protocol.py
  cirq/protocols/json_serialization.py
  cirq/protocols/qasm.py
  cirq/sim/clifford/clifford_simulator_test.py
  cirq/testing/lin_alg_utils_test.py
  cirq/testing/logs.py
  cirq/vis/heatmap.py
  dev_tools/snippets_test.py
  docs/dev/plotting.md
  docs/google/calibration.md
  docs/install.md
  docs/noise.ipynb
  docs/pasqal/devices.md
  docs/tutorials/QAOA_Demo.ipynb
  docs/tutorials/examples.md
  docs/tutorials/quantum_chess.ipynb
  examples/advanced/quantum_volume.py
  examples/direct_fidelity_estimation.py
  examples/hhl.py
  release.md
Labels: automerge, cla: yes, front_of_queue_automerge

#3254 Fix documentation of [Engine, EngineProgram].run_batch
  cirq/google/engine/engine.py
  cirq/google/engine/engine_program.py
  cirq/testing/consistent_act_on.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3251 [automerge/cirqbot] paging for PR events
  dev_tools/auto_merge.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3187 Added qid version of Named Qubit
  cirq/__init__.py
  cirq/ops/__init__.py
  cirq/ops/named_qubit.py
  cirq/ops/named_qubit_test.py
  cirq/protocols/json_serialization.py
  cirq/protocols/json_test_data/NamedQid.json
  cirq/protocols/json_test_data/NamedQid.repr
  cirq/protocols/json_test_data/NoIdentifierQubit.json
  cirq/protocols/json_test_data/NoIdentifierQubit.repr
  cirq/protocols/json_test_data/_QubitAsQid.json
  cirq/protocols/json_test_data/_QubitAsQid.repr
  cirq/testing/__init__.py
  cirq/testing/no_identifier_qubit.py
  cirq/testing/no_identifier_qubit_test.py
  rtd_docs/api.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#3264 Fix copyright notes: Google LLC -> The Cirq Developers
  AUTHORS
  cirq/contrib/quirk/export_to_quirk_test.py
  cirq/google/engine/client/quantum.py
  cirq/google/engine/client/quantum_v1alpha1/__init__.py
  cirq/google/engine/client/quantum_v1alpha1/gapic/enums.py
  cirq/google/engine/client/quantum_v1alpha1/gapic/quantum_engine_service_client.py
  cirq/google/engine/client/quantum_v1alpha1/gapic/transports/quantum_engine_service_grpc_transport.py
  cirq/google/engine/client/quantum_v1alpha1/proto/engine.proto
  cirq/google/engine/client/quantum_v1alpha1/proto/quantum.proto
  cirq/google/engine/client/quantum_v1alpha1/types/__init__.py
  cirq/google/line/__init__.py
  cirq/google/line/placement/__init__.py
  cirq/google/line/placement/anneal.py
  cirq/google/line/placement/anneal_test.py
  cirq/google/line/placement/chip.py
  cirq/google/line/placement/chip_test.py
  cirq/google/line/placement/greedy.py
  cirq/google/line/placement/greedy_test.py
  cirq/google/line/placement/optimization.py
  cirq/google/line/placement/optimization_test.py
  dev_tools/check.py
  dev_tools/check_incremental_coverage_annotations.py
  dev_tools/docs/run_doctest.py
  dev_tools/incremental_coverage.py
  docs/_book.yaml
  docs/_index.yaml
Labels: automerge, cla: yes, front_of_queue_automerge

#3249 Add allow_decompose flag on has_channel
  cirq/protocols/channel.py
  cirq/protocols/channel_test.py
  cirq/sim/density_matrix_simulator.py
  cirq/sim/density_matrix_simulator_test.py
Labels: cla: yes

#3271 Give mypy a hint
  dev_tools/auto_merge.py
Labels: cla: yes

#3268 Update book/index
  docs/_book.yaml
  docs/_index.yaml
Labels: automerge, cla: yes, front_of_queue_automerge

#3275 docstrings for type aliases in devsite API docs
  cirq/_doc.py
  cirq/google/gate_sets.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3270 Add SupportsPauliExpansion
  cirq/__init__.py
  cirq/protocols/__init__.py
  cirq/protocols/json_serialization_test.py
  cirq/protocols/pauli_expansion_protocol.py
  rtd_docs/api.rst
Labels: cla: yes

#3272 Minimum required version of quimb.
  cirq/contrib/quimb/state_vector.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3284 fix hanging docs build + bad cleanup logic
  dev_tools/docs/build-rtd-docs.sh
  rtd_docs/conf.py
Labels: automerge, cla: yes, front_of_queue_automerge
