Repository quantumlib/Cirq, pull requests merged in 2020-09, with the labels that each got.

#3294 removing readthedocs.io references
  dev_tools/conf/pip-list-dev-tools.txt
  docs/dev/development.md
  docs/dev/nomenclature.md
  docs/devices.md
  docs/install.md
  docs/tutorials/examples.md
  docs/tutorials/variational_algorithm.ipynb
  rtd_docs/conf.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3287 Add more information about gates and best practices
  docs/google/best_practices.md
  docs/google/devices.md
Labels: cla: yes

#3283 Quantum Engine documentation
  dev_tools/conf/pip-list-dev-tools.txt
  docs/google/concepts.ipynb
  docs/images/colab_github.png
  docs/images/colab_upload.png
  docs/images/console-landing.png
  docs/images/console-project-id.png
  docs/images/engine_cloud.png
  docs/images/engine_diagram.png
  docs/images/engine_job.png
  docs/images/engine_program.png
  docs/images/engine_result.png
  docs/images/run-code-block.png
  docs/tutorials/basics.ipynb
  docs/tutorials/google/colab.ipynb
  docs/tutorials/google/reservations.ipynb
  docs/tutorials/google/start.ipynb
  rtd_docs/index.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#3281 Update documentation on bell_inequality.py example
  examples/bell_inequality.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3301 Add a few extra links to documentation
  docs/google/calibration.md
  docs/tutorials/google/colab.ipynb
  docs/tutorials/google/reservations.ipynb
  docs/tutorials/google/start.ipynb
Labels: cla: yes

#3300 Add information on downloading historical results
  docs/google/engine.md
Labels: automerge, cla: yes, front_of_queue_automerge

#3304 Fix command-line engine start up guide
  docs/tutorials/google/start.ipynb
Labels: cla: yes

#3282 Add Moment.with_operations and use in Circuit.batch_insert_into
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
  cirq/ops/moment.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3303 Add batched_results() to retrieve BatchResult
  cirq/google/engine/engine_job.py
  cirq/google/engine/engine_job_test.py
Labels: cla: yes

#3259 Split right multiplication into separate methods in StabilizerStateCHForm
  cirq/sim/clifford/stabilizer_state_ch_form.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3306 Fix a bug in validating computational basis limits
  cirq/qis/states.py
  cirq/qis/states_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3097 Adding documentation on Request for proposals
  CONTRIBUTING.md
  docs/_book.yaml
  docs/dev/rfc_process.md
  rtd_docs/dev/index.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#3307 Adjust docs for Getting started guide
  docs/tutorials/google/colab.ipynb
  docs/tutorials/google/start.ipynb
Labels: cla: yes

#3273 Add parameter_names and parameter_symbols protocols.
  cirq/__init__.py
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
  cirq/ops/controlled_gate.py
  cirq/ops/controlled_operation.py
  cirq/ops/dense_pauli_string.py
  cirq/ops/eigen_gate.py
  cirq/ops/fourier_transform.py
  cirq/ops/fsim_gate.py
  cirq/ops/gate_operation.py
  cirq/ops/linear_combinations.py
  cirq/ops/linear_combinations_test.py
  cirq/ops/parallel_gate_operation.py
  cirq/ops/pauli_string_phasor.py
  cirq/ops/phased_iswap_gate.py
  cirq/ops/phased_x_gate.py
  cirq/ops/phased_x_z_gate.py
  cirq/ops/random_gate_channel.py
  cirq/ops/raw_types.py
  cirq/ops/raw_types_test.py
  cirq/ops/three_qubit_gates.py
  cirq/ops/two_qubit_diagonal_gate.py
  cirq/ops/wait_gate.py
  cirq/protocols/__init__.py
  cirq/protocols/resolve_parameters.py
  cirq/protocols/resolve_parameters_test.py
  cirq/testing/__init__.py
  cirq/testing/consistent_protocols.py
  cirq/testing/consistent_protocols_test.py
  cirq/testing/consistent_resolve_parameters.py
  cirq/value/duration.py
  cirq/value/periodic_value.py
  cirq/value/periodic_value_test.py
  rtd_docs/api.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#3312 Update gates.ipynb
  docs/gates.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge

#3311 moving cirq-unstable publishing to Github Actions
  .github/workflows/release-master.yml
  .travis.yml
Labels: automerge, cla: yes, front_of_queue_automerge

#3265 Add run_batch to Sampler and QuantumEngineSampler
  cirq/google/engine/engine_sampler.py
  cirq/google/engine/engine_sampler_test.py
  cirq/work/sampler.py
  cirq/work/sampler_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3291 Implement speckle purity benchmarking as part of grid XEB
  cirq/experiments/__init__.py
  cirq/experiments/cross_entropy_benchmarking.py
  cirq/experiments/cross_entropy_benchmarking_test.py
  cirq/experiments/grid_parallel_two_qubit_xeb.py
  cirq/experiments/grid_parallel_two_qubit_xeb_test.py
  cirq/experiments/purity_estimation.py
  cirq/experiments/purity_estimation_test.py
  cirq/protocols/json_test_data/CrossEntropyResult.json
  cirq/protocols/json_test_data/CrossEntropyResult.repr
  cirq/protocols/json_test_data/CrossEntropyResultDict.json
  cirq/protocols/json_test_data/CrossEntropyResultDict.repr
  rtd_docs/api.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#3314 Add docs for batched_result
  cirq/sim/clifford/stabilizer_state_ch_form.py
  docs/google/engine.md
Labels: cla: yes

#3255 Add CPMG to T2 experiment
  cirq/experiments/t2_decay_experiment.py
  cirq/experiments/t2_decay_experiment_test.py
Labels: cla: yes

#3298 Add cirq.QubitPermutationGate
  cirq/__init__.py
  cirq/interop/quirk/cells/qubit_permutation_cells.py
  cirq/interop/quirk/cells/testing.py
  cirq/ops/__init__.py
  cirq/ops/permutation_gate.py
  cirq/ops/permutation_gate_test.py
  cirq/protocols/json_serialization_test.py
  cirq/testing/__init__.py
  cirq/testing/equivalent_basis_map.py
  cirq/testing/equivalent_basis_map_test.py
  rtd_docs/api.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#3309 Improve initial_state handling for CliffordTableau and StabilizerStateChForm
  cirq/sim/clifford/clifford_simulator.py
  cirq/sim/clifford/clifford_simulator_test.py
  cirq/sim/clifford/clifford_tableau.py
  cirq/sim/clifford/stabilizer_state_ch_form.py
  cirq/sim/clifford/stabilizer_state_ch_form_test.py
Labels: cla: yes

#3319 cleanup engine docstrings
  cirq/google/engine/engine_client.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3320 List programs
  cirq/google/engine/engine.py
  cirq/google/engine/engine_client.py
  cirq/google/engine/engine_client_test.py
  cirq/google/engine/engine_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3299 Change MutablePauliString from private to public
  cirq/__init__.py
  cirq/ops/__init__.py
  cirq/ops/pauli_string.py
  cirq/ops/pauli_string_test.py
  cirq/protocols/json_serialization.py
  cirq/protocols/json_test_data/MutablePauliString.json
  cirq/protocols/json_test_data/MutablePauliString.repr
  cirq/testing/consistent_qasm_test.py
  dev_tools/conf/pip-list-dev-tools.txt
  rtd_docs/api.rst
Labels: cla: yes

#3321 Update book for api gen changes (cl/331666270)
  docs/_book.yaml
Labels: automerge, cla: yes, front_of_queue_automerge

#3322 List Engine jobs
  cirq/google/engine/engine.py
  cirq/google/engine/engine_client.py
  cirq/google/engine/engine_client_test.py
  cirq/google/engine/engine_program.py
  cirq/google/engine/engine_program_test.py
  cirq/google/engine/engine_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3171 Add TensorProductState, a state-vector-like object
  cirq/__init__.py
  cirq/circuits/circuit_test.py
  cirq/ops/pauli_gates.py
  cirq/ops/pauli_string_test.py
  cirq/protocols/json_serialization.py
  cirq/protocols/json_serialization_test.py
  cirq/protocols/json_test_data/KET_IMAG.json
  cirq/protocols/json_test_data/KET_IMAG.repr
  cirq/protocols/json_test_data/KET_MINUS.json
  cirq/protocols/json_test_data/KET_MINUS.repr
  cirq/protocols/json_test_data/KET_MINUS_IMAG.json
  cirq/protocols/json_test_data/KET_MINUS_IMAG.repr
  cirq/protocols/json_test_data/KET_ONE.json
  cirq/protocols/json_test_data/KET_ONE.repr
  cirq/protocols/json_test_data/KET_PLUS.json
  cirq/protocols/json_test_data/KET_PLUS.repr
  cirq/protocols/json_test_data/KET_ZERO.json
  cirq/protocols/json_test_data/KET_ZERO.repr
  cirq/protocols/json_test_data/ProductState.json
  cirq/protocols/json_test_data/ProductState.repr
  cirq/protocols/json_test_data/_XEigenState.json
  cirq/protocols/json_test_data/_XEigenState.repr
  cirq/protocols/json_test_data/_YEigenState.json
  cirq/protocols/json_test_data/_YEigenState.repr
  cirq/protocols/json_test_data/_ZEigenState.json
  cirq/protocols/json_test_data/_ZEigenState.repr
  cirq/qis/states.py
  cirq/sim/__init__.py
  cirq/sim/density_matrix_simulator.py
  cirq/sim/density_matrix_simulator_test.py
  cirq/sim/mux.py
  cirq/sim/mux_test.py
  cirq/sim/state_vector.py
  cirq/value/__init__.py
  cirq/value/product_state.py
  cirq/value/product_state_test.py
  docs/dev/nomenclature.md
  rtd_docs/api.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#3328 Change _book.yaml to point to /reference/python
  docs/_book.yaml
Labels: automerge, cla: yes, front_of_queue_automerge

#3330 Improve parameter-related types and documentation
  cirq/__init__.py
  cirq/protocols/json_serialization_test.py
  cirq/study/resolver.py
  cirq/study/sweepable.py
  cirq/study/sweeps.py
  cirq/value/__init__.py
  cirq/value/type_alias.py
  rtd_docs/api.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#3331 Fix link to RFC process in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: automerge, cla: yes, front_of_queue_automerge

#3317 Automerge bot on GCP
  .dockerignore
  dev_tools/auto_merge.py
  dev_tools/auto_merge/Dockerfile
  dev_tools/auto_merge/README.md
  dev_tools/auto_merge/cloudbuild-deploy.yaml
  dev_tools/auto_merge/deployment.yaml
  dev_tools/auto_merge/requirements.txt
  dev_tools/cirq-infra/README.md
  dev_tools/conf/mypy.ini
Labels: automerge, cla: yes, front_of_queue_automerge

#3332 Implement cphase
  cirq/__init__.py
  cirq/ops/__init__.py
  cirq/ops/common_gates.py
  cirq/ops/common_gates_test.py
  rtd_docs/api.rst
Labels: cla: yes

#3326 Add ActOnStabilizerCHFormArgs
  cirq/__init__.py
  cirq/protocols/json_serialization_test.py
  cirq/sim/__init__.py
  cirq/sim/clifford/__init__.py
  cirq/sim/clifford/act_on_stabilizer_ch_form_args.py
  cirq/sim/clifford/act_on_stabilizer_ch_form_args_test.py
  rtd_docs/api.rst
Labels: cla: yes

#3335 Moving style.md to the developer documentation
  docs/_book.yaml
  docs/dev/style.md
  rtd_docs/dev/index.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#3336 pygment 2.6.1 to fix readthedocs
  dev_tools/conf/pip-list-dev-tools.txt
Labels: automerge, cla: yes, front_of_queue_automerge

#3333 Add methods for converting dict to product or zip sweep and deprecate implicit cartesian product
  cirq/__init__.py
  cirq/study/__init__.py
  cirq/study/sweepable.py
  cirq/study/sweepable_test.py
  cirq/study/sweeps.py
  cirq/study/sweeps_test.py
  rtd_docs/api.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#3337 Explaining Engine API access
  docs/google/engine.md
Labels: automerge, cla: yes, front_of_queue_automerge

#3338 added NamedQid and GridQid to the qudit concept page
  docs/qudits.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge

#3343 Refactor to_resolvers to use to_sweeps
  cirq/sim/simulator_test.py
  cirq/study/sweepable.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3339 Added Moment operation at
  cirq/ops/moment.py
  cirq/ops/moment_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3348 adding 3.7 to the tests
  .github/workflows/ci.yml
  requirements.txt
Labels: automerge, cla: yes, front_of_queue_automerge

#3352 adds pasqal pages to devsite
  docs/_book.yaml
Labels: automerge, cla: yes, front_of_queue_automerge

#3325 Make PauliString's key type generic
  cirq/ops/pauli_string.py
  cirq/ops/pauli_string_phasor_test.py
  cirq/ops/pauli_string_test.py
  examples/direct_fidelity_estimation.py
Labels: automerge, cla: yes, front_of_queue_automerge, pr/lgtm-with-nit

#2869 feat(cirq): Add greedy implementation of aligning 1-qubit, and 2-qubit gates optimizer
  cirq/optimizers/stratify.py
  cirq/optimizers/stratify_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3358 Fix NumPy 0.19 related issues
  cirq/ion/convert_to_ion_gates_test.py
  cirq/optimizers/decompositions.py
  cirq/optimizers/decompositions_test.py
  requirements.txt
Labels: automerge, cla: yes, front_of_queue_automerge

#3357 ignore q in gridqubit ids
  cirq/google/api/v2/program.py
  cirq/google/api/v2/program_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3344 s|TrialResult|Result
  cirq/__init__.py
  cirq/aqt/aqt_device.py
  cirq/aqt/aqt_sampler.py
  cirq/contrib/quantum_volume/quantum_volume.py
  cirq/contrib/quantum_volume/quantum_volume_test.py
  cirq/experiments/single_qubit_readout_calibration_test.py
  cirq/google/api/v2/results.py
  cirq/google/api/v2/results_test.py
  cirq/google/engine/engine.py
  cirq/google/engine/engine_job.py
  cirq/google/engine/engine_program.py
  cirq/google/engine/engine_program_test.py
  cirq/google/engine/engine_sampler.py
  cirq/pasqal/pasqal_sampler.py
  cirq/protocols/json_serialization.py
  cirq/protocols/json_test_data/Result.json
  cirq/protocols/json_test_data/Result.repr
  cirq/protocols/json_test_data/TrialResult.repr
  cirq/sim/density_matrix_simulator.py
  cirq/sim/mux.py
  cirq/sim/simulator.py
  cirq/sim/simulator_test.py
  cirq/sim/sparse_simulator.py
  cirq/study/__init__.py
  cirq/study/result.py
  cirq/study/result_test.py
  cirq/study/visualize.py
  cirq/work/collector.py
  cirq/work/pauli_sum_collector.py
  cirq/work/sampler.py
  cirq/work/zeros_sampler.py
  docs/google/engine.md
  docs/pasqal/sampler.md
  docs/simulation.ipynb
  examples/direct_fidelity_estimation.py
  examples/shor.py
  rtd_docs/api.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#3280 Adding default values to op serializers and deserializers
  cirq/google/common_serializers.py
  cirq/google/op_deserializer.py
  cirq/google/op_deserializer_test.py
  cirq/google/op_serializer.py
  cirq/google/op_serializer_test.py
Labels: BREAKING CHANGE, automerge, cla: yes, front_of_queue_automerge, pr/blocked, pr/lgtm-with-nit

#3361 Add symmetric depol
  cirq/ops/common_channels.py
  cirq/ops/common_channels_test.py
  cirq/protocols/json_test_data/MultiDepolarizingChannel.json
  cirq/protocols/json_test_data/MultiDepolarizingChannel.repr
Labels: automerge, cla: yes, front_of_queue_automerge

#3363 Execute TODO to have the prob mass auto added
  cirq/ops/common_channels.py
  cirq/ops/common_channels_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2892 Adds cirq.num_cnots_required and cirq.to_special
  cirq/__init__.py
  cirq/linalg/__init__.py
  cirq/linalg/decompositions.py
  cirq/linalg/decompositions_test.py
  cirq/linalg/transformations.py
  cirq/linalg/transformations_test.py
  rtd_docs/api.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#3362 Docs for listing jobs and programs
  docs/google/engine.md
Labels: automerge, cla: yes, front_of_queue_automerge

#3364 Adjust `Circuit.__add__` behavior to match `Circuit.__iadd__`
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
Labels: BREAKING CHANGE, automerge, cla: yes, front_of_queue_automerge

#3355 Add cirq.StabilizerSampler
  cirq/__init__.py
  cirq/ops/common_channels.py
  cirq/ops/common_channels_test.py
  cirq/ops/random_gate_channel.py
  cirq/ops/random_gate_channel_test.py
  cirq/protocols/json_serialization_test.py
  cirq/sim/__init__.py
  cirq/sim/clifford/__init__.py
  cirq/sim/clifford/stabilizer_sampler.py
  cirq/sim/clifford/stabilizer_sampler_test.py
  rtd_docs/api.rst
Labels: automerge, cla: yes, front_of_queue_automerge, pr/lgtm-with-nit

#3367 Add extensions to document public constants
  cirq/_doc.py
  dev_tools/docs/build_api_docs.py
  rtd_docs/conf.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3366 Extending types for symbol resolution fast pass-through
  cirq/study/resolver.py
  cirq/study/resolver_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3360 Greedy router
  cirq/contrib/routing/greedy.py
  cirq/contrib/routing/greedy_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3369 Change names of focused calibration protos for consistency.
  cirq/google/api/v2/calibration.proto
  cirq/google/api/v2/calibration_pb2.py
  cirq/google/api/v2/calibration_pb2.pyi
Labels: automerge, cla: yes, front_of_queue_automerge

#3365 Python 3.8 support
  .github/workflows/ci.yml
  dev_tools/conf/pip-list-dev-tools.txt
  docs/tutorials/google/colab.ipynb
  requirements.txt
Labels: automerge, cla: yes, front_of_queue_automerge

#3370 Do not perform extra optimizations in "via B" decomposition
  cirq/__init__.py
  cirq/optimizers/__init__.py
  cirq/optimizers/two_qubit_to_fsim.py
  cirq/optimizers/two_qubit_to_fsim_test.py
  rtd_docs/api.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#3373 Un-invert B gate
  cirq/optimizers/two_qubit_to_fsim.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3375 Improve GridQubit dictionary lookup performance 3x
  cirq/devices/grid_qubit.py
Labels: automerge, cla: yes, front_of_queue_automerge
