Repository quantumlib/Cirq, pull requests merged in 2020-04, with the labels that each got.

#2880 Fix image links and headers
  docs/circuits.ipynb
  docs/gates.ipynb
  docs/studies/Quantum_Walk.ipynb
  docs/studies/Rabi_Demo.ipynb
Labels: cla: yes

#2879 Define moment+moment operation to return a combined moment
  cirq/circuits/circuit.py
  cirq/ops/moment.py
  cirq/ops/moment_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2882 Reorder TOC and move development to dev/
  docs/dev/development.md
  docs/index.rst
  docs/install.md
Labels: cla: yes

#2886 Fix column axis rename in pandas 1.0
  cirq/experiments/t1_decay_experiment.py
  requirements.txt
Labels: cla: yes

#2890 Fix links in github view
  docs/dev/gates.md
  docs/gates.ipynb
  docs/tutorial.ipynb
Labels: cla: yes

#2893 Fix examples link
  docs/tutorial.ipynb
Labels: cla: yes

#2895 Upgrade pytest to version 5.4.1
  dev_tools/conf/pip-list-dev-tools.txt
Labels: cla: yes

#2899 Fix invalid argument in list_processors.
  cirq/google/engine/engine_client.py
  cirq/google/engine/engine_client_test.py
Labels: bug, cla: yes

#2901 Shortening titles of tutorials
  docs/studies/Quantum_Walk.ipynb
  docs/studies/variational_algorithm.ipynb
Labels: cla: yes

#2889 Add return values to direct_fidelity_estimation()
  examples/direct_fidelity_estimation.py
  examples/direct_fidelity_estimation_test.py
Labels: cla: yes

#2837 Add ability to do exhaustive Clifford trial
  examples/direct_fidelity_estimation.py
  examples/direct_fidelity_estimation_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2797 Add function to compute fidelity
  cirq/__init__.py
  cirq/linalg/__init__.py
  cirq/linalg/distance_measures.py
  cirq/linalg/distance_measures_test.py
  docs/api.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#2897 Reorganize examples page to better list out examples
  docs/examples.md
  docs/examples.rst
  docs/index.rst
  docs/tutorial.ipynb
Labels: cla: yes

#2906 Add some missing type annotations
  cirq/contrib/acquaintance/bipartite.py
  cirq/contrib/acquaintance/devices.py
  cirq/contrib/acquaintance/gates.py
  cirq/contrib/acquaintance/permutation.py
  cirq/contrib/acquaintance/shift.py
  cirq/contrib/acquaintance/shift_swap_network.py
  cirq/contrib/routing/swap_network.py
  cirq/experiments/cross_entropy_benchmarking.py
  cirq/experiments/random_quantum_circuit_generation.py
  cirq/experiments/single_qubit_readout_calibration.py
  cirq/experiments/t1_decay_experiment.py
  cirq/google/devices/known_devices.py
  cirq/google/devices/xmon_device.py
  cirq/google/engine/engine_job.py
  cirq/google/engine/engine_processor.py
  cirq/google/engine/engine_program.py
  cirq/google/line/placement/sequence.py
  cirq/google/ops/physical_z_tag.py
  cirq/neutral_atoms/neutral_atom_devices.py
Labels: cla: yes

#2909 Intermediate examples had the wrong header
  docs/examples.md
Labels: cla: yes

#2908 Add more missing type annotations
  cirq/interop/quirk/cells/arithmetic_cells.py
  cirq/interop/quirk/cells/control_cells.py
  cirq/interop/quirk/cells/input_rotation_cells.py
  cirq/interop/quirk/cells/qubit_permutation_cells.py
  cirq/interop/quirk/cells/swap_cell.py
  cirq/ion/ion_device.py
  cirq/linalg/decompositions.py
  cirq/pasqal/pasqal_device.py
  cirq/pasqal/pasqal_qubits.py
  cirq/protocols/circuit_diagram_info_protocol.py
  cirq/testing/order_tester.py
  cirq/value/duration.py
  cirq/value/linear_dict.py
  cirq/value/periodic_value.py
  cirq/value/timestamp.py
  cirq/value/timestamp_test.py
  cirq/work/collector.py
Labels: cla: yes

#2884 Add interop docs and optimizers
  docs/circuits.ipynb
  docs/index.rst
  docs/interop.ipynb
Labels: cla: yes

#2910 Remove explicit object superclass
  cirq/circuits/insert_strategy.py
  cirq/contrib/qasm_import/_lexer.py
  cirq/google/line/placement/anneal.py
  cirq/study/resolver.py
Labels: cla: yes

#2859 Replace Travis with Github workflow except for script that performs `dev`builds
  .github/workflows/ci.yml
  .travis.yml
Labels: automerge, cla: yes, front_of_queue_automerge

#2913 Actually test zip sweep with duplicate keys
  cirq/study/sweeps_test.py
Labels: cla: yes

#2907 DRY radian formatting
  cirq/ops/common_gates.py
  cirq/ops/eigen_gate.py
  cirq/ops/fsim_gate.py
  cirq/ops/parity_gates.py
  cirq/ops/parity_gates_test.py
  cirq/protocols/circuit_diagram_info_protocol.py
  cirq/protocols/circuit_diagram_info_protocol_test.py
Labels: cla: yes

#2921 Loosen tolerance restrictions in Quantum Engine
  cirq/google/common_serializers.py
  cirq/google/common_serializers_test.py
Labels: cla: yes

#2857 Add notebook on Hidden Linear Function Problem
  docs/index.rst
  docs/studies/hidden_linear_function.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge

#2914 More type annotations and format strings
  cirq/circuits/_bucket_priority_queue.py
  cirq/circuits/circuit.py
  cirq/circuits/circuit_dag.py
  cirq/circuits/insert_strategy.py
  cirq/circuits/optimization_pass.py
  cirq/devices/grid_qubit.py
  cirq/devices/line_qubit.py
  cirq/devices/noise_model.py
  cirq/devices/unconstrained_device.py
  cirq/study/flatten_expressions.py
  cirq/study/resolver.py
  cirq/study/sweeps.py
  cirq/study/sweeps_test.py
  cirq/study/trial_result.py
Labels: cla: yes

#2883 Add JSON Serialization for GateTabulation.
  cirq/google/__init__.py
  cirq/google/optimizers/two_qubit_gates/gate_compilation.py
  cirq/google/optimizers/two_qubit_gates/gate_compilation_test.py
  cirq/protocols/json_serialization.py
  cirq/protocols/json_test_data/GateTabulation.json
  cirq/protocols/json_test_data/GateTabulation.repr
  docs/api.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#2894 Add JSON serialization for CliffordState and CliffordTableau
  cirq/protocols/json_serialization.py
  cirq/protocols/json_serialization_test.py
  cirq/protocols/json_test_data/CliffordState.json
  cirq/protocols/json_test_data/CliffordState.repr
  cirq/protocols/json_test_data/CliffordTableau.json
  cirq/protocols/json_test_data/CliffordTableau.repr
  cirq/protocols/json_test_data/StabilizerStateChForm.json
  cirq/protocols/json_test_data/StabilizerStateChForm.repr
  cirq/sim/clifford/clifford_simulator.py
  cirq/sim/clifford/clifford_simulator_test.py
  cirq/sim/clifford/clifford_tableau.py
  cirq/sim/clifford/stabilizer_state_ch_form.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2929 Fix indentation on markdown
  docs/examples.md
Labels: cla: yes

#2927 Update noise model to new metrics.
  cirq/contrib/noise_models/noise_models.py
  cirq/contrib/noise_models/noise_models_test.py
Labels: cla: yes

#2930 Fix pytest for mac by replacing grep with perl
  check/pytest
Labels: cla: yes

#2918 DFE with exhaustive sampling for exhaustive Clifford Pauli strings
  examples/direct_fidelity_estimation.py
  examples/direct_fidelity_estimation_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2931 Move studies to Tutorials
  docs/examples.md
  docs/index.rst
  docs/tutorial.ipynb
  docs/tutorials/QAOA_Demo.ipynb
  docs/tutorials/Quantum_Walk.ipynb
  docs/tutorials/Rabi_Demo.ipynb
  docs/tutorials/hidden_linear_function.ipynb
  docs/tutorials/variational_algorithm.ipynb
Labels: cla: yes

#2924 Remove exponent parameter from _Pauli{X,Y,Z}
  cirq/ops/eigen_gate.py
  cirq/ops/eigen_gate_test.py
  cirq/ops/pauli_gates.py
Labels: cla: yes

#2911 Compare pauli matrices in commute using equality instead of `is`
  cirq/ops/pauli_gates.py
  cirq/ops/pauli_gates_test.py
Labels: cla: yes

#2935 Some more type annotations and format strings
  cirq/sim/clifford/clifford_simulator.py
  cirq/sim/clifford/clifford_tableau.py
  cirq/sim/clifford/stabilizer_state_ch_form.py
  cirq/sim/density_matrix_simulator.py
  cirq/sim/simulator.py
  cirq/sim/wave_function_simulator.py
Labels: cla: yes

#2934 Allow creating device proto for specified qubits and pairs
  cirq/google/devices/known_devices.py
  cirq/google/devices/known_devices_test.py
Labels: cla: yes

#2938 Check 2x2 unitary in has_stabilizer_effect
  cirq/protocols/has_stabilizer_effect_protocol.py
  cirq/protocols/has_stabilizer_effect_protocol_test.py
Labels: Ready for Re-Review, cla: yes

#2937 Add more type annotations and f-strings
  cirq/ops/clifford_gate.py
  cirq/ops/common_channels.py
  cirq/ops/common_gates.py
  cirq/ops/controlled_gate.py
  cirq/ops/controlled_operation.py
  cirq/ops/dense_pauli_string.py
  cirq/ops/eigen_gate.py
  cirq/ops/fourier_transform.py
  cirq/ops/fsim_gate.py
  cirq/ops/gate_operation.py
  cirq/ops/global_phase_op.py
  cirq/ops/identity.py
  cirq/ops/linear_combinations.py
  cirq/ops/matrix_gates.py
  cirq/ops/matrix_gates_test.py
  cirq/ops/measurement_gate.py
  cirq/ops/moment.py
  cirq/ops/named_qubit.py
  cirq/ops/parallel_gate_operation.py
  cirq/ops/parity_gates.py
  cirq/ops/pauli_interaction_gate.py
  cirq/ops/pauli_string.py
  cirq/ops/pauli_string_phasor.py
  cirq/ops/phased_iswap_gate.py
  cirq/ops/phased_x_gate.py
  cirq/ops/phased_x_z_gate.py
  cirq/ops/raw_types.py
  cirq/ops/swap_gates.py
  cirq/ops/tags.py
  cirq/ops/wait_gate.py
Labels: cla: yes

#2943 Add `shell:bash` to run bash script on Windows.
  .github/workflows/ci.yml
Labels: automerge, cla: yes, front_of_queue_automerge

#2942 Rename RANDOM_STATE_LIKE to RANDOM_STATE_OR_SEED_LIKE and expose at top level
  cirq/__init__.py
  cirq/contrib/quantum_volume/quantum_volume.py
  cirq/contrib/routing/greedy.py
  cirq/contrib/routing/initialization.py
  cirq/experiments/random_quantum_circuit_generation.py
  cirq/experiments/random_quantum_circuit_generation_test.py
  cirq/experiments/single_qubit_readout_calibration_test.py
  cirq/google/optimizers/two_qubit_gates/gate_compilation.py
  cirq/linalg/decompositions_test.py
  cirq/protocols/json_serialization_test.py
  cirq/sim/clifford/clifford_simulator.py
  cirq/sim/density_matrix_simulator.py
  cirq/sim/density_matrix_utils.py
  cirq/sim/mux.py
  cirq/sim/simulator.py
  cirq/sim/sparse_simulator.py
  cirq/sim/wave_function.py
  cirq/testing/lin_alg_utils.py
  cirq/testing/random_circuit.py
  cirq/value/__init__.py
  cirq/value/random_state.py
  docs/api.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#2868 Add all_measurement_keys method to circuit
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#1759 Add `assert_specifies_has_unitary_if_unitary` to consistency tests
  cirq/circuits/qasm_output.py
  cirq/google/engine/engine_sampler.py
  cirq/ops/fsim_gate.py
  cirq/ops/identity.py
  cirq/ops/pauli_string_phasor.py
  cirq/ops/phased_x_gate.py
  cirq/ops/phased_x_z_gate.py
  cirq/ops/raw_types.py
  cirq/ops/raw_types_test.py
  cirq/testing/__init__.py
  cirq/testing/consistent_protocols.py
  cirq/testing/consistent_protocols_test.py
  cirq/testing/consistent_specified_has_unitary.py
  cirq/testing/consistent_specified_has_unitary_test.py
  docs/api.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#2881 Ensure exponent in eigen gate is real.
  cirq/ops/eigen_gate.py
  cirq/ops/eigen_gate_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2717 Remove deprecated methods and improve reprs
  cirq/__init__.py
  cirq/circuits/circuit.py
  cirq/circuits/circuit_dag_test.py
  cirq/circuits/circuit_test.py
  cirq/ion/__init__.py
  cirq/ion/ion_gates.py
  cirq/ion/ion_gates_test.py
  cirq/ops/__init__.py
  cirq/ops/clifford_gate.py
  cirq/ops/common_gates.py
  cirq/ops/common_gates_test.py
  cirq/ops/controlled_operation.py
  cirq/ops/controlled_operation_test.py
  cirq/ops/gate_operation.py
  cirq/ops/gate_operation_test.py
  cirq/ops/identity.py
  cirq/ops/identity_test.py
  cirq/ops/matrix_gates.py
  cirq/ops/matrix_gates_test.py
  cirq/ops/measurement_gate.py
  cirq/ops/measurement_gate_test.py
  cirq/ops/moment.py
  cirq/ops/moment_test.py
  cirq/ops/phased_iswap_gate.py
  cirq/ops/phased_iswap_gate_test.py
  cirq/ops/raw_types_test.py
  cirq/ops/swap_gates.py
  cirq/ops/swap_gates_test.py
  cirq/protocols/decompose_protocol_test.py
  cirq/protocols/json_test_data/Circuit.repr
  cirq/protocols/json_test_data/Moment.repr
  docs/api.rst
  examples/direct_fidelity_estimation.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2878 Fix time bugs in EngineProcessor.get_schedule
  cirq/google/engine/engine_processor.py
  cirq/google/engine/engine_processor_test.py
  dev_tools/conf/mypy.ini
  requirements.txt
Labels: automerge, cla: yes, front_of_queue_automerge

#2919 Speed up clifford simulator by short circuiting on known gates
  cirq/sim/clifford/clifford_simulator.py
  cirq/sim/clifford/stabilizer_state_ch_form.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2808 Create qis subpackage and move some existing code to qis.states and qis.measures
  cirq/__init__.py
  cirq/_compat.py
  cirq/circuits/circuit.py
  cirq/linalg/__init__.py
  cirq/linalg/states.py
  cirq/linalg/states_test.py
  cirq/ops/controlled_operation.py
  cirq/ops/linear_combinations.py
  cirq/ops/pauli_string.py
  cirq/protocols/apply_unitary_protocol.py
  cirq/protocols/has_unitary_protocol.py
  cirq/protocols/unitary_protocol.py
  cirq/qis/__init__.py
  cirq/qis/measures.py
  cirq/qis/measures_test.py
  cirq/qis/states.py
  cirq/qis/states_test.py
  cirq/sim/__init__.py
  cirq/sim/density_matrix_simulator.py
  cirq/sim/density_matrix_utils.py
  cirq/sim/density_matrix_utils_test.py
  cirq/sim/sparse_simulator.py
  cirq/sim/wave_function.py
  cirq/sim/wave_function_test.py
  cirq/testing/circuit_compare.py
  dev_tools/run_doctest.py
  docs/api.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#2649 Add Example: Simon's Algorithm
  examples/examples_test.py
  examples/simon_algorithm.py
Labels: automerge, cla: yes, front_of_queue_automerge
