Repository quantumlib/Cirq, pull requests merged in 2020-01, with the labels that each got.

#2668 Remove code for GCS locations since they are no longer used.
  cirq/google/engine/engine.py
  cirq/google/engine/engine_job_test.py
  cirq/google/engine/engine_test.py
Labels: cla: yes

#2672 Change symbols in phased_iswap_test
  cirq/ops/phased_iswap_gate_test.py
Labels: cla: yes

#2667 Delete cirq.api.google
  check/build-protos
  cirq/__init__.py
  cirq/api/__init__.py
  cirq/api/google/__init__.py
  cirq/api/google/v1/__init__.py
  cirq/api/google/v1/operations.proto
  cirq/api/google/v1/operations_pb2.py
  cirq/api/google/v1/operations_pb2.pyi
  cirq/api/google/v1/params.proto
  cirq/api/google/v1/params_pb2.py
  cirq/api/google/v1/params_pb2.pyi
  cirq/api/google/v1/program.proto
  cirq/api/google/v1/program_pb2.py
  cirq/api/google/v1/program_pb2.pyi
  cirq/api/google/v1/proto_test.py
  cirq/api/google/v2/__init__.py
  cirq/api/google/v2/device.proto
  cirq/api/google/v2/device_pb2.py
  cirq/api/google/v2/device_pb2.pyi
  cirq/api/google/v2/metrics.proto
  cirq/api/google/v2/metrics_pb2.py
  cirq/api/google/v2/metrics_pb2.pyi
  cirq/api/google/v2/program.proto
  cirq/api/google/v2/program_pb2.py
  cirq/api/google/v2/program_pb2.pyi
  cirq/api/google/v2/proto_test.py
  cirq/api/google/v2/result.proto
  cirq/api/google/v2/result_pb2.py
  cirq/api/google/v2/result_pb2.pyi
  cirq/api/google/v2/run_context.proto
  cirq/api/google/v2/run_context_pb2.py
  cirq/api/google/v2/run_context_pb2.pyi
  cirq/google/api/v1/BUILD
  cirq/google/api/v2/BUILD
  cirq/google/arg_func_langs.py
  cirq/google/arg_func_langs_test.py
  cirq/google/engine/engine_test.py
  dev_tools/build-protos.sh
  setup.py
Labels: cla: yes

#2680 Add gate duration for xyz gate
  cirq/google/devices/known_devices.py
Labels: cla: yes

#2681 Make grid_qubits addable
  cirq/devices/grid_qubit.py
  cirq/devices/grid_qubit_test.py
Labels: cla: yes

#2682 Better decomposition of SWAP into ISWAP ** 0.5
  cirq/google/optimizers/convert_to_sqrt_iswap.py
  cirq/google/optimizers/convert_to_sqrt_iswap_test.py
Labels: cla: yes

#2665 Create __add__ method for Moment
  cirq/ops/moment.py
  cirq/ops/moment_test.py
Labels: automerge, cla: yes

#2686 Update master to 0.8.0.dev
  cirq/_version.py
Labels: cla: yes

#2687 V0.7.0 dev
  .travis.yml
  cirq/google/optimizers/convert_to_sqrt_iswap.py
  cirq/google/optimizers/convert_to_sqrt_iswap_test.py
  cirq/ops/moment.py
  cirq/ops/moment_test.py
  cirq/protocols/json_test_data/__init__.py
  setup.py
Labels: cla: yes

#2688 Add json_test_data to cirq package
  cirq/protocols/json_test_data/__init__.py
  setup.py
Labels: cla: yes

#2689 Add versioned branches to the travis file
  .travis.yml
Labels: cla: yes

#2693 Remove pip upgrade on Windows check in Travis
  .travis.yml
Labels: cla: yes

#2694 Update osx check from 3.6 to 3.7
  .travis.yml
Labels: cla: yes

#2523 DFE with physical simulations
  examples/direct_fidelity_estimation.py
  examples/direct_fidelity_estimation_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2659 Polish commutes protocol
  cirq/__init__.py
  cirq/_doc.py
  cirq/linalg/__init__.py
  cirq/linalg/diagonalize.py
  cirq/linalg/predicates.py
  cirq/linalg/predicates_test.py
  cirq/ops/clifford_gate.py
  cirq/ops/common_gates.py
  cirq/ops/dense_pauli_string.py
  cirq/ops/gate_operation.py
  cirq/ops/pauli_gates.py
  cirq/ops/pauli_string.py
  cirq/ops/raw_types.py
  cirq/protocols/__init__.py
  cirq/protocols/commutes.py
  cirq/protocols/commutes_protocol.py
  cirq/protocols/commutes_protocol_test.py
  cirq/protocols/equal_up_to_global_phase_protocol.py
  cirq/protocols/has_unitary_protocol.py
  cirq/protocols/measurement_key_protocol.py
  cirq/protocols/mixture_protocol.py
  cirq/protocols/pauli_expansion_protocol.py
  cirq/protocols/phase_protocol.py
  cirq/protocols/qasm.py
  cirq/protocols/qid_shape_protocol.py
  cirq/protocols/resolve_parameters.py
  cirq/protocols/trace_distance_bound.py
  cirq/protocols/unitary_protocol.py
  cirq/protocols/unitary_protocol_test.py
  docs/_templates/autosummary/class.rst
  docs/api.rst
  docs/conf.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2658 Fix deprecation warnings coming from tests
  cirq/ion/ion_gates_test.py
  cirq/ops/common_gates_test.py
  cirq/ops/swap_gates_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2600 Add CliffordSimulator to cirq.Sample
  cirq/sim/clifford/clifford_simulator.py
  cirq/sim/clifford/clifford_simulator_test.py
  cirq/sim/density_matrix_simulator.py
  cirq/sim/density_matrix_simulator_test.py
  cirq/sim/mux.py
  cirq/sim/sparse_simulator.py
  cirq/sim/sparse_simulator_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2699 Make n-qubit tomography code available under cirq.experiments
  cirq/experiments/__init__.py
  cirq/experiments/n_qubit_tomography.py
  cirq/experiments/n_qubit_tomography_test.py
  docs/api.rst
Labels: cla: yes

#2700 Fix occasional bug in gate_product_tabulation
  cirq/google/optimizers/two_qubit_gates/gate_compilation.py
  cirq/google/optimizers/two_qubit_gates/gate_compilation_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2697 Plumb gate tabulation through optimized_for_sycamore
  cirq/google/optimizers/__init__.py
  cirq/google/optimizers/optimize_for_sycamore.py
  cirq/google/optimizers/optimize_for_sycamore_test.py
  cirq/google/optimizers/optimize_for_xmon.py
  cirq/google/optimizers/two_qubit_gates/__init__.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2707 removing deprecated functions with v0.7 deadline
  cirq/ops/clifford_gate.py
  cirq/ops/pauli_gates.py
  cirq/ops/pauli_string.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2708 Fix special new line characters in a file
  cirq/protocols/equal_up_to_global_phase_protocol.py
Labels: cla: yes

#2713 Convert documentation in docs/ to jupyter notebooks (new PR)
  docs/notebooks/circuits.ipynb
  docs/notebooks/gates.ipynb
  docs/notebooks/noise.ipynb
  docs/notebooks/qudits.ipynb
  docs/notebooks/simulation.ipynb
  docs/notebooks/tutorial.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge

#2714 Fix slow tests
  cirq/contrib/acquaintance/executor_test.py
  cirq/contrib/acquaintance/inspection_utils_test.py
  cirq/contrib/acquaintance/strategies/cubic_test.py
  cirq/contrib/quantum_volume/quantum_volume_test.py
  cirq/contrib/routing/router_test.py
  cirq/experiments/cross_entropy_benchmarking_test.py
  cirq/experiments/n_qubit_tomography_test.py
  cirq/experiments/qubit_characterizations_test.py
  cirq/google/optimizers/convert_to_sqrt_iswap_test.py
  cirq/google/optimizers/optimize_for_sycamore_test.py
  cirq/google/optimizers/optimize_for_xmon_test.py
  cirq/ops/clifford_gate_test.py
  cirq/ops/pauli_interaction_gate_test.py
  cirq/ops/pauli_string_test.py
  cirq/ops/phased_iswap_gate_test.py
  cirq/sim/clifford/clifford_simulator.py
  cirq/sim/clifford/clifford_simulator_test.py
  cirq/testing/consistent_protocols.py
  cirq/testing/random_circuit_test.py
  examples/advanced/quantum_volume.py
  examples/advanced/quantum_volume_test.py
  examples/examples_test.py
  examples/qubit_characterizations_example.py
Labels: cla: yes

#2718 Unpin networkx
  requirements.txt
Labels: cla: yes

#2703 Use captions in TOC
  docs/Makefile
  docs/index.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#2487 Add cirq.final_density_matrix utility method
  cirq/__init__.py
  cirq/protocols/json_serialization_test.py
  cirq/sim/__init__.py
  cirq/sim/density_matrix_simulator.py
  cirq/sim/density_matrix_simulator_test.py
  cirq/sim/mux.py
  cirq/sim/mux_test.py
  docs/api.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#2724 Pin pandas
  requirements.txt
Labels: cla: yes

#2721 requirements: remove sympy pin
  requirements.txt
Labels: automerge, cla: yes, front_of_queue_automerge

#2722 Draw ket labels for both real and imaginary parts of density matrix
  cirq/experiments/qubit_characterizations.py
Labels: cla: yes

#2597 Add more specialized controlled implementations
  cirq/ops/common_gates.py
  cirq/ops/common_gates_test.py
Labels: Ready for Re-Review, cla: yes
