Repository quantumlib/Cirq, pull requests merged in 2020-06, with the labels that each got.

#3038 Adds pylint on only changed files.
  .github/workflows/ci.yml
  check/all
  check/pylint
  check/pylint-changed-files
  dev_tools/bash_scripts_test.py
Labels: cla: yes

#3065 Add .gitattributes file to hide proto generated code in PRs
  .gitattributes
Labels: cla: yes

#3066 Use FromString classmethod for protos
  cirq/google/engine/engine_job.py
  cirq/google/engine/engine_processor.py
  cirq/google/engine/engine_program.py
Labels: cla: yes

#3070 Add missing methods to cirq namespace
  cirq/__init__.py
  docs/api.rst
Labels: cla: yes

#3064 Add Batched requests to Google's cirq messages
  cirq/google/api/v1/operations_pb2.py
  cirq/google/api/v1/params_pb2.py
  cirq/google/api/v1/program_pb2.py
  cirq/google/api/v2/BUILD
  cirq/google/api/v2/batch.proto
  cirq/google/api/v2/device_pb2.py
  cirq/google/api/v2/metrics_pb2.py
  cirq/google/api/v2/program_pb2.py
  cirq/google/api/v2/result_pb2.py
  cirq/google/api/v2/run_context_pb2.py
Labels: cla: yes

#3015 Disentangle MS gate and XXPowGate.
  cirq/ion/ion_gates.py
  cirq/ion/ion_gates_test.py
  cirq/ops/parity_gates.py
  cirq/ops/parity_gates_test.py
Labels: automerge, cla: yes

#3036 Fix IdentityGate.on_each failing when given a qubit that is iterable
  cirq/ops/identity.py
  cirq/ops/identity_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3075 Add Circuit.zip method
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3082 Fix build-doc github action failure
  docs/api.rst
  docs/docs_coverage_test.py
Labels: cla: yes

#3072 Make LinearDict json serializable
  cirq/protocols/json_serialization.py
  cirq/protocols/json_serialization_test.py
  cirq/protocols/json_test_data/LinearDict.json
  cirq/protocols/json_test_data/LinearDict.repr
  cirq/value/linear_dict.py
  cirq/value/linear_dict_test.py
Labels: cla: yes

#3054 Support multi-qubit measurement in plot_state_histogram
  cirq/study/visualize.py
  cirq/study/visualize_test.py
Labels: cla: yes

#3086 Add generated code for batch.proto
  cirq/google/api/v2/batch_pb2.py
  cirq/google/api/v2/batch_pb2.pyi
Labels: cla: yes

#3084 Fix flakes in random_circuit_test
  cirq/testing/random_circuit.py
  cirq/testing/random_circuit_test.py
Labels: cla: yes

#3077 Fix Quirk import extra gates bug
  cirq/interop/quirk/url_to_circuit.py
  cirq/interop/quirk/url_to_circuit_test.py
Labels: cla: yes

#3089 Added api docs gen (copy from TFQ).
  cirq/contrib/svg/svg.py
  cirq/contrib/svg/svg_test.py
  cirq/google/api/v2/batch_pb2.py
  cirq/google/api/v2/batch_pb2.pyi
  cirq/study/visualize.py
  cirq/study/visualize_test.py
  cirq/testing/random_circuit.py
  cirq/testing/random_circuit_test.py
  dev_tools/docs/build_api_docs.py
Labels: cla: yes

#3090 Api builds
  dev_tools/docs/build_api_docs.py
Labels: automerge, cla: yes

#3092 Add all symbols link for API reference
  docs/_book.yaml
Labels: cla: yes

#3094 Add _circuit_diagram_info_ to cirq.PauliString
  cirq/ops/pauli_string.py
  cirq/ops/pauli_string_test.py
  cirq/protocols/circuit_diagram_info_protocol.py
  cirq/protocols/circuit_diagram_info_protocol_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3093 Fix cirq.Simulator assuming a reset is safe to cache before sampling
  cirq/sim/simulator.py
  cirq/sim/sparse_simulator.py
  cirq/sim/sparse_simulator_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3095 Fix split_into_unitary_then_general not spreading blocks across operation
  cirq/sim/sparse_simulator.py
  cirq/sim/sparse_simulator_test.py
Labels: automerge, cla: yes, front_of_queue_automerge, priority: URGENT BLOCKING

#3096 Implement unitary protocol for linear combinations
  cirq/ops/linear_combinations.py
  cirq/ops/linear_combinations_test.py
  cirq/ops/pauli_string.py
  cirq/ops/pauli_string_test.py
Labels: cla: yes

#3106 Reduce numpy version
  requirements.txt
Labels: cla: yes

#3102 Expose methods in contrib.noise_models
  cirq/contrib/noise_models/__init__.py
Labels: cla: yes

#3108 Preserve external simulator recommendations.
  docs/simulation.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge

#3112 Change Operation.with_qubits return type to match self type
  cirq/ops/arithmetic_operation.py
  cirq/ops/gate_operation.py
  cirq/ops/raw_types.py
  examples/shor.py
Labels: cla: yes

#3109 Defensively copy density matrices in simulator
  cirq/qis/states.py
  cirq/sim/density_matrix_simulator.py
  cirq/sim/density_matrix_simulator_test.py
Labels: cla: yes
