Repository quantumlib/Cirq, pull requests merged in 2020-10, with the labels that each got.

#3376 Fixing sympy imports
  cirq/study/resolver.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3377 Fix np.pad issue in numpy 1.16
  cirq/experiments/grid_parallel_two_qubit_xeb.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3378 Fix quimb version checking
  cirq/contrib/quimb/state_vector.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3379 Bump master version to 0.10.0.dev
  cirq/_version.py
Labels: cla: yes

#3381 Fix TrialResult deprecation
  cirq/_compat.py
  cirq/_compat_test.py
  cirq/protocols/json_serialization.py
  cirq/protocols/json_test_data/TrialResult.json
  cirq/protocols/json_test_data/TrialResult.repr
  cirq/study/result.py
  cirq/study/result_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3382 Fix TrialResult deprecation
  cirq/_compat.py
  cirq/_compat_test.py
  cirq/protocols/json_serialization.py
  cirq/protocols/json_test_data/TrialResult.json
  cirq/protocols/json_test_data/TrialResult.repr
  cirq/study/result.py
  cirq/study/result_test.py
Labels: cla: yes

#3383 remove accidental print
  cirq/_compat.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3384 remove accidental print
  cirq/_compat.py
Labels: cla: yes

#3385 Fix duration documentation for Physical Z
  cirq/experiments/cross_entropy_benchmarking.py
  cirq/ops/common_channels.py
  docs/google/devices.md
Labels: cla: yes

#3387 upgrade to pylint 2.6
  check/pylint-changed-files
  cirq/google/engine/engine.py
  cirq/sim/clifford/stabilizer_sampler_test.py
  dev_tools/bash_scripts_test.py
  dev_tools/conf/.pylintrc
  dev_tools/conf/pip-list-dev-tools.txt
Labels: automerge, cla: yes, front_of_queue_automerge

#3389 Adds the stale issue Github Actions workflow
  .github/workflows/stale.yml
Labels: automerge, cla: yes, front_of_queue_automerge

#3398 Add mock to env_config_test
  cirq/google/engine/env_config_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3393 Docs frontmatter and some cleanup
  .github/workflows/ci.yml
  check/nbformat
  docs/_book.yaml
  docs/circuits.ipynb
  docs/gates.ipynb
  docs/google/concepts.ipynb
  docs/images/pasqal/Cirq_pasqal.png
  docs/images/pasqal/Grover_circuit.png
  docs/images/pasqal/eiffel_tower.png
  docs/images/pasqal/grid_atoms.png
  docs/images/pasqal/r_radius.001.png
  docs/interop.ipynb
  docs/noise.ipynb
  docs/pasqal/getting_started.ipynb
  docs/qudits.ipynb
  docs/simulation.ipynb
  docs/tutorials/QAOA_Demo.ipynb
  docs/tutorials/Quantum_Walk.ipynb
  docs/tutorials/Rabi_Demo.ipynb
  docs/tutorials/basics.ipynb
  docs/tutorials/google/colab.ipynb
  docs/tutorials/google/reservations.ipynb
  docs/tutorials/google/start.ipynb
  docs/tutorials/hidden_linear_function.ipynb
  docs/tutorials/quantum_chess.ipynb
  docs/tutorials/variational_algorithm.ipynb
  rtd_docs/conf.py
  rtd_docs/index.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#3396 fixing stale issue action
  .github/workflows/stale.yml
Labels: automerge, cla: yes, front_of_queue_automerge

#3400 fix protobuf serialization test issue
  cirq/google/arg_func_langs_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3392 adds zenodo config
  .zenodo.json
  README.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#3401 Remove unnecessary conditional
  cirq/qis/states.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3404 strip license info for RTD pages
  rtd_docs/conf.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3405 fix readme
  README.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#3395 Add optional arguments to calibration API
  cirq/google/api/v2/calibration.proto
  cirq/google/api/v2/calibration_pb2.py
  cirq/google/api/v2/calibration_pb2.pyi
Labels: cla: yes

#3410 Add SerializableGateSet.is_supported
  cirq/google/serializable_gate_set.py
  cirq/google/serializable_gate_set_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3414 Update single-qubit cliffords to fix XZ decomposition.
  cirq/experiments/qubit_characterizations.py
  cirq/experiments/qubit_characterizations_test.py
Labels: cla: yes

#3403 Add Moment.to_text_diagram
  cirq/circuits/circuit.py
  cirq/devices/grid_qubit.py
  cirq/devices/grid_qubit_test.py
  cirq/devices/line_qubit.py
  cirq/devices/line_qubit_test.py
  cirq/ops/moment.py
  cirq/ops/moment_test.py
  cirq/ops/raw_types_test.py
  cirq/protocols/circuit_diagram_info_protocol.py
  cirq/testing/circuit_compare.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3417 Verify that Cliffords fix Pauli group
  cirq/experiments/qubit_characterizations_test.py
Labels: cla: yes

#3418 Adding citation doc for devsite
  docs/citation.md
  rtd_docs/conf.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3416 New left nav for devsite
  docs/_book.yaml
  docs/circuits.ipynb
  docs/citation.md
  docs/dev/development.md
  docs/dev/gates.md
  docs/dev/plotting.md
  docs/dev/serialization.md
  docs/gates.ipynb
  docs/google/best_practices.md
  docs/google/calibration.md
  docs/google/devices.md
  docs/google/engine.md
  docs/google/specification.md
  docs/install.md
  docs/interop.ipynb
  docs/noise.ipynb
  docs/qudits.ipynb
  docs/simulation.ipynb
  docs/tutorials/examples.md
  docs/tutorials/qaoa.ipynb
  docs/tutorials/quantum_walks.ipynb
  docs/tutorials/rabi_oscillations.ipynb
  rtd_docs/index.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#3422 Add access and authentication page for Google doc
  docs/_book.yaml
  docs/google/access.md
  rtd_docs/index.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#3423 Add CalibrationTag
  cirq/google/__init__.py
  cirq/google/ops/__init__.py
  cirq/google/ops/calibration_tag.py
  cirq/google/ops/calibration_tag_test.py
  cirq/protocols/json_serialization.py
  cirq/protocols/json_test_data/CalibrationTag.json
  cirq/protocols/json_test_data/CalibrationTag.repr
  rtd_docs/api.rst
Labels: cla: yes

#3371 Observable Measurement - 1 - Settings
  cirq/protocols/json_serialization.py
  cirq/protocols/json_serialization_test.py
  cirq/protocols/json_test_data/InitObsSetting.json
  cirq/protocols/json_test_data/InitObsSetting.repr
  cirq/protocols/json_test_data/_MeasurementSpec.json
  cirq/protocols/json_test_data/_MeasurementSpec.repr
  cirq/value/product_state.py
  cirq/work/__init__.py
  cirq/work/observable_settings.py
  cirq/work/observable_settings_test.py
Labels: area/expectation-value, automerge, cla: yes, front_of_queue_automerge

#3407 Fix all latex expressions without enclosing $ signs
  cirq/experiments/qubit_characterizations.py
  cirq/google/optimizers/two_qubit_gates/gate_compilation.py
  cirq/google/optimizers/two_qubit_gates/math_utils.py
  cirq/linalg/decompositions_test.py
  cirq/linalg/transformations.py
  cirq/ops/common_channels.py
  cirq/ops/parity_gates.py
  cirq/protocols/channel.py
  cirq/protocols/measurement_key_protocol.py
  examples/bcs_mean_field.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3420 AQT doc devices and getting started tutorial
  docs/_book.yaml
  docs/aqt/access.md
  docs/tutorials/aqt/getting_started.ipynb
  rtd_docs/index.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#3425 Update README.rst
  README.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#3426 Dedup noise doc
  docs/noise.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge

#3424 fix AQT access & authentication nav
  docs/_book.yaml
  docs/aqt/access.md
Labels: automerge, cla: yes, front_of_queue_automerge

#3430 Removing Quantum chess tutorial from cirq
  docs/images/qc_blocked_king.png
  docs/images/qc_exclusion_move.png
  docs/images/qc_qking_moves.png
  docs/images/qc_slide_move.png
  docs/images/qc_split_move1.png
  docs/images/qc_standard_move.png
  docs/tutorials/quantum_chess.ipynb
  rtd_docs/index.rst
Labels: cla: yes

#3372 Observable Measurement - 2 - Grouping
  cirq/ops/pauli_string.py
  cirq/ops/pauli_string_test.py
  cirq/work/__init__.py
  cirq/work/observable_grouping.py
  cirq/work/observable_grouping_test.py
Labels: area/expectation-value, automerge, cla: yes, front_of_queue_automerge

#3432 Address doc-cleanup items
  docs/noise.ipynb
  docs/simulation.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge

#3435 Fix engine processor test
  cirq/google/engine/engine_processor_test.py
Labels: cla: yes

#3437 Docs nav fixes
  docs/_book.yaml
Labels: automerge, cla: yes, front_of_queue_automerge

#3436 Fix typos in quantum computing service start guide
  docs/tutorials/google/start.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge

#3434 fix some cirq.google missing coverage issues
  cirq/google/api/v2/program.py
  cirq/google/arg_func_langs.py
  cirq/google/line/placement/line_test.py
  dev_tools/incremental_coverage.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3431 Standardize notebook pip installs
  cirq/contrib/quimb/Cirq-to-Tensor-Networks.ipynb
  cirq/contrib/quimb/Contract-a-Grid-Circuit.ipynb
  cirq/contrib/svg/example.ipynb
  docs/circuits.ipynb
  docs/gates.ipynb
  docs/google/concepts.ipynb
  docs/interop.ipynb
  docs/pasqal/getting_started.ipynb
  docs/qudits.ipynb
  docs/simulation.ipynb
  docs/tutorials/aqt/getting_started.ipynb
  docs/tutorials/basics.ipynb
  docs/tutorials/google/colab.ipynb
  docs/tutorials/google/reservations.ipynb
  docs/tutorials/google/start.ipynb
  docs/tutorials/hidden_linear_function.ipynb
  docs/tutorials/qaoa.ipynb
  docs/tutorials/quantum_walks.ipynb
  docs/tutorials/rabi_oscillations.ipynb
  docs/tutorials/variational_algorithm.ipynb
  examples/advanced/quantum_volume.ipynb
  examples/advanced/quantum_volume_errors.ipynb
  examples/advanced/quantum_volume_routing.ipynb
  examples/direct_fidelity_estimation.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge

#3440 Document private protocol methods for devsite
  .gitignore
  check/nbformat
  cirq/_doc.py
  cirq/experiments/qubit_characterizations.py
  cirq/protocols/act_on_protocol.py
  cirq/protocols/apply_channel_protocol.py
  cirq/protocols/apply_mixture_protocol.py
  cirq/protocols/apply_unitary_protocol.py
  cirq/protocols/approximate_equality_protocol.py
  cirq/protocols/channel.py
  cirq/protocols/circuit_diagram_info_protocol.py
  cirq/protocols/commutes_protocol.py
  cirq/protocols/decompose_protocol.py
  cirq/protocols/equal_up_to_global_phase_protocol.py
  cirq/protocols/has_unitary_protocol.py
  cirq/protocols/json_serialization.py
  cirq/protocols/measurement_key_protocol.py
  cirq/protocols/mixture_protocol.py
  cirq/protocols/pauli_expansion_protocol.py
  cirq/protocols/phase_protocol.py
  cirq/protocols/qasm.py
  cirq/protocols/qid_shape_protocol.py
  cirq/protocols/resolve_parameters.py
  cirq/protocols/trace_distance_bound.py
  cirq/protocols/unitary_protocol.py
  dev_tools/docs/Dockerfile
Labels: automerge, cla: yes, front_of_queue_automerge, had-to-fight-with-the-linter

#3351 Extend cirq.vis.Heatmap to visualize two-qubit interactions
  cirq/__init__.py
  cirq/protocols/json_serialization_test.py
  cirq/vis/__init__.py
  cirq/vis/heatmap.py
  cirq/vis/heatmap_test.py
  examples/bristlecone_heatmap_example.png
  examples/bristlecone_heatmap_example.py
  examples/examples_test.py
  examples/heatmap_example.py
  examples/qubitinteraction_heatmap_example.png
  rtd_docs/api.rst
Labels: cla: yes

#3439 Replace `Study` with `sweep` in docs
  docs/simulation.ipynb
Labels: cla: yes

#3203 Support ActOnStabilizerCHFormArgs in the common gates and testing
  cirq/ops/common_gates.py
  cirq/ops/common_gates_test.py
  cirq/ops/measurement_gate_test.py
  cirq/sim/clifford/act_on_stabilizer_ch_form_args.py
  cirq/sim/clifford/act_on_stabilizer_ch_form_args_test.py
  cirq/testing/__init__.py
  cirq/testing/consistent_act_on.py
  cirq/testing/consistent_act_on_test.py
  cirq/testing/consistent_protocols.py
  rtd_docs/api.rst
Labels: cla: yes

#3448 Add _act_on_ for StabilizerStateChForm to GlobalPhaseOp
  cirq/ops/global_phase_op.py
  cirq/ops/global_phase_op_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3451 Fix StabilizerStateChForm omega data type
  cirq/ops/common_gates.py
  cirq/sim/clifford/stabilizer_state_ch_form.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3442 Adds guide on custom gates.
  docs/_book.yaml
  docs/custom_gates.ipynb
  docs/gates.ipynb
  rtd_docs/index.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#3453 Make args_from_proto public
  cirq/google/__init__.py
  cirq/google/arg_func_langs.py
  cirq/google/arg_func_langs_test.py
  cirq/google/op_deserializer.py
  rtd_docs/api.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#3446 Document Cirq ecosystem
  docs/ecosystem.md
  docs/images/ecosystem.png
  rtd_docs/index.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#3458 Fix Tableau act_on for GlobalPhaseOp
  cirq/ops/global_phase_op.py
  cirq/ops/global_phase_op_test.py
  python
Labels: automerge, cla: yes, front_of_queue_automerge

#3449 First steps docs
  docs/_book.yaml
  docs/install.md
  docs/start.md
  docs/tutorials/pasqal/getting_started.ipynb
  rtd_docs/index.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#3457 Polish QAOA tutorial
  docs/tutorials/qaoa.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge

#3460 Fix equation rendering in custom gates guide
  docs/custom_gates.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge, kind/docs

#3450 Add ion device tutorial.
  docs/_book.yaml
  docs/tutorials/ion_device.ipynb
  rtd_docs/index.rst
Labels: automerge, cla: yes, front_of_queue_automerge, kind/docs

#3455 mention hardware/simulation options in Devices page
  docs/devices.md
Labels: automerge, cla: yes, front_of_queue_automerge, kind/docs

#3462 adds circuit transformations page
  docs/_book.yaml
  docs/circuits.ipynb
  docs/transform.ipynb
  rtd_docs/index.rst
Labels: automerge, cla: yes, front_of_queue_automerge, kind/docs

#3463 Qubits docs
  docs/_book.yaml
  docs/gates.ipynb
  docs/qubits.ipynb
  rtd_docs/index.rst
Labels: automerge, cla: yes, front_of_queue_automerge, kind/docs

#3461 placeholder for protocols docs
  docs/_book.yaml
  docs/protocols.ipynb
  rtd_docs/index.rst
Labels: automerge, cla: yes, front_of_queue_automerge, kind/docs

#3456 Move to method dispatch using act_on for CliffordState, Tableau and ChForm
  cirq/sim/clifford/__init__.py
  cirq/sim/clifford/clifford_simulator.py
  cirq/sim/clifford/clifford_tableau.py
  cirq/sim/clifford/stabilizer_state_ch_form.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3464 Add educators workshop heading and contents
  docs/_book.yaml
  docs/tutorials/educators/chemistry.ipynb
  docs/tutorials/educators/intro.ipynb
  docs/tutorials/educators/ion_device.ipynb
  docs/tutorials/educators/neutral_atom.ipynb
  docs/tutorials/educators/qaoa_ising.ipynb
  docs/tutorials/educators/textbook_algorithms.ipynb
  rtd_docs/conf.py
  rtd_docs/index.rst
Labels: automerge, cla: yes, front_of_queue_automerge, had-to-fight-with-the-linter, kind/docs

#3467 Update basics.ipynb
  docs/tutorials/basics.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge

#3466 Pasqal access file
  docs/_book.yaml
  docs/pasqal/access.md
  rtd_docs/index.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#3465 fix educators links in book.yaml
  docs/_book.yaml
Labels: automerge, cla: yes, front_of_queue_automerge, kind/docs

#3468 Fix typo in custom gates guide
  docs/custom_gates.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge

#3469 Restructure tutorials into beginner, intermediate, and advanced sections
  docs/_book.yaml
  docs/tutorials/basics.ipynb
  docs/tutorials/index.md
  docs/tutorials/qaoa.ipynb
  docs/tutorials/shor.ipynb
  docs/tutorials/variational_algorithm.ipynb
  rtd_docs/index.rst
Labels: automerge, cla: yes, front_of_queue_automerge, kind/docs

#3470 Delete docs _index.yaml file.
  docs/_index.yaml
Labels: automerge, cla: yes, front_of_queue_automerge
