Repository quantumlib/Cirq, pull requests merged in 2020-05, with the labels that each got.

#2950 Accept empty list of whitelisted_users when updating reservations.
  cirq/google/engine/engine_client.py
  cirq/google/engine/engine_client_test.py
Labels: cla: yes

#2952 Update xmon gate times
  cirq/google/devices/known_devices.py
  cirq/google/devices/known_devices_test.py
  cirq/google/devices/serializable_device_test.py
Labels: cla: yes

#2954 Add get_device for engine_processor
  cirq/google/engine/engine_processor.py
  cirq/google/engine/engine_processor_test.py
  docs/google/devices.md
  docs/google/specification.md
Labels: cla: yes

#2965 Bump version of master to 0.9.0.dev
  cirq/_version.py
Labels: cla: yes

#2960 Fix Problem with Y gates in Clifford Simulator
  cirq/sim/clifford/clifford_simulator_test.py
  cirq/sim/clifford/clifford_tableau.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2971 Cleanup TODOs and corresponding Github issues
  cirq/aqt/aqt_device.py
  cirq/aqt/aqt_sampler.py
  cirq/contrib/paulistring/clifford_optimize.py
  cirq/contrib/quantum_volume/quantum_volume.py
  cirq/devices/noise_model.py
  cirq/google/devices/known_devices.py
  cirq/google/devices/serializable_device.py
  cirq/google/engine/calibration.py
  cirq/google/line/placement/anneal.py
  cirq/google/optimizers/convert_to_sqrt_iswap.py
  cirq/ops/moment.py
  cirq/protocols/json_serialization.py
  cirq/protocols/json_serialization_test.py
  cirq/sim/density_matrix_simulator.py
  cirq/sim/sparse_simulator.py
  cirq/vis/heatmap_test.py
  dev_tools/incremental_coverage.py
  examples/direct_fidelity_estimation.py
  examples/hhl.py
Labels: cla: yes

#2976 Update asteroid version
  cirq/linalg/transformations_test.py
  cirq/protocols/inverse_protocol.py
  cirq/sim/density_matrix_utils_test.py
  dev_tools/conf/pip-list-dev-tools.txt
Labels: automerge, cla: yes, front_of_queue_automerge

#2980 Pipe seed into quantum teleportation example
  examples/examples_test.py
  examples/quantum_teleportation.py
Labels: cla: yes

#2974 Update protobuf version
  requirements.txt
Labels: cla: yes

#2955 Decompose cphase to two fSim gates
  cirq/__init__.py
  cirq/optimizers/__init__.py
  cirq/optimizers/cphase_to_fsim.py
  cirq/optimizers/cphase_to_fsim_test.py
  docs/api.rst
Labels: Ready for Re-Review, cla: yes

#2945 Make circuit rendering of swap-like gates consistent
  cirq/contrib/qcircuit/qcircuit_diagram_info_test.py
  cirq/ops/fsim_gate.py
  cirq/ops/fsim_gate_test.py
  cirq/ops/swap_gates.py
  cirq/ops/swap_gates_test.py
Labels: Ready for Re-Review, cla: yes

#2987 Clear plot state in `nx_qubit_layout()` to prevent issues with pyplot dimensionality to fix Doctest issue.
  cirq/contrib/routing/device.py
Labels: cla: yes

#2891 Add TwoQubitDiagonalGate
  cirq/__init__.py
  cirq/ops/__init__.py
  cirq/ops/two_qubit_diagonal_gate.py
  cirq/ops/two_qubit_diagonal_gate_test.py
  cirq/protocols/json_serialization.py
  cirq/protocols/json_serialization_test.py
  docs/api.rst
Labels: cla: yes

#2903 First iteration of the outputting to Quil.
  cirq/__init__.py
  cirq/circuits/__init__.py
  cirq/circuits/circuit.py
  cirq/circuits/quil_output.py
  cirq/circuits/quil_output_test.py
  cirq/ops/common_gates.py
  cirq/ops/gate_operation.py
  cirq/ops/identity.py
  cirq/ops/measurement_gate.py
  cirq/ops/measurement_gate_test.py
  cirq/ops/parity_gates.py
  cirq/ops/swap_gates.py
  cirq/ops/three_qubit_gates.py
  cirq/ops/wait_gate.py
  cirq/protocols/__init__.py
  cirq/protocols/json_serialization_test.py
  cirq/protocols/quil.py
  docs/api.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#2986 Harden arg function serialization
  cirq/google/arg_func_langs.py
Labels: cla: yes

#2989 Fix PauliString exponentiation
  cirq/ops/pauli_string.py
  cirq/ops/pauli_string_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2994 Set __dict__ when wrapping module
  cirq/_compat.py
Labels: cla: yes

#2997 Add tests for module wrapping in _compat
  cirq/_compat.py
  cirq/_compat_test.py
Labels: cla: yes

#2996 Add timeout to engine object
  cirq/google/engine/engine.py
  cirq/google/engine/engine_job.py
  cirq/google/engine/engine_job_test.py
  cirq/google/engine/engine_test.py
Labels: cla: yes

#2992 Add the release procedure to the markdown file in cirq
  release.md
Labels: cla: yes

#2725 Initial T2 experiment
  cirq/experiments/__init__.py
  cirq/experiments/t2_decay_experiment.py
  cirq/experiments/t2_decay_experiment_test.py
  docs/api.rst
Labels: cla: yes

#2966 Enable serialization of non-GridQubits.
  cirq/google/api/v2/__init__.py
  cirq/google/api/v2/program.py
  cirq/google/api/v2/program_test.py
  cirq/google/op_deserializer.py
  cirq/google/op_serializer.py
  cirq/google/op_serializer_test.py
Labels: cla: yes

#2999 Fix some documentation for engine
  cirq/google/engine/engine.py
  docs/google/calibration.md
  docs/google/engine.md
  docs/google/specification.md
Labels: cla: yes

#2998 Update contributing markdown links
  CONTRIBUTING.md
  docs/dev/development.md
Labels: cla: yes

#3005 Fixes obvious typo
  docs/circuits.ipynb
Labels: cla: yes

#3008 Fix an equation which does not display correctly in nbsphinx.
  docs/tutorials/variational_algorithm.ipynb
Labels: cla: yes

#3007 [SVG Circuits] Give up gracefully on gates with big labels
  cirq/contrib/svg/svg.py
  cirq/contrib/svg/svg_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3014 Bump pytest-asyncio version to remove warning
  dev_tools/conf/pip-list-dev-tools.txt
Labels: cla: yes

#3013 No longer need to install asteroid in CI
  .github/workflows/ci.yml
Labels: cla: yes

#2944 Generalize `measurement_key` to `measurement_keys` protocol
  cirq/__init__.py
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
  cirq/ops/gate_operation.py
  cirq/protocols/__init__.py
  cirq/protocols/measurement_key_protocol.py
  cirq/protocols/measurement_key_protocol_test.py
  docs/api.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#3009 ContextManager for testing logs
  cirq/_compat_test.py
  cirq/linalg/states_test.py
  cirq/ops/moment.py
  cirq/ops/moment_test.py
  cirq/ops/parity_gates.py
  cirq/sim/density_matrix_utils_test.py
  cirq/sim/wave_function_test.py
  cirq/testing/__init__.py
  cirq/testing/logs.py
  cirq/testing/logs_test.py
  docs/api.rst
Labels: cla: yes

#3025 Fix local lint warnings in text_diagram_drawer.py
  cirq/circuits/text_diagram_drawer.py
Labels: automerge, cla: yes, front_of_queue_automerge

#2951 Add support for PhasedXZ in EjectZ optimizer
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
  cirq/ops/phased_x_z_gate.py
  cirq/optimizers/eject_z.py
  cirq/optimizers/eject_z_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3019 Add act_on protocol
  cirq/__init__.py
  cirq/ops/common_channels.py
  cirq/ops/common_channels_test.py
  cirq/ops/gate_operation.py
  cirq/ops/gate_operation_test.py
  cirq/ops/measurement_gate.py
  cirq/ops/measurement_gate_test.py
  cirq/protocols/__init__.py
  cirq/protocols/act_on_protocol.py
  cirq/protocols/act_on_protocol_test.py
  cirq/protocols/apply_unitary_protocol.py
  cirq/protocols/apply_unitary_protocol_test.py
  cirq/protocols/has_unitary_protocol.py
  cirq/protocols/has_unitary_protocol_test.py
  cirq/protocols/json_serialization_test.py
  cirq/protocols/measurement_key_protocol.py
  cirq/protocols/mixture_protocol.py
  cirq/protocols/mixture_protocol_test.py
  cirq/qis/states.py
  cirq/sim/__init__.py
  cirq/sim/act_on_state_vector_args.py
  cirq/sim/act_on_state_vector_args_test.py
  cirq/sim/clifford/clifford_simulator.py
  cirq/sim/simulator.py
  cirq/sim/sparse_simulator.py
  cirq/sim/sparse_simulator_test.py
  cirq/sim/wave_function.py
  docs/api.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#3024 Add `with_probability` modifier to Gate and Operation
  cirq/__init__.py
  cirq/ops/__init__.py
  cirq/ops/random_gate_channel.py
  cirq/ops/random_gate_channel_test.py
  cirq/ops/raw_types.py
  cirq/protocols/circuit_diagram_info_protocol.py
  cirq/protocols/json_serialization.py
  cirq/protocols/json_serialization_test.py
  cirq/protocols/json_test_data/RandomGateChannel.json
  cirq/protocols/json_test_data/RandomGateChannel.repr
  docs/api.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#3022 Deprecation: State_vector not wavefunction, wave_function, or state.
  cirq/__init__.py
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
  cirq/contrib/quantum_volume/quantum_volume.py
  cirq/experiments/cross_entropy_benchmarking.py
  cirq/experiments/fidelity_estimation.py
  cirq/experiments/fidelity_estimation_test.py
  cirq/interop/quirk/cells/arithmetic_cells_test.py
  cirq/interop/quirk/cells/testing.py
  cirq/linalg/__init__.py
  cirq/linalg/transformations.py
  cirq/linalg/transformations_test.py
  cirq/ops/arithmetic_operation_test.py
  cirq/ops/linear_combinations.py
  cirq/ops/linear_combinations_test.py
  cirq/ops/pauli_string.py
  cirq/ops/pauli_string_test.py
  cirq/protocols/apply_mixture_protocol.py
  cirq/protocols/apply_mixture_protocol_test.py
  cirq/protocols/json_serialization_test.py
  cirq/qis/__init__.py
  cirq/qis/states.py
  cirq/qis/states_test.py
  cirq/sim/__init__.py
  cirq/sim/clifford/clifford_simulator.py
  cirq/sim/clifford/clifford_simulator_test.py
  cirq/sim/clifford/clifford_tableau.py
  cirq/sim/clifford/stabilizer_state_ch_form.py
  cirq/sim/clifford/stabilizer_state_ch_form_test.py
  cirq/sim/density_matrix_simulator_test.py
  cirq/sim/mux.py
  cirq/sim/mux_test.py
  cirq/sim/simulator.py
  cirq/sim/sparse_simulator.py
  cirq/sim/sparse_simulator_test.py
  cirq/sim/state_vector.py
  cirq/sim/state_vector_simulator.py
  cirq/sim/state_vector_simulator_test.py
  cirq/sim/state_vector_test.py
  cirq/sim/wave_function_simulator_test.py
  dev_tools/profiling/benchmark_simulators.py
  docs/api.rst
  docs/dev/index.rst
  docs/dev/nomenclature.md
  docs/tutorials/Rabi_Demo.ipynb
  examples/bcs_mean_field.py
  examples/direct_fidelity_estimation.py
  examples/quantum_fourier_transform.py
  examples/quantum_teleportation.py
  style.md
Labels: cla: yes

#3030 Fix Gate.on_each failing when a Qid class has an __iter__ method
  cirq/ops/gate_features.py
  cirq/ops/gate_features_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3029 Updates random_circuit for single qubit circuits
  cirq/testing/random_circuit.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3026 Deprecate mixture_channel in favor of just mixture
  cirq/ops/common_channels_test.py
  cirq/ops/gate_operation_test.py
  cirq/protocols/channel.py
  cirq/protocols/mixture_protocol.py
  cirq/protocols/mixture_protocol_test.py
  cirq/sim/sparse_simulator.py
  docs/noise.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge

#3012 Add increment proto build and use in CI
  .github/workflows/ci.yml
  check/build-changed-protos
  check/build-protos
  cirq/google/api/v1/BUILD
Labels: cla: yes

#3039 Deprecate QFT to qft
  cirq/__init__.py
  cirq/interop/quirk/cells/frequency_space_cells_test.py
  cirq/ops/__init__.py
  cirq/ops/fourier_transform.py
  cirq/ops/fourier_transform_test.py
  cirq/sim/mux.py
  docs/api.rst
  examples/hhl.py
  examples/phase_estimator.py
  examples/shor.py
Labels: cla: yes

#3042 Add _mixture_ support to Controlled{Operation,Gate}
  cirq/ops/controlled_gate.py
  cirq/ops/controlled_gate_test.py
  cirq/ops/controlled_operation.py
  cirq/ops/controlled_operation_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3043 Add support for monte carlo channel simulation (quantum trajectories)
  cirq/linalg/transformations.py
  cirq/linalg/transformations_test.py
  cirq/sim/act_on_state_vector_args.py
  cirq/sim/act_on_state_vector_args_test.py
  cirq/sim/simulator_test.py
  cirq/sim/sparse_simulator.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3040 Heed deprecation notice for has_mixture_channel
  cirq/ops/random_gate_channel.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3037 Fix empty gate domain problem in random_circuit
  cirq/testing/__init__.py
  cirq/testing/random_circuit.py
  cirq/testing/random_circuit_test.py
  docs/api.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#3047 Add a docstring to testing default gate domain constant
  cirq/testing/random_circuit.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3048 Fix methods missing from doc strings
  docs/api.rst
  docs/conf.py
  docs/docs_coverage_test.py
Labels: cla: yes

#3051 Fix VirtualTag
  cirq/__init__.py
  cirq/ops/tags.py
  cirq/ops/tags_test.py
  cirq/protocols/json_serialization.py
  cirq/protocols/json_test_data/VirtualTag.json
  cirq/protocols/json_test_data/VirtualTag.repr
  docs/api.rst
Labels: cla: yes
