Repository quantumlib/Cirq, pull requests merged in 2021-11, with the labels that each got.

#4543 Add CODEOWNERS for rigetti
  .github/CODEOWNERS
Labels: cla: yes, Size: XS

#4599 [cirqflow] Execution Loop I/O
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/json_resolver_cache.py
  cirq-google/cirq_google/json_test_data/cirq.google.ExecutableGroupResultFilesystemRecord.json
  cirq-google/cirq_google/json_test_data/cirq.google.ExecutableGroupResultFilesystemRecord.repr
  cirq-google/cirq_google/json_test_data/spec.py
  cirq-google/cirq_google/workflow/__init__.py
  cirq-google/cirq_google/workflow/quantum_runtime.py
  cirq-google/cirq_google/workflow/quantum_runtime_test.py
Labels: cla: yes, automerge, front_of_queue_automerge, area/workflow, size: M

#4608 Remove EngineTimeSlot
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/engine/__init__.py
  cirq-google/cirq_google/engine/engine_processor.py
  cirq-google/cirq_google/engine/engine_timeslot.py
  cirq-google/cirq_google/engine/engine_timeslot_test.py
  cirq-google/cirq_google/json_test_data/spec.py
Labels: cla: yes, automerge, BREAKING CHANGE, front_of_queue_automerge, size: L

#4617 Implement PhasedXZGate._unitary_
  cirq-core/cirq/ops/phased_x_z_gate.py
  cirq-core/cirq/ops/phased_x_z_gate_test.py
Labels: cla: yes, size: S

#4622 Fix lint bugs with unused imports
  cirq-core/cirq/sim/act_on_density_matrix_args.py
  cirq-core/cirq/sim/act_on_state_vector_args.py
  cirq-core/cirq/sim/clifford/act_on_clifford_tableau_args.py
  cirq-core/cirq/sim/clifford/act_on_stabilizer_ch_form_args.py
Labels: cla: yes, Size: XS

#4535 Fix `SVGCircuit()` for `cirq.Circuit` with empty moments
  cirq-core/cirq/contrib/svg/svg.py
  cirq-core/cirq/contrib/svg/svg_test.py
Labels: cla: yes, size: S

#4621 _mixture_ not _matrix_ in noise notebook
  docs/noise.ipynb
Labels: cla: yes, Size: XS

#4609 Validating Sampler
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/engine/__init__.py
  cirq-google/cirq_google/engine/validating_sampler.py
  cirq-google/cirq_google/engine/validating_sampler_test.py
  cirq-google/cirq_google/json_test_data/spec.py
Labels: cla: yes, size: M

#4610 Add control_keys protocol (simplified)
  cirq-core/cirq/__init__.py
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_test.py
  cirq-core/cirq/protocols/__init__.py
  cirq-core/cirq/protocols/control_key_protocol.py
  cirq-core/cirq/protocols/control_key_protocol_test.py
  cirq-core/cirq/protocols/json_test_data/spec.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: M

#4625 pylint - enforce singleton-comparison check
  cirq-core/cirq/_compat_test.py
  cirq-core/cirq/circuits/qasm_output.py
  cirq-core/cirq/contrib/graph_device/uniform_graph_device_test.py
  cirq-core/cirq/ion/ion_gates_test.py
  cirq-core/cirq/ops/measurement_gate_test.py
  cirq-core/cirq/protocols/apply_channel_protocol.py
  cirq-core/cirq/protocols/apply_mixture_protocol.py
  cirq-core/cirq/protocols/phase_protocol_test.py
  cirq-core/cirq/qis/clifford_tableau_test.py
  cirq-google/cirq_google/engine/engine_client.py
  cirq-google/cirq_google/engine/engine_client_test.py
  cirq-ionq/cirq_ionq/ionq_client_test.py
  dev_tools/conf/.pylintrc
  dev_tools/snippets_test.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: S

#4629 Pass shell script arguments without splitting
  check/all
  check/asv_run
  check/doctest
  check/format-incremental
  check/mypy
  check/nbformat
  check/npm
  check/npx
  check/pylint
  check/pytest
  check/ts-build
  check/ts-coverage
  check/ts-lint
  check/ts-lint-and-format
  check/ts-test
  check/ts-test-e2e
  dev_tools/pr_monitor.sh
Labels: cla: yes, automerge, front_of_queue_automerge, size: S

#4634 Fix lint errors
  cirq-core/cirq/circuits/circuit_operation_test.py
  cirq-core/cirq/sim/act_on_args_container_test.py
  cirq-core/cirq/sim/simulator_base_test.py
  cirq-google/cirq_google/engine/engine_sampler.py
Labels: cla: yes, Size: XS

#4636 Fix operator spaces test which fails due to precision
  cirq-core/cirq/linalg/operator_spaces_test.py
Labels: cla: yes, automerge, front_of_queue_automerge, Size: XS

#4628 Named topologies: support manual placement
  cirq-core/cirq/devices/named_topologies.py
  cirq-core/cirq/devices/named_topologies_test.py
  dev_tools/notebooks/isolated_notebook_test.py
  docs/named_topologies.ipynb
Labels: cla: yes, automerge, front_of_queue_automerge, size: M

#4613 [cirqflow] Factor out PrintLogger
  cirq-google/cirq_google/workflow/progress.py
  cirq-google/cirq_google/workflow/progress_test.py
  cirq-google/cirq_google/workflow/quantum_runtime.py
Labels: cla: yes, automerge, front_of_queue_automerge, area/workflow, size: M

#4614 [cirqflow] Factor out FilesystemSaver
  cirq-google/cirq_google/workflow/__init__.py
  cirq-google/cirq_google/workflow/io.py
  cirq-google/cirq_google/workflow/io_test.py
  cirq-google/cirq_google/workflow/quantum_runtime.py
  cirq-google/cirq_google/workflow/quantum_runtime_test.py
Labels: cla: yes, automerge, front_of_queue_automerge, area/workflow, size: L

#4635 Fixes for documentation
  cirq-aqt/cirq_aqt/aqt_device.py
  cirq-core/cirq/contrib/acquaintance/mutation_utils.py
  cirq-core/cirq/contrib/acquaintance/strategies/complete.py
  cirq-core/cirq/protocols/has_stabilizer_effect_protocol.py
  cirq-google/cirq_google/api/v2/results.py
  cirq-google/cirq_google/api/v2/results_test.py
  cirq-google/cirq_google/calibration/engine_simulator.py
  cirq-google/cirq_google/engine/engine.py
  cirq-google/cirq_google/serialization/serializable_gate_set.py
  dev_tools/pr_monitor.py
  examples/direct_fidelity_estimation.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: L

#4642 Fix importlib.abc and type madness in _import
  cirq-core/cirq/_import.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: S

#4641 More lint documentation fixes.
  cirq-core/cirq/contrib/acquaintance/executor.py
  cirq-core/cirq/contrib/acquaintance/shift.py
  cirq-core/cirq/contrib/acquaintance/strategies/complete.py
  cirq-core/cirq/contrib/qcircuit/qcircuit_pdf.py
  cirq-core/cirq/contrib/quimb/mps_simulator.py
  cirq-core/cirq/contrib/routing/router.py
  cirq-core/cirq/ion/ion_gates.py
  cirq-core/cirq/ops/matrix_gates.py
  cirq-core/cirq/ops/permutation_gate.py
  cirq-core/cirq/ops/qubit_order.py
  cirq-core/cirq/ops/wait_gate.py
  cirq-core/cirq/optimizers/three_qubit_decomposition.py
  cirq-core/cirq/optimizers/two_qubit_to_fsim.py
  cirq-core/cirq/study/resolver_test.py
  cirq-google/cirq_google/optimizers/convert_to_sycamore_gates.py
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/serializable_gate_set.py
  cirq-google/cirq_google/serialization/serializable_gate_set_test.py
  cirq-web/cirq_web/bloch_sphere/bloch_sphere.py
  dev_tools/incremental_coverage.py
  examples/hhl.py
  examples/quantum_fourier_transform.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: L

#4646 Fix FSim serialization for zeros and ints
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
Labels: cla: yes, size: S

#4647 Remove deprecated use of `cirq.google` in install guide
  docs/install.md
Labels: cla: yes, automerge, front_of_queue_automerge, Size: XS

#4643 Delay import of scipy stats and optimize
  cirq-core/cirq/experiments/t1_decay_experiment.py
  cirq-core/cirq/experiments/xeb_fitting.py
  cirq-core/cirq/linalg/decompositions.py
  cirq-google/cirq_google/calibration/xeb_wrapper_test.py
  dev_tools/packaging/isolated_packages_test.py
  docs/tutorials/quantum_walks.ipynb
Labels: cla: yes, automerge, front_of_queue_automerge, size: S

#4650 Remove remaining uses of cirq.google in docs/ .
  docs/dev/development.md
  docs/dev/notebooks.md
  docs/google/calibration.md
  docs/google/devices.md
  docs/google/engine.md
  docs/google/specification.md
Labels: cla: yes, automerge, front_of_queue_automerge, size: M

#4652 Fix num_qubits property on AsymetricDepolarizing Channel
  cirq-core/cirq/ops/common_channels.py
  cirq-core/cirq/ops/common_channels_test.py
Labels: cla: yes, size: S

#4619 Ensure subcircuit.mapped_circuit applies parent path if no repetitions
  cirq-core/cirq/__init__.py
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_operation.py
  cirq-core/cirq/circuits/circuit_operation_test.py
  cirq-core/cirq/ops/gate_operation.py
  cirq-core/cirq/ops/gate_operation_test.py
  cirq-core/cirq/ops/kraus_channel.py
  cirq-core/cirq/ops/measurement_gate.py
  cirq-core/cirq/ops/mixed_unitary_channel.py
  cirq-core/cirq/ops/moment.py
  cirq-core/cirq/ops/pauli_measurement_gate.py
  cirq-core/cirq/protocols/__init__.py
  cirq-core/cirq/protocols/measurement_key_protocol.py
  cirq-core/cirq/value/measurement_key.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: M

#4533 Optimize parameter sweeps to cache unparameterized prefixes
  cirq-core/cirq/sim/density_matrix_simulator_test.py
  cirq-core/cirq/sim/simulator.py
  cirq-core/cirq/sim/simulator_base.py
  cirq-core/cirq/sim/simulator_base_test.py
  cirq-core/cirq/sim/sparse_simulator_test.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: M

#4651 Update ecosystem
  docs/ecosystem.md
Labels: cla: yes, automerge, front_of_queue_automerge, size: S

#4656 Add parameter resolution and other utility methods to _InverseCompositeGate
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/ops/raw_types_test.py
Labels: cla: yes, size: S

#4659 Bump version of qiskit-aer in dev-tools
  dev_tools/requirements/deps/dev-tools.txt
Labels: cla: yes, automerge, front_of_queue_automerge, Size: XS

#4662 Even more documentation lint
  cirq-core/cirq/contrib/routing/utils.py
  cirq-core/cirq/experiments/t2_decay_experiment.py
  cirq-core/cirq/ion/ion_decomposition.py
  cirq-core/cirq/study/sweepable.py
  cirq-core/cirq/testing/logs.py
  cirq-core/cirq/value/angle.py
  cirq-core/cirq/work/observable_measurement_data.py
  cirq-google/cirq_google/api/v2/sweeps.py
  cirq-pasqal/cirq_pasqal/pasqal_sampler_test.py
  examples/bell_inequality.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: M

#4654 More documentation fixes
  cirq-aqt/cirq_aqt/aqt_sampler.py
  cirq-core/cirq/contrib/acquaintance/permutation.py
  cirq-core/cirq/contrib/paulistring/separate.py
  cirq-core/cirq/interop/quirk/cells/testing.py
  cirq-core/cirq/ion/convert_to_ion_gates.py
  cirq-core/cirq/ops/moment.py
  cirq-core/cirq/sim/sparse_simulator_test.py
  cirq-core/cirq/testing/equivalent_repr_eval.py
  cirq-google/cirq_google/optimizers/convert_to_sqrt_iswap.py
  cirq-google/cirq_google/serialization/op_deserializer.py
  cirq-pasqal/cirq_pasqal/pasqal_noise_model.py
  cirq-web/cirq_web/circuits/circuit.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: M

#4661 Add docker and docker compose to dev install
  dev_tools/conf/apt-list-dev-tools.txt
  docs/dev/development.md
Labels: cla: yes, automerge, front_of_queue_automerge, Size: XS

#4649 Add pretty repr to devices and result types
  cirq-core/cirq/contrib/quimb/mps_simulator.py
  cirq-core/cirq/contrib/quimb/mps_simulator_test.py
  cirq-core/cirq/ion/ion_device.py
  cirq-core/cirq/ion/ion_device_test.py
  cirq-core/cirq/neutral_atoms/neutral_atom_devices.py
  cirq-core/cirq/neutral_atoms/neutral_atom_devices_test.py
  cirq-core/cirq/sim/clifford/clifford_simulator.py
  cirq-core/cirq/sim/clifford/clifford_simulator_test.py
  cirq-core/cirq/sim/density_matrix_simulator.py
  cirq-core/cirq/sim/density_matrix_simulator_test.py
  cirq-core/cirq/sim/state_vector_simulator.py
  cirq-core/cirq/testing/__init__.py
  cirq-core/cirq/testing/deprecation.py
  cirq-core/cirq/testing/repr_pertty_tester_test.py
  cirq-core/cirq/testing/repr_pretty_tester.py
  cirq-google/cirq_google/devices/xmon_device.py
  cirq-google/cirq_google/devices/xmon_device_test.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: L

#4586 Add `cirq_google.FSimGateFamily` class.
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/calibration/phased_fsim.py
  cirq-google/cirq_google/json_test_data/spec.py
  cirq-google/cirq_google/ops/__init__.py
  cirq-google/cirq_google/ops/fsim_gate_family.py
  cirq-google/cirq_google/ops/fsim_gate_family_test.py
  cirq-google/cirq_google/serialization/common_serializers.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: L

#4663 Small clarification in development.md
  docs/dev/development.md
Labels: cla: yes, automerge, front_of_queue_automerge, Size: XS

#4668 More documentation fixes
  cirq-core/cirq/linalg/combinators.py
  cirq-core/cirq/linalg/transformations.py
  cirq-core/cirq/optimizers/merge_single_qubit_gates.py
  cirq-core/cirq/sim/simulator_base.py
  cirq-core/cirq/sim/sparse_simulator.py
  cirq-core/cirq/work/sampler.py
  cirq-google/cirq_google/devices/serializable_device.py
  cirq-google/cirq_google/serialization/arg_func_langs.py
  cirq-pasqal/cirq_pasqal/pasqal_device.py
  cirq-pasqal/cirq_pasqal/pasqal_qubits.py
  dev_tools/prepared_env.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: M

#4674 Fix test that are failing on aarch64-linux due to precision
  cirq-core/cirq/ops/pauli_string_test.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: S

#4670 Documentation fixes continue
  cirq-core/cirq/contrib/quimb/state_vector.py
  cirq-core/cirq/linalg/decompositions.py
  cirq-core/cirq/ops/common_channels.py
  cirq-core/cirq/ops/identity.py
  cirq-core/cirq/ops/linear_combinations.py
  cirq-core/cirq/ops/pauli_string.py
  cirq-core/cirq/protocols/apply_unitary_protocol.py
  cirq-core/cirq/sim/act_on_args_container.py
  cirq-core/cirq/vis/heatmap.py
  cirq-google/cirq_google/optimizers/optimize_for_sycamore.py
  cirq-rigetti/cirq_rigetti/aspen_device.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: M

#4679 Removing more documentation lint
  cirq-core/cirq/contrib/graph_device/graph_device.py
  cirq-core/cirq/contrib/quimb/density_matrix.py
  cirq-core/cirq/experiments/google_v2_supremacy_circuit.py
  cirq-core/cirq/experiments/t1_decay_experiment.py
  cirq-core/cirq/linalg/decompositions.py
  cirq-core/cirq/ops/controlled_gate.py
  cirq-core/cirq/ops/dense_pauli_string.py
  cirq-core/cirq/ops/pauli_gates.py
  cirq-core/cirq/ops/pauli_string_phasor.py
  cirq-core/cirq/optimizers/two_qubit_decompositions.py
  cirq-core/cirq/protocols/act_on_protocol.py
  cirq-core/cirq/protocols/approximate_equality_protocol.py
  cirq-core/cirq/protocols/mixture_protocol.py
  cirq-core/cirq/sim/act_on_args.py
  cirq-core/cirq/sim/clifford/clifford_simulator.py
  cirq-core/cirq/sim/density_matrix_simulator.py
  cirq-core/cirq/sim/simulator.py
  cirq-core/cirq/value/duration.py
  cirq-core/cirq/value/value_equality_attr.py
  cirq-google/cirq_google/engine/engine_client.py
  cirq-google/cirq_google/engine/engine_program.py
  cirq-google/cirq_google/experimental/noise_models/noise_models.py
  cirq-ionq/cirq_ionq/job.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: M

#4680 Deprecate from_single_parameter_set on Result
  cirq-core/cirq/contrib/quantum_volume/quantum_volume_test.py
  cirq-core/cirq/sim/simulator.py
  cirq-core/cirq/sim/simulator_test.py
  cirq-core/cirq/study/result.py
  cirq-core/cirq/study/result_test.py
  cirq-google/cirq_google/api/v2/results.py
  cirq-google/cirq_google/api/v2/results_test.py
  cirq-google/cirq_google/engine/engine_job.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: M

#4677 Fix mistakes in circuit tutorial and add picture
  docs/circuits.ipynb
  docs/images/InsertStrategy.png
Labels: cla: yes, automerge, front_of_queue_automerge, size: S

#4686 Fix check/mypy-next
  check/mypy
Labels: cla: yes, automerge, numpy

#4687 Reducing documentation lint errors even further
  cirq-core/cirq/_compat.py
  cirq-core/cirq/devices/noise_model.py
  cirq-core/cirq/experiments/single_qubit_readout_calibration.py
  cirq-core/cirq/interop/quirk/cells/arithmetic_cells.py
  cirq-core/cirq/protocols/json_serialization.py
  cirq-core/cirq/sim/act_on_state_vector_args.py
  cirq-core/cirq/sim/mux.py
  cirq-google/cirq_google/calibration/workflow.py
  cirq-google/cirq_google/optimizers/two_qubit_gates/math_utils.py
  cirq-ionq/cirq_ionq/service.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: M

#4688 Add sxdg, now that it is supported by qiskit
  cirq-core/cirq/circuits/qasm_output_test.py
  cirq-core/cirq/contrib/qasm_import/_parser.py
  cirq-core/cirq/ops/common_gates.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: S

#4681 Unwind some delayed imports using LazyLoader
  cirq-core/cirq/linalg/decompositions.py
  cirq-core/cirq/ops/moment.py
  cirq-core/cirq/ops/raw_types.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: M

#4689 Fix remaining documentation lint
  cirq-core/cirq/_compat.py
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/contrib/qasm_import/_parser.py
  cirq-core/cirq/contrib/quantum_volume/quantum_volume.py
  cirq-core/cirq/contrib/routing/greedy.py
  cirq-core/cirq/devices/grid_qubit.py
  cirq-core/cirq/experiments/cross_entropy_benchmarking.py
  cirq-core/cirq/experiments/xeb_fitting.py
  cirq-core/cirq/linalg/predicates.py
  cirq-core/cirq/ops/eigen_gate.py
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/protocols/circuit_diagram_info_protocol.py
  cirq-core/cirq/qis/clifford_tableau.py
  cirq-core/cirq/sim/state_vector.py
  cirq-core/cirq/study/result.py
  cirq-core/cirq/study/sweeps.py
  cirq-core/cirq/testing/circuit_compare.py
  cirq-core/cirq/work/observable_measurement.py
  cirq-core/cirq/work/sampler.py
  cirq-google/cirq_google/api/v1/programs.py
  cirq-google/cirq_google/calibration/phased_fsim.py
  cirq-google/cirq_google/engine/calibration.py
  cirq-google/cirq_google/engine/client/quantum_v1alpha1/gapic/transports/quantum_engine_service_grpc_transport.py
  cirq-google/cirq_google/engine/engine.py
  cirq-google/cirq_google/optimizers/two_qubit_gates/gate_compilation.py
  cirq-google/cirq_google/serialization/op_serializer.py
  cirq-ionq/cirq_ionq/ionq_client.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: L

#4690 Enforce LineQubit type for IonDevices
  cirq-core/cirq/ion/ion_device.py
  cirq-core/cirq/ion/ion_device_test.py
Labels: cla: yes, size: S

#4682 Add a test to ensure reset does not collapse density matrix
  cirq-core/cirq/sim/density_matrix_simulator_test.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: S

#4669 Remove op validation when inserting into Circuit
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_test.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: M

#4644 Add Abstract Engine Interface
  cirq-google/cirq_google/engine/abstract_engine.py
  cirq-google/cirq_google/engine/abstract_job.py
  cirq-google/cirq_google/engine/abstract_job_test.py
  cirq-google/cirq_google/engine/abstract_processor.py
  cirq-google/cirq_google/engine/abstract_program.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: L

#4627 Add double-line diagrams for control keys
  cirq-core/cirq/circuits/_box_drawing_character_data.py
  cirq-core/cirq/circuits/_box_drawing_character_data_test.py
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_test.py
  cirq-core/cirq/circuits/text_diagram_drawer.py
  cirq-core/cirq/circuits/text_diagram_drawer_test.py
  cirq-core/cirq/contrib/qcircuit/qcircuit_diagram.py
  cirq-core/cirq/contrib/svg/svg.py
  cirq-core/cirq/ops/measurement_gate.py
  cirq-core/cirq/ops/pauli_measurement_gate.py
  cirq-core/cirq/protocols/circuit_diagram_info_protocol.py
  cirq-core/cirq/testing/circuit_compare.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: M

#4694 Clarify runtime of gateset contains
  cirq-core/cirq/ops/gateset.py
Labels: cla: yes, Size: XS

#4675 Rename (qubits+cbits) to labels
  cirq-core/cirq/__init__.py
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/contrib/acquaintance/bipartite_test.py
  cirq-core/cirq/contrib/qcircuit/qcircuit_diagram_info.py
  cirq-core/cirq/contrib/qcircuit/qcircuit_diagram_info_test.py
  cirq-core/cirq/ops/common_channels_test.py
  cirq-core/cirq/ops/controlled_gate.py
  cirq-core/cirq/ops/controlled_operation.py
  cirq-core/cirq/ops/measurement_gate.py
  cirq-core/cirq/ops/measurement_gate_test.py
  cirq-core/cirq/ops/moment.py
  cirq-core/cirq/ops/pauli_measurement_gate.py
  cirq-core/cirq/protocols/__init__.py
  cirq-core/cirq/protocols/circuit_diagram_info_protocol.py
  cirq-core/cirq/protocols/circuit_diagram_info_protocol_test.py
  cirq-core/cirq/protocols/json_test_data/spec.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: L

#4692 Add `map_operations` and `map_moments` transformer primitives
  cirq-core/cirq/__init__.py
  cirq-core/cirq/optimizers/__init__.py
  cirq-core/cirq/optimizers/transformer_primitives.py
  cirq-core/cirq/optimizers/transformer_primitives_test.py
Labels: cla: yes, size: L

#4693 Support and test type serialization
  cirq-core/cirq/__init__.py
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/protocols/__init__.py
  cirq-core/cirq/protocols/json_serialization.py
  cirq-core/cirq/protocols/json_serialization_test.py
  cirq-core/cirq/protocols/json_test_data/spec.py
  cirq-google/cirq_google/workflow/io.py
  cirq-google/cirq_google/workflow/quantum_executable.py
  cirq-google/cirq_google/workflow/quantum_runtime.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: M

#4701 Named topology reprs
  cirq-core/cirq/devices/named_topologies.py
  cirq-core/cirq/devices/named_topologies_test.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: S

#4704 Move "cirq_type" responsibility to protocols
  cirq-core/cirq/circuits/circuit_operation.py
  cirq-core/cirq/circuits/circuit_operation_test.py
  cirq-core/cirq/circuits/circuit_test.py
  cirq-core/cirq/devices/device.py
  cirq-core/cirq/devices/grid_qubit_test.py
  cirq-core/cirq/devices/line_qubit_test.py
  cirq-core/cirq/devices/named_topologies.py
  cirq-core/cirq/experiments/cross_entropy_benchmarking.py
  cirq-core/cirq/experiments/single_qubit_readout_calibration.py
  cirq-core/cirq/ops/boolean_hamiltonian.py
  cirq-core/cirq/ops/clifford_gate.py
  cirq-core/cirq/ops/common_gates.py
  cirq-core/cirq/ops/controlled_gate.py
  cirq-core/cirq/ops/controlled_operation.py
  cirq-core/cirq/ops/fourier_transform.py
  cirq-core/cirq/ops/fsim_gate_test.py
  cirq-core/cirq/ops/global_phase_op_test.py
  cirq-core/cirq/ops/identity.py
  cirq-core/cirq/ops/linear_combinations.py
  cirq-core/cirq/ops/matrix_gates.py
  cirq-core/cirq/ops/measurement_gate.py
  cirq-core/cirq/ops/moment_test.py
  cirq-core/cirq/ops/named_qubit_test.py
  cirq-core/cirq/ops/pauli_measurement_gate.py
  cirq-core/cirq/ops/pauli_string.py
  cirq-core/cirq/ops/permutation_gate_test.py
  cirq-core/cirq/ops/phased_iswap_gate.py
  cirq-core/cirq/ops/projector.py
  cirq-core/cirq/ops/raw_types_test.py
  cirq-core/cirq/ops/state_preparation_channel.py
  cirq-core/cirq/ops/tags.py
  cirq-core/cirq/protocols/json_serialization.py
  cirq-core/cirq/protocols/json_serialization_test.py
  cirq-core/cirq/qis/clifford_tableau_test.py
  cirq-core/cirq/sim/clifford/clifford_simulator.py
  cirq-core/cirq/study/resolver.py
  cirq-core/cirq/study/result.py
  cirq-core/cirq/testing/no_identifier_qubit_test.py
  cirq-core/cirq/value/duration.py
  cirq-core/cirq/value/duration_test.py
  cirq-core/cirq/value/linear_dict.py
  cirq-core/cirq/value/measurement_key.py
  cirq-core/cirq/value/measurement_key_test.py
  cirq-core/cirq/value/product_state.py
  cirq-core/cirq/work/observable_measurement_data.py
  cirq-google/cirq_google/calibration/phased_fsim.py
  cirq-google/cirq_google/devices/known_devices.py
  cirq-google/cirq_google/devices/known_devices_test.py
  cirq-google/cirq_google/engine/calibration.py
  cirq-google/cirq_google/engine/calibration_result.py
  cirq-google/cirq_google/optimizers/two_qubit_gates/gate_compilation.py
  cirq-google/cirq_google/workflow/io.py
  cirq-google/cirq_google/workflow/quantum_executable.py
  cirq-google/cirq_google/workflow/quantum_runtime.py
  cirq-google/cirq_google/workflow/quantum_runtime_test.py
  cirq-pasqal/cirq_pasqal/pasqal_device_test.py
  cirq-pasqal/cirq_pasqal/pasqal_qubits_test.py
  cirq-rigetti/cirq_rigetti/aspen_device.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: L

#4711 Don't invoke json_cirq_type if cirq_type is defined...for now.
  cirq-core/cirq/protocols/json_serialization.py
  cirq-core/cirq/protocols/json_serialization_test.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: S

#4706 pylint - enable check for f-string-without-interpolation
  cirq-core/cirq/circuits/circuit_operation.py
  cirq-core/cirq/circuits/circuit_operation_test.py
  cirq-core/cirq/contrib/routing/router.py
  cirq-core/cirq/interop/quirk/cells/input_rotation_cells.py
  cirq-core/cirq/linalg/decompositions_test.py
  cirq-core/cirq/ops/common_gate_families_test.py
  cirq-core/cirq/ops/state_preparation_channel_test.py
  cirq-core/cirq/optimizers/clifford_decomposition.py
  cirq-core/cirq/protocols/json_serialization_test.py
  cirq-core/cirq/testing/consistent_controlled_gate_op.py
  cirq-core/cirq/testing/no_identifier_qubit.py
  cirq-core/cirq/value/measurement_key_test.py
  cirq-google/cirq_google/calibration/phased_fsim.py
  cirq-google/cirq_google/calibration/workflow.py
  cirq-ionq/cirq_ionq/service.py
  cirq-rigetti/cirq_rigetti/aspen_device.py
  dev_tools/conf/.pylintrc
  dev_tools/modules_test.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: M

#4712 Remove non-deterministic hash from circuit diagram.
  cirq-core/cirq/circuits/circuit_operation.py
  cirq-core/cirq/circuits/circuit_operation_test.py
  cirq-core/cirq/circuits/circuit_test.py
  cirq-core/cirq/circuits/frozen_circuit.py
  cirq-core/cirq/testing/circuit_compare.py
Labels: cla: yes, size: S

#4703 Always use bash arrays for changed files and directories
  check/pylint-changed-files
  check/pytest-changed-files
  check/pytest-changed-files-and-incremental-coverage
Labels: cla: yes, automerge, front_of_queue_automerge, size: S

#4638 Simulated Engine Implementation
  cirq-google/cirq_google/engine/local_simulation_type.py
  cirq-google/cirq_google/engine/simulated_local_engine.py
  cirq-google/cirq_google/engine/simulated_local_engine_test.py
  cirq-google/cirq_google/engine/simulated_local_job.py
  cirq-google/cirq_google/engine/simulated_local_job_test.py
  cirq-google/cirq_google/engine/simulated_local_processor.py
  cirq-google/cirq_google/engine/simulated_local_processor_test.py
  cirq-google/cirq_google/engine/simulated_local_program.py
  cirq-google/cirq_google/engine/simulated_local_program_test.py
Labels: cla: yes, size: XL

#4716 Fix operator_spaces.py::kron_bases initial value
  cirq-core/cirq/linalg/operator_spaces.py
  cirq-core/cirq/linalg/operator_spaces_test.py
Labels: cla: yes, automerge, front_of_queue_automerge, Size: XS

#4717 format-incremental - store modified files in bash array
  check/format-incremental
Labels: cla: yes, automerge, front_of_queue_automerge, size: S
