Repository quantumlib/Cirq, pull requests merged in 2021-05, with the labels that each got.

#4053 Store job identifiers in calibration results
  cirq-google/cirq_google/calibration/engine_simulator_test.py
  cirq-google/cirq_google/calibration/phased_fsim.py
  cirq-google/cirq_google/calibration/phased_fsim_test.py
  cirq-google/cirq_google/calibration/workflow.py
  cirq-google/cirq_google/calibration/workflow_test.py
  cirq-google/cirq_google/json_test_data/PhasedFSimCalibrationResult.json
  cirq-google/cirq_google/json_test_data/PhasedFSimCalibrationResult.repr
Labels: cla: yes

#4084 Fix tetris_concat docstring align arg and restore FIRST alignment option
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#4058 Allow to pass a list of circuits to Floquet preparation method
  cirq-google/cirq_google/calibration/workflow.py
  cirq-google/cirq_google/calibration/workflow_test.py
Labels: cla: yes

#3935 Example of stabilizer code
  dev_tools/notebooks/isolated_notebook_test.py
  docs/tutorials/_index.yaml
  examples/stabilizer_code.ipynb
  examples/stabilizer_code.py
  examples/stabilizer_code_test.py
Labels: cla: yes

#4085 Move CliffordTableau and add unit test
  cirq-core/cirq/__init__.py
  cirq-core/cirq/protocols/json_test_data/CliffordState.json_inward
  cirq-core/cirq/protocols/json_test_data/CliffordTableau.json
  cirq-core/cirq/qis/__init__.py
  cirq-core/cirq/qis/clifford_tableau.py
  cirq-core/cirq/qis/clifford_tableau_test.py
  cirq-core/cirq/sim/clifford/act_on_clifford_tableau_args.py
  cirq-core/cirq/sim/clifford/clifford_tableau.py
  cirq-core/cirq/sim/clifford/stabilizer_sampler.py
  cirq-core/cirq/testing/consistent_act_on.py
Labels: automerge, cla: yes, front_of_queue_automerge, kind/deprecation

#4035 Eliminate simulator boilerplate by pushing iteration into base class
  cirq-core/cirq/__init__.py
  cirq-core/cirq/contrib/quimb/mps_simulator.py
  cirq-core/cirq/sim/__init__.py
  cirq-core/cirq/sim/clifford/clifford_simulator.py
  cirq-core/cirq/sim/clifford/clifford_simulator_test.py
  cirq-core/cirq/sim/density_matrix_simulator.py
  cirq-core/cirq/sim/simulator_base.py
  cirq-core/cirq/sim/simulator_base_test.py
  cirq-core/cirq/sim/sparse_simulator.py
  cirq-core/cirq/sim/sparse_simulator_test.py
  cirq-core/cirq/sim/state_vector_simulator.py
  cirq-google/cirq_google/calibration/engine_simulator.py
Labels: automerge, cla: yes, front_of_queue_automerge

#4091 [XEB] Add LocalXEBPhasedFSimCalibration to cirq_google __init__.py
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/calibration/__init__.py
  cirq-google/cirq_google/calibration/phased_fsim.py
  cirq-google/cirq_google/json_resolver_cache.py
  cirq-google/cirq_google/json_test_data/LocalXEBPhasedFSimCalibrationOptions.json
  cirq-google/cirq_google/json_test_data/LocalXEBPhasedFSimCalibrationOptions.repr
  cirq-google/cirq_google/json_test_data/LocalXEBPhasedFSimCalibrationRequest.json
  cirq-google/cirq_google/json_test_data/LocalXEBPhasedFSimCalibrationRequest.repr
Labels: area/xeb, automerge, cla: yes, front_of_queue_automerge

#4026 Modify heatmaps tutorials to include demo of config params
  dev_tools/notebooks/isolated_notebook_test.py
  docs/tutorials/heatmaps.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge

#4024 Add tutorial for state histograms
  dev_tools/notebooks/isolated_notebook_test.py
  docs/_book.yaml
  docs/tutorials/state_histograms.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge

#4092 [XEB] Allow default angles to be inferred from a gate
  cirq-core/cirq/experiments/xeb_fitting.py
  cirq-core/cirq/experiments/xeb_fitting_test.py
  cirq-google/cirq_google/calibration/phased_fsim.py
  cirq-google/cirq_google/calibration/phased_fsim_test.py
  cirq-google/cirq_google/calibration/test_data/xeb_calibration_layer.textproto
  cirq-google/cirq_google/calibration/xeb_wrapper.py
  cirq-google/cirq_google/calibration/xeb_wrapper_test.py
Labels: area/xeb, automerge, cla: yes, front_of_queue_automerge

#4094 Provide sweep-iterator API.
  cirq-core/cirq/__init__.py
  cirq-core/cirq/protocols/json_test_data/spec.py
  cirq-core/cirq/sim/simulator.py
  cirq-core/cirq/sim/simulator_test.py
  cirq-core/cirq/sim/sparse_simulator.py
  cirq-core/cirq/sim/state_vector_simulator.py
  cirq-core/cirq/value/__init__.py
  cirq-core/cirq/value/abc_alt.py
  cirq-google/cirq_google/calibration/engine_simulator.py
Labels: automerge, cla: yes, front_of_queue_automerge

#4102 Updating notebook `pip install`s after v0.11 release
  check/misc
  cirq-core/cirq/contrib/quimb/Cirq-to-Tensor-Networks.ipynb
  cirq-core/cirq/contrib/quimb/Contract-a-Grid-Circuit.ipynb
  dev_tools/notebooks/isolated_notebook_test.py
  docs/google/concepts.ipynb
  docs/install.md
  docs/qcvv/xeb_coherent_noise.ipynb
  docs/qcvv/xeb_theory.ipynb
  docs/tutorials/educators/intro.ipynb
  docs/tutorials/google/colab.ipynb
  docs/tutorials/google/echoes.ipynb
  docs/tutorials/google/floquet.ipynb
  docs/tutorials/google/reservations.ipynb
  docs/tutorials/google/start.ipynb
  docs/tutorials/google/visualizing_calibration_metrics.ipynb
  docs/tutorials/heatmaps.ipynb
  docs/tutorials/state_histograms.ipynb
  examples/advanced/quantum_volume_errors.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge

#4105 Remove separate script for nightly devsite diff
  dev_tools/docs/build_api_docs.py
  dev_tools/docs/build_api_docs_multi_module.py
Labels: automerge, cla: yes, front_of_queue_automerge

#4097 [XEB] Theory notebook: fix pauli vs. depol error number
  docs/qcvv/xeb_theory.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge

#4090 [XEB] Multiprocessing spawn
  cirq-google/cirq_google/calibration/xeb_wrapper.py
Labels: area/xeb, automerge, cla: yes, front_of_queue_automerge

#4107 floquet.ipynb - idiomatic numpy indexing
  docs/tutorials/google/floquet.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge

#4101 add binary_paintshop example to ionq
  docs/_book.yaml
  docs/tutorials/ionq/binary_paintshop.ipynb
Labels: automerge, cla: yes

#4050 Add to_phased_xz_gate function for SingleQubitCliffordGate
  cirq-core/cirq/ops/clifford_gate.py
  cirq-core/cirq/ops/clifford_gate_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#4108 Add tutorial on selecting qubits and calibrating for an experiment
  docs/_book.yaml
  docs/tutorials/google/advanced_calibration.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge

#4121 bump cirq to v0.12.0.dev
  cirq-core/cirq/_version.py
  cirq-google/cirq_google/_version.py
Labels: automerge, cla: yes, front_of_queue_automerge

#4096 Add `then` method for composing two Clifford tableaux
  cirq-core/cirq/qis/clifford_tableau.py
  cirq-core/cirq/qis/clifford_tableau_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#4111 Add `inverse` method for Clifford tableau
  cirq-core/cirq/qis/clifford_tableau.py
  cirq-core/cirq/qis/clifford_tableau_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3923 (De-)serialization of CircuitOperations
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/common_serializers.py
  cirq-google/cirq_google/devices/known_devices.py
  cirq-google/cirq_google/devices/known_devices_test.py
  cirq-google/cirq_google/devices/serializable_device.py
  cirq-google/cirq_google/json_test_data/spec.py
  cirq-google/cirq_google/op_deserializer.py
  cirq-google/cirq_google/op_deserializer_test.py
  cirq-google/cirq_google/op_serializer.py
  cirq-google/cirq_google/op_serializer_test.py
  cirq-google/cirq_google/serializable_gate_set.py
  cirq-google/cirq_google/serializable_gate_set_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#4133 Fix pathname in misc check tool
  check/misc
Labels: cla: yes

#4132 Choi representation
  cirq-core/cirq/__init__.py
  cirq-core/cirq/qis/__init__.py
  cirq-core/cirq/qis/channels.py
  cirq-core/cirq/qis/channels_test.py
Labels: cla: yes

#4131 Consolidate dependencies
  .github/workflows/ci.yml
  check/nbformat
  cirq-core/cirq/contrib/requirements.txt
  dev_tools/conf/pip-list-dev-tools.txt
  dev_tools/env_tools.py
  dev_tools/notebooks/isolated_notebook_test.py
  dev_tools/notebooks/requirements-isolated-notebook-tests.txt
  dev_tools/notebooks/requirements-notebook-tests.txt
  dev_tools/packaging/verify-published-package.sh
  dev_tools/requirements/__init__.py
  dev_tools/requirements/cirq-only.env.txt
  dev_tools/requirements/deps/cirq-all-no-contrib.txt
  dev_tools/requirements/deps/cirq-all.txt
  dev_tools/requirements/deps/dev-tools.txt
  dev_tools/requirements/deps/format.txt
  dev_tools/requirements/deps/mypy.txt
  dev_tools/requirements/deps/nbformat.txt
  dev_tools/requirements/deps/notebook.txt
  dev_tools/requirements/deps/protos.txt
  dev_tools/requirements/deps/pylint.txt
  dev_tools/requirements/deps/pytest.txt
  dev_tools/requirements/dev.env.txt
  dev_tools/requirements/isolated-notebooks.env.txt
  dev_tools/requirements/mypy.env.txt
  dev_tools/requirements/no-contrib.env.txt
  dev_tools/requirements/notebooks.env.txt
  dev_tools/requirements/pytest-minimal.env.txt
  dev_tools/requirements/reqs.py
  dev_tools/requirements/reqs_test.py
  dev_tools/requirements/test_data/a.req.txt
  dev_tools/requirements/test_data/b.req.txt
  dev_tools/requirements/test_data/sub/c.req.txt
  docs/dev/development.md
  release.md
  setup.py
Labels: automerge, cla: yes, front_of_queue_automerge

#4143 Improve docstring for operation_to_choi
  cirq-core/cirq/qis/channels.py
Labels: automerge, cla: yes, front_of_queue_automerge

#4147 Slight speed up to notebook tests
  cirq-core/cirq/contrib/quimb/Cirq-to-Tensor-Networks.tst
  dev_tools/notebooks/notebook_test.py
  docs/tutorials/educators/textbook_algorithms.tst
Labels: automerge, cla: yes, front_of_queue_automerge
