Repository quantumlib/Cirq, pull requests merged in 2021-02, with the labels that each got.

#3711 Add utilities that allow to characterize circuits using Floquet calibration
  cirq/google/__init__.py
  cirq/google/calibration/__init__.py
  cirq/google/calibration/phased_fsim.py
  cirq/google/calibration/phased_fsim_test.py
  cirq/google/calibration/workflow.py
  cirq/google/calibration/workflow_test.py
  cirq/protocols/json_serialization_test.py
Labels: cla: yes

#3724 Fix: tutorial index headings do not match tutorial content page
  docs/_book.yaml
Labels: automerge, cla: yes, front_of_queue_automerge

#3656 Sync _has_stabilizer_effect_ implementations and use that for Clifford checks
  cirq/ops/common_gates.py
  cirq/ops/common_gates_test.py
  cirq/ops/global_phase_op.py
  cirq/ops/global_phase_op_test.py
  cirq/ops/measurement_gate.py
  cirq/ops/measurement_gate_test.py
  cirq/protocols/has_stabilizer_effect_protocol.py
  cirq/protocols/has_stabilizer_effect_protocol_test.py
  cirq/sim/clifford/clifford_simulator.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3662 Support gzip serialization
  cirq/__init__.py
  cirq/protocols/__init__.py
  cirq/protocols/json_serialization.py
  cirq/protocols/json_serialization_test.py
  dev_tools/profiling/benchmark_serializers.py
  dev_tools/profiling/benchmark_serializers_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3661 Support even powers of SWAP gate in CliffordSimulator
  cirq/ops/swap_gates.py
  cirq/ops/swap_gates_test.py
  cirq/sim/clifford/clifford_simulator_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3726 make three qubit decomposition tests scipy version dependent
  cirq/google/engine/calibration.py
  cirq/optimizers/three_qubit_decomposition_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3725 Add PhasedFSimEngineSimulator which allows to simulate calibration requests and unitary shifts of the PhasedFSimGate
  cirq/google/__init__.py
  cirq/google/calibration/__init__.py
  cirq/google/calibration/engine_simulator.py
  cirq/google/calibration/engine_simulator_test.py
  cirq/google/calibration/phased_fsim.py
  cirq/google/calibration/workflow.py
  cirq/google/calibration/workflow_test.py
  cirq/protocols/json_serialization_test.py
Labels: cla: yes

#3715 Fix a bug in Depol channel with multi qubits
  cirq/ops/common_channels.py
  cirq/ops/common_channels_test.py
  cirq/ops/gate_features.py
  cirq/ops/identity.py
  cirq/ops/pauli_string_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3733 import os before using os
  docs/tutorials/google/reservations.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge

#3707 Add ability to construct service via environment variables
  cirq/ionq/service.py
  cirq/ionq/service_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3706 Cross Entropy Benchmarking sample and simulate two qubits
  cirq/devices/noise_model.py
  cirq/devices/noise_model_test.py
  cirq/experiments/fidelity_estimation.py
  cirq/experiments/fidelity_estimation_test.py
  dev_tools/conf/mypy.ini
  docs/characterization/xeb_coherent_noise.ipynb
  requirements.txt
Labels: area/xeb, automerge, cla: yes, front_of_queue_automerge

#3654 Add guide on operators and observables
  docs/_book.yaml
  docs/operators_and_observables.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge

#3744 Update build status badge
  README.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#3742 update the zenodo metadata + removing confusing bibtex
  .zenodo.json
  README.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#3731 Add functionality that compensate (calibrate out) for a single-qubit phases of the circuit's PhasedFSimGates
  cirq/google/__init__.py
  cirq/google/calibration/__init__.py
  cirq/google/calibration/phased_fsim.py
  cirq/google/calibration/workflow.py
  cirq/google/calibration/workflow_test.py
  cirq/protocols/json_serialization_test.py
Labels: cla: yes

#3747 Remove unused imports
  cirq/ops/common_channels.py
  cirq/ops/identity.py
  cirq/ops/raw_types.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3746 Add ability to overwrite characterized parameters with a fixed value
  cirq/google/calibration/phased_fsim.py
  cirq/google/calibration/phased_fsim_test.py
Labels: cla: yes

#3719 Backwards-compatibility behavior for resolve_parameters.
  cirq/protocols/resolve_parameters.py
  cirq/protocols/resolve_parameters_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3739 [XEB] Optimize two qubit circuits
  cirq/experiments/fidelity_estimation.py
  cirq/experiments/fidelity_estimation_test.py
  cirq/google/engine/engine_client_test.py
  docs/characterization/xeb_coherent_noise.ipynb
Labels: area/xeb, automerge, cla: yes, front_of_queue_automerge

#3751 Notebook tests against both released Cirq and PRs
  .github/workflows/ci.yml
  .gitignore
  dev_tools/conf/pip-list-dev-tools.txt
  dev_tools/notebook_test.py
  dev_tools/notebooks/isolated_notebook_test.py
  dev_tools/notebooks/notebook_test.py
  dev_tools/notebooks/requirements-isolated-notebook-tests.txt
  dev_tools/notebooks/requirements-notebook-tests.txt
Labels: automerge, cla: yes, front_of_queue_automerge

#3741 Repetition IDs for CircuitOperation
  cirq/circuits/circuit_operation.py
  cirq/circuits/circuit_operation_test.py
  cirq/protocols/json_test_data/CircuitOperation.json
  cirq/protocols/json_test_data/CircuitOperation.repr
Labels: cla: yes

#3762 Updated secretmanager ref to v1
  dev_tools/auto_merge.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3745 Fix density matrix simulator when subcircuits exist
  cirq/sim/density_matrix_simulator.py
  cirq/sim/density_matrix_simulator_test.py
Labels: cla: yes

#3752 Rename calibration methods
  cirq/google/__init__.py
  cirq/google/calibration/__init__.py
  cirq/google/calibration/workflow.py
  cirq/google/calibration/workflow_test.py
Labels: cla: yes

#3770 Revert "Updated secretmanager ref to v1"
  dev_tools/auto_merge.py
Labels: cla: yes

#3764 removing cirq.google references from random circuit generation
  cirq/experiments/random_quantum_circuit_generation.py
  cirq/experiments/random_quantum_circuit_generation_test.py
Labels: BREAKING CHANGE, automerge, cla: yes, front_of_queue_automerge

#3753 [XEB] Faster and more extensible simulation
  cirq/experiments/fidelity_estimation.py
  cirq/experiments/fidelity_estimation_test.py
Labels: area/xeb, automerge, cla: yes, front_of_queue_automerge

#3727 Accept qubit maps in transform_qubits
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
  cirq/ops/moment.py
  cirq/ops/moment_test.py
  cirq/ops/raw_types.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3419 Add and use QuantumState class
  cirq/__init__.py
  cirq/protocols/json_serialization_test.py
  cirq/qis/__init__.py
  cirq/qis/measures.py
  cirq/qis/measures_test.py
  cirq/qis/states.py
  cirq/qis/states_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3743 Add ISWAP and its inverse to FSIM_GATESET
  cirq/google/common_serializers.py
  cirq/google/common_serializers_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3553 Updated, Multi-Stage Dockerfile
  Dockerfile
  dev_tools/Dockerfile
  dev_tools/conf/pip-list-dev-tools.txt
Labels: automerge, cla: yes, front_of_queue_automerge

#3776 adding wojtek to the codeowners in cirq.experiments
  .github/CODEOWNERS
  dev_tools/codeowners_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3780 Fix DepolarizingChannel._circuit_diagram_info_ assuming it is a single qubit gate
  cirq/ops/common_channels.py
  cirq/ops/common_channels_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3735 Add the ability to do hybrid MPS/dense/inbetween simulations by having qubit grouping
  cirq/contrib/quimb/mps_simulator.py
  cirq/contrib/quimb/mps_simulator_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3750 Add support for WaitGate and inverse of sqrt(iSWAP) to characterization and compilation
  cirq/google/calibration/engine_simulator.py
  cirq/google/calibration/engine_simulator_test.py
  cirq/google/calibration/phased_fsim.py
  cirq/google/calibration/phased_fsim_test.py
  cirq/google/calibration/workflow.py
  cirq/google/calibration/workflow_test.py
Labels: cla: yes

#3738 Remove cirq.google references from circuit_test and circuit_dag_test
  cirq/circuits/circuit_dag_test.py
  cirq/circuits/circuit_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3790 Add key/value type annotations to cirq.PauliString.items()
  cirq/ops/pauli_string.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3760 [XEB] Support parallel execution
  cirq/experiments/__init__.py
  cirq/experiments/fidelity_estimation.py
  cirq/experiments/fidelity_estimation_test.py
  cirq/experiments/random_quantum_circuit_generation.py
  cirq/experiments/random_quantum_circuit_generation_test.py
  docs/characterization/isolated_xeb.ipynb
  docs/characterization/parallel_xeb.ipynb
  docs/characterization/xeb_theory.ipynb
Labels: area/xeb, automerge, cla: yes, front_of_queue_automerge

#3781 Notebooks guide
  CONTRIBUTING.md
  docs/_book.yaml
  docs/_template.ipynb
  docs/dev/notebooks.md
  docs/images/notebook_header.png
  release.md
Labels: automerge, cla: yes, front_of_queue_automerge

#3794 [XEB] Split into three files
  cirq/experiments/fidelity_estimation.py
  cirq/experiments/fidelity_estimation_test.py
  cirq/experiments/xeb_fitting.py
  cirq/experiments/xeb_fitting_test.py
  cirq/experiments/xeb_sampling.py
  cirq/experiments/xeb_sampling_test.py
  cirq/experiments/xeb_simulation.py
  cirq/experiments/xeb_simulation_test.py
  docs/characterization/isolated_xeb.ipynb
  docs/characterization/parallel_xeb.ipynb
  docs/characterization/xeb_coherent_noise.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge

#3720 Add from_moment to PhasedFSimCalibrationRequest
  cirq/google/calibration/phased_fsim.py
  cirq/google/calibration/phased_fsim_test.py
Labels: cla: yes

#3798 Revert "Drop python 3.6 support"
  .github/workflows/ci.yml
  dev_tools/notebooks/isolated_notebook_test.py
  pyproject.toml
  setup.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3673 Enforce unique serialization keys
  cirq/protocols/json_serialization.py
  cirq/protocols/json_serialization_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3801 Fix Result constructing a pandas dataframe to compute repetitions
  cirq/study/result.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3810 Improve naming and docstrings of characterization methods
  cirq/google/__init__.py
  cirq/google/calibration/__init__.py
  cirq/google/calibration/workflow.py
  cirq/google/calibration/workflow_test.py
Labels: cla: yes

#3817 adding standard header to characterization notebooks
  dev_tools/notebooks/isolated_notebook_test.py
  docs/qcvv/isolated_xeb.ipynb
  docs/qcvv/parallel_xeb.ipynb
  docs/qcvv/xeb_coherent_noise.ipynb
  docs/qcvv/xeb_theory.ipynb
Labels: area/xeb, automerge, cla: yes, front_of_queue_automerge

#3793 Adding two options for the MPS simulator: max_bond and method
  cirq/contrib/quimb/__init__.py
  cirq/contrib/quimb/mps_simulator.py
  cirq/contrib/quimb/mps_simulator_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3805 Add Circuit.tetris_concat and FrozenCircuit.tetris_concat
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
  cirq/circuits/frozen_circuit.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3765 Add Floquet calibration docs
  docs/_book.yaml
  docs/google/floquet.ipynb
Labels: cla: yes

#3791 Don't serialize GridQubit hash when pickling
  cirq/devices/grid_qubit.py
  cirq/devices/grid_qubit_test.py
Labels: cla: yes

#3818 Improve type safety with generics on simulators
  cirq/contrib/quimb/mps_simulator.py
  cirq/experiments/xeb_simulation.py
  cirq/experiments/xeb_simulation_test.py
  cirq/google/calibration/engine_simulator.py
  cirq/sim/clifford/clifford_simulator.py
  cirq/sim/density_matrix_simulator.py
  cirq/sim/mux.py
  cirq/sim/simulator.py
  cirq/sim/simulator_test.py
  cirq/sim/sparse_simulator.py
  cirq/sim/state_vector_simulator.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3796 Allow quantum engine timeslots to handle missing start/end values
  cirq/google/engine/engine_timeslot.py
  cirq/google/engine/engine_timeslot_test.py
Labels: cla: yes

#3826 [Docs] Move Floquet calibration docs to tutorials/google
  docs/_book.yaml
  docs/tutorials/google/floquet.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge

#3813 Add prepare_floquet_characterization_for_operations function
  cirq/__init__.py
  cirq/experiments/google_v2_supremacy_circuit.py
  cirq/google/calibration/workflow.py
  cirq/google/calibration/workflow_test.py
Labels: cla: yes

#3812 Add option to do per-operation compensation
  cirq/google/__init__.py
  cirq/google/calibration/__init__.py
  cirq/google/calibration/phased_fsim.py
  cirq/google/calibration/phased_fsim_test.py
  cirq/google/calibration/workflow.py
  cirq/google/calibration/workflow_test.py
Labels: cla: yes

#3827 Ensure only measured subcircuits cause full simulator sweeps
  cirq/sim/density_matrix_simulator.py
  cirq/sim/density_matrix_simulator_test.py
  cirq/sim/simulator.py
  cirq/sim/sparse_simulator.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3795 [XEB] Optimize/characterize by pair
  cirq/experiments/random_quantum_circuit_generation.py
  cirq/experiments/random_quantum_circuit_generation_test.py
  cirq/experiments/xeb_fitting.py
  cirq/experiments/xeb_fitting_test.py
  cirq/experiments/xeb_sampling.py
  cirq/experiments/xeb_sampling_test.py
  docs/qcvv/isolated_xeb.ipynb
  docs/qcvv/parallel_xeb.ipynb
  docs/qcvv/xeb_coherent_noise.ipynb
Labels: area/xeb, automerge, cla: yes, front_of_queue_automerge

#3823 Fix _measurement_keys_ in repeated CircuitOperation and update the separator
  cirq/circuits/circuit_operation.py
  cirq/circuits/circuit_operation_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3836 Fixes for older envs
  cirq/experiments/qubit_characterizations.py
  cirq/linalg/decompositions.py
  cirq/testing/random_circuit.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3830 Expose new calibration methods
  cirq/google/__init__.py
  cirq/google/calibration/__init__.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3822 Airspeed Velocity (asv) performance benchmarks setup: part-1
  .dockerignore
  .github/workflows/ci.yml
  .gitignore
  asv.conf.json
  benchmarks/README.md
  benchmarks/__init__.py
  benchmarks/bench_examples.py
  benchmarks/bench_linalg_decompositions.py
  check/asv_run
  check/pytest-and-incremental-coverage
  check/pytest-changed-files-and-incremental-coverage
  cirq/linalg/decompositions_perf_test.py
  dev_tools/bash_scripts_test.py
  dev_tools/conf/.coveragerc
  dev_tools/conf/pip-list-dev-tools.txt
  dev_tools/incremental_coverage.py
  dev_tools/packaging/verify-published-package.sh
  examples/examples_perf_test.py
Labels: cla: yes

#3839 Task, design discussion, project health issue templates
  .github/ISSUE_TEMPLATE/design_discussion.md
  .github/ISSUE_TEMPLATE/project_health.md
  .github/ISSUE_TEMPLATE/task.md
Labels: automerge, cla: yes, front_of_queue_automerge

#3834 [XEB] Generate calibrations from circuits
  cirq/experiments/random_quantum_circuit_generation.py
  cirq/experiments/random_quantum_circuit_generation_test.py
Labels: area/xeb, automerge, cla: yes, front_of_queue_automerge

#3845 circuit = circuit.freeze()
  cirq/circuits/circuit.py
  cirq/circuits/frozen_circuit_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3829 Allow noise on sparse simulator
  cirq/devices/noise_model.py
  cirq/sim/sparse_simulator.py
  cirq/sim/sparse_simulator_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3842 [XEB] Enable characterizing other gates
  cirq/experiments/xeb_fitting.py
  cirq/experiments/xeb_fitting_test.py
  docs/qcvv/isolated_xeb.ipynb
  docs/qcvv/parallel_xeb.ipynb
  docs/qcvv/xeb_coherent_noise.ipynb
Labels: area/xeb, automerge, cla: yes, front_of_queue_automerge

#3849 fix grpcio-tools version
  cirq/google/api/v1/operations_pb2.py
  cirq/google/api/v1/params_pb2.py
  cirq/google/api/v1/program_pb2.py
  cirq/google/api/v2/batch_pb2.py
  cirq/google/api/v2/calibration_pb2.py
  cirq/google/api/v2/device_pb2.py
  cirq/google/api/v2/metrics_pb2.py
  cirq/google/api/v2/program_pb2.py
  cirq/google/api/v2/result_pb2.py
  cirq/google/api/v2/run_context_pb2.py
  dev_tools/conf/pip-list-dev-tools.txt
Labels: automerge, cla: yes, front_of_queue_automerge

#3792 [obs] 4.1 - Pre-requisites
  cirq/work/observable_measurement.py
  cirq/work/observable_measurement_test.py
Labels: area/expectation-value, automerge, cla: yes, front_of_queue_automerge

#3755 Documentation for accessing the IonQ API
  cirq/ionq/job.py
  cirq/ionq/job_test.py
  cirq/ionq/service.py
  docs/_book.yaml
  docs/ionq/access.md
  docs/ionq/calibrations.md
  docs/ionq/circuits.md
  docs/ionq/jobs.md
  docs/ionq/service.md
Labels: automerge, cla: yes

#3854 Deprecate 0.10.0 deprecated items
  cirq/__init__.py
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
  cirq/contrib/quimb/grid_circuits_test.py
  cirq/contrib/quimb/state_vector_test.py
  cirq/google/__init__.py
  cirq/google/engine/__init__.py
  cirq/google/engine/env_config.py
  cirq/google/engine/env_config_test.py
  cirq/linalg/__init__.py
  cirq/linalg/transformations.py
  cirq/linalg/transformations_test.py
  cirq/ops/__init__.py
  cirq/ops/fourier_transform.py
  cirq/ops/fourier_transform_test.py
  cirq/ops/linear_combinations.py
  cirq/ops/linear_combinations_test.py
  cirq/ops/pauli_string.py
  cirq/ops/pauli_string_test.py
  cirq/protocols/__init__.py
  cirq/protocols/json_test_data/spec.py
  cirq/protocols/mixture_protocol.py
  cirq/protocols/mixture_protocol_test.py
  cirq/qis/__init__.py
  cirq/qis/states.py
  cirq/qis/states_test.py
  cirq/sim/__init__.py
  cirq/sim/clifford/clifford_simulator.py
  cirq/sim/clifford/clifford_simulator_test.py
  cirq/sim/clifford/stabilizer_state_ch_form.py
  cirq/sim/clifford/stabilizer_state_ch_form_test.py
  cirq/sim/mux.py
  cirq/sim/mux_test.py
  cirq/sim/state_vector.py
  cirq/sim/state_vector_simulator.py
  cirq/sim/state_vector_simulator_test.py
  cirq/sim/state_vector_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3856 Deprecate 0.9 deprecated items
  cirq/linalg/__init__.py
  cirq/linalg/states.py
  cirq/linalg/states_test.py
  cirq/ops/moment.py
  cirq/ops/moment_test.py
  cirq/sim/__init__.py
  cirq/sim/density_matrix_utils.py
  cirq/sim/density_matrix_utils_test.py
  cirq/sim/state_vector.py
  cirq/sim/state_vector_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3857 Refactor MPS simulator to add noise, after #3829
  cirq/contrib/quimb/mps_simulator.py
  cirq/contrib/quimb/mps_simulator_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3859 Update reference link in readme
  README.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#3821 Add circuit Alignment and use it for zip and tetris_concat
  cirq/__init__.py
  cirq/circuits/__init__.py
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
  cirq/circuits/frozen_circuit.py
  cirq/protocols/json_test_data/spec.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3862 Add support for using physical-Z phase matching on 2-qubit gates
  cirq/google/common_serializers.py
  cirq/google/common_serializers_test.py
  cirq/google/devices/known_devices_test.py
Labels: cla: yes
