Repository quantumlib/Cirq, pull requests merged in 2021-09, with the labels that each got.

#4463 Refactor ActOnArgs.kron/factor/transpose to reduce code duplication
  cirq-core/cirq/contrib/quimb/mps_simulator.py
  cirq-core/cirq/sim/act_on_args.py
  cirq-core/cirq/sim/act_on_args_container_test.py
  cirq-core/cirq/sim/act_on_args_test.py
  cirq-core/cirq/sim/act_on_density_matrix_args.py
  cirq-core/cirq/sim/act_on_state_vector_args.py
  cirq-core/cirq/sim/clifford/act_on_clifford_tableau_args.py
  cirq-core/cirq/sim/clifford/act_on_stabilizer_ch_form_args.py
  cirq-core/cirq/sim/simulator_base_test.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: L

#4467 Append list of wrapped `finders` in `sys.meta_path` with list of `non-wrapped` finders
  cirq-core/cirq/_compat.py
  cirq-core/cirq/_compat_test.py
  dev_tools/conf/mypy.ini
Labels: cla: yes, automerge, front_of_queue_automerge, Size: XS, size: XL

#4444 Adds PauliMeasurementGate
  cirq-core/cirq/__init__.py
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/ops/__init__.py
  cirq-core/cirq/ops/measure_util.py
  cirq-core/cirq/ops/measure_util_test.py
  cirq-core/cirq/ops/pauli_measurement_gate.py
  cirq-core/cirq/ops/pauli_measurement_gate_test.py
  cirq-core/cirq/protocols/json_test_data/PauliMeasurementGate.json
  cirq-core/cirq/protocols/json_test_data/PauliMeasurementGate.repr
Labels: cla: yes, size: L

#4471 Replace decomposition in measurement_key_protocol with explicit implementations
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/ops/moment.py
  cirq-core/cirq/protocols/measurement_key_protocol.py
  cirq-core/cirq/protocols/measurement_key_protocol_test.py
Labels: cla: yes, size: S

#4473 Bump the proto requirements to match the generated data.
  check/build-changed-protos
  cirq-google/requirements.txt
  dev_tools/requirements/deps/protos.txt
Labels: cla: yes, automerge, front_of_queue_automerge, Size: XS, size: XL

#4286 Abstract out auth+device+sampler boilerplate from cirq_google tutorials
  cirq-google/cirq_google/engine/engine_sampler.py
  cirq-google/cirq_google/engine/qcs_notebook.py
  cirq-google/cirq_google/engine/qcs_notebook_test.py
  dev_tools/conf/mypy.ini
  docs/tutorials/google/calibration_api.ipynb
  docs/tutorials/google/colab.ipynb
  docs/tutorials/google/compare_to_calibration.ipynb
  docs/tutorials/google/echoes.ipynb
  docs/tutorials/google/floquet_calibration_example.ipynb
  docs/tutorials/google/reservations.ipynb
  docs/tutorials/google/spin_echoes.ipynb
  docs/tutorials/google/start.ipynb
  docs/tutorials/google/visualizing_calibration_metrics.ipynb
  docs/tutorials/google/xeb_calibration_example.ipynb
Labels: cla: yes, automerge, front_of_queue_automerge, size: L

#4442 [Docs] Add calibration FAQ
  docs/_book.yaml
  docs/google/calibration_faq.md
  docs/google/linear_chain_with_calibration_example_results.png
  docs/google/loschmidt_echo_with_calibration_example_results.png
  docs/google/merge_subsets.png
  docs/tutorials/google/calibration_api.ipynb
Labels: cla: yes, automerge, front_of_queue_automerge, size: L

#4496 Fix broken Floquet tutorial
  docs/tutorials/google/floquet_calibration_example.ipynb
Labels: cla: yes, automerge, front_of_queue_automerge, Size: XS

#4482 Implemented State Preparation Gate
  cirq-core/cirq/__init__.py
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/ops/__init__.py
  cirq-core/cirq/ops/state_preparation_channel.py
  cirq-core/cirq/ops/state_preparation_channel_test.py
  cirq-core/cirq/protocols/json_test_data/StatePreparationChannel.json
  cirq-core/cirq/protocols/json_test_data/StatePreparationChannel.repr
Labels: cla: yes, automerge, front_of_queue_automerge, size: M

#4502 Fix incorrect index in intro.ipynb
  docs/tutorials/educators/intro.ipynb
Labels: cla: yes, Size: XS

#4504 Fix broken tutorials depending on cirq pre-release
  cirq-google/cirq_google/engine/qcs_notebook.py
  cirq-google/cirq_google/engine/qcs_notebook_test.py
  dev_tools/notebooks/isolated_notebook_test.py
  docs/tutorials/google/calibration_api.ipynb
  docs/tutorials/google/colab.ipynb
  docs/tutorials/google/compare_to_calibration.ipynb
  docs/tutorials/google/echoes.ipynb
  docs/tutorials/google/floquet_calibration_example.ipynb
  docs/tutorials/google/reservations.ipynb
  docs/tutorials/google/spin_echoes.ipynb
  docs/tutorials/google/start.ipynb
  docs/tutorials/google/visualizing_calibration_metrics.ipynb
  docs/tutorials/google/xeb_calibration_example.ipynb
Labels: cla: yes, automerge, front_of_queue_automerge, size: M

#4491 Add cirq.GateFamily and cirq.Gateset
  cirq-core/cirq/__init__.py
  cirq-core/cirq/ops/__init__.py
  cirq-core/cirq/ops/gateset.py
  cirq-core/cirq/ops/gateset_test.py
  cirq-core/cirq/protocols/json_test_data/spec.py
Labels: cla: yes, automerge, size: L

#4505 Add type annotation on FrozenCircuit.to_op
  cirq-core/cirq/circuits/frozen_circuit.py
Labels: cla: yes, automerge, front_of_queue_automerge, Size: XS

#4506 Little json things
  cirq-core/cirq/protocols/json_serialization_test.py
Labels: cla: yes, automerge, front_of_queue_automerge, Size: XS, size: S

#4229 Consolidate SQRT_ISWAP gate defs
  cirq-core/cirq/experiments/xeb_fitting.py
  cirq-core/cirq/experiments/xeb_fitting_test.py
  cirq-core/cirq/experiments/xeb_sampling_test.py
  cirq-core/cirq/experiments/xeb_simulation_test.py
  cirq-google/cirq_google/calibration/xeb_wrapper_test.py
  cirq-google/cirq_google/optimizers/convert_to_sqrt_iswap.py
  docs/qcvv/xeb_coherent_noise.ipynb
  docs/qcvv/xeb_theory.ipynb
  docs/tutorials/basics.ipynb
Labels: cla: yes, automerge, front_of_queue_automerge, size: M

#4462 Exponent should be drawn on target qubit in CX and CCX gates
  cirq-core/cirq/ops/common_gates.py
  cirq-core/cirq/ops/common_gates_test.py
  cirq-core/cirq/ops/three_qubit_gates.py
  cirq-core/cirq/ops/three_qubit_gates_test.py
Labels: cla: yes, automerge, BREAKING CHANGE, front_of_queue_automerge, size: S

#4514 Explicitly throw TimeoutError when job times out
  cirq-ionq/cirq_ionq/job.py
  cirq-ionq/cirq_ionq/job_test.py
Labels: cla: yes, size: S

#4520 Fix docstring for fsim gate
  cirq-core/cirq/ops/fsim_gate.py
Labels: cla: yes, Size: XS

#4517 Add common gate families as part of adopting gatesets across Cirq.
  cirq-core/cirq/__init__.py
  cirq-core/cirq/ops/__init__.py
  cirq-core/cirq/ops/common_gate_families.py
  cirq-core/cirq/ops/common_gate_families_test.py
  cirq-core/cirq/protocols/json_test_data/spec.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: M

#4522 Use Gatesets in cirq/ion
  cirq-core/cirq/ion/convert_to_ion_gates.py
  cirq-core/cirq/ion/ion_device.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: S

#4523 Use Gatesets in cirq_pasqal/*
  cirq-pasqal/cirq_pasqal/pasqal_device.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: M

#4524 Use Gatesets in cirq_ionq/*
  cirq-ionq/cirq_ionq/ionq_devices.py
Labels: cla: yes, size: S

#4526 Use Gatesets in cirq/optimizers/*
  cirq-core/cirq/optimizers/convert_to_cz_and_single_gates.py
  cirq-core/cirq/optimizers/merge_interactions.py
  cirq-core/cirq/optimizers/merge_interactions_to_sqrt_iswap.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: M

#4528 Idiomatic use of "segments" in floquet calibration tutorial
  docs/tutorials/google/floquet_calibration_example.ipynb
Labels: cla: yes, size: S

#4536 [Named Topologies] LineTopology nodes_as_linequbits
  cirq-core/cirq/devices/named_topologies.py
  cirq-core/cirq/devices/named_topologies_test.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: S

#4503 Code Quality Fixes in StatePreparationChannel
  cirq-core/cirq/ops/state_preparation_channel.py
  cirq-core/cirq/ops/state_preparation_channel_test.py
  cirq-core/cirq/protocols/json_test_data/StatePreparationChannel.json
  cirq-core/cirq/protocols/json_test_data/StatePreparationChannel.repr
Labels: cla: yes, size: S

#4165 Replace the underlying representation of SingleCliffordGate by CliffordTableau
  cirq-core/cirq/ops/__init__.py
  cirq-core/cirq/ops/clifford_gate.py
  cirq-core/cirq/ops/clifford_gate_test.py
  cirq-core/cirq/protocols/json_test_data/SingleQubitCliffordGate.json
  cirq-core/cirq/protocols/json_test_data/SingleQubitCliffordGate.repr
  cirq-core/cirq/qis/clifford_tableau.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: M

#4540 Re-add `all_measurement_keys` and deprecate it
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_test.py
Labels: cla: yes, automerge, front_of_queue_automerge, Size: XS

#4537 Add separators argument to to_json function.
  cirq-core/cirq/protocols/json_serialization.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: S

#4519 Fix broken path instructions in setting up a dev environment
  docs/dev/development.md
Labels: cla: yes, automerge, front_of_queue_automerge, size: S

#4521 Fix resolving integer divisions
  cirq-core/cirq/study/resolver.py
  cirq-core/cirq/study/resolver_test.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: S

#4534 Fixed test_clifford_circuit_3
  cirq-core/cirq/sim/clifford/clifford_simulator_test.py
Labels: cla: yes, automerge, front_of_queue_automerge, Size: XS

#4527 [cirqflow] Quantum Executable
  cirq-core/cirq/_compat.py
  cirq-core/cirq/_compat_test.py
  cirq-core/cirq/protocols/json_serialization_test.py
  cirq-core/cirq/protocols/json_test_data/spec.py
  cirq-core/cirq/study/resolver.py
  cirq-core/cirq/testing/json.py
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/json_resolver_cache.py
  cirq-google/cirq_google/json_test_data/cirq.google.BitstringsMeasurement.json
  cirq-google/cirq_google/json_test_data/cirq.google.BitstringsMeasurement.repr
  cirq-google/cirq_google/json_test_data/spec.py
  cirq-google/cirq_google/workflow/__init__.py
  cirq-google/cirq_google/workflow/quantum_executable.py
  cirq-google/cirq_google/workflow/quantum_executable_test.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: M
