Repository quantumlib/Cirq, pull requests merged in 2021-12, with the labels that each got.

#4715 Support serialization of GateFamilies
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/ops/common_gate_families.py
  cirq-core/cirq/ops/gateset.py
  cirq-core/cirq/ops/gateset_test.py
  cirq-core/cirq/protocols/json_test_data/AnyIntegerPowerGateFamily.json
  cirq-core/cirq/protocols/json_test_data/AnyIntegerPowerGateFamily.repr
  cirq-core/cirq/protocols/json_test_data/AnyUnitaryGateFamily.json
  cirq-core/cirq/protocols/json_test_data/AnyUnitaryGateFamily.repr
  cirq-core/cirq/protocols/json_test_data/GateFamily.json
  cirq-core/cirq/protocols/json_test_data/GateFamily.repr
  cirq-core/cirq/protocols/json_test_data/ParallelGateFamily.json
  cirq-core/cirq/protocols/json_test_data/ParallelGateFamily.repr
  cirq-core/cirq/protocols/json_test_data/spec.py
  cirq-google/cirq_google/json_resolver_cache.py
  cirq-google/cirq_google/json_test_data/FSimGateFamily.json
  cirq-google/cirq_google/json_test_data/FSimGateFamily.repr
  cirq-google/cirq_google/json_test_data/spec.py
  cirq-google/cirq_google/ops/fsim_gate_family.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: L

#4700 [runtime] QubitPlacer part 1
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/json_resolver_cache.py
  cirq-google/cirq_google/json_test_data/cirq.google.ExecutableResult.json
  cirq-google/cirq_google/json_test_data/cirq.google.ExecutableResult.repr
  cirq-google/cirq_google/json_test_data/cirq.google.NaiveQubitPlacer.json
  cirq-google/cirq_google/json_test_data/cirq.google.NaiveQubitPlacer.repr
  cirq-google/cirq_google/json_test_data/cirq.google.RuntimeInfo.json
  cirq-google/cirq_google/json_test_data/cirq.google.RuntimeInfo.repr
  cirq-google/cirq_google/json_test_data/cirq.google.SharedRuntimeInfo.repr
  cirq-google/cirq_google/json_test_data/spec.py
  cirq-google/cirq_google/workflow/__init__.py
  cirq-google/cirq_google/workflow/quantum_executable_test.py
  cirq-google/cirq_google/workflow/quantum_runtime.py
  cirq-google/cirq_google/workflow/quantum_runtime_test.py
  cirq-google/cirq_google/workflow/qubit_placement.py
  cirq-google/cirq_google/workflow/qubit_placement_test.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: M

#4707 Efficient 2q state preparation methods using CZ and SQRT_ISWAP
  cirq-core/cirq/__init__.py
  cirq-core/cirq/optimizers/__init__.py
  cirq-core/cirq/optimizers/two_qubit_state_preparation.py
  cirq-core/cirq/optimizers/two_qubit_state_preparation_test.py
Labels: cla: yes, size: M

#4724 Support serialization of Gatesets
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/ops/gateset.py
  cirq-core/cirq/protocols/json_test_data/Gateset.json
  cirq-core/cirq/protocols/json_test_data/Gateset.repr
  cirq-core/cirq/protocols/json_test_data/spec.py
Labels: cla: yes, size: M

#4723 Change Engine to implement AbstractEngine
  cirq-google/cirq_google/calibration/workflow.py
  cirq-google/cirq_google/engine/abstract_job.py
  cirq-google/cirq_google/engine/abstract_processor.py
  cirq-google/cirq_google/engine/abstract_program.py
  cirq-google/cirq_google/engine/engine.py
  cirq-google/cirq_google/engine/engine_job.py
  cirq-google/cirq_google/engine/engine_job_test.py
  cirq-google/cirq_google/engine/engine_processor.py
  cirq-google/cirq_google/engine/engine_processor_test.py
  cirq-google/cirq_google/engine/engine_program.py
  cirq-google/cirq_google/engine/engine_program_test.py
  cirq-google/cirq_google/engine/engine_sampler.py
  cirq-google/cirq_google/engine/engine_test.py
  cirq-google/cirq_google/engine/simulated_local_processor.py
Labels: cla: yes, size: L

#4718 Add runtime estimator
  cirq-google/cirq_google/engine/__init__.py
  cirq-google/cirq_google/engine/runtime_estimator.py
  cirq-google/cirq_google/engine/runtime_estimator_test.py
Labels: cla: yes, size: L

#4731 Support FrozenCircuit in`cg.Engine`
  cirq-google/cirq_google/engine/engine.py
  cirq-google/cirq_google/engine/engine_sampler.py
  cirq-google/cirq_google/engine/engine_sampler_test.py
  cirq-google/cirq_google/engine/engine_test.py
  cirq-google/cirq_google/serialization/serializable_gate_set.py
  cirq-google/cirq_google/serialization/serializable_gate_set_test.py
Labels: size: S

#4550 Circuit superoperator
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_test.py
  cirq-core/cirq/ops/moment.py
  cirq-core/cirq/ops/moment_test.py
Labels: cla: yes, size: M

#4735 Add missing `_has_*_` methods
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_test.py
  cirq-core/cirq/ops/moment.py
  cirq-core/cirq/ops/moment_test.py
Labels: automerge, front_of_queue_automerge, size: S

#4631 Classical control
  cirq-core/cirq/__init__.py
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_test.py
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/ops/__init__.py
  cirq-core/cirq/ops/classically_controlled_operation.py
  cirq-core/cirq/ops/classically_controlled_operation_test.py
  cirq-core/cirq/ops/moment.py
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/protocols/__init__.py
  cirq-core/cirq/protocols/circuit_diagram_info_protocol.py
  cirq-core/cirq/protocols/control_key_protocol.py
  cirq-core/cirq/protocols/json_test_data/ClassicallyControlledOperation.json
  cirq-core/cirq/protocols/json_test_data/ClassicallyControlledOperation.repr
  cirq-core/cirq/sim/act_on_args.py
  cirq-core/cirq/sim/clifford/stabilizer_sampler.py
  cirq-core/cirq/sim/density_matrix_simulator.py
  examples/quantum_teleportation.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: L

#4708 Add `merge_operations` and `merge_moments` transformer primitives
  cirq-core/cirq/__init__.py
  cirq-core/cirq/optimizers/__init__.py
  cirq-core/cirq/optimizers/transformer_primitives.py
  cirq-core/cirq/optimizers/transformer_primitives_test.py
Labels: cla: yes, size: M

#4697 Implement GlobalPhaseGate
  cirq-core/cirq/__init__.py
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_operation_test.py
  cirq-core/cirq/circuits/circuit_test.py
  cirq-core/cirq/interop/quirk/cells/scalar_cells.py
  cirq-core/cirq/interop/quirk/cells/scalar_cells_test.py
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/linalg/decompositions.py
  cirq-core/cirq/ops/__init__.py
  cirq-core/cirq/ops/dense_pauli_string.py
  cirq-core/cirq/ops/diagonal_gate.py
  cirq-core/cirq/ops/gate_operation.py
  cirq-core/cirq/ops/gateset.py
  cirq-core/cirq/ops/gateset_test.py
  cirq-core/cirq/ops/global_phase_op.py
  cirq-core/cirq/ops/global_phase_op_test.py
  cirq-core/cirq/ops/pauli_string.py
  cirq-core/cirq/ops/pauli_string_test.py
  cirq-core/cirq/ops/raw_types_test.py
  cirq-core/cirq/optimizers/cphase_to_fsim.py
  cirq-core/cirq/optimizers/transformer_primitives_test.py
  cirq-core/cirq/optimizers/two_qubit_to_fsim.py
  cirq-core/cirq/optimizers/two_qubit_to_sqrt_iswap_test.py
  cirq-core/cirq/protocols/json_test_data/GlobalPhaseGate.json
  cirq-core/cirq/protocols/json_test_data/GlobalPhaseGate.repr
  cirq-core/cirq/protocols/json_test_data/spec.py
  cirq-core/cirq/sim/clifford/clifford_simulator_test.py
  cirq-google/cirq_google/calibration/engine_simulator_test.py
  cirq-google/cirq_google/calibration/workflow.py
  cirq-google/cirq_google/calibration/workflow_test.py
  cirq-google/cirq_google/optimizers/convert_to_sqrt_iswap.py
  cirq-ionq/cirq_ionq/ionq_devices_test.py
  cirq-ionq/cirq_ionq/serializer_test.py
Labels: cla: yes, size: M

#4738 QASM parsing for classical controls
  cirq-core/cirq/contrib/qasm_import/_lexer.py
  cirq-core/cirq/contrib/qasm_import/_parser.py
  cirq-core/cirq/contrib/qasm_import/_parser_test.py
Labels: automerge, front_of_queue_automerge, size: S

#4671 Utilities for approximate hardware noise
  cirq-core/cirq/__init__.py
  cirq-core/cirq/devices/__init__.py
  cirq-core/cirq/devices/noise_utils.py
  cirq-core/cirq/devices/noise_utils_test.py
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/protocols/json_test_data/OpIdentifier.json
  cirq-core/cirq/protocols/json_test_data/OpIdentifier.repr
Labels: cla: yes, size: L

#4739 Allow sourcing of dev_tools/pypath from any path
  dev_tools/pypath
Labels: automerge, front_of_queue_automerge, size: S

#4749 Fix scipy.linalg import in swap_gates_test
  cirq-core/cirq/ops/swap_gates_test.py
Labels: automerge, front_of_queue_automerge, Size: XS

#4753 Upgrade pinned `black` version
  dev_tools/requirements/deps/format.txt
Labels: Size: XS

#4672 Insertion noise model
  cirq-core/cirq/devices/__init__.py
  cirq-core/cirq/devices/insertion_noise_model.py
  cirq-core/cirq/devices/insertion_noise_model_test.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: L

#4752 Move `cirq.vis` methods to the outer cirq package
  cirq-core/cirq/__init__.py
Labels: automerge, front_of_queue_automerge, Size: XS

#4756 Fix qasm output for bitmasked measurements
  cirq-core/cirq/circuits/qasm_output_test.py
  cirq-core/cirq/ops/measurement_gate.py
Labels: automerge, front_of_queue_automerge, Size: XS

#4751 Ignore deprecation warnings from protobufs
  conftest.py
Labels: size: S

#4750 Add JSON serialization support for QasmUGate
  cirq-core/cirq/circuits/qasm_output.py
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/protocols/json_test_data/QasmUGate.json
  cirq-core/cirq/protocols/json_test_data/QasmUGate.repr
Labels: automerge, front_of_queue_automerge, size: S

#4759 Add AbstractEngine objects to cirq_google.engine __init__
  cirq-google/cirq_google/engine/__init__.py
  cirq-google/cirq_google/engine/simulated_local_processor.py
  cirq-google/cirq_google/experimental/noise_models/noise_models.py
Labels: size: M

#4696 Implement PauliStringPhasorGate
  cirq-core/cirq/__init__.py
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/ops/__init__.py
  cirq-core/cirq/ops/pauli_string_phasor.py
  cirq-core/cirq/ops/pauli_string_phasor_test.py
  cirq-core/cirq/protocols/json_test_data/PauliStringPhasor.json
  cirq-core/cirq/protocols/json_test_data/PauliStringPhasor.repr
  cirq-core/cirq/protocols/json_test_data/PauliStringPhasorGate.json
  cirq-core/cirq/protocols/json_test_data/PauliStringPhasorGate.repr
  cirq-core/cirq/protocols/json_test_data/spec.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: M

#4767 Add json resolvers for sympy relational operators
  cirq-core/cirq/_compat.py
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/protocols/json_serialization.py
  cirq-core/cirq/protocols/json_test_data/sympy.Equality.json
  cirq-core/cirq/protocols/json_test_data/sympy.Equality.repr
  cirq-core/cirq/protocols/json_test_data/sympy.GreaterThan.json
  cirq-core/cirq/protocols/json_test_data/sympy.GreaterThan.repr
  cirq-core/cirq/protocols/json_test_data/sympy.LessThan.json
  cirq-core/cirq/protocols/json_test_data/sympy.LessThan.repr
  cirq-core/cirq/protocols/json_test_data/sympy.StrictGreaterThan.json
  cirq-core/cirq/protocols/json_test_data/sympy.StrictGreaterThan.repr
  cirq-core/cirq/protocols/json_test_data/sympy.StrictLessThan.json
  cirq-core/cirq/protocols/json_test_data/sympy.StrictLessThan.repr
  cirq-core/cirq/protocols/json_test_data/sympy.Unequality.json
  cirq-core/cirq/protocols/json_test_data/sympy.Unequality.repr
Labels: size: M

#4736 Scoping for control keys
  cirq-core/cirq/__init__.py
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_operation.py
  cirq-core/cirq/circuits/circuit_operation_test.py
  cirq-core/cirq/circuits/circuit_test.py
  cirq-core/cirq/circuits/frozen_circuit.py
  cirq-core/cirq/ops/classically_controlled_operation.py
  cirq-core/cirq/ops/classically_controlled_operation_test.py
  cirq-core/cirq/ops/gate_operation.py
  cirq-core/cirq/ops/kraus_channel.py
  cirq-core/cirq/ops/measurement_gate.py
  cirq-core/cirq/ops/mixed_unitary_channel.py
  cirq-core/cirq/ops/moment.py
  cirq-core/cirq/ops/pauli_measurement_gate.py
  cirq-core/cirq/protocols/__init__.py
  cirq-core/cirq/protocols/apply_mixture_protocol.py
  cirq-core/cirq/protocols/json_test_data/ClassicallyControlledOperation.repr
  cirq-core/cirq/protocols/measurement_key_protocol.py
  cirq-core/cirq/value/measurement_key.py
Labels: automerge, front_of_queue_automerge, size: L

#4518 Fix str/repr explosion in separated states
  cirq-core/cirq/__init__.py
  cirq-core/cirq/_compat.py
  cirq-core/cirq/contrib/quimb/mps_simulator.py
  cirq-core/cirq/protocols/json_test_data/spec.py
  cirq-core/cirq/sim/__init__.py
  cirq-core/cirq/sim/act_on_density_matrix_args.py
  cirq-core/cirq/sim/act_on_state_vector_args.py
  cirq-core/cirq/sim/clifford/clifford_simulator.py
  cirq-core/cirq/sim/density_matrix_simulator.py
  cirq-core/cirq/sim/density_matrix_simulator_test.py
  cirq-core/cirq/sim/simulator.py
  cirq-core/cirq/sim/simulator_base.py
  cirq-core/cirq/sim/simulator_base_test.py
  cirq-core/cirq/sim/sparse_simulator.py
  cirq-core/cirq/sim/sparse_simulator_test.py
  cirq-core/cirq/sim/state_vector_simulator.py
  cirq-core/cirq/sim/state_vector_simulator_test.py
Labels: cla: yes, size: M

#4773 Sanitize type annotations in cirq.sim
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_operation.py
  cirq-core/cirq/circuits/frozen_circuit.py
  cirq-core/cirq/contrib/qcircuit/qcircuit_diagram.py
  cirq-core/cirq/contrib/quimb/mps_simulator.py
  cirq-core/cirq/ops/classically_controlled_operation.py
  cirq-core/cirq/ops/gate_operation.py
  cirq-core/cirq/ops/kraus_channel.py
  cirq-core/cirq/ops/measure_util.py
  cirq-core/cirq/ops/measurement_gate.py
  cirq-core/cirq/ops/mixed_unitary_channel.py
  cirq-core/cirq/ops/moment.py
  cirq-core/cirq/ops/pauli_measurement_gate.py
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/protocols/measurement_key_protocol.py
  cirq-core/cirq/sim/act_on_args.py
  cirq-core/cirq/sim/act_on_args_container.py
  cirq-core/cirq/sim/act_on_density_matrix_args.py
  cirq-core/cirq/sim/act_on_state_vector_args.py
  cirq-core/cirq/sim/clifford/act_on_clifford_tableau_args.py
  cirq-core/cirq/sim/clifford/act_on_stabilizer_ch_form_args.py
  cirq-core/cirq/sim/clifford/clifford_simulator.py
  cirq-core/cirq/sim/clifford/stabilizer_sampler.py
  cirq-core/cirq/sim/density_matrix_simulator.py
  cirq-core/cirq/sim/mux.py
  cirq-core/cirq/sim/simulator.py
  cirq-core/cirq/sim/simulator_base.py
  cirq-core/cirq/sim/sparse_simulator.py
  cirq-core/cirq/sim/state_vector.py
  cirq-core/cirq/sim/state_vector_simulator.py
Labels: size: L

#4770 Unroll circuit_op when validating containment in a gateset
  cirq-core/cirq/ops/gateset.py
  cirq-core/cirq/ops/gateset_test.py
Labels: automerge, front_of_queue_automerge, size: S

#4720 [cirqflow] Convenience method for loading results
  cirq-google/cirq_google/workflow/io.py
  cirq-google/cirq_google/workflow/io_test.py
  cirq-google/cirq_google/workflow/quantum_runtime_test.py
Labels: cla: yes, automerge, front_of_queue_automerge, area/workflow, size: S

#4740 Allow sympy expressions as classical controls
  cirq-core/cirq/__init__.py
  cirq-core/cirq/_compat.py
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/ops/classically_controlled_operation.py
  cirq-core/cirq/ops/classically_controlled_operation_test.py
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/protocols/json_test_data/ClassicallyControlledOperation.json
  cirq-core/cirq/protocols/json_test_data/ClassicallyControlledOperation.repr
  cirq-core/cirq/protocols/json_test_data/KeyCondition.json
  cirq-core/cirq/protocols/json_test_data/KeyCondition.repr
  cirq-core/cirq/protocols/json_test_data/SympyCondition.json
  cirq-core/cirq/protocols/json_test_data/SympyCondition.repr
  cirq-core/cirq/protocols/measurement_key_protocol.py
  cirq-core/cirq/value/__init__.py
  cirq-core/cirq/value/condition.py
  cirq-core/cirq/value/condition_test.py
Labels: automerge, front_of_queue_automerge, size: M

#4776 Sanitize type annotations in cirq.circuits
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_dag.py
  cirq-core/cirq/circuits/circuit_operation.py
  cirq-core/cirq/circuits/frozen_circuit.py
  cirq-core/cirq/circuits/optimization_pass.py
  cirq-core/cirq/circuits/qasm_output.py
  cirq-core/cirq/circuits/text_diagram_drawer.py
Labels: automerge, front_of_queue_automerge, size: M

#4760 Fix ignore_measurement_results=True for subcircuits
  cirq-core/cirq/sim/act_on_args.py
  cirq-core/cirq/sim/act_on_density_matrix_args.py
  cirq-core/cirq/sim/density_matrix_simulator.py
  cirq-core/cirq/sim/density_matrix_simulator_test.py
  cirq-core/cirq/sim/simulator_base.py
Labels: automerge, front_of_queue_automerge, size: M

#4747 Add classes to aid in providing simulated versions of devices
  cirq-google/cirq_google/devices/specifications/rainbow_12_10_2021_device_spec.proto.txt
  cirq-google/cirq_google/devices/specifications/weber_12_10_2021_device_spec.proto.txt
  cirq-google/cirq_google/engine/engine_validator.py
  cirq-google/cirq_google/engine/engine_validator_test.py
  cirq-google/cirq_google/engine/simulated_local_processor.py
  cirq-google/cirq_google/engine/virtual_engine_factory.py
  cirq-google/cirq_google/engine/virtual_engine_factory_test.py
Labels: size: XL

#4765 Fix ResetGate to work with MPS, StabilizerSampler
  cirq-core/cirq/contrib/quimb/mps_simulator_test.py
  cirq-core/cirq/ops/common_channels.py
  cirq-core/cirq/ops/common_channels_test.py
  cirq-core/cirq/sim/act_on_args.py
  cirq-core/cirq/sim/act_on_args_container_test.py
  cirq-core/cirq/sim/act_on_density_matrix_args.py
  cirq-core/cirq/sim/clifford/stabilizer_sampler_test.py
Labels: automerge, front_of_queue_automerge, size: M

#4780 Fix the deprecation warning for `ClassicallyControlledOperation`
  cirq-core/cirq/ops/classically_controlled_operation.py
  docs/dev/serialization.md
Labels: automerge, front_of_queue_automerge, Size: XS
