Repository quantumlib/Cirq, pull requests merged in 2021-03, with the labels that each got.

#3869 Remove unused perform_measurements argument from sparse simulator
  cirq/sim/sparse_simulator.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3861 Add two qubit interaction heatmaps
  cirq/__init__.py
  cirq/google/engine/calibration.py
  cirq/google/engine/calibration_test.py
  cirq/protocols/json_test_data/spec.py
  cirq/vis/__init__.py
  cirq/vis/heatmap.py
  cirq/vis/heatmap_test.py
  examples/bristlecone_heatmap_example.png
  examples/bristlecone_heatmap_example.py
  examples/examples_test.py
  examples/heatmap_examples.py
  examples/single_qubit_heatmap_example.png
  examples/two_qubit_interaction_heatmap_example.png
Labels: BREAKING CHANGE, cla: yes

#3860 fail cirq's use of deprecated features in tests
  cirq/__init__.py
  cirq/_compat.py
  cirq/_compat_test.py
  cirq/circuits/circuit.py
  cirq/circuits/circuit_test.py
  cirq/contrib/quimb/mps_simulator.py
  cirq/google/json_test_data/spec.py
  cirq/ops/moment.py
  cirq/ops/moment_test.py
  cirq/ops/raw_types.py
  cirq/optimizers/__init__.py
  cirq/optimizers/two_qubit_to_fsim.py
  cirq/optimizers/two_qubit_to_fsim_test.py
  cirq/protocols/json_serialization_test.py
  cirq/protocols/json_test_data/spec.py
  cirq/qis/measures.py
  cirq/qis/measures_test.py
  cirq/sim/__init__.py
  cirq/sim/clifford/clifford_simulator.py
  cirq/sim/clifford/clifford_simulator_test.py
  cirq/sim/simulator.py
  cirq/sim/simulator_test.py
  cirq/study/result_test.py
  cirq/testing/__init__.py
  cirq/testing/deprecation.py
  cirq/testing/deprecation_test.py
  cirq/testing/json.py
  cirq/testing/logs.py
  cirq/testing/logs_test.py
  cirq/vis/vis_utils_test.py
  examples/single_qubit_heatmap_example.png
  examples/two_qubit_interaction_heatmap_example.png
Labels: automerge, cla: yes, front_of_queue_automerge

#3863 Exclude names from concise serialization.
  cirq/__init__.py
  cirq/circuits/circuit_operation.py
  cirq/circuits/circuit_operation_test.py
  cirq/circuits/frozen_circuit.py
  cirq/protocols/__init__.py
  cirq/protocols/json_serialization.py
  cirq/protocols/json_serialization_test.py
  cirq/protocols/json_test_data/CircuitOperation.json
  cirq/protocols/json_test_data/FrozenCircuit.json
Labels: automerge, cla: yes, front_of_queue_automerge

#3427 Add PauliSumExponential for commuting Pauli terms
  cirq/__init__.py
  cirq/ops/__init__.py
  cirq/ops/linear_combinations.py
  cirq/ops/linear_combinations_test.py
  cirq/ops/pauli_sum_exponential.py
  cirq/ops/pauli_sum_exponential_test.py
  cirq/protocols/json_test_data/spec.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3835 [Docs] Add support page for issues, requests, and questions
  docs/_book.yaml
  docs/support.md
Labels: automerge, cla: yes, front_of_queue_automerge

#3851 Ensure density matrix doesn't restart at zero between repetitions
  cirq/contrib/quimb/mps_simulator.py
  cirq/sim/clifford/clifford_simulator.py
  cirq/sim/density_matrix_simulator.py
  cirq/sim/density_matrix_simulator_test.py
  cirq/sim/simulator.py
  cirq/sim/sparse_simulator.py
  cirq/sim/sparse_simulator_test.py
  dev_tools/profiling/benchmark_simulators.py
  dev_tools/profiling/benchmark_simulators_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3875 Add empty results fallback for Result.repetitions
  cirq/study/result.py
  cirq/study/result_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3876 Fix release scripts
  dev_tools/conf/pip-list-dev-tools.txt
  dev_tools/packaging/verify-published-package.sh
  setup.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3877 Add @mrwojtek to CODEOWNERS for cirq/docs/qcvv
  .github/CODEOWNERS
Labels: automerge, cla: yes, front_of_queue_automerge

#3758 Add IonQ getting started notebook
  dev_tools/notebooks/isolated_notebook_test.py
  dev_tools/notebooks/notebook_test.py
  docs/_book.yaml
  docs/tutorials/ionq/getting_started.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge

#3871 [XEB] Sundry practical improvements
  cirq/experiments/xeb_fitting.py
  cirq/experiments/xeb_fitting_test.py
  cirq/experiments/xeb_sampling.py
  cirq/experiments/xeb_sampling_test.py
  docs/qcvv/parallel_xeb.ipynb
Labels: area/xeb, automerge, cla: yes, front_of_queue_automerge

#3879 Minor improvements in calibration heatmap api
  cirq/google/engine/calibration.py
  cirq/google/engine/calibration_test.py
  cirq/vis/heatmap.py
  cirq/vis/heatmap_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3882 Version bump 0.11.0
  cirq/_version.py
  dev_tools/notebooks/isolated_notebook_test.py
  docs/qcvv/isolated_xeb.ipynb
  docs/qcvv/parallel_xeb.ipynb
  docs/qcvv/xeb_coherent_noise.ipynb
  docs/qcvv/xeb_theory.ipynb
  docs/tutorials/google/floquet.ipynb
  docs/tutorials/ionq/getting_started.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge

#3887 Add approximate equality for all common_channels except `ResetChannel`
  cirq/ops/common_channels.py
  cirq/ops/common_channels_test.py
Labels: cla: yes

#3889 narrow qiskit dependency
  dev_tools/conf/pip-list-dev-tools.txt
Labels: automerge, cla: yes, front_of_queue_automerge

#3893 Replace _get_op_circuit with op.untagged
  cirq/circuits/circuit.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3878 Update codeowners test following #3877
  dev_tools/codeowners_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3819 [Docs] Patch multiplicative group in Shor tutorial
  docs/tutorials/shor.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge

#3892 Propagate global phase in diagram from sub circuits
  cirq/circuits/circuit.py
  cirq/circuits/circuit_operation_test.py
  cirq/circuits/circuit_test.py
Labels: cla: yes

#3888 Remove cirq.google reference from contrib.quantum_volume and contrib.routing
  cirq/contrib/quantum_volume/quantum_volume.py
  cirq/contrib/quantum_volume/quantum_volume_test.py
  cirq/contrib/routing/device.py
  cirq/contrib/routing/device_test.py
  cirq/protocols/json_serialization_test.py
  dev_tools/notebooks/isolated_notebook_test.py
  docs/qcvv/isolated_xeb.ipynb
  docs/qcvv/parallel_xeb.ipynb
  examples/advanced/quantum_volume.py
  examples/advanced/quantum_volume_errors.ipynb
  examples/advanced/quantum_volume_routing.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge, kind/deprecation

#3905 make flynt incremental
  check/format-incremental
  dev_tools/bash_scripts_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3890 Diagonal gate
  cirq/__init__.py
  cirq/contrib/acquaintance/executor_test.py
  cirq/ops/__init__.py
  cirq/ops/diagonal_gate.py
  cirq/ops/diagonal_gate_test.py
  cirq/protocols/json_test_data/spec.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3911 [Docs] Fix links in Floquet tutorial
  docs/tutorials/google/floquet.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge

#3919 assert_deprecated improvements
  cirq/_compat.py
  cirq/_compat_test.py
  cirq/protocols/json_serialization_test.py
  cirq/testing/deprecation.py
  cirq/testing/deprecation_test.py
Labels: automerge, cla: yes, front_of_queue_automerge, kind/deprecation

#3918 Pin pandas version to >= 1.1.4
  requirements.txt
Labels: automerge, cla: yes, front_of_queue_automerge

#3914 Make assert_logs levels interval based
  cirq/testing/deprecation.py
  cirq/testing/logs.py
  cirq/testing/logs_test.py
Labels: cla: yes, kind/deprecation

#3906 Add seconds to engine program id generation
  cirq/google/engine/engine.py
  cirq/google/engine/engine_test.py
Labels: cla: yes

#3841 Density Matrix Simulator ActOn migration
  cirq/__init__.py
  cirq/ops/measurement_gate.py
  cirq/protocols/json_test_data/spec.py
  cirq/sim/__init__.py
  cirq/sim/act_on_args.py
  cirq/sim/act_on_args_test.py
  cirq/sim/act_on_density_matrix_args.py
  cirq/sim/act_on_density_matrix_args_test.py
  cirq/sim/act_on_state_vector_args.py
  cirq/sim/act_on_state_vector_args_test.py
  cirq/sim/clifford/act_on_clifford_tableau_args.py
  cirq/sim/clifford/act_on_stabilizer_ch_form_args.py
  cirq/sim/density_matrix_simulator.py
  cirq/sim/density_matrix_utils.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3891 CircuitOperation proto
  cirq/google/api/v2/program.proto
  cirq/google/api/v2/program_pb2.py
  cirq/google/api/v2/program_pb2.pyi
Labels: automerge, cla: yes, front_of_queue_automerge

#3921 Allow custom definition for _sympy_pass_through
  cirq/protocols/resolve_parameters.py
  cirq/study/resolver.py
  cirq/study/resolver_test.py
Labels: cla: yes

#3922 Change type signature of cirq.resolve_parameters to preserve types
  cirq/ops/diagonal_gate.py
  cirq/ops/two_qubit_diagonal_gate.py
  cirq/protocols/resolve_parameters.py
Labels: automerge, cla: yes

#3618 Fix for issue #2777: it makes no sense to call simulator.run when ignore_measurement_results has been set to True
  cirq/sim/density_matrix_simulator.py
  cirq/sim/density_matrix_simulator_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3899 decompose_preserving_structure
  cirq/protocols/decompose_protocol.py
  cirq/protocols/decompose_protocol_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3880 Adds a tutorial for single/two qubit heatmaps
  docs/_book.yaml
  docs/tutorials/google/visualizing_calibration_metrics.ipynb
  docs/visualization/heatmaps.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge

#3927 Make SimulatesExpectationValues public
  cirq/__init__.py
  cirq/sim/__init__.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3925 Clean up _resolve_parameters_ method signatures
  cirq/circuits/circuit.py
  cirq/circuits/circuit_operation.py
  cirq/circuits/frozen_circuit.py
  cirq/ops/controlled_gate.py
  cirq/ops/controlled_operation.py
  cirq/ops/dense_pauli_string.py
  cirq/ops/diagonal_gate.py
  cirq/ops/eigen_gate.py
  cirq/ops/fourier_transform.py
  cirq/ops/fsim_gate.py
  cirq/ops/gate_operation.py
  cirq/ops/linear_combinations.py
  cirq/ops/parallel_gate_operation.py
  cirq/ops/pauli_string_phasor.py
  cirq/ops/pauli_sum_exponential.py
  cirq/ops/phased_iswap_gate.py
  cirq/ops/phased_x_gate.py
  cirq/ops/phased_x_z_gate.py
  cirq/ops/random_gate_channel.py
  cirq/ops/raw_types.py
  cirq/ops/raw_types_test.py
  cirq/ops/three_qubit_gates.py
  cirq/ops/two_qubit_diagonal_gate.py
  cirq/ops/wait_gate.py
  cirq/protocols/resolve_parameters.py
  cirq/protocols/resolve_parameters_test.py
  cirq/study/resolver.py
  cirq/testing/consistent_phase_by_test.py
  cirq/testing/consistent_protocols_test.py
  cirq/value/duration.py
  cirq/value/periodic_value.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3926 Simplify type annotations in mps_simulator.py
  cirq/contrib/quimb/mps_simulator.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3920 Add Rx, Ry, Rz gates
  cirq/__init__.py
  cirq/json_resolver_cache.py
  cirq/ops/__init__.py
  cirq/ops/common_gates.py
  cirq/ops/common_gates_test.py
  cirq/ops/eigen_gate.py
  cirq/protocols/json_serialization_test.py
  cirq/protocols/json_test_data/Rx.json
  cirq/protocols/json_test_data/Rx.repr
  cirq/protocols/json_test_data/Ry.json
  cirq/protocols/json_test_data/Ry.repr
  cirq/protocols/json_test_data/Rz.json
  cirq/protocols/json_test_data/Rz.repr
Labels: automerge, cla: yes, front_of_queue_automerge

#3928 remove cirq.google dependency from three qubit gates test
  cirq/circuits/circuit_test.py
  cirq/ops/three_qubit_gates_test.py
  cirq/testing/__init__.py
  cirq/testing/devices.py
  cirq/testing/devices_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3894 Pytest without cirq.google
  .github/workflows/ci.yml
  check/pytest
  cirq/__init__.py
  cirq/circuits/frozen_circuit_test.py
  cirq/contrib/paulistring/recombine_test.py
  cirq/experiments/google_v2_supremacy_circuit_test.py
  cirq/experiments/random_quantum_circuit_generation_test.py
  cirq/google/devices/known_devices_test.py
  cirq/ops/measurement_gate.py
  cirq/optimizers/cphase_to_fsim_test.py
  cirq/optimizers/two_qubit_to_fsim_test.py
  cirq/protocols/json_test_data/TaggedOperation.json
  cirq/protocols/json_test_data/TaggedOperation.repr
  dev_tools/notebooks/notebook_test.py
  dev_tools/profiling/benchmark_simulators.py
  dev_tools/profiling/benchmark_simulators_test.py
  examples/advanced/quantum_volume_test.py
  examples/direct_fidelity_estimation_test.py
  examples/examples_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3917 Module deprecator
  cirq/_compat.py
  cirq/_compat_test.py
  cirq/testing/_compat_test_data/__init__.py
  cirq/testing/_compat_test_data/module_a/__init__.py
  cirq/testing/_compat_test_data/module_a/dupe/__init__.py
  cirq/testing/_compat_test_data/module_a/module_b/__init__.py
  cirq/testing/_compat_test_data/module_a/module_b/module_c/__init__.py
  cirq/testing/_compat_test_data/module_a/sub/__init__.py
  cirq/testing/_compat_test_data/module_a/sub/subsub/__init__.py
  cirq/testing/_compat_test_data/module_a/sub/subsub/dupe.py
  cirq/testing/_compat_test_data/module_a/types.py
  cirq/testing/_compat_test_data/repeated/__init__.py
  cirq/testing/_compat_test_data/repeated/cirq/__init__.py
  cirq/testing/_compat_test_data/repeated/cirq/testing/__init__.py
  cirq/testing/_compat_test_data/repeated/cirq/testing/_compat_test_data/__init__.py
  cirq/testing/_compat_test_data/repeated/cirq/testing/_compat_test_data/repeated_child/__init__.py
  cirq/testing/_compat_test_data/repeated/cirq/testing/_compat_test_data/repeated_child/child/__init__.py
  dev_tools/conf/mypy.ini
  dev_tools/conf/pip-install-minimal-for-pytest-changed-files.sh
  dev_tools/conf/pip-list-dev-tools.txt
Labels: automerge, cla: yes, front_of_queue_automerge

#3936 Removed unused param in DFE example
  examples/direct_fidelity_estimation.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3931 Fix calibration API timestamp
  cirq/google/engine/engine.py
  cirq/google/engine/engine_test.py
Labels: cla: yes

#3937 Fix a bug in module deprecator
  cirq/_compat.py
  cirq/_compat_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3940 Adds git-blame-ignore-rev and instructions
  .git-blame-ignore-revs
  docs/dev/development.md
Labels: automerge, cla: yes, front_of_queue_automerge

#3942 Add integrated histogram visualizations
  cirq/__init__.py
  cirq/google/engine/calibration.py
  cirq/google/engine/calibration_test.py
  cirq/vis/__init__.py
  cirq/vis/histogram.py
  cirq/vis/histogram_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3947 support pytest.skip() in subprocess tests in _compat_test.py
  cirq/_compat_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3945 filter pre-release job for only main repo
  .github/workflows/release-master.yml
Labels: automerge, cla: yes, front_of_queue_automerge

#3934 Add docstring for cirq.QasmOutput
  cirq/circuits/circuit.py
  cirq/circuits/qasm_output.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3924 Return type annotations for `def _eigen_components()`
  cirq/ops/common_gates.py
  cirq/ops/eigen_gate_test.py
  cirq/ops/parity_gates.py
  cirq/ops/phased_iswap_gate.py
  cirq/ops/swap_gates.py
  cirq/ops/three_qubit_gates.py
  cirq/testing/consistent_protocols_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3949 Fix name collision in program proto
  cirq/google/api/v2/program.proto
  cirq/google/api/v2/program_pb2.py
  cirq/google/api/v2/program_pb2.pyi
Labels: automerge, cla: yes, front_of_queue_automerge

#3950 Allow deprecation for freezegun
  cirq/google/engine/engine_processor_test.py
  cirq/testing/deprecation.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3955 Simulator doc update
  docs/simulation.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge

#3948 Fix load_module wrapping
  cirq/_compat.py
  cirq/_compat_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3959 Add link to Jupyter Notebooks in README.rst
  README.rst
Labels: automerge, cla: yes, front_of_queue_automerge

#3953 Refactor state histograms
  cirq/__init__.py
  cirq/study/visualize.py
  cirq/study/visualize_test.py
  cirq/vis/__init__.py
  cirq/vis/state_histogram.py
  cirq/vis/state_histogram_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3963 Remove go/ link from colab.ipynb
  docs/tutorials/google/colab.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge

#3962 Type annotations for `optimization_pass`
  cirq/circuits/circuit_test.py
  cirq/circuits/optimization_pass_test.py
  cirq/contrib/acquaintance/executor.py
  cirq/google/optimizers/convert_to_sqrt_iswap.py
  cirq/google/optimizers/convert_to_sycamore_gates.py
  cirq/google/optimizers/convert_to_xmon_gates.py
  cirq/neutral_atoms/convert_to_neutral_atom_gates.py
  cirq/optimizers/expand_composite.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3809 Make EqualsTester notice incorrect delegation
  cirq/contrib/routing/swap_network.py
  cirq/google/ops/calibration_tag.py
  cirq/ops/eigen_gate_test.py
  cirq/study/sweeps.py
  cirq/testing/equals_tester.py
  cirq/testing/equals_tester_test.py
  cirq/work/observable_measurement_data.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3956 Update visualizing calibration metrics tutorial
  dev_tools/notebooks/isolated_notebook_test.py
  docs/tutorials/google/visualizing_calibration_metrics.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge

#3967 Improve Cirq Intro Tutorial
  dev_tools/notebooks/isolated_notebook_test.py
  docs/tutorials/educators/intro.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge

#3855 [obs] 4.2 - Basic sampling loop
  cirq/work/__init__.py
  cirq/work/observable_measurement.py
  cirq/work/observable_measurement_test.py
Labels: area/expectation-value, automerge, cla: yes, front_of_queue_automerge

#3961 Migrate MPS to act_on protocol
  cirq/contrib/quimb/mps_simulator.py
  cirq/contrib/quimb/mps_simulator_test.py
  cirq/sim/act_on_args.py
  cirq/sim/act_on_density_matrix_args.py
  cirq/sim/act_on_state_vector_args.py
  cirq/sim/clifford/act_on_clifford_tableau_args.py
  cirq/sim/clifford/act_on_stabilizer_ch_form_args.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3971 Coefficient fix
  docs/tutorials/basics.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge

#3972 Fix and add docstrings to set_state_vector()
  cirq/qis/states.py
  cirq/sim/density_matrix_utils.py
  cirq/sim/simulator.py
  cirq/sim/sparse_simulator.py
  cirq/sim/state_vector.py
  docs/simulation.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge

#3978 Fix docstring for wait helper function
  cirq/ops/wait_gate.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3973 Change the remaining format string to f-string
  check/format-incremental
  cirq/ops/pauli_string.py
Labels: automerge, cla: yes, front_of_queue_automerge

#3981 minor updates to cirq intro
  docs/images/CircuitMomentOperation.png
  docs/tutorials/educators/intro.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge
