Repository quantumlib/Cirq, pull requests merged in 2021-07, with the labels that each got.

#4103 fix for issue #4087
  cirq-core/cirq/ops/linear_combinations.py
  cirq-core/cirq/ops/linear_combinations_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#4100 SimulatorBase independent qubits optimization
  cirq-core/cirq/__init__.py
  cirq-core/cirq/contrib/quimb/mps_simulator.py
  cirq-core/cirq/linalg/transformations.py
  cirq-core/cirq/protocols/act_on_protocol_test.py
  cirq-core/cirq/protocols/json_test_data/spec.py
  cirq-core/cirq/sim/__init__.py
  cirq-core/cirq/sim/act_on_args.py
  cirq-core/cirq/sim/act_on_args_container.py
  cirq-core/cirq/sim/act_on_args_container_test.py
  cirq-core/cirq/sim/act_on_args_test.py
  cirq-core/cirq/sim/act_on_density_matrix_args.py
  cirq-core/cirq/sim/act_on_state_vector_args.py
  cirq-core/cirq/sim/clifford/act_on_clifford_tableau_args_test.py
  cirq-core/cirq/sim/clifford/act_on_stabilizer_ch_form_args_test.py
  cirq-core/cirq/sim/clifford/clifford_simulator.py
  cirq-core/cirq/sim/density_matrix_simulator.py
  cirq-core/cirq/sim/density_matrix_simulator_test.py
  cirq-core/cirq/sim/density_matrix_utils_test.py
  cirq-core/cirq/sim/operation_target.py
  cirq-core/cirq/sim/simulator.py
  cirq-core/cirq/sim/simulator_base.py
  cirq-core/cirq/sim/simulator_base_test.py
  cirq-core/cirq/sim/sparse_simulator.py
  cirq-core/cirq/sim/sparse_simulator_test.py
  cirq-core/cirq/sim/state_vector_simulator.py
  cirq-core/cirq/sim/state_vector_test.py
  cirq-core/cirq/testing/consistent_act_on.py
  cirq-google/cirq_google/calibration/engine_simulator.py
Labels: automerge, cla: yes, front_of_queue_automerge

#4213 Add two-qubit unitary decomposition for (inverse) sqrt-iSWAP
  cirq-core/cirq/__init__.py
  cirq-core/cirq/ops/__init__.py
  cirq-core/cirq/ops/swap_gates.py
  cirq-core/cirq/ops/swap_gates_test.py
  cirq-core/cirq/optimizers/__init__.py
  cirq-core/cirq/optimizers/two_qubit_decompositions.py
  cirq-core/cirq/optimizers/two_qubit_to_sqrt_iswap.py
  cirq-core/cirq/optimizers/two_qubit_to_sqrt_iswap_test.py
  cirq-core/cirq/protocols/json_test_data/SQRT_ISWAP.json
  cirq-core/cirq/protocols/json_test_data/SQRT_ISWAP.repr
  cirq-core/cirq/protocols/json_test_data/SQRT_ISWAP_INV.json
  cirq-core/cirq/protocols/json_test_data/SQRT_ISWAP_INV.repr
Labels: automerge, cla: yes

#4288 Fix behavior of MergeInteractions for tagged partial CZ gates
  cirq-core/cirq/optimizers/merge_interactions.py
  cirq-core/cirq/optimizers/merge_interactions_test.py
Labels: BREAKING CHANGE, cla: yes

#4224 Add Circuit Optimizer for sqrt-iSWAP
  cirq-core/cirq/__init__.py
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/optimizers/__init__.py
  cirq-core/cirq/optimizers/merge_interactions.py
  cirq-core/cirq/optimizers/merge_interactions_to_sqrt_iswap.py
  cirq-core/cirq/optimizers/merge_interactions_to_sqrt_iswap_test.py
  cirq-core/cirq/protocols/json_test_data/spec.py
Labels: automerge, cla: yes, front_of_queue_automerge

#4296 Add py39 testing to CI test matrix.
  .github/workflows/ci.yml
  cirq-core/cirq/contrib/requirements.txt
Labels: automerge, cla: yes, front_of_queue_automerge

#4278 [XEB] Cycle depths during analysis
  cirq-core/cirq/experiments/xeb_fitting.py
  cirq-core/cirq/experiments/xeb_fitting_test.py
Labels: area/xeb, cla: yes

#4300 Use `partial_trace` to factor density matrix
  cirq-core/cirq/linalg/transformations.py
  cirq-core/cirq/sim/density_matrix_simulator_test.py
Labels: cla: yes

#4281 Allow on_each for multi-qubit gates
  cirq-core/cirq/ops/common_channels_test.py
  cirq-core/cirq/ops/gate_features.py
  cirq-core/cirq/ops/identity_test.py
  cirq-core/cirq/ops/raw_types_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#4297 Remove bazel from repo
  .github/workflows/ci.yml
  WORKSPACE
  check/build-changed-protos
  check/build-protos
  cirq-google/cirq_google/api/v1/BUILD
  cirq-google/cirq_google/api/v2/BUILD
  docs/dev/development.md
Labels: automerge, cla: yes, front_of_queue_automerge

#4294 Add reset_each function by analogy with measure_each
  cirq-core/cirq/__init__.py
  cirq-core/cirq/ops/__init__.py
  cirq-core/cirq/ops/common_channels.py
  cirq-core/cirq/ops/common_channels_test.py
Labels: cla: yes

#4301 Return self in Operation.with_tags if adding no tags
  cirq-core/cirq/devices/noise_model.py
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/ops/raw_types_test.py
Labels: cla: yes

#4267 Switch to using the incremental pylint. Turn on documentation linters.
  .github/workflows/ci.yml
  check/pylint-changed-files
  dev_tools/bash_scripts_test.py
  dev_tools/conf/incremental.pylintrc
Labels: automerge, cla: yes, front_of_queue_automerge

#4306 Revert "Switch to using the incremental pylint. Turn on documentation linters."
  .github/workflows/ci.yml
  check/pylint-changed-files
  dev_tools/bash_scripts_test.py
  dev_tools/conf/incremental.pylintrc
Labels: cla: yes

#4282 Add an option to build a PauliSum from a Sympy Boolean expression
  cirq-core/cirq/ops/linear_combinations.py
  cirq-core/cirq/ops/linear_combinations_test.py
  docs/operators_and_observables.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge

#4308 Fix automerge checks
  dev_tools/auto_merge.py
Labels: cla: yes

#4303 Move on_each to Gate, and deprecate SupportsOnEachGate
  cirq-core/cirq/ops/common_channels.py
  cirq-core/cirq/ops/gate_features.py
  cirq-core/cirq/ops/gate_features_test.py
  cirq-core/cirq/ops/identity.py
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/ops/raw_types_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#4110 Sample independent qubit sets without merging state space
  cirq-core/cirq/__init__.py
  cirq-core/cirq/contrib/quimb/mps_simulator.py
  cirq-core/cirq/contrib/quimb/mps_simulator_test.py
  cirq-core/cirq/experiments/grid_parallel_two_qubit_xeb_test.py
  cirq-core/cirq/experiments/single_qubit_readout_calibration_test.py
  cirq-core/cirq/protocols/act_on_protocol_test.py
  cirq-core/cirq/sim/__init__.py
  cirq-core/cirq/sim/act_on_args.py
  cirq-core/cirq/sim/act_on_args_container.py
  cirq-core/cirq/sim/act_on_args_container_test.py
  cirq-core/cirq/sim/act_on_args_test.py
  cirq-core/cirq/sim/act_on_density_matrix_args.py
  cirq-core/cirq/sim/act_on_state_vector_args.py
  cirq-core/cirq/sim/clifford/act_on_clifford_tableau_args.py
  cirq-core/cirq/sim/clifford/act_on_stabilizer_ch_form_args.py
  cirq-core/cirq/sim/clifford/clifford_simulator.py
  cirq-core/cirq/sim/clifford/clifford_simulator_test.py
  cirq-core/cirq/sim/density_matrix_simulator.py
  cirq-core/cirq/sim/density_matrix_simulator_test.py
  cirq-core/cirq/sim/operation_target.py
  cirq-core/cirq/sim/simulator_base.py
  cirq-core/cirq/sim/simulator_base_test.py
  cirq-core/cirq/sim/simulator_test.py
  cirq-core/cirq/sim/sparse_simulator.py
  cirq-core/cirq/sim/sparse_simulator_test.py
  cirq-core/cirq/sim/state_vector_simulator.py
  cirq-google/cirq_google/calibration/engine_simulator.py
Labels: BREAKING CHANGE, cla: yes

#4315 Test deserializer on infinite recursion.
  cirq-google/cirq_google/serializable_gate_set_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#4316 Fix `NameError` in visualizing calibration metrics tutorial
  docs/tutorials/google/visualizing_calibration_metrics.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge

#4290 T1 constant calculation
  cirq-core/cirq/experiments/t1_decay_experiment.py
  cirq-core/cirq/experiments/t1_decay_experiment_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#4320 Add missing quote in circuits.ipynb
  docs/circuits.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge

#4313 pauli_sum_collector.estimate_energy() should return float when energy.imag == 0
  cirq-core/cirq/work/pauli_sum_collector.py
  cirq-core/cirq/work/pauli_sum_collector_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#4314 Fix cirq_web README from large Typescript development PR merge
  cirq-web/cirq_web/README.md
Labels: automerge, cla: yes, front_of_queue_automerge

#4319 Re-alias TrialResult to Result in json.
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/protocols/json_test_data/TrialResult.json_inward
  cirq-core/cirq/protocols/json_test_data/TrialResult.repr_inward
Labels: automerge, cla: yes, front_of_queue_automerge

#4324 better error messaging when deprecated module can't be imported
  cirq-core/cirq/__init__.py
  cirq-core/cirq/_compat.py
  cirq-core/cirq/_compat_test.py
  cirq-core/cirq/testing/_compat_test_data/__init__.py
  cirq-core/cirq/testing/json.py
Labels: automerge, cla: yes, front_of_queue_automerge

#4004 Attempt to Fix PauliSumCollector.collect_async warning under notebook(short-term solution)
  docs/operators_and_observables.ipynb
Labels: cla: yes

#4330 Make (cirq.X, cirq.Y, cirq.Z)**1 returned type as _Pauli{X,Y,Z} instead of {X,Y,Z}PowGate
  cirq-core/cirq/ops/pauli_gates.py
  cirq-core/cirq/ops/pauli_gates_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#4335 Fix citation and explanation in Floquet calibration example
  docs/tutorials/google/floquet_calibration_example.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge

#4341 Floquet notebook missed review nits
  docs/tutorials/google/floquet_calibration_example.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge

#4302 Adds cirq-rigetti
  .github/workflows/ci.yml
  check/pytest
  check/pytest-and-incremental-coverage
  cirq-core/cirq/contrib/quil_import/quil.py
  cirq-core/cirq/contrib/quil_import/quil_test.py
  cirq-core/cirq/contrib/requirements.txt
  cirq-core/cirq/protocols/json_serialization_test.py
  cirq-rigetti/LICENSE
  cirq-rigetti/README.rst
  cirq-rigetti/cirq_rigetti/__init__.py
  cirq-rigetti/cirq_rigetti/_quil_output.py
  cirq-rigetti/cirq_rigetti/_version.py
  cirq-rigetti/cirq_rigetti/circuit_sweep_executors.py
  cirq-rigetti/cirq_rigetti/circuit_sweep_executors_test.py
  cirq-rigetti/cirq_rigetti/circuit_transformers.py
  cirq-rigetti/cirq_rigetti/circuit_transformers_test.py
  cirq-rigetti/cirq_rigetti/conftest.py
  cirq-rigetti/cirq_rigetti/json_resolver_cache.py
  cirq-rigetti/cirq_rigetti/json_test_data/__init__.py
  cirq-rigetti/cirq_rigetti/json_test_data/spec.py
  cirq-rigetti/cirq_rigetti/logging.py
  cirq-rigetti/cirq_rigetti/qcs_sampler_and_service_test.py
  cirq-rigetti/cirq_rigetti/sampler.py
  cirq-rigetti/cirq_rigetti/sampler_bell_circuit_test.py
  cirq-rigetti/cirq_rigetti/sampler_parametric_circuit_test.py
  cirq-rigetti/cirq_rigetti/sampler_readout_reassigned_qubits_test.py
  cirq-rigetti/cirq_rigetti/sampler_readout_separate_memory_regions_test.py
  cirq-rigetti/cirq_rigetti/sampler_test.py
  cirq-rigetti/cirq_rigetti/service.py
  cirq-rigetti/cirq_rigetti/service_bell_circuit_test.py
  cirq-rigetti/cirq_rigetti/service_parametric_circuit_test.py
  cirq-rigetti/cirq_rigetti/service_test.py
  cirq-rigetti/docker-compose.test.yaml
  cirq-rigetti/requirements.txt
  cirq-rigetti/setup.cfg
  cirq-rigetti/setup.py
  conftest.py
  dev_tools/bash_scripts_test.py
  dev_tools/conf/mypy.ini
  dev_tools/docs/build_api_docs.py
  dev_tools/notebooks/isolated_notebook_test.py
  dev_tools/notebooks/notebook_test.py
  dev_tools/requirements/deps/cirq-all-no-contrib.txt
  dev_tools/requirements/deps/dev-tools.txt
  docs/_book.yaml
  docs/rigetti/access.md
  docs/tutorials/rigetti/getting_started.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge

#4343 Allow intercepting decomposer while preserving structure.
  cirq-core/cirq/protocols/decompose_protocol.py
  cirq-core/cirq/protocols/decompose_protocol_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#4344 Enable CircuitOp serialization.
  cirq-google/cirq_google/devices/known_devices_test.py
  cirq-google/cirq_google/gate_sets.py
  cirq-google/cirq_google/gate_sets_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#4342 Complete implementation of the permit_mixed_moments option
  cirq-google/cirq_google/calibration/workflow.py
  cirq-google/cirq_google/calibration/workflow_test.py
Labels: cla: yes

#4336 Allow CircuitOperations in cirq.optimized_for_sycamore
  cirq-google/cirq_google/optimizers/convert_to_sycamore_gates.py
  cirq-google/cirq_google/optimizers/convert_to_sycamore_gates_test.py
  docs/google/best_practices.md
  docs/google/devices.md
Labels: automerge, cla: yes, front_of_queue_automerge

#4323 [Obs] 4.4 - Readout error mitigation
  cirq-core/cirq/work/__init__.py
  cirq-core/cirq/work/observable_measurement.py
  cirq-core/cirq/work/observable_measurement_test.py
  cirq-core/cirq/work/observable_readout_calibration.py
  cirq-core/cirq/work/observable_readout_calibration_test.py
Labels: area/expectation-value, automerge, cla: yes, front_of_queue_automerge

#4356 Revert "Allow CircuitOperations in cirq.optimized_for_sycamore"
  cirq-google/cirq_google/optimizers/convert_to_sycamore_gates.py
  cirq-google/cirq_google/optimizers/convert_to_sycamore_gates_test.py
  docs/google/best_practices.md
  docs/google/devices.md
Labels: automerge, cla: yes, front_of_queue_automerge

#4355 Revert "Enable CircuitOp serialization."
  cirq-google/cirq_google/devices/known_devices_test.py
  cirq-google/cirq_google/gate_sets.py
  cirq-google/cirq_google/gate_sets_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#4347 Fix floquet quirk url
  docs/tutorials/google/floquet_calibration_example.ipynb
Labels: automerge, cla: yes, front_of_queue_automerge

#4169 Optimize swap gates
  cirq-core/cirq/sim/act_on_args.py
  cirq-core/cirq/sim/act_on_args_container.py
  cirq-core/cirq/sim/act_on_args_container_test.py
  cirq-core/cirq/sim/act_on_args_test.py
Labels: cla: yes

#4340 IdentityGate optimizations for act_on and independent states (S)
  cirq-core/cirq/ops/identity.py
  cirq-core/cirq/ops/identity_test.py
  cirq-core/cirq/sim/act_on_args_container.py
  cirq-core/cirq/sim/act_on_args_container_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#4331 Projectors for TensorFlow quantum
  cirq-core/cirq/__init__.py
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/ops/__init__.py
  cirq-core/cirq/ops/projector.py
  cirq-core/cirq/ops/projector_test.py
  cirq-core/cirq/protocols/json_test_data/ProjectorString.json
  cirq-core/cirq/protocols/json_test_data/ProjectorString.repr
Labels: automerge, cla: yes, front_of_queue_automerge

#4363 Updated calls to np.prod to use dtype=np.int64.
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/experiments/fidelity_estimation.py
  cirq-core/cirq/experiments/fidelity_estimation_test.py
  cirq-core/cirq/interop/quirk/cells/input_rotation_cells.py
  cirq-core/cirq/ops/arithmetic_operation.py
  cirq-core/cirq/ops/controlled_operation.py
  cirq-core/cirq/ops/fourier_transform.py
  cirq-core/cirq/ops/identity.py
  cirq-core/cirq/ops/matrix_gates.py
  cirq-core/cirq/ops/measurement_gate.py
  cirq-core/cirq/ops/projector.py
  cirq-core/cirq/ops/random_gate_channel.py
  cirq-core/cirq/ops/random_gate_channel_test.py
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/protocols/unitary_protocol.py
  cirq-core/cirq/qis/channels.py
  cirq-core/cirq/qis/measures.py
  cirq-core/cirq/qis/states.py
  cirq-core/cirq/sim/density_matrix_simulator.py
  cirq-core/cirq/sim/density_matrix_utils.py
  cirq-core/cirq/sim/sparse_simulator.py
  cirq-core/cirq/sim/state_vector.py
  cirq-core/cirq/testing/circuit_compare.py
Labels: automerge, cla: yes, front_of_queue_automerge

#4365 Add is_cptp predicate
  cirq-core/cirq/__init__.py
  cirq-core/cirq/linalg/__init__.py
  cirq-core/cirq/linalg/predicates.py
  cirq-core/cirq/linalg/predicates_test.py
Labels: automerge, cla: yes, front_of_queue_automerge

#4317 Lazily create TrialResult.final_simulator_state
  cirq-core/cirq/contrib/quimb/mps_simulator.py
  cirq-core/cirq/contrib/quimb/mps_simulator_test.py
  cirq-core/cirq/sim/clifford/clifford_simulator.py
  cirq-core/cirq/sim/clifford/clifford_simulator_test.py
  cirq-core/cirq/sim/density_matrix_simulator.py
  cirq-core/cirq/sim/density_matrix_simulator_test.py
  cirq-core/cirq/sim/simulator.py
  cirq-core/cirq/sim/simulator_base_test.py
  cirq-core/cirq/sim/simulator_test.py
  cirq-core/cirq/sim/state_vector_simulator.py
  cirq-core/cirq/sim/state_vector_simulator_test.py
Labels: cla: yes
