Repository quantumlib/Cirq, pull requests merged in 2021-10, with the labels that each got.

#4525 Use Gatesets in cirq/neutral_atoms
  cirq-core/cirq/neutral_atoms/convert_to_neutral_atom_gates.py
  cirq-core/cirq/neutral_atoms/convert_to_neutral_atom_gates_test.py
  cirq-core/cirq/neutral_atoms/neutral_atom_devices.py
  cirq-core/cirq/neutral_atoms/neutral_atom_devices_test.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: M

#4183 Add Clifford Tableau decomposition function
  cirq-core/cirq/__init__.py
  cirq-core/cirq/optimizers/__init__.py
  cirq-core/cirq/optimizers/clifford_decomposition.py
  cirq-core/cirq/optimizers/clifford_decomposition_test.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: L

#4167 Resolve inconsistencies in using controlled gates & controlled operations
  cirq-core/cirq/interop/quirk/cells/input_rotation_cells.py
  cirq-core/cirq/interop/quirk/cells/input_rotation_cells_test.py
  cirq-core/cirq/interop/quirk/url_to_circuit_test.py
  cirq-core/cirq/ops/controlled_gate_test.py
  cirq-core/cirq/ops/controlled_operation.py
  cirq-core/cirq/ops/controlled_operation_test.py
  cirq-core/cirq/ops/gate_operation.py
  cirq-core/cirq/ops/raw_types_test.py
  cirq-core/cirq/ops/three_qubit_gates.py
  cirq-core/cirq/ops/three_qubit_gates_test.py
  cirq-core/cirq/testing/__init__.py
  cirq-core/cirq/testing/consistent_controlled_gate_op.py
  cirq-core/cirq/testing/consistent_controlled_gate_op_test.py
  cirq-core/cirq/testing/consistent_protocols.py
  cirq-core/cirq/testing/consistent_protocols_test.py
Labels: cla: yes, automerge, BREAKING CHANGE, front_of_queue_automerge, size: L

#4546 Acctually assert in kraus_protocol_test.py
  cirq-core/cirq/protocols/kraus_protocol.py
  cirq-core/cirq/protocols/kraus_protocol_test.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: S

#4549 Compute a Kraus representation from the Choi matrix
  cirq-core/cirq/__init__.py
  cirq-core/cirq/qis/__init__.py
  cirq-core/cirq/qis/channels.py
  cirq-core/cirq/qis/channels_test.py
Labels: cla: yes, size: M

#4553 More channel representation conversion tools
  cirq-core/cirq/__init__.py
  cirq-core/cirq/qis/__init__.py
  cirq-core/cirq/qis/channels.py
  cirq-core/cirq/qis/channels_test.py
Labels: cla: yes

#4530 Add Azure Quantum docs and tutorials
  .github/CODEOWNERS
  dev_tools/notebooks/isolated_notebook_test.py
  dev_tools/notebooks/notebook_test.py
  docs/_book.yaml
  docs/azure-quantum/access.md
  docs/tutorials/azure-quantum/azure-quantum-resource-id.png
  docs/tutorials/azure-quantum/getting_started_honeywell.ipynb
  docs/tutorials/azure-quantum/getting_started_ionq.ipynb
Labels: cla: yes, size: L

#4551 [cirqflow] QuantumExecutableGroup
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/json_resolver_cache.py
  cirq-google/cirq_google/json_test_data/spec.py
  cirq-google/cirq_google/workflow/__init__.py
  cirq-google/cirq_google/workflow/quantum_executable.py
  cirq-google/cirq_google/workflow/quantum_executable_test.py
Labels: cla: yes, automerge, front_of_queue_automerge, area/workflow, size: M

#4541 Fix variational algorithm tutorial
  docs/tutorials/variational_algorithm.ipynb
Labels: cla: yes, size: L
