Repository quantumlib/Cirq, pull requests merged in 2022-01, with the labels that each got.

#4626 Speed up simplification of CNOTs in _simplify_commuting_cnots
  cirq-core/cirq/ops/boolean_hamiltonian.py
  cirq-core/cirq/ops/boolean_hamiltonian_test.py
Labels: cla: yes, size: S

#4793 Adding files for virtual emulation
  cirq-google/cirq_google/devices/specifications/__init__.py
  cirq-google/cirq_google/engine/__init__.py
  cirq-google/setup.py
Labels: automerge, front_of_queue_automerge, size: S

#4795 Use `NotImplemented` instead of `None` as default value for `TaggedOperation._unitary_`
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/ops/raw_types_test.py
Labels: automerge, front_of_queue_automerge, Size: XS

#4673 Thermal noise model
  cirq-core/cirq/devices/__init__.py
  cirq-core/cirq/devices/insertion_noise_model.py
  cirq-core/cirq/devices/insertion_noise_model_test.py
  cirq-core/cirq/devices/noise_utils.py
  cirq-core/cirq/devices/noise_utils_test.py
  cirq-core/cirq/devices/thermal_noise_model.py
  cirq-core/cirq/devices/thermal_noise_model_test.py
Labels: cla: yes, size: XL

#4785 Part-2: Move analytical decompositions from `cirq/optimizers/` to `cirq/transformers/analytical_decompositions/`
  cirq-core/cirq/__init__.py
  cirq-core/cirq/optimizers/__init__.py
  cirq-core/cirq/transformers/__init__.py
  cirq-core/cirq/transformers/analytical_decompositions/__init__.py
  cirq-core/cirq/transformers/analytical_decompositions/clifford_decomposition.py
  cirq-core/cirq/transformers/analytical_decompositions/clifford_decomposition_test.py
  cirq-core/cirq/transformers/analytical_decompositions/controlled_gate_decomposition.py
  cirq-core/cirq/transformers/analytical_decompositions/controlled_gate_decomposition_test.py
  cirq-core/cirq/transformers/analytical_decompositions/cphase_to_fsim.py
  cirq-core/cirq/transformers/analytical_decompositions/cphase_to_fsim_test.py
Labels: automerge, front_of_queue_automerge, size: M

#4777 Add exponent to the labels of web 3D gates
  cirq-web/cirq_ts/dist/circuit.bundle.js
  cirq-web/cirq_ts/src/circuit/components/meshes.ts
  cirq-web/cirq_web/circuits/symbols.py
  cirq-web/cirq_web/circuits/symbols_test.py
Labels: automerge, front_of_queue_automerge, size: S

#4794 Return `NotImplemented` from `Moment._kraus_()` if `self._has_kraus_()` is False
  cirq-core/cirq/ops/moment.py
  cirq-core/cirq/ops/moment_test.py
Labels: automerge, front_of_queue_automerge, size: S

#4772 Fix deprecated_submodule conflict with importlib_metadata
  cirq-core/cirq/_compat.py
  cirq-core/cirq/_compat_test.py
  dev_tools/conf/mypy.ini
  dev_tools/requirements/deps/pytest.txt
Labels: automerge, front_of_queue_automerge, size: M

#4802 Upgrade Ansi-Regex to 5.0.1
  cirq-web/cirq_ts/package-lock.json
Labels: automerge, front_of_queue_automerge, Size: XS

#4803 Upgrade glob-parent to 5.1.2
  cirq-web/cirq_ts/package-lock.json
Labels: automerge, front_of_queue_automerge, size: S

#4801 Fix warning on array creation from ragged sequences
  cirq-core/cirq/ops/boolean_hamiltonian_test.py
  cirq-core/cirq/transformers/transformer_primitives_test.py
Labels: automerge, front_of_queue_automerge, Size: XS

#4799 Move `optimizers/decompositions.py` to `transformers/analytical_decompositions/single_qubit_decompositions.py`
  cirq-core/cirq/__init__.py
  cirq-core/cirq/contrib/paulistring/convert_to_clifford_gates.py
  cirq-core/cirq/contrib/paulistring/convert_to_pauli_string_phasors.py
  cirq-core/cirq/ion/convert_to_ion_gates.py
  cirq-core/cirq/ion/ion_decomposition.py
  cirq-core/cirq/neutral_atoms/convert_to_neutral_atom_gates.py
  cirq-core/cirq/optimizers/__init__.py
  cirq-core/cirq/optimizers/eject_phased_paulis.py
  cirq-core/cirq/optimizers/eject_z.py
  cirq-core/cirq/optimizers/merge_single_qubit_gates.py
  cirq-core/cirq/optimizers/two_qubit_decompositions.py
  cirq-core/cirq/optimizers/two_qubit_to_sqrt_iswap.py
  cirq-core/cirq/transformers/__init__.py
  cirq-core/cirq/transformers/analytical_decompositions/__init__.py
  cirq-core/cirq/transformers/analytical_decompositions/single_qubit_decompositions.py
  cirq-core/cirq/transformers/analytical_decompositions/single_qubit_decompositions_test.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_state_preparation.py
Labels: automerge, front_of_queue_automerge, size: M

#4384 Retain ordering information in conversion.
  cirq-google/cirq_google/engine/abstract_local_program.py
  cirq-ionq/cirq_ionq/results.py
  cirq-ionq/cirq_ionq/results_test.py
  examples/deutsch.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: M

#4808 Convert type comments to type annotations
  cirq-aqt/cirq_aqt/aqt_sampler.py
  cirq-core/cirq/circuits/_block_diagram_drawer.py
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_operation_test.py
  cirq-core/cirq/circuits/insert_strategy.py
  cirq-core/cirq/circuits/qasm_output.py
  cirq-core/cirq/contrib/acquaintance/gates.py
  cirq-core/cirq/contrib/acquaintance/strategies/quartic_paired.py
  cirq-core/cirq/contrib/graph_device/hypergraph.py
  cirq-core/cirq/contrib/quirk/export_to_quirk.py
  cirq-core/cirq/experiments/cross_entropy_benchmarking.py
  cirq-core/cirq/experiments/grid_parallel_two_qubit_xeb.py
  cirq-core/cirq/experiments/random_quantum_circuit_generation_test.py
  cirq-core/cirq/ops/linear_combinations.py
  cirq-core/cirq/ops/pauli_gates.py
  cirq-core/cirq/ops/pauli_interaction_gate.py
  cirq-core/cirq/ops/qubit_order.py
  cirq-core/cirq/protocols/apply_channel_protocol.py
  cirq-core/cirq/protocols/apply_mixture_protocol.py
  cirq-core/cirq/protocols/apply_unitary_protocol.py
  cirq-core/cirq/protocols/circuit_diagram_info_protocol.py
  cirq-core/cirq/protocols/decompose_protocol.py
  cirq-core/cirq/protocols/measurement_key_protocol.py
  cirq-core/cirq/protocols/mixture_protocol.py
  cirq-core/cirq/protocols/mul_protocol.py
  cirq-core/cirq/protocols/pauli_expansion_protocol.py
  cirq-core/cirq/protocols/phase_protocol.py
  cirq-core/cirq/protocols/qasm.py
  cirq-core/cirq/protocols/qid_shape_protocol.py
  cirq-core/cirq/protocols/quil.py
  cirq-core/cirq/protocols/unitary_protocol.py
  cirq-core/cirq/sim/clifford/act_on_stabilizer_ch_form_args.py
  cirq-core/cirq/sim/clifford/stabilizer_state_ch_form.py
  cirq-core/cirq/sim/mux.py
  cirq-core/cirq/sim/simulator.py
  cirq-core/cirq/sim/simulator_base.py
  cirq-core/cirq/study/result.py
  cirq-core/cirq/study/sweeps.py
  cirq-core/cirq/transformers/analytical_decompositions/single_qubit_decompositions.py
  cirq-core/cirq/work/observable_grouping.py
  cirq-core/cirq/work/observable_settings.py
  cirq-core/cirq/work/zeros_sampler.py
  cirq-google/cirq_google/devices/known_devices.py
  cirq-google/cirq_google/line/placement/anneal_test.py
  cirq-google/cirq_google/line/placement/greedy.py
  dev_tools/incremental_coverage.py
  dev_tools/pr_monitor.py
  dev_tools/snippets_test.py
  examples/swap_networks.py
Labels: size: M

#4807 Change Sampler methods to return Sequence instead of List
  cirq-aqt/cirq_aqt/aqt_sampler.py
  cirq-core/cirq/experiments/single_qubit_readout_calibration_test.py
  cirq-core/cirq/sim/clifford/stabilizer_sampler.py
  cirq-core/cirq/sim/mux.py
  cirq-core/cirq/sim/simulator.py
  cirq-core/cirq/work/sampler.py
  cirq-core/cirq/work/sampler_test.py
  cirq-google/cirq_google/api/v2/results.py
  cirq-google/cirq_google/engine/abstract_job.py
  cirq-google/cirq_google/engine/abstract_local_job_test.py
  cirq-google/cirq_google/engine/engine_job.py
  cirq-google/cirq_google/engine/engine_sampler.py
  cirq-google/cirq_google/engine/simulated_local_job.py
  cirq-google/cirq_google/engine/validating_sampler.py
  cirq-ionq/cirq_ionq/sampler.py
  cirq-rigetti/cirq_rigetti/circuit_sweep_executors.py
  cirq-rigetti/cirq_rigetti/qcs_sampler_and_service_test.py
  cirq-rigetti/cirq_rigetti/sampler.py
Labels: size: M

#4809 Move two/three qubit decompositions from `optimizers/` to `transformers/analytical_decompositions`
  cirq-core/cirq/__init__.py
  cirq-core/cirq/neutral_atoms/convert_to_neutral_atom_gates.py
  cirq-core/cirq/optimizers/__init__.py
  cirq-core/cirq/optimizers/convert_to_cz_and_single_gates.py
  cirq-core/cirq/optimizers/merge_interactions.py
  cirq-core/cirq/optimizers/merge_interactions_to_sqrt_iswap.py
  cirq-core/cirq/transformers/__init__.py
  cirq-core/cirq/transformers/analytical_decompositions/__init__.py
  cirq-core/cirq/transformers/analytical_decompositions/three_qubit_decomposition.py
  cirq-core/cirq/transformers/analytical_decompositions/three_qubit_decomposition_test.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_cz.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_cz_test.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_fsim.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_fsim_test.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_sqrt_iswap.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_sqrt_iswap_test.py
Labels: automerge, front_of_queue_automerge, size: M

#4757 Remove uses of `.device` in cirq-pasqal in preparation for larger circuit.device deprecation
  cirq-core/cirq/circuits/circuit.py
  cirq-pasqal/cirq_pasqal/pasqal_device_test.py
  cirq-pasqal/cirq_pasqal/pasqal_noise_model_test.py
  cirq-pasqal/cirq_pasqal/pasqal_sampler.py
  cirq-pasqal/cirq_pasqal/pasqal_sampler_test.py
Labels: automerge, front_of_queue_automerge, size: M

#4805 Density Matrix plotting is being fixed
  cirq-core/cirq/vis/density_matrix.py
  cirq-core/cirq/vis/density_matrix_test.py
Labels: automerge, front_of_queue_automerge, size: S

#4788 Make test ordering and parametrization reproducible
  check/pytest
  check/pytest-changed-files
  cirq-core/cirq/contrib/acquaintance/gates_test.py
  cirq-core/cirq/ops/common_gates_test.py
  cirq-core/cirq/protocols/json_serialization_test.py
  conftest.py
Labels: automerge, front_of_queue_automerge, size: S

#4813 Import `transformers/analytical_decompositions/*` methods in `optimizers/*`
  cirq-core/cirq/optimizers/__init__.py
Labels: automerge, front_of_queue_automerge, size: S

#4810 Close matplotlib figures after testing
  cirq-core/cirq/experiments/cross_entropy_benchmarking_test.py
  cirq-core/cirq/experiments/qubit_characterizations_test.py
  cirq-core/cirq/experiments/t1_decay_experiment_test.py
  cirq-core/cirq/experiments/t2_decay_experiment_test.py
  cirq-core/cirq/linalg/decompositions_test.py
  cirq-core/cirq/vis/density_matrix_test.py
  cirq-core/cirq/vis/heatmap_test.py
  cirq-core/cirq/vis/histogram_test.py
  cirq-core/cirq/vis/state_histogram_test.py
  cirq-google/cirq_google/engine/calibration_test.py
  cirq-google/cirq_google/optimizers/two_qubit_gates/example_test.py
  conftest.py
  examples/examples_test.py
Labels: automerge, front_of_queue_automerge, size: S

#4602 Move GateTabulation and friends to cirq-core as requested in #4461
  cirq-core/cirq/__init__.py
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/protocols/json_test_data/TwoQubitGateTabulation.json
  cirq-core/cirq/protocols/json_test_data/TwoQubitGateTabulation.repr
  cirq-core/cirq/protocols/json_test_data/spec.py
  cirq-core/cirq/transformers/__init__.py
  cirq-core/cirq/transformers/heuristic_decompositions/__init__.py
  cirq-core/cirq/transformers/heuristic_decompositions/gate_tabulation_math_utils.py
  cirq-core/cirq/transformers/heuristic_decompositions/gate_tabulation_math_utils_test.py
  cirq-core/cirq/transformers/heuristic_decompositions/two_qubit_gate_tabulation.py
  cirq-core/cirq/transformers/heuristic_decompositions/two_qubit_gate_tabulation_test.py
  cirq-google/cirq_google/json_test_data/spec.py
  cirq-google/cirq_google/optimizers/convert_to_sycamore_gates.py
  cirq-google/cirq_google/optimizers/convert_to_sycamore_gates_test.py
  cirq-google/cirq_google/optimizers/optimize_for_sycamore.py
  cirq-google/cirq_google/optimizers/two_qubit_gates/__init__.py
  cirq-google/cirq_google/optimizers/two_qubit_gates/example.py
  cirq-google/cirq_google/optimizers/two_qubit_gates/gate_compilation.py
  cirq-google/cirq_google/optimizers/two_qubit_gates/gate_compilation_test.py
Labels: cla: yes, size: M

#4816 Do not separate substates when measurements are ignored
  cirq-core/cirq/sim/act_on_args_container.py
  cirq-core/cirq/sim/density_matrix_simulator_test.py
Labels: automerge, front_of_queue_automerge, size: S

#4820 Remove use of `.device` in cirq-google.
  cirq-core/cirq/circuits/circuit.py
  cirq-google/cirq_google/api/v1/programs.py
  cirq-google/cirq_google/api/v1/programs_test.py
  cirq-google/cirq_google/engine/engine.py
  cirq-google/cirq_google/engine/engine_test.py
  cirq-google/cirq_google/optimizers/optimize_for_sycamore.py
  cirq-google/cirq_google/optimizers/optimize_for_sycamore_test.py
  cirq-google/cirq_google/optimizers/optimize_for_xmon.py
  cirq-google/cirq_google/optimizers/optimize_for_xmon_test.py
  cirq-google/cirq_google/serialization/gate_sets_test.py
  cirq-google/cirq_google/serialization/serializable_gate_set.py
  cirq-google/cirq_google/serialization/serializable_gate_set_test.py
  examples/advanced/quantum_volume.py
  examples/place_on_bristlecone.py
Labels: automerge, front_of_queue_automerge, size: M

#4821 Remove use of `.device` in contrib.
  cirq-core/cirq/contrib/acquaintance/devices.py
  cirq-core/cirq/contrib/acquaintance/devices_test.py
  cirq-core/cirq/contrib/acquaintance/executor.py
  cirq-core/cirq/contrib/acquaintance/executor_test.py
  cirq-core/cirq/contrib/acquaintance/gates_test.py
  cirq-core/cirq/contrib/acquaintance/inspection_utils.py
  cirq-core/cirq/contrib/acquaintance/mutation_utils.py
  cirq-core/cirq/contrib/acquaintance/mutation_utils_test.py
  cirq-core/cirq/contrib/acquaintance/optimizers.py
  cirq-core/cirq/contrib/acquaintance/optimizers_test.py
  cirq-core/cirq/contrib/acquaintance/shift_swap_network_test.py
  cirq-core/cirq/contrib/acquaintance/strategies/complete.py
  cirq-core/cirq/contrib/acquaintance/strategies/cubic.py
  cirq-core/cirq/contrib/acquaintance/strategies/quartic_paired.py
  cirq-core/cirq/contrib/paulistring/recombine.py
  cirq-core/cirq/contrib/routing/greedy.py
  cirq-core/cirq/contrib/routing/swap_network.py
  cirq-core/cirq/protocols/qasm.py
Labels: automerge, BREAKING CHANGE, front_of_queue_automerge, size: M

#4832 Add DeviceMetaData class.
  cirq-core/cirq/__init__.py
  cirq-core/cirq/devices/__init__.py
  cirq-core/cirq/devices/device.py
  cirq-core/cirq/devices/device_test.py
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/protocols/json_serialization_test.py
  cirq-core/cirq/protocols/json_test_data/DeviceMetadata.json
  cirq-core/cirq/protocols/json_test_data/DeviceMetadata.repr
Labels: automerge, front_of_queue_automerge, size: M

#4836 Make `PauliMeasurementGate` respect sign of the pauli observable.
  cirq-core/cirq/ops/pauli_measurement_gate.py
  cirq-core/cirq/ops/pauli_measurement_gate_test.py
  cirq-core/cirq/protocols/json_test_data/PauliMeasurementGate.json
  cirq-core/cirq/protocols/json_test_data/PauliMeasurementGate.json_inward
  cirq-core/cirq/protocols/json_test_data/PauliMeasurementGate.repr
  cirq-core/cirq/protocols/json_test_data/PauliMeasurementGate.repr_inward
Labels: automerge, BREAKING CHANGE, front_of_queue_automerge, size: M

#4840 Update equalstester in DeviceMetadata.
  cirq-core/cirq/devices/device.py
  cirq-core/cirq/devices/device_test.py
Labels: automerge, front_of_queue_automerge, size: S

#4839 Add GridDeviceMetadata.
  cirq-core/cirq/__init__.py
  cirq-core/cirq/devices/__init__.py
  cirq-core/cirq/devices/device.py
  cirq-core/cirq/devices/grid_device_metadata.py
  cirq-core/cirq/devices/grid_device_metadata_test.py
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/protocols/json_test_data/GridDeviceMetadata.json
  cirq-core/cirq/protocols/json_test_data/GridDeviceMetadata.repr
Labels: automerge, front_of_queue_automerge, size: L

#4812 Remove use of `.device` from cirq-aqt
  cirq-aqt/cirq_aqt/aqt_sampler.py
  cirq-aqt/cirq_aqt/aqt_sampler_test.py
  cirq-aqt/cirq_aqt/aqt_simulator_test.py
Labels: automerge, front_of_queue_automerge, size: S

#4789 Avoid copying unnecessary buffers between simulation iterations
  cirq-core/cirq/contrib/quimb/mps_simulator.py
  cirq-core/cirq/protocols/act_on_protocol_test.py
  cirq-core/cirq/sim/act_on_args.py
  cirq-core/cirq/sim/act_on_args_container.py
  cirq-core/cirq/sim/act_on_args_container_test.py
  cirq-core/cirq/sim/act_on_args_test.py
  cirq-core/cirq/sim/act_on_density_matrix_args.py
  cirq-core/cirq/sim/act_on_density_matrix_args_test.py
  cirq-core/cirq/sim/act_on_state_vector_args.py
  cirq-core/cirq/sim/act_on_state_vector_args_test.py
  cirq-core/cirq/sim/clifford/act_on_clifford_tableau_args.py
  cirq-core/cirq/sim/clifford/act_on_stabilizer_ch_form_args.py
  cirq-core/cirq/sim/operation_target.py
  cirq-core/cirq/sim/simulator_base.py
  cirq-core/cirq/sim/simulator_base_test.py
Labels: automerge, front_of_queue_automerge, size: S

#4843 Add link to dev environment page in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: automerge, front_of_queue_automerge, Size: XS

#4853 Improve consistency between code and docstrings for XEB
  cirq-core/cirq/experiments/cross_entropy_benchmarking.py
Labels: automerge, front_of_queue_automerge, size: S

#4845 Deprecate `ciruit.device` everywhere.
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_dag.py
  cirq-core/cirq/circuits/circuit_dag_test.py
  cirq-core/cirq/circuits/circuit_test.py
  cirq-core/cirq/circuits/frozen_circuit.py
  cirq-core/cirq/circuits/frozen_circuit_test.py
  cirq-core/cirq/testing/devices_test.py
  cirq-core/cirq/testing/sample_circuits.py
  cirq-core/cirq/testing/sample_circuits_test.py
Labels: automerge, front_of_queue_automerge, size: XL

#4719 [runtime] QubitPlacer 2 - RandomDevicePlacer
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/json_resolver_cache.py
  cirq-google/cirq_google/json_test_data/cirq.google.RandomDevicePlacer.json
  cirq-google/cirq_google/json_test_data/cirq.google.RandomDevicePlacer.repr
  cirq-google/cirq_google/json_test_data/spec.py
  cirq-google/cirq_google/workflow/__init__.py
  cirq-google/cirq_google/workflow/_device_shim.py
  cirq-google/cirq_google/workflow/qubit_placement.py
  cirq-google/cirq_google/workflow/qubit_placement_test.py
Labels: cla: yes, automerge, front_of_queue_automerge, area/workflow, size: L

#4764 Make order of traversal deterministic in `merge_operations` primitive
  cirq-core/cirq/transformers/transformer_primitives.py
  cirq-core/cirq/transformers/transformer_primitives_test.py
Labels: automerge, front_of_queue_automerge, size: S

#4850 Make gate_sets actually optional
  cirq-google/cirq_google/engine/abstract_processor.py
  cirq-google/cirq_google/engine/engine_processor.py
  cirq-google/cirq_google/engine/engine_processor_test.py
  cirq-google/cirq_google/engine/simulated_local_processor.py
Labels: automerge, front_of_queue_automerge, size: S

#4748 Fix act-on specialization for all the Clifford simulators
  cirq-core/cirq/__init__.py
  cirq-core/cirq/ops/common_channels.py
  cirq-core/cirq/ops/common_gates.py
  cirq-core/cirq/ops/global_phase_op.py
  cirq-core/cirq/ops/random_gate_channel.py
  cirq-core/cirq/ops/swap_gates.py
  cirq-core/cirq/sim/__init__.py
  cirq-core/cirq/sim/clifford/__init__.py
  cirq-core/cirq/sim/clifford/act_on_clifford_tableau_args.py
  cirq-core/cirq/sim/clifford/act_on_stabilizer_args.py
  cirq-core/cirq/sim/clifford/act_on_stabilizer_ch_form_args.py
Labels: automerge, front_of_queue_automerge, size: L

#4860 Fix `_value_equality_values_cls_` handling in `_value_equality_approx_eq`
  cirq-core/cirq/value/value_equality_attr.py
  cirq-core/cirq/value/value_equality_attr_test.py
Labels: Size: XS

#4861 Make `BaseDensePauliString` an iterable class.
  cirq-core/cirq/ops/dense_pauli_string.py
  cirq-core/cirq/ops/dense_pauli_string_test.py
Labels: Size: XS

#4862 Add default decompositions for `XXPowGate` and `YYPowGate` which terminate in `CZPowGate`.
  cirq-core/cirq/ops/parity_gates.py
Labels: automerge, front_of_queue_automerge, size: S

#4864 Deprecate XmonDevice, Foxtail and Bristlecone.
  cirq-core/cirq/experiments/google_v2_supremacy_circuit.py
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/api/v1/programs_test.py
  cirq-google/cirq_google/devices/known_devices.py
  cirq-google/cirq_google/devices/known_devices_test.py
  cirq-google/cirq_google/devices/xmon_device.py
  cirq-google/cirq_google/devices/xmon_device_test.py
  cirq-google/cirq_google/engine/qcs_notebook.py
  cirq-google/cirq_google/engine/qcs_notebook_test.py
  cirq-google/cirq_google/json_test_data/spec.py
  cirq-google/cirq_google/line/placement/anneal_test.py
  cirq-google/cirq_google/line/placement/chip_test.py
  cirq-google/cirq_google/line/placement/greedy_test.py
  cirq-google/cirq_google/line/placement/line_test.py
  cirq-google/cirq_google/optimizers/optimize_for_sycamore_test.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
  cirq-google/cirq_google/workflow/qubit_placement_test.py
  examples/advanced/quantum_volume.py
  examples/examples_test.py
  examples/heatmaps.py
  examples/place_on_bristlecone.py
Labels: size: XL

#4867 Fix type signature of act_on implementations
  cirq-core/cirq/circuits/circuit_operation.py
  cirq-core/cirq/ops/classically_controlled_operation.py
  cirq-core/cirq/ops/gate_operation.py
  cirq-core/cirq/ops/identity.py
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/protocols/act_on_protocol.py
  cirq-core/cirq/testing/consistent_act_on_test.py
Labels: automerge, front_of_queue_automerge, size: S

#4855 Add / improve CircuitOperation memoizing
  cirq-core/cirq/circuits/circuit_operation.py
Labels: automerge, front_of_queue_automerge, size: M

#4868 Add metadata property to device.
  cirq-core/cirq/devices/device.py
  cirq-core/cirq/devices/device_test.py
Labels: automerge, front_of_queue_automerge, size: S

#4797 Add Transformer API Interface and `@cirq.transformer` decorator
  cirq-core/cirq/__init__.py
  cirq-core/cirq/protocols/json_test_data/spec.py
  cirq-core/cirq/transformers/__init__.py
  cirq-core/cirq/transformers/transformer_api.py
  cirq-core/cirq/transformers/transformer_api_test.py
Labels: automerge, front_of_queue_automerge, size: L

#4604 Broken RFC link in "Cirq Triage" page
  docs/dev/triage.md
Labels: cla: yes, Size: XS

#4552 Update "Compare to Calibration" tutorial into "Identifying Hardware Changes" with Simultaneous Readout and additional context
  dev_tools/notebooks/isolated_notebook_test.py
  docs/_book.yaml
  docs/google/calibration_faq.md
  docs/tutorials/google/compare_to_calibration.ipynb
  docs/tutorials/google/identifying_hardware_changes.ipynb
Labels: cla: yes, automerge, front_of_queue_automerge, size: XL

#4854 Add `cirq.TensoredConfusionMatrices` for readout error mitigation.
  cirq-core/cirq/__init__.py
  cirq-core/cirq/experiments/__init__.py
  cirq-core/cirq/experiments/readout_confusion_matrix.py
  cirq-core/cirq/experiments/readout_confusion_matrix_test.py
  cirq-core/cirq/experiments/single_qubit_readout_calibration_test.py
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/protocols/json_test_data/TensoredConfusionMatrices.json
  cirq-core/cirq/protocols/json_test_data/TensoredConfusionMatrices.repr
Labels: automerge, front_of_queue_automerge, size: L

#4873 Fix backwards incompatible pandas usage.
  cirq-core/cirq/experiments/t2_decay_experiment.py
Labels: automerge, front_of_queue_automerge, Size: XS

#4871 Use a Protocol for TRANSFORMER to ensure common arg names
  cirq-core/cirq/transformers/transformer_api.py
Labels: size: M

#4875 Add missing import in README example
  cirq-web/README.rst
Labels: automerge, front_of_queue_automerge, Size: XS

#4869 Add metadata property for cirq_google devices.
  cirq-google/cirq_google/devices/known_devices_test.py
  cirq-google/cirq_google/devices/serializable_device.py
  cirq-google/cirq_google/devices/serializable_device_test.py
  cirq-google/cirq_google/devices/xmon_device.py
  cirq-google/cirq_google/devices/xmon_device_test.py
  dev_tools/requirements/deps/pytest.txt
Labels: automerge, front_of_queue_automerge, size: M

#4896 Fix coverage CI break.
  dev_tools/requirements/deps/notebook.txt
  dev_tools/requirements/deps/pytest.txt
Labels: Size: XS

#4877 Increase atol for sub_state_vector()
  cirq-core/cirq/linalg/transformations.py
  cirq-core/cirq/linalg/transformations_test.py
Labels: automerge, front_of_queue_automerge, Size: XS, size: S

#4893 Update top level module documentation
  cirq-core/cirq/__init__.py
  cirq-core/cirq/circuits/__init__.py
  cirq-core/cirq/contrib/__init__.py
  cirq-core/cirq/devices/__init__.py
  cirq-core/cirq/experiments/__init__.py
  cirq-core/cirq/interop/__init__.py
  cirq-core/cirq/ion/__init__.py
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/linalg/__init__.py
  cirq-core/cirq/neutral_atoms/__init__.py
  cirq-core/cirq/ops/__init__.py
  cirq-core/cirq/optimizers/__init__.py
  cirq-core/cirq/protocols/__init__.py
  cirq-core/cirq/qis/__init__.py
  cirq-core/cirq/sim/__init__.py
  cirq-core/cirq/study/__init__.py
  cirq-core/cirq/transformers/__init__.py
  cirq-core/cirq/type_workarounds.py
  cirq-core/cirq/value/__init__.py
  cirq-core/cirq/vis/__init__.py
Labels: automerge, front_of_queue_automerge, size: M

#4806 Convert cirq.Result to ABC and add ResultDict implementation
  cirq-aqt/cirq_aqt/aqt_sampler.py
  cirq-core/cirq/__init__.py
  cirq-core/cirq/contrib/quantum_volume/quantum_volume_test.py
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/protocols/json_test_data/Result.json_inward
  cirq-core/cirq/protocols/json_test_data/Result.repr
  cirq-core/cirq/protocols/json_test_data/Result.repr_inward
  cirq-core/cirq/protocols/json_test_data/ResultDict.json
  cirq-core/cirq/protocols/json_test_data/ResultDict.repr
  cirq-core/cirq/protocols/json_test_data/TrialResult.repr_inward
  cirq-core/cirq/sim/clifford/stabilizer_sampler.py
  cirq-core/cirq/sim/simulator.py
  cirq-core/cirq/sim/simulator_test.py
  cirq-core/cirq/study/__init__.py
  cirq-core/cirq/study/result.py
  cirq-core/cirq/study/result_test.py
  cirq-core/cirq/work/sampler_test.py
  cirq-core/cirq/work/zeros_sampler.py
  cirq-google/cirq_google/api/v2/results.py
  cirq-google/cirq_google/api/v2/results_test.py
  cirq-google/cirq_google/engine/engine_job.py
  cirq-google/cirq_google/engine/engine_program_test.py
  cirq-google/cirq_google/json_test_data/cirq.google.ExecutableResult.json
  cirq-google/cirq_google/json_test_data/cirq.google.ExecutableResult.repr
  cirq-google/cirq_google/workflow/io_test.py
  cirq-google/cirq_google/workflow/progress_test.py
  cirq-google/cirq_google/workflow/quantum_runtime_test.py
  cirq-ionq/cirq_ionq/results.py
  cirq-ionq/cirq_ionq/results_test.py
  cirq-ionq/cirq_ionq/service_test.py
  cirq-rigetti/cirq_rigetti/circuit_sweep_executors.py
Labels: BREAKING CHANGE, size: L

#4844 Allow clifford simulator to run as product state
  cirq-core/cirq/sim/act_on_args.py
  cirq-core/cirq/sim/act_on_args_container.py
  cirq-core/cirq/sim/act_on_args_container_test.py
  cirq-core/cirq/sim/act_on_density_matrix_args.py
  cirq-core/cirq/sim/act_on_state_vector_args.py
  cirq-core/cirq/sim/clifford/act_on_stabilizer_ch_form_args.py
  cirq-core/cirq/sim/clifford/clifford_simulator.py
  cirq-core/cirq/sim/clifford/clifford_simulator_test.py
  cirq-core/cirq/sim/clifford/stabilizer_state_ch_form.py
  cirq-core/cirq/sim/simulator_base_test.py
Labels: automerge, front_of_queue_automerge, size: M

#4824 Update Cirq decomposition to use RZ, RX, CNOT only
  cirq-ionq/cirq_ionq/ionq_devices.py
  cirq-ionq/cirq_ionq/ionq_devices_test.py
Labels: size: S

#4905 Upgrade cirq-web deps.
  cirq-web/cirq_ts/dist/bloch_sphere.bundle.js
  cirq-web/cirq_ts/dist/bloch_sphere.bundle.js.LICENSE.txt
  cirq-web/cirq_ts/dist/circuit.bundle.js
  cirq-web/cirq_ts/dist/circuit.bundle.js.LICENSE.txt
  cirq-web/cirq_ts/package-lock.json
  cirq-web/cirq_ts/package.json
Labels: automerge, front_of_queue_automerge, size: XL

#4904 Move block_overlapping_deps to _compat.py.
  cirq-core/cirq/_compat.py
  cirq-core/cirq/_compat_test.py
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_dag.py
  cirq-core/cirq/circuits/frozen_circuit.py
Labels: automerge, front_of_queue_automerge, size: M

#4848 Add Bravyi-Gosset-Liu sampling
  cirq-core/cirq/sim/simulator.py
  cirq-core/cirq/sim/sparse_simulator_test.py
Labels: automerge, front_of_queue_automerge, size: M

#4900 Deprecate qid_pairs
  cirq-core/cirq/contrib/graph_device/graph_device.py
  cirq-core/cirq/contrib/graph_device/graph_device_test.py
  cirq-core/cirq/devices/device.py
  cirq-core/cirq/devices/device_test.py
  cirq-core/cirq/ion/ion_device.py
  cirq-core/cirq/ion/ion_device_test.py
  cirq-core/cirq/protocols/json_test_data/spec.py
  cirq-google/cirq_google/devices/serializable_device.py
  cirq-google/cirq_google/devices/serializable_device_test.py
  cirq-google/cirq_google/engine/virtual_engine_factory.py
  cirq-pasqal/cirq_pasqal/pasqal_device.py
  cirq-pasqal/cirq_pasqal/pasqal_device_test.py
Labels: automerge, front_of_queue_automerge, size: L

#4908 Change engine_validator_test to be deterministic.
  cirq-google/cirq_google/engine/engine_validator_test.py
Labels: automerge, front_of_queue_automerge, size: S

#4890 Support additional `**kwargs` with default arguments in Transformer API.
  cirq-core/cirq/transformers/transformer_api.py
  cirq-core/cirq/transformers/transformer_api_test.py
Labels: size: M

#4891 Add `align_left`/`align_right` transformers to replace `AlignLeft`/`AlignRight`
  cirq-core/cirq/__init__.py
  cirq-core/cirq/optimizers/align_left.py
  cirq-core/cirq/optimizers/align_left_test.py
  cirq-core/cirq/optimizers/align_right.py
  cirq-core/cirq/optimizers/align_right_test.py
  cirq-core/cirq/transformers/__init__.py
  cirq-core/cirq/transformers/align.py
  cirq-core/cirq/transformers/align_test.py
  docs/tutorials/google/spin_echoes.ipynb
Labels: automerge, front_of_queue_automerge, size: M

#4872 Fix commutation of classical controls
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/ops/classically_controlled_operation_test.py
  cirq-core/cirq/ops/moment.py
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/transformers/align_test.py
Labels: size: S

#4912 Support adding qubits and deleting operations in `cirq.map_operations`.
  cirq-core/cirq/transformers/transformer_primitives.py
  cirq-core/cirq/transformers/transformer_primitives_test.py
Labels: area/transformers, size: S

#4906 Deprecate set_state_vector and set_density_matrix
  cirq-core/cirq/sim/density_matrix_simulator.py
  cirq-core/cirq/sim/density_matrix_simulator_test.py
  cirq-core/cirq/sim/sparse_simulator.py
  cirq-core/cirq/sim/sparse_simulator_test.py
Labels: automerge, front_of_queue_automerge, size: S

#4917 Clean up redundant use of `_deprecate_attributes`
  cirq-core/cirq/sim/__init__.py
Labels: automerge, front_of_queue_automerge, size: S

#4916 Change `TaggedOperation`'s `__pow__` from returning `Operation` to returning `TaggedOperation`
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/ops/raw_types_test.py
Labels: automerge, front_of_queue_automerge, Size: XS

#4811 Add asynchronous ability to simulated engine.
  cirq-google/cirq_google/engine/simulated_local_job.py
  cirq-google/cirq_google/engine/simulated_local_job_test.py
Labels: size: M

#4902 Deprecate can_add_operation_into_moment.
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_test.py
  cirq-core/cirq/devices/device.py
  cirq-core/cirq/ion/ion_device_test.py
  cirq-core/cirq/neutral_atoms/neutral_atom_devices_test.py
  cirq-pasqal/cirq_pasqal/pasqal_device_test.py
Labels: automerge, front_of_queue_automerge, size: M
