Repository quantumlib/Cirq, pull requests merged in 2022-07, with the labels that each got.

#5661 Fix CI failure due to incompatible qiskit packages
  dev_tools/requirements/deps/dev-tools.txt
Labels: Size: XS

#5651 Fix typing of the protocols.commutes() function
  cirq-core/cirq/protocols/commutes_protocol.py
Labels: automerge, front_of_queue_automerge, size: S

#5663 Remove GlobalPhaseOperation and GateSet.accepts_global_phase
  cirq-core/cirq/__init__.py
  cirq-core/cirq/ion/convert_to_ion_gates_test.py
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/neutral_atoms/convert_to_neutral_atom_gates_test.py
  cirq-core/cirq/neutral_atoms/neutral_atom_devices_test.py
  cirq-core/cirq/ops/__init__.py
  cirq-core/cirq/ops/gateset.py
  cirq-core/cirq/ops/gateset_test.py
  cirq-core/cirq/ops/global_phase_op.py
  cirq-core/cirq/ops/global_phase_op_test.py
  cirq-core/cirq/protocols/json_test_data/GlobalPhaseOperation.json_inward
  cirq-core/cirq/protocols/json_test_data/GlobalPhaseOperation.repr
  cirq-core/cirq/protocols/json_test_data/GlobalPhaseOperation.repr_inward
  cirq-core/cirq/protocols/json_test_data/spec.py
  cirq-ionq/cirq_ionq/ionq_devices_test.py
  cirq-pasqal/cirq_pasqal/pasqal_gateset.py
Labels: size: M

#5662 Add __init__.py to make `cirq.contrib.hacks` a proper package
  cirq-core/cirq/contrib/hacks/__init__.py
Labels: size: S

#5659 Remove tetris_concat
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_test.py
  cirq-core/cirq/circuits/frozen_circuit.py
Labels: automerge, front_of_queue_automerge, size: L

#5644 Migrate StrategyExecutor to new transformer infrastructure
  cirq-core/cirq/contrib/acquaintance/__init__.py
  cirq-core/cirq/contrib/acquaintance/executor.py
  cirq-core/cirq/contrib/acquaintance/executor_test.py
Labels: size: M

#5649 Add return-type description for `cirq.sample`
  cirq-core/cirq/sim/mux.py
Labels: Size: XS

#5666 Pin python-rapidjson in cirq-rigetti.
  cirq-rigetti/requirements.txt
Labels: automerge, front_of_queue_automerge, Size: XS

#5657 Fix typing in numpy function arguments
  cirq-core/cirq/ops/global_phase_op.py
  cirq-core/cirq/ops/pauli_string.py
  cirq-core/cirq/ops/pauli_string_test.py
  cirq-core/cirq/ops/phased_iswap_gate.py
Labels: automerge, front_of_queue_automerge, size: S

#5667 Minor updates to development page
  docs/dev/development.md
Labels: automerge, front_of_queue_automerge, Size: XS

#5655 Replace `SwapPermutationReplacer` with `cirq.map_operations`
  cirq-core/cirq/contrib/quantum_volume/quantum_volume.py
Labels: size: S

#5658 Engine creator helper function
  cirq-google/cirq_google/engine/__init__.py
  cirq-google/cirq_google/engine/virtual_engine_factory.py
  cirq-google/cirq_google/engine/virtual_engine_factory_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5669 Fix more numpy / mypy typing issues
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/ops/kraus_channel.py
  cirq-core/cirq/ops/mixed_unitary_channel.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_sqrt_iswap.py
Labels: automerge, front_of_queue_automerge, size: S

#5653 Deprecate `MergeNQubitGates` optimizer
  cirq-core/cirq/contrib/quimb/Contract-a-Grid-Circuit.ipynb
  cirq-core/cirq/contrib/quimb/grid_circuits.py
Labels: automerge, front_of_queue_automerge, size: S

#5624 `DensePauliString` and `MutableDensePauliString` docs and inconsistencies fixes
  cirq-core/cirq/ops/dense_pauli_string.py
  cirq-core/cirq/ops/dense_pauli_string_test.py
Labels: size: M

#5670 Missing stubs for mypy --next
  dev_tools/conf/mypy-next.ini
Labels: automerge, front_of_queue_automerge, Size: XS

#5596 Update docstrings for PauliSum.
  cirq-core/cirq/ops/linear_combinations.py
Labels: automerge, front_of_queue_automerge, size: S

#5656 Change GridDeviceMetadata gate duration property to Mapping type
  cirq-core/cirq/devices/grid_device_metadata.py
Labels: automerge, front_of_queue_automerge, Size: XS

#5668 Modify some numpy types to be compatible with `numpy>=1.20`
  cirq-core/cirq/experiments/qubit_characterizations.py
  cirq-core/cirq/linalg/combinators.py
  cirq-core/cirq/protocols/kraus_protocol.py
  cirq-core/cirq/protocols/kraus_protocol_test.py
  cirq-core/cirq/protocols/unitary_protocol_test.py
  cirq-core/cirq/qis/clifford_tableau.py
  cirq-core/cirq/testing/lin_alg_utils.py
  cirq-core/cirq/vis/histogram.py
Labels: automerge, front_of_queue_automerge, size: S

#5579 Remove deprecated ArithmeticOperation
  cirq-core/cirq/__init__.py
  cirq-core/cirq/interop/quirk/__init__.py
  cirq-core/cirq/interop/quirk/cells/__init__.py
  cirq-core/cirq/interop/quirk/cells/arithmetic_cells.py
  cirq-core/cirq/ops/__init__.py
  cirq-core/cirq/ops/arithmetic_operation.py
  cirq-core/cirq/ops/arithmetic_operation_test.py
  docs/experiments/shor.ipynb
  docs/gatezoo.ipynb
  docs/start/intro.ipynb
  docs/transform/custom_transformers.ipynb
Labels: automerge, front_of_queue_automerge, size: L

#5673 Remove quantum engine sampler
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/calibration/phased_fsim.py
  cirq-google/cirq_google/engine/__init__.py
  cirq-google/cirq_google/engine/engine.py
  cirq-google/cirq_google/engine/engine_processor.py
  cirq-google/cirq_google/engine/engine_sampler.py
  cirq-google/cirq_google/engine/engine_sampler_test.py
  cirq-google/cirq_google/json_test_data/spec.py
Labels: size: L

#5660 Remove key protocols frozenset conversion
  cirq-core/cirq/protocols/act_on_protocol.py
  cirq-core/cirq/protocols/act_on_protocol_test.py
  cirq-core/cirq/protocols/control_key_protocol.py
  cirq-core/cirq/protocols/control_key_protocol_test.py
  cirq-core/cirq/protocols/measurement_key_protocol.py
  cirq-core/cirq/protocols/measurement_key_protocol_test.py
Labels: size: M

#5677 Fix remaining mypy/numpy errors
  cirq-core/cirq/sim/clifford/clifford_simulator.py
  cirq-core/cirq/sim/clifford/clifford_simulator_test.py
  cirq-core/cirq/sim/state_vector_simulation_state.py
  cirq-core/cirq/testing/consistent_act_on.py
Labels: automerge, front_of_queue_automerge, size: S

#5682 Remove ops.Moment deprecation.
  cirq-core/cirq/__init__.py
  cirq-core/cirq/circuits/moment_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5645 Remove sim v0.16 deprecations
  cirq-core/cirq/__init__.py
  cirq-core/cirq/contrib/quimb/mps_simulator.py
  cirq-core/cirq/contrib/quimb/mps_simulator_test.py
  cirq-core/cirq/protocols/json_test_data/spec.py
  cirq-core/cirq/sim/__init__.py
  cirq-core/cirq/sim/act_on_args.py
  cirq-core/cirq/sim/act_on_args_container.py
  cirq-core/cirq/sim/act_on_density_matrix_args.py
  cirq-core/cirq/sim/act_on_state_vector_args.py
  cirq-core/cirq/sim/clifford/__init__.py
  cirq-core/cirq/sim/clifford/act_on_clifford_tableau_args.py
  cirq-core/cirq/sim/clifford/act_on_stabilizer_args.py
  cirq-core/cirq/sim/clifford/act_on_stabilizer_ch_form_args.py
  cirq-core/cirq/sim/clifford/clifford_simulator.py
  cirq-core/cirq/sim/clifford/stabilizer_simulation_state.py
  cirq-core/cirq/sim/clifford/stabilizer_simulation_state_test.py
  cirq-core/cirq/sim/density_matrix_simulator.py
  cirq-core/cirq/sim/density_matrix_simulator_test.py
  cirq-core/cirq/sim/operation_target.py
  cirq-core/cirq/sim/simulation_product_state.py
  cirq-core/cirq/sim/simulation_product_state_test.py
  cirq-core/cirq/sim/simulation_state.py
  cirq-core/cirq/sim/simulation_state_test.py
  cirq-core/cirq/sim/simulator.py
  cirq-core/cirq/sim/simulator_base.py
  cirq-core/cirq/sim/simulator_base_test.py
  cirq-core/cirq/sim/simulator_test.py
  cirq-core/cirq/sim/sparse_simulator.py
  cirq-core/cirq/sim/state_vector_simulation_state.py
  cirq-core/cirq/sim/state_vector_simulation_state_test.py
  cirq-core/cirq/sim/state_vector_simulator.py
  cirq-core/cirq/sim/state_vector_simulator_test.py
  cirq-core/cirq/testing/consistent_act_on.py
Labels: automerge, front_of_queue_automerge, size: XL

#5362 Refactored and created an abstraction for control values
  cirq-core/cirq/__init__.py
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/ops/__init__.py
  cirq-core/cirq/ops/common_gates.py
  cirq-core/cirq/ops/control_values.py
  cirq-core/cirq/ops/control_values_test.py
  cirq-core/cirq/ops/controlled_gate.py
  cirq-core/cirq/ops/controlled_gate_test.py
  cirq-core/cirq/ops/controlled_operation.py
  cirq-core/cirq/ops/gate_operation.py
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/ops/three_qubit_gates.py
  cirq-core/cirq/protocols/json_test_data/ProductOfSums.json
  cirq-core/cirq/protocols/json_test_data/ProductOfSums.repr
  cirq-core/cirq/testing/consistent_controlled_gate_op_test.py
Labels: automerge, front_of_queue_automerge, size: L

#5648 Document dimension of X/ZPowGate
  cirq-core/cirq/ops/common_gates.py
  cirq-core/cirq/ops/eigen_gate.py
Labels: automerge, front_of_queue_automerge, size: S

#5699 Link out to ParamResolver in resolve_parameters docstring
  cirq-core/cirq/protocols/resolve_parameters.py
Labels: Size: XS

#5700 De-indent channel matrices
  cirq-core/cirq/ops/common_channels.py
Labels: automerge, front_of_queue_automerge, size: L

#5686 Remove deprecated SingleQubitGate
  cirq-core/cirq/__init__.py
  cirq-core/cirq/ops/__init__.py
  cirq-core/cirq/ops/gate_features.py
  cirq-core/cirq/ops/gate_features_test.py
  cirq-core/cirq/ops/gate_operation_test.py
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/protocols/json_test_data/spec.py
  cirq-core/cirq/transformers/analytical_decompositions/single_qubit_decompositions.py
  docs/build/custom_gates.ipynb
  docs/simulate/noisy_simulation.ipynb
  docs/start/intro.ipynb
Labels: automerge, front_of_queue_automerge, size: M

#5697 `with_probability` docstring
  cirq-core/cirq/ops/raw_types.py
Labels: automerge, front_of_queue_automerge, size: S

#5680 A Cauldron of Doc fixes
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/linalg/transformations.py
  cirq-core/cirq/ops/common_channels.py
  cirq-core/cirq/ops/common_gate_families.py
  cirq-core/cirq/ops/swap_gates.py
  cirq-core/cirq/ops/tags.py
  cirq-core/cirq/ops/three_qubit_gates.py
  cirq-core/cirq/sim/simulator.py
  cirq-core/cirq/value/abc_alt.py
  cirq-google/cirq_google/calibration/workflow.py
  cirq-google/cirq_google/engine/engine.py
  cirq-google/cirq_google/engine/engine_client.py
  cirq-google/cirq_google/line/placement/greedy.py
  cirq-google/cirq_google/ops/sycamore_gate.py
  docs/dev/nomenclature.md
Labels: automerge, front_of_queue_automerge, size: L

#5706 Fix 5702: prevent confusing error if `dev_tools/modules.py` is invoked without arguments
  dev_tools/modules.py
Labels: automerge, front_of_queue_automerge, Size: XS

#5714 Remove deprecated stratify module
  cirq-core/cirq/optimizers/__init__.py
  cirq-core/cirq/transformers/stratify_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5681 Loosen `pyquil` requirements
  cirq-rigetti/requirements.txt
Labels: automerge, front_of_queue_automerge, Size: XS, size: S

#5711 Two more small doc fixes
  cirq-core/cirq/ops/named_qubit.py
  cirq-core/cirq/sim/state_vector.py
Labels: automerge, front_of_queue_automerge, size: S

#5687 Remove CrossEntropyResult and CrossEntropyResultDict
  cirq-core/cirq/experiments/__init__.py
  cirq-core/cirq/experiments/cross_entropy_benchmarking.py
  cirq-core/cirq/experiments/cross_entropy_benchmarking_test.py
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/protocols/json_test_data/CrossEntropyResult.json_inward
  cirq-core/cirq/protocols/json_test_data/CrossEntropyResult.repr
  cirq-core/cirq/protocols/json_test_data/CrossEntropyResult.repr_inward
  cirq-core/cirq/protocols/json_test_data/CrossEntropyResultDict.json_inward
  cirq-core/cirq/protocols/json_test_data/CrossEntropyResultDict.repr
  cirq-core/cirq/protocols/json_test_data/CrossEntropyResultDict.repr_inward
  cirq-core/cirq/protocols/json_test_data/spec.py
Labels: automerge, front_of_queue_automerge, size: L

#5685 Cirq monofsv cleanup
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_operation_test.py
  cirq-core/cirq/contrib/quantum_volume/quantum_volume.py
  cirq-core/cirq/experiments/xeb_simulation.py
  cirq-core/cirq/ops/boolean_hamiltonian_test.py
  cirq-core/cirq/sim/mux.py
  cirq-core/cirq/sim/simulator_test.py
  cirq-core/cirq/sim/sparse_simulator.py
  cirq-core/cirq/sim/sparse_simulator_test.py
  cirq-core/cirq/sim/state_vector.py
  cirq-core/cirq/sim/state_vector_simulator.py
  cirq-core/cirq/sim/state_vector_simulator_test.py
  cirq-google/cirq_google/calibration/engine_simulator.py
  examples/stabilizer_code.ipynb
  examples/stabilizer_code_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5695 Remove deprecated netural_atoms classes
  cirq-core/cirq/__init__.py
  cirq-core/cirq/neutral_atoms/__init__.py
  cirq-core/cirq/neutral_atoms/convert_to_neutral_atom_gates.py
  cirq-core/cirq/neutral_atoms/convert_to_neutral_atom_gates_test.py
  cirq-core/cirq/neutral_atoms/neutral_atom_devices.py
  cirq-core/cirq/neutral_atoms/neutral_atom_devices_test.py
  cirq-core/cirq/protocols/json_test_data/spec.py
Labels: automerge, front_of_queue_automerge, size: L

#5710 Remove Deprecated Quil classes
  cirq-core/cirq/__init__.py
  cirq-core/cirq/circuits/__init__.py
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/quil_output.py
  cirq-core/cirq/circuits/quil_output_test.py
  cirq-core/cirq/ops/common_gates.py
  cirq-core/cirq/ops/gate_operation.py
  cirq-core/cirq/ops/gate_operation_test.py
  cirq-core/cirq/ops/identity.py
  cirq-core/cirq/ops/measurement_gate.py
  cirq-core/cirq/ops/measurement_gate_test.py
  cirq-core/cirq/ops/parity_gates.py
  cirq-core/cirq/ops/swap_gates.py
  cirq-core/cirq/ops/three_qubit_gates.py
  cirq-core/cirq/ops/two_qubit_diagonal_gate.py
  cirq-core/cirq/ops/wait_gate.py
  cirq-core/cirq/protocols/__init__.py
  cirq-core/cirq/protocols/json_test_data/spec.py
  cirq-core/cirq/protocols/quil.py
  docs/start/intro.ipynb
Labels: automerge, front_of_queue_automerge, size: L

#5717 unleash confusion map
  cirq-core/cirq/ops/measurement_gate.py
  cirq-core/cirq/ops/measurement_gate_test.py
  cirq-core/cirq/sim/simulation_state.py
Labels: automerge, front_of_queue_automerge, size: M

#5720 Remove final_state_vector deprecations.
  cirq-core/cirq/circuits/circuit.py
Labels: automerge, front_of_queue_automerge, size: S

#5332 Dedicated method for creating circuit from op tree with EARLIEST strategy
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_test.py
  cirq-core/cirq/circuits/moment.py
  cirq-core/cirq/ops/eigen_gate.py
Labels: automerge, front_of_queue_automerge, size: M

#5724 Remove virtual_predicate deprecations.
  cirq-core/cirq/devices/noise_properties.py
  cirq-core/cirq/devices/noise_properties_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5725 Remove deprecated merge_single_qubit optimizer
  cirq-core/cirq/__init__.py
  cirq-core/cirq/optimizers/__init__.py
  cirq-core/cirq/optimizers/merge_single_qubit_gates.py
  cirq-core/cirq/optimizers/merge_single_qubit_gates_test.py
  cirq-core/cirq/protocols/json_test_data/spec.py
  cirq-core/cirq/transformers/merge_single_qubit_gates_test.py
Labels: automerge, front_of_queue_automerge, size: L

#5704 remove 2 deprecated create_device_proto_* methods for v0.16 release
  cirq-google/cirq_google/devices/grid_device_test.py
  cirq-google/cirq_google/devices/known_devices.py
  cirq-google/cirq_google/devices/known_devices_test.py
  cirq-google/cirq_google/devices/serializable_device_test.py
Labels: automerge, front_of_queue_automerge, size: L

#5727 Remove a batch of deprecated optimizers
  cirq-core/cirq/__init__.py
  cirq-core/cirq/optimizers/__init__.py
  cirq-core/cirq/optimizers/drop_empty_moments.py
  cirq-core/cirq/optimizers/drop_empty_moments_test.py
  cirq-core/cirq/optimizers/drop_negligible.py
  cirq-core/cirq/optimizers/drop_negligible_test.py
  cirq-core/cirq/optimizers/eject_phased_paulis.py
  cirq-core/cirq/optimizers/eject_phased_paulis_test.py
  cirq-core/cirq/optimizers/eject_z.py
  cirq-core/cirq/optimizers/eject_z_test.py
  cirq-core/cirq/optimizers/expand_composite.py
  cirq-core/cirq/optimizers/expand_composite_test.py
  cirq-core/cirq/optimizers/merge_interactions.py
  cirq-core/cirq/optimizers/merge_interactions_test.py
  cirq-core/cirq/optimizers/merge_interactions_to_sqrt_iswap.py
  cirq-core/cirq/optimizers/merge_interactions_to_sqrt_iswap_test.py
  cirq-core/cirq/optimizers/synchronize_terminal_measurements.py
  cirq-core/cirq/optimizers/synchronize_terminal_measurements_test.py
  cirq-core/cirq/protocols/json_test_data/spec.py
Labels: automerge, front_of_queue_automerge, size: XL

#5729 Finish removing optimizers
  cirq-core/cirq/__init__.py
  cirq-core/cirq/optimizers/__init__.py
  cirq-core/cirq/optimizers/align_left.py
  cirq-core/cirq/optimizers/align_left_test.py
  cirq-core/cirq/optimizers/align_right.py
  cirq-core/cirq/optimizers/align_right_test.py
  cirq-core/cirq/optimizers/convert_to_cz_and_single_gates.py
  cirq-core/cirq/optimizers/convert_to_cz_and_single_gates_test.py
  cirq-core/cirq/protocols/json_test_data/spec.py
  cirq-core/cirq/transformers/analytical_decompositions/clifford_decomposition_test.py
  cirq-core/cirq/transformers/analytical_decompositions/controlled_gate_decomposition_test.py
  cirq-core/cirq/transformers/analytical_decompositions/cphase_to_fsim_test.py
  cirq-core/cirq/transformers/analytical_decompositions/single_qubit_decompositions_test.py
  cirq-core/cirq/transformers/analytical_decompositions/three_qubit_decomposition_test.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_cz_test.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_fsim_test.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_sqrt_iswap_test.py
Labels: size: L

#5683 More numpy types
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_operation.py
  cirq-core/cirq/contrib/quimb/state_vector.py
  cirq-core/cirq/ops/pauli_string.py
  cirq-core/cirq/protocols/circuit_diagram_info_protocol.py
  cirq-core/cirq/protocols/trace_distance_bound.py
  cirq-core/cirq/qis/clifford_tableau.py
  cirq-core/cirq/sim/clifford/stabilizer_state_ch_form.py
  cirq-core/cirq/sim/density_matrix_utils.py
  cirq-core/cirq/sim/state_vector_simulation_state.py
  cirq-core/cirq/transformers/heuristic_decompositions/gate_tabulation_math_utils.py
  cirq-core/cirq/value/type_alias.py
  cirq-core/cirq/vis/state_histogram.py
  cirq-google/cirq_google/engine/virtual_engine_factory.py
Labels: automerge, front_of_queue_automerge, size: M

#5708 Improve Fourier Checking tutorial
  docs/experiments/fourier_checking.ipynb
  docs/experiments/fourier_checking.tst
Labels: automerge, front_of_queue_automerge, size: M

#5733 Remove circuits.CircuitDag
  cirq-core/cirq/__init__.py
  cirq-core/cirq/circuits/__init__.py
  cirq-core/cirq/circuits/circuit_dag.py
  cirq-core/cirq/circuits/circuit_dag_test.py
  cirq-core/cirq/contrib/acquaintance/topological_sort.py
  cirq-core/cirq/protocols/json_test_data/spec.py
Labels: automerge, front_of_queue_automerge, size: L

#5732 Nitpick on comment after #5724
  cirq-core/cirq/devices/noise_properties.py
Labels: automerge, front_of_queue_automerge, Size: XS

#5705 Fix 5701: avoid `dev_tools/modules.py print_version` failing
  dev_tools/modules.py
Labels: automerge, front_of_queue_automerge, Size: XS

#5555 Add async methods to AbstractEngine and AbstractJob
  cirq-core/cirq/work/sampler.py
  cirq-core/cirq/work/sampler_test.py
  cirq-core/requirements.txt
  cirq-google/cirq_google/engine/abstract_job.py
  cirq-google/cirq_google/engine/abstract_job_test.py
  cirq-google/cirq_google/engine/abstract_local_engine_test.py
  cirq-google/cirq_google/engine/abstract_local_job_test.py
  cirq-google/cirq_google/engine/abstract_local_processor_test.py
  cirq-google/cirq_google/engine/abstract_processor.py
  cirq-google/cirq_google/engine/engine.py
  cirq-google/cirq_google/engine/engine_job.py
  cirq-google/cirq_google/engine/engine_processor.py
  cirq-google/cirq_google/engine/engine_validator.py
  cirq-google/cirq_google/engine/processor_sampler.py
  cirq-google/cirq_google/engine/processor_sampler_test.py
  cirq-google/cirq_google/engine/simulated_local_engine_test.py
  cirq-google/cirq_google/engine/simulated_local_job.py
  cirq-google/cirq_google/engine/simulated_local_processor.py
  cirq-google/cirq_google/engine/validating_sampler.py
  dev_tools/conf/mypy-next.ini
  dev_tools/conf/mypy.ini
Labels: area/async, size: L

#5737 Remove deprecated calls in examples/bcs_mean_field
  examples/bcs_mean_field.py
  examples/examples_test.py
Labels: automerge, front_of_queue_automerge, size: L

#5735 Eigengate docs: move __init__ to class docs for better rendering
  cirq-core/cirq/ops/eigen_gate.py
Labels: automerge, front_of_queue_automerge, size: S

#5736 Fix the definition of PhasedFSimGate
  cirq-core/cirq/ops/fsim_gate.py
Labels: automerge, front_of_queue_automerge, Size: XS

#5618 Add json serialization to sweeps
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/protocols/json_test_data/Linspace.json
  cirq-core/cirq/protocols/json_test_data/Linspace.repr
  cirq-core/cirq/protocols/json_test_data/ListSweep.json
  cirq-core/cirq/protocols/json_test_data/ListSweep.repr
  cirq-core/cirq/protocols/json_test_data/Points.json
  cirq-core/cirq/protocols/json_test_data/Points.repr
  cirq-core/cirq/protocols/json_test_data/Product.json
  cirq-core/cirq/protocols/json_test_data/Product.repr
  cirq-core/cirq/protocols/json_test_data/Zip.json
  cirq-core/cirq/protocols/json_test_data/Zip.repr
  cirq-core/cirq/protocols/json_test_data/_Unit.json
  cirq-core/cirq/protocols/json_test_data/_Unit.repr
  cirq-core/cirq/protocols/json_test_data/spec.py
  cirq-core/cirq/study/sweeps.py
Labels: automerge, front_of_queue_automerge, size: M

#5740 Fix reference to `run_batch` in `run_batch_async` docs
  cirq-core/cirq/work/sampler.py
Labels: automerge, front_of_queue_automerge, kind/docs, area/docstrings, Size: XS

#5741 Fix incomplete sentences
  docs/start/basics.ipynb
Labels: automerge, front_of_queue_automerge, Size: XS

#5654 GridDevice: Exclude MeasurementGates in validation of qubit pairs
  cirq-google/cirq_google/devices/grid_device.py
  cirq-google/cirq_google/devices/grid_device_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5738 Cache the hash of frozen circuits to avoid recomputing
  cirq-core/cirq/circuits/frozen_circuit.py
  cirq-core/cirq/devices/grid_qubit.py
  cirq-core/cirq/devices/grid_qubit_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5679 Remove gatesets deprecations.
  cirq-google/cirq_google/engine/abstract_processor.py
  cirq-google/cirq_google/engine/engine.py
  cirq-google/cirq_google/engine/engine_processor.py
  cirq-google/cirq_google/engine/simulated_local_processor.py
  cirq-google/cirq_google/engine/util.py
  cirq-google/cirq_google/engine/virtual_engine_factory.py
Labels: automerge, front_of_queue_automerge, size: M

#5748 Remove unused method SimulationState.with_qubits
  cirq-core/cirq/sim/density_matrix_simulation_state_test.py
  cirq-core/cirq/sim/simulation_state.py
  cirq-core/cirq/sim/state_vector_simulation_state_test.py
Labels: automerge, BREAKING CHANGE, front_of_queue_automerge, size: S

#5752 Fix very trivial grammar issues & typos in docs/start/basics
  docs/start/basics.ipynb
Labels: automerge, front_of_queue_automerge, size: S

#5742 Re-enable doctest
  cirq-core/cirq/devices/grid_device_metadata.py
  cirq-core/cirq/ops/arithmetic_operation.py
  cirq-core/cirq/ops/linear_combinations.py
  cirq-core/cirq/ops/pauli_string.py
  cirq-core/cirq/ops/qid_util.py
  cirq-core/cirq/sim/clifford/stabilizer_simulation_state_test.py
  cirq-core/cirq/testing/repr_pretty_tester.py
  cirq-core/cirq/transformers/target_gatesets/compilation_target_gateset.py
  cirq-core/cirq/transformers/transformer_api.py
  cirq-google/cirq_google/devices/grid_device.py
  cirq-google/cirq_google/engine/calibration_to_noise_properties.py
  cirq-google/cirq_google/ops/fsim_gate_family.py
  cirq-ionq/cirq_ionq/ionq_native_gates_test.py
  cirq-ionq/cirq_ionq/serializer.py
  cirq-ionq/cirq_ionq/serializer_test.py
  dev_tools/docs/run_doctest.py
Labels: size: L

#5751 Update deprecated pandas in Fourier Checking tutorial
  docs/experiments/fourier_checking.ipynb
Labels: automerge, front_of_queue_automerge, size: S

#5754 Miscellaneous Doc Fixes
  cirq-core/cirq/contrib/circuitdag/__init__.py
  cirq-core/cirq/contrib/graph_device/__init__.py
  cirq-core/cirq/contrib/json.py
  cirq-core/cirq/linalg/decompositions.py
  cirq-core/cirq/ops/common_gates.py
  cirq-core/cirq/ops/fsim_gate.py
  cirq-google/cirq_google/calibration/__init__.py
  cirq-google/cirq_google/cloud/__init__.py
  cirq-google/cirq_google/devices/__init__.py
  cirq-google/cirq_google/json_resolver_cache.py
  cirq-google/cirq_google/line/__init__.py
  cirq-google/cirq_google/ops/__init__.py
  cirq-google/cirq_google/transformers/__init__.py
  cirq-google/cirq_google/workflow/__init__.py
Labels: automerge, front_of_queue_automerge, size: M

#5756 Increase timeout of a flaky speed test
  cirq-core/cirq/circuits/circuit_test.py
Labels: automerge, front_of_queue_automerge, Size: XS

#5728 Add `cirq.two_qubit_matrix_to_cz_isometry` decomposition for single to two qubit isometry using at-most 2CZs.
  cirq-core/cirq/__init__.py
  cirq-core/cirq/transformers/__init__.py
  cirq-core/cirq/transformers/analytical_decompositions/__init__.py
  cirq-core/cirq/transformers/analytical_decompositions/single_to_two_qubit_isometry.py
  cirq-core/cirq/transformers/analytical_decompositions/single_to_two_qubit_isometry_test.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_cz.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_ms.py
Labels: automerge, front_of_queue_automerge, size: M

#5696 Remove deprecated classes ConvertToIonGates and IonDevice
  cirq-aqt/cirq_aqt/aqt_device.py
  cirq-aqt/cirq_aqt/aqt_device_test.py
  cirq-core/cirq/__init__.py
  cirq-core/cirq/ion/__init__.py
  cirq-core/cirq/ion/convert_to_ion_gates.py
  cirq-core/cirq/ion/convert_to_ion_gates_test.py
  cirq-core/cirq/ion/ion_device.py
  cirq-core/cirq/ion/ion_device_test.py
  cirq-core/cirq/protocols/json_test_data/spec.py
Labels: automerge, front_of_queue_automerge, size: L

#5760 Fix the final mypy --next errors
  cirq-core/cirq/circuits/circuit_operation.py
  cirq-core/cirq/contrib/qasm_import/_parser.py
  cirq-core/cirq/experiments/readout_confusion_matrix.py
  cirq-core/cirq/linalg/decompositions.py
  cirq-core/cirq/linalg/predicates.py
  cirq-core/cirq/linalg/transformations.py
  cirq-core/cirq/qis/states.py
  cirq-core/cirq/sim/state_vector.py
  cirq-core/cirq/study/resolver.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
  examples/direct_fidelity_estimation.py
Labels: automerge, front_of_queue_automerge, size: M

#5759 Return processor_id and project_id in get_qcs_objects_for_notebooks
  cirq-google/cirq_google/engine/abstract_local_processor.py
  cirq-google/cirq_google/engine/qcs_notebook.py
  cirq-google/cirq_google/engine/qcs_notebook_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5764 cirq-google: Remove serializers
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/json_test_data/spec.py
  cirq-google/cirq_google/serialization/__init__.py
  cirq-google/cirq_google/serialization/common_serializers.py
  cirq-google/cirq_google/serialization/op_deserializer.py
  cirq-google/cirq_google/serialization/op_deserializer_test.py
  cirq-google/cirq_google/serialization/op_serializer.py
  cirq-google/cirq_google/serialization/op_serializer_test.py
Labels: automerge, front_of_queue_automerge, size: XL

#5769 Remove gate_set arg in CircuitSerializer constructor
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5768 Simplify `reshape(a, prod(a.shape))` to `a.reshape(-1)`
  cirq-core/cirq/circuits/circuit_test.py
  cirq-core/cirq/qis/measures.py
  cirq-core/cirq/sim/density_matrix_utils.py
  cirq-core/cirq/sim/state_vector.py
  cirq-core/cirq/sim/state_vector_simulator.py
Labels: automerge, front_of_queue_automerge, size: S

#5430 Google colab tutorial - minor cleanup
  docs/tutorials/google/colab.ipynb
Labels: automerge, front_of_queue_automerge, size: M

#5772 Fixes #5713: `pytest .` fails to find `cirq` module
  docs/dev/development.md
Labels: automerge, front_of_queue_automerge, Size: XS

#5755 Created SumOfProducts subclass of ControlValues
  cirq-core/cirq/__init__.py
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/ops/__init__.py
  cirq-core/cirq/ops/common_gates.py
  cirq-core/cirq/ops/control_values.py
  cirq-core/cirq/ops/control_values_test.py
  cirq-core/cirq/ops/controlled_gate_test.py
  cirq-core/cirq/protocols/json_test_data/SumOfProducts.json
  cirq-core/cirq/protocols/json_test_data/SumOfProducts.repr
Labels: automerge, front_of_queue_automerge, size: M

#5771 Add device specification to QVM
  cirq-google/cirq_google/engine/simulated_local_processor.py
  cirq-google/cirq_google/engine/simulated_local_processor_test.py
  cirq-google/cirq_google/engine/virtual_engine_factory.py
  cirq-google/cirq_google/engine/virtual_engine_factory_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5767 Bump mypy to latest version
  cirq-core/cirq/circuits/text_diagram_drawer.py
  cirq-core/cirq/contrib/acquaintance/gates.py
  cirq-core/cirq/contrib/custom_simulators/__init__.py
  cirq-core/cirq/contrib/custom_simulators/custom_state_simulator.py
  cirq-core/cirq/contrib/custom_simulators/custom_state_simulator_test.py
  cirq-core/cirq/linalg/decompositions.py
  cirq-core/cirq/linalg/transformations.py
  cirq-core/cirq/ops/controlled_operation.py
  cirq-core/cirq/ops/global_phase_op.py
  cirq-core/cirq/ops/pauli_string.py
  cirq-core/cirq/protocols/apply_mixture_protocol_test.py
  cirq-core/cirq/protocols/trace_distance_bound.py
  cirq-core/cirq/sim/clifford/stabilizer_state_ch_form.py
  cirq-core/cirq/sim/density_matrix_simulation_state.py
  cirq-core/cirq/sim/state_vector_simulation_state.py
  cirq-core/cirq/study/resolver_test.py
  cirq-core/cirq/testing/circuit_compare.py
  cirq-core/cirq/testing/equals_tester.py
  cirq-core/cirq/testing/random_circuit.py
  cirq-core/cirq/value/linear_dict.py
  cirq-google/cirq_google/calibration/workflow.py
  cirq-google/cirq_google/engine/engine_job.py
  dev_tools/conf/mypy.ini
  dev_tools/docs/run_doctest.py
  dev_tools/pylint_copyright_checker.py
  dev_tools/pylint_copyright_checker_test.py
  dev_tools/requirements/deps/mypy.txt
  examples/advanced/__init__.py
  examples/advanced/quantum_volume.py
  examples/advanced/quantum_volume_test.py
  examples/direct_fidelity_estimation.py
Labels: Size: XS, size: S

#5770 Remove unused method AQTDevice.neighbors_of
  cirq-aqt/cirq_aqt/aqt_device.py
Labels: automerge, front_of_queue_automerge, Size: XS

#5158 Update XEB and Coherent Error Tutorial
  docs/_book.yaml
  docs/noise/qcvv/coherent_vs_incoherent_xeb.ipynb
  docs/noise/qcvv/coherent_vs_incoherent_xeb.tst
  docs/noise/qcvv/xeb_coherent_noise.ipynb
  docs/tutorials/google/identifying_hardware_changes.ipynb
Labels: automerge, front_of_queue_automerge, size: XL

#5486 Run tests against python 3.10
  .github/workflows/ci.yml
  cirq-google/requirements.txt
  dev_tools/requirements/deps/protos.txt
Labels: Size: XS, size: XL

#5779 Miscellaenous doc fixes
  cirq-core/cirq/devices/device.py
  cirq-core/cirq/ops/arithmetic_operation.py
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/ops/swap_gates.py
  cirq-core/cirq/qis/measures.py
  cirq-core/cirq/qis/states.py
  docs/hardware/azure-quantum/access.md
  docs/hardware/azure-quantum/getting_started_honeywell.ipynb
  docs/hardware/ionq/circuits.md
Labels: automerge, front_of_queue_automerge, size: M

#5782 Move AQTTargetGateset to its own module
  cirq-aqt/cirq_aqt/aqt_device.py
  cirq-aqt/cirq_aqt/aqt_target_gateset.py
  cirq-aqt/cirq_aqt/aqt_target_gateset_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5774 Fixes #5773: guard against user's `~/.gitconfig` setting `init.templateDir`
  dev_tools/bash_scripts_test.py
Labels: automerge, front_of_queue_automerge, Size: XS

#5789 Add AQTDeviceMetadata and clean up AQTDevice
  cirq-aqt/cirq_aqt/aqt_device.py
  cirq-aqt/cirq_aqt/aqt_device_metadata.py
  cirq-aqt/cirq_aqt/aqt_device_metadata_test.py
  cirq-aqt/cirq_aqt/aqt_device_test.py
Labels: automerge, front_of_queue_automerge, size: L

#5790 Use Mapping instead of Dict in some grid device helper funcs
  cirq-google/cirq_google/devices/grid_device.py
Labels: automerge, front_of_queue_automerge, Size: XS, size: S

#5780 Removing cirq_google.optimizers
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/json_resolver_cache.py
  cirq-google/cirq_google/json_test_data/GateTabulation.json
  cirq-google/cirq_google/json_test_data/GateTabulation.repr
  cirq-google/cirq_google/json_test_data/GateTabulation.repr_inward
  cirq-google/cirq_google/json_test_data/spec.py
  cirq-google/cirq_google/optimizers/__init__.py
  cirq-google/cirq_google/optimizers/convert_to_sqrt_iswap.py
  cirq-google/cirq_google/optimizers/convert_to_sqrt_iswap_test.py
  cirq-google/cirq_google/optimizers/convert_to_sycamore_gates.py
  cirq-google/cirq_google/optimizers/convert_to_sycamore_gates_test.py
  cirq-google/cirq_google/optimizers/convert_to_xmon_gates.py
  cirq-google/cirq_google/optimizers/convert_to_xmon_gates_test.py
  cirq-google/cirq_google/optimizers/optimize_for_sycamore.py
  cirq-google/cirq_google/optimizers/optimize_for_sycamore_test.py
  cirq-google/cirq_google/optimizers/optimize_for_xmon.py
  cirq-google/cirq_google/optimizers/optimize_for_xmon_test.py
  cirq-google/cirq_google/optimizers/two_qubit_gates/__init__.py
  cirq-google/cirq_google/optimizers/two_qubit_gates/example_test.py
  cirq-google/cirq_google/optimizers/two_qubit_gates/gate_compilation.py
  cirq-google/cirq_google/optimizers/two_qubit_gates/gate_compilation_test.py
  examples/advanced/quantum_volume.ipynb
  examples/advanced/quantum_volume.py
  examples/advanced/quantum_volume_errors.ipynb
  examples/advanced/quantum_volume_routing.ipynb
  examples/advanced/quantum_volume_test.py
  examples/examples_test.py
  examples/two_qubit_gate_compilation.py
Labels: automerge, front_of_queue_automerge, size: XL

#5744 GoogleCZTargetGateset
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/json_resolver_cache.py
  cirq-google/cirq_google/json_test_data/cirq.google.GoogleCZTargetGateset.json
  cirq-google/cirq_google/json_test_data/cirq.google.GoogleCZTargetGateset.repr
  cirq-google/cirq_google/json_test_data/spec.py
  cirq-google/cirq_google/transformers/__init__.py
  cirq-google/cirq_google/transformers/target_gatesets/__init__.py
  cirq-google/cirq_google/transformers/target_gatesets/google_cz_gateset.py
  cirq-google/cirq_google/transformers/target_gatesets/google_cz_gateset_test.py
Labels: automerge, front_of_queue_automerge, size: L

#5786 Handle global phase gate in single-qubit merge transformers
  cirq-core/cirq/transformers/merge_single_qubit_gates.py
  cirq-core/cirq/transformers/merge_single_qubit_gates_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5791 pytest exclude TestNoiseProperties from test discovery
  cirq-core/cirq/devices/superconducting_qubits_noise_properties_test.py
  cirq-core/cirq/experiments/readout_confusion_matrix.py
  cirq-core/cirq/linalg/transformations.py
  cirq-core/cirq/qis/states.py
Labels: automerge, front_of_queue_automerge, size: S

#5793 Always return 1D vector from final_state_vector
  cirq-core/cirq/sim/mux.py
  cirq-core/cirq/sim/state_vector_simulator.py
  cirq-core/cirq/sim/state_vector_simulator_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5792 Remove unused qid_shape param from DMSimState.init
  cirq-core/cirq/sim/density_matrix_simulation_state.py
  cirq-core/cirq/sim/density_matrix_simulator_test.py
Labels: automerge, BREAKING CHANGE, front_of_queue_automerge, Size: XS, size: S

#5749 Suppress matplotlib warnings on non-GUI use of show()
  pyproject.toml
Labels: automerge, front_of_queue_automerge, Size: XS

#5787 Support multi-qubit measurements in deferred measurement transformer
  cirq-core/cirq/transformers/measurement_transformers.py
  cirq-core/cirq/transformers/measurement_transformers_test.py
Labels: size: M

#5747 Post 1.0 version policy and release process
  cirq-google/version_policy.md
  release.md
Labels: automerge, front_of_queue_automerge, size: M

#5750 Add Observables and PauliStrings
  docs/_book.yaml
  docs/simulate/_index.yaml
  docs/simulate/pauli_observables.ipynb
Labels: automerge, front_of_queue_automerge, size: L

#5794 Add QVM pages and mentions in other pages
  dev_tools/notebooks/isolated_notebook_test.py
  dev_tools/notebooks/notebook_test.py
  docs/_book.yaml
  docs/build/circuits.ipynb
  docs/hardware/_index.yaml
  docs/hardware/devices.ipynb
  docs/hardware/qubit_picking.ipynb
  docs/simulate/_index.yaml
  docs/simulate/noisy_simulation.ipynb
  docs/simulate/quantum_virtual_machine.ipynb
  docs/simulate/qvm_basic_example.ipynb
  docs/simulate/qvm_builder_code.ipynb
  docs/simulate/qvm_stabilizer_example.ipynb
  docs/simulate/simulation.ipynb
  docs/simulate/virtual_engine_interface.ipynb
  docs/start/basics.ipynb
  docs/start/intro.ipynb
  docs/start/start.ipynb
Labels: size: XL

#5798 Update pasqal getting started tutorial to 1.0
  docs/hardware/pasqal/getting_started.ipynb
Labels: automerge, front_of_queue_automerge, size: M

#5799 Links and titles
  dev_tools/notebooks/isolated_notebook_test.py
  docs/_book.yaml
  docs/build/_index.yaml
  docs/build/pauli_observables.ipynb
  docs/hardware/qubit_picking.ipynb
  docs/noise/_index.yaml
  docs/noise/qcvv/coherent_vs_incoherent_xeb.ipynb
  docs/noise/representing_noise.ipynb
  docs/simulate/_index.yaml
  docs/simulate/quantum_virtual_machine.ipynb
  docs/simulate/qvm_basic_example.ipynb
  docs/simulate/qvm_stabilizer_example.ipynb
  docs/simulate/virtual_engine_interface.ipynb
  docs/start/basics.ipynb
  docs/start/intro.ipynb
Labels: automerge, front_of_queue_automerge, size: M

#5796 Bump Cirq version to v1.1.0
  cirq-aqt/cirq_aqt/_version.py
  cirq-aqt/cirq_aqt/_version_test.py
  cirq-core/cirq/_version.py
  cirq-core/cirq/_version_test.py
  cirq-google/cirq_google/_version.py
  cirq-google/cirq_google/_version_test.py
  cirq-ionq/cirq_ionq/_version.py
  cirq-ionq/cirq_ionq/_version_test.py
  cirq-pasqal/cirq_pasqal/_version.py
  cirq-pasqal/cirq_pasqal/_version_test.py
  cirq-rigetti/cirq_rigetti/_version.py
  cirq-rigetti/cirq_rigetti/_version_test.py
  cirq-web/cirq_web/_version.py
  cirq-web/cirq_web/_version_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5797 Revert "Add Cirq 1.0 tab to TP."
  dev_tools/triage-party/kubernetes/02_deployment/configmap.yaml
Labels: automerge, front_of_queue_automerge, size: S

#5807 Document fix
  docs/start/basics.ipynb
Labels: automerge, front_of_queue_automerge, Size: XS

#5808 Minor style changes to qvm builder code notebook
  dev_tools/notebooks/notebook_test.py
  docs/simulate/qvm_builder_code.ipynb
Labels: automerge, front_of_queue_automerge, Size: XS

#5805 Add `{Frozen}Circuit.from_moments` to construct circuit by moments.
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_test.py
  cirq-core/cirq/circuits/frozen_circuit.py
  cirq-core/cirq/circuits/frozen_circuit_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5811 Remove alpha notice.
  .github/workflows/ci.yml
  README.rst
  docs/start/install.md
  docs/start/intro.ipynb
  release.md
Labels: automerge, front_of_queue_automerge, size: S
