Repository quantumlib/Cirq, pull requests merged in 2022-11, with the labels that each got.

#5940 Fix docstring indentation of cirq.PauliString
  cirq-core/cirq/devices/grid_qubit.py
  cirq-core/cirq/ops/pauli_string.py
  cirq-core/cirq/study/flatten_expressions.py
Labels: size: S

#5824 Add handling for sympy conditions in deferred measurement transformer
  cirq-core/cirq/transformers/measurement_transformers.py
  cirq-core/cirq/transformers/measurement_transformers_test.py
Labels: size: M

#5941 Add MatrixGate.with_name method.
  cirq-core/cirq/ops/matrix_gates.py
  cirq-core/cirq/ops/matrix_gates_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5945 Document units expected by QasmUGate
  docs/build/interop.ipynb
Labels: automerge, front_of_queue_automerge, Size: XS

#5947 Fix bug in synchronize_terminal_measurements transformer
  cirq-core/cirq/transformers/synchronize_terminal_measurements.py
  cirq-core/cirq/transformers/synchronize_terminal_measurements_test.py
Labels: Size: XS, size: S

#5946 fixed XPowGate matrix description
  cirq-core/cirq/ops/common_gates.py
Labels: automerge, Size: XS

#5948 CI - add job for shellcheck
  .github/workflows/ci.yml
  check/shellcheck
Labels: automerge, front_of_queue_automerge, size: M

#5950 Mark to_json arguments as optional
  cirq-core/cirq/protocols/json_serialization.py
Labels: Size: XS

#5952 Fix lint in pylintrc
  cirq-core/cirq/circuits/circuit_operation_test.py
  cirq-core/cirq/experiments/readout_confusion_matrix.py
  cirq-core/cirq/qis/clifford_tableau.py
  cirq-core/cirq/testing/circuit_compare.py
  cirq-core/cirq/testing/routing_devices_test.py
  cirq-google/cirq_google/engine/engine_validator.py
  cirq-google/cirq_google/engine/qcs_notebook.py
  dev_tools/conf/.pylintrc
Labels: Size: XS, size: S
