Repository quantumlib/Cirq, pull requests merged in 2022-04, with the labels that each got.

#5154 Update docs/transform.ipynb based on new transformer framework.
  docs/transform.ipynb
Labels: automerge, front_of_queue_automerge, size: L

#5131 Enforce same control order in ControlledGate equality check
  cirq-core/cirq/ops/common_gates_test.py
  cirq-core/cirq/ops/controlled_gate.py
  cirq-core/cirq/ops/controlled_gate_test.py
Labels: automerge, BREAKING CHANGE, front_of_queue_automerge, size: S

#5175 Fix gates.ipynb formatting
  docs/gates.ipynb
Labels: size: S

#5178 Cleaning up cirq/install docs
  docs/install.md
Labels: automerge, front_of_queue_automerge, size: M

#5177 Fix docs/circuits.ipynb as part of docs cleanup for Cirq 1.0
  docs/circuits.ipynb
Labels: automerge, front_of_queue_automerge, size: M

#5182 Update simulator docs
  docs/simulation.ipynb
Labels: automerge, front_of_queue_automerge, size: M

#5174 Fix broken link from cirq/tutorials page as part of docs cleanup
  docs/tutorials/_index.yaml
Labels: automerge, front_of_queue_automerge, Size: XS

#5176 Convert start.md to start.ipynb.
  docs/start.ipynb
  docs/start.md
Labels: automerge, front_of_queue_automerge, size: M

#5179 Fix docs/qubits.ipynb as part of docs cleanup for Cirq 1.0
  docs/qubits.ipynb
Labels: automerge, front_of_queue_automerge, size: S

#5184 Minor cleanup of QCS tutorial
  docs/tutorials/google/start.ipynb
Labels: automerge, front_of_queue_automerge, size: S

#5191 Link fix on start page.
  docs/start.ipynb
Labels: automerge, front_of_queue_automerge, Size: XS

#5192 Neutral atom update
  docs/tutorials/educators/neutral_atom.ipynb
Labels: automerge, front_of_queue_automerge, size: L

#5198 Remove use of deprecated device behavior from quantum_volume_errors.
  examples/advanced/quantum_volume_errors.ipynb
Labels: automerge, front_of_queue_automerge, size: L

#5099 Remove BooleanHamiltonian object
  cirq-core/cirq/__init__.py
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/ops/__init__.py
  cirq-core/cirq/ops/boolean_hamiltonian.py
  cirq-core/cirq/ops/boolean_hamiltonian_test.py
  cirq-core/cirq/protocols/json_test_data/BooleanHamiltonian.json_inward
  cirq-core/cirq/protocols/json_test_data/BooleanHamiltonian.repr
  cirq-core/cirq/protocols/json_test_data/BooleanHamiltonian.repr_inward
  cirq-core/cirq/protocols/json_test_data/spec.py
Labels: automerge, front_of_queue_automerge, size: M

#5045 Refactor qcs_notebook to use application default creds
  cirq-google/cirq_google/engine/qcs_notebook.py
  cirq-google/cirq_google/engine/qcs_notebook_test.py
Labels: size: M

#5211 Cirq web supports LineQubits
  cirq-web/cirq_web/circuits/circuit.py
  cirq-web/cirq_web/circuits/circuit_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5180 Fix basics
  docs/tutorials/basics.ipynb
Labels: automerge, front_of_queue_automerge, size: L

#5207 Deprecate `gate_set` parameter on engine classes.
  cirq-google/cirq_google/calibration/workflow.py
  cirq-google/cirq_google/calibration/workflow_test.py
  cirq-google/cirq_google/engine/abstract_engine.py
  cirq-google/cirq_google/engine/abstract_local_engine.py
  cirq-google/cirq_google/engine/abstract_processor.py
  cirq-google/cirq_google/engine/engine.py
  cirq-google/cirq_google/engine/engine_processor.py
  cirq-google/cirq_google/engine/engine_processor_test.py
  cirq-google/cirq_google/engine/engine_sampler.py
  cirq-google/cirq_google/engine/engine_sampler_test.py
  cirq-google/cirq_google/engine/simulated_local_processor.py
  cirq-google/cirq_google/engine/util.py
Labels: size: M

#5212 Tweak quantum walks doc
  docs/tutorials/quantum_walks.ipynb
Labels: size: M

#5208 Deprecate json_serializable_dataclass
  cirq-core/cirq/experiments/cross_entropy_benchmarking.py
  cirq-core/cirq/experiments/grid_parallel_two_qubit_xeb.py
  cirq-core/cirq/protocols/json_serialization.py
  cirq-core/cirq/protocols/json_serialization_test.py
  cirq-google/cirq_google/calibration/phased_fsim.py
Labels: automerge, front_of_queue_automerge, size: M

#5213 Fix error and add test for mutable pauli string
  cirq-core/cirq/ops/pauli_string.py
  cirq-core/cirq/ops/pauli_string_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5206 Fix tutorials/state_histograms.ipynb as part of docs cleanup for Cirq 1.0
  docs/tutorials/state_histograms.ipynb
Labels: automerge, front_of_queue_automerge, size: M

#5205 Fix tutorials/heatmaps.ipynb as part of docs cleanup for Cirq 1.0
  docs/tutorials/heatmaps.ipynb
Labels: automerge, front_of_queue_automerge, size: M

#5137 Remove some 0.15 items from cirq.sim
  cirq-core/cirq/protocols/act_on_protocol_test.py
  cirq-core/cirq/sim/act_on_args.py
  cirq-core/cirq/sim/act_on_args_container.py
  cirq-core/cirq/sim/act_on_args_container_test.py
  cirq-core/cirq/sim/act_on_args_test.py
  cirq-core/cirq/sim/act_on_density_matrix_args.py
  cirq-core/cirq/sim/act_on_density_matrix_args_test.py
  cirq-core/cirq/sim/act_on_state_vector_args.py
  cirq-core/cirq/sim/act_on_state_vector_args_test.py
  cirq-core/cirq/sim/clifford/act_on_clifford_tableau_args.py
  cirq-core/cirq/sim/clifford/act_on_stabilizer_ch_form_args.py
  cirq-core/cirq/sim/clifford/act_on_stabilizer_ch_form_args_test.py
  cirq-core/cirq/sim/density_matrix_simulator.py
  cirq-core/cirq/sim/density_matrix_simulator_test.py
  cirq-core/cirq/sim/simulator.py
  cirq-core/cirq/sim/simulator_base.py
  cirq-core/cirq/sim/simulator_base_test.py
  cirq-core/cirq/sim/simulator_test.py
  cirq-core/cirq/sim/sparse_simulator.py
  cirq-core/cirq/sim/sparse_simulator_test.py
  cirq-core/cirq/sim/state_vector_simulator_test.py
  cirq-core/cirq/transformers/measurement_transformers_test.py
Labels: automerge, front_of_queue_automerge, size: L

#5145 Add Cynocracy to owners of cirq-ionq
  .github/CODEOWNERS
  dev_tools/codeowners_test.py
Labels: automerge, front_of_queue_automerge, Size: XS, size: S

#5204 Fix educators/qaoa_ising.ipynb as part of docs cleanup for Cirq 1.0
  docs/tutorials/educators/qaoa_ising.ipynb
Labels: automerge, front_of_queue_automerge, size: L

#5218 Improve documentation about writing type annotations
  docs/dev/style.md
Labels: automerge, front_of_queue_automerge, size: S

#5215 customer_gates.ipynb - minor content cleanup
  docs/custom_gates.ipynb
Labels: automerge, front_of_queue_automerge, size: S

#5217 Make _commutes_ consistent
  cirq-core/cirq/circuits/moment.py
  cirq-core/cirq/contrib/acquaintance/permutation.py
  cirq-core/cirq/ops/clifford_gate.py
  cirq-core/cirq/ops/common_gates.py
  cirq-core/cirq/ops/dense_pauli_string.py
  cirq-core/cirq/ops/gate_operation.py
  cirq-core/cirq/ops/pauli_gates.py
  cirq-core/cirq/ops/pauli_string.py
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/protocols/commutes_protocol.py
Labels: automerge, front_of_queue_automerge, size: S

#5227 Fix numpy annotations np.array -> np.ndarray
  cirq-core/cirq/circuits/qasm_output.py
  cirq-core/cirq/experiments/random_quantum_circuit_generation.py
  cirq-core/cirq/ion/ion_decomposition_test.py
  cirq-core/cirq/qis/clifford_tableau.py
  cirq-core/cirq/sim/density_matrix_utils.py
  cirq-google/cirq_google/calibration/engine_simulator.py
  cirq-google/cirq_google/calibration/phased_fsim.py
  examples/stabilizer_code.py
Labels: automerge, front_of_queue_automerge, size: S

#5225 Delete the target_tensor parameter that was deprecated in 0.15
  cirq-core/cirq/sim/act_on_density_matrix_args.py
  cirq-core/cirq/sim/act_on_density_matrix_args_test.py
  cirq-core/cirq/sim/act_on_state_vector_args.py
  cirq-core/cirq/sim/act_on_state_vector_args_test.py
  cirq-core/cirq/sim/clifford/act_on_stabilizer_ch_form_args.py
  cirq-core/cirq/sim/density_matrix_simulator_test.py
  cirq-core/cirq/sim/state_vector_simulator_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5224 Deprecate the ActOnArgs._on_* methods
  cirq-core/cirq/protocols/act_on_protocol_test.py
  cirq-core/cirq/sim/act_on_args.py
  cirq-core/cirq/sim/act_on_args_container_test.py
  cirq-core/cirq/sim/act_on_args_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5223 Allow specifying initial state vector in DensityMatrixSimulator
  cirq-core/cirq/qis/states.py
  cirq-core/cirq/qis/states_test.py
  cirq-core/cirq/sim/act_on_density_matrix_args.py
  cirq-core/cirq/sim/act_on_density_matrix_args_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5230 Unquote example code in ArithmeticOperation
  cirq-core/cirq/ops/arithmetic_operation.py
Labels: automerge, front_of_queue_automerge, Size: XS, size: S

#5221 Document CircuitOp optimizer best practices
  docs/google/best_practices.md
Labels: automerge, front_of_queue_automerge, size: S

#5201 Remove the deprecated mutators in cirq/ops
  cirq-core/cirq/ops/controlled_gate.py
  cirq-core/cirq/ops/controlled_gate_test.py
  cirq-core/cirq/ops/controlled_operation.py
  cirq-core/cirq/ops/controlled_operation_test.py
  cirq-core/cirq/ops/dense_pauli_string.py
  cirq-core/cirq/ops/dense_pauli_string_test.py
  cirq-core/cirq/ops/fourier_transform.py
  cirq-core/cirq/ops/fourier_transform_test.py
  cirq-core/cirq/ops/fsim_gate.py
  cirq-core/cirq/ops/fsim_gate_test.py
  cirq-core/cirq/ops/measurement_gate.py
  cirq-core/cirq/ops/measurement_gate_test.py
  cirq-core/cirq/ops/pauli_interaction_gate.py
  cirq-core/cirq/ops/pauli_interaction_gate_test.py
  cirq-core/cirq/ops/pauli_measurement_gate.py
  cirq-core/cirq/ops/pauli_measurement_gate_test.py
  cirq-core/cirq/ops/pauli_string_phasor.py
  cirq-core/cirq/ops/pauli_string_raw_types.py
  cirq-core/cirq/ops/pauli_string_raw_types_test.py
  cirq-core/cirq/ops/permutation_gate.py
  cirq-core/cirq/ops/permutation_gate_test.py
  cirq-core/cirq/ops/random_gate_channel.py
  cirq-core/cirq/ops/random_gate_channel_test.py
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/ops/raw_types_test.py
  cirq-core/cirq/ops/wait_gate.py
  cirq-core/cirq/ops/wait_gate_test.py
Labels: automerge, front_of_queue_automerge, size: L

#5222 Allow server-side warnings from IonQ
  cirq-ionq/cirq_ionq/job.py
  cirq-ionq/cirq_ionq/job_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5199 Fix educators/textbook_algorithms.ipynb as part of docs cleanup for Cirq 1.0
  docs/tutorials/educators/textbook_algorithms.ipynb
Labels: automerge, front_of_queue_automerge, size: L

#5202 Fix qcvv/xeb_theory.ipynb as part of docs cleanup for Cirq 1.0
  docs/qcvv/xeb_theory.ipynb
Labels: automerge, front_of_queue_automerge, size: S

#5185 Cleaning up tutorials/variational_algorithm.ipynb
  docs/tutorials/variational_algorithm.ipynb
Labels: automerge, front_of_queue_automerge, size: L

#5229 Document CIRCUIT_TYPE and hide other typevars/aliases in circuits.py
  cirq-core/cirq/circuits/circuit.py
Labels: automerge, front_of_queue_automerge, size: M

#5143 Make check scripts run pytest in parallel
  check/pytest
  check/pytest-and-incremental-coverage
Labels: automerge, front_of_queue_automerge, size: S

#5237 cirq-ionq: Retry non-standard cloudflare errors
  cirq-ionq/cirq_ionq/ionq_client.py
  cirq-ionq/cirq_ionq/ionq_client_test.py
Labels: automerge, size: S

#5181 Add q helper function for constructing common qubit types.
  cirq-core/cirq/__init__.py
  cirq-core/cirq/ops/__init__.py
  cirq-core/cirq/ops/qid_util.py
  cirq-core/cirq/ops/qid_util_test.py
Labels: size: M

#5226 Unpin sympy and ignore sympy type errors
  cirq-core/requirements.txt
  dev_tools/conf/mypy.ini
Labels: automerge, Size: XS

#5187 Add calibration-to-noise pipeline
  cirq-google/cirq_google/engine/calibration_to_noise_properties.py
  cirq-google/cirq_google/engine/calibration_to_noise_properties_test.py
Labels: automerge, front_of_queue_automerge, size: L

#5250 Bump tensorflow-docs version
  dev_tools/docs/build_api_docs.py
  dev_tools/requirements/deps/tensorflow-docs.txt
Labels: Size: XS

#5200 Fix tutorials/qaoa.ipynb as part of docs cleanup for Cirq 1.0
  docs/tutorials/qaoa.ipynb
Labels: automerge, front_of_queue_automerge, size: L

#5249 Remove custom cirq_type
  cirq-core/cirq/ops/boolean_hamiltonian.py
Labels: automerge, front_of_queue_automerge, Size: XS

#5170 Skip "magic trailing comma" when formatting with black
  pyproject.toml
Labels: automerge, front_of_queue_automerge, Size: XS

#5233 Remove deprecated log_of_measurement_results parameters
  cirq-core/cirq/contrib/quimb/mps_simulator.py
  cirq-core/cirq/contrib/quimb/mps_simulator_test.py
  cirq-core/cirq/protocols/act_on_protocol_test.py
  cirq-core/cirq/protocols/json_test_data/ClassicalDataDictionaryStore.json
  cirq-core/cirq/protocols/json_test_data/ClassicalDataDictionaryStore.repr
  cirq-core/cirq/sim/act_on_args.py
  cirq-core/cirq/sim/act_on_args_container.py
  cirq-core/cirq/sim/act_on_args_test.py
  cirq-core/cirq/sim/act_on_density_matrix_args.py
  cirq-core/cirq/sim/act_on_state_vector_args.py
  cirq-core/cirq/sim/clifford/act_on_clifford_tableau_args.py
  cirq-core/cirq/sim/clifford/act_on_stabilizer_args.py
  cirq-core/cirq/sim/clifford/act_on_stabilizer_args_test.py
  cirq-core/cirq/sim/clifford/act_on_stabilizer_ch_form_args.py
  cirq-core/cirq/sim/density_matrix_simulator_test.py
  cirq-core/cirq/sim/state_vector_simulator_test.py
  cirq-core/cirq/value/classical_data.py
Labels: size: M

#5255 Make the quantum state generic
  cirq-core/cirq/contrib/quimb/mps_simulator.py
  cirq-core/cirq/sim/act_on_args.py
  cirq-core/cirq/sim/act_on_density_matrix_args.py
  cirq-core/cirq/sim/act_on_state_vector_args.py
  cirq-core/cirq/sim/clifford/act_on_stabilizer_args.py
  cirq-core/cirq/sim/simulator_base_test.py
Labels: size: S

#5236 Migrate google/best_practices.md to google/best_practices.ipynb as part of docs cleanup for Cirq 1.0
  docs/google/best_practices.ipynb
  docs/google/best_practices.md
  docs/google/calibration_faq.md
  docs/google/devices.md
  docs/tutorials/google/identifying_hardware_changes.ipynb
  docs/tutorials/google/start.ipynb
Labels: automerge, front_of_queue_automerge, size: S

#5257 Ignore skip-magic-trailing-comma formatting with git blame
  .git-blame-ignore-revs
Labels: automerge, front_of_queue_automerge, Size: XS

#5248 Use sorted instead of set for random.sample
  cirq-core/cirq/circuits/circuit_test.py
Labels: Size: XS, size: L

#5251 Fix Docs: cirq/tutorials/educators/chemistry
  docs/tutorials/educators/chemistry.ipynb
Labels: automerge, size: S

#5188 Convenience methods for modifying GoogleNoiseProperties
  cirq-google/cirq_google/devices/google_noise_properties.py
  cirq-google/cirq_google/devices/google_noise_properties_test.py
Labels: size: M

#5261 Exclude TYPE_CHECKING from docs
  dev_tools/docs/build_api_docs.py
Labels: automerge, front_of_queue_automerge, size: M

#5069 Refactor the single qubit Clifford gate
  cirq-core/cirq/ops/clifford_gate.py
  cirq-core/cirq/ops/clifford_gate_test.py
Labels: automerge, front_of_queue_automerge, size: XL

#5273 Re-introduce less idiomatic code for `_group_interchangeable_qubits` implementation
  cirq-core/cirq/ops/gate_operation.py
  cirq-core/cirq/ops/gate_operation_test.py
Labels: size: S

#5275 Enable CI checks on master push event.
  .github/workflows/ci.yml
Labels: automerge, front_of_queue_automerge, size: S

#5277 Fix push event to fallback to run_id in ci
  .github/workflows/ci.yml
Labels: automerge, front_of_queue_automerge, Size: XS

#5278 Update readme file to use new build badge.
  README.rst
Labels: automerge, front_of_queue_automerge, Size: XS

#5260 Extract SV/DM/CliffordSimState from simulators
  cirq-core/cirq/contrib/quimb/mps_simulator.py
  cirq-core/cirq/protocols/json_test_data/spec.py
  cirq-core/cirq/sim/act_on_args.py
  cirq-core/cirq/sim/act_on_args_container.py
  cirq-core/cirq/sim/clifford/clifford_simulator.py
  cirq-core/cirq/sim/density_matrix_simulator.py
  cirq-core/cirq/sim/density_matrix_simulator_test.py
  cirq-core/cirq/sim/operation_target.py
  cirq-core/cirq/sim/simulator.py
  cirq-core/cirq/sim/simulator_base.py
  cirq-core/cirq/sim/simulator_base_test.py
  cirq-core/cirq/sim/simulator_test.py
  cirq-core/cirq/sim/sparse_simulator.py
  cirq-core/cirq/sim/sparse_simulator_test.py
  cirq-core/cirq/sim/state_vector_simulator.py
  cirq-core/cirq/sim/state_vector_simulator_test.py
Labels: automerge, front_of_queue_automerge, size: L

#5274 Serialize datetime
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/protocols/json_serialization.py
  cirq-core/cirq/protocols/json_serialization_test.py
  cirq-core/cirq/protocols/json_test_data/datetime.datetime.json
  cirq-core/cirq/protocols/json_test_data/datetime.datetime.repr
Labels: automerge, front_of_queue_automerge, size: M

#5245 Update ops notebook
  docs/_book.yaml
  docs/operators.ipynb
Labels: automerge, front_of_queue_automerge, size: M

#5194 [cirqflow] Hardcoded qubit placement
  cirq-core/cirq/__init__.py
  cirq-core/cirq/devices/__init__.py
  cirq-core/cirq/devices/named_topologies.py
  cirq-core/cirq/devices/named_topologies_test.py
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/json_resolver_cache.py
  cirq-google/cirq_google/json_test_data/cirq.google.HardcodedQubitPlacer.json
  cirq-google/cirq_google/json_test_data/cirq.google.HardcodedQubitPlacer.repr
  cirq-google/cirq_google/json_test_data/spec.py
  cirq-google/cirq_google/workflow/__init__.py
  cirq-google/cirq_google/workflow/qubit_placement.py
  cirq-google/cirq_google/workflow/qubit_placement_test.py
  docs/google/qubit-placement.ipynb
Labels: automerge, front_of_queue_automerge, size: L

#5209 [WIP] Expose GoogleNoiseProperties at top level
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/devices/__init__.py
  cirq-google/cirq_google/devices/google_noise_properties.py
  cirq-google/cirq_google/devices/google_noise_properties_test.py
  cirq-google/cirq_google/engine/__init__.py
  cirq-google/cirq_google/engine/calibration_to_noise_properties.py
  cirq-google/cirq_google/engine/calibration_to_noise_properties_test.py
  cirq-google/cirq_google/json_resolver_cache.py
  cirq-google/cirq_google/json_test_data/GoogleNoiseProperties.json
  cirq-google/cirq_google/json_test_data/GoogleNoiseProperties.repr
  cirq-google/cirq_google/json_test_data/spec.py
Labels: automerge, front_of_queue_automerge, size: XL

#5281 Deprecate the final_step_result parameter of TrialResult
  cirq-core/cirq/contrib/quimb/mps_simulator.py
  cirq-core/cirq/contrib/quimb/mps_simulator_test.py
  cirq-core/cirq/sim/clifford/act_on_stabilizer_ch_form_args.py
  cirq-core/cirq/sim/clifford/clifford_simulator.py
  cirq-core/cirq/sim/clifford/clifford_simulator_test.py
  cirq-core/cirq/sim/density_matrix_simulator.py
  cirq-core/cirq/sim/density_matrix_simulator_test.py
  cirq-core/cirq/sim/simulator.py
  cirq-core/cirq/sim/simulator_base.py
  cirq-core/cirq/sim/simulator_base_test.py
  cirq-core/cirq/sim/simulator_test.py
  cirq-core/cirq/sim/state_vector.py
  cirq-core/cirq/sim/state_vector_simulator.py
  cirq-core/cirq/sim/state_vector_simulator_test.py
Labels: automerge, front_of_queue_automerge, size: L

#5089 Add parameters for PauliString and GlobalPhase
  cirq-core/cirq/__init__.py
  cirq-core/cirq/ops/dense_pauli_string_test.py
  cirq-core/cirq/ops/diagonal_gate.py
  cirq-core/cirq/ops/diagonal_gate_test.py
  cirq-core/cirq/ops/global_phase_op.py
  cirq-core/cirq/ops/global_phase_op_test.py
  cirq-core/cirq/ops/pauli_string.py
  cirq-core/cirq/ops/pauli_string_test.py
  cirq-core/cirq/protocols/json_test_data/spec.py
  cirq-core/cirq/study/resolver.py
  cirq-core/cirq/value/__init__.py
  cirq-core/cirq/value/type_alias.py
  cirq-core/cirq/work/observable_measurement.py
  cirq-core/cirq/work/sampler.py
Labels: size: M

#5283 Bump types so that SimulatesIntermediateState isn't bound to ActOnArgs
  cirq-core/cirq/sim/act_on_args.py
  cirq-core/cirq/sim/act_on_args_container.py
  cirq-core/cirq/sim/simulator.py
  cirq-core/cirq/sim/simulator_base.py
  cirq-core/cirq/sim/simulator_test.py
Labels: size: S

#5285 Support complex params in `work` module
  cirq-core/cirq/work/observable_measurement.py
  cirq-core/cirq/work/observable_measurement_data.py
  cirq-core/cirq/work/observable_settings.py
  cirq-core/cirq/work/observable_settings_test.py
  cirq-core/cirq/work/sampler.py
  cirq-core/cirq/work/sampler_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5246 Fix one qubit gate docstrings to single standard, start gate zoo
  cirq-core/cirq/ops/common_gates.py
  cirq-core/cirq/ops/pauli_gates.py
  cirq-core/cirq/ops/phased_x_gate.py
  cirq-core/cirq/ops/phased_x_z_gate.py
  docs/gatezoo.ipynb
Labels: automerge, front_of_queue_automerge, size: XL

#5098 Use Boolean Hamiltonian gates for QAOA example
  examples/examples_test.py
  examples/qaoa.py
Labels: automerge, front_of_queue_automerge, size: S

#5101 GateFamily: tag validation
  cirq-core/cirq/ops/gateset.py
  cirq-core/cirq/ops/gateset_test.py
  cirq-core/cirq/protocols/json_test_data/GateFamily.json
  cirq-core/cirq/protocols/json_test_data/GateFamily.repr
  cirq-core/cirq/protocols/json_test_data/Gateset.json
  cirq-core/cirq/protocols/json_test_data/GridDeviceMetadata.json
Labels: automerge, front_of_queue_automerge, size: M

#5241 GridDeviceMetadata: allow qubit pairs in both directions
  cirq-core/cirq/devices/grid_device_metadata.py
  cirq-core/cirq/devices/grid_device_metadata_test.py
  cirq-core/cirq/protocols/json_test_data/GridDeviceMetadata.repr
  cirq-google/cirq_google/devices/serializable_device_test.py
  cirq-google/cirq_google/devices/xmon_device_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5295 format-incremental: Print black version
  check/format-incremental
Labels: automerge, front_of_queue_automerge, Size: XS

#5235 Fix call signature on Gate to show that it takes Qids.
  cirq-core/cirq/contrib/quil_import/quil.py
  cirq-core/cirq/ops/common_gates.py
  cirq-core/cirq/ops/dense_pauli_string.py
  cirq-core/cirq/ops/gate_operation.py
  cirq-core/cirq/ops/raw_types.py
Labels: automerge, front_of_queue_automerge, Size: XS, size: S

#5289 [cirqflow] run_start_time and run_end_time
  cirq-google/cirq_google/json_test_data/cirq.google.ExecutableGroupResult.json
  cirq-google/cirq_google/json_test_data/cirq.google.ExecutableGroupResult.repr
  cirq-google/cirq_google/json_test_data/cirq.google.SharedRuntimeInfo.json
  cirq-google/cirq_google/json_test_data/cirq.google.SharedRuntimeInfo.repr
  cirq-google/cirq_google/workflow/io.py
  cirq-google/cirq_google/workflow/quantum_runtime.py
  cirq-google/cirq_google/workflow/quantum_runtime_test.py
Labels: automerge, front_of_queue_automerge, area/workflow, size: S

#5290 Remove qid_pairs deprecation.
  cirq-core/cirq/__init__.py
  cirq-core/cirq/contrib/graph_device/graph_device.py
  cirq-core/cirq/contrib/graph_device/graph_device_test.py
  cirq-core/cirq/devices/__init__.py
  cirq-core/cirq/devices/device.py
  cirq-core/cirq/devices/device_test.py
  cirq-core/cirq/ion/ion_device.py
  cirq-core/cirq/ion/ion_device_test.py
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/protocols/json_test_data/SymmetricalQidPair.json_inward
  cirq-core/cirq/protocols/json_test_data/SymmetricalQidPair.repr
  cirq-core/cirq/protocols/json_test_data/SymmetricalQidPair.repr_inward
  cirq-core/cirq/protocols/json_test_data/spec.py
  cirq-google/cirq_google/devices/serializable_device.py
  cirq-google/cirq_google/devices/serializable_device_test.py
  cirq-pasqal/cirq_pasqal/pasqal_device.py
  cirq-pasqal/cirq_pasqal/pasqal_device_test.py
Labels: automerge, front_of_queue_automerge, size: L

#5297 Adjust protocols document
  dev_tools/pypath
  docs/protocols.ipynb
Labels: size: S

#4919 Generalize X and Z to Weyl–Heisenberg gates
  cirq-core/cirq/ops/common_channels.py
  cirq-core/cirq/ops/common_gates.py
  cirq-core/cirq/ops/common_gates_test.py
  cirq-core/cirq/sim/density_matrix_simulator_test.py
  cirq-core/cirq/sim/simulator_test.py
  cirq-core/cirq/sim/sparse_simulator_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5152 EngineResult
  cirq-core/cirq/study/result.py
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/engine/__init__.py
  cirq-google/cirq_google/engine/abstract_job.py
  cirq-google/cirq_google/engine/abstract_local_job_test.py
  cirq-google/cirq_google/engine/engine_job.py
  cirq-google/cirq_google/engine/engine_job_test.py
  cirq-google/cirq_google/engine/engine_processor_test.py
  cirq-google/cirq_google/engine/engine_program_test.py
  cirq-google/cirq_google/engine/engine_result.py
  cirq-google/cirq_google/engine/engine_result_test.py
  cirq-google/cirq_google/engine/engine_test.py
  cirq-google/cirq_google/engine/simulated_local_job.py
  cirq-google/cirq_google/engine/simulated_local_job_test.py
  cirq-google/cirq_google/json_resolver_cache.py
  cirq-google/cirq_google/json_test_data/cirq.google.EngineResult.json
  cirq-google/cirq_google/json_test_data/cirq.google.EngineResult.repr
  cirq-google/cirq_google/json_test_data/spec.py
Labels: automerge, front_of_queue_automerge, area/workflow, size: M

#5305 docfixit: interop format
  docs/interop.ipynb
Labels: Size: XS

#5303 create_device_from_processor_id
  cirq-google/cirq_google/engine/__init__.py
  cirq-google/cirq_google/engine/virtual_engine_factory.py
  cirq-google/cirq_google/engine/virtual_engine_factory_test.py
Labels: size: S

#5308 Minor cleanup of rabi oscillation tutorial.
  docs/tutorials/rabi_oscillations.ipynb
Labels: automerge, front_of_queue_automerge, size: L

#5299 Rename create_act_on_args to create_simulation_state
  cirq-core/cirq/contrib/quimb/mps_simulator.py
  cirq-core/cirq/contrib/quimb/mps_simulator_test.py
  cirq-core/cirq/ops/common_gates_test.py
  cirq-core/cirq/protocols/act_on_protocol.py
  cirq-core/cirq/protocols/act_on_protocol_test.py
  cirq-core/cirq/sim/clifford/clifford_simulator.py
  cirq-core/cirq/sim/clifford/clifford_simulator_test.py
  cirq-core/cirq/sim/density_matrix_simulator.py
  cirq-core/cirq/sim/density_matrix_simulator_test.py
  cirq-core/cirq/sim/density_matrix_utils_test.py
  cirq-core/cirq/sim/simulation_product_state.py
  cirq-core/cirq/sim/simulation_product_state_test.py
  cirq-core/cirq/sim/simulator.py
  cirq-core/cirq/sim/simulator_base.py
  cirq-core/cirq/sim/simulator_base_test.py
  cirq-core/cirq/sim/simulator_test.py
  cirq-core/cirq/sim/sparse_simulator.py
  cirq-core/cirq/sim/sparse_simulator_test.py
  cirq-core/cirq/sim/state_vector_test.py
  cirq-google/cirq_google/calibration/engine_simulator.py
Labels: size: L

#5309 GridDeviceMetadata: Allow to gate duration keys to be a strict subset of gateset
  cirq-core/cirq/devices/grid_device_metadata.py
  cirq-core/cirq/devices/grid_device_metadata_test.py
Labels: automerge, front_of_queue_automerge, size: S
