Repository quantumlib/Cirq, pull requests merged in 2022-05, with the labels that each got.

#5316 Update Pasqal Tutorial Documentation
  docs/tutorials/pasqal/getting_started.ipynb
Labels: size: M

#5314 Add json serialization to SycamoreTargetGateset.
  cirq-google/cirq_google/json_resolver_cache.py
  cirq-google/cirq_google/json_test_data/SycamoreTargetGateset.json
  cirq-google/cirq_google/json_test_data/SycamoreTargetGateset.repr
  cirq-google/cirq_google/json_test_data/spec.py
  cirq-google/cirq_google/transformers/target_gatesets/sycamore_gateset.py
  cirq-google/cirq_google/transformers/target_gatesets/sycamore_gateset_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5322 Gateset: fix invalid repr when gateset is empty
  cirq-core/cirq/ops/gateset.py
  cirq-core/cirq/ops/gateset_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5294 Check controlled subgate/op has mixture
  cirq-core/cirq/contrib/quirk/export_to_quirk_test.py
  cirq-core/cirq/ops/controlled_gate.py
  cirq-core/cirq/ops/controlled_gate_test.py
  cirq-core/cirq/ops/controlled_operation.py
  cirq-core/cirq/ops/controlled_operation_test.py
  cirq-core/cirq/ops/raw_types_test.py
  cirq-core/cirq/testing/consistent_protocols.py
Labels: size: M

#5304 Remove qubit_set v0.15 deprecation.
  cirq-core/cirq/devices/device.py
  cirq-core/cirq/devices/device_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5325 Remove ids from notebooks
  docs/gatezoo.ipynb
Labels: size: S

#5319 Pad inhomogenous result arrays
  cirq-core/cirq/sim/simulator_base.py
  cirq-core/cirq/sim/simulator_base_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5321 Fix Qubit Placement docs
  dev_tools/notebooks/isolated_notebook_test.py
  docs/google/qubit-placement.ipynb
Labels: Size: XS

#5312 GateFamily: add tags to str representation
  cirq-core/cirq/ops/gateset.py
  cirq-core/cirq/ops/gateset_test.py
  cirq-core/cirq/protocols/json_test_data/GateFamily.json
Labels: automerge, front_of_queue_automerge, size: S

#5328 Add `global_shift` parameter to `PhasedISwapPowGate`
  cirq-core/cirq/ops/phased_iswap_gate.py
  cirq-core/cirq/ops/phased_iswap_gate_test.py
  cirq-core/cirq/protocols/json_test_data/PhasedISwapPowGate.json
  cirq-core/cirq/protocols/json_test_data/PhasedISwapPowGate.json_inward
  cirq-core/cirq/protocols/json_test_data/PhasedISwapPowGate.repr
  cirq-core/cirq/protocols/json_test_data/PhasedISwapPowGate.repr_inward
Labels: automerge, front_of_queue_automerge, size: S

#4702 ArithmeticGate implementation
  cirq-core/cirq/__init__.py
  cirq-core/cirq/interop/quirk/__init__.py
  cirq-core/cirq/interop/quirk/cells/__init__.py
  cirq-core/cirq/interop/quirk/cells/arithmetic_cells.py
  cirq-core/cirq/interop/quirk/cells/arithmetic_cells_test.py
  cirq-core/cirq/interop/quirk/cells/composite_cell_test.py
  cirq-core/cirq/interop/quirk/cells/input_cells_test.py
  cirq-core/cirq/ops/__init__.py
  cirq-core/cirq/ops/arithmetic_operation.py
  cirq-core/cirq/ops/arithmetic_operation_test.py
  examples/examples_test.py
  examples/shor.py
Labels: cla: yes, automerge, front_of_queue_automerge, size: L

#5330 Prevent implicit package search from top level setup.py
  setup.py
Labels: automerge, front_of_queue_automerge, Size: XS

#5329 Minor (cosmetic changes)
  examples/hhl.py
Labels: automerge, front_of_queue_automerge, Size: XS

#5313 Add native gates for IonQ
  cirq-ionq/cirq_ionq/__init__.py
  cirq-ionq/cirq_ionq/ionq_client.py
  cirq-ionq/cirq_ionq/ionq_client_test.py
  cirq-ionq/cirq_ionq/ionq_devices.py
  cirq-ionq/cirq_ionq/ionq_native_gates.py
  cirq-ionq/cirq_ionq/ionq_native_gates_test.py
  cirq-ionq/cirq_ionq/json_resolver_cache.py
  cirq-ionq/cirq_ionq/json_test_data/GPI2Gate.json
  cirq-ionq/cirq_ionq/json_test_data/GPI2Gate.repr
  cirq-ionq/cirq_ionq/json_test_data/GPIGate.json
  cirq-ionq/cirq_ionq/json_test_data/GPIGate.repr
  cirq-ionq/cirq_ionq/json_test_data/MSGate.json
  cirq-ionq/cirq_ionq/json_test_data/MSGate.repr
  cirq-ionq/cirq_ionq/serializer.py
  cirq-ionq/cirq_ionq/serializer_test.py
Labels: size: L

#5280 Speed up circuit building by not forgetting about cached objects
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/moment.py
  cirq-core/cirq/circuits/moment_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5203 cirq_google.GridDevice, minus gateset and gate durations
  cirq-core/cirq/devices/grid_device_metadata.py
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/api/v2/device.proto
  cirq-google/cirq_google/devices/__init__.py
  cirq-google/cirq_google/devices/grid_device.py
  cirq-google/cirq_google/devices/grid_device_test.py
  cirq-google/cirq_google/json_resolver_cache.py
  cirq-google/cirq_google/json_test_data/GridDevice.json
  cirq-google/cirq_google/json_test_data/GridDevice.repr
Labels: automerge, front_of_queue_automerge, size: L

#5267 Consistent final_state_vector
  cirq-core/cirq/__init__.py
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_test.py
  cirq-core/cirq/ops/pauli_string_test.py
  cirq-core/cirq/sim/mux.py
  cirq-core/cirq/sim/mux_test.py
  cirq-core/cirq/sim/sparse_simulator_test.py
  cirq-core/cirq/transformers/__init__.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_state_preparation.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_state_preparation_test.py
  cirq-core/cirq/transformers/measurement_transformers.py
  cirq-core/cirq/transformers/measurement_transformers_test.py
  dev_tools/profiling/benchmark_simulators.py
  docs/tutorials/educators/chemistry.ipynb
  docs/tutorials/fourier_checking.ipynb
Labels: automerge, front_of_queue_automerge, size: L

#5333 Api docs simulators
  cirq-core/cirq/sim/density_matrix_simulator.py
  cirq-core/cirq/sim/sparse_simulator.py
  cirq-core/cirq/work/sampler.py
Labels: size: M

#5338 Median device calibrations
  cirq-google/cirq_google/devices/calibrations/rainbow_2021_11_16_calibration.json
  cirq-google/cirq_google/devices/calibrations/weber_2021_11_03_calibration.json
  cirq-google/cirq_google/devices/specifications/rainbow_2021_12_10_device_spec.proto.txt
  cirq-google/cirq_google/devices/specifications/weber_2021_12_10_device_spec.proto.txt
  cirq-google/cirq_google/engine/__init__.py
  cirq-google/cirq_google/engine/virtual_engine_factory.py
  cirq-google/cirq_google/engine/virtual_engine_factory_test.py
Labels: automerge, front_of_queue_automerge, size: XL

#5336 [cirqflow] Add `target_gateset` to QuantumRuntimeConfiguration
  cirq-google/cirq_google/json_test_data/cirq.google.ExecutableGroupResult.json
  cirq-google/cirq_google/json_test_data/cirq.google.ExecutableGroupResult.repr
  cirq-google/cirq_google/json_test_data/cirq.google.QuantumRuntimeConfiguration.json
  cirq-google/cirq_google/json_test_data/cirq.google.QuantumRuntimeConfiguration.repr
  cirq-google/cirq_google/workflow/quantum_runtime.py
  cirq-google/cirq_google/workflow/quantum_runtime_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5342 __init__ for calibrations package
  cirq-google/cirq_google/devices/calibrations/__init__.py
Labels: size: S

#5269 Add ability for circuit diagram symbols to depend on transpose
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_test.py
  cirq-core/cirq/protocols/circuit_diagram_info_protocol.py
  cirq-core/cirq/protocols/circuit_diagram_info_protocol_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5196 Update documentation on qudits
  docs/qudits.ipynb
Labels: size: M

#5341 Handle inverse for Quil's SWAP gate
  cirq-core/cirq/circuits/quil_output_test.py
  cirq-core/cirq/ops/swap_gates.py
Labels: automerge, front_of_queue_automerge, Size: XS

#5320 Encap public fields in cirq.sim
  cirq-core/cirq/sim/simulator.py
  cirq-core/cirq/sim/simulator_base.py
  cirq-core/cirq/sim/simulator_base_test.py
  cirq-core/cirq/sim/simulator_test.py
Labels: size: M

#5335 Update unitary for IonQ MS Gate
  cirq-ionq/cirq_ionq/ionq_native_gates.py
  cirq-ionq/cirq_ionq/ionq_native_gates_test.py
  cirq-ionq/cirq_ionq/json_test_data/MSGate.json
  cirq-ionq/cirq_ionq/json_test_data/MSGate.repr
  cirq-ionq/cirq_ionq/serializer_test.py
Labels: size: S

#5346 Fix (and test) Diagramming IonQ native circuits
  cirq-ionq/cirq_ionq/ionq_client.py
  cirq-ionq/cirq_ionq/ionq_native_gates.py
  cirq-ionq/cirq_ionq/ionq_native_gates_test.py
Labels: size: S

#5348 IonQ: Explicitly select lang
  cirq-ionq/cirq_ionq/ionq_client.py
  cirq-ionq/cirq_ionq/ionq_client_test.py
Labels: automerge, front_of_queue_automerge, Size: XS

#5334 Deprecate random circuits in experiments
  cirq-core/cirq/contrib/quimb/mps_simulator_test.py
  cirq-core/cirq/experiments/google_v2_supremacy_circuit.py
  cirq-core/cirq/experiments/google_v2_supremacy_circuit_test.py
Labels: size: S

#5347 IonQ: Log POST body for job submission when requests fail
  cirq-ionq/cirq_ionq/ionq_client.py
Labels: automerge, front_of_queue_automerge, Size: XS

#5344 Complete gate zoo and fix gate docs
  cirq-core/cirq/ops/boolean_hamiltonian.py
  cirq-core/cirq/ops/common_gates.py
  cirq-core/cirq/ops/dense_pauli_string.py
  cirq-core/cirq/ops/diagonal_gate.py
  cirq-core/cirq/ops/fourier_transform.py
  cirq-core/cirq/ops/fsim_gate.py
  cirq-core/cirq/ops/matrix_gates.py
  cirq-core/cirq/ops/measurement_gate.py
  cirq-core/cirq/ops/parity_gates.py
  cirq-core/cirq/ops/pauli_string_phasor.py
  cirq-core/cirq/ops/permutation_gate.py
  cirq-core/cirq/ops/phased_iswap_gate.py
  cirq-core/cirq/ops/swap_gates.py
  cirq-core/cirq/ops/three_qubit_gates.py
  cirq-core/cirq/ops/two_qubit_diagonal_gate.py
  cirq-core/cirq/ops/wait_gate.py
  docs/gatezoo.ipynb
Labels: size: L

#5357 Minor updates to calibration_faq page
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/calibration/__init__.py
  docs/google/calibration_faq.md
Labels: size: S

#5358 Minor aqt doc fixes
  docs/aqt/access.md
Labels: size: S

#5365 IonQ: Fixup unitary calculation for GPI
  cirq-ionq/cirq_ionq/ionq_native_gates.py
Labels: Size: XS

#5366 Make QASM as consistent as possible
  cirq-core/cirq/circuits/qasm_output_test.py
  cirq-core/cirq/ops/common_gates.py
  cirq-core/cirq/ops/controlled_operation.py
Labels: size: M

#5367 Add json serialization for PauliSum
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/ops/linear_combinations.py
  cirq-core/cirq/protocols/json_test_data/PauliSum.json
  cirq-core/cirq/protocols/json_test_data/PauliSum.repr
  cirq-core/cirq/protocols/json_test_data/spec.py
Labels: automerge, front_of_queue_automerge, size: M

#5368 Avoid np._bool
  cirq-core/cirq/linalg/predicates.py
  cirq-core/cirq/linalg/tolerance.py
  docs/tutorials/hidden_linear_function.ipynb
Labels: automerge, front_of_queue_automerge, size: S

#5343 Change qubit str representation
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_operation_test.py
  cirq-core/cirq/circuits/qasm_output_test.py
  cirq-core/cirq/contrib/qcircuit/qcircuit_test.py
  cirq-core/cirq/contrib/quantum_volume/quantum_volume_test.py
  cirq-core/cirq/contrib/quimb/mps_simulator_test.py
  cirq-core/cirq/contrib/routing/swap_network_test.py
  cirq-core/cirq/devices/grid_qubit.py
  cirq-core/cirq/devices/grid_qubit_test.py
  cirq-core/cirq/devices/line_qubit.py
  cirq-core/cirq/devices/line_qubit_test.py
  cirq-core/cirq/ion/ion_device_test.py
  cirq-core/cirq/neutral_atoms/neutral_atom_devices_test.py
  cirq-core/cirq/ops/classically_controlled_operation_test.py
  cirq-core/cirq/ops/controlled_gate_test.py
  cirq-core/cirq/ops/controlled_operation_test.py
  cirq-core/cirq/ops/linear_combinations_test.py
  cirq-core/cirq/ops/pauli_string_test.py
  cirq-core/cirq/ops/pauli_sum_exponential_test.py
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/sim/clifford/clifford_simulator_test.py
  cirq-core/cirq/sim/clifford/stabilizer_sampler_test.py
  cirq-core/cirq/sim/clifford/stabilizer_state_ch_form_test.py
  cirq-core/cirq/sim/density_matrix_simulator_test.py
  cirq-core/cirq/sim/simulator_base_test.py
  cirq-core/cirq/sim/simulator_test.py
  cirq-core/cirq/sim/sparse_simulator_test.py
  cirq-core/cirq/transformers/measurement_transformers_test.py
  cirq-core/cirq/value/product_state_test.py
  cirq-core/cirq/vis/state_histogram_test.py
  cirq-core/cirq/work/observable_measurement_data_test.py
  cirq-core/cirq/work/observable_measurement_test.py
  cirq-core/cirq/work/observable_settings_test.py
  cirq-google/cirq_google/devices/grid_device.py
  cirq-google/cirq_google/devices/serializable_device_test.py
  cirq-google/cirq_google/devices/xmon_device_test.py
  cirq-google/cirq_google/line/placement/sequence_test.py
  docs/tutorials/fourier_checking.ipynb
  examples/bb84.py
  examples/examples_test.py
Labels: BREAKING CHANGE, size: M

#5361 Add `cg.ProcessorSampler`
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/engine/__init__.py
  cirq-google/cirq_google/engine/abstract_processor.py
  cirq-google/cirq_google/engine/engine_processor.py
  cirq-google/cirq_google/engine/processor_sampler.py
  cirq-google/cirq_google/engine/processor_sampler_test.py
  cirq-google/cirq_google/engine/qcs_notebook.py
  cirq-google/cirq_google/engine/simulated_local_processor.py
  cirq-google/cirq_google/json_test_data/spec.py
  cirq-google/cirq_google/workflow/processor_record.py
  cirq-google/cirq_google/workflow/processor_record_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5369 Fix some type errors from mypy --next
  cirq-core/cirq/experiments/fidelity_estimation.py
  cirq-core/cirq/experiments/xeb_fitting.py
  cirq-google/cirq_google/devices/google_noise_properties_test.py
  cirq-rigetti/cirq_rigetti/qcs_sampler_and_service_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5356 Add json serialization to diagonal gates
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/ops/diagonal_gate.py
  cirq-core/cirq/ops/diagonal_gate_test.py
  cirq-core/cirq/ops/three_qubit_gates.py
  cirq-core/cirq/ops/three_qubit_gates_test.py
  cirq-core/cirq/ops/two_qubit_diagonal_gate.py
  cirq-core/cirq/ops/two_qubit_diagonal_gate_test.py
  cirq-core/cirq/protocols/json_test_data/DiagonalGate.json
  cirq-core/cirq/protocols/json_test_data/DiagonalGate.repr
  cirq-core/cirq/protocols/json_test_data/ThreeQubitDiagonalGate.json
  cirq-core/cirq/protocols/json_test_data/ThreeQubitDiagonalGate.repr
  cirq-core/cirq/protocols/json_test_data/TwoQubitDiagonalGate.json
  cirq-core/cirq/protocols/json_test_data/TwoQubitDiagonalGate.repr
  cirq-core/cirq/protocols/json_test_data/spec.py
Labels: size: M

#5364 Add entangler errors to median data
  cirq-google/cirq_google/devices/calibrations/rainbow_2021_11_16_calibration.json
  cirq-google/cirq_google/devices/calibrations/weber_2021_11_03_calibration.json
  cirq-google/cirq_google/engine/virtual_engine_factory_test.py
Labels: automerge, front_of_queue_automerge, size: XL

#5354 Test round trip of gate to operation to gate
  cirq-core/cirq/ops/gate_operation_test.py
Labels: size: M

#5247 Add testing helper for consistent channel/mixture
  cirq-core/cirq/ops/common_channels_test.py
  cirq-core/cirq/ops/kraus_channel_test.py
  cirq-core/cirq/ops/measurement_gate_test.py
  cirq-core/cirq/ops/mixed_unitary_channel_test.py
  cirq-core/cirq/ops/projector.py
  cirq-core/cirq/ops/random_gate_channel_test.py
  cirq-core/cirq/ops/state_preparation_channel_test.py
  cirq-core/cirq/testing/__init__.py
  cirq-core/cirq/testing/consistent_channels.py
  cirq-core/cirq/testing/consistent_channels_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5363 Add missing docstrings for miscellaenous functions and classes
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/neutral_atoms/convert_to_neutral_atom_gates.py
  cirq-core/cirq/ops/global_phase_op.py
  cirq-core/cirq/ops/linear_combinations.py
  cirq-core/cirq/ops/projector.py
  cirq-core/cirq/protocols/json_serialization.py
  cirq-core/cirq/protocols/qasm.py
  cirq-core/cirq/sim/state_vector_simulator.py
  cirq-core/cirq/transformers/analytical_decompositions/single_qubit_decompositions.py
  cirq-core/cirq/value/classical_data.py
  cirq-core/cirq/value/probability.py
Labels: automerge, front_of_queue_automerge, size: M

#5382 Fix lint failure
  dev_tools/notebooks/isolated_notebook_test.py
  dev_tools/requirements/deps/pylint.txt
Labels: Size: XS

#5381 Add json serialization for PauliInteractionGate
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/ops/gate_operation_test.py
  cirq-core/cirq/ops/pauli_interaction_gate.py
  cirq-core/cirq/protocols/json_test_data/PauliInteractionGate.json
  cirq-core/cirq/protocols/json_test_data/PauliInteractionGate.repr
  cirq-core/cirq/protocols/json_test_data/spec.py
Labels: automerge, front_of_queue_automerge, size: S

#5339 verbosify cirq_type deprecation
  cirq-core/cirq/protocols/json_serialization.py
Labels: automerge, front_of_queue_automerge, size: S

#5379 Remove can_add_operation_into_moment deprecation.
  cirq-core/cirq/circuits/circuit_test.py
  cirq-core/cirq/devices/device.py
  cirq-core/cirq/ion/ion_device_test.py
  cirq-core/cirq/neutral_atoms/neutral_atom_devices.py
  cirq-core/cirq/neutral_atoms/neutral_atom_devices_test.py
  cirq-google/cirq_google/devices/xmon_device.py
  cirq-google/cirq_google/devices/xmon_device_test.py
  cirq-pasqal/cirq_pasqal/pasqal_device.py
  cirq-pasqal/cirq_pasqal/pasqal_device_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5384 Reject formulas as keys of ParamResolvers
  cirq-core/cirq/study/resolver.py
  cirq-core/cirq/study/resolver_test.py
  cirq-google/cirq_google/api/v2/sweeps.py
  cirq-google/cirq_google/api/v2/sweeps_test.py
Labels: BREAKING CHANGE, size: S

#5385 Keep --pre from installing protobuf 4.x
  cirq-google/requirements.txt
Labels: automerge, front_of_queue_automerge, Size: XS

#5380 Remove decompose_operation deprecation from device.
  cirq-core/cirq/devices/device.py
  cirq-core/cirq/devices/device_test.py
  cirq-core/cirq/ion/ion_device.py
  cirq-core/cirq/ion/ion_device_test.py
  cirq-core/cirq/neutral_atoms/neutral_atom_devices.py
  cirq-core/cirq/neutral_atoms/neutral_atom_devices_test.py
  cirq-core/cirq/testing/devices.py
  cirq-google/cirq_google/devices/xmon_device.py
  cirq-google/cirq_google/devices/xmon_device_test.py
  cirq-ionq/cirq_ionq/ionq_devices.py
  cirq-ionq/cirq_ionq/ionq_devices_test.py
  cirq-pasqal/cirq_pasqal/pasqal_device.py
  cirq-pasqal/cirq_pasqal/pasqal_device_test.py
  docs/tutorials/educators/ion_device.ipynb
Labels: automerge, front_of_queue_automerge, size: M

#5386 Ignore operations on more than 10 qubits in drop_negligible_operations transformer
  cirq-core/cirq/transformers/drop_negligible_operations.py
  cirq-core/cirq/transformers/drop_negligible_operations_test.py
Labels: size: S

#5391 Remove stale condition from assert_controlled_and_controlled_by_identical test
  cirq-core/cirq/testing/consistent_controlled_gate_op.py
Labels: Size: XS

#5377 Change Pasqal to use transformers
  cirq-pasqal/cirq_pasqal/__init__.py
  cirq-pasqal/cirq_pasqal/json_resolver_cache.py
  cirq-pasqal/cirq_pasqal/json_test_data/PasqalGateset.json
  cirq-pasqal/cirq_pasqal/json_test_data/PasqalGateset.repr
  cirq-pasqal/cirq_pasqal/pasqal_device.py
  cirq-pasqal/cirq_pasqal/pasqal_gateset.py
  cirq-pasqal/cirq_pasqal/pasqal_gateset_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5390 Fix CCO related nits in `cirq.Operation` and `cirq.TaggedOperation`
  cirq-core/cirq/ops/classically_controlled_operation.py
  cirq-core/cirq/ops/classically_controlled_operation_test.py
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/ops/raw_types_test.py
Labels: size: S

#5396 Fix typo in docs/tutorials/state_histograms.ipynb
  docs/tutorials/state_histograms.ipynb
Labels: Size: XS

#5398 Fix typos and nits in docs/transform.ipynb
  docs/transform.ipynb
Labels: automerge, front_of_queue_automerge, size: M

#5373 Drop support for python 3.6
  .github/workflows/ci.yml
  asv.conf.json
  cirq-aqt/setup.py
  cirq-core/cirq/__init__.py
  cirq-core/cirq/_version.py
  cirq-core/cirq/protocols/json_test_data/spec.py
  cirq-core/cirq/sim/simulator.py
  cirq-core/cirq/value/__init__.py
  cirq-core/cirq/value/abc_alt.py
  cirq-core/requirements.txt
  cirq-core/setup.py
  cirq-google/cirq_google/_version.py
  cirq-google/setup.py
  cirq-ionq/setup.py
  cirq-pasqal/setup.py
  cirq-web/setup.py
  dev_tools/modules_test.py
  dev_tools/modules_test_data/mod1/setup.py
  pyproject.toml
  setup.py
Labels: automerge, front_of_queue_automerge, size: M

#5408 Fix protobuf version specifiers in cirq-google/requirements.txt
  cirq-google/requirements.txt
Labels: Size: XS

#5394 Major organizational restructure of top level tabs
  docs/_book.yaml
  docs/build/_index.yaml
  docs/circuits.ipynb
  docs/custom_gates.ipynb
  docs/experiments/_index.yaml
  docs/gates.ipynb
  docs/hardware/_index.yaml
  docs/noise/_index.yaml
  docs/noisy_simulation.ipynb
  docs/operators.ipynb
  docs/simulate/_index.yaml
  docs/start.ipynb
  docs/transform/_index.yaml
  docs/transformers.ipynb
  docs/tutorials/basics.ipynb
Labels: size: L

#5393 Improve support for CCOs in `cirq.merge_operations`
  cirq-core/cirq/transformers/optimize_for_target_gateset_test.py
  cirq-core/cirq/transformers/transformer_primitives.py
  cirq-core/cirq/transformers/transformer_primitives_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5415 Fix docstrings in gate(set|family)
  cirq-core/cirq/ops/gateset.py
Labels: automerge, size: M

#5420 Make all non-analytical gate decompositions respect global phase
  cirq-core/cirq/ops/common_gates.py
  cirq-core/cirq/ops/common_gates_test.py
  cirq-core/cirq/ops/phased_iswap_gate_test.py
  cirq-core/cirq/ops/swap_gates_test.py
  cirq-core/cirq/ops/three_qubit_gates.py
  cirq-core/cirq/ops/three_qubit_gates_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5421 Update release instructions to include Zenodo citation update
  release.md
Labels: size: S

#5423 Remove unused parameter in test
  cirq-core/cirq/contrib/paulistring/pauli_string_dag_test.py
Labels: Size: XS

#5419 Do not generate default repetition ids if use_repetition_ids=False
  cirq-core/cirq/circuits/circuit_operation.py
  cirq-core/cirq/circuits/circuit_operation_test.py
Labels: size: S

#5410 Support prepending noise
  cirq-core/cirq/contrib/noise_models/noise_models.py
  cirq-core/cirq/contrib/noise_models/noise_models_test.py
  cirq-core/cirq/devices/insertion_noise_model.py
  cirq-core/cirq/devices/noise_model.py
  cirq-core/cirq/devices/noise_model_test.py
  cirq-core/cirq/devices/thermal_noise_model.py
  cirq-core/cirq/devices/thermal_noise_model_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5424 Deprecating cross_entropy_benchmarking and grid_parallel_two_qubit_xeb
  cirq-core/cirq/experiments/cross_entropy_benchmarking.py
  cirq-core/cirq/experiments/cross_entropy_benchmarking_test.py
  cirq-core/cirq/experiments/grid_parallel_two_qubit_xeb.py
  cirq-core/cirq/experiments/grid_parallel_two_qubit_xeb_test.py
  cirq-core/cirq/protocols/json_test_data/spec.py
  examples/cross_entropy_benchmarking_example.py
  examples/examples_test.py
Labels: automerge, front_of_queue_automerge, size: L
