Repository quantumlib/Cirq, pull requests merged in 2022-09, with the labels that each got.

#5853 Restrict numpy version to unblock inflight PRs from failing
  cirq-core/requirements.txt
Labels: Size: XS

#5846 Adds unitary testing for routed circuits
  cirq-core/cirq/testing/__init__.py
  cirq-core/cirq/testing/circuit_compare.py
  cirq-core/cirq/testing/circuit_compare_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5838 Adds the main transformer to do routing in Cirq
  cirq-core/cirq/__init__.py
  cirq-core/cirq/protocols/json_test_data/spec.py
  cirq-core/cirq/transformers/__init__.py
  cirq-core/cirq/transformers/routing/__init__.py
  cirq-core/cirq/transformers/routing/route_circuit_cqc.py
  cirq-core/cirq/transformers/routing/route_circuit_cqc_test.py
Labels: size: L

#5766 Enable testing of cirq_google notebooks.
  cirq-google/cirq_google/engine/qcs_notebook.py
  cirq-google/cirq_google/engine/qcs_notebook_test.py
  dev_tools/notebooks/notebook_test.py
  docs/tutorials/google/colab.ipynb
  docs/tutorials/google/start.ipynb
Labels: automerge, front_of_queue_automerge, size: L

#5856 Fix typing complaints showing at numpy 1.23
  cirq-core/cirq/contrib/quantum_volume/quantum_volume.py
  cirq-core/cirq/experiments/fidelity_estimation.py
  cirq-core/cirq/experiments/purity_estimation.py
  cirq-core/cirq/interop/quirk/cells/input_rotation_cells.py
  cirq-core/cirq/linalg/decompositions.py
  cirq-core/cirq/linalg/transformations.py
  cirq-core/cirq/protocols/trace_distance_bound.py
  cirq-core/cirq/qis/states.py
  cirq-core/cirq/sim/density_matrix_utils.py
  cirq-core/cirq/sim/state_vector_simulator.py
  cirq-core/requirements.txt
Labels: automerge, front_of_queue_automerge, size: S

#5858 Change to use virtual engine in cirq_google docs
  docs/tutorials/google/colab.ipynb
  docs/tutorials/google/start.ipynb
Labels: automerge, front_of_queue_automerge, Size: XS

#5865 Fix mypy error on master
  cirq-google/cirq_google/engine/engine_client.py
Labels: Size: XS

#5864 Add benchmarks for parameter resolution
  benchmarks/parameter_resolution.py
  check/asv_run
Labels: size: S

#5871 Remove TODO markers for fixed issues
  cirq-core/cirq/ops/boolean_hamiltonian.py
  cirq-core/cirq/ops/clifford_gate_test.py
Labels: automerge, front_of_queue_automerge, Size: XS

#5869 Add performance benchmarks for CQC circuit routing
  benchmarks/transformers/__init__.py
  benchmarks/transformers/routing.py
Labels: size: S

#5848 Added visualization for qubit permutations for routed circuits
  cirq-core/cirq/__init__.py
  cirq-core/cirq/ops/gate_operation_test.py
  cirq-core/cirq/transformers/__init__.py
  cirq-core/cirq/transformers/routing/__init__.py
  cirq-core/cirq/transformers/routing/visualize_routed_circuit.py
  cirq-core/cirq/transformers/routing/visualize_routed_circuit_test.py
Labels: size: M

#5839 Replace pure python loops with numpy where possible in channels.py.
  cirq-core/cirq/qis/channels.py
Labels: automerge, front_of_queue_automerge, size: S

#5875 Tell git to ignore build directories from distutils
  .gitignore
  cirq-web/.gitignore
Labels: automerge, front_of_queue_automerge, Size: XS

#5876 Fix docstring typos in cirq.devices submodule
  cirq-core/cirq/devices/grid_device_metadata.py
  cirq-core/cirq/devices/insertion_noise_model.py
  cirq-core/cirq/devices/noise_model.py
  cirq-core/cirq/devices/thermal_noise_model.py
Labels: automerge, front_of_queue_automerge, size: S

#5877 Adds tutorial ipynb for routing as a transformer
  docs/_book.yaml
  docs/transform/_index.yaml
  docs/transform/routing_transformer.ipynb
Labels: size: L

#5872 Speeds up RouteCQC by encoding qubits as integers
  cirq-core/cirq/transformers/routing/mapping_manager.py
  cirq-core/cirq/transformers/routing/mapping_manager_test.py
  cirq-core/cirq/transformers/routing/route_circuit_cqc.py
  dev_tools/notebooks/isolated_notebook_test.py
  docs/transform/routing_transformer.ipynb
Labels: size: L

#5868 Use pytest-randomly for reproducible random test parameters
  .github/workflows/ci.yml
  check/pytest
  check/pytest-and-incremental-coverage
  check/pytest-changed-files
  cirq-core/cirq/contrib/routing/initialization_test.py
  cirq-core/cirq/ops/boolean_hamiltonian_test.py
  cirq-core/cirq/sim/clifford/clifford_simulator_test.py
  cirq-core/cirq/transformers/analytical_decompositions/controlled_gate_decomposition_test.py
  conftest.py
  dev_tools/bash_scripts_test.py
  dev_tools/packaging/isolated_packages_test.py
  dev_tools/requirements/deps/pytest.txt
  examples/direct_fidelity_estimation_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5879 Remove a few debug prints from tests
  cirq-core/cirq/contrib/routing/swap_network_test.py
  cirq-core/cirq/devices/noise_utils_test.py
  cirq-core/cirq/experiments/xeb_simulation_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5882 Use GitHub tarball for tensorflow-docs dependency
  dev_tools/requirements/deps/tensorflow-docs.txt
Labels: automerge, front_of_queue_automerge, Size: XS

#5866 Add performance benchmarks for single qubit randomized benchmarking
  benchmarks/randomized_benchmarking.py
Labels: automerge, front_of_queue_automerge, size: M

#5886 Generalize filtration of dev requirements that can't be uploaded to pypi
  setup.py
Labels: Size: XS

#5885 Address nits in Single Qubit Randomized Benchmarking benchmarks:
  benchmarks/randomized_benchmarking.py
Labels: automerge, front_of_queue_automerge, size: S

#5891 Fix failing imports from httpcore
  cirq-rigetti/cirq_rigetti/service_test.py
  cirq-rigetti/requirements.txt
Labels: automerge, front_of_queue_automerge, Size: XS, size: S

#5890 Bump up the minimum required version of ply
  cirq-core/cirq/contrib/requirements.txt
Labels: automerge, front_of_queue_automerge, Size: XS

#5892 untangle entangled tests
  .github/workflows/ci.yml
  check/pytest
  cirq-google/cirq_google/engine/engine_job_test.py
  cirq-google/cirq_google/engine/engine_processor_test.py
  cirq-google/cirq_google/engine/engine_program_test.py
  cirq-google/cirq_google/engine/engine_test.py
  dev_tools/packaging/isolated_packages_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5894 Optimize circuit/moment resolution to reuse instances if possible
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_test.py
  cirq-core/cirq/circuits/frozen_circuit.py
  cirq-core/cirq/circuits/moment.py
  cirq-core/cirq/circuits/moment_test.py
Labels: size: M

#5889 Implement the inverse of IonQ native gates
  cirq-ionq/cirq_ionq/ionq_native_gates.py
  cirq-ionq/cirq_ionq/ionq_native_gates_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5898 Speed up circuit construction when contents are a list of moments
  cirq-core/cirq/circuits/circuit.py
Labels: area/performance, Size: XS
