Repository quantumlib/Cirq, pull requests merged in 2022-06, with the labels that each got.

#5428 Deprecate least_squares functions in fidelity_estimation
  cirq-core/cirq/experiments/fidelity_estimation.py
  cirq-core/cirq/experiments/fidelity_estimation_test.py
Labels: automerge

#5307 Fix from_diagram docstring on GridQubit.
  cirq-core/cirq/devices/grid_qubit.py
Labels: automerge, front_of_queue_automerge, size: S

#5417 Custom-state-representation simulator infra
  cirq-core/cirq/contrib/custom_simulators/custom_state_simulator.py
  cirq-core/cirq/contrib/custom_simulators/custom_state_simulator_test.py
Labels: automerge, front_of_queue_automerge, size: L

#5412 Simplify cd to the executing script directory
  check/all
  check/asv_run
  check/build-changed-protos
  check/doctest
  check/format-incremental
  check/mypy
  check/nbformat
  check/npm
  check/npx
  check/pylint
  check/pylint-changed-files
  check/pytest
  check/pytest-changed-files
  check/ts-build
  check/ts-coverage
  check/ts-lint
  check/ts-lint-and-format
  check/ts-test
  check/ts-test-e2e
  dev_tools/build-protos.sh
  dev_tools/pr_monitor.sh
Labels: automerge, front_of_queue_automerge, size: S

#5402 Deprecate implementation of _base_iterator
  cirq-core/cirq/sim/simulator.py
  cirq-core/cirq/sim/simulator_base.py
  cirq-core/cirq/sim/simulator_base_test.py
  cirq-core/cirq/sim/simulator_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5372 Rigetti Getting Started Docs Cleanup
  docs/tutorials/rigetti/getting_started.ipynb
Labels: automerge, front_of_queue_automerge, size: L

#5431 Fix tests that break python-repeat
  cirq-core/cirq/contrib/acquaintance/topological_sort_test.py
  cirq-core/cirq/study/sweeps_test.py
  cirq-core/cirq/testing/circuit_compare_test.py
Labels: automerge, front_of_queue_automerge, kind/health, size: S

#5439 Revert "Bump npm from 7.16.0 to 8.11.0 in /cirq-web/cirq_ts"
  cirq-web/cirq_ts/package-lock.json
  cirq-web/cirq_ts/package.json
Labels: automerge, front_of_queue_automerge, size: XL

#5436 Avoid subshell executions for $(pwd)
  .github/workflows/release-master.yml
  check/build-changed-protos
  dev_tools/build-protos.sh
  dev_tools/docs/build-rtd-docs.sh
Labels: automerge, front_of_queue_automerge, Size: XS

#5399 Add CircuitOperation blurb
  docs/circuits.ipynb
Labels: automerge, front_of_queue_automerge, size: M

#5432 Deprecate QuantumEngineSampler
  cirq-google/cirq_google/calibration/workflow.py
  cirq-google/cirq_google/calibration/workflow_test.py
  cirq-google/cirq_google/engine/__init__.py
  cirq-google/cirq_google/engine/engine.py
  cirq-google/cirq_google/engine/engine_sampler.py
  cirq-google/cirq_google/engine/engine_sampler_test.py
  cirq-google/cirq_google/engine/engine_test.py
Labels: size: M

#5441 Phrasing pass for Circuits
  docs/circuits.ipynb
Labels: size: M

#5443 Add outputs back into rigetti getting started guide.
  docs/tutorials/rigetti/getting_started.ipynb
Labels: size: L

#5444 Update repr of pauli strings
  cirq-core/cirq/ops/pauli_measurement_gate_test.py
  cirq-core/cirq/ops/pauli_string.py
  cirq-core/cirq/ops/pauli_string_test.py
Labels: Size: XS, size: S

#5315 GridDevice gateset, gate_duration, and compilation_target_gateset support
  cirq-google/cirq_google/devices/grid_device.py
  cirq-google/cirq_google/devices/grid_device_test.py
Labels: size: XL

#5446 Fix minor grammar issue on specification page.
  docs/google/specification.md
Labels: automerge, front_of_queue_automerge, Size: XS

#5438 GridDeviceMetadata gate durations: docstring for looking up gate duration via searching through GateFamilies
  cirq-core/cirq/devices/grid_device_metadata.py
Labels: automerge, front_of_queue_automerge, size: S

#5403 Document classical control
  cirq-core/cirq/ops/raw_types.py
  docs/classical_control.ipynb
Labels: automerge, front_of_queue_automerge, size: M

#5451 Add numpy support for Google serialization
  cirq-google/cirq_google/serialization/arg_func_langs.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
  cirq-google/cirq_google/serialization/op_serializer.py
  cirq-google/cirq_google/serialization/op_serializer_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5416 Make IonQ native gate docstring format correctly
  cirq-ionq/cirq_ionq/ionq_native_gates.py
Labels: automerge, size: M

#5349 IonQ: Include json body of error response when possible
  cirq-ionq/cirq_ionq/ionq_client.py
Labels: automerge, front_of_queue_automerge, Size: XS

#5411 cirq.measure - accept list arguments
  cirq-core/cirq/ops/measure_util.py
  cirq-core/cirq/ops/measure_util_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5458 pr_monitor: post empty string as commit message if PR body is empty
  dev_tools/pr_monitor.py
Labels: automerge, front_of_queue_automerge, Size: XS

#5450 Fix more check/mypy --next errors
  cirq-core/cirq/linalg/decompositions.py
  cirq-core/cirq/sim/density_matrix_simulator.py
  cirq-core/cirq/sim/density_matrix_simulator_test.py
  cirq-core/cirq/sim/sparse_simulator.py
  cirq-core/cirq/sim/sparse_simulator_test.py
  cirq-core/cirq/sim/state_vector.py
  cirq-core/cirq/transformers/analytical_decompositions/cphase_to_fsim.py
  cirq-core/cirq/transformers/analytical_decompositions/three_qubit_decomposition.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_state_preparation.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_cz_test.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_fsim.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_fsim_test.py
  cirq-google/cirq_google/calibration/engine_simulator.py
  cirq-google/cirq_google/calibration/engine_simulator_test.py
  cirq-google/cirq_google/calibration/phased_fsim.py
Labels: automerge, front_of_queue_automerge, size: M

#5454 Adds missing consistent mixture tests.
  cirq-core/cirq/testing/consistent_channels.py
  cirq-core/cirq/testing/consistent_channels_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5462 Fix circuit api rendering issues
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_dag.py
Labels: automerge, front_of_queue_automerge, size: M

#5461 Lazily load scipy.linalg
  cirq-core/cirq/devices/thermal_noise_model.py
Labels: automerge, front_of_queue_automerge, Size: XS

#5326 Remove execution result from notebooks
  docs/tutorials/educators/ion_device.ipynb
  docs/tutorials/hidden_linear_function.ipynb
Labels: automerge, front_of_queue_automerge, size: M

#5456 The number of exponents is too damn high
  cirq-core/cirq/testing/consistent_protocols.py
Labels: automerge, front_of_queue_automerge, Size: XS

#5453 OpenFermion tutorial moved to recirq, delete it
  dev_tools/notebooks/isolated_notebook_test.py
  dev_tools/notebooks/notebook_test.py
  docs/tutorials/educators/chemistry.ipynb
Labels: automerge, front_of_queue_automerge, size: XL

#5466 Pass through None during param resolution
  cirq-core/cirq/study/resolver.py
  cirq-core/cirq/study/resolver_test.py
Labels: automerge, BREAKING CHANGE, front_of_queue_automerge, Size: XS

#5464 Remove deprecated qubit_set.
  cirq-core/cirq/devices/unconstrained_device.py
  cirq-core/cirq/devices/unconstrained_device_test.py
  cirq-core/cirq/ion/ion_device.py
  cirq-core/cirq/ion/ion_device_test.py
  cirq-core/cirq/neutral_atoms/neutral_atom_devices.py
  cirq-core/cirq/neutral_atoms/neutral_atom_devices_test.py
  cirq-google/cirq_google/devices/known_devices_test.py
  cirq-google/cirq_google/devices/serializable_device.py
  cirq-google/cirq_google/devices/serializable_device_test.py
  cirq-google/cirq_google/devices/xmon_device.py
  cirq-google/cirq_google/devices/xmon_device_test.py
  cirq-ionq/cirq_ionq/ionq_devices.py
  cirq-pasqal/cirq_pasqal/pasqal_device.py
  cirq-pasqal/cirq_pasqal/pasqal_device_test.py
Labels: automerge, front_of_queue_automerge, size: M

#4910 Allow choice of subdimension in cirq.apply_unitary
  cirq-core/cirq/protocols/apply_unitary_protocol.py
  cirq-core/cirq/protocols/apply_unitary_protocol_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5406 Add Visualizing Results section to Basics tutorial, other minor improvements.
  docs/tutorials/basics.ipynb
Labels: size: M

#5378 Publish sample Z phase errors
  cirq-google/cirq_google/devices/calibrations/rainbow_2021_08_26_zphase.json
  cirq-google/cirq_google/devices/calibrations/weber_2021_04_20_zphase.json
  cirq-google/cirq_google/engine/__init__.py
  cirq-google/cirq_google/engine/calibration_to_noise_properties.py
  cirq-google/cirq_google/engine/calibration_to_noise_properties_test.py
  cirq-google/cirq_google/engine/util.py
  cirq-google/cirq_google/engine/virtual_engine_factory.py
  cirq-google/cirq_google/engine/virtual_engine_factory_test.py
Labels: automerge, front_of_queue_automerge, size: XL

#5468 Add private_map to cirq api docs gen.
  dev_tools/docs/build_api_docs.py
Labels: automerge, front_of_queue_automerge, size: S

#5467 Cleanup cirq.Circuit api docs.
  cirq-core/cirq/circuits/circuit.py
Labels: automerge, front_of_queue_automerge, size: M

#5471 Remove special CXPowGate.on.
  cirq-core/cirq/ops/common_gates.py
  cirq-core/cirq/ops/common_gates_test.py
Labels: automerge, BREAKING CHANGE, front_of_queue_automerge, size: M

#5437 Create a notebook describing parameter sweeps
  docs/params.ipynb
  docs/simulate/_index.yaml
  docs/simulation.ipynb
Labels: automerge, front_of_queue_automerge, size: L

#5473 Add clarification to notebook external deps in docs
  docs/_template.ipynb
  docs/dev/notebooks.md
Labels: size: S

#5324 Setup for disabling state_vector copy
  cirq-core/cirq/circuits/circuit_operation_test.py
  cirq-core/cirq/contrib/quantum_volume/quantum_volume.py
  cirq-core/cirq/experiments/grid_parallel_two_qubit_xeb.py
  cirq-core/cirq/experiments/xeb_simulation.py
  cirq-core/cirq/ops/boolean_hamiltonian_test.py
  cirq-core/cirq/ops/common_gates_test.py
  cirq-core/cirq/sim/mux.py
  cirq-core/cirq/sim/simulator_test.py
  cirq-core/cirq/sim/sparse_simulator.py
  cirq-core/cirq/sim/sparse_simulator_test.py
  cirq-core/cirq/sim/state_vector.py
  cirq-core/cirq/sim/state_vector_simulator.py
  cirq-core/cirq/sim/state_vector_simulator_test.py
  cirq-core/cirq/sim/state_vector_test.py
  cirq-google/cirq_google/calibration/engine_simulator.py
  docs/simulation.ipynb
  docs/tutorials/educators/intro.ipynb
  docs/tutorials/fourier_checking.ipynb
  examples/stabilizer_code.ipynb
  examples/stabilizer_code_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5478 Fix WaitGate parameter resolution with multiple qubits
  cirq-core/cirq/ops/wait_gate.py
  cirq-core/cirq/ops/wait_gate_test.py
Labels: size: S

#5484 Prefer range(x) not range(0, x)
  cirq-core/cirq/circuits/circuit_test.py
  cirq-core/cirq/circuits/text_diagram_drawer.py
  cirq-core/cirq/ops/boolean_hamiltonian.py
  cirq-core/cirq/ops/matrix_gates.py
  cirq-core/cirq/ops/state_preparation_channel.py
  cirq-core/cirq/qis/clifford_tableau.py
  cirq-core/cirq/qis/states_test.py
  cirq-core/cirq/transformers/analytical_decompositions/controlled_gate_decomposition_test.py
  cirq-google/cirq_google/line/placement/optimization.py
  docs/tutorials/quantum_walks.ipynb
Labels: kind/health, size: S

#5489 Union[None, X] is Optional[X]
  cirq-core/cirq/protocols/decompose_protocol.py
  cirq-core/cirq/protocols/pow_protocol.py
  cirq-core/cirq/work/observable_settings.py
Labels: kind/health, size: S

#5479 Add IonQTargetGateset and use it for circuit compilations.
  cirq-ionq/cirq_ionq/__init__.py
  cirq-ionq/cirq_ionq/ionq_devices.py
  cirq-ionq/cirq_ionq/ionq_devices_test.py
  cirq-ionq/cirq_ionq/ionq_gateset.py
  cirq-ionq/cirq_ionq/ionq_gateset_test.py
  cirq-ionq/cirq_ionq/json_resolver_cache.py
  cirq-ionq/cirq_ionq/json_test_data/IonQTargetGateset.json
  cirq-ionq/cirq_ionq/json_test_data/IonQTargetGateset.repr
Labels: automerge, front_of_queue_automerge, size: L

#5414 Split the Transformers page into Transformers and Custom Transformers
  docs/_book.yaml
  docs/transform/_index.yaml
  docs/transform/custom_transformers.ipynb
  docs/transformers.ipynb
Labels: size: L

#5485 Add information on new vendor setup
  docs/dev/rfc_process.md
  docs/ecosystem.md
  docs/hardware/_index.yaml
Labels: size: M

#5494 Remove stale comment from json_serialization_test.py
  cirq-core/cirq/protocols/json_serialization_test.py
Labels: automerge, front_of_queue_automerge, Size: XS

#5487 Update error message when invalid sympy arg is serialized
  cirq-google/cirq_google/serialization/arg_func_langs.py
Labels: automerge, front_of_queue_automerge, Size: XS

#5496 Updated cirq.ionq to cirq_ionq throughout
  docs/ionq/access.md
  docs/ionq/calibrations.md
  docs/ionq/circuits.md
  docs/ionq/jobs.md
  docs/ionq/service.md
  docs/tutorials/ionq/getting_started.ipynb
Labels: automerge, front_of_queue_automerge, size: S

#5493 Move `cirq.contrib.quil_import` to `cirq_rigetti.quil_input`
  cirq-core/cirq/contrib/quil_import/__init__.py
  cirq-core/cirq/contrib/requirements.txt
  cirq-rigetti/cirq_rigetti/__init__.py
  cirq-rigetti/cirq_rigetti/quil_input.py
  cirq-rigetti/cirq_rigetti/quil_input_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5490 Create a `quil_output.py` in `cirq-rigetti` that doesn't call the `quil` protocol
  cirq-rigetti/cirq_rigetti/__init__.py
  cirq-rigetti/cirq_rigetti/_quil_output.py
  cirq-rigetti/cirq_rigetti/circuit_transformers.py
  cirq-rigetti/cirq_rigetti/quil_output.py
  cirq-rigetti/cirq_rigetti/quil_output_test.py
Labels: automerge, front_of_queue_automerge, size: XL

#5501 [API docs] line_qubit api format.
  cirq-core/cirq/devices/line_qubit.py
Labels: automerge, front_of_queue_automerge, size: S

#5504 Dont include global phase gate in decomposition of parameterized CCZPow gate when global_shift is 0
  cirq-core/cirq/ops/three_qubit_gates.py
  cirq-core/cirq/ops/three_qubit_gates_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5506 [API docs] Fix Moment API docs.
  cirq-core/cirq/circuits/moment.py
Labels: automerge, front_of_queue_automerge, size: S

#5503 [API docs] Gate api docs cleanup.
  cirq-core/cirq/ops/raw_types.py
Labels: automerge, front_of_queue_automerge, size: S

#5508 Move cirq.ion.ion_gates.MSGate to cirq.ops module
  cirq-core/cirq/__init__.py
  cirq-core/cirq/ion/__init__.py
  cirq-core/cirq/ion/ion_gates.py
  cirq-core/cirq/ion/ion_gates_test.py
  cirq-core/cirq/ops/__init__.py
  cirq-core/cirq/ops/gate_operation_test.py
  cirq-core/cirq/ops/parity_gates.py
  cirq-core/cirq/ops/parity_gates_test.py
Labels: size: L

#5492 Make _create_transformer_with_kwargs a public method
  cirq-core/cirq/__init__.py
  cirq-core/cirq/transformers/__init__.py
  cirq-core/cirq/transformers/target_gatesets/__init__.py
  cirq-core/cirq/transformers/target_gatesets/compilation_target_gateset.py
  cirq-core/cirq/transformers/target_gatesets/compilation_target_gateset_test.py
  cirq-google/cirq_google/transformers/target_gatesets/sycamore_gateset.py
  cirq-ionq/cirq_ionq/ionq_gateset.py
Labels: automerge, front_of_queue_automerge, size: M

#5509 Move `two_qubit_matrix_to_ion_operations` to cirq/transformers/analytical_decompositions
  cirq-core/cirq/__init__.py
  cirq-core/cirq/ion/__init__.py
  cirq-core/cirq/transformers/__init__.py
  cirq-core/cirq/transformers/analytical_decompositions/__init__.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_ms.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_ms_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5513 The simulate overview page is missing a button.
  docs/simulate/_index.yaml
Labels: automerge, front_of_queue_automerge, Size: XS

#5512 cirq_google GridDevice: set JSON namespace to cirq.google
  cirq-google/cirq_google/devices/grid_device.py
  cirq-google/cirq_google/json_resolver_cache.py
  cirq-google/cirq_google/json_test_data/cirq.google.GridDevice.json
  cirq-google/cirq_google/json_test_data/cirq.google.GridDevice.repr
  cirq-google/cirq_google/json_test_data/spec.py
Labels: automerge, front_of_queue_automerge, Size: XS

#5515 Parameter sweeps polish
  docs/params.ipynb
  docs/simulation.ipynb
Labels: size: L

#5511 Deprecate `QUIL` functionality from `cirq-core`
  cirq-core/cirq/circuits/quil_output.py
  cirq-core/cirq/circuits/quil_output_test.py
  cirq-core/cirq/ops/measurement_gate_test.py
  cirq-core/cirq/protocols/quil.py
Labels: automerge, front_of_queue_automerge, size: L

#5395 Device tutorial rework.
  docs/devices.ipynb
  docs/devices.md
Labels: automerge, front_of_queue_automerge, size: L

#5525 Use new quimb TN string format
  cirq-core/cirq/contrib/quimb/mps_simulator_test.py
Labels: size: S

#5480 Measurement confusion maps
  cirq-core/cirq/experiments/readout_confusion_matrix.py
  cirq-core/cirq/experiments/readout_confusion_matrix_test.py
  cirq-core/cirq/ops/measure_util.py
  cirq-core/cirq/ops/measure_util_test.py
  cirq-core/cirq/ops/measurement_gate.py
  cirq-core/cirq/ops/measurement_gate_test.py
  cirq-core/cirq/protocols/json_test_data/MeasurementGate.json
  cirq-core/cirq/protocols/json_test_data/MeasurementGate.repr
  cirq-core/cirq/sim/simulation_state.py
  cirq-core/cirq/sim/simulation_state_test.py
  cirq-core/cirq/sim/simulator.py
  cirq-core/cirq/sim/simulator_test.py
  cirq-core/cirq/transformers/measurement_transformers.py
  cirq-core/cirq/transformers/measurement_transformers_test.py
Labels: size: L

#5527 Make CircuitOp.fromjson more efficient
  cirq-core/cirq/circuits/circuit_operation.py
Labels: automerge, front_of_queue_automerge, size: S

#5426 Set default unitary precision np.complex64
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/contrib/acquaintance/executor_test.py
  cirq-core/cirq/contrib/paulistring/clifford_optimize_test.py
  cirq-core/cirq/contrib/paulistring/convert_gate_set.py
  cirq-core/cirq/contrib/paulistring/optimize_test.py
  cirq-core/cirq/contrib/paulistring/pauli_string_dag_test.py
  cirq-core/cirq/contrib/paulistring/pauli_string_optimize_test.py
  cirq-core/cirq/contrib/paulistring/separate_test.py
  cirq-core/cirq/contrib/qasm_import/qasm_test.py
  cirq-core/cirq/ion/convert_to_ion_gates_test.py
  cirq-core/cirq/linalg/decompositions.py
  cirq-core/cirq/linalg/decompositions_test.py
  cirq-core/cirq/ops/diagonal_gate_test.py
  cirq-core/cirq/ops/fsim_gate_test.py
  cirq-core/cirq/ops/matrix_gates.py
  cirq-core/cirq/ops/parallel_gate_test.py
  cirq-core/cirq/ops/phased_x_gate_test.py
  cirq-core/cirq/ops/two_qubit_diagonal_gate_test.py
  cirq-core/cirq/optimizers/merge_interactions_test.py
  cirq-core/cirq/testing/circuit_compare_test.py
  cirq-core/cirq/testing/consistent_decomposition.py
  cirq-core/cirq/testing/consistent_qasm.py
  cirq-core/cirq/transformers/analytical_decompositions/controlled_gate_decomposition_test.py
  cirq-core/cirq/transformers/analytical_decompositions/cphase_to_fsim_test.py
  cirq-core/cirq/transformers/analytical_decompositions/three_qubit_decomposition_test.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_cz_test.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_fsim_test.py
  cirq-core/cirq/transformers/merge_single_qubit_gates_test.py
  cirq-google/cirq_google/calibration/phased_fsim_test.py
  cirq-google/cirq_google/optimizers/convert_to_sqrt_iswap_test.py
  cirq-google/cirq_google/optimizers/convert_to_sycamore_gates_test.py
  cirq-google/cirq_google/optimizers/optimize_for_sycamore_test.py
  cirq-google/cirq_google/transformers/analytical_decompositions/two_qubit_to_sycamore.py
  cirq-google/cirq_google/transformers/analytical_decompositions/two_qubit_to_sycamore_test.py
  cirq-google/cirq_google/transformers/target_gatesets/sycamore_gateset_test.py
  cirq-ionq/cirq_ionq/ionq_gateset_test.py
  docs/transform/custom_transformers.ipynb
  docs/tutorials/educators/intro.ipynb
  docs/tutorials/quantum_walks.ipynb
  examples/examples_test.py
Labels: BREAKING CHANGE, area/circuits, area/simulation, size: M

#5529 Test substring for quimb objects
  cirq-core/cirq/contrib/quimb/mps_simulator_test.py
  cirq-core/cirq/testing/__init__.py
  cirq-core/cirq/testing/repr_pretty_tester.py
  cirq-core/cirq/testing/repr_pretty_tester_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5531 Deprecate optimize_for_sycamore and optimize_for_xmon
  cirq-core/cirq/contrib/paulistring/recombine_test.py
  cirq-google/cirq_google/optimizers/optimize_for_sycamore.py
  cirq-google/cirq_google/optimizers/optimize_for_sycamore_test.py
  cirq-google/cirq_google/optimizers/optimize_for_xmon.py
  cirq-google/cirq_google/optimizers/optimize_for_xmon_test.py
  examples/advanced/quantum_volume_test.py
  examples/examples_test.py
Labels: automerge, front_of_queue_automerge, size: L

#5526 Use async grpc client in EngineClient
  cirq-core/requirements.txt
  cirq-google/cirq_google/engine/engine_client.py
  cirq-google/cirq_google/engine/engine_client_test.py
  cirq-google/cirq_google/engine/test_utils.py
Labels: area/async, size: L

#5514 Classical control phrasing
  docs/classical_control.ipynb
Labels: automerge, front_of_queue_automerge, size: M

#5535 Increase test tolerances on some analytical decomposition tests
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_cz_test.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_fsim_test.py
Labels: automerge, front_of_queue_automerge, Size: XS

#5219 Add async support in EngineClient, EngineSampler, etc.
  cirq-google/cirq_google/engine/engine.py
  cirq-google/cirq_google/engine/engine_job.py
  cirq-google/cirq_google/engine/engine_job_test.py
  cirq-google/cirq_google/engine/engine_processor_test.py
  cirq-google/cirq_google/engine/engine_program.py
  cirq-google/cirq_google/engine/engine_program_test.py
  cirq-google/cirq_google/engine/engine_test.py
Labels: size: L

#5538 Move QuantumStateRepresentation to its own file
  cirq-core/cirq/qis/__init__.py
  cirq-core/cirq/qis/clifford_tableau.py
  cirq-core/cirq/qis/quantum_state_representation.py
Labels: automerge, front_of_queue_automerge, size: M

#5523 Phrasing pass for devices
  docs/devices.ipynb
Labels: automerge, front_of_queue_automerge, size: M

#5483 Remove Bristlecone and Foxtail deprecated XmonDevices.
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/devices/__init__.py
  cirq-google/cirq_google/devices/known_devices.py
  cirq-google/cirq_google/devices/known_devices_test.py
  cirq-google/cirq_google/devices/serializable_device_test.py
  cirq-google/cirq_google/devices/xmon_device_test.py
  cirq-google/cirq_google/json_resolver_cache.py
  cirq-google/cirq_google/json_test_data/Bristlecone.json
  cirq-google/cirq_google/json_test_data/Bristlecone.repr
  cirq-google/cirq_google/json_test_data/Bristlecone.repr_inward
  cirq-google/cirq_google/json_test_data/Foxtail.json
  cirq-google/cirq_google/json_test_data/Foxtail.repr
  cirq-google/cirq_google/json_test_data/Foxtail.repr_inward
  cirq-google/cirq_google/json_test_data/_NamedConstantXmonDevice.json
  cirq-google/cirq_google/json_test_data/_NamedConstantXmonDevice.repr
  cirq-google/cirq_google/json_test_data/_NamedConstantXmonDevice.repr_inward
  cirq-google/cirq_google/json_test_data/spec.py
  dev_tools/packaging/packaging_test.sh
Labels: automerge, front_of_queue_automerge, size: XL

#5498 Deprecate PauliTransform
  cirq-core/cirq/contrib/paulistring/clifford_optimize.py
  cirq-core/cirq/ops/clifford_gate.py
  cirq-core/cirq/ops/clifford_gate_test.py
  cirq-core/cirq/ops/pauli_string.py
Labels: automerge, BREAKING CHANGE, front_of_queue_automerge, size: M

#5528 Add new function shell_tools.run
  dev_tools/shell_tools.py
  dev_tools/shell_tools_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5534 Guard confusion_map usage
  cirq-core/cirq/ops/measurement_gate.py
  cirq-core/cirq/ops/measurement_gate_test.py
  cirq-core/cirq/sim/simulation_state.py
Labels: automerge, front_of_queue_automerge, size: M

#5545 Replace shell_tools.run_shell --> shell_tools.run
  dev_tools/bash_scripts_test.py
  dev_tools/notebooks/isolated_notebook_test.py
  dev_tools/notebooks/notebook_test.py
Labels: automerge, front_of_queue_automerge, size: L

#5539 Remove ion and NA tutorials from educators.
  docs/_book.yaml
  docs/hardware/_index.yaml
  docs/tutorials/educators/ion_device.ipynb
  docs/tutorials/educators/neutral_atom.ipynb
Labels: automerge, front_of_queue_automerge, size: L

#5540 Downgrade master CI checks to nightly cadence.
  .github/workflows/ci.yml
Labels: automerge, front_of_queue_automerge, Size: XS

#5530 Tools to disable op validation
  cirq-core/cirq/contrib/hacks/disable_validation.py
  cirq-core/cirq/contrib/hacks/disable_validation_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5541 Change output_of to execute commands with shell_tools.run
  dev_tools/git_env_tools.py
  dev_tools/incremental_coverage.py
  dev_tools/prepared_env.py
  dev_tools/shell_tools.py
  dev_tools/shell_tools_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5445 cirq-core target gatesets: accept additional gates to keep untouched.
  cirq-core/cirq/contrib/paulistring/optimize_test.py
  cirq-core/cirq/protocols/json_test_data/CZTargetGateset.json
  cirq-core/cirq/protocols/json_test_data/CZTargetGateset.repr
  cirq-core/cirq/protocols/json_test_data/SqrtIswapTargetGateset.json
  cirq-core/cirq/protocols/json_test_data/SqrtIswapTargetGateset.repr
  cirq-core/cirq/transformers/target_gatesets/cz_gateset.py
  cirq-core/cirq/transformers/target_gatesets/cz_gateset_test.py
  cirq-core/cirq/transformers/target_gatesets/sqrt_iswap_gateset.py
  cirq-core/cirq/transformers/target_gatesets/sqrt_iswap_gateset_test.py
Labels: automerge, front_of_queue_automerge, size: L

#5544 Move Sycamore and Sycamore23 to GridDevice.
  cirq-google/cirq_google/devices/known_devices.py
  cirq-google/cirq_google/devices/known_devices_test.py
  cirq-google/cirq_google/devices/serializable_device_test.py
  cirq-google/cirq_google/engine/engine_processor_test.py
  docs/tutorials/educators/intro.ipynb
  examples/advanced/quantum_volume.py
  examples/advanced/quantum_volume_errors.ipynb
  examples/heatmaps.py
Labels: automerge, front_of_queue_automerge, size: L

#5549 Phrasing updates to new vendor doc
  docs/dev/rfc_process.md
Labels: size: S

#5558 Move Engine interfaces to GridDevice
  cirq-google/cirq_google/engine/abstract_processor.py
  cirq-google/cirq_google/engine/engine.py
  cirq-google/cirq_google/engine/engine_processor.py
  cirq-google/cirq_google/engine/engine_processor_test.py
  cirq-google/cirq_google/engine/engine_test.py
  cirq-google/cirq_google/engine/simulated_local_processor.py
  cirq-google/cirq_google/engine/util.py
Labels: automerge, front_of_queue_automerge, size: M

#5550 Replace shell_tools.run_cmd --> shell_tools.run
  dev_tools/cloned_env_test.py
  dev_tools/conftest.py
  dev_tools/env_tools.py
  dev_tools/git_env_tools.py
  dev_tools/packaging/isolated_packages_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5553 Treat default gate families with tags_to_ignore or tags_to_accept as custom gate families in Gatesets
  cirq-core/cirq/ops/gateset.py
  cirq-core/cirq/ops/gateset_test.py
  cirq-google/cirq_google/devices/known_devices_test.py
Labels: size: S

#5567 Overview updates
  docs/_book.yaml
  docs/build/_index.yaml
  docs/experiments/_index.yaml
  docs/hardware/_index.yaml
  docs/noise/_index.yaml
  docs/simulate/_index.yaml
  docs/transform/_index.yaml
Labels: automerge, front_of_queue_automerge, size: M

#5422 Datetime serialization and advice
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/protocols/json_serialization.py
  cirq-core/cirq/protocols/json_serialization_test.py
  docs/dev/style.md
Labels: automerge, front_of_queue_automerge, size: S

#5563 Deprecate cirq.ion module
  cirq-aqt/cirq_aqt/aqt_device.py
  cirq-aqt/cirq_aqt/aqt_device_test.py
  cirq-core/cirq/ion/convert_to_ion_gates.py
  cirq-core/cirq/ion/convert_to_ion_gates_test.py
  cirq-core/cirq/ion/ion_device.py
  cirq-core/cirq/ion/ion_device_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5519 Deprecate cirq.neutral_atoms module
  cirq-core/cirq/neutral_atoms/__init__.py
  cirq-core/cirq/neutral_atoms/convert_to_neutral_atom_gates.py
  cirq-core/cirq/neutral_atoms/convert_to_neutral_atom_gates_test.py
  cirq-core/cirq/neutral_atoms/neutral_atom_devices.py
  cirq-core/cirq/neutral_atoms/neutral_atom_devices_test.py
  cirq-core/cirq/neutral_atoms/neutral_atom_gateset.py
  cirq-core/cirq/neutral_atoms/neutral_atom_gateset_test.py
  cirq-pasqal/cirq_pasqal/pasqal_gateset.py
  cirq-pasqal/cirq_pasqal/pasqal_gateset_test.py
Labels: size: L

#5561 Move virtual engine processor to GridDevice
  cirq-google/cirq_google/devices/specifications/README.md
  cirq-google/cirq_google/devices/specifications/rainbow_2021_12_10_device_spec_for_grid_device.proto.txt
  cirq-google/cirq_google/devices/specifications/weber_2021_12_10_device_spec_for_grid_device.proto.txt
  cirq-google/cirq_google/engine/util.py
  cirq-google/cirq_google/engine/virtual_engine_factory.py
  cirq-google/cirq_google/engine/virtual_engine_factory_test.py
  cirq-google/cirq_google/workflow/processor_record.py
Labels: automerge, front_of_queue_automerge, size: L

#5094 Bayesian Networks
  cirq-core/cirq/contrib/bayesian_network/__init__.py
  cirq-core/cirq/contrib/bayesian_network/bayesian_network_gate.py
  cirq-core/cirq/contrib/bayesian_network/bayesian_network_gate_test.py
  cirq-core/cirq/contrib/json.py
  cirq-core/cirq/contrib/json_test.py
Labels: automerge, front_of_queue_automerge, good for learning, size: L

#5568 Add method to get a Clifford gate and phase global phase from unitary
  cirq-core/cirq/ops/clifford_gate.py
  cirq-core/cirq/ops/clifford_gate_test.py
  cirq-core/cirq/sim/clifford/stabilizer_simulation_state.py
Labels: size: M

#5551 Remove deprecated gate_set parameter on various engine classes
  cirq-google/cirq_google/calibration/workflow.py
  cirq-google/cirq_google/calibration/workflow_test.py
  cirq-google/cirq_google/engine/abstract_engine.py
  cirq-google/cirq_google/engine/abstract_local_engine.py
  cirq-google/cirq_google/engine/abstract_processor.py
  cirq-google/cirq_google/engine/engine.py
  cirq-google/cirq_google/engine/engine_processor.py
  cirq-google/cirq_google/engine/engine_sampler.py
  cirq-google/cirq_google/engine/simulated_local_processor.py
  cirq-google/cirq_google/engine/util.py
Labels: automerge, front_of_queue_automerge, size: M

#5575 Document policy for python version support.
  docs/start/install.md
Labels: automerge, front_of_queue_automerge, Size: XS

#5548 Lock down CircuitOperation and ParamResolver
  cirq-core/cirq/__init__.py
  cirq-core/cirq/circuits/circuit_operation.py
  cirq-core/cirq/circuits/circuit_operation_test.py
  cirq-core/cirq/protocols/json_test_data/spec.py
  cirq-core/cirq/study/__init__.py
  cirq-core/cirq/study/flatten_expressions.py
  cirq-core/cirq/study/resolver.py
  cirq-core/cirq/work/observable_measurement.py
  cirq-core/cirq/work/sampler.py
  cirq-rigetti/cirq_rigetti/circuit_sweep_executors.py
  cirq-rigetti/cirq_rigetti/circuit_sweep_executors_test.py
Labels: BREAKING CHANGE, size: M

#5576 Fix mypy --next complaint on pytest.TempdirFactory
  dev_tools/bash_scripts_test.py
Labels: automerge, front_of_queue_automerge, Size: XS

#5562 Remove XmonDevice.
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/devices/__init__.py
  cirq-google/cirq_google/devices/xmon_device.py
  cirq-google/cirq_google/devices/xmon_device_test.py
  cirq-google/cirq_google/json_test_data/spec.py
  cirq-google/cirq_google/line/placement/anneal.py
  cirq-google/cirq_google/line/placement/anneal_test.py
  cirq-google/cirq_google/line/placement/chip.py
  cirq-google/cirq_google/line/placement/chip_test.py
  cirq-google/cirq_google/line/placement/greedy.py
  cirq-google/cirq_google/line/placement/greedy_test.py
  cirq-google/cirq_google/line/placement/line.py
  cirq-google/cirq_google/line/placement/place_strategy.py
  cirq-google/cirq_google/optimizers/convert_to_xmon_gates.py
Labels: automerge, front_of_queue_automerge, size: L

#5559 Rename tetris_concat
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_test.py
  cirq-core/cirq/circuits/frozen_circuit.py
Labels: automerge, front_of_queue_automerge, size: L

#5580 Fixing some 404ing links and anchors
  docs/build/circuits.ipynb
  docs/build/ecosystem.md
  docs/build/gates.ipynb
  docs/experiments/fourier_checking.ipynb
  docs/noise/calibration_api.ipynb
  docs/noise/calibration_faq.md
  docs/noise/floquet_calibration_example.ipynb
  docs/noise/qcvv/isolated_xeb.ipynb
  docs/noise/qcvv/parallel_xeb.ipynb
  docs/noise/qcvv/xeb_coherent_noise.ipynb
  docs/start/basics.ipynb
  docs/start/install.md
  docs/tutorials/google/identifying_hardware_changes.ipynb
  docs/tutorials/google/visualizing_calibration_metrics.ipynb
Labels: automerge, front_of_queue_automerge, size: S

#5581 Fix some mypy --next numpy typing errors
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/sim/density_matrix_simulation_state.py
  cirq-core/cirq/sim/density_matrix_simulator_test.py
  cirq-core/cirq/sim/density_matrix_utils.py
  cirq-core/cirq/sim/mux.py
  cirq-core/cirq/sim/simulator_base.py
  cirq-core/cirq/sim/sparse_simulator.py
  cirq-core/cirq/sim/sparse_simulator_test.py
  cirq-core/cirq/sim/state_vector_simulation_state.py
  cirq-core/cirq/sim/state_vector_simulator.py
Labels: automerge, front_of_queue_automerge, size: M

#5582 Remove deprecated qubits in contrib graphdevice.
  cirq-core/cirq/contrib/graph_device/graph_device.py
  cirq-core/cirq/contrib/graph_device/graph_device_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5495 Document noise representations
  dev_tools/notebooks/isolated_notebook_test.py
  docs/representing_noise.ipynb
Labels: automerge, front_of_queue_automerge, size: L

#5573 SerializableGateSet deprecation
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/calibration/phased_fsim_test.py
  cirq-google/cirq_google/devices/grid_device_test.py
  cirq-google/cirq_google/devices/known_devices_test.py
  cirq-google/cirq_google/devices/serializable_device_test.py
  cirq-google/cirq_google/engine/engine_processor_test.py
  cirq-google/cirq_google/engine/engine_program.py
  cirq-google/cirq_google/engine/engine_validator_test.py
  cirq-google/cirq_google/optimizers/convert_to_sqrt_iswap_test.py
  cirq-google/cirq_google/optimizers/optimize_for_sycamore_test.py
  cirq-google/cirq_google/serialization/arg_func_langs_test.py
  cirq-google/cirq_google/serialization/common_serializers_test.py
  cirq-google/cirq_google/serialization/gate_sets.py
  cirq-google/cirq_google/serialization/gate_sets_test.py
  cirq-google/cirq_google/serialization/serializable_gate_set.py
  cirq-google/cirq_google/serialization/serializable_gate_set_test.py
Labels: automerge, front_of_queue_automerge, size: XL

#5578 Use list comprehensions instead of `list(filter(...))`
  cirq-core/cirq/vis/density_matrix_test.py
  cirq-google/cirq_google/engine/simulated_local_processor.py
Labels: size: M

#5542 Raise error instead of warning when downcasting from complex in `apply_unitary`
  cirq-core/cirq/protocols/apply_unitary_protocol.py
  cirq-core/cirq/protocols/apply_unitary_protocol_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5488 Use np.complexfloating for dtypes that should be complex
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/sim/density_matrix_simulation_state.py
  cirq-core/cirq/sim/density_matrix_simulator.py
  cirq-core/cirq/sim/density_matrix_simulator_test.py
  cirq-core/cirq/sim/mux.py
  cirq-core/cirq/sim/simulator_base.py
  cirq-core/cirq/sim/sparse_simulator.py
  cirq-core/cirq/sim/sparse_simulator_test.py
  cirq-core/cirq/sim/state_vector_simulation_state.py
  cirq-core/cirq/sim/state_vector_simulation_state_test.py
  cirq-core/cirq/sim/state_vector_simulator.py
Labels: automerge, BREAKING CHANGE, front_of_queue_automerge, kind/health, size: M

#5594 Use LaTeX for r(x|y|z)
  cirq-core/cirq/ops/common_gates.py
Labels: automerge, front_of_queue_automerge, Size: XS

#5595 backquotes for decompose args
  cirq-core/cirq/protocols/decompose_protocol.py
Labels: automerge, front_of_queue_automerge, Size: XS

#5597 Document CircuitOperation methods.
  cirq-core/cirq/circuits/circuit_operation.py
Labels: automerge, front_of_queue_automerge, size: S

#5592 Deprecate create_device_proto_for_qubits
  cirq-google/cirq_google/devices/grid_device_test.py
  cirq-google/cirq_google/devices/known_devices.py
  cirq-google/cirq_google/devices/known_devices_test.py
  cirq-google/cirq_google/devices/serializable_device_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5584 All single-qubit Cliffords
  cirq-core/cirq/ops/clifford_gate.py
  cirq-core/cirq/ops/clifford_gate_test.py
Labels: size: M

#5586 Remove deprecated json functions.
  cirq-core/cirq/__init__.py
  cirq-core/cirq/protocols/__init__.py
  cirq-core/cirq/protocols/json_serialization.py
  cirq-core/cirq/protocols/json_serialization_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5570 Add cached_method decorator for per-instance method caches
  cirq-core/cirq/_compat.py
  cirq-core/cirq/_compat_test.py
Labels: size: M

#5598 review ionq/getting_started tutorial notebook
  docs/hardware/ionq/getting_started.ipynb
Labels: automerge, front_of_queue_automerge, Size: XS

#5599 Add a deprecation cycle for ArithmeticOp
  cirq-core/cirq/interop/quirk/cells/arithmetic_cells.py
  cirq-core/cirq/ops/arithmetic_operation.py
  cirq-core/cirq/ops/arithmetic_operation_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5560 Use frozensets for key protocols
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_operation.py
  cirq-core/cirq/circuits/frozen_circuit.py
  cirq-core/cirq/circuits/moment.py
  cirq-core/cirq/ops/gate_operation.py
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/protocols/control_key_protocol.py
  cirq-core/cirq/protocols/control_key_protocol_test.py
  cirq-core/cirq/protocols/measurement_key_protocol.py
  cirq-core/cirq/protocols/measurement_key_protocol_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5565 Add qubits to PauliStringPhasor
  cirq-core/cirq/contrib/paulistring/clifford_optimize.py
  cirq-core/cirq/ops/gate_operation_test.py
  cirq-core/cirq/ops/pauli_string.py
  cirq-core/cirq/ops/pauli_string_phasor.py
  cirq-core/cirq/ops/pauli_string_phasor_test.py
  cirq-core/cirq/ops/pauli_string_test.py
  cirq-core/cirq/protocols/json_test_data/PauliStringPhasor.json
  cirq-core/cirq/protocols/json_test_data/PauliStringPhasor.repr
Labels: BREAKING CHANGE, area/gates, size: M

#5603 String or MeasurementKey in measure
  cirq-core/cirq/ops/measure_util.py
Labels: Size: XS

#5601 Make transformers use higher precision
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_fsim.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_fsim_test.py
Labels: automerge, front_of_queue_automerge, Size: XS

#5593 Temporary GridDevice.qubits property
  cirq-google/cirq_google/devices/grid_device.py
  cirq-google/cirq_google/devices/grid_device_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5591 Deprecate Program.language.gate_set proto field
  cirq-google/cirq_google/api/v2/program.proto
  cirq-google/cirq_google/api/v2/program_pb2.py
Labels: automerge, front_of_queue_automerge, size: M

#5587 Even more link fixes for 404ing links
  docs/dev/development.md
  docs/dev/rfc_process.md
  docs/dev/style.md
  docs/experiments/hidden_linear_function.ipynb
  docs/hardware/devices.ipynb
  docs/hardware/ionq/getting_started.ipynb
  docs/noise/heatmaps.ipynb
  docs/start/intro.ipynb
  docs/transform/custom_transformers.ipynb
  docs/transform/transformers.ipynb
  docs/tutorials/google/identifying_hardware_changes.ipynb
Labels: automerge, front_of_queue_automerge, size: S

#5589 Serializers deprecation
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/devices/known_devices.py
  cirq-google/cirq_google/devices/serializable_device_test.py
  cirq-google/cirq_google/serialization/common_serializers.py
  cirq-google/cirq_google/serialization/gate_sets.py
  cirq-google/cirq_google/serialization/op_deserializer.py
  cirq-google/cirq_google/serialization/op_deserializer_test.py
  cirq-google/cirq_google/serialization/op_serializer.py
  cirq-google/cirq_google/serialization/op_serializer_test.py
  cirq-google/cirq_google/serialization/serializable_gate_set_test.py
Labels: automerge, front_of_queue_automerge, size: XL

#5532 GateFamily: do not serialize gates_to_accept and gates_to_ignore when empty
  cirq-core/cirq/ops/gateset.py
  cirq-core/cirq/protocols/json_test_data/CZTargetGateset.json
  cirq-core/cirq/protocols/json_test_data/GateFamily.json
  cirq-core/cirq/protocols/json_test_data/Gateset.json
  cirq-core/cirq/protocols/json_test_data/GridDeviceMetadata.json
  cirq-core/cirq/protocols/json_test_data/SqrtIswapTargetGateset.json
  cirq-google/cirq_google/json_test_data/cirq.google.GridDevice.json
Labels: automerge, front_of_queue_automerge, size: M

#5604 Add user best practices documentation
  docs/_book.yaml
  docs/build/gates.ipynb
  docs/dev/rfc_process.md
  docs/simulate/params.ipynb
  docs/start/best_practices.md
Labels: automerge, front_of_queue_automerge, size: M

#5607 Minor updates for the IonQ Service page
  docs/hardware/ionq/service.md
Labels: automerge, front_of_queue_automerge, size: S

#5609 Use mapping in cirq/work
  cirq-core/cirq/work/observable_measurement.py
  cirq-core/cirq/work/observable_measurement_data.py
  cirq-core/cirq/work/observable_settings.py
  cirq-core/cirq/work/sampler.py
Labels: automerge, front_of_queue_automerge, size: S

#5610 Make with_measurement_key_mapping live up to its name
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_operation.py
  cirq-core/cirq/circuits/moment.py
  cirq-core/cirq/ops/classically_controlled_operation.py
  cirq-core/cirq/ops/gate_operation.py
  cirq-core/cirq/ops/kraus_channel.py
  cirq-core/cirq/ops/measurement_gate.py
  cirq-core/cirq/ops/mixed_unitary_channel.py
  cirq-core/cirq/ops/pauli_measurement_gate.py
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/protocols/measurement_key_protocol.py
  cirq-core/cirq/value/condition.py
  cirq-core/cirq/value/measurement_key.py
Labels: automerge, front_of_queue_automerge, size: M

#5613 Add ISWAP_INV constant
  cirq-core/cirq/__init__.py
  cirq-core/cirq/ops/__init__.py
  cirq-core/cirq/ops/pauli_string_test.py
  cirq-core/cirq/ops/swap_gates.py
  cirq-core/cirq/ops/swap_gates_test.py
  cirq-core/cirq/protocols/json_test_data/ISWAP_INV.json
  cirq-core/cirq/protocols/json_test_data/ISWAP_INV.repr
  cirq-google/cirq_google/serialization/common_serializers.py
  cirq-google/cirq_google/serialization/common_serializers_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5616 Use more accurate complex128 for testing non-public method
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_cz_test.py
Labels: automerge, front_of_queue_automerge, Size: XS

#5600 Engine validator: rename validate_gate_set to validate_program
  cirq-google/cirq_google/engine/engine_validator.py
  cirq-google/cirq_google/engine/engine_validator_test.py
  cirq-google/cirq_google/engine/simulated_local_processor.py
  cirq-google/cirq_google/engine/virtual_engine_factory.py
Labels: front_of_queue_automerge, size: S

#5606 Speed up some over parameterized tests
  cirq-core/cirq/ops/clifford_gate_test.py
  cirq-core/cirq/ops/phased_x_gate_test.py
  cirq-core/cirq/ops/two_qubit_diagonal_gate_test.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_sqrt_iswap_test.py
  cirq-google/cirq_google/optimizers/convert_to_sqrt_iswap_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5474 Make moment str/text diagrams stable (independent of insertion order)
  cirq-core/cirq/circuits/moment.py
  cirq-core/cirq/circuits/moment_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5619 Add ISWAP_INV to zoo
  docs/gatezoo.ipynb
Labels: automerge, front_of_queue_automerge, Size: XS

#5614 Tiny changes to a couple of URLs
  docs/experiments/fourier_checking.ipynb
  docs/tutorials/google/identifying_hardware_changes.ipynb
Labels: automerge, front_of_queue_automerge, Size: XS

#5499 FSim calibration to Z phase data
  cirq-google/cirq_google/calibration/phased_fsim.py
  cirq-google/cirq_google/calibration/phased_fsim_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5623 Raise value error if pauli string passed to cirq.measure_single_paulistring does not have a coefficient of +1
  cirq-core/cirq/ops/measure_util.py
  cirq-core/cirq/ops/measure_util_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5621 `PauliString` and `MutablePauliString` docs and inconsistencies fixes
  cirq-core/cirq/ops/dense_pauli_string.py
  cirq-core/cirq/ops/pauli_string.py
  cirq-core/cirq/ops/pauli_string_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5612 Type some methods in `noise_model.py`
  cirq-core/cirq/devices/noise_model.py
Labels: automerge, front_of_queue_automerge, size: S

#5627 Remove Result deprecations
  cirq-core/cirq/study/result.py
  cirq-core/cirq/study/result_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5434 Fix qasm generation/parsing for classical controls
  cirq-core/cirq/contrib/qasm_import/_lexer.py
  cirq-core/cirq/contrib/qasm_import/_parser.py
  cirq-core/cirq/contrib/qasm_import/_parser_test.py
  cirq-core/cirq/ops/classically_controlled_operation.py
  cirq-core/cirq/ops/classically_controlled_operation_test.py
  cirq-core/cirq/value/condition.py
  cirq-core/cirq/value/condition_test.py
Labels: size: M

#5628 More fixes for next version of mypy
  cirq-core/cirq/ops/pauli_interaction_gate.py
  cirq-core/cirq/protocols/apply_channel_protocol.py
  cirq-core/cirq/protocols/apply_mixture_protocol.py
  cirq-core/cirq/protocols/apply_unitary_protocol.py
  cirq-core/cirq/protocols/commutes_protocol.py
  cirq-core/cirq/protocols/unitary_protocol.py
  cirq-core/cirq/sim/sparse_simulator_test.py
  cirq-google/cirq_google/ops/fsim_gate_family.py
  cirq-google/cirq_google/optimizers/two_qubit_gates/example.py
Labels: automerge, front_of_queue_automerge, size: S

#5632 Remove Rigetti from local checks
  .github/workflows/ci.yml
  check/pytest-and-incremental-coverage
  dev_tools/bash_scripts_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5630 Remove deprecations in _json_dict_with_cirq_type.
  cirq-core/cirq/contrib/bayesian_network/bayesian_network_gate.py
  cirq-core/cirq/protocols/json_serialization.py
  cirq-core/cirq/protocols/json_serialization_test.py
Labels: automerge, front_of_queue_automerge, size: S
