Repository quantumlib/Cirq, pull requests merged in 2022-03, with the labels that each got.

#5031 Add `functools.cached_property` backport
  cirq-core/cirq/_compat.py
  cirq-core/cirq/_compat_test.py
  cirq-core/requirements.txt
Labels: automerge, front_of_queue_automerge, size: S

#5033 Recursive subop parameter resolution
  cirq-core/cirq/circuits/circuit_operation.py
  cirq-core/cirq/circuits/circuit_operation_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5034 Move serialize_program and serialize_run_context into EngineContext
  cirq-google/cirq_google/api/v2/__init__.py
  cirq-google/cirq_google/api/v2/sweeps.py
  cirq-google/cirq_google/api/v2/sweeps_test.py
  cirq-google/cirq_google/engine/engine.py
  cirq-google/cirq_google/engine/engine_job_test.py
  cirq-google/cirq_google/engine/engine_processor_test.py
  cirq-google/cirq_google/engine/engine_program.py
  cirq-google/cirq_google/engine/engine_program_test.py
  cirq-google/cirq_google/engine/engine_test.py
  cirq-google/cirq_google/engine/util.py
  cirq-google/cirq_google/workflow/processor_record_test.py
Labels: size: M

#5018 Add repeat-until functionality to subcircuits
  cirq-core/cirq/circuits/circuit_operation.py
  cirq-core/cirq/circuits/circuit_operation_test.py
  cirq-core/cirq/protocols/json_test_data/CircuitOperation.json
  cirq-core/cirq/protocols/json_test_data/CircuitOperation.repr
Labels: size: M

#5044 Refactors `convert_to_sycamore_gates` to abstract out analytical decomposition methods in `cirq_google.two_qubit_to_sycamore`
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/optimizers/convert_to_sycamore_gates.py
  cirq-google/cirq_google/optimizers/convert_to_sycamore_gates_test.py
  cirq-google/cirq_google/transformers/__init__.py
  cirq-google/cirq_google/transformers/analytical_decompositions/__init__.py
  cirq-google/cirq_google/transformers/analytical_decompositions/two_qubit_to_sycamore.py
  cirq-google/cirq_google/transformers/analytical_decompositions/two_qubit_to_sycamore_test.py
Labels: size: XL

#5051 Add type annotations to method overrides in child classes
  cirq-core/cirq/study/sweeps.py
  cirq-core/cirq/value/abc_alt_test.py
  dev_tools/check.py
Labels: automerge, front_of_queue_automerge, size: S

#5049 Adjust runtime estimator for high numbers of qubits
  cirq-google/cirq_google/engine/runtime_estimator.py
  cirq-google/cirq_google/engine/runtime_estimator_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5059 Pin sympy version to <1.10
  cirq-core/requirements.txt
Labels: Size: XS

#5030 [cg.workflow] Consistent `get_sampler()`
  cirq-google/cirq_google/workflow/processor_record.py
  cirq-google/cirq_google/workflow/processor_record_test.py
Labels: automerge, front_of_queue_automerge, area/workflow, size: S

#5060 Change ValueError to assertion in clifford_optimize
  cirq-core/cirq/contrib/paulistring/clifford_optimize.py
Labels: automerge, front_of_queue_automerge, size: S

#5046 Update getting started notebook
  docs/tutorials/google/start.ipynb
Labels: automerge, front_of_queue_automerge, size: S

#5071 Call decompose_once in TaggedOperation
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/protocols/decompose_protocol_test.py
Labels: size: S

#5070 Rename two_qubit_matrix related functions
  cirq-core/cirq/__init__.py
  cirq-core/cirq/neutral_atoms/convert_to_neutral_atom_gates.py
  cirq-core/cirq/optimizers/__init__.py
  cirq-core/cirq/optimizers/convert_to_cz_and_single_gates.py
  cirq-core/cirq/optimizers/merge_interactions.py
  cirq-core/cirq/optimizers/merge_interactions_to_sqrt_iswap.py
  cirq-core/cirq/transformers/__init__.py
  cirq-core/cirq/transformers/analytical_decompositions/__init__.py
  cirq-core/cirq/transformers/analytical_decompositions/three_qubit_decomposition.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_cz.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_cz_test.py
  cirq-core/cirq/transformers/target_gatesets/cz_gateset.py
  cirq-google/cirq_google/optimizers/convert_to_xmon_gates.py
  cirq-google/cirq_google/transformers/analytical_decompositions/two_qubit_to_sycamore.py
  cirq-ionq/cirq_ionq/ionq_devices.py
Labels: size: M

#5061 Remove public fields for measurement and controlled ops
  cirq-core/cirq/ops/controlled_gate.py
  cirq-core/cirq/ops/controlled_gate_test.py
  cirq-core/cirq/ops/controlled_operation.py
  cirq-core/cirq/ops/controlled_operation_test.py
  cirq-core/cirq/ops/measurement_gate.py
  cirq-core/cirq/ops/measurement_gate_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5074 Remove public fields from subop gates and ops
  cirq-core/cirq/ops/fourier_transform.py
  cirq-core/cirq/ops/fourier_transform_test.py
  cirq-core/cirq/ops/permutation_gate.py
  cirq-core/cirq/ops/permutation_gate_test.py
  cirq-core/cirq/ops/random_gate_channel.py
  cirq-core/cirq/ops/random_gate_channel_test.py
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/ops/raw_types_test.py
  cirq-core/cirq/ops/wait_gate.py
  cirq-core/cirq/ops/wait_gate_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5064 Wrap private fields for DensePauliString
  cirq-core/cirq/_compat.py
  cirq-core/cirq/ops/clifford_gate.py
  cirq-core/cirq/ops/dense_pauli_string.py
  cirq-core/cirq/ops/dense_pauli_string_test.py
  cirq-core/cirq/testing/deprecation.py
Labels: automerge, front_of_queue_automerge, size: M

#5062 Remove public fields for pauli ops
  cirq-core/cirq/ops/pauli_interaction_gate.py
  cirq-core/cirq/ops/pauli_interaction_gate_test.py
  cirq-core/cirq/ops/pauli_measurement_gate.py
  cirq-core/cirq/ops/pauli_measurement_gate_test.py
  cirq-core/cirq/ops/pauli_string_raw_types.py
  cirq-core/cirq/ops/pauli_string_raw_types_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5075 Remove public fields from fsim
  cirq-core/cirq/ops/fsim_gate.py
  cirq-core/cirq/ops/fsim_gate_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5076 Fix state vector factorization validation
  cirq-core/cirq/linalg/transformations.py
  cirq-core/cirq/sim/state_vector_test.py
Labels: automerge, front_of_queue_automerge, Size: XS

#5077 Allow partial state vector function to handle qudits
  cirq-core/cirq/linalg/transformations.py
  cirq-core/cirq/linalg/transformations_test.py
  cirq-core/cirq/sim/state_vector_test.py
Labels: size: M

#5043 Allow repetitions to be parameterized
  cirq-core/cirq/circuits/circuit_operation.py
  cirq-core/cirq/circuits/circuit_operation_test.py
  cirq-core/cirq/sim/density_matrix_simulator_test.py
  cirq-core/cirq/transformers/measurement_transformers_test.py
  cirq-google/cirq_google/serialization/op_serializer.py
  cirq-google/cirq_google/serialization/op_serializer_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5080 Add return type annotation on MeasurementGate.full_invert_mask
  cirq-core/cirq/ops/measurement_gate.py
Labels: Size: XS

#4988 Remove reference to deprecated readthedocs documentation in Contribute page
  docs/dev/development.md
Labels: automerge, front_of_queue_automerge, Size: XS

#5079 Add assert_decompose_ends_at_default_gateset consistency test
  cirq-core/cirq/protocols/decompose_protocol.py
  cirq-core/cirq/testing/__init__.py
  cirq-core/cirq/testing/consistent_decomposition.py
  cirq-core/cirq/testing/consistent_decomposition_test.py
Labels: automerge, priority: high, size: M

#5083 Support decomposition of parameterized gates in cirq.PhasedXPowGate
  cirq-core/cirq/ops/phased_x_gate.py
  cirq-core/cirq/ops/phased_x_gate_test.py
Labels: automerge, front_of_queue_automerge, priority: high, size: S

#5084 Add default decomposition for cirq.TwoQubitDiagonalGate
  cirq-core/cirq/circuits/quil_output_test.py
  cirq-core/cirq/ops/two_qubit_diagonal_gate.py
  cirq-core/cirq/ops/two_qubit_diagonal_gate_test.py
Labels: priority: high, size: S

#5085 Add support for decompositions of parameterized `cirq.DiagonalGate`
  cirq-core/cirq/ops/diagonal_gate.py
  cirq-core/cirq/ops/diagonal_gate_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5088 Adds default decompositions for `cirq.MatrixGate` into X/Y/Z/CZ target gateset.
  cirq-core/cirq/ops/controlled_gate.py
  cirq-core/cirq/ops/matrix_gates.py
  cirq-core/cirq/ops/matrix_gates_test.py
  cirq-core/cirq/testing/consistent_decomposition.py
Labels: priority: high, size: M

#5087 Add support for decompositions of parameterized `cirq.CCZPowGate`
  cirq-core/cirq/ops/three_qubit_gates.py
  cirq-core/cirq/ops/three_qubit_gates_test.py
Labels: automerge, front_of_queue_automerge, priority: high, Size: XS

#5092 Serialize QubitPermutationGate.
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/ops/permutation_gate.py
  cirq-core/cirq/protocols/json_test_data/QubitPermutationGate.json
  cirq-core/cirq/protocols/json_test_data/QubitPermutationGate.repr
  cirq-core/cirq/protocols/json_test_data/spec.py
Labels: automerge, front_of_queue_automerge, size: S

#5072 Add to_dict() to KeyValueExecutableSpec
  cirq-google/cirq_google/workflow/quantum_executable.py
  cirq-google/cirq_google/workflow/quantum_executable_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5073 Order of keys shouldn't matter when comparing cirq.google.KeyValueExecutableSpec
  cirq-google/cirq_google/workflow/quantum_executable.py
  cirq-google/cirq_google/workflow/quantum_executable_test.py
Labels: automerge, front_of_queue_automerge, area/workflow, size: S

#5091 Extend default decomposition of `cirq.ControlledGate` and `cirq.ControlledOperation` to end in X/Y/Z/CZ target gateset
  cirq-core/cirq/ops/controlled_gate.py
  cirq-core/cirq/ops/controlled_gate_test.py
  cirq-core/cirq/ops/controlled_operation.py
  cirq-core/cirq/ops/controlled_operation_test.py
  cirq-core/cirq/testing/consistent_decomposition.py
Labels: automerge, front_of_queue_automerge, size: M

#5095 Replace _PhasedFSimConverter in cirq_google with new transformer primitives
  cirq-google/cirq_google/calibration/engine_simulator.py
  cirq-google/cirq_google/calibration/engine_simulator_test.py
Labels: size: S

#5096 Deprecate `cirq_google.ConvertToXmonGates` and replace with `cirq.CZTargetGateset` + `cirq.optimize_for_target_gateset`
  cirq-google/cirq_google/devices/xmon_device.py
  cirq-google/cirq_google/devices/xmon_device_test.py
  cirq-google/cirq_google/optimizers/convert_to_xmon_gates.py
  cirq-google/cirq_google/optimizers/convert_to_xmon_gates_test.py
  cirq-google/cirq_google/optimizers/optimize_for_sycamore.py
Labels: automerge, front_of_queue_automerge, size: M

#5093 Add default decomposition for cirq.QubitPermutationGate in terms of adjacent swaps
  cirq-core/cirq/ops/permutation_gate.py
  cirq-core/cirq/ops/permutation_gate_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5100 Deprectate log_of_measurement_result input
  cirq-core/cirq/contrib/quimb/mps_simulator_test.py
  cirq-core/cirq/ops/clifford_gate.py
  cirq-core/cirq/ops/clifford_gate_test.py
  cirq-core/cirq/ops/common_channels_test.py
  cirq-core/cirq/ops/common_gates_test.py
  cirq-core/cirq/ops/global_phase_op_test.py
  cirq-core/cirq/ops/measurement_gate_test.py
  cirq-core/cirq/sim/act_on_args_container.py
  cirq-core/cirq/sim/act_on_args_container_test.py
  cirq-core/cirq/sim/act_on_density_matrix_args.py
  cirq-core/cirq/sim/act_on_density_matrix_args_test.py
  cirq-core/cirq/sim/act_on_state_vector_args.py
  cirq-core/cirq/sim/act_on_state_vector_args_test.py
  cirq-core/cirq/sim/clifford/act_on_clifford_tableau_args.py
  cirq-core/cirq/sim/clifford/act_on_clifford_tableau_args_test.py
  cirq-core/cirq/sim/clifford/act_on_stabilizer_ch_form_args.py
  cirq-core/cirq/sim/clifford/act_on_stabilizer_ch_form_args_test.py
  cirq-core/cirq/sim/clifford/stabilizer_sampler.py
  cirq-core/cirq/sim/density_matrix_simulator_test.py
  cirq-core/cirq/sim/sparse_simulator_test.py
  cirq-core/cirq/sim/state_vector_simulator_test.py
  cirq-core/cirq/testing/consistent_act_on.py
  cirq-core/cirq/transformers/analytical_decompositions/clifford_decomposition.py
  cirq-core/cirq/transformers/analytical_decompositions/clifford_decomposition_test.py
  examples/direct_fidelity_estimation.py
Labels: size: M

#5103 Improve support for recursively applying transformer primitives on circuit operations using `deep=True`
  cirq-core/cirq/transformers/transformer_primitives.py
  cirq-core/cirq/transformers/transformer_primitives_test.py
Labels: automerge, front_of_queue_automerge, priority: high, size: M

#5106 Add support for `deep=True` flag to remaining transformer primitives
  cirq-core/cirq/transformers/transformer_primitives.py
  cirq-core/cirq/transformers/transformer_primitives_test.py
Labels: size: M

#5107 Add `assert_decompose_ends_at_default_gateset` to consistent protocols test to ensure all cirq gates decompose to default gateset
  cirq-core/cirq/ops/dense_pauli_string_test.py
  cirq-core/cirq/ops/random_gate_channel_test.py
  cirq-core/cirq/testing/consistent_decomposition.py
  cirq-core/cirq/testing/consistent_protocols.py
  cirq-core/cirq/testing/consistent_protocols_test.py
  cirq-google/cirq_google/experimental/ops/coupler_pulse_test.py
Labels: size: S

#4979 Extract BufferedDM/SV/MPS from ActOnDM/SV/MPSArgs
  cirq-core/cirq/contrib/quimb/mps_simulator.py
  cirq-core/cirq/contrib/quimb/mps_simulator_test.py
  cirq-core/cirq/protocols/json_test_data/spec.py
  cirq-core/cirq/sim/act_on_density_matrix_args.py
  cirq-core/cirq/sim/act_on_density_matrix_args_test.py
  cirq-core/cirq/sim/act_on_state_vector_args.py
  cirq-core/cirq/sim/act_on_state_vector_args_test.py
  cirq-core/cirq/sim/state_vector.py
Labels: size: M

#5109 Bugfixes in handling nested tags_to_ignore + deep=True in `cirq.map_moments` and `cirq.map_operations` transformer primitives
  cirq-core/cirq/transformers/transformer_primitives.py
  cirq-core/cirq/transformers/transformer_primitives_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5108 Add `add_deep_support ` flag to `@cirq.transformer` decorator
  cirq-core/cirq/transformers/transformer_api.py
  cirq-core/cirq/transformers/transformer_api_test.py
Labels: size: M

#5113 Add support for deep=True to `cirq.drop_empty_moments` transformer
  cirq-core/cirq/transformers/drop_empty_moments.py
  cirq-core/cirq/transformers/drop_empty_moments_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5114 Add support for deep=True to `cirq.drop_negligible_operations` transformer
  cirq-core/cirq/transformers/drop_negligible_operations.py
  cirq-core/cirq/transformers/drop_negligible_operations_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5117 Add support for deep=True to `cirq.stratified_circuit` transformer
  cirq-core/cirq/transformers/stratify.py
  cirq-core/cirq/transformers/stratify_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5118 Add support for deep=True to `cirq.synchronize_terminal_measurements` transformer
  cirq-core/cirq/transformers/synchronize_terminal_measurements.py
  cirq-core/cirq/transformers/synchronize_terminal_measurements_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5119 Add support for deep=True to `cirq.expand_composite` transformer
  cirq-core/cirq/transformers/expand_composite.py
  cirq-core/cirq/transformers/expand_composite_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5116 Add support for deep=True to `cirq.eject_phased_paulis` transformer
  cirq-core/cirq/transformers/eject_phased_paulis.py
  cirq-core/cirq/transformers/eject_phased_paulis_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5112 Add support for deep=True to `cirq.align_left` and `cirq.align_right` transformers
  cirq-core/cirq/transformers/align.py
  cirq-core/cirq/transformers/align_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5115 Add support for deep=True to `cirq.eject_z` transformer
  cirq-core/cirq/transformers/eject_z.py
  cirq-core/cirq/transformers/eject_z_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5122 Add support for deep=True to `cirq.merge_k_qubit_unitaries` transformer
  cirq-core/cirq/transformers/merge_k_qubit_gates.py
  cirq-core/cirq/transformers/merge_k_qubit_gates_test.py
Labels: automerge, size: M

#5123 Add support for deep=True to merge_single_qubit_gates* transformers
  cirq-core/cirq/transformers/merge_single_qubit_gates.py
  cirq-core/cirq/transformers/merge_single_qubit_gates_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5124 Add support for deep=True to `cirq.optimize_for_target_gateset` transformer
  cirq-core/cirq/transformers/optimize_for_target_gateset.py
  cirq-core/cirq/transformers/optimize_for_target_gateset_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5125 Bugfix in handling of deep=True flag in `cirq.merge_k_qubit_unitaries` transformer
  cirq-core/cirq/transformers/merge_k_qubit_gates.py
  cirq-core/cirq/transformers/merge_k_qubit_gates_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5056 DeviceSpecification proto updates
  cirq-google/cirq_google/api/v2/device.proto
  cirq-google/cirq_google/api/v2/device_pb2.py
  cirq-google/cirq_google/api/v2/device_pb2.pyi
Labels: automerge, front_of_queue_automerge, size: L

#5126 Add support for deep=True flag in `cg.optimized_for_sycamore` and `cg.SycamoreTargetGateset` transformers
  cirq-google/cirq_google/optimizers/optimize_for_sycamore.py
  cirq-google/cirq_google/optimizers/optimize_for_sycamore_test.py
  cirq-google/cirq_google/transformers/target_gatesets/sycamore_gateset.py
  cirq-google/cirq_google/transformers/target_gatesets/sycamore_gateset_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5066 Rename TestDevice -> FakeDevice to avoid pytest confusion
  cirq-core/cirq/circuits/circuit_dag_test.py
  cirq-core/cirq/circuits/circuit_test.py
  cirq-core/cirq/contrib/quantum_volume/quantum_volume_test.py
  cirq-google/cirq_google/line/placement/anneal_test.py
  cirq-google/cirq_google/line/placement/chip_test.py
  cirq-google/cirq_google/line/placement/greedy_test.py
  cirq-google/cirq_google/line/placement/line_test.py
  cirq-google/cirq_google/optimizers/optimize_for_sycamore_test.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
  cirq-google/cirq_google/workflow/qubit_placement_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5136 Add iterator support for AbstractJob
  cirq-google/cirq_google/engine/abstract_job.py
  cirq-google/cirq_google/engine/abstract_job_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5138 Pin Jinja2 version for build_docs CI.
  rtd_docs/requirements.txt
Labels: automerge, front_of_queue_automerge, Size: XS

#5134 Bump cirq version to 0.15.0
  cirq-aqt/cirq_aqt/_version.py
  cirq-aqt/cirq_aqt/_version_test.py
  cirq-core/cirq/_version.py
  cirq-core/cirq/_version_test.py
  cirq-core/cirq/ops/classically_controlled_operation_test.py
  cirq-google/cirq_google/_version.py
  cirq-google/cirq_google/_version_test.py
  cirq-ionq/cirq_ionq/_version.py
  cirq-ionq/cirq_ionq/_version_test.py
  cirq-pasqal/cirq_pasqal/_version.py
  cirq-pasqal/cirq_pasqal/_version_test.py
  cirq-rigetti/cirq_rigetti/_version.py
  cirq-rigetti/cirq_rigetti/_version_test.py
  cirq-web/cirq_web/_version.py
  cirq-web/cirq_web/_version_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5102 Remove deprecated two_qubit_matrix_to_diagonal_and_operations and two_qubit_matrix_to_operations
  cirq-core/cirq/__init__.py
  cirq-core/cirq/optimizers/__init__.py
  cirq-core/cirq/transformers/__init__.py
  cirq-core/cirq/transformers/analytical_decompositions/__init__.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_cz.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_cz_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5142 Fix broken caching in CliffordGate and add test
  cirq-core/cirq/ops/clifford_gate.py
  cirq-core/cirq/ops/clifford_gate_test.py
Labels: automerge, front_of_queue_automerge, size: M

#5147 Cleanup docs/noise.ipynb in preparation for Cirq 1.0 launch
  docs/noise.ipynb
Labels: size: S

#5146 Speed up a slow transformer test
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_sqrt_iswap_test.py
Labels: automerge, front_of_queue_automerge, Size: XS

#5144 Make pylint parallel
  check/pylint
  check/pylint-changed-files
  dev_tools/bash_scripts_test.py
Labels: automerge, front_of_queue_automerge, Size: XS

#5021 [workflow] Preliminary timing information
  cirq-google/cirq_google/json_test_data/cirq.google.ExecutableGroupResult.json
  cirq-google/cirq_google/json_test_data/cirq.google.ExecutableGroupResult.repr
  cirq-google/cirq_google/json_test_data/cirq.google.ExecutableResult.json
  cirq-google/cirq_google/json_test_data/cirq.google.ExecutableResult.repr
  cirq-google/cirq_google/json_test_data/cirq.google.RuntimeInfo.json
  cirq-google/cirq_google/json_test_data/cirq.google.RuntimeInfo.repr
  cirq-google/cirq_google/workflow/quantum_runtime.py
  cirq-google/cirq_google/workflow/quantum_runtime_test.py
Labels: automerge, front_of_queue_automerge, area/workflow, size: M

#5149 Add docstring for `cirq.TRANSFORMER` public object
  cirq-core/cirq/transformers/transformer_api.py
Labels: automerge, front_of_queue_automerge, kind/docs, size: S

#5065 Base class for quantum states
  cirq-core/cirq/__init__.py
  cirq-core/cirq/contrib/quimb/mps_simulator.py
  cirq-core/cirq/qis/__init__.py
  cirq-core/cirq/qis/clifford_tableau.py
  cirq-core/cirq/sim/act_on_args.py
  cirq-core/cirq/sim/act_on_args_container_test.py
  cirq-core/cirq/sim/act_on_density_matrix_args.py
  cirq-core/cirq/sim/act_on_state_vector_args.py
  cirq-core/cirq/sim/clifford/act_on_clifford_tableau_args.py
  cirq-core/cirq/sim/clifford/act_on_stabilizer_args.py
  cirq-core/cirq/sim/clifford/act_on_stabilizer_ch_form_args.py
  cirq-core/cirq/sim/clifford/stabilizer_state_ch_form.py
  cirq-core/cirq/sim/simulator_base_test.py
Labels: automerge, front_of_queue_automerge, size: XL

#5111 Allow any object with supporting protocols to be the action in act_on
  cirq-core/cirq/contrib/quimb/mps_simulator.py
  cirq-core/cirq/protocols/act_on_protocol.py
  cirq-core/cirq/protocols/act_on_protocol_test.py
  cirq-core/cirq/sim/act_on_args_container.py
  cirq-core/cirq/sim/act_on_args_container_test.py
  cirq-core/cirq/sim/act_on_args_test.py
  cirq-core/cirq/sim/act_on_density_matrix_args.py
  cirq-core/cirq/sim/act_on_state_vector_args.py
  cirq-core/cirq/sim/clifford/act_on_stabilizer_args.py
  cirq-core/cirq/sim/operation_target.py
  cirq-core/cirq/sim/simulator_base_test.py
Labels: size: M

#5153 Corrected result.data implementation.
  cirq-core/cirq/study/result.py
  cirq-core/cirq/study/result_test.py
Labels: automerge, front_of_queue_automerge, size: S

#5141 Support specific IonQ targets (qpu.generation)
  cirq-ionq/cirq_ionq/job.py
  cirq-ionq/cirq_ionq/job_test.py
Labels: size: S

#5157 Upgrade black to stable version with format stability guarantees
  dev_tools/requirements/deps/format.txt
Labels: automerge, front_of_queue_automerge, Size: XS, size: XL

#5161 Clarify virtual tag docstring
  cirq-core/cirq/ops/tags.py
Labels: automerge, front_of_queue_automerge, Size: XS

#5162 Ignore large-scale formatting changes for git blame
  .git-blame-ignore-revs
Labels: automerge, front_of_queue_automerge, Size: XS

#5135 Remove --pre from notebooks after release.
  cirq-core/cirq/contrib/quimb/Cirq-to-Tensor-Networks.ipynb
  cirq-core/cirq/contrib/quimb/Contract-a-Grid-Circuit.ipynb
  dev_tools/notebooks/isolated_notebook_test.py
  dev_tools/packaging/verify-published-package.sh
  docs/tutorials/basics.ipynb
Labels: automerge, front_of_queue_automerge, size: S

#5156 Update to pylint 2.13
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_operation.py
  cirq-core/cirq/circuits/moment.py
  cirq-core/cirq/devices/named_topologies.py
  cirq-core/cirq/experiments/qubit_characterizations.py
  cirq-core/cirq/linalg/decompositions.py
  cirq-core/cirq/ops/arithmetic_operation.py
  cirq-core/cirq/ops/fourier_transform.py
  cirq-core/cirq/ops/pauli_string_test.py
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/optimizers/merge_interactions_to_sqrt_iswap_test.py
  cirq-core/cirq/protocols/decompose_protocol.py
  cirq-core/cirq/qis/states.py
  cirq-core/cirq/testing/deprecation.py
  cirq-core/cirq/testing/equals_tester.py
  cirq-core/cirq/testing/logs.py
  cirq-core/cirq/testing/order_tester.py
  cirq-core/cirq/value/measurement_key_test.py
  cirq-core/cirq/vis/heatmap.py
  cirq-google/cirq_google/engine/client/quantum_v1alpha1/gapic/transports/quantum_engine_service_grpc_transport.py
  cirq-ionq/cirq_ionq/service.py
  dev_tools/conf/.pylintrc
  dev_tools/pylint_copyright_checker_test.py
  dev_tools/requirements/deps/pylint.txt
  dev_tools/shell_tools.py
  examples/hhl.py
Labels: size: M

#5163 Update educators/intro.ipynb in preparation for Cirq 1.0 launch
  docs/tutorials/educators/intro.ipynb
Labels: automerge, front_of_queue_automerge, size: XL

#5165 Disable broken symbols.
  dev_tools/docs/build_api_docs.py
Labels: Size: XS

#5164 Autoformat all of engine_client_test.py
  cirq-google/cirq_google/engine/engine_client_test.py
Labels: size: L

#5133 Allow specifying timeout_seconds when constructing an ionq Sampler
  cirq-ionq/cirq_ionq/sampler.py
  cirq-ionq/cirq_ionq/sampler_test.py
Labels: Size: XS, size: S

#5168 Remove reservation colab
  dev_tools/notebooks/isolated_notebook_test.py
  docs/google/concepts.ipynb
  docs/tutorials/google/reservations.ipynb
  docs/tutorials/google/start.ipynb
Labels: automerge, front_of_queue_automerge, size: L

#5082 Add Google-specific variant for noise properties.
  cirq-core/cirq/devices/noise_properties.py
  cirq-core/cirq/devices/noise_properties_test.py
  cirq-core/cirq/devices/superconducting_qubits_noise_properties.py
  cirq-google/cirq_google/devices/google_noise_properties.py
  cirq-google/cirq_google/devices/google_noise_properties_test.py
Labels: automerge, front_of_queue_automerge, size: L
