Repository quantumlib/Cirq, pull requests merged in 2023-03, with the labels that each got.

#6005 Adding dimension property to comparison of XPowGate and ZPowGate
  cirq-core/cirq/ops/common_gates.py
  cirq-core/cirq/ops/common_gates_test.py
  cirq-core/cirq/protocols/json_test_data/XPowGate.json
  cirq-core/cirq/protocols/json_test_data/XPowGate.repr
  cirq-core/cirq/protocols/json_test_data/ZPowGate.json
  cirq-core/cirq/protocols/json_test_data/ZPowGate.repr
Labels: size: M

#6023 Speed up parameter resolution by checking if val is parameterized and caching the boolean
  cirq-core/cirq/circuits/frozen_circuit.py
  cirq-core/cirq/circuits/moment.py
  cirq-core/cirq/ops/pauli_sum_exponential.py
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/protocols/resolve_parameters.py
  cirq-core/cirq/protocols/resolve_parameters_test.py
Labels: area/performance, size: M

#6030 Simplify dev_tools.notebooks.utils.rewrite_notebook
  dev_tools/notebooks/isolated_notebook_test.py
  dev_tools/notebooks/notebook_test.py
  dev_tools/notebooks/utils.py
  dev_tools/notebooks/utils_test.py
Labels: kind/health, size: S

#6045 Remove outdated workaround for a bug in black formatter
  check/format-incremental
Labels: automerge

#6019 Update and correct pow function for PauliSum
  cirq-core/cirq/ops/linear_combinations.py
  cirq-core/cirq/ops/linear_combinations_test.py
Labels: size: S

#6038 Ensure compatible version of numpy in isolated_notebook_test.py
  dev_tools/notebooks/isolated_notebook_test.py
Labels: kind/health, area/notebook-testing

#6032 Prevent notebook tests from changing the pytest Python environment
  dev_tools/notebooks/notebook_test.py
Labels: kind/health, area/notebook-testing, size: S

#6033 Install recent version of ply in interop.ipynb
  docs/build/interop.ipynb
Labels: area/notebook-testing, Size: XS
