Repository quantumlib/Cirq, pull requests merged in 2023-07, with the labels that each got.

#6100 Create a unitary to pauli string transformer
  cirq-core/cirq/transformers/__init__.py
  cirq-core/cirq/transformers/analytical_decompositions/__init__.py
  cirq-core/cirq/transformers/analytical_decompositions/pauli_string_decomposition.py
  cirq-core/cirq/transformers/analytical_decompositions/pauli_string_decomposition_test.py
Labels: size: M

#6183 Remove references to cirq_qubitization in cirq_ft
  cirq-ft/cirq_ft/algos/select_swap_qrom.py
Labels: Size: XS, area/cirq-ft

#6177 added ci-daily
  .github/workflows/ci-daily.yml
Labels: size: S

#6186 Remove unused warnings filter for pytest
  conftest.py
Labels: size: S

#6181 Fix failing tests for Python 3.11
  cirq-core/cirq/circuits/frozen_circuit_test.py
  cirq-core/cirq/devices/grid_qubit_test.py
  cirq-core/cirq/devices/line_qubit_test.py
  cirq-core/cirq/ops/gate_operation_test.py
  cirq-core/cirq/ops/gateset_test.py
  cirq-core/cirq/value/classical_data.py
Labels: size: M

#6179 Handle shape mismatch for cirq.dirac_notation
  cirq-core/cirq/qis/states.py
  cirq-core/cirq/qis/states_test.py
Labels: automerge, front_of_queue_automerge, size: S

#6188 Update dockerfiles
  dev_tools/pr_monitor/Dockerfile
Labels: Size: XS

#6174 Speed up execution time of `merge_single_qubit_moments_to_phxz` transformer by avoiding redundant calls to unitary protocol
  cirq-core/cirq/transformers/merge_single_qubit_gates.py
Labels: size: S

#6196 Create consistency check for unitary with ancilla
  cirq-core/cirq/testing/__init__.py
  cirq-core/cirq/testing/consistent_decomposition.py
  cirq-core/cirq/testing/consistent_decomposition_test.py
  cirq-core/cirq/testing/consistent_protocols.py
  cirq-core/cirq/testing/consistent_unitary.py
  cirq-core/cirq/testing/consistent_unitary_test.py
  cirq-core/cirq/testing/sample_gates.py
Labels: size: M

#6156 Implemented 8n T complexity decomposition of LessThanEqual gate
  cirq-ft/cirq_ft/algos/__init__.py
  cirq-ft/cirq_ft/algos/arithmetic_gates.py
  cirq-ft/cirq_ft/algos/arithmetic_gates_test.py
  cirq-ft/cirq_ft/algos/state_preparation_test.py
Labels: size: M

#6194 Create cirq_google.InternalGate
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/json_resolver_cache.py
  cirq-google/cirq_google/json_test_data/InternalGate.json
  cirq-google/cirq_google/json_test_data/InternalGate.repr
  cirq-google/cirq_google/ops/__init__.py
  cirq-google/cirq_google/ops/internal_gate.py
  cirq-google/cirq_google/ops/internal_gate_test.py
Labels: size: M

#6191 Add Python 3.11 tests to CI
  .github/workflows/ci-daily.yml
  .github/workflows/ci.yml
  cirq-ft/cirq_ft/algos/generic_select.py
  cirq-ft/cirq_ft/algos/hubbard_model.py
  cirq-ft/cirq_ft/algos/selected_majorana_fermion.py
  cirq-google/cirq_google/api/v1/operations_pb2.py
  cirq-google/cirq_google/api/v1/operations_pb2.pyi
  cirq-google/cirq_google/api/v1/params_pb2.py
  cirq-google/cirq_google/api/v1/params_pb2.pyi
  cirq-google/cirq_google/api/v1/program_pb2.py
  cirq-google/cirq_google/api/v1/program_pb2.pyi
  cirq-google/cirq_google/api/v2/batch_pb2.py
  cirq-google/cirq_google/api/v2/batch_pb2.pyi
  cirq-google/cirq_google/api/v2/calibration_pb2.py
  cirq-google/cirq_google/api/v2/calibration_pb2.pyi
  cirq-google/cirq_google/api/v2/device_pb2.py
  cirq-google/cirq_google/api/v2/device_pb2.pyi
  cirq-google/cirq_google/api/v2/metrics_pb2.py
  cirq-google/cirq_google/api/v2/metrics_pb2.pyi
  cirq-google/cirq_google/api/v2/program_pb2.py
  cirq-google/cirq_google/api/v2/program_pb2.pyi
  cirq-google/cirq_google/api/v2/result_pb2.py
  cirq-google/cirq_google/api/v2/result_pb2.pyi
  cirq-google/cirq_google/api/v2/run_context_pb2.py
  cirq-google/cirq_google/api/v2/run_context_pb2.pyi
  cirq-google/cirq_google/calibration/phased_fsim_test.py
  cirq-google/cirq_google/calibration/test_data/xeb_calibration_layer.textproto
  cirq-google/requirements.txt
  dev_tools/requirements/deps/dev-tools.txt
  dev_tools/requirements/deps/protos.txt
Labels: Size: XS, size: XL

#6200 Make Cirq-FT registers multi-dimensional
  cirq-ft/cirq_ft/algos/and_gate.py
  cirq-ft/cirq_ft/algos/and_gate_test.py
  cirq-ft/cirq_ft/algos/apply_gate_to_lth_target.ipynb
  cirq-ft/cirq_ft/algos/apply_gate_to_lth_target.py
  cirq-ft/cirq_ft/algos/apply_gate_to_lth_target_test.py
  cirq-ft/cirq_ft/algos/arithmetic_gates.py
  cirq-ft/cirq_ft/algos/generic_select.py
  cirq-ft/cirq_ft/algos/hubbard_model.py
  cirq-ft/cirq_ft/algos/mean_estimation/complex_phase_oracle.py
  cirq-ft/cirq_ft/algos/mean_estimation/complex_phase_oracle_test.py
  cirq-ft/cirq_ft/algos/mean_estimation/mean_estimation_operator.py
  cirq-ft/cirq_ft/algos/mean_estimation/mean_estimation_operator_test.py
  cirq-ft/cirq_ft/algos/multi_control_multi_target_pauli.py
  cirq-ft/cirq_ft/algos/prepare_uniform_superposition.py
  cirq-ft/cirq_ft/algos/prepare_uniform_superposition_test.py
  cirq-ft/cirq_ft/algos/programmable_rotation_gate_array.py
  cirq-ft/cirq_ft/algos/programmable_rotation_gate_array_test.py
  cirq-ft/cirq_ft/algos/qrom.py
  cirq-ft/cirq_ft/algos/qrom_test.py
  cirq-ft/cirq_ft/algos/qubitization_walk_operator.py
  cirq-ft/cirq_ft/algos/qubitization_walk_operator_test.py
  cirq-ft/cirq_ft/algos/reflection_using_prepare.py
  cirq-ft/cirq_ft/algos/select_swap_qrom.py
  cirq-ft/cirq_ft/algos/selected_majorana_fermion.py
  cirq-ft/cirq_ft/algos/selected_majorana_fermion_test.py
  cirq-ft/cirq_ft/algos/state_preparation.py
  cirq-ft/cirq_ft/algos/swap_network.py
  cirq-ft/cirq_ft/algos/swap_network_test.py
  cirq-ft/cirq_ft/algos/unary_iteration.ipynb
  cirq-ft/cirq_ft/algos/unary_iteration_gate.py
  cirq-ft/cirq_ft/algos/unary_iteration_gate_test.py
  cirq-ft/cirq_ft/infra/gate_with_registers.ipynb
  cirq-ft/cirq_ft/infra/gate_with_registers.py
  cirq-ft/cirq_ft/infra/gate_with_registers_test.py
  cirq-ft/cirq_ft/infra/testing.py
  cirq-ft/cirq_ft/infra/testing_test.py
Labels: size: M, area/cirq-ft

#6204 Simplify `StatePreparationAliasSampling` tests by relying on Cirq simulators to simulate operations allocating ancillas
  cirq-ft/cirq_ft/algos/selected_majorana_fermion_test.py
  cirq-ft/cirq_ft/algos/state_preparation_test.py
  cirq-ft/cirq_ft/algos/unary_iteration_gate.py
Labels: size: M, area/cirq-ft

#6205 Remove flynt dependency
  check/format-incremental
  dev_tools/packaging/isolated_packages_test.py
  dev_tools/requirements/deps/flynt.txt
  dev_tools/requirements/deps/format.txt
  dev_tools/requirements/pytest-minimal.env.txt
Labels: size: S

#6190 Add ResponseDemux
  cirq-google/cirq_google/engine/stream_manager.py
  cirq-google/cirq_google/engine/stream_manager_test.py
Labels: size: M

#6208 Use f-strings in the pr_monitor tool
  cirq-core/cirq/_compat_test.py
  cirq-core/cirq/qis/measures.py
  cirq-core/cirq/qis/states.py
  cirq-google/cirq_google/calibration/engine_simulator.py
  cirq-google/cirq_google/engine/engine_program.py
  cirq-google/cirq_google/serialization/op_serializer.py
  dev_tools/modules.py
  dev_tools/pr_monitor.py
  dev_tools/requirements/deps/pytest.txt
Labels: size: M

#6193 Codecov coverage reports
  .github/workflows/ci.yml
Labels: Size: XS

#6218 Fix notebook failure in CI tests
  cirq-core/cirq/contrib/quimb/Cirq-to-Tensor-Networks.ipynb
  cirq-core/cirq/contrib/quimb/Contract-a-Grid-Circuit.ipynb
  cirq-core/cirq/work/observable_measurement_data_test.py
  cirq-rigetti/cirq_rigetti/aspen_device_test.py
  dev_tools/notebooks/notebook_test.py
  docs/hardware/azure-quantum/access.md
  docs/hardware/azure-quantum/getting_started_honeywell.ipynb
  docs/hardware/azure-quantum/getting_started_ionq.ipynb
  docs/start/install.md
Labels: size: S

#6212 create cirq_google.api.v2.InternalGate proto
  cirq-google/cirq_google/api/v2/program.proto
  cirq-google/cirq_google/api/v2/program_pb2.py
  cirq-google/cirq_google/api/v2/program_pb2.pyi
  cirq-google/cirq_google/ops/internal_gate.py
  cirq-google/cirq_google/ops/internal_gate_test.py
  cirq-google/cirq_google/serialization/arg_func_langs.py
  cirq-google/cirq_google/serialization/arg_func_langs_test.py
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
Labels: size: L

#6192 Move AsyncioExecutor to separate file.
  cirq-google/cirq_google/engine/asyncio_executor.py
  cirq-google/cirq_google/engine/engine_client.py
Labels: size: M

#6216 add cirq specific environment variables to ionq
  cirq-ionq/cirq_ionq/service.py
  cirq-ionq/cirq_ionq/service_test.py
Labels: Size: XS, size: S

#6221 [Cirq-FT] Fix typo and add more helpful assertion message.
  cirq-ft/cirq_ft/infra/gate_with_registers.py
Labels: Size: XS, area/cirq-ft
