Repository quantumlib/Cirq, pull requests merged in 2023-10, with the labels that each got.

#6308 Apply fix from typo scan of quantumai website, cl/570431484
  docs/noise/representing_noise.ipynb
Labels: Size: XS

#6285 Integrate StreamManager with run_sweep()
  cirq-google/cirq_google/engine/engine.py
  cirq-google/cirq_google/engine/engine_client.py
  cirq-google/cirq_google/engine/engine_client_test.py
  cirq-google/cirq_google/engine/engine_job.py
  cirq-google/cirq_google/engine/engine_job_test.py
  cirq-google/cirq_google/engine/engine_processor_test.py
  cirq-google/cirq_google/engine/engine_test.py
Labels: size: L

#6311 Create separate unary and streaming RPC tests in engine_test.py
  cirq-google/cirq_google/engine/engine_test.py
Labels: size: M

#6309 Move `GreedyQubitManager` from Cirq-FT to Cirq-Core
  cirq-core/cirq/__init__.py
  cirq-core/cirq/ops/__init__.py
  cirq-core/cirq/ops/greedy_qubit_manager.py
  cirq-core/cirq/ops/greedy_qubit_manager_test.py
  cirq-core/cirq/protocols/json_test_data/spec.py
  cirq-ft/cirq_ft/__init__.py
  cirq-ft/cirq_ft/algos/apply_gate_to_lth_target_test.py
  cirq-ft/cirq_ft/algos/arithmetic_gates_test.py
  cirq-ft/cirq_ft/algos/programmable_rotation_gate_array_test.py
  cirq-ft/cirq_ft/algos/qrom_test.py
  cirq-ft/cirq_ft/algos/qubitization_walk_operator_test.py
  cirq-ft/cirq_ft/algos/reflection_using_prepare_test.py
  cirq-ft/cirq_ft/algos/select_swap_qrom_test.py
  cirq-ft/cirq_ft/algos/selected_majorana_fermion_test.py
  cirq-ft/cirq_ft/algos/unary_iteration_gate.py
  cirq-ft/cirq_ft/algos/unary_iteration_gate_test.py
  cirq-ft/cirq_ft/infra/__init__.py
  cirq-ft/cirq_ft/infra/decompose_protocol.py
  cirq-ft/cirq_ft/infra/qubit_management_transformers.py
  cirq-ft/cirq_ft/infra/qubit_management_transformers_test.py
  cirq-ft/cirq_ft/infra/qubit_manager.py
  cirq-ft/cirq_ft/infra/qubit_manager_test.py
Labels: BREAKING CHANGE, size: L, area/cirq-ft

#6312 Make `SingleQubitCompare` output registers directional
  cirq-ft/cirq_ft/algos/arithmetic_gates.py
  cirq-ft/cirq_ft/algos/arithmetic_gates_test.py
Labels: size: S, area/cirq-ft

#6313 Make ancilla for BiQubitsMixer sided too.
  cirq-ft/cirq_ft/algos/arithmetic_gates.py
Labels: size: S

#6314 Adds 2q prep for iswap instead of sqrt_iswap
  cirq-core/cirq/__init__.py
  cirq-core/cirq/transformers/__init__.py
  cirq-core/cirq/transformers/analytical_decompositions/__init__.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_state_preparation.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_state_preparation_test.py
Labels: size: S

#6319 Move qubit management transformers from Cirq-FT to Cirq-core
  cirq-core/cirq/__init__.py
  cirq-core/cirq/transformers/__init__.py
  cirq-core/cirq/transformers/qubit_management_transformers.py
  cirq-core/cirq/transformers/qubit_management_transformers_test.py
  cirq-ft/cirq_ft/algos/qubitization_walk_operator_test.py
  cirq-ft/cirq_ft/algos/reflection_using_prepare_test.py
  cirq-ft/cirq_ft/infra/qubit_management_transformers.py
  cirq-ft/cirq_ft/infra/qubit_management_transformers_test.py
Labels: size: L

#6320 Preserve subcircuits passed to `[Frozen]Circuit.from_moments`
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_test.py
  cirq-core/cirq/circuits/frozen_circuit_test.py
Labels: BREAKING CHANGE, size: M

#6325 Build clifford tableau just once during SingleQubitCliffordGate to PhasedXZGate conversion
  cirq-core/cirq/ops/clifford_gate.py
Labels: size: S

#6301 Add documentation for cirq google's support for google internal gates
  docs/google/internal_gates.ipynb
Labels: size: M

#6330 remove default values of InternalGate
  cirq-google/cirq_google/json_test_data/InternalGate.json
  cirq-google/cirq_google/json_test_data/InternalGate.repr
  cirq-google/cirq_google/ops/internal_gate.py
  cirq-google/cirq_google/ops/internal_gate_test.py
Labels: size: S

#6328 Moved rigetti integration test logic to higher level conftest.py file…
  cirq-rigetti/cirq_rigetti/conftest.py
  conftest.py
  dev_tools/conftest.py
  pyproject.toml
Labels: size: M

#6331 ci - skip slow tests on PR, run them in daily ci instead
  .github/workflows/ci-daily.yml
  cirq-ft/cirq_ft/algos/qrom_test.py
  cirq-ft/cirq_ft/algos/qubitization_walk_operator_test.py
  cirq-ft/cirq_ft/algos/reflection_using_prepare_test.py
  cirq-ft/cirq_ft/algos/select_swap_qrom_test.py
  cirq-ft/cirq_ft/algos/selected_majorana_fermion_test.py
  cirq-ft/cirq_ft/algos/state_preparation_test.py
  cirq-ft/cirq_ft/algos/unary_iteration_gate_test.py
Labels: size: M

#6334 ci - show 20 slowest tests on Linux, Windows and Mac
  .github/workflows/ci.yml
Labels: Size: XS

#6332 Extend Clifford protocol for 2+ qubit operations through analytical check and falling back to decompose
  cirq-core/cirq/protocols/has_stabilizer_effect_protocol.py
  cirq-core/cirq/protocols/has_stabilizer_effect_protocol_test.py
  cirq-ft/cirq_ft/infra/t_complexity_protocol.py
Labels: size: M
