Repository quantumlib/Cirq, pull requests merged in 2023-01, with the labels that each got.

#5971 Add single-qubit detuning parameters to CouplerPulse
  cirq-google/cirq_google/experimental/ops/coupler_pulse.py
  cirq-google/cirq_google/experimental/ops/coupler_pulse_test.py
  cirq-google/cirq_google/json_test_data/CouplerPulse.json
Labels: size: M

#5977 Fix bug in documentation of phase_flip and bit_flip methods
  cirq-core/cirq/ops/common_channels.py
Labels: automerge, size: S

#5990 Fix link to noise models
  docs/start/basics.ipynb
Labels: automerge, front_of_queue_automerge, Size: XS
