Repository quantumlib/Cirq, pull requests merged in 2023-06, with the labels that each got.

#6112 Add support for allocating qubits in decompose to cirq.unitary
  cirq-core/cirq/protocols/apply_unitary_protocol.py
  cirq-core/cirq/protocols/apply_unitary_protocol_test.py
  cirq-core/cirq/protocols/unitary_protocol.py
  cirq-core/cirq/protocols/unitary_protocol_test.py
  cirq-core/cirq/testing/__init__.py
  cirq-core/cirq/testing/sample_gates.py
  cirq-core/cirq/testing/sample_gates_test.py
Labels: size: M

#6118 Add `_decompose_with_context_` protocol to enable passing qubit manager within decompose
  cirq-core/cirq/__init__.py
  cirq-core/cirq/ops/__init__.py
  cirq-core/cirq/ops/classically_controlled_operation.py
  cirq-core/cirq/ops/controlled_gate.py
  cirq-core/cirq/ops/controlled_operation.py
  cirq-core/cirq/ops/gate_operation.py
  cirq-core/cirq/ops/qubit_manager.py
  cirq-core/cirq/ops/qubit_manager_test.py
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/ops/raw_types_test.py
  cirq-core/cirq/protocols/__init__.py
  cirq-core/cirq/protocols/decompose_protocol.py
  cirq-core/cirq/protocols/decompose_protocol_test.py
  cirq-core/cirq/protocols/json_test_data/spec.py
Labels: size: L

#6020 Quantum Shannon Decomposition
  cirq-core/cirq/__init__.py
  cirq-core/cirq/transformers/__init__.py
  cirq-core/cirq/transformers/analytical_decompositions/__init__.py
  cirq-core/cirq/transformers/analytical_decompositions/quantum_shannon_decomposition.py
  cirq-core/cirq/transformers/analytical_decompositions/quantum_shannon_decomposition_test.py
Labels: size: M

#6058 Add modulo to _equal_up_to_global_phase_
  cirq-core/cirq/ops/eigen_gate.py
  cirq-core/cirq/ops/eigen_gate_test.py
Labels: Size: XS, size: S

#6121 Add new subpackage cirq-ft
  cirq-ft/LICENSE
  cirq-ft/README.rst
  cirq-ft/cirq_ft/__init__.py
  cirq-ft/cirq_ft/_version.py
  cirq-ft/cirq_ft/dropme_blank_test.py
  cirq-ft/requirements.txt
  cirq-ft/setup.py
  dev_tools/requirements/deps/cirq-all-no-contrib.txt
Labels: size: L

#6108 Update Density Matrix and State Vector Simulators to work when an operation allocates new qubits as part of its decomposition
  cirq-core/cirq/protocols/act_on_protocol.py
  cirq-core/cirq/sim/density_matrix_simulation_state.py
  cirq-core/cirq/sim/density_matrix_simulation_state_test.py
  cirq-core/cirq/sim/simulation_state.py
  cirq-core/cirq/sim/simulation_state_test.py
  cirq-core/cirq/sim/state_vector_simulation_state.py
Labels: size: M

#6123 Inconsistent ordering of tags
  cirq-core/cirq/ops/gateset.py
  cirq-core/cirq/ops/gateset_test.py
Labels: size: S

#6129 Pin cirq_rigetti pyquil dependency to pyquil-3.*
  cirq-rigetti/requirements.txt
Labels: Size: XS

#6131 Fail early in `_strat_has_stabilizer_effect_from_unitary`
  cirq-core/cirq/protocols/has_stabilizer_effect_protocol.py
Labels: Size: XS

#6133 Replace functions deprecated in NumPy 1.25
  cirq-core/cirq/ops/matrix_gates_test.py
  cirq-core/cirq/testing/circuit_compare.py
  cirq-core/cirq/transformers/heuristic_decompositions/gate_tabulation_math_utils.py
Labels: size: S

#6128 Improvement in performance of resolve_parameters
  cirq-core/cirq/study/resolver.py
Labels: Size: XS

#6140 Add units to device parameter
  cirq-google/cirq_google/json_test_data/cirq.google.DeviceParameter.json
  cirq-google/cirq_google/json_test_data/cirq.google.DeviceParameter.repr
  cirq-google/cirq_google/study/device_parameter.py
  cirq-google/cirq_google/study/device_parameter_test.py
Labels: size: S

#6113 Add Device Parameter metadata serialization to cirq_google
  cirq-google/cirq_google/api/v2/run_context.proto
  cirq-google/cirq_google/api/v2/run_context_pb2.py
  cirq-google/cirq_google/api/v2/run_context_pb2.pyi
  cirq-google/cirq_google/api/v2/sweeps.py
  cirq-google/cirq_google/api/v2/sweeps_test.py
Labels: size: XL

#6149 Remove numpy<1.24 restriction from requirements.txt
  cirq-core/requirements.txt
  cirq-ft/cirq_ft/algos/and_gate.ipynb
  cirq-ft/cirq_ft/algos/and_gate_test.py
Labels: Size: XS

#6122 Delete redundant setup.cfg files
  cirq-aqt/setup.cfg
  cirq-core/setup.cfg
  cirq-google/setup.cfg
  cirq-ionq/setup.cfg
  cirq-pasqal/setup.cfg
  cirq-rigetti/setup.cfg
  cirq-web/setup.cfg
  setup.cfg
Labels: size: S

#6161 Set cachetools min version to 5.3
  cirq-ft/requirements.txt
Labels: Size: XS

#6169 Add example colabs
  examples/advanced/quantum_utility_sim_4a.ipynb
  examples/advanced/quantum_utility_sim_4b.ipynb
Labels: size: L

#6170 Skip utility sims
  dev_tools/notebooks/isolated_notebook_test.py
  dev_tools/notebooks/notebook_test.py
Labels: Size: XS

#6090 Add support for > 32 qudits to cirq.sample_state_vector. Fix for #6031
  cirq-core/cirq/linalg/__init__.py
  cirq-core/cirq/linalg/transformations.py
  cirq-core/cirq/linalg/transformations_test.py
  cirq-core/cirq/sim/density_matrix_utils.py
  cirq-core/cirq/sim/simulation_utils.py
  cirq-core/cirq/sim/simulation_utils_test.py
  cirq-core/cirq/sim/state_vector.py
  cirq-core/cirq/sim/state_vector_test.py
Labels: size: L

#6176 Remove invalid extra commas from json data
  asv.conf.json
  cirq-web/cirq_ts/tsconfig.json
Labels: Size: XS

#6172 Decompose protocol must create a context when given None and SimpleQubitManager must add a prefix to its qubits
  cirq-core/cirq/ops/qubit_manager.py
  cirq-core/cirq/protocols/decompose_protocol.py
  cirq-core/cirq/protocols/decompose_protocol_test.py
Labels: size: M
