Repository quantumlib/Cirq, pull requests merged in 2023-02, with the labels that each got.

#6003 Reducing some code by cleaning up some logic
  cirq-core/cirq/circuits/circuit.py
Labels: Size: XS

#6006 Retry bad_gateway in cirq-ionq
  cirq-ionq/cirq_ionq/ionq_client.py
Labels: Size: XS

#6000 Add `__cirq_debug__` flag and conditionally disable qid validations in gates and operations
  asv.conf.json
  cirq-core/cirq/__init__.py
  cirq-core/cirq/_compat.py
  cirq-core/cirq/_compat_test.py
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/ops/raw_types_test.py
Labels: size: M

#6010 Fix an error in qvm_stabilizer_example.ipynb
  docs/simulate/qvm_stabilizer_example.ipynb
Labels: automerge

#5292 IonQ: Handle 409 errors that are injected by Cloudflare
  cirq-ionq/cirq_ionq/ionq_client.py
  cirq-ionq/cirq_ionq/ionq_client_test.py
Labels: size: S

#6022 Correct invalid URLs found in notebook files
  cirq-web/circuit_example.ipynb
  docs/gatezoo.ipynb
  docs/named_topologies.ipynb
Labels: automerge
