Repository quantumlib/Cirq, pull requests merged in 2023-08, with the labels that each got.

#6226 Loosen cirq_rigetti pyquil dependency to pyquil-3.*
  cirq-rigetti/requirements.txt
Labels: Size: XS

#6224 Support empty invert_mask in measument gate deserialization
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
Labels: size: S

#6229 Fix Isolated pytest
  dev_tools/packaging/isolated_packages_test.py
  dev_tools/requirements/isolated-base.env.txt
Labels: Size: XS

#6199 Add StreamManager
  cirq-google/cirq_google/engine/stream_manager.py
  cirq-google/cirq_google/engine/stream_manager_test.py
Labels: size: XL

#6095 Add decomposition for CCZ gate and IonQTargetGateset when qubits are all-to-all connected
  cirq-ionq/cirq_ionq/__init__.py
  cirq-ionq/cirq_ionq/ionq_gateset.py
  cirq-ionq/cirq_ionq/ionq_gateset_test.py
Labels: size: M

#6231 fix ms gate equality
  cirq-core/cirq/ops/parity_gates.py
  cirq-core/cirq/ops/parity_gates_test.py
Labels: automerge, front_of_queue_automerge, size: S

#6233 Integrate StreamManager with run_sweep()
  cirq-google/cirq_google/engine/engine.py
  cirq-google/cirq_google/engine/engine_client.py
  cirq-google/cirq_google/engine/engine_client_test.py
  cirq-google/cirq_google/engine/engine_job.py
  cirq-google/cirq_google/engine/engine_job_test.py
  cirq-google/cirq_google/engine/engine_processor_test.py
  cirq-google/cirq_google/engine/engine_test.py
Labels: size: L

#6238 codecov - evaluate coverage at 0.1% resolution
  codecov.yml
Labels: Size: XS

#6237 Fix bug in controlled() method of CCX and CCZ gates
  cirq-core/cirq/ops/three_qubit_gates.py
  cirq-core/cirq/testing/__init__.py
  cirq-core/cirq/testing/consistent_controlled_gate_op.py
  cirq-core/cirq/testing/consistent_controlled_gate_op_test.py
  cirq-core/cirq/testing/consistent_protocols.py
Labels: size: M

#6240 codecov - fix syntax for excluding code lines from coverage
  cirq-core/cirq/circuits/circuit_operation_test.py
  cirq-core/cirq/transformers/heuristic_decompositions/two_qubit_gate_tabulation.py
  codecov.yml
  examples/bernstein_vazirani.py
  examples/deutsch.py
  examples/shor.py
Labels: Size: XS, size: S

#6242 Revert "Integrate StreamManager with run_sweep() (#6233)"
  cirq-google/cirq_google/engine/engine.py
  cirq-google/cirq_google/engine/engine_client.py
  cirq-google/cirq_google/engine/engine_client_test.py
  cirq-google/cirq_google/engine/engine_job.py
  cirq-google/cirq_google/engine/engine_job_test.py
  cirq-google/cirq_google/engine/engine_processor_test.py
  cirq-google/cirq_google/engine/engine_test.py
Labels: size: L

#6243 Fix CI requirements for Changed files test
  dev_tools/conf/pip-install-minimal-for-pytest-changed-files.sh
Labels: Size: XS

#6247 Support the deprecated_parameter decorator for asynchronous functions.
  cirq-core/cirq/_compat.py
  cirq-core/cirq/_compat_test.py
Labels: size: M

#6252 Fix bug in cirq-ft due to which T-complexity fails for gates with an empty decomposition / no-op
  cirq-ft/cirq_ft/algos/select_swap_qrom.py
  cirq-ft/cirq_ft/algos/select_swap_qrom_test.py
  cirq-ft/cirq_ft/infra/decompose_protocol.py
  cirq-ft/cirq_ft/infra/decompose_protocol_test.py
Labels: size: S

#6236 Remove temporary directories after test done
  cirq-core/cirq/vis/heatmap_test.py
  dev_tools/cloned_env_test.py
  dev_tools/notebooks/isolated_notebook_test.py
  dev_tools/packaging/isolated_packages_test.py
Labels: Size: XS

#6239 Check if python starts python3
  check/doctest
  check/pytest
  check/pytest-and-incremental-coverage
  check/pytest-changed-files
  check/pytest-changed-files-and-incremental-coverage
  dev_tools/pypath
Labels: size: S

#6255 Update documentation to prevent markdown rendering of underscores as italics.
  cirq-core/cirq/protocols/json_serialization.py
Labels: Size: XS

#6256 Coverage - avoid skipping code lines on different random seeds
  cirq-core/cirq/vis/heatmap_test.py
Labels: Size: XS

#6232 remove extra User-Agent
  cirq-ionq/cirq_ionq/ionq_client.py
  cirq-ionq/cirq_ionq/ionq_client_test.py
  cirq-ionq/cirq_ionq/ionq_devices_test.py
Labels: Size: XS

#6257 Apply variable-spaced optimization to QROM circuits
  cirq-ft/cirq_ft/algos/qrom.py
  cirq-ft/cirq_ft/algos/qrom_test.py
  cirq-ft/cirq_ft/algos/unary_iteration_gate.py
  cirq-ft/cirq_ft/infra/qubit_manager.py
  cirq-ft/cirq_ft/infra/qubit_manager_test.py
Labels: size: M, area/cirq-ft

#6258 codecov - tolerate small decrease in coverage
  codecov.yml
Labels: Size: XS

#6261 Fix ordering issue in random_rotations_between_grid_interaction_layer…
  cirq-core/cirq/experiments/random_quantum_circuit_generation.py
  cirq-core/cirq/experiments/random_quantum_circuit_generation_test.py
Labels: size: S

#6259 add back add/remove_qubit to density matrix sim state
  cirq-core/cirq/sim/density_matrix_simulation_state.py
  cirq-core/cirq/sim/simulation_state_test.py
Labels: size: S

#6254 Support the new quantum engine processor_selector in engine_client
  cirq-google/cirq_google/cloud/quantum/__init__.py
  cirq-google/cirq_google/cloud/quantum_v1alpha1/__init__.py
  cirq-google/cirq_google/cloud/quantum_v1alpha1/types/__init__.py
  cirq-google/cirq_google/cloud/quantum_v1alpha1/types/quantum.py
  cirq-google/cirq_google/engine/engine_client.py
  cirq-google/cirq_google/engine/engine_client_test.py
Labels: size: L

#6264 Make device parameter units/idx optional
  cirq-google/cirq_google/api/v2/run_context.proto
  cirq-google/cirq_google/api/v2/run_context_pb2.py
  cirq-google/cirq_google/api/v2/run_context_pb2.pyi
  cirq-google/cirq_google/api/v2/sweeps.py
  cirq-google/cirq_google/api/v2/sweeps_test.py
Labels: size: S

#6266 Add tags to `cirq.FrozenCircuit`
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/frozen_circuit.py
  cirq-core/cirq/circuits/frozen_circuit_test.py
Labels: size: M

#6268 codecov - exclude protobuf-generated sources from coverage analysis
  codecov.yml
Labels: Size: XS

#6270 Speed up parameter resolution for `cirq.Duration`
  cirq-core/cirq/value/duration.py
  cirq-core/cirq/value/duration_test.py
Labels: area/parameters, area/performance, size: M

#6267 Add new processor selector parameters in cirq-google/engine run methods
  cirq-google/cirq_google/engine/abstract_processor.py
  cirq-google/cirq_google/engine/engine.py
  cirq-google/cirq_google/engine/engine_client.py
  cirq-google/cirq_google/engine/engine_processor.py
  cirq-google/cirq_google/engine/engine_program.py
  cirq-google/cirq_google/engine/engine_test.py
  cirq-google/cirq_google/engine/processor_sampler.py
  cirq-google/cirq_google/engine/processor_sampler_test.py
  cirq-google/cirq_google/engine/simulated_local_processor.py
Labels: size: L

#6077 v0.3 API + debiasing
  cirq-ionq/cirq_ionq/ionq_client.py
  cirq-ionq/cirq_ionq/ionq_client_test.py
  cirq-ionq/cirq_ionq/job.py
  cirq-ionq/cirq_ionq/job_test.py
  cirq-ionq/cirq_ionq/sampler.py
  cirq-ionq/cirq_ionq/sampler_test.py
  cirq-ionq/cirq_ionq/serializer.py
  cirq-ionq/cirq_ionq/service.py
  cirq-ionq/cirq_ionq/service_test.py
  docs/hardware/ionq/access.md
  docs/hardware/ionq/service.md
Labels: triage/accepted, ionq, size: M
