Repository quantumlib/Cirq, pull requests merged in 2023-05, with the labels that each got.

#6086 Remove deprecated argument of pyplot.stem
  docs/experiments/fourier_checking.ipynb
Labels: Size: XS

#6073 Override gate.controlled() for GlobalPhaseGate to return a ZPowGate
  cirq-core/cirq/ops/global_phase_op.py
  cirq-core/cirq/ops/global_phase_op_test.py
Labels: size: S

#6089 Fix typos in notebooks.md and a plenty of relative links
  dev_tools/cirq-infra/README.md
  docs/build/circuits.ipynb
  docs/build/classical_control.ipynb
  docs/build/custom_gates.ipynb
  docs/build/ecosystem.md
  docs/build/gates.ipynb
  docs/build/operators.ipynb
  docs/build/pauli_observables.ipynb
  docs/build/qudits.ipynb
  docs/dev/modules.md
  docs/dev/notebooks.md
  docs/dev/rfc_process.md
  docs/dev/serialization.md
  docs/experiments/variational_algorithm.ipynb
  docs/google/access.md
  docs/google/best_practices.ipynb
  docs/google/concepts.ipynb
  docs/google/devices.md
  docs/google/engine.md
  docs/hardware/aqt/access.md
  docs/hardware/azure-quantum/access.md
  docs/hardware/devices.ipynb
  docs/hardware/ionq/getting_started.ipynb
  docs/hardware/pasqal/access.md
  docs/hardware/qubit_picking.ipynb
  docs/hardware/rigetti/access.md
  docs/noise/calibration_api.ipynb
  docs/noise/calibration_faq.md
  docs/noise/floquet_calibration_example.ipynb
  docs/noise/heatmaps.ipynb
  docs/noise/qcvv/coherent_vs_incoherent_xeb.ipynb
  docs/noise/qcvv/xeb_calibration_example.ipynb
  docs/noise/representing_noise.ipynb
  docs/simulate/noisy_simulation.ipynb
  docs/simulate/quantum_virtual_machine.ipynb
  docs/simulate/qvm_basic_example.ipynb
  docs/simulate/qvm_builder_code.ipynb
  docs/simulate/qvm_stabilizer_example.ipynb
  docs/simulate/simulation.ipynb
  docs/simulate/state_histograms.ipynb
  docs/simulate/virtual_engine_interface.ipynb
  docs/start/basics.ipynb
  docs/start/best_practices.md
  docs/start/install.md
  docs/start/intro.ipynb
  docs/start/start.ipynb
  docs/transform/custom_transformers.ipynb
  docs/transform/transformers.ipynb
  docs/tutorials/google/colab.ipynb
  docs/tutorials/google/identifying_hardware_changes.ipynb
  docs/tutorials/google/start.ipynb
  docs/tutorials/google/visualizing_calibration_metrics.ipynb
  release.md
Labels: size: M

#6094 GridDevice serialization refactor
  cirq-google/cirq_google/devices/grid_device.py
  cirq-google/cirq_google/devices/grid_device_test.py
  cirq-google/cirq_google/devices/known_devices.py
Labels: automerge, size: L

#6099 Add metadata to sweeps
  cirq-core/cirq/protocols/json_test_data/Linspace.json
  cirq-core/cirq/protocols/json_test_data/Linspace.repr
  cirq-core/cirq/protocols/json_test_data/Points.json
  cirq-core/cirq/protocols/json_test_data/Points.repr
  cirq-core/cirq/study/sweeps.py
  cirq-core/cirq/study/sweeps_test.py
Labels: size: M

#6105 Loosen `networkx` requirements
  cirq-core/requirements.txt
Labels: automerge, front_of_queue_automerge, Size: XS

#6102 Add Parameter to cirq_google
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/json_resolver_cache.py
  cirq-google/cirq_google/json_test_data/cirq.google.DeviceParameter.json
  cirq-google/cirq_google/json_test_data/cirq.google.DeviceParameter.repr
  cirq-google/cirq_google/json_test_data/spec.py
  cirq-google/cirq_google/study/__init__.py
  cirq-google/cirq_google/study/device_parameter.py
  cirq-google/cirq_google/study/device_parameter_test.py
Labels: size: M
