Repository quantumlib/Cirq, pull requests merged in 2023-09, with the labels that each got.

#6275 Add caching to `value_equality_values` decorator for auto generated methods.
  cirq-core/cirq/ops/dense_pauli_string.py
  cirq-core/cirq/ops/linear_combinations.py
  cirq-core/cirq/value/value_equality_attr.py
Labels: BREAKING CHANGE, area/performance, size: S

#6280 Variable spacing QROM should depend upon structure of different data sequences and not exact elements
  cirq-ft/cirq_ft/algos/qrom.py
  cirq-ft/cirq_ft/algos/qrom_test.py
Labels: size: S

#6278 Delete `SelectionRegisters` and replace uses of Registers with `Tuple[Register, ...]`
  cirq-ft/cirq_ft/__init__.py
  cirq-ft/cirq_ft/algos/and_gate.ipynb
  cirq-ft/cirq_ft/algos/and_gate.py
  cirq-ft/cirq_ft/algos/and_gate_test.py
  cirq-ft/cirq_ft/algos/apply_gate_to_lth_target.ipynb
  cirq-ft/cirq_ft/algos/apply_gate_to_lth_target.py
  cirq-ft/cirq_ft/algos/apply_gate_to_lth_target_test.py
  cirq-ft/cirq_ft/algos/arithmetic_gates.py
  cirq-ft/cirq_ft/algos/generic_select.py
  cirq-ft/cirq_ft/algos/generic_select_test.py
  cirq-ft/cirq_ft/algos/hubbard_model.py
  cirq-ft/cirq_ft/algos/hubbard_model_test.py
  cirq-ft/cirq_ft/algos/mean_estimation/complex_phase_oracle.py
  cirq-ft/cirq_ft/algos/mean_estimation/complex_phase_oracle_test.py
  cirq-ft/cirq_ft/algos/mean_estimation/mean_estimation_operator.py
  cirq-ft/cirq_ft/algos/mean_estimation/mean_estimation_operator_test.py
  cirq-ft/cirq_ft/algos/multi_control_multi_target_pauli.py
  cirq-ft/cirq_ft/algos/phase_estimation_of_quantum_walk.ipynb
  cirq-ft/cirq_ft/algos/prepare_uniform_superposition.py
  cirq-ft/cirq_ft/algos/prepare_uniform_superposition_test.py
  cirq-ft/cirq_ft/algos/programmable_rotation_gate_array.py
  cirq-ft/cirq_ft/algos/programmable_rotation_gate_array_test.py
  cirq-ft/cirq_ft/algos/qrom.py
  cirq-ft/cirq_ft/algos/qrom_test.py
  cirq-ft/cirq_ft/algos/qubitization_walk_operator.py
  cirq-ft/cirq_ft/algos/qubitization_walk_operator_test.py
  cirq-ft/cirq_ft/algos/reflection_using_prepare.py
  cirq-ft/cirq_ft/algos/reflection_using_prepare_test.py
  cirq-ft/cirq_ft/algos/select_and_prepare.py
  cirq-ft/cirq_ft/algos/select_swap_qrom.py
  cirq-ft/cirq_ft/algos/select_swap_qrom_test.py
  cirq-ft/cirq_ft/algos/selected_majorana_fermion.py
  cirq-ft/cirq_ft/algos/selected_majorana_fermion_test.py
  cirq-ft/cirq_ft/algos/state_preparation.py
  cirq-ft/cirq_ft/algos/swap_network.py
  cirq-ft/cirq_ft/algos/swap_network_test.py
  cirq-ft/cirq_ft/algos/unary_iteration.ipynb
  cirq-ft/cirq_ft/algos/unary_iteration_gate.py
  cirq-ft/cirq_ft/algos/unary_iteration_gate_test.py
  cirq-ft/cirq_ft/infra/__init__.py
  cirq-ft/cirq_ft/infra/gate_with_registers.ipynb
  cirq-ft/cirq_ft/infra/gate_with_registers.py
  cirq-ft/cirq_ft/infra/gate_with_registers_test.py
  cirq-ft/cirq_ft/infra/jupyter_tools.py
  cirq-ft/cirq_ft/infra/t_complexity.ipynb
  cirq-ft/cirq_ft/infra/t_complexity_protocol_test.py
  cirq-ft/cirq_ft/infra/testing.py
  cirq-ft/cirq_ft/infra/type_convertors.py
  cirq-ft/cirq_ft/infra/type_convertors_test.py
Labels: BREAKING CHANGE, size: L, area/cirq-ft

#6253 Changed FakeQuantumRunStream to support arbitrary response and exception timing
  cirq-google/cirq_google/engine/stream_manager_test.py
Labels: size: L

#6263 StreamManager: Add mechanism to close the request iterator
  cirq-google/cirq_google/engine/stream_manager.py
  cirq-google/cirq_google/engine/stream_manager_test.py
Labels: size: L

#6273 add to ionq code owners
  .github/CODEOWNERS
  dev_tools/codeowners_test.py
Labels: Size: XS

#6282 Add serialization support for InsertionNoiseModel
  cirq-core/cirq/devices/insertion_noise_model.py
  cirq-core/cirq/devices/insertion_noise_model_test.py
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/protocols/json_test_data/InsertionNoiseModel.json
  cirq-core/cirq/protocols/json_test_data/InsertionNoiseModel.repr
Labels: size: S

#6288 Correct unitary in the docstring of the FSimGate
  cirq-core/cirq/ops/fsim_gate.py
Labels: Size: XS

#6290 Fix matplotlib typing
  cirq-core/cirq/contrib/svg/svg.py
  cirq-core/cirq/devices/named_topologies.py
  cirq-core/cirq/experiments/qubit_characterizations.py
  cirq-core/cirq/linalg/decompositions.py
  cirq-core/cirq/vis/heatmap.py
  cirq-core/cirq/vis/heatmap_test.py
  cirq-core/cirq/vis/histogram.py
  cirq-core/cirq/vis/state_histogram.py
  cirq-core/cirq/vis/state_histogram_test.py
  cirq-google/cirq_google/engine/calibration.py
  docs/experiments/textbook_algorithms.ipynb
  docs/start/intro.ipynb
  examples/two_qubit_gate_compilation.py
Labels: size: M

#6289 Apply some minor doc fixes
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/interop/quirk/url_to_circuit.py
  cirq-core/cirq/protocols/apply_channel_protocol.py
Labels: size: M

#6294 Make InternalGate hashable if all gate args are hashable
  cirq-google/cirq_google/ops/internal_gate.py
  cirq-google/cirq_google/ops/internal_gate_test.py
Labels: size: S

#6283 Try to make docstring render correctly
  cirq-core/cirq/ops/common_channels.py
Labels: Size: XS

#6291 Add registry sweep documentation to cirq_google
  docs/google/devices.md
Labels: size: S

#6286 Add `bitsize` field to Cirq-FT Registers
  cirq-ft/cirq_ft/algos/swap_network.py
  cirq-ft/cirq_ft/infra/gate_with_registers.ipynb
  cirq-ft/cirq_ft/infra/gate_with_registers.py
  cirq-ft/cirq_ft/infra/gate_with_registers_test.py
Labels: BREAKING CHANGE, size: M, area/cirq-ft

#6298 Do not allow creating registers with bitsize 0
  cirq-ft/cirq_ft/algos/and_gate.py
  cirq-ft/cirq_ft/algos/apply_gate_to_lth_target.py
  cirq-ft/cirq_ft/algos/prepare_uniform_superposition.py
  cirq-ft/cirq_ft/algos/qrom.py
  cirq-ft/cirq_ft/algos/selected_majorana_fermion.py
  cirq-ft/cirq_ft/algos/state_preparation.py
  cirq-ft/cirq_ft/infra/gate_with_registers.py
  cirq-ft/cirq_ft/infra/gate_with_registers_test.py
Labels: size: S

#6299 Fix stream_manager_test type warnings
  cirq-google/cirq_google/engine/stream_manager_test.py
Labels: Size: XS

#6300 Rename `cirq_ft.Registers` to `cirq_ft.Signature` to match data types in Qualtran
  cirq-ft/cirq_ft/__init__.py
  cirq-ft/cirq_ft/algos/and_gate.ipynb
  cirq-ft/cirq_ft/algos/and_gate.py
  cirq-ft/cirq_ft/algos/and_gate_test.py
  cirq-ft/cirq_ft/algos/apply_gate_to_lth_target.ipynb
  cirq-ft/cirq_ft/algos/apply_gate_to_lth_target.py
  cirq-ft/cirq_ft/algos/apply_gate_to_lth_target_test.py
  cirq-ft/cirq_ft/algos/arithmetic_gates.py
  cirq-ft/cirq_ft/algos/generic_select_test.py
  cirq-ft/cirq_ft/algos/hubbard_model.ipynb
  cirq-ft/cirq_ft/algos/hubbard_model.py
  cirq-ft/cirq_ft/algos/hubbard_model_test.py
  cirq-ft/cirq_ft/algos/mean_estimation/complex_phase_oracle.py
  cirq-ft/cirq_ft/algos/mean_estimation/mean_estimation_operator.py
  cirq-ft/cirq_ft/algos/mean_estimation/mean_estimation_operator_test.py
  cirq-ft/cirq_ft/algos/multi_control_multi_target_pauli.py
  cirq-ft/cirq_ft/algos/phase_estimation_of_quantum_walk.ipynb
  cirq-ft/cirq_ft/algos/prepare_uniform_superposition.py
  cirq-ft/cirq_ft/algos/prepare_uniform_superposition_test.py
  cirq-ft/cirq_ft/algos/programmable_rotation_gate_array.py
  cirq-ft/cirq_ft/algos/programmable_rotation_gate_array_test.py
  cirq-ft/cirq_ft/algos/qrom.ipynb
  cirq-ft/cirq_ft/algos/qrom.py
  cirq-ft/cirq_ft/algos/qrom_test.py
  cirq-ft/cirq_ft/algos/qubitization_walk_operator.py
  cirq-ft/cirq_ft/algos/qubitization_walk_operator_test.py
  cirq-ft/cirq_ft/algos/reflection_using_prepare.py
  cirq-ft/cirq_ft/algos/reflection_using_prepare_test.py
  cirq-ft/cirq_ft/algos/select_and_prepare.py
  cirq-ft/cirq_ft/algos/select_swap_qrom.py
  cirq-ft/cirq_ft/algos/select_swap_qrom_test.py
  cirq-ft/cirq_ft/algos/selected_majorana_fermion.py
  cirq-ft/cirq_ft/algos/selected_majorana_fermion_test.py
  cirq-ft/cirq_ft/algos/state_preparation.ipynb
  cirq-ft/cirq_ft/algos/state_preparation.py
  cirq-ft/cirq_ft/algos/swap_network.ipynb
  cirq-ft/cirq_ft/algos/swap_network.py
  cirq-ft/cirq_ft/algos/swap_network_test.py
  cirq-ft/cirq_ft/algos/unary_iteration.ipynb
  cirq-ft/cirq_ft/algos/unary_iteration_gate.py
  cirq-ft/cirq_ft/algos/unary_iteration_gate_test.py
  cirq-ft/cirq_ft/infra/__init__.py
  cirq-ft/cirq_ft/infra/gate_with_registers.ipynb
  cirq-ft/cirq_ft/infra/gate_with_registers.py
  cirq-ft/cirq_ft/infra/gate_with_registers_test.py
  cirq-ft/cirq_ft/infra/jupyter_tools.py
  cirq-ft/cirq_ft/infra/t_complexity.ipynb
  cirq-ft/cirq_ft/infra/t_complexity_protocol_test.py
  cirq-ft/cirq_ft/infra/testing.py
  cirq-ft/cirq_ft/infra/testing_test.py
Labels: BREAKING CHANGE, size: L

#6302 Change signature of `cirq_ft.And` gate to use directional registers like Qualtran
  cirq-ft/cirq_ft/algos/and_gate.py
  cirq-ft/cirq_ft/algos/and_gate_test.py
  cirq-ft/cirq_ft/algos/hubbard_model.py
  cirq-ft/cirq_ft/algos/multi_control_multi_target_pauli.py
  cirq-ft/cirq_ft/algos/prepare_uniform_superposition.py
  cirq-ft/cirq_ft/algos/qrom.py
  cirq-ft/cirq_ft/algos/unary_iteration_gate.py
  cirq-ft/cirq_ft/infra/jupyter_tools_test.py
  cirq-ft/cirq_ft/infra/testing_test.py
Labels: BREAKING CHANGE, size: M, area/cirq-ft

#6295 Make `OpIdentifier` serializable for all inputs
  cirq-core/cirq/_compat.py
  cirq-core/cirq/devices/noise_utils.py
  cirq-core/cirq/devices/noise_utils_test.py
  cirq-core/cirq/protocols/json_test_data/OpIdentifier.json
  cirq-core/cirq/protocols/json_test_data/OpIdentifier.repr
Labels: size: M

#5817 Allow specifying settings field from Cirq-ionq
  cirq-ionq/cirq_ionq/ionq_client.py
  cirq-ionq/cirq_ionq/ionq_client_test.py
  cirq-ionq/cirq_ionq/serializer.py
  cirq-ionq/cirq_ionq/serializer_test.py
  cirq-ionq/cirq_ionq/service.py
Labels: size: M
