Repository quantumlib/Cirq, pull requests merged in 2024-11, with the labels that each got.

#6652 Batch circuit submit in cirq_ionq
  cirq-ionq/cirq_ionq/__init__.py
  cirq-ionq/cirq_ionq/ionq_exceptions.py
  cirq-ionq/cirq_ionq/job.py
  cirq-ionq/cirq_ionq/job_test.py
  cirq-ionq/cirq_ionq/json_test_data/spec.py
  cirq-ionq/cirq_ionq/sampler.py
  cirq-ionq/cirq_ionq/serializer.py
  cirq-ionq/cirq_ionq/serializer_test.py
  cirq-ionq/cirq_ionq/service.py
  cirq-ionq/cirq_ionq/service_test.py
Labels: size: XL

#6728 Create workflow for Z-phase calibration
  cirq-core/cirq/experiments/__init__.py
  cirq-core/cirq/experiments/two_qubit_xeb.py
  cirq-core/cirq/experiments/xeb_fitting.py
  cirq-core/cirq/experiments/z_phase_calibration.py
  cirq-core/cirq/experiments/z_phase_calibration_test.py
Labels: size: L

#6782 Add DynamicalDecouplingTag to cirq-google
  cirq-google/cirq_google/api/v2/program.proto
  cirq-google/cirq_google/api/v2/program_pb2.py
  cirq-google/cirq_google/api/v2/program_pb2.pyi
  cirq-google/cirq_google/ops/__init__.py
  cirq-google/cirq_google/ops/dynamical_decoupling_tag.py
  cirq-google/cirq_google/ops/dynamical_decoupling_tag_test.py
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
Labels: size: L

#6790 Replace type_workarounds.NotImplementedType with types.NotImplementedType
  cirq-core/cirq/__init__.py
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/frozen_circuit.py
  cirq-core/cirq/circuits/moment.py
  cirq-core/cirq/contrib/acquaintance/permutation.py
  cirq-core/cirq/contrib/paulistring/clifford_target_gateset.py
  cirq-core/cirq/ops/clifford_gate.py
  cirq-core/cirq/ops/common_gates.py
  cirq-core/cirq/ops/controlled_gate.py
  cirq-core/cirq/ops/controlled_gate_test.py
  cirq-core/cirq/ops/controlled_operation.py
  cirq-core/cirq/ops/controlled_operation_test.py
  cirq-core/cirq/ops/dense_pauli_string.py
  cirq-core/cirq/ops/eigen_gate.py
  cirq-core/cirq/ops/gate_operation.py
  cirq-core/cirq/ops/global_phase_op.py
  cirq-core/cirq/ops/identity.py
  cirq-core/cirq/ops/parallel_gate.py
  cirq-core/cirq/ops/pauli_gates.py
  cirq-core/cirq/ops/pauli_string.py
  cirq-core/cirq/ops/phased_x_gate.py
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/protocols/act_on_protocol.py
  cirq-core/cirq/protocols/apply_channel_protocol.py
  cirq-core/cirq/protocols/apply_mixture_protocol.py
  cirq-core/cirq/protocols/apply_unitary_protocol.py
  cirq-core/cirq/protocols/commutes_protocol.py
  cirq-core/cirq/protocols/control_key_protocol.py
  cirq-core/cirq/protocols/decompose_protocol.py
  cirq-core/cirq/protocols/json_serialization.py
  cirq-core/cirq/protocols/kraus_protocol.py
  cirq-core/cirq/protocols/measurement_key_protocol.py
  cirq-core/cirq/protocols/mixture_protocol.py
  cirq-core/cirq/protocols/qasm.py
  cirq-core/cirq/protocols/qid_shape_protocol.py
  cirq-core/cirq/protocols/unitary_protocol.py
  cirq-core/cirq/sim/clifford/stabilizer_simulation_state.py
  cirq-core/cirq/sim/simulation_state_base.py
  cirq-core/cirq/testing/consistent_protocols_test.py
  cirq-core/cirq/type_workarounds.py
Labels: size: M

#6788 Create a way to encode general functions
  cirq-google/cirq_google/api/v2/program.proto
  cirq-google/cirq_google/api/v2/program_pb2.py
  cirq-google/cirq_google/api/v2/program_pb2.pyi
  cirq-google/cirq_google/ops/internal_gate.py
  cirq-google/cirq_google/ops/internal_gate_test.py
  cirq-google/cirq_google/serialization/arg_func_langs.py
Labels: size: L

#6792 fix `phase_by` protocol for tagged operations
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/ops/raw_types_test.py
Labels: Size: XS

#6796 Have stale bot apply `status/stale` label for both issues and PRs
  .github/workflows/stale.yml
Labels: Size: XS

#6799 Add custom_args to value equality of InternalGate"
  cirq-google/cirq_google/ops/internal_gate.py
  cirq-google/cirq_google/ops/internal_gate_test.py
Labels: size: S

#6795 Preliminary support for outputting to OpenQASM 3.0
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_test.py
  cirq-core/cirq/circuits/qasm_output.py
  cirq-core/cirq/circuits/qasm_output_test.py
  cirq-core/cirq/ops/classically_controlled_operation.py
  cirq-core/cirq/ops/common_channels.py
  cirq-core/cirq/ops/common_gates.py
  cirq-core/cirq/ops/identity.py
  cirq-core/cirq/ops/matrix_gates.py
  cirq-core/cirq/ops/measurement_gate.py
  cirq-core/cirq/ops/phased_x_gate.py
  cirq-core/cirq/ops/swap_gates.py
  cirq-core/cirq/ops/three_qubit_gates.py
Labels: size: M

#6806 Adjust labels added to PRs by Dependabot
  .github/dependabot.yml
Labels: size: L

#6797 Preliminary support for parsing OpenQASM 3.0
  cirq-core/cirq/contrib/qasm_import/_lexer.py
  cirq-core/cirq/contrib/qasm_import/_parser.py
  cirq-core/cirq/contrib/qasm_import/_parser_test.py
Labels: size: M

#6802 Force decimals in scientific notation for OpenQASM 2.0
  cirq-core/cirq/protocols/qasm.py
  cirq-core/cirq/protocols/qasm_test.py
Labels: size: S

#6803 Allow measurement keys with differing qubits in OpenQASM
  cirq-core/cirq/circuits/qasm_output.py
  cirq-core/cirq/circuits/qasm_output_test.py
Labels: size: S

#6809 Parallel XEB: Add option to specify batch size
  cirq-core/cirq/experiments/two_qubit_xeb.py
Labels: size: S
