Repository quantumlib/Cirq, pull requests merged in 2024-08, with the labels that each got.

#6694 Fix docstrings for the ionq GPIGate and GPI2Gate
  cirq-ionq/cirq_ionq/ionq_native_gates.py
Labels: Size: XS

#6695 Eliminate awful slowdown of `EigenGate._value_equality_values_`
  cirq-core/cirq/ops/eigen_gate.py
Labels: Size: XS

#6681 Add validation for couplers
  cirq-google/cirq_google/devices/grid_device.py
  cirq-google/cirq_google/devices/grid_device_test.py
Labels: size: S

#6682 Add serialization for Coupler Qids
  cirq-google/cirq_google/api/v2/program.py
  cirq-google/cirq_google/api/v2/program_test.py
Labels: size: S

#6697 Move Coupler to cirq_gooogle.ops
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/api/v2/program.py
  cirq-google/cirq_google/devices/__init__.py
  cirq-google/cirq_google/devices/grid_device.py
  cirq-google/cirq_google/devices/grid_device_test.py
  cirq-google/cirq_google/ops/__init__.py
  cirq-google/cirq_google/ops/coupler.py
  cirq-google/cirq_google/ops/coupler_test.py
Labels: size: S

#6693 Update NumPy APIs that will be removed in numpy-2.0
  cirq-core/cirq/contrib/quantum_volume/quantum_volume.py
  cirq-core/cirq/protocols/apply_unitary_protocol.py
  cirq-core/cirq/protocols/apply_unitary_protocol_test.py
  cirq-rigetti/cirq_rigetti/quil_input.py
Labels: size: S

#6698 Drop version pin of qcs-sdk-python on Windows
  cirq-rigetti/requirements.txt
Labels: Size: XS

#6699 Fix recent type check failure in the CI
  cirq-core/cirq/experiments/qubit_characterizations.py
  cirq-core/cirq/linalg/decompositions.py
  cirq-core/cirq/vis/heatmap.py
  cirq-core/cirq/vis/state_histogram.py
  cirq-google/cirq_google/engine/calibration.py
  docs/dev/plotting.md
Labels: size: S

#6677 Test hash consistency of cirq objects loaded from a pickle
  cirq-core/cirq/circuits/circuit_operation.py
  cirq-core/cirq/circuits/frozen_circuit.py
  cirq-core/cirq/circuits/moment.py
  cirq-core/cirq/devices/grid_qubit.py
  cirq-core/cirq/devices/line_qubit.py
  cirq-core/cirq/ops/boolean_hamiltonian.py
  cirq-core/cirq/ops/common_channels.py
  cirq-core/cirq/ops/named_qubit.py
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/protocols/hash_from_pickle_test.py
  cirq-core/cirq/qis/clifford_tableau.py
  cirq-core/cirq/sim/clifford/clifford_simulator.py
  cirq-core/cirq/sim/clifford/stabilizer_state_ch_form.py
  cirq-core/cirq/study/resolver.py
  cirq-core/cirq/value/measurement_key.py
  cirq-core/cirq/value/value_equality_attr.py
  cirq-core/cirq/work/observable_measurement_data.py
  cirq-google/cirq_google/ops/coupler.py
  cirq-google/cirq_google/workflow/quantum_executable.py
  cirq-google/cirq_google/workflow/quantum_executable_test.py
  cirq-pasqal/cirq_pasqal/pasqal_device.py
Labels: size: M

#6701 Mark ProjectorSum class as unhashable
  cirq-core/cirq/ops/linear_combinations.py
  cirq-core/cirq/protocols/hash_from_pickle_test.py
Labels: Size: XS

#6700 Avoid CI flakes due to random-seed-dependent unit tests
  cirq-core/cirq/linalg/decompositions_test.py
  cirq-core/cirq/testing/__init__.py
  cirq-core/cirq/testing/pytest_randomly_utils.py
  cirq-core/cirq/testing/pytest_randomly_utils_test.py
  cirq-core/cirq/transformers/analytical_decompositions/controlled_gate_decomposition_test.py
Labels: size: M

#6675 Enable pulling through Clifford operations, also add an option of only applying dd to single qubit gate moments
  cirq-core/cirq/transformers/dynamical_decoupling.py
  cirq-core/cirq/transformers/dynamical_decoupling_test.py
Labels: size: M

#6702 Add `IdentityGate._commutes_`
  cirq-core/cirq/ops/identity.py
  cirq-core/cirq/ops/identity_test.py
Labels: Size: XS, size: S
