Repository quantumlib/Cirq, pull requests merged in 2024-06, with the labels that each got.

#6618 Fix "Xa*Zb*Zb*Zb works but Xa*Zb**3"
  cirq-core/cirq/ops/pauli_string.py
  cirq-core/cirq/ops/pauli_string_test.py
Labels: size: S

#6637 Allow passing `None` to `AbstractCircuit.from_moments`
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_test.py
Labels: size: S

#6643 Remove implicit thread creation in XEB sampling
  cirq-core/cirq/experiments/xeb_sampling.py
Labels: size: S

#6281 update(cirq-rigetti): use pyquil v4
  cirq-rigetti/cirq_rigetti/_qcs_api_client_decorator.py
  cirq-rigetti/cirq_rigetti/aspen_device.py
  cirq-rigetti/cirq_rigetti/aspen_device_test.py
  cirq-rigetti/cirq_rigetti/circuit_sweep_executors.py
  cirq-rigetti/cirq_rigetti/circuit_transformers_test.py
  cirq-rigetti/cirq_rigetti/conftest.py
  cirq-rigetti/cirq_rigetti/json_test_data/RigettiQCSAspenDevice.json
  cirq-rigetti/cirq_rigetti/quil_input.py
  cirq-rigetti/cirq_rigetti/quil_input_test.py
  cirq-rigetti/cirq_rigetti/quil_output_test.py
  cirq-rigetti/cirq_rigetti/service.py
  cirq-rigetti/cirq_rigetti/service_test.py
  cirq-rigetti/requirements.txt
Labels: size: M

#6633 Add `attrs` lower bound in requirements.txt
  cirq-core/requirements.txt
Labels: Size: XS

#6642 Allow highlighting a subset of qubits when displaying heatmap
  cirq-core/cirq/vis/heatmap.py
  cirq-core/cirq/vis/heatmap_test.py
Labels: size: S, unitaryhack

#6605 CI - add Python 3.12 tests to ci-daily
  .github/workflows/ci-daily.yml
  dev_tools/requirements/deps/notebook.txt
Labels: size: S

#6649 Enforces specifying run_name and device_config_name on Engine interfaces
  cirq-google/cirq_google/engine/abstract_processor.py
  cirq-google/cirq_google/engine/engine_processor.py
  cirq-google/cirq_google/engine/engine_processor_test.py
  cirq-google/cirq_google/engine/engine_program.py
  cirq-google/cirq_google/engine/engine_program_test.py
  cirq-google/cirq_google/engine/engine_test.py
  cirq-google/cirq_google/engine/simulated_local_processor_test.py
  cirq-google/cirq_google/engine/virtual_engine_factory_test.py
  cirq-google/cirq_google/workflow/processor_record_test.py
Labels: BREAKING CHANGE, size: M

#6645 fix error on msgate unitary matrix
  cirq-ionq/cirq_ionq/ionq_native_gates.py
Labels: size: S
