Repository quantumlib/Cirq, pull requests merged in 2024-07, with the labels that each got.

#6654 Add uncorrelated readout error mitigation for arbitrarily long Pauli strings
  cirq-core/cirq/experiments/readout_confusion_matrix.py
  cirq-core/cirq/experiments/readout_confusion_matrix_test.py
Labels: size: M

#6658 Change to optimize_for_target_gateset in docs
  cirq-core/cirq/transformers/target_gatesets/compilation_target_gateset.py
Labels: Size: XS

#6662 update files to conform to new mypy standard
  cirq-core/cirq/circuits/circuit_operation_test.py
  cirq-core/cirq/experiments/qubit_characterizations.py
  cirq-core/cirq/experiments/single_qubit_readout_calibration.py
  cirq-core/cirq/interop/quirk/cells/parse.py
  cirq-core/cirq/ops/common_gates_test.py
  cirq-core/cirq/ops/global_phase_op.py
  cirq-core/cirq/sim/density_matrix_simulator_test.py
  cirq-core/cirq/sim/sparse_simulator_test.py
  cirq-core/cirq/study/flatten_expressions.py
  cirq-core/cirq/study/resolver.py
  cirq-core/cirq/study/sweepable.py
  cirq-core/cirq/study/sweeps.py
  cirq-core/cirq/vis/heatmap.py
  cirq-core/cirq/vis/state_histogram.py
  cirq-google/cirq_google/engine/calibration.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
  cirq-google/cirq_google/serialization/op_deserializer.py
  dev_tools/conf/mypy.ini
Labels: size: M

#6657 Support creating XEB calibration options for arbitary FSim like gates
  cirq-core/cirq/experiments/two_qubit_xeb.py
  cirq-core/cirq/experiments/xeb_fitting.py
  cirq-core/cirq/experiments/xeb_fitting_test.py
Labels: size: M

#6665 Add noise amplification transformer
  cirq-core/cirq/transformers/noise_adding.py
  cirq-core/cirq/transformers/noise_adding_test.py
Labels: size: M

#6664 Adds tools for appending randomized measurement bases and processing renyi entropy from bitstring
  cirq-core/cirq/qis/__init__.py
  cirq-core/cirq/qis/entropy.py
  cirq-core/cirq/qis/entropy_test.py
  cirq-core/cirq/transformers/__init__.py
  cirq-core/cirq/transformers/randomized_measurements.py
  cirq-core/cirq/transformers/randomized_measurements_test.py
Labels: size: L

#6668 Use absolute URL for Cirq education resources
  docs/start/start.ipynb
Labels: Size: XS

#6669 Fix equality of cphase gates initialized from sympy constants
  cirq-core/cirq/ops/common_gates_test.py
  cirq-core/cirq/ops/eigen_gate.py
Labels: Size: XS

#6671 Fix bug that caused XEB to fail when requesting depth > 100.
  cirq-core/cirq/experiments/two_qubit_xeb.py
  docs/noise/qcvv/parallel_xeb.ipynb
Labels: size: S

#6672 Use np.complex128 for simulating xeb circuits
  cirq-core/cirq/experiments/xeb_simulation.py
  cirq-core/cirq/experiments/xeb_simulation_test.py
Labels: Size: XS

#6673 Fix XEB error rate computation
  cirq-core/cirq/experiments/two_qubit_xeb.py
  cirq-core/cirq/experiments/two_qubit_xeb_test.py
Labels: Size: XS, size: S

#6670 Added random single-qubit CUE and Clifford gates
  cirq-core/cirq/transformers/randomized_measurements.py
  cirq-core/cirq/transformers/randomized_measurements_test.py
Labels: size: M

#6676 Remove cduck from CODEOWNERS
  .github/CODEOWNERS
  dev_tools/codeowners_test.py
Labels: size: S

#6678 Add GridCoupler Qid to cirq_google
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/devices/__init__.py
  cirq-google/cirq_google/devices/coupler.py
  cirq-google/cirq_google/devices/coupler_test.py
  cirq-google/cirq_google/json_resolver_cache.py
  cirq-google/cirq_google/json_test_data/Coupler.json
  cirq-google/cirq_google/json_test_data/Coupler.repr
Labels: size: M

#6685 work around ci build failure on windows
  cirq-rigetti/requirements.txt
Labels: triage/discuss, size: L

#6683 Allow using protobuf version 5 and later
  cirq-google/cirq_google/serialization/arg_func_langs_test.py
  cirq-google/requirements.txt
  dev_tools/requirements/deps/mypy.txt
Labels: size: S

#6690 Exclude all setup.py files from typecheck
  dev_tools/conf/mypy.ini
Labels: Size: XS

#6688 Remove `v` in `git remote` command in dev installation
  docs/dev/development.md
Labels: Size: XS

#6692 np.infty no longer supported in NumPy 2.0
  cirq-core/cirq/work/collector.py
Labels: Size: XS
