Repository quantumlib/Cirq, pull requests merged in 2024-10, with the labels that each got.

#6739 Allow external users to use snapshot_id
  cirq-google/cirq_google/cloud/quantum_v1alpha1/types/quantum.py
  cirq-google/cirq_google/engine/abstract_processor.py
  cirq-google/cirq_google/engine/engine.py
  cirq-google/cirq_google/engine/engine_client.py
  cirq-google/cirq_google/engine/engine_client_test.py
  cirq-google/cirq_google/engine/engine_processor.py
  cirq-google/cirq_google/engine/engine_processor_test.py
  cirq-google/cirq_google/engine/engine_program.py
  cirq-google/cirq_google/engine/engine_test.py
  cirq-google/cirq_google/engine/processor_sampler.py
  cirq-google/cirq_google/engine/processor_sampler_test.py
  cirq-google/cirq_google/engine/simulated_local_processor.py
Labels: size: L

#6766 Use pytest fixture for multiprocessing Pool in XEB tests
  cirq-core/cirq/experiments/xeb_fitting_test.py
  cirq-core/cirq/experiments/xeb_simulation_test.py
Labels: size: M

#6767 Mark QSD QFT5 with xfail
  cirq-core/cirq/transformers/analytical_decompositions/quantum_shannon_decomposition_test.py
Labels: Size: XS, size: S

#6763 Update pyquil dependency and remove workaround pinning of quil
  Dockerfile
  cirq-rigetti/requirements.txt
Labels: size: S

#6773 Add TypedUnits to the requirements of cirq-google
  cirq-google/requirements.txt
Labels: Size: XS

#6774 add request limiter when polling for results
  cirq-core/cirq/work/sampler.py
  cirq-core/cirq/work/sampler_test.py
Labels: size: S

#6572 Transpile to native IonQ gates
  cirq-ionq/cirq_ionq/__init__.py
  cirq-ionq/cirq_ionq/ionq_native_gates.py
  cirq-ionq/cirq_ionq/ionq_native_gates_test.py
  cirq-ionq/cirq_ionq/ionq_native_target_gateset.py
  cirq-ionq/cirq_ionq/ionq_native_target_gateset_test.py
  cirq-ionq/cirq_ionq/json_resolver_cache.py
  cirq-ionq/cirq_ionq/json_test_data/AriaNativeGateset.json
  cirq-ionq/cirq_ionq/json_test_data/AriaNativeGateset.repr
  cirq-ionq/cirq_ionq/json_test_data/ForteNativeGateset.json
  cirq-ionq/cirq_ionq/json_test_data/ForteNativeGateset.repr
  cirq-ionq/cirq_ionq/json_test_data/ZZGate.json
  cirq-ionq/cirq_ionq/json_test_data/ZZGate.repr
  cirq-ionq/cirq_ionq/serializer.py
  cirq-ionq/cirq_ionq/serializer_test.py
Labels: size: XL

#6776 Create an insertion_sort transformer and incorporate it into the transpiling protocol
  cirq-core/cirq/transformers/__init__.py
  cirq-core/cirq/transformers/insertion_sort.py
  cirq-core/cirq/transformers/insertion_sort_test.py
  cirq-core/cirq/transformers/target_gatesets/compilation_target_gateset.py
  cirq-core/cirq/transformers/target_gatesets/cz_gateset.py
  cirq-core/cirq/transformers/target_gatesets/cz_gateset_test.py
Labels: size: S
