Repository quantumlib/Cirq, pull requests merged in 2024-02, with the labels that each got.

#6438 pin quimb and numba versions to fix CI
  cirq-core/cirq/contrib/requirements.txt
Labels: Size: XS

#6423 Fix font family for svg
  cirq-core/cirq/contrib/svg/svg.py
Labels: Size: XS

#6436 remove partial CZs if allow_partial_czs=False
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_cz.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_cz_test.py
Labels: size: M

#6396 Run product state functions inplace to avoid copies where possible
  cirq-core/cirq/sim/simulation_product_state.py
Labels: size: S

#6433 Add an optional CompilationTargetGateset postprocessor to contract the circuit
  cirq-core/cirq/transformers/optimize_for_target_gateset.py
  cirq-core/cirq/transformers/optimize_for_target_gateset_test.py
  cirq-core/cirq/transformers/target_gatesets/compilation_target_gateset.py
  cirq-core/cirq/transformers/target_gatesets/cz_gateset.py
Labels: size: M

#6445 CI - update GitHub actions to node20
  .github/workflows/ci-daily.yml
  .github/workflows/ci-weekly.yml
  .github/workflows/ci.yml
  .github/workflows/release-main.yml
Labels: size: M

#6444 Fix ci-daily notebook failures on Mac OS X
  .github/workflows/ci-daily.yml
  dev_tools/requirements/deps/notebook.txt
Labels: Size: XS, size: S

#6448 CI - update GitHub actions to node20
  .github/workflows/ci.yml
Labels: Size: XS

#6443 Combine 2q parallel XEB into one methods to simplify the XEB workflow
  cirq-core/cirq/experiments/__init__.py
  cirq-core/cirq/experiments/two_qubit_xeb.py
  cirq-core/cirq/experiments/two_qubit_xeb_test.py
Labels: size: M

#6449 Suppress matplotlib warnings on non-interactive use of pyplot.show
  pyproject.toml
Labels: Size: XS

#6454 Relax version requirement on duet
  cirq-core/requirements.txt
Labels: Size: XS

#6459 Specify CODECOV_TOKEN for uploading coverage reports
  .github/workflows/ci.yml
Labels: Size: XS

#6450 CI - update GitHub actions to node20
  .github/workflows/stale.yml
Labels: Size: XS

#6455 Combine RB and XEB to compute inferred errors
  cirq-core/cirq/experiments/__init__.py
  cirq-core/cirq/experiments/two_qubit_xeb.py
  cirq-core/cirq/experiments/two_qubit_xeb_test.py
Labels: size: M

#6462 CI - update GitHub actions to node20
  .github/workflows/ci-weekly.yml
  .github/workflows/ci.yml
Labels: Size: XS

#6461 Enable testing of quimb-dependent notebook
  cirq-core/cirq/contrib/quimb/Contract-a-Grid-Circuit.ipynb
  dev_tools/notebooks/isolated_notebook_test.py
Labels: Size: XS, size: S

#6467 Bugfix in `_strat_has_stabilizer_effect_from_decompose`
  cirq-core/cirq/protocols/has_stabilizer_effect_protocol.py
  cirq-core/cirq/protocols/has_stabilizer_effect_protocol_test.py
Labels: size: S

#6468 Change str of ResultDict to print out repeated measurements
  cirq-core/cirq/study/result.py
  cirq-core/cirq/study/result_test.py
Labels: size: S

#6465 Address NumPy and NotImplemented deprecation warnings
  cirq-core/cirq/protocols/approximate_equality_protocol_test.py
  cirq-core/cirq/protocols/resolve_parameters.py
  cirq-core/cirq/sim/simulation_state_test.py
Labels: Size: XS, size: S

#6471 Add a convenience method that runs both RB and XEB
  cirq-core/cirq/experiments/__init__.py
  cirq-core/cirq/experiments/two_qubit_xeb.py
  cirq-core/cirq/experiments/two_qubit_xeb_test.py
Labels: size: M

#6472 Support serialization of cirq-google.CouplerPulse gate
  cirq-google/cirq_google/api/v2/program.proto
  cirq-google/cirq_google/api/v2/program_pb2.py
  cirq-google/cirq_google/api/v2/program_pb2.pyi
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
  dev_tools/docker_test.py
Labels: size: M

#6477 fixed mpmath version to 1.3.0 due to incompatibility
  cirq-core/requirements.txt
Labels: Size: XS

#6482 Fix maximum version limit for mpmath
  cirq-core/requirements.txt
Labels: Size: XS

#6481 Enable test_docker_pre after pinning the mpmath transitive dependency
  dev_tools/docker_test.py
Labels: Size: XS

#6476 Add warning when converting global phase operator to OpenQASM 2.0
  cirq-core/cirq/circuits/qasm_output.py
  cirq-core/cirq/circuits/qasm_output_test.py
  cirq-core/cirq/ops/gate_operation.py
  cirq-core/cirq/testing/consistent_qasm.py
Labels: size: M
