Repository quantumlib/Cirq, pull requests merged in 2024-05, with the labels that each got.

#6581 Optimize Clifford.__pow__ by using binary exponentiation
  cirq-core/cirq/ops/clifford_gate.py
  cirq-core/cirq/qis/clifford_tableau.py
Labels: size: S

#6586 Avoid DivisionByZero error when TensorNetwork simplifies to a scalar
  cirq-core/cirq/contrib/quimb/state_vector.py
Labels: size: S

#6516 Support Python 3.12
  .github/workflows/ci.yml
  cirq-core/cirq/contrib/requirements.txt
  cirq-google/cirq_google/api/v1/operations_pb2.py
  cirq-google/cirq_google/api/v1/params_pb2.py
  cirq-google/cirq_google/api/v1/program_pb2.py
  cirq-google/cirq_google/api/v2/device_pb2.py
  cirq-google/cirq_google/api/v2/metrics_pb2.py
  cirq-google/cirq_google/api/v2/program_pb2.py
  cirq-google/cirq_google/api/v2/result_pb2.py
  cirq-google/cirq_google/api/v2/run_context_pb2.py
  cirq-google/cirq_google/engine/engine_test.py
  dev_tools/cloned_env_test.py
  dev_tools/notebooks/notebook_test.py
  dev_tools/requirements/deps/dev-tools.txt
  dev_tools/requirements/deps/protos.txt
  dev_tools/requirements/deps/pytest.txt
Labels: size: S

#6591 NEP-29 - enforce minimum Python version 3.10
  cirq-aqt/setup.py
  cirq-core/cirq/_version.py
  cirq-core/cirq/ops/qid_util.py
  cirq-core/cirq/protocols/json_serialization_test.py
  cirq-core/requirements.txt
  cirq-core/setup.py
  cirq-ft/setup.py
  cirq-google/cirq_google/_version.py
  cirq-google/setup.py
  cirq-ionq/setup.py
  cirq-pasqal/setup.py
  cirq-rigetti/setup.py
  cirq-web/setup.py
  dev_tools/modules_test.py
  dev_tools/modules_test_data/mod1/setup.py
  dev_tools/snippets_test.py
  setup.py
Labels: size: M

#6515 Implement dynamical decoupling.
  cirq-core/cirq/__init__.py
  cirq-core/cirq/transformers/__init__.py
  cirq-core/cirq/transformers/dynamical_decoupling.py
  cirq-core/cirq/transformers/dynamical_decoupling_test.py
Labels: size: L

#6592 Add a note about conda env to dev doc
  docs/dev/development.md
Labels: Size: XS

#6588 Optimise QubitPermutationGate decomposition
  cirq-core/cirq/ops/permutation_gate.py
Labels: size: S

#6593 CI - deflake `Isolated pytest Ubuntu`
  .github/workflows/ci.yml
  dev_tools/packaging/isolated_packages_test.py
Labels: Size: XS

#6599 Suppress superfluous warnings from numpy
  cirq-core/cirq/linalg/decompositions.py
  cirq-core/cirq/linalg/diagonalize.py
  cirq-core/cirq/linalg/predicates.py
  cirq-core/cirq/linalg/transformations.py
  cirq-core/cirq/testing/lin_alg_utils.py
  cirq-core/cirq/transformers/analytical_decompositions/controlled_gate_decomposition.py
Labels: size: M

#6603 CI - deflake `Isolated pytest Ubuntu`
  dev_tools/notebooks/isolated_notebook_test.py
  dev_tools/notebooks/notebook_test.py
  dev_tools/packaging/isolated_packages_test.py
  dev_tools/requirements/deps/notebook.txt
Labels: size: S

#6602 Release pins from all pytest-related packages
  dev_tools/bash_scripts_test.py
  dev_tools/requirements/deps/pytest.txt
Labels: size: S

#6506 Create a generalized uniform superposition state gate
  cirq-core/cirq/__init__.py
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/ops/__init__.py
  cirq-core/cirq/ops/uniform_superposition_gate.py
  cirq-core/cirq/ops/uniform_superposition_gate_test.py
  cirq-core/cirq/protocols/json_test_data/UniformSuperpositionGate.json
  cirq-core/cirq/protocols/json_test_data/UniformSuperpositionGate.repr
Labels: triage/discuss, size: M

#6613 Add Quantum Engine Support for InternalGate
  cirq-google/cirq_google/api/v2/device.proto
  cirq-google/cirq_google/api/v2/device_pb2.py
  cirq-google/cirq_google/api/v2/device_pb2.pyi
  cirq-google/cirq_google/devices/grid_device.py
  cirq-google/cirq_google/devices/grid_device_test.py
Labels: size: L

#6615 Fix nightly build of the staging cirq website
  docs/_book.yaml
  docs/build/_index.yaml
  docs/experiments/_index.yaml
  docs/hardware/_index.yaml
  docs/noise/_index.yaml
  docs/simulate/_index.yaml
  docs/transform/_index.yaml
Labels: size: L

#6609 Update list of pre-release notebooks
  dev_tools/notebooks/isolated_notebook_test.py
  dev_tools/notebooks/notebook_test.py
  docs/dev/notebooks.md
  docs/google/qubit-placement.ipynb
  docs/named_topologies.ipynb
  docs/start/intro.ipynb
  docs/transform/routing_transformer.ipynb
  docs/tutorials/google/colab.ipynb
  docs/tutorials/google/echoes.ipynb
  docs/tutorials/google/identifying_hardware_changes.ipynb
  docs/tutorials/google/spin_echoes.ipynb
  docs/tutorials/google/visualizing_calibration_metrics.ipynb
  examples/stabilizer_code.ipynb
Labels: size: M

#6589 enable simulation of controlled gates in classical simulator
  cirq-core/cirq/sim/classical_simulator.py
  cirq-core/cirq/sim/classical_simulator_test.py
Labels: size: M

#6611 Fix spurious failure of the check/all script
  check/all
  check/build-changed-protos
  check/format-incremental
  check/pylint-changed-files
  check/pytest-and-incremental-coverage
  check/pytest-changed-files
  check/pytest-changed-files-and-incremental-coverage
  cirq-core/cirq/contrib/svg/svg_test.py
  dev_tools/conf/mypy.ini
Labels: size: S

#6616 Freshen-up cirq dependencies
  .github/workflows/ci.yml
  cirq-core/requirements.txt
  dev_tools/requirements/deps/dev-tools.txt
  dev_tools/requirements/deps/notebook.txt
  dev_tools/requirements/deps/tensorflow-docs.txt
Labels: Size: XS, size: S

#6614 Proper text files end with a newline character
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/task.md
  CODE_OF_CONDUCT.md
  benchmarks/README.md
  cirq-aqt/requirements.txt
  cirq-google/cirq_google/api/v2/program.proto
  cirq-google/cirq_google/devices/specifications/README.md
  cirq-google/version_policy.md
  cirq-ionq/requirements.txt
  cirq-pasqal/requirements.txt
  cirq-web/cirq_ts/.eslintignore
  cirq-web/cirq_ts/dist/html/bloch_sphere.html
  cirq-web/cirq_ts/dist/html/circuit.html
  dev_tools/modules_test_data/mod1/requirements.txt
  dev_tools/pr_monitor/Dockerfile
  dev_tools/pr_monitor/cloudbuild-deploy.yaml
  dev_tools/pr_monitor/requirements.txt
  dev_tools/pr_monitor/statefulset.yaml
  dev_tools/requirements/isolated-base.env.txt
  dev_tools/requirements/mypy.env.txt
  dev_tools/requirements/no-contrib.env.txt
  dev_tools/requirements/test_data/b.req.txt
  dev_tools/requirements/test_data/sub/c.req.txt
  dev_tools/triage-party/cloudbuild-deploy.yaml
  dev_tools/triage-party/kubernetes/01_ns/namespace.yaml
  dev_tools/triage-party/kubernetes/02_deployment/configmap.yaml
Labels: size: M

#6569 Add convenience methods to create PhasedXZ gate from ZYZ decomposition
  cirq-core/cirq/ops/phased_x_gate.py
  cirq-core/cirq/ops/phased_x_z_gate.py
  cirq-core/cirq/ops/phased_x_z_gate_test.py
Labels: size: S

#6262 Nicer string representation for `_InverseCompositeGate`
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/ops/raw_types_test.py
Labels: Size: XS

#6622 Flush deprecations before minor release
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/engine/engine.py
  cirq-google/cirq_google/engine/engine_processor.py
  cirq-google/cirq_google/engine/engine_processor_test.py
  cirq-google/cirq_google/engine/engine_test.py
  cirq-ionq/cirq_ionq/__init__.py
  cirq-ionq/cirq_ionq/ionq_devices.py
  docs/google/devices.md
  docs/google/engine.md
Labels: size: M

#6624 Bump cirq version to 1.5.0
  cirq-aqt/cirq_aqt/_version.py
  cirq-aqt/cirq_aqt/_version_test.py
  cirq-core/cirq/_version.py
  cirq-core/cirq/_version_test.py
  cirq-google/cirq_google/_version.py
  cirq-google/cirq_google/_version_test.py
  cirq-ionq/cirq_ionq/_version.py
  cirq-ionq/cirq_ionq/_version_test.py
  cirq-pasqal/cirq_pasqal/_version.py
  cirq-pasqal/cirq_pasqal/_version_test.py
  cirq-rigetti/cirq_rigetti/_version.py
  cirq-rigetti/cirq_rigetti/_version_test.py
  cirq-web/cirq_web/_version.py
  cirq-web/cirq_web/_version_test.py
Labels: size: S

#6583 Add a new proto DeviceParametersDiff which provides a compact way to bundle multiple DeviceParameters and their values
  cirq-google/cirq_google/api/v2/run_context.proto
  cirq-google/cirq_google/api/v2/run_context.py
  cirq-google/cirq_google/api/v2/run_context_pb2.py
  cirq-google/cirq_google/api/v2/run_context_pb2.pyi
  cirq-google/cirq_google/api/v2/run_context_test.py
Labels: size: L

#6626 Improve replace_version tool and development wheels
  dev_tools/modules.py
  dev_tools/modules_test.py
  dev_tools/modules_test_data/mod1/pack1/_version_test.py
  dev_tools/modules_test_data/mod2/pack2/_version_test.py
  dev_tools/packaging/produce-package.sh
Labels: size: S
