Repository quantumlib/Cirq, pull requests merged in 2024-12, with the labels that each got.

#6710 Add reset to QASM parser
  cirq-core/cirq/contrib/qasm_import/_lexer.py
  cirq-core/cirq/contrib/qasm_import/_parser.py
  cirq-core/cirq/contrib/qasm_import/_parser_test.py
Labels: size: M

#6813 Divert cirq.Sampler's run_batch to run_batch_async
  cirq-core/cirq/work/sampler.py
  cirq-google/cirq_google/engine/validating_sampler.py
Labels: size: S

#6815 Add zip_longest in the cirq google sweep proto
  cirq-google/cirq_google/api/v2/run_context.proto
  cirq-google/cirq_google/api/v2/run_context_pb2.py
  cirq-google/cirq_google/api/v2/run_context_pb2.pyi
  cirq-google/cirq_google/api/v2/sweeps.py
  cirq-google/cirq_google/api/v2/sweeps_test.py
Labels: size: M

#6818 disable streaming by default
  cirq-google/cirq_google/engine/engine.py
Labels: Size: XS

#6819 Add Concat to Sweeps
  cirq-core/cirq/__init__.py
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/protocols/json_test_data/Concat.json
  cirq-core/cirq/protocols/json_test_data/Concat.repr
  cirq-core/cirq/study/__init__.py
  cirq-core/cirq/study/sweeps.py
  cirq-core/cirq/study/sweeps_test.py
Labels: size: M

#6820 Support "cu1", "cu3", and "crz" in QasmParser
  cirq-core/cirq/contrib/qasm_import/_parser.py
  cirq-core/cirq/contrib/qasm_import/_parser_test.py
  docs/build/interop.ipynb
Labels: size: L

#6821 Add Concat to cirq-google sweep proto
  cirq-google/cirq_google/api/v2/run_context.proto
  cirq-google/cirq_google/api/v2/run_context_pb2.py
  cirq-google/cirq_google/api/v2/run_context_pb2.pyi
  cirq-google/cirq_google/api/v2/sweeps.py
  cirq-google/cirq_google/api/v2/sweeps_test.py
Labels: size: L

#6829 Support serialization of sweeps with tunits
  cirq-google/cirq_google/api/v2/run_context.proto
  cirq-google/cirq_google/api/v2/run_context_pb2.py
  cirq-google/cirq_google/api/v2/run_context_pb2.pyi
  cirq-google/cirq_google/api/v2/sweeps.py
  cirq-google/cirq_google/api/v2/sweeps_test.py
Labels: size: M

#6834 Multiple fixes and enhancements to dependabot.yml
  .github/dependabot.yml
Labels: size: S

#6839 Use strategy "increase-if-necessary" in dependabot.yml
  .github/dependabot.yml
Labels: Size: XS

#6836 Add ability to pass tags to XEB and related methods
  cirq-core/cirq/experiments/random_quantum_circuit_generation.py
  cirq-core/cirq/experiments/random_quantum_circuit_generation_test.py
  cirq-core/cirq/experiments/two_qubit_xeb.py
  cirq-core/cirq/experiments/z_phase_calibration.py
Labels: size: S

#6851 Disable local Google Cloud credentials in tests
  dev_tools/conftest.py
Labels: size: S

#6850 make DensityMatrixSimulator more numerically stable
  cirq-core/cirq/sim/simulation_utils.py
Labels: Size: XS

#6854 Combine passing dependabot updates for cirq-web
  cirq-web/cirq_ts/package-lock.json
  cirq-web/cirq_ts/package.json
Labels: size: L

#6861 Combine passing dependabot updates for cirq-web
  cirq-web/cirq_ts/package-lock.json
  cirq-web/cirq_ts/package.json
Labels: size: L

#6855 allow passing a callable to de/serialization funcs
  cirq-google/cirq_google/api/v2/sweeps.py
  cirq-google/cirq_google/api/v2/sweeps_test.py
Labels: size: M

#6837 Create a transformer cancels the effect of Z-phases
  cirq-core/cirq/experiments/z_phase_calibration.py
  cirq-core/cirq/experiments/z_phase_calibration_test.py
  cirq-core/cirq/ops/fsim_gate.py
  cirq-core/cirq/ops/fsim_gate_test.py
Labels: size: M

#6852 Support run_sweep in GaugeTransformer. Pioneered in the CZ Gauge.
  cirq-core/cirq/transformers/gauge_compiling/cz_gauge.py
  cirq-core/cirq/transformers/gauge_compiling/cz_gauge_test.py
  cirq-core/cirq/transformers/gauge_compiling/gauge_compiling.py
  cirq-core/cirq/transformers/gauge_compiling/gauge_compiling_test.py
  cirq-core/cirq/transformers/gauge_compiling/gauge_compiling_test_utils.py
  cirq-core/cirq/transformers/gauge_compiling/gauge_compiling_test_utils_test.py
Labels: size: M

#6888 Replace references to "master" branch with "main"
  cirq-google/cirq_google/devices/grid_device.py
  cirq-web/README.rst
  dev_tools/conf/.pylintrc
  dev_tools/triage-party/README.md
  release.md
Labels: size: S

#6890 Fix some typos on the engine documentation page
  docs/google/engine.md
Labels: Size: XS
