Repository quantumlib/Cirq, pull requests merged in 2024-03, with the labels that each got.

#6485 Add new `get_hardware_engine_and_authenticate_user`
  cirq-google/cirq_google/engine/qcs_notebook.py
  cirq-google/cirq_google/engine/qcs_notebook_test.py
Labels: size: M

#6483 Update start notebook to use `get_engine` instead of `get_qcs_objects_for_notebook`
  docs/tutorials/google/start.ipynb
Labels: size: S

#6479 Add serialization support to more gates
  cirq-core/cirq/testing/__init__.py
  cirq-core/cirq/testing/gate_features.py
  cirq-google/cirq_google/api/v2/program.proto
  cirq-google/cirq_google/api/v2/program_pb2.py
  cirq-google/cirq_google/api/v2/program_pb2.pyi
  cirq-google/cirq_google/devices/grid_device_test.py
  cirq-google/cirq_google/engine/engine_processor_test.py
  cirq-google/cirq_google/engine/engine_test.py
  cirq-google/cirq_google/engine/virtual_engine_factory_test.py
  cirq-google/cirq_google/serialization/arg_func_langs.py
  cirq-google/cirq_google/serialization/arg_func_langs_test.py
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
Labels: size: L

#6487 Update T1 experiment
  cirq-core/cirq/experiments/t1_decay_experiment.py
  cirq-core/cirq/experiments/t1_decay_experiment_test.py
Labels: size: S

#6495 Remove python3.9 from CI tests
  .github/workflows/ci-daily.yml
  .github/workflows/ci-weekly.yml
  .github/workflows/ci.yml
  .github/workflows/release-main.yml
  Dockerfile
  asv.conf.json
  benchmarks/README.md
  dev_tools/packaging/packaging_test.sh
  dev_tools/pr_monitor/Dockerfile
  docs/dev/development.md
  docs/start/install.md
  release.md
Labels: size: M

#6494 update parallel XEB notebook
  docs/noise/qcvv/parallel_xeb.ipynb
Labels: size: M

#6466 Added `MSGate` to top level
  cirq-core/cirq/__init__.py
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/ops/parity_gates.py
  cirq-core/cirq/ops/parity_gates_test.py
  cirq-core/cirq/protocols/json_test_data/cirq.MSGate.json
  cirq-core/cirq/protocols/json_test_data/cirq.MSGate.repr
  cirq-core/cirq/protocols/json_test_data/spec.py
Labels: size: S

#6432 Update ClassicalSimulator to use simulation infrastructure
  cirq-core/cirq/sim/classical_simulator.py
  cirq-core/cirq/sim/classical_simulator_test.py
Labels: size: M

#6509 Fix capitalization of GitHub in docs
  .zenodo.json
  README.rst
  dev_tools/notebooks/notebook_test.py
  docs/dev/rfc_process.md
  docs/dev/triage.md
  docs/experiments/_index.yaml
  docs/simulate/virtual_engine_interface.ipynb
Labels: size: S

#6513 Format all files with black-24.3.0
  cirq-aqt/cirq_aqt/aqt_sampler.py
  cirq-core/cirq/_compat.py
  cirq-core/cirq/circuits/moment.py
  cirq-core/cirq/circuits/qasm_output_test.py
  cirq-core/cirq/contrib/qcircuit/qcircuit_diagram_info.py
  cirq-core/cirq/devices/superconducting_qubits_noise_properties.py
  cirq-core/cirq/experiments/qubit_characterizations.py
  cirq-core/cirq/experiments/single_qubit_readout_calibration.py
  cirq-core/cirq/linalg/decompositions.py
  cirq-core/cirq/linalg/decompositions_test.py
  cirq-core/cirq/linalg/transformations_test.py
  cirq-core/cirq/ops/common_gates_test.py
  cirq-core/cirq/ops/controlled_gate_test.py
  cirq-core/cirq/ops/phased_iswap_gate_test.py
  cirq-core/cirq/ops/qid_util.py
  cirq-core/cirq/protocols/circuit_diagram_info_protocol.py
  cirq-core/cirq/protocols/commutes_protocol.py
  cirq-core/cirq/protocols/decompose_protocol.py
  cirq-core/cirq/protocols/decompose_protocol_test.py
  cirq-core/cirq/protocols/json_serialization.py
  cirq-core/cirq/protocols/pow_protocol_test.py
  cirq-core/cirq/sim/mux.py
  cirq-core/cirq/sim/simulation_product_state.py
  cirq-core/cirq/sim/simulator_base.py
  cirq-core/cirq/transformers/heuristic_decompositions/two_qubit_gate_tabulation.py
  cirq-core/cirq/transformers/optimize_for_target_gateset_test.py
  cirq-core/cirq/transformers/transformer_api.py
  cirq-core/cirq/transformers/transformer_primitives.py
  cirq-core/cirq/transformers/transformer_primitives_test.py
  cirq-core/cirq/value/classical_data.py
  cirq-ft/cirq_ft/algos/apply_gate_to_lth_target.py
  cirq-ft/cirq_ft/algos/generic_select.py
  cirq-ft/cirq_ft/algos/hubbard_model.py
  cirq-ft/cirq_ft/algos/qubitization_walk_operator.py
  cirq-ft/cirq_ft/algos/select_and_prepare.py
  cirq-ft/cirq_ft/algos/state_preparation.py
  cirq-ft/cirq_ft/infra/gate_with_registers.py
  cirq-ft/cirq_ft/infra/t_complexity_protocol.py
  cirq-ft/cirq_ft/infra/t_complexity_protocol_test.py
  cirq-google/cirq_google/cloud/__init__.py
  cirq-google/cirq_google/cloud/quantum/__init__.py
  cirq-google/cirq_google/cloud/quantum_v1alpha1/__init__.py
  cirq-google/cirq_google/cloud/quantum_v1alpha1/services/quantum_engine_service/__init__.py
  cirq-google/cirq_google/cloud/quantum_v1alpha1/services/quantum_engine_service/async_client.py
  cirq-google/cirq_google/cloud/quantum_v1alpha1/services/quantum_engine_service/client.py
  cirq-google/cirq_google/cloud/quantum_v1alpha1/services/quantum_engine_service/pagers.py
  cirq-google/cirq_google/cloud/quantum_v1alpha1/services/quantum_engine_service/transports/base.py
  cirq-google/cirq_google/cloud/quantum_v1alpha1/services/quantum_engine_service/transports/grpc.py
  cirq-google/cirq_google/cloud/quantum_v1alpha1/services/quantum_engine_service/transports/grpc_asyncio.py
  cirq-google/cirq_google/cloud/quantum_v1alpha1/types/engine.py
  cirq-google/cirq_google/cloud/quantum_v1alpha1/types/quantum.py
  cirq-google/cirq_google/engine/abstract_local_processor.py
  cirq-google/cirq_google/line/placement/greedy_test.py
  cirq-google/cirq_google/transformers/target_gatesets/sycamore_gateset.py
  cirq-ionq/cirq_ionq/ionq_gateset.py
  cirq-rigetti/cirq_rigetti/qcs_sampler_and_service_test.py
  examples/direct_fidelity_estimation.py
Labels: size: XL

#6499 Add newly serializable gates to supported grid device gates
  cirq-google/cirq_google/devices/grid_device.py
  cirq-google/cirq_google/devices/grid_device_test.py
Labels: Size: XS, size: S

#6439 Add documentation to cirq.decompose protocol regarding specific target gateset
  cirq-core/cirq/protocols/decompose_protocol.py
Labels: size: S

#6518 Add UNIT_SWEEP as an alias for UnitSweep
  cirq-core/cirq/__init__.py
  cirq-core/cirq/protocols/json_test_data/spec.py
  cirq-core/cirq/study/__init__.py
  cirq-core/cirq/study/sweeps.py
  cirq-core/cirq/study/sweeps_test.py
Labels: automerge
