Repository quantumlib/Cirq, pull requests merged in 2025-02, with the labels that each got.

#6900 Update and refresh cirq-* module README files
  cirq-aqt/README.md
  cirq-aqt/README.rst
  cirq-aqt/setup.py
  cirq-core/README.md
  cirq-core/README.rst
  cirq-core/setup.py
  cirq-google/README.md
  cirq-google/README.rst
  cirq-google/setup.py
  cirq-ionq/README.md
  cirq-ionq/README.rst
  cirq-ionq/setup.py
  cirq-pasqal/README.md
  cirq-pasqal/README.rst
  cirq-pasqal/setup.py
  cirq-rigetti/README.md
  cirq-rigetti/README.rst
  cirq-rigetti/setup.py
  cirq-web/README.md
  cirq-web/README.rst
  cirq-web/setup.py
Labels: area/docs, size: L

#7016 Avoid CI flake due to random-seed-dependent test
  cirq-core/cirq/transformers/analytical_decompositions/controlled_gate_decomposition_test.py
Labels: Size: XS

#7015 Enable test of the Contract-a-Grid-Circuit.ipynb notebook
  cirq-core/cirq/contrib/quimb/Contract-a-Grid-Circuit.tst
  dev_tools/notebooks/notebook_test.py
Labels: Size: XS, size: L

#7017 Enhance .zenodo.json metadata
  .zenodo.json
Labels: area/releases, area/docs, size: M

#7026 Avoid broken wheel for qcs-sdk-python on Windows
  cirq-rigetti/requirements.txt
Labels: Size: XS

#7008 Move moment index into circuit message
  cirq-google/cirq_google/api/v2/program.proto
  cirq-google/cirq_google/api/v2/program_pb2.py
  cirq-google/cirq_google/api/v2/program_pb2.pyi
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
Labels: size: L

#7018 Fix QASM lexer when identifiers start with keywords
  cirq-core/cirq/contrib/acquaintance/gates.py
  cirq-core/cirq/contrib/qasm_import/_lexer.py
  cirq-core/cirq/contrib/qasm_import/_lexer_test.py
  cirq-core/cirq/contrib/qasm_import/_parser.py
  cirq-core/cirq/contrib/qasm_import/_parser_test.py
  cirq-web/cirq_web/circuits/circuit.py
  cirq-web/cirq_web/circuits/circuit_test.py
Labels: size: S

#7033 Change npm schedule to monthly
  .github/dependabot.yml
Labels: Size: XS

#7035 Specify `long_description_content_type` so that PyPI accepts wheels
  cirq-aqt/setup.py
  cirq-core/setup.py
  cirq-google/setup.py
  cirq-ionq/setup.py
  cirq-pasqal/setup.py
  cirq-rigetti/setup.py
  cirq-web/setup.py
Labels: Size: XS

#7038 Move coverage configuration to pyproject.toml
  check/pytest-and-incremental-coverage
  check/pytest-changed-files-and-incremental-coverage
  dev_tools/bash_scripts_test.py
  dev_tools/conf/.coveragerc
  pyproject.toml
Labels: size: M

#6973 Compile to ZZ gate instead of MS for Forte backends when transpiling to native IonQ gates
  cirq-ionq/cirq_ionq/ionq_native_target_gateset.py
  cirq-ionq/cirq_ionq/ionq_native_target_gateset_test.py
Labels: size: S

#7041 Clean up redundant complex type unions
  cirq-core/cirq/interop/quirk/cells/parse.py
  cirq-core/cirq/linalg/combinators.py
  cirq-core/cirq/linalg/decompositions.py
  cirq-core/cirq/linalg/tolerance.py
  cirq-core/cirq/ops/dense_pauli_string.py
  cirq-core/cirq/ops/eigen_gate.py
  cirq-core/cirq/ops/identity.py
  cirq-core/cirq/ops/linear_combinations.py
  cirq-core/cirq/ops/pauli_string.py
  cirq-core/cirq/ops/pauli_string_phasor.py
  cirq-core/cirq/ops/pauli_string_test.py
  cirq-core/cirq/ops/phased_x_gate.py
  cirq-core/cirq/ops/phased_x_z_gate.py
  cirq-core/cirq/ops/projector.py
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/qis/states.py
  cirq-core/cirq/sim/clifford/stabilizer_state_ch_form.py
  cirq-core/cirq/study/flatten_expressions.py
  cirq-google/cirq_google/serialization/op_serializer.py
Labels: size: M

#7040 Add InternalTag to support non-public tags
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/json_resolver_cache.py
  cirq-google/cirq_google/json_test_data/InternalTag.json
  cirq-google/cirq_google/json_test_data/InternalTag.repr
  cirq-google/cirq_google/ops/__init__.py
  cirq-google/cirq_google/ops/internal_tag.py
  cirq-google/cirq_google/ops/internal_tag_test.py
Labels: size: M

#7042 Remove [float,int] unions from type declarations
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/moment.py
  cirq-core/cirq/circuits/text_diagram_drawer.py
  cirq-core/cirq/linalg/transformations.py
  cirq-core/cirq/ops/clifford_gate.py
  cirq-core/cirq/ops/dense_pauli_string.py
  cirq-core/cirq/ops/gate_operation.py
  cirq-core/cirq/ops/pauli_string_phasor.py
  cirq-core/cirq/ops/pauli_sum_exponential.py
  cirq-core/cirq/ops/phased_x_z_gate.py
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/ops/wait_gate.py
  cirq-core/cirq/protocols/approximate_equality_protocol.py
  cirq-core/cirq/protocols/commutes_protocol.py
  cirq-core/cirq/protocols/equal_up_to_global_phase_protocol.py
  cirq-core/cirq/testing/consistent_protocols.py
  cirq-core/cirq/value/periodic_value.py
  cirq-core/cirq/value/timestamp.py
Labels: size: M

#7056 Avoid broken wheels for qcs-sdk-python
  cirq-rigetti/requirements.txt
Labels: Size: XS

#7032 Add NDArrays to cirq-google protos
  cirq-google/cirq_google/api/v2/ndarrays.proto
  cirq-google/cirq_google/api/v2/ndarrays.py
  cirq-google/cirq_google/api/v2/ndarrays_pb2.py
  cirq-google/cirq_google/api/v2/ndarrays_pb2.pyi
  cirq-google/cirq_google/api/v2/ndarrays_test.py
Labels: size: XL

#7044 Partial Support for tags in cirq_google protos
  cirq-google/cirq_google/api/v2/program.proto
  cirq-google/cirq_google/api/v2/program_pb2.py
  cirq-google/cirq_google/api/v2/program_pb2.pyi
  cirq-google/cirq_google/ops/dynamical_decoupling_tag.py
  cirq-google/cirq_google/ops/dynamical_decoupling_tag_test.py
  cirq-google/cirq_google/ops/fsim_via_model_tag.py
  cirq-google/cirq_google/ops/fsim_via_model_tag_test.py
  cirq-google/cirq_google/ops/internal_tag.py
  cirq-google/cirq_google/ops/internal_tag_test.py
  cirq-google/cirq_google/ops/physical_z_tag.py
  cirq-google/cirq_google/ops/physical_z_tag_test.py
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
Labels: size: L

#7047 Improve the readability of CliffordTableau _full_str_ function
  cirq-core/cirq/qis/clifford_tableau.py
  cirq-core/cirq/qis/clifford_tableau_test.py
Labels: size: M

#7046 Fix the format of CliffordGate repr.
  cirq-core/cirq/ops/clifford_gate.py
  cirq-core/cirq/ops/clifford_gate_test.py
Labels: Size: XS, size: S

#7062 Set permissions for CI job
  .github/workflows/stale.yml
Labels: Size: XS

#7063 Make mypy pass regardless if qsimcirq is installed or not
  cirq-google/cirq_google/engine/virtual_engine_factory.py
  dev_tools/conf/mypy.ini
Labels: Size: XS

#7068 Unpin the qcs-sdk-python dependency
  cirq-rigetti/requirements.txt
Labels: Size: XS

#7059 Allow ability to plug in custom (de)serializers for cirq_google protos
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
  cirq-google/cirq_google/serialization/op_deserializer.py
  cirq-google/cirq_google/serialization/op_serializer.py
  cirq-google/cirq_google/serialization/op_serializer_test.py
Labels: size: M

#7074 Add workflow for OpenSSF Scorecard
  .github/workflows/ossf-scorecard.yaml
Labels: size: M

#7085 Remove rST-specific code in snippets_test.py
  dev_tools/snippets_test.py
Labels: kind/health, size: M

#7076 Increase min version of Python tqdm for security advisory PYSEC-2023-74
  cirq-core/requirements.txt
Labels: area/dependencies, Size: XS

#7077 Fix #7055: pin versions of actions in GHA workflows
  .github/workflows/ci-daily.yml
  .github/workflows/ci-weekly.yml
  .github/workflows/ci.yml
  .github/workflows/pytest-debug.yaml
  .github/workflows/release-main.yml
  .github/workflows/stale.yml
Labels: kind/health, area/ci, size: M

#7075 Increase min version of Python Requests for multiple security advisories
  cirq-aqt/requirements.txt
  cirq-ionq/requirements.txt
  cirq-pasqal/requirements.txt
  dev_tools/pr_monitor/requirements.txt
  dev_tools/requirements/deps/mypy.txt
  dev_tools/requirements/isolated-base.env.txt
Labels: area/dependencies, Size: XS, size: S

#7084 Fix format issues flagged by black
  cirq-aqt/cirq_aqt/aqt_device_metadata.py
  cirq-aqt/cirq_aqt/aqt_target_gateset.py
  cirq-core/cirq/contrib/acquaintance/strategies/quartic_paired.py
  cirq-core/cirq/contrib/json.py
  cirq-core/cirq/interop/quirk/cells/parse_test.py
  cirq-core/cirq/ops/__init__.py
  cirq-core/cirq/ops/op_tree.py
  cirq-core/cirq/sim/clifford/clifford_simulator.py
  cirq-core/cirq/sim/clifford/clifford_tableau_simulation_state.py
  cirq-core/cirq/study/sweepable.py
  cirq-core/cirq/transformers/analytical_decompositions/cphase_to_fsim.py
  cirq-core/cirq/transformers/dynamical_decoupling.py
  cirq-core/cirq/transformers/optimize_for_target_gateset_test.py
  cirq-google/cirq_google/api/v2/run_context.py
  cirq-google/cirq_google/engine/__init__.py
  cirq-google/cirq_google/engine/engine_processor.py
  cirq-google/cirq_google/engine/simulated_local_processor.py
  cirq-google/cirq_google/workflow/__init__.py
  cirq-rigetti/cirq_rigetti/circuit_transformers_test.py
  cirq-rigetti/cirq_rigetti/sampler_parametric_circuit_test.py
  cirq-rigetti/cirq_rigetti/sampler_readout_reassigned_qubits_test.py
  cirq-rigetti/cirq_rigetti/sampler_readout_separate_memory_regions_test.py
  cirq-rigetti/cirq_rigetti/service_parametric_circuit_test.py
  examples/bb84.py
  examples/shors_code.py
Labels: kind/health, area/formatting, Size: XS, size: M

#7094 Exclude proto-generated Python files from black formatter
  pyproject.toml
Labels: Size: XS

#7081 Add a .editorconfig file
  .editorconfig
Labels: kind/health, size: S

#7092 Remove arg_function_language
  cirq-google/cirq_google/api/v2/program.proto
  cirq-google/cirq_google/api/v2/program_pb2.py
  cirq-google/cirq_google/ops/internal_gate_test.py
  cirq-google/cirq_google/ops/internal_tag.py
  cirq-google/cirq_google/serialization/arg_func_langs.py
  cirq-google/cirq_google/serialization/arg_func_langs_test.py
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
  cirq-google/cirq_google/serialization/op_deserializer.py
  cirq-google/cirq_google/serialization/op_serializer.py
  cirq-google/cirq_google/serialization/serializer.py
Labels: size: L

#7098 Add warning about GenAI code generation
  CONTRIBUTING.md
Labels: area/docs, Size: XS

#7097 Add badge for OpenSSF score
  README.md
Labels: area/docs, Size: XS

#7096 Remove apt package pandoc and add shellcheck
  dev_tools/conf/apt-list-dev-tools.txt
Labels: Size: XS

#7100 Set CI workflow permissions
  .github/workflows/ci-daily.yml
  .github/workflows/ci-weekly.yml
  .github/workflows/ci.yml
  .github/workflows/pytest-debug.yaml
  .github/workflows/release-main.yml
Labels: area/ci, size: S

#7099 Fix #6970: mention release cadence
  release.md
Labels: area/docs, Size: XS

#7045 Update & improve workflow for stale issues & PRs
  .github/workflows/stale.yml
Labels: kind/health, size: M

#7071 Fix decompose for controlled CZ gates with phase shift
  cirq-core/cirq/ops/controlled_gate.py
  cirq-core/cirq/ops/controlled_gate_test.py
  cirq-core/cirq/ops/controlled_operation.py
  cirq-core/cirq/ops/global_phase_op.py
  cirq-core/cirq/ops/global_phase_op_test.py
Labels: size: M

#7093 Ensure SycamoreGate instances are preserved over serialization
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
Labels: size: S

#7065 Fix conjugated_by of PauliString.
  cirq-core/cirq/ops/clifford_gate.py
  cirq-core/cirq/ops/pauli_string.py
  cirq-core/cirq/ops/pauli_string_test.py
  cirq-core/cirq/ops/swap_gates.py
Labels: size: M

#7103 Use fixed PauliString.after() in dynamical decoupling.
  cirq-core/cirq/transformers/dynamical_decoupling.py
Labels: size: S

#7087 Improve GitHub issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/design_discussion.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/project_health.md
  .github/ISSUE_TEMPLATE/task.md
Labels: kind/health, area/github, size: M
