Repository quantumlib/Cirq, pull requests merged in 2025-09, with the labels that each got.

#7613 Improve wheel-building process
  cirq-aqt/pyproject.toml
  cirq-aqt/setup.py
  cirq-core/pyproject.toml
  cirq-core/setup.py
  cirq-google/pyproject.toml
  cirq-google/setup.py
  cirq-ionq/pyproject.toml
  cirq-ionq/setup.py
  cirq-pasqal/pyproject.toml
  cirq-pasqal/setup.py
  cirq-web/pyproject.toml
  cirq-web/setup.py
  dev_tools/packaging/produce-package.sh
  pyproject.toml
  setup.py
Labels: size: M

#7633 Add linting and type checking overrides for cirq-google/cirq_google/cloud, which contains only generated code
  cirq-google/cirq_google/cloud/README.md
  dev_tools/conf/mypy.ini
  pyproject.toml
Labels: size: S

#7627 Increase np.isclose tolerance for mitigated expectation value assertion
  cirq-core/cirq/contrib/paulistring/pauli_string_measurement_with_readout_mitigation_test.py
Labels: size: S

#7626 Preserve max moment of control key while appending to circuit
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_test.py
Labels: size: S

#7651 Allow PauliString-like gates to be used in PauliSum
  cirq-core/cirq/ops/gate_operation.py
  cirq-core/cirq/ops/linear_combinations.py
  cirq-core/cirq/ops/pauli_string_test.py
Labels: size: S

#7648 Create a gauge for idle moments
  cirq-core/cirq/transformers/gauge_compiling/__init__.py
  cirq-core/cirq/transformers/gauge_compiling/idle_moments_gauge.py
  cirq-core/cirq/transformers/gauge_compiling/idle_moments_gauge_test.py
Labels: size: L

#7653 Fix unexpected markdown syntax in docstring
  cirq-core/cirq/ops/arithmetic_operation.py
  cirq-core/cirq/ops/common_gates.py
  cirq-core/cirq/ops/pauli_string_phasor.py
Labels: size: S

#7658 CI - unblock type check with a temporary pin to numpy-2.2
  dev_tools/requirements/mypy.env.txt
Labels: Size: XS

#7659 Increase default max_concurrent_jobs to 100
  cirq-google/cirq_google/engine/engine.py
  cirq-google/cirq_google/engine/engine_processor.py
  cirq-google/cirq_google/engine/processor_sampler.py
Labels: Size: XS

#7661 Fix type-checking issues for numpy-2.3.3
  cirq-core/cirq/linalg/transformations.py
  cirq-core/cirq/ops/clifford_gate.py
  cirq-core/cirq/sim/clifford/stabilizer_state_ch_form.py
  cirq-core/cirq/sim/state_vector_simulation_state.py
  cirq-core/cirq/testing/lin_alg_utils.py
  cirq-core/cirq/transformers/heuristic_decompositions/two_qubit_gate_tabulation.py
  dev_tools/requirements/mypy.env.txt
Labels: size: S

#7669 fix bug in idle moments gauge
  cirq-core/cirq/transformers/gauge_compiling/idle_moments_gauge.py
Labels: Size: XS

#7663 Fix #2961: add basic docstring to clifford_optimized_circuit()
  cirq-core/cirq/contrib/paulistring/clifford_optimize.py
Labels: size: S

#7671 Micro-optimizations to WaitGate
  cirq-core/cirq/ops/wait_gate.py
  cirq-core/cirq/value/duration.py
Labels: size: S

#7501 Support multi moment gauge compiling
  cirq-core/cirq/transformers/__init__.py
  cirq-core/cirq/transformers/gauge_compiling/__init__.py
  cirq-core/cirq/transformers/gauge_compiling/multi_moment_cphase_gauge.py
  cirq-core/cirq/transformers/gauge_compiling/multi_moment_cphase_gauge_test.py
  cirq-core/cirq/transformers/gauge_compiling/multi_moment_gauge_compiling.py
Labels: size: L, priority/after-1.6

#7676 Replace deprecated datetime.utcfromtimestamp
  cirq-google/cirq_google/engine/engine_processor_test.py
  cirq-ionq/cirq_ionq/ionq_client.py
  cirq-ionq/cirq_ionq/ionq_client_test.py
  cirq-ionq/cirq_ionq/service_test.py
Labels: size: S
