Repository quantumlib/Cirq, pull requests merged in 2025-07, with the labels that each got.

#7433 CI - disable cirq-rigetti tests
  .github/workflows/ci-daily.yml
  .github/workflows/ci.yml
  check/mypy
  cirq-core/cirq/protocols/hash_from_pickle_test.py
  cirq-core/cirq/protocols/json_serialization_test.py
  dev_tools/conf/mypy.ini
  dev_tools/requirements/deps/cirq-all-no-contrib.txt
Labels: size: M

#7456 Combine cirq-web updates
  cirq-web/cirq_web/dist/bloch_sphere.bundle.js
  cirq-web/cirq_web/dist/circuit.bundle.js
  cirq-web/cirq_web/package-lock.json
  cirq-web/cirq_web/package.json
Labels: Size: XS

#7457 Combine mypy version updates
  dev_tools/requirements/deps/mypy.txt
Labels: Size: XS

#7459 Fix test flake in pauli_string_measurement_with_readout_mitigation_test
  cirq-core/cirq/contrib/paulistring/pauli_string_measurement_with_readout_mitigation.py
  cirq-core/cirq/contrib/paulistring/pauli_string_measurement_with_readout_mitigation_test.py
Labels: size: S

#7440 Add return-type to public functions, mostly tests part 1
  benchmarks/bench_linalg_decompositions.py
  benchmarks/circuit_construction.py
  benchmarks/parameter_resolution.py
  benchmarks/randomized_benchmarking.py
  benchmarks/serialization.py
  benchmarks/transformers/routing.py
  benchmarks/transformers/transformer_primitives.py
  cirq-aqt/cirq_aqt/aqt_device.py
  cirq-aqt/cirq_aqt/aqt_device_metadata_test.py
  cirq-aqt/cirq_aqt/aqt_device_test.py
  cirq-aqt/cirq_aqt/aqt_sampler_test.py
  cirq-aqt/cirq_aqt/aqt_simulator_test.py
  cirq-aqt/cirq_aqt/aqt_target_gateset_test.py
  cirq-aqt/cirq_aqt/conftest.py
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_operation.py
  cirq-core/cirq/circuits/circuit_test.py
  cirq-core/cirq/circuits/moment_test.py
  cirq-core/cirq/circuits/optimization_pass.py
  cirq-core/cirq/circuits/text_diagram_drawer.py
  cirq-core/cirq/conftest.py
  cirq-core/cirq/contrib/acquaintance/bipartite_test.py
  cirq-core/cirq/contrib/acquaintance/devices_test.py
  cirq-core/cirq/contrib/acquaintance/executor_test.py
  cirq-core/cirq/contrib/acquaintance/gates.py
  cirq-core/cirq/contrib/acquaintance/gates_test.py
  cirq-core/cirq/contrib/acquaintance/inspection_utils.py
  cirq-core/cirq/contrib/acquaintance/permutation_test.py
  cirq-core/cirq/contrib/acquaintance/shift_swap_network_test.py
  cirq-core/cirq/contrib/acquaintance/strategies/quartic_paired_test.py
  cirq-core/cirq/contrib/bayesian_network/bayesian_network_gate.py
  cirq-core/cirq/contrib/bayesian_network/bayesian_network_gate_test.py
  cirq-core/cirq/contrib/circuitdag/circuit_dag.py
  cirq-core/cirq/contrib/circuitdag/circuit_dag_test.py
  cirq-core/cirq/contrib/custom_simulators/custom_state_simulator_test.py
  cirq-core/cirq/contrib/graph_device/graph_device.py
  cirq-core/cirq/contrib/graph_device/graph_device_test.py
  cirq-core/cirq/contrib/graph_device/hypergraph.py
  cirq-core/cirq/contrib/graph_device/hypergraph_test.py
  cirq-core/cirq/contrib/graph_device/uniform_graph_device_test.py
  cirq-core/cirq/contrib/hacks/disable_validation.py
  cirq-core/cirq/contrib/json.py
  cirq-core/cirq/contrib/noise_models/noise_models.py
  cirq-core/cirq/contrib/noise_models/noise_models_test.py
  cirq-core/cirq/contrib/qcircuit/qcircuit_diagram_info.py
  cirq-core/cirq/contrib/qcircuit/qcircuit_diagram_info_test.py
  cirq-core/cirq/contrib/qcircuit/qcircuit_pdf.py
  cirq-core/cirq/contrib/quantum_volume/quantum_volume_test.py
  cirq-core/cirq/contrib/quimb/density_matrix.py
  cirq-core/cirq/contrib/quimb/density_matrix_test.py
  cirq-core/cirq/devices/noise_model_test.py
Labels: size: L

#7471 Fix a couple of typos in transformers
  cirq-core/cirq/transformers/align.py
  cirq-core/cirq/transformers/dynamical_decoupling.py
  cirq-core/cirq/transformers/dynamical_decoupling_test.py
  cirq-core/cirq/transformers/expand_composite_test.py
  cirq-core/cirq/transformers/measurement_transformers.py
  cirq-core/cirq/transformers/merge_single_qubit_gates.py
  cirq-core/cirq/transformers/merge_single_qubit_gates_test.py
  cirq-core/cirq/transformers/noise_adding.py
  cirq-core/cirq/transformers/optimize_for_target_gateset.py
  cirq-core/cirq/transformers/qubit_management_transformers.py
  cirq-core/cirq/transformers/randomized_measurements.py
  cirq-core/cirq/transformers/stratify.py
  cirq-core/cirq/transformers/symbolize.py
  cirq-core/cirq/transformers/tag_transformers.py
  cirq-core/cirq/transformers/transformer_api.py
  cirq-core/cirq/transformers/transformer_primitives.py
  docs/build/classical_control.ipynb
Labels: size: M

#7442 Add `max_concurrent_jobs` to `Engine.get_sampler()`.
  cirq-google/cirq_google/engine/engine.py
  cirq-google/cirq_google/engine/engine_test.py
  cirq-google/cirq_google/engine/processor_sampler.py
Labels: size: S

#7476 Promote FrozenCircuit.tags to AbstractCircuit
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_test.py
  cirq-core/cirq/circuits/frozen_circuit.py
  cirq-core/cirq/circuits/frozen_circuit_test.py
Labels: size: L

#7466 Fixing MS gate inverse is not implemented correctly (Issue 7432)
  cirq-ionq/cirq_ionq/ionq_native_gates.py
  cirq-ionq/cirq_ionq/ionq_native_gates_test.py
Labels: Size: XS

#7478 Add proto serialization support for circuit tags
  cirq-google/cirq_google/api/v2/program.proto
  cirq-google/cirq_google/api/v2/program_pb2.py
  cirq-google/cirq_google/api/v2/program_pb2.pyi
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
Labels: size: L

#7480 Standardize serialization of CalibrationTag
  cirq-google/cirq_google/api/v2/program.proto
  cirq-google/cirq_google/api/v2/program_pb2.py
  cirq-google/cirq_google/api/v2/program_pb2.pyi
  cirq-google/cirq_google/ops/calibration_tag.py
  cirq-google/cirq_google/ops/calibration_tag_test.py
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
Labels: size: L

#7483 Cache the result of CircuitOperation.has_unitary
  cirq-core/cirq/circuits/circuit_operation.py
  cirq-core/cirq/circuits/circuit_operation_test.py
Labels: size: S

#7497 CODEOWNERS - remove owner specifications for cirq-rigetti
  .github/CODEOWNERS
Labels: Size: XS

#7496 Update Scientific Python dependencies per NEP-29 and SPEC-0
  cirq-core/requirements.txt
  dev_tools/requirements/deps/ipython.txt
Labels: size: S

#7499 NEP-29 - require minimum Python version 3.11
  cirq-aqt/setup.py
  cirq-core/cirq/_version.py
  cirq-core/setup.py
  cirq-google/cirq_google/_version.py
  cirq-google/setup.py
  cirq-ionq/setup.py
  cirq-pasqal/setup.py
  cirq-web/setup.py
  setup.py
Labels: size: S

#7495 Bump up grpcio-tools-1.71.2
  cirq-google/cirq_google/api/v1/operations_pb2.py
  cirq-google/cirq_google/api/v1/params_pb2.py
  cirq-google/cirq_google/api/v1/program_pb2.py
  cirq-google/cirq_google/api/v2/batch_pb2.py
  cirq-google/cirq_google/api/v2/calibration_pb2.py
  cirq-google/cirq_google/api/v2/device_pb2.py
  cirq-google/cirq_google/api/v2/metrics_pb2.py
  cirq-google/cirq_google/api/v2/ndarrays_pb2.py
  cirq-google/cirq_google/api/v2/program_pb2.py
  cirq-google/cirq_google/api/v2/result_pb2.py
  cirq-google/cirq_google/api/v2/run_context_pb2.py
  cirq-google/requirements.txt
  dev_tools/requirements/deps/mypy.txt
  dev_tools/requirements/deps/protos.txt
Labels: size: L

#7493 Serialize tags on moments in cirq_google protos
  cirq-google/cirq_google/api/v2/program.proto
  cirq-google/cirq_google/api/v2/program_pb2.py
  cirq-google/cirq_google/api/v2/program_pb2.pyi
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
Labels: size: L

#7498 Make the points in cirq_google v2 proto to be double
  cirq-google/cirq_google/api/v2/run_context.proto
  cirq-google/cirq_google/api/v2/run_context_pb2.py
  cirq-google/cirq_google/api/v2/run_context_pb2.pyi
  cirq-google/cirq_google/api/v2/sweeps.py
  cirq-google/cirq_google/api/v2/sweeps_test.py
Labels: size: M

#7374 Implementation of support for IonQ pauliexp gates
  cirq-ionq/cirq_ionq/ionq_exceptions.py
  cirq-ionq/cirq_ionq/results.py
  cirq-ionq/cirq_ionq/serializer.py
  cirq-ionq/cirq_ionq/serializer_test.py
Labels: size: M

#7504 Adjust example notebooks for the change of the use_repetion_ids default to false
  docs/build/classical_control.ipynb
Labels: Size: XS

#7506 Remove documentation links to nonexistent documents and pages
  docs/_book.yaml
  docs/google/best_practices.ipynb
  docs/hardware/qubit_picking.ipynb
  docs/tutorials/google/identifying_hardware_changes.ipynb
Labels: size: S

#7512 Don't attempt to make the logo light/dark responsive
  docs/images/Cirq_logo_color.svg
Labels: size: S

#7522 Revert "Expand parameters for product sweeps iteratively instead of recursively"
  cirq-core/cirq/study/sweeps.py
  cirq-core/cirq/study/sweeps_test.py
Labels: size: S

#7521 Add clarification to GridQubit neighbors function
  cirq-core/cirq/devices/grid_qubit.py
Labels: size: S

#7396 Add JSON serialization support for NoiseModel classes
  cirq-core/cirq/contrib/json.py
  cirq-core/cirq/contrib/json_test_data/DampedReadoutNoiseModel.json
  cirq-core/cirq/contrib/json_test_data/DampedReadoutNoiseModel.repr
  cirq-core/cirq/contrib/json_test_data/DepolarizingNoiseModel.json
  cirq-core/cirq/contrib/json_test_data/DepolarizingNoiseModel.repr
  cirq-core/cirq/contrib/json_test_data/DepolarizingWithDampedReadoutNoiseModel.json
  cirq-core/cirq/contrib/json_test_data/DepolarizingWithDampedReadoutNoiseModel.repr
  cirq-core/cirq/contrib/json_test_data/DepolarizingWithReadoutNoiseModel.json
  cirq-core/cirq/contrib/json_test_data/DepolarizingWithReadoutNoiseModel.repr
  cirq-core/cirq/contrib/json_test_data/ReadoutNoiseModel.json
  cirq-core/cirq/contrib/json_test_data/ReadoutNoiseModel.repr
  cirq-core/cirq/contrib/json_test_data/__init__.py
  cirq-core/cirq/contrib/json_test_data/spec.py
  cirq-core/cirq/contrib/noise_models/noise_models.py
  cirq-core/cirq/contrib/noise_models/noise_models_test.py
  cirq-core/cirq/devices/noise_properties.py
  cirq-core/cirq/devices/noise_properties_test.py
  cirq-core/cirq/devices/thermal_noise_model.py
  cirq-core/cirq/devices/thermal_noise_model_test.py
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/protocols/json_serialization_test.py
  cirq-core/cirq/protocols/json_test_data/ThermalNoiseModel.json
  cirq-core/cirq/protocols/json_test_data/ThermalNoiseModel.repr
  cirq-core/cirq/protocols/json_test_data/spec.py
  cirq-google/cirq_google/experimental/noise_models/noise_models.py
  cirq-google/cirq_google/experimental/noise_models/noise_models_test.py
  cirq-google/cirq_google/json_resolver_cache.py
  cirq-google/cirq_google/json_test_data/PerQubitDepolarizingWithDampedReadoutNoiseModel.json
  cirq-google/cirq_google/json_test_data/PerQubitDepolarizingWithDampedReadoutNoiseModel.repr
  cirq-google/cirq_google/json_test_data/spec.py
Labels: size: L, unitaryHACK, priority/before-1.6

#7523 Expand product sweep parameters iteratively rather than recursively
  cirq-core/cirq/study/sweeps.py
  cirq-core/cirq/study/sweeps_test.py
Labels: size: S

#7518 Fix sidepanel contents for section on noise
  docs/_book.yaml
Labels: size: S

#7519 Fix #7510: remove outdated notebook about XEB
  dev_tools/notebooks/isolated_notebook_test.py
  dev_tools/notebooks/notebook_test.py
  docs/_book.yaml
  docs/google/best_practices.ipynb
  docs/noise/qcvv/xeb_calibration_example.ipynb
  docs/tutorials/google/identifying_hardware_changes.ipynb
Labels: size: L, priority/before-1.6

#7526 Bump cirq version to 1.7.0
  cirq-aqt/cirq_aqt/_version.py
  cirq-aqt/cirq_aqt/_version_test.py
  cirq-core/cirq/_version.py
  cirq-core/cirq/_version_test.py
  cirq-google/cirq_google/_version.py
  cirq-google/cirq_google/_version_test.py
  cirq-ionq/cirq_ionq/_version.py
  cirq-ionq/cirq_ionq/_version_test.py
  cirq-pasqal/cirq_pasqal/_version.py
  cirq-pasqal/cirq_pasqal/_version_test.py
  cirq-web/cirq_web/_version.py
  cirq-web/cirq_web/_version_test.py
Labels: size: S

#7530 Cite Cirq release 1.6.0
  CITATION.cff
Labels: Size: XS

#7527 Restore behavior which persists `quantum_run_stream`s indefinitely
  cirq-google/cirq_google/engine/stream_manager.py
Labels: Size: XS

#7533 Fix two typos
  docs/build/classical_control.ipynb
  docs/tutorials/google/identifying_hardware_changes.ipynb
Labels: Size: XS

#7491 Add generic analog circuit builder class
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/experimental/analog_experiments/__init__.py
  cirq-google/cirq_google/experimental/analog_experiments/analog_trajectory_util.py
  cirq-google/cirq_google/experimental/analog_experiments/analog_trajectory_util_test.py
  cirq-google/cirq_google/experimental/analog_experiments/generic_analog_circuit.py
  cirq-google/cirq_google/experimental/analog_experiments/generic_analog_circuit_test.py
  cirq-google/cirq_google/json_resolver_cache.py
  cirq-google/cirq_google/json_test_data/WaitGateWithUnit.json
  cirq-google/cirq_google/json_test_data/WaitGateWithUnit.repr
  cirq-google/cirq_google/ops/__init__.py
  cirq-google/cirq_google/ops/wait_gate.py
  cirq-google/cirq_google/ops/wait_gate_test.py
  cirq-google/cirq_google/study/symbol_util.py
Labels: size: L, priority/after-1.6

#7537 Fix kraus channels for fallbacks to super-operators
  cirq-core/cirq/circuits/moment_test.py
  cirq-core/cirq/protocols/kraus_protocol.py
  cirq-core/cirq/protocols/kraus_protocol_test.py
Labels: size: S

#7539 Fix typos in reference docs
  cirq-core/cirq/ops/fsim_gate.py
  cirq-core/cirq/value/condition.py
  cirq-google/cirq_google/line/placement/anneal.py
  cirq-google/cirq_google/ops/analog_detune_gates.py
  cirq-google/cirq_google/serialization/arg_func_langs.py
  cirq-ionq/cirq_ionq/results.py
Labels: size: S

#7545 Remove the merge moments logic in dd
  cirq-core/cirq/transformers/dynamical_decoupling.py
  cirq-core/cirq/transformers/dynamical_decoupling_test.py
Labels: size: M
