Repository quantumlib/Cirq, pull requests merged in 2025-06, with the labels that each got.

#7399 QVM - deprecate default gate_times_ns in noise_properties_from_calibration
  cirq-google/cirq_google/engine/calibration_to_noise_properties.py
  cirq-google/cirq_google/engine/calibration_to_noise_properties_test.py
  cirq-google/cirq_google/engine/virtual_engine_factory.py
  cirq-google/cirq_google/engine/virtual_engine_factory_test.py
Labels: size: M

#7406 Fix test case names.
  cirq-core/cirq/transformers/merge_single_qubit_gates_test.py
Labels: Size: XS

#7408 Prefer load_device_noise_properties in example notebooks
  dev_tools/notebooks/isolated_notebook_test.py
  docs/hardware/qubit_picking.ipynb
  docs/simulate/noisy_simulation.ipynb
  docs/simulate/quantum_virtual_machine.ipynb
  docs/simulate/qvm_basic_example.ipynb
Labels: size: M

#7407 Bump mypy to 1.16.0
  cirq-core/cirq/_compat.py
  cirq-core/cirq/contrib/quantum_volume/quantum_volume.py
  cirq-core/cirq/experiments/random_quantum_circuit_generation.py
  cirq-core/cirq/experiments/xeb_sampling.py
  cirq-core/cirq/ops/classically_controlled_operation.py
  cirq-core/cirq/sim/density_matrix_simulator_test.py
  cirq-core/cirq/sim/simulator_base.py
  cirq-core/cirq/sim/sparse_simulator_test.py
  cirq-google/cirq_google/engine/asyncio_executor.py
  cirq-rigetti/cirq_rigetti/circuit_transformers.py
  dev_tools/requirements/deps/mypy.txt
Labels: size: M

#7410 Remove dead code for scipy<=1.5
  cirq-core/cirq/transformers/analytical_decompositions/three_qubit_decomposition.py
  cirq-core/cirq/transformers/analytical_decompositions/three_qubit_decomposition_test.py
Labels: size: S

#7413 ruff - enable and fix rules F401, F601
  cirq-core/cirq/__init__.py
  cirq-core/cirq/_compat_test.py
  cirq-core/cirq/contrib/__init__.py
  cirq-core/cirq/contrib/acquaintance/__init__.py
  cirq-core/cirq/contrib/quimb/Cirq-to-Tensor-Networks.ipynb
  cirq-core/cirq/contrib/quimb/Contract-a-Grid-Circuit.ipynb
  cirq-core/cirq/experiments/benchmarking/__init__.py
  cirq-core/cirq/interop/quirk/cells/__init__.py
  cirq-core/cirq/testing/_compat_test_data/module_a/__init__.py
  cirq-core/cirq/testing/_compat_test_data/module_a/module_b/__init__.py
  cirq-core/cirq/testing/_compat_test_data/module_a/sub/__init__.py
  cirq-core/cirq/testing/consistent_qasm_test.py
  cirq-core/cirq/transformers/gauge_compiling/__init__.py
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/api/__init__.py
  cirq-google/cirq_google/api/v1/__init__.py
  cirq-google/cirq_google/api/v1/proto_test.py
  cirq-google/cirq_google/api/v2/__init__.py
  cirq-google/cirq_google/api/v2/proto_test.py
  cirq-google/cirq_google/engine/abstract_processor.py
  cirq-google/cirq_google/engine/simulated_local_program.py
  cirq-ionq/cirq_ionq/service_test.py
  cirq-rigetti/cirq_rigetti/__init__.py
  cirq-web/circuit_example.ipynb
  examples/advanced/quantum_volume.ipynb
  examples/advanced/quantum_volume_routing.ipynb
  pyproject.toml
Labels: size: M

#7409 Update dd at "pulled-throughs meet non-cliffords"
  cirq-core/cirq/transformers/dynamical_decoupling.py
  cirq-core/cirq/transformers/dynamical_decoupling_test.py
Labels: size: L

#7377 Fixes #7072: Support more OpenQASM 2.0 gates from qelib1.inc
  cirq-core/cirq/contrib/qasm_import/_parser.py
  cirq-core/cirq/contrib/qasm_import/_parser_test.py
Labels: area/qasm, size: XL, unitaryHACK

#7420 ruff - enable and fix pylint-equivalent rules
  benchmarks/randomized_benchmarking.py
  cirq-core/cirq/__init__.py
  cirq-core/cirq/_compat_test.py
  cirq-core/cirq/circuits/circuit_operation_test.py
  cirq-core/cirq/circuits/moment.py
  cirq-core/cirq/contrib/acquaintance/bipartite_test.py
  cirq-core/cirq/contrib/acquaintance/executor_test.py
  cirq-core/cirq/contrib/acquaintance/shift.py
  cirq-core/cirq/contrib/graph_device/graph_device.py
  cirq-core/cirq/contrib/paulistring/clifford_target_gateset.py
  cirq-core/cirq/contrib/qcircuit/qcircuit_test.py
  cirq-core/cirq/contrib/routing/swap_network_test.py
  cirq-core/cirq/experiments/__init__.py
  cirq-core/cirq/interop/quirk/url_to_circuit_test.py
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/linalg/__init__.py
  cirq-core/cirq/ops/classically_controlled_operation_test.py
  cirq-core/cirq/ops/fsim_gate_test.py
  cirq-core/cirq/ops/pauli_string_test.py
  cirq-core/cirq/ops/raw_types_test.py
  cirq-core/cirq/ops/state_preparation_channel_test.py
  cirq-core/cirq/protocols/pow_protocol.py
  cirq-core/cirq/testing/__init__.py
  cirq-core/cirq/transformers/__init__.py
  cirq-core/cirq/transformers/analytical_decompositions/__init__.py
  cirq-core/cirq/transformers/dynamical_decoupling_test.py
  cirq-core/cirq/transformers/merge_k_qubit_gates_test.py
  cirq-core/cirq/transformers/optimize_for_target_gateset_test.py
  cirq-core/cirq/transformers/transformer_primitives_test.py
  cirq-core/cirq/value/linear_dict_test.py
  cirq-core/cirq/value/timestamp_test.py
  cirq-core/cirq/value/value_equality_attr.py
  cirq-google/cirq_google/cloud/quantum_v1alpha1/services/quantum_engine_service/async_client.py
  cirq-google/cirq_google/cloud/quantum_v1alpha1/services/quantum_engine_service/client.py
  cirq-google/cirq_google/cloud/quantum_v1alpha1/services/quantum_engine_service/transports/base.py
  cirq-google/cirq_google/cloud/quantum_v1alpha1/types/engine.py
  cirq-google/cirq_google/engine/__init__.py
  cirq-google/cirq_google/experimental/__init__.py
  cirq-google/cirq_google/experimental/noise_models/__init__.py
  cirq-google/cirq_google/json_resolver_cache.py
  cirq-google/cirq_google/transformers/target_gatesets/sycamore_gateset_test.py
  cirq-google/cirq_google/workflow/quantum_executable_test.py
  cirq-rigetti/cirq_rigetti/aspen_device.py
  cirq-web/cirq_web/circuits/symbols_test.py
  dev_tools/conf/.pylintrc
  dev_tools/pylint_copyright_checker.py
  examples/advanced/quantum_utility_sim_4a.ipynb
  examples/advanced/quantum_utility_sim_4b.ipynb
  examples/basic_arithmetic.py
  examples/direct_fidelity_estimation.ipynb
  examples/hhl.py
  pyproject.toml
Labels: size: M

#7424 Deselect ruff-covered pylint rules
  CONTRIBUTING.md
  cirq-core/cirq/__init__.py
  cirq-core/cirq/_compat_test.py
  cirq-core/cirq/contrib/paulistring/clifford_target_gateset.py
  cirq-core/cirq/experiments/__init__.py
  cirq-core/cirq/json_resolver_cache.py
  cirq-core/cirq/linalg/__init__.py
  cirq-core/cirq/ops/classically_controlled_operation_test.py
  cirq-core/cirq/ops/clifford_gate_test.py
  cirq-core/cirq/ops/fsim_gate_test.py
  cirq-core/cirq/ops/pauli_gates_test.py
  cirq-core/cirq/ops/pauli_string_test.py
  cirq-core/cirq/ops/raw_types_test.py
  cirq-core/cirq/ops/state_preparation_channel_test.py
  cirq-core/cirq/protocols/__init__.py
  cirq-core/cirq/protocols/measurement_key_protocol_test.py
  cirq-core/cirq/protocols/pow_protocol.py
  cirq-core/cirq/qis/clifford_tableau_test.py
  cirq-core/cirq/testing/__init__.py
  cirq-core/cirq/testing/circuit_compare.py
  cirq-core/cirq/testing/consistent_act_on.py
  cirq-core/cirq/testing/consistent_decomposition.py
  cirq-core/cirq/testing/consistent_protocols.py
  cirq-core/cirq/testing/consistent_specified_has_unitary.py
  cirq-core/cirq/testing/equivalent_repr_eval.py
  cirq-core/cirq/testing/lin_alg_utils.py
  cirq-core/cirq/transformers/__init__.py
  cirq-core/cirq/transformers/analytical_decompositions/__init__.py
  cirq-core/cirq/transformers/dynamical_decoupling_test.py
  cirq-core/cirq/transformers/merge_k_qubit_gates_test.py
  cirq-core/cirq/transformers/optimize_for_target_gateset_test.py
  cirq-core/cirq/transformers/transformer_primitives_test.py
  cirq-core/cirq/value/linear_dict_test.py
  cirq-core/cirq/value/measurement_key_test.py
  cirq-core/cirq/value/timestamp_test.py
  cirq-google/cirq_google/api/v1/proto_test.py
  cirq-google/cirq_google/api/v2/proto_test.py
  cirq-google/cirq_google/engine/__init__.py
  cirq-google/cirq_google/experimental/__init__.py
  cirq-google/cirq_google/experimental/noise_models/__init__.py
  cirq-google/cirq_google/json_resolver_cache.py
  cirq-google/cirq_google/transformers/target_gatesets/sycamore_gateset_test.py
  cirq-google/cirq_google/workflow/quantum_executable_test.py
  dev_tools/conf/.pylintrc
Labels: size: M

#7425 Extend include_tags to support by-type selection
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/moment.py
  cirq-core/cirq/contrib/quantum_volume/quantum_volume.py
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/ops/raw_types_test.py
  cirq-core/cirq/protocols/circuit_diagram_info_protocol.py
  cirq-core/cirq/protocols/circuit_diagram_info_protocol_test.py
Labels: size: M, unitaryHACK

#7426 Fix typo in notebook example
  docs/google/internal_gates.ipynb
Labels: size: S

#7431 Update dd with faster circuit construction
  cirq-core/cirq/transformers/dynamical_decoupling.py
Labels: size: S

#7416 Combining readout circuits for QWC pauli strings in the ```measure_pauli_strings``` method
  cirq-core/cirq/contrib/paulistring/pauli_string_measurement_with_readout_mitigation.py
  cirq-core/cirq/contrib/paulistring/pauli_string_measurement_with_readout_mitigation_test.py
  cirq-core/cirq/experiments/single_qubit_readout_calibration.py
Labels: size: M

#7393 Support merge symbolized 1 qubit gate transformer
  cirq-core/cirq/__init__.py
  cirq-core/cirq/transformers/__init__.py
  cirq-core/cirq/transformers/merge_single_qubit_gates.py
  cirq-core/cirq/transformers/merge_single_qubit_gates_test.py
Labels: size: L

#7383 Simplify decomposition of controlled eigengates with global phase
  cirq-core/cirq/ops/common_gates.py
  cirq-core/cirq/ops/common_gates_test.py
  cirq-core/cirq/ops/controlled_gate.py
  cirq-core/cirq/ops/controlled_gate_test.py
  cirq-core/cirq/ops/global_phase_op.py
  cirq-core/cirq/ops/global_phase_op_test.py
  cirq-core/cirq/ops/three_qubit_gates.py
  cirq-core/cirq/protocols/decompose_protocol.py
  cirq-core/cirq/protocols/decompose_protocol_test.py
Labels: size: L

#7430 Add AnalogDetuneQubit cirq google version
  cirq-core/cirq/protocols/json_serialization_test.py
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/json_resolver_cache.py
  cirq-google/cirq_google/json_test_data/AnalogDetuneQubit.json
  cirq-google/cirq_google/json_test_data/AnalogDetuneQubit.repr
  cirq-google/cirq_google/ops/__init__.py
  cirq-google/cirq_google/ops/analog_detune_gates.py
  cirq-google/cirq_google/ops/analog_detune_gates_test.py
Labels: size: L

#7437 Add AnalogTrajectory and FreqMap
  cirq-google/cirq_google/experimental/analog_experiments/__init__.py
  cirq-google/cirq_google/experimental/analog_experiments/analog_trajectory_util.py
  cirq-google/cirq_google/experimental/analog_experiments/analog_trajectory_util_test.py
  cirq-google/cirq_google/ops/analog_detune_gates.py
  cirq-google/cirq_google/study/symbol_util.py
  cirq-google/cirq_google/study/symbol_util_test.py
Labels: size: L

#7439 Make QVM notebooks use development version of cirq_google
  docs/hardware/qubit_picking.ipynb
  docs/simulate/noisy_simulation.ipynb
  docs/simulate/quantum_virtual_machine.ipynb
  docs/simulate/qvm_basic_example.ipynb
Labels: size: S

#7441 Address review comments for PR #7390
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_cz.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_cz_test.py
Labels: size: S

#7445 Permit installation for Python 3.10 (docs build only)
  cirq-aqt/setup.py
  cirq-core/cirq/_version.py
  cirq-core/setup.py
  cirq-google/cirq_google/_version.py
  cirq-google/setup.py
  cirq-ionq/setup.py
  cirq-pasqal/setup.py
  cirq-rigetti/setup.py
  cirq-web/setup.py
  dev_tools/modules_test_data/mod1/setup.py
  setup.py
Labels: size: S
