Repository quantumlib/Cirq, pull requests merged in 2025-08, with the labels that each got.

#7554 Add option and set the default float encoding as float32
  cirq-google/cirq_google/api/v2/sweeps.py
  cirq-google/cirq_google/api/v2/sweeps_test.py
Labels: size: M

#7543 Add CompressDurationTag
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/api/v2/program.proto
  cirq-google/cirq_google/api/v2/program_pb2.py
  cirq-google/cirq_google/api/v2/program_pb2.pyi
  cirq-google/cirq_google/json_resolver_cache.py
  cirq-google/cirq_google/json_test_data/CompressDurationTag.json
  cirq-google/cirq_google/json_test_data/CompressDurationTag.repr
  cirq-google/cirq_google/ops/__init__.py
  cirq-google/cirq_google/ops/compress_duration_tag.py
  cirq-google/cirq_google/ops/compress_duration_tag_test.py
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
Labels: size: L

#7555 Update OpenQASM compatibility table
  docs/build/interop.ipynb
Labels: Size: XS

#7538 Don't merge PhaseXPowGate into measurement gate in eject_phased_paulis
  cirq-core/cirq/transformers/eject_phased_paulis.py
  cirq-core/cirq/transformers/eject_phased_paulis_test.py
Labels: kind/bug-report, kind/health, area/gates, size: M, priority/before-1.6.1

#7568 Add return-type to public functions, mostly tests part 2
  cirq-core/cirq/contrib/noise_models/noise_models.py
  cirq-core/cirq/contrib/quimb/grid_circuits.py
  cirq-core/cirq/contrib/quimb/grid_circuits_test.py
  cirq-core/cirq/contrib/quimb/mps_simulator.py
  cirq-core/cirq/contrib/quimb/mps_simulator_test.py
  cirq-core/cirq/contrib/quimb/state_vector_test.py
  cirq-core/cirq/contrib/quirk/export_to_quirk_test.py
  cirq-core/cirq/contrib/quirk/linearize_circuit.py
  cirq-core/cirq/contrib/routing/device.py
  cirq-core/cirq/contrib/routing/device_test.py
  cirq-core/cirq/contrib/routing/greedy_test.py
  cirq-core/cirq/contrib/routing/initialization_test.py
  cirq-core/cirq/contrib/routing/router_test.py
  cirq-core/cirq/contrib/routing/swap_network_test.py
  cirq-core/cirq/contrib/routing/utils_test.py
  cirq-core/cirq/contrib/shuffle_circuits/shuffle_circuits_with_readout_benchmarking.py
  cirq-core/cirq/contrib/shuffle_circuits/shuffle_circuits_with_readout_benchmarking_test.py
  cirq-core/cirq/contrib/svg/svg.py
  cirq-core/cirq/devices/grid_device_metadata_test.py
  cirq-core/cirq/devices/grid_qubit_test.py
  cirq-core/cirq/devices/line_qubit_test.py
  cirq-core/cirq/devices/named_topologies.py
  cirq-core/cirq/devices/named_topologies_test.py
  cirq-core/cirq/devices/noise_model.py
  cirq-core/cirq/devices/noise_properties_test.py
  cirq-core/cirq/devices/noise_utils.py
  cirq-core/cirq/devices/noise_utils_test.py
  cirq-core/cirq/devices/superconducting_qubits_noise_properties_test.py
  cirq-core/cirq/devices/thermal_noise_model_test.py
  cirq-core/cirq/devices/unconstrained_device.py
  cirq-core/cirq/devices/unconstrained_device_test.py
  cirq-core/cirq/experiments/benchmarking/parallel_xeb.py
  cirq-core/cirq/experiments/benchmarking/parallel_xeb_test.py
  cirq-core/cirq/experiments/fidelity_estimation.py
  cirq-core/cirq/experiments/fidelity_estimation_test.py
  cirq-core/cirq/experiments/purity_estimation.py
  cirq-core/cirq/experiments/purity_estimation_test.py
  cirq-core/cirq/experiments/qubit_characterizations_test.py
  cirq-core/cirq/experiments/random_quantum_circuit_generation.py
  cirq-core/cirq/experiments/random_quantum_circuit_generation_test.py
  cirq-core/cirq/experiments/readout_confusion_matrix_test.py
  cirq-core/cirq/experiments/single_qubit_readout_calibration_test.py
  cirq-core/cirq/experiments/t2_decay_experiment.py
  cirq-core/cirq/experiments/t2_decay_experiment_test.py
  cirq-core/cirq/experiments/two_qubit_xeb_test.py
  cirq-core/cirq/experiments/xeb_fitting.py
  cirq-core/cirq/experiments/xeb_fitting_test.py
  cirq-core/cirq/experiments/xeb_sampling.py
  cirq-core/cirq/experiments/xeb_sampling_test.py
  cirq-core/cirq/experiments/xeb_simulation.py
  cirq-core/cirq/experiments/xeb_simulation_test.py
  cirq-core/cirq/ops/measure_util.py
Labels: size: L

#7561 Test all notebooks vs stable Cirq after the release
  dev_tools/notebooks/isolated_notebook_test.py
  docs/hardware/qubit_picking.ipynb
  docs/simulate/noisy_simulation.ipynb
  docs/simulate/quantum_virtual_machine.ipynb
  docs/simulate/qvm_basic_example.ipynb
  docs/simulate/qvm_builder_code.ipynb
  docs/simulate/qvm_stabilizer_example.ipynb
  docs/simulate/virtual_engine_interface.ipynb
Labels: area/docs, size: M, priority/before-1.6.1

#7573 Clarify the instructions about pre-release notebooks
  dev_tools/notebooks/isolated_notebook_test.py
  docs/dev/notebooks.md
Labels: area/docs, area/notebook-testing, size: S

#7564 Add serialization support for analog gates
  cirq-google/cirq_google/api/v2/program.proto
  cirq-google/cirq_google/api/v2/program_pb2.py
  cirq-google/cirq_google/api/v2/program_pb2.pyi
  cirq-google/cirq_google/ops/analog_detune_gates.py
  cirq-google/cirq_google/serialization/arg_func_langs.py
  cirq-google/cirq_google/serialization/arg_func_langs_test.py
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
Labels: size: L

#7576 Cite Cirq release 1.6.1
  CITATION.cff
Labels: Size: XS

#7580 ruff - enable and fix RUF027 - missing-f-string-syntax
  cirq-core/cirq/interop/quirk/cells/parse.py
  cirq-core/cirq/study/resolver.py
  cirq-google/cirq_google/serialization/arg_func_langs.py
  pyproject.toml
Labels: size: S

#7578 Change order of checking containment within a gateset
  cirq-core/cirq/ops/gateset.py
  cirq-core/cirq/ops/gateset_test.py
Labels: size: S

#7553 Handle None vs NotImplemented correctly in decompose protocol
  cirq-core/cirq/ops/classically_controlled_operation.py
  cirq-core/cirq/ops/controlled_operation.py
  cirq-core/cirq/ops/gate_operation.py
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/ops/raw_types_test.py
  cirq-core/cirq/protocols/decompose_protocol.py
  cirq-core/cirq/protocols/decompose_protocol_test.py
Labels: size: M

#7583 Add analog gates into device specification
  cirq-google/cirq_google/api/v2/device.proto
  cirq-google/cirq_google/api/v2/device_pb2.py
  cirq-google/cirq_google/api/v2/device_pb2.pyi
  cirq-google/cirq_google/devices/grid_device.py
  cirq-google/cirq_google/devices/grid_device_test.py
Labels: size: M

#7589 Add return-type to public functions, mostly tests part 3
  cirq-core/cirq/experiments/z_phase_calibration_test.py
  cirq-core/cirq/interop/quirk/cells/arithmetic_cells.py
  cirq-core/cirq/interop/quirk/cells/cell_test.py
  cirq-core/cirq/interop/quirk/cells/composite_cell_test.py
  cirq-core/cirq/interop/quirk/cells/control_cells.py
  cirq-core/cirq/interop/quirk/cells/input_cells.py
  cirq-core/cirq/interop/quirk/cells/input_rotation_cells.py
  cirq-core/cirq/interop/quirk/cells/swap_cell.py
  cirq-core/cirq/interop/quirk/cells/testing.py
  cirq-core/cirq/interop/quirk/url_to_circuit.py
  cirq-core/cirq/interop/quirk/url_to_circuit_test.py
  cirq-core/cirq/linalg/decompositions.py
  cirq-core/cirq/linalg/decompositions_test.py
  cirq-core/cirq/linalg/diagonalize_test.py
  cirq-core/cirq/linalg/predicates.py
  cirq-core/cirq/linalg/predicates_test.py
  cirq-core/cirq/linalg/transformations.py
  cirq-core/cirq/neutral_atoms/neutral_atom_devices.py
  cirq-core/cirq/ops/classically_controlled_operation.py
  cirq-core/cirq/ops/clifford_gate.py
  cirq-core/cirq/ops/common_channels_test.py
  cirq-core/cirq/ops/common_gates.py
  cirq-core/cirq/ops/controlled_operation.py
  cirq-core/cirq/ops/controlled_operation_test.py
  cirq-core/cirq/ops/dense_pauli_string_test.py
  cirq-core/cirq/ops/eigen_gate_test.py
  cirq-core/cirq/ops/gateset.py
  cirq-core/cirq/ops/gateset_test.py
  cirq-core/cirq/ops/linear_combinations.py
  cirq-core/cirq/ops/linear_combinations_test.py
  cirq-core/cirq/ops/matrix_gates_test.py
  cirq-core/cirq/ops/measure_util_test.py
  cirq-core/cirq/ops/measurement_gate_test.py
  cirq-core/cirq/ops/pauli_gates.py
  cirq-core/cirq/ops/pauli_measurement_gate_test.py
  cirq-core/cirq/ops/pauli_string_phasor_test.py
  cirq-core/cirq/ops/pauli_string_raw_types_test.py
  cirq-core/cirq/ops/pauli_string_test.py
  cirq-core/cirq/ops/permutation_gate.py
  cirq-core/cirq/ops/raw_types.py
  cirq-core/cirq/ops/raw_types_test.py
  cirq-core/cirq/ops/three_qubit_gates.py
  cirq-core/cirq/protocols/act_on_protocol.py
  cirq-core/cirq/protocols/act_on_protocol_test.py
  cirq-core/cirq/protocols/apply_channel_protocol_test.py
  cirq-core/cirq/protocols/apply_mixture_protocol_test.py
  cirq-core/cirq/protocols/apply_unitary_protocol_test.py
  cirq-core/cirq/protocols/approximate_equality_protocol_test.py
  cirq-core/cirq/protocols/circuit_diagram_info_protocol.py
  cirq-core/cirq/protocols/commutes_protocol_test.py
Labels: size: L

#7590 Replace typing_extensions with builtin typing module
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/moment.py
  cirq-core/cirq/devices/grid_qubit.py
  cirq-core/cirq/devices/line_qubit.py
  cirq-core/cirq/ops/arithmetic_operation.py
  cirq-core/cirq/ops/dense_pauli_string.py
  cirq-core/cirq/ops/gate_operation.py
  cirq-core/cirq/ops/parity_gates.py
  cirq-core/cirq/ops/pauli_string_raw_types.py
  cirq-core/cirq/protocols/act_on_protocol.py
  cirq-core/cirq/protocols/act_on_protocol_test.py
  cirq-core/cirq/protocols/apply_channel_protocol.py
  cirq-core/cirq/protocols/apply_mixture_protocol.py
  cirq-core/cirq/protocols/apply_unitary_protocol.py
  cirq-core/cirq/protocols/approximate_equality_protocol.py
  cirq-core/cirq/protocols/circuit_diagram_info_protocol.py
  cirq-core/cirq/protocols/commutes_protocol.py
  cirq-core/cirq/protocols/control_key_protocol.py
  cirq-core/cirq/protocols/decompose_protocol.py
  cirq-core/cirq/protocols/equal_up_to_global_phase_protocol.py
  cirq-core/cirq/protocols/has_unitary_protocol.py
  cirq-core/cirq/protocols/json_serialization.py
  cirq-core/cirq/protocols/kraus_protocol.py
  cirq-core/cirq/protocols/measurement_key_protocol.py
  cirq-core/cirq/protocols/mixture_protocol.py
  cirq-core/cirq/protocols/pauli_expansion_protocol.py
  cirq-core/cirq/protocols/phase_protocol.py
  cirq-core/cirq/protocols/qasm.py
  cirq-core/cirq/protocols/qid_shape_protocol.py
  cirq-core/cirq/protocols/resolve_parameters.py
  cirq-core/cirq/protocols/trace_distance_bound.py
  cirq-core/cirq/protocols/unitary_protocol.py
  cirq-core/cirq/qis/quantum_state_representation.py
  cirq-core/cirq/sim/simulation_state.py
  cirq-core/cirq/sim/simulation_state_base.py
  cirq-core/cirq/study/sweepable.py
  cirq-core/cirq/transformers/transformer_api.py
  cirq-core/cirq/value/classical_data.py
  cirq-core/cirq/value/linear_dict.py
  cirq-core/cirq/value/value_equality_attr.py
  cirq-core/cirq/work/collector.py
  cirq-core/requirements.txt
  cirq-google/cirq_google/engine/asyncio_executor.py
  cirq-google/cirq_google/study/device_parameter.py
Labels: size: M

#7599 Performance improvement in _check_duplicate_keys
  cirq-core/cirq/study/sweeps.py
Labels: size: S

#7562 update the RB fitting method to compensate for the standard deviation induced from the random number generator
  cirq-core/cirq/experiments/qubit_characterizations.py
  cirq-core/cirq/experiments/qubit_characterizations_test.py
Labels: size: M

#7601 Improve performance of _build_sweep_const
  cirq-google/cirq_google/api/v2/sweeps.py
  cirq-google/cirq_google/api/v2/sweeps_test.py
Labels: size: S

#7606 Delete unused script publish-dev-packages.sh
  dev_tools/packaging/generate-dev-version-id.sh
  dev_tools/packaging/publish-dev-package.sh
  docs/dev/development.md
  docs/dev/modules.md
Labels: size: L

#7608 OpenQASM lexer: allow leading `_` in identifiers
  cirq-core/cirq/contrib/qasm_import/_lexer.py
  cirq-core/cirq/contrib/qasm_import/_lexer_test.py
Labels: Size: XS

#7597 Generate reproducible dev-versions from the last commit time
  .github/workflows/ci.yml
  dev_tools/packaging/generate-dev-version-id.sh
  dev_tools/packaging/packaging_test.sh
  dev_tools/packaging/produce-package.sh
Labels: size: S
