Repository quantumlib/Cirq, pull requests merged in 2025-05, with the labels that each got.

#7317 Switch to unquoted type annotations part 5
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_cz.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_fsim.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_ms.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_sqrt_iswap.py
  cirq-core/cirq/transformers/drop_empty_moments.py
  cirq-core/cirq/transformers/drop_negligible_operations.py
  cirq-core/cirq/transformers/dynamical_decoupling.py
  cirq-core/cirq/transformers/dynamical_decoupling_test.py
  cirq-core/cirq/transformers/eject_phased_paulis.py
  cirq-core/cirq/transformers/eject_z.py
  cirq-core/cirq/transformers/expand_composite.py
  cirq-core/cirq/transformers/gauge_compiling/sqrt_cz_gauge.py
  cirq-core/cirq/transformers/heuristic_decompositions/two_qubit_gate_tabulation.py
  cirq-core/cirq/transformers/insertion_sort.py
  cirq-core/cirq/transformers/measurement_transformers.py
  cirq-core/cirq/transformers/merge_k_qubit_gates.py
  cirq-core/cirq/transformers/merge_k_qubit_gates_test.py
  cirq-core/cirq/transformers/merge_single_qubit_gates.py
  cirq-core/cirq/transformers/optimize_for_target_gateset.py
  cirq-core/cirq/transformers/optimize_for_target_gateset_test.py
  cirq-core/cirq/transformers/qubit_management_transformers.py
  cirq-core/cirq/transformers/randomized_measurements.py
  cirq-core/cirq/transformers/routing/initial_mapper.py
  cirq-core/cirq/transformers/routing/line_initial_mapper.py
  cirq-core/cirq/transformers/routing/mapping_manager.py
  cirq-core/cirq/transformers/routing/route_circuit_cqc.py
  cirq-core/cirq/transformers/routing/visualize_routed_circuit.py
  cirq-core/cirq/transformers/stratify.py
  cirq-core/cirq/transformers/synchronize_terminal_measurements.py
  cirq-core/cirq/transformers/target_gatesets/compilation_target_gateset.py
  cirq-core/cirq/transformers/target_gatesets/compilation_target_gateset_test.py
  cirq-core/cirq/transformers/target_gatesets/cz_gateset.py
  cirq-core/cirq/transformers/target_gatesets/sqrt_iswap_gateset.py
  cirq-core/cirq/transformers/transformer_api.py
  cirq-core/cirq/transformers/transformer_primitives.py
  cirq-core/cirq/transformers/transformer_primitives_test.py
  cirq-core/cirq/value/classical_data.py
  cirq-core/cirq/value/condition.py
  cirq-core/cirq/value/duration.py
  cirq-core/cirq/value/linear_dict.py
  cirq-core/cirq/value/periodic_value.py
  cirq-core/cirq/value/probability.py
  cirq-core/cirq/value/product_state.py
  cirq-core/cirq/work/collector.py
  cirq-core/cirq/work/observable_measurement.py
  cirq-core/cirq/work/observable_measurement_data.py
  cirq-core/cirq/work/observable_readout_calibration.py
  cirq-core/cirq/work/observable_readout_calibration_test.py
  cirq-core/cirq/work/observable_settings.py
  cirq-core/cirq/work/pauli_sum_collector.py
Labels: size: L

#7236 Add the capability to accept group Paulis that can be measured using same measurement results
  cirq-core/cirq/contrib/paulistring/pauli_string_measurement_with_readout_mitigation.py
  cirq-core/cirq/contrib/paulistring/pauli_string_measurement_with_readout_mitigation_test.py
Labels: size: L, priority/after-1.5

#7304 Rewrite inefficient `sum(..., [])` and `sum(..., ())`
  cirq-core/cirq/contrib/acquaintance/gates.py
  cirq-core/cirq/ops/boolean_hamiltonian_test.py
  cirq-core/cirq/study/sweeps.py
  cirq-core/cirq/transformers/analytical_decompositions/controlled_gate_decomposition.py
Labels: size: S

#7324 CI - fix type check with a temporary pin to numpy-1
  dev_tools/requirements/mypy.env.txt
Labels: Size: XS

#6940 Create a new implementation of parallel XEB and its methods
  cirq-core/cirq/experiments/benchmarking/__init__.py
  cirq-core/cirq/experiments/benchmarking/parallel_xeb.py
  cirq-core/cirq/experiments/benchmarking/parallel_xeb_test.py
  cirq-core/cirq/experiments/two_qubit_xeb.py
Labels: size: XL, priority/after-1.5

#7325 Switch to unquoted type annotations part 6
  cirq-aqt/cirq_aqt/aqt_device_test.py
  cirq-core/cirq/_compat_test.py
  cirq-core/cirq/circuits/insert_strategy.py
  cirq-core/cirq/contrib/acquaintance/gates_test.py
  cirq-core/cirq/contrib/graph_device/hypergraph.py
  cirq-core/cirq/contrib/paulistring/pauli_string_measurement_with_readout_mitigation.py
  cirq-core/cirq/contrib/paulistring/pauli_string_measurement_with_readout_mitigation_test.py
  cirq-core/cirq/contrib/paulistring/pauli_string_optimize.py
  cirq-core/cirq/contrib/qasm_import/qasm.py
  cirq-core/cirq/contrib/quimb/density_matrix.py
  cirq-core/cirq/contrib/quimb/state_vector.py
  cirq-core/cirq/contrib/quirk/quirk_gate.py
  cirq-core/cirq/contrib/routing/router.py
  cirq-core/cirq/contrib/shuffle_circuits/shuffle_circuits_with_readout_benchmarking.py
  cirq-core/cirq/experiments/fidelity_estimation.py
  cirq-core/cirq/linalg/combinators.py
  cirq-core/cirq/linalg/predicates.py
  cirq-core/cirq/linalg/tolerance.py
  cirq-core/cirq/neutral_atoms/convert_to_neutral_atom_gates.py
  cirq-core/cirq/ops/clifford_gate_test.py
  cirq-core/cirq/ops/projector.py
  cirq-core/cirq/transformers/gauge_compiling/cphase_gauge.py
  cirq-core/cirq/vis/heatmap.py
  cirq-core/cirq/work/sampler.py
  cirq-core/cirq/work/sampler_test.py
  cirq-core/cirq/work/zeros_sampler.py
  cirq-core/cirq/work/zeros_sampler_test.py
  cirq-google/cirq_google/devices/google_noise_properties.py
  cirq-google/cirq_google/devices/known_devices.py
  cirq-google/cirq_google/engine/abstract_local_program.py
  cirq-google/cirq_google/engine/calibration_to_noise_properties.py
  cirq-google/cirq_google/engine/engine.py
  cirq-google/cirq_google/engine/engine_job.py
  cirq-google/cirq_google/engine/engine_result.py
  cirq-google/cirq_google/engine/processor_sampler.py
  cirq-google/cirq_google/engine/simulated_local_job.py
  cirq-google/cirq_google/ops/coupler.py
  cirq-google/cirq_google/serialization/stimcirq_deserializer.py
  cirq-google/cirq_google/serialization/stimcirq_serializer.py
  cirq-google/cirq_google/serialization/tag_deserializer.py
  cirq-google/cirq_google/serialization/tag_serializer.py
  cirq-google/cirq_google/transformers/target_gatesets/sycamore_gateset.py
  cirq-google/cirq_google/workflow/_device_shim.py
  cirq-google/cirq_google/workflow/qubit_placement.py
  cirq-ionq/cirq_ionq/ionq_gateset.py
  cirq-ionq/cirq_ionq/ionq_native_gates.py
  cirq-ionq/cirq_ionq/ionq_native_target_gateset.py
  cirq-ionq/cirq_ionq/serializer.py
  cirq-pasqal/cirq_pasqal/pasqal_device.py
  cirq-pasqal/cirq_pasqal/pasqal_gateset.py
Labels: size: L

#7294 Start deprecating pass_operations_over for PauliString and PauliStringPhasor
  cirq-core/cirq/contrib/paulistring/clifford_optimize.py
  cirq-core/cirq/contrib/paulistring/recombine.py
  cirq-core/cirq/contrib/paulistring/separate.py
  cirq-core/cirq/ops/pauli_string.py
  cirq-core/cirq/ops/pauli_string_phasor.py
  cirq-core/cirq/ops/pauli_string_phasor_test.py
  cirq-core/cirq/ops/pauli_string_test.py
Labels: size: M

#7306 Add tag_transformers remove_tags, index_tags.
  cirq-core/cirq/__init__.py
  cirq-core/cirq/transformers/__init__.py
  cirq-core/cirq/transformers/tag_transformers.py
  cirq-core/cirq/transformers/tag_transformers_test.py
Labels: size: L

#7308 Fix qubit metadata in identifying_hardware_changes
  docs/tutorials/google/identifying_hardware_changes.ipynb
Labels: Size: XS

#7309 Add WillowGate to cirq_google serialization
  cirq-google/cirq_google/api/v2/program.proto
  cirq-google/cirq_google/api/v2/program_pb2.py
  cirq-google/cirq_google/api/v2/program_pb2.pyi
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
Labels: size: L

#7326 Disable all GitHub Actions jobs in forks
  .github/workflows/ci-daily.yml
  .github/workflows/ci-weekly.yml
  .github/workflows/ci.yml
  .github/workflows/ossf-scorecard.yaml
  .github/workflows/pr-labeler.yaml
  .github/workflows/stale.yml
Labels: size: S

#7335 Pin Cotengra version
  cirq-core/cirq/contrib/requirements.txt
Labels: Size: XS

#7331 Add few more return-type annotations to tests
  cirq-core/cirq/contrib/qasm_import/_parser_test.py
  cirq-core/cirq/testing/random_circuit_test.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_cz_test.py
  cirq-core/cirq/transformers/analytical_decompositions/two_qubit_to_fsim_test.py
  cirq-core/cirq/transformers/routing/line_initial_mapper_test.py
Labels: size: S

#7328 Fix identifying hardware changes notebook
  docs/tutorials/google/identifying_hardware_changes.ipynb
Labels: size: L

#7333 Adjust type annotations for numpy-2
  cirq-core/cirq/experiments/qubit_characterizations.py
  cirq-core/cirq/experiments/z_phase_calibration.py
  cirq-core/cirq/linalg/operator_spaces.py
  cirq-core/cirq/ops/arithmetic_operation_test.py
  cirq-core/cirq/ops/controlled_operation.py
  cirq-core/cirq/ops/linear_combinations.py
  cirq-core/cirq/qis/entropy.py
  cirq-core/cirq/sim/clifford/stabilizer_state_ch_form.py
  cirq-core/cirq/sim/simulation_utils.py
  cirq-core/cirq/sim/simulation_utils_test.py
  cirq-core/cirq/work/observable_measurement_data.py
  cirq-google/cirq_google/api/v1/programs.py
  dev_tools/requirements/mypy.env.txt
Labels: size: M

#7340 Unpin cotengra requirement
  cirq-core/cirq/contrib/requirements.txt
Labels: Size: XS

#7332 Update .git-blame-ignore-revs for test return types.
  .git-blame-ignore-revs
Labels: Size: XS

#7141 Optimize the HHL algorithm using amplitude amplification
  examples/hhl.py
Labels: size: L, priority/after-1.5

#7329 Remove documentation references to optimized_for_sycamore
  docs/google/concepts.ipynb
  docs/google/devices.md
  docs/tutorials/google/spin_echoes.ipynb
Labels: size: S

#7338 NEP-29 - require minimum Python version 3.11
  .github/workflows/ci-daily.yml
  .github/workflows/ci-weekly.yml
  .github/workflows/ci.yml
  .github/workflows/release-main.yml
  Dockerfile
  README.md
  asv.conf.json
  benchmarks/README.md
  cirq-aqt/setup.py
  cirq-core/cirq/_compat.py
  cirq-core/cirq/_version.py
  cirq-core/setup.py
  cirq-google/cirq_google/_version.py
  cirq-google/setup.py
  cirq-ionq/setup.py
  cirq-pasqal/setup.py
  cirq-rigetti/setup.py
  cirq-web/setup.py
  dev_tools/modules_test.py
  dev_tools/modules_test_data/mod1/setup.py
  dev_tools/packaging/packaging_test.sh
  docs/dev/development.md
  docs/start/install.md
  pyproject.toml
  release.md
  setup.py
Labels: size: M

#7341 Fix another round of typing issues
  cirq-core/cirq/_import_test.py
  cirq-core/cirq/interop/quirk/cells/parse_test.py
  cirq-core/cirq/testing/equals_tester_test.py
  cirq-core/cirq/value/random_state_test.py
  cirq-core/cirq/value/timestamp.py
  cirq-core/cirq/value/timestamp_test.py
  cirq-core/cirq/vis/density_matrix_test.py
  cirq-core/cirq/work/collector_test.py
  cirq-core/cirq/work/observable_measurement.py
  cirq-core/cirq/work/observable_measurement_data.py
  cirq-core/cirq/work/observable_measurement_test.py
  cirq-core/cirq/work/observable_settings.py
  cirq-core/cirq/work/observable_settings_test.py
  cirq-core/cirq/work/pauli_sum_collector_test.py
  cirq-core/cirq/work/sampler_test.py
Labels: size: L

#7307 Add a symbolize transformer
  cirq-core/cirq/__init__.py
  cirq-core/cirq/transformers/__init__.py
  cirq-core/cirq/transformers/symbolize.py
  cirq-core/cirq/transformers/symbolize_test.py
Labels: size: M

#7347 Remove Dockerfile and associated files and documentation
  .dockerignore
  .github/dependabot.yml
  Dockerfile
  dev_tools/conf/apt-list-dev-tools.txt
  dev_tools/docker_test.py
  docs/dev/development.md
Labels: size: M

#7349 Support Reset gate in GridDevice and device specification proto
  cirq-google/cirq_google/api/v2/device.proto
  cirq-google/cirq_google/api/v2/device_pb2.py
  cirq-google/cirq_google/api/v2/device_pb2.pyi
  cirq-google/cirq_google/devices/grid_device.py
  cirq-google/cirq_google/devices/grid_device_test.py
Labels: size: M

#7348 Update Type Hints
  cirq-aqt/cirq_aqt/aqt_device.py
  cirq-aqt/cirq_aqt/aqt_device_metadata_test.py
  cirq-aqt/cirq_aqt/aqt_device_test.py
  cirq-aqt/cirq_aqt/aqt_sampler.py
  cirq-aqt/cirq_aqt/aqt_target_gateset.py
  cirq-aqt/cirq_aqt/json_resolver_cache.py
Labels: size: M

#7350 Add QVM helper `extract_gate_times_ns_from_device`
  cirq-google/cirq_google/engine/virtual_engine_factory.py
  cirq-google/cirq_google/engine/virtual_engine_factory_test.py
Labels: size: M

#7290 Added QASM Import Support for rzz, rxx, ryy, crx, cry, and iswap Gates
  cirq-core/cirq/contrib/qasm_import/_parser.py
  cirq-core/cirq/contrib/qasm_import/_parser_test.py
Labels: size: L

#7359 Unpin upper bound on setuptools requirement
  dev_tools/requirements/deps/packaging.txt
Labels: Size: XS

#7363 Ignore typing PR for git blame.
  .git-blame-ignore-revs
Labels: Size: XS

#7367 Finalize switch to PEP 585 style type annotations
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/linalg/decompositions.py
  cirq-core/cirq/ops/arithmetic_operation.py
  cirq-core/cirq/ops/op_tree.py
  cirq-core/cirq/ops/raw_types.py
  cirq-google/cirq_google/cloud/quantum_v1alpha1/services/quantum_engine_service/async_client.py
  cirq-google/cirq_google/cloud/quantum_v1alpha1/services/quantum_engine_service/client.py
  cirq-google/cirq_google/cloud/quantum_v1alpha1/services/quantum_engine_service/pagers.py
  cirq-google/cirq_google/cloud/quantum_v1alpha1/services/quantum_engine_service/transports/__init__.py
  cirq-google/cirq_google/cloud/quantum_v1alpha1/services/quantum_engine_service/transports/base.py
  cirq-google/cirq_google/cloud/quantum_v1alpha1/services/quantum_engine_service/transports/grpc.py
  cirq-google/cirq_google/cloud/quantum_v1alpha1/services/quantum_engine_service/transports/grpc_asyncio.py
  cirq-google/cirq_google/devices/google_noise_properties.py
  dev_tools/docs/run_doctest.py
  docs/dev/modules.md
  docs/experiments/fourier_checking.ipynb
  docs/experiments/shor.ipynb
  docs/transform/routing_transformer.ipynb
Labels: size: L

#7365 Flatten controlled-CZ and controlled-CX more consistently
  cirq-core/cirq/ops/common_gates.py
  cirq-core/cirq/ops/common_gates_test.py
  cirq-core/cirq/ops/controlled_gate.py
Labels: size: M

#7369 Add QVM factory function load_device_noise_properties
  cirq-google/cirq_google/engine/__init__.py
  cirq-google/cirq_google/engine/virtual_engine_factory.py
  cirq-google/cirq_google/engine/virtual_engine_factory_test.py
Labels: size: S

#7366 Add new "willow_pink" processor to the QVM factory
  cirq-google/cirq_google/devices/calibrations/willow_pink_d7v1-2024_08_16_calibration.json
  cirq-google/cirq_google/devices/specifications/willow_pink_d7v1-2024_08_16_device_spec_for_grid_device.proto.txt
  cirq-google/cirq_google/engine/virtual_engine_factory.py
  cirq-google/cirq_google/engine/virtual_engine_factory_test.py
Labels: size: XL

#7283 Decompose controlled 1x1 unitary gates generically, not just GlobalPhaseGate
  cirq-core/cirq/ops/controlled_gate.py
  cirq-core/cirq/ops/controlled_gate_test.py
Labels: size: M

#7378 Bump networkx to minimum version 3.4
  cirq-core/requirements.txt
Labels: Size: XS

#7362 Move cirq-ts files to cirq-web
  .github/dependabot.yml
  check/npm
  check/npx
  check/ts-build-current
  cirq-web/README.md
  cirq-web/cirq_ts/README.md
  cirq-web/cirq_ts/__init__.py
  cirq-web/cirq_web/.eslintignore
  cirq-web/cirq_web/.eslintrc.json
  cirq-web/cirq_web/.nycrc.json
  cirq-web/cirq_web/.prettierrc.js
  cirq-web/cirq_web/README.md
  cirq-web/cirq_web/dist/bloch_sphere.bundle.js
  cirq-web/cirq_web/dist/bloch_sphere.bundle.js.LICENSE.txt
  cirq-web/cirq_web/dist/circuit.bundle.js
  cirq-web/cirq_web/dist/circuit.bundle.js.LICENSE.txt
  cirq-web/cirq_web/dist/html/bloch_sphere.html
  cirq-web/cirq_web/dist/html/circuit.html
  cirq-web/cirq_web/dist/index.html
  cirq-web/cirq_web/e2e/bloch_sphere/bloch_sphere_e2e_test.ts
  cirq-web/cirq_web/e2e/bloch_sphere/bloch_sphere_expected.png
  cirq-web/cirq_web/e2e/bloch_sphere/bloch_sphere_expected_custom.png
  cirq-web/cirq_web/e2e/circuit/circuit_e2e_test.ts
  cirq-web/cirq_web/e2e/circuit/circuit_expected.png
  cirq-web/cirq_web/package-lock.json
  cirq-web/cirq_web/package.json
  cirq-web/cirq_web/src/bloch_sphere/bloch_sphere.ts
  cirq-web/cirq_web/src/bloch_sphere/bloch_sphere_test.ts
  cirq-web/cirq_web/src/bloch_sphere/components/axes.ts
  cirq-web/cirq_web/src/bloch_sphere/components/axes_test.ts
  cirq-web/cirq_web/src/bloch_sphere/components/enums.ts
  cirq-web/cirq_web/src/bloch_sphere/components/meridians.ts
  cirq-web/cirq_web/src/bloch_sphere/components/meridians_test.ts
  cirq-web/cirq_web/src/bloch_sphere/components/scene.ts
  cirq-web/cirq_web/src/bloch_sphere/components/sphere.ts
  cirq-web/cirq_web/src/bloch_sphere/components/sphere_test.ts
  cirq-web/cirq_web/src/bloch_sphere/components/state_vector.ts
  cirq-web/cirq_web/src/bloch_sphere/components/state_vector_test.ts
  cirq-web/cirq_web/src/bloch_sphere/components/text.ts
  cirq-web/cirq_web/src/bloch_sphere/components/text_test.ts
  cirq-web/cirq_web/src/bloch_sphere/main.ts
  cirq-web/cirq_web/src/circuit/components/grid_qubit.ts
  cirq-web/cirq_web/src/circuit/components/grid_qubit_test.ts
  cirq-web/cirq_web/src/circuit/components/meshes.ts
  cirq-web/cirq_web/src/circuit/components/types.ts
  cirq-web/cirq_web/src/circuit/components/types_test.ts
  cirq-web/cirq_web/src/circuit/grid_circuit.ts
  cirq-web/cirq_web/src/circuit/grid_circuit_test.ts
  cirq-web/cirq_web/src/circuit/main.ts
  cirq-web/cirq_web/tsconfig.json
  cirq-web/cirq_web/webpack.config.js
  cirq-web/cirq_web/widget.py
  cirq-web/setup.py
  dev_tools/docs/run_doctest.py
  dev_tools/packaging/packaging_test.sh
Labels: size: L

#7342 Update format-incremental script to format notebooks
  check/format-incremental
  dev_tools/requirements/deps/format.txt
Labels: size: S

#7386 Format all notebooks (no change in the code)
  cirq-core/cirq/contrib/quimb/Cirq-to-Tensor-Networks.ipynb
  cirq-core/cirq/contrib/quimb/Contract-a-Grid-Circuit.ipynb
  cirq-core/cirq/contrib/svg/example.ipynb
  cirq-web/bloch_sphere_example.ipynb
  cirq-web/circuit_example.ipynb
  docs/_template.ipynb
  docs/build/custom_gates.ipynb
  docs/build/gates.ipynb
  docs/build/interop.ipynb
  docs/build/operators.ipynb
  docs/build/protocols.ipynb
  docs/build/qubits.ipynb
  docs/build/qudits.ipynb
  docs/experiments/fourier_checking.ipynb
  docs/experiments/hidden_linear_function.ipynb
  docs/experiments/quantum_walks.ipynb
  docs/experiments/shor.ipynb
  docs/experiments/textbook_algorithms.ipynb
  docs/experiments/variational_algorithm.ipynb
  docs/gatezoo.ipynb
  docs/google/best_practices.ipynb
  docs/google/concepts.ipynb
  docs/google/internal_gates.ipynb
  docs/google/qubit-placement.ipynb
  docs/hardware/aqt/getting_started.ipynb
  docs/hardware/azure-quantum/getting_started_honeywell.ipynb
  docs/hardware/azure-quantum/getting_started_ionq.ipynb
  docs/hardware/ionq/getting_started.ipynb
  docs/hardware/pasqal/getting_started.ipynb
  docs/hardware/rigetti/getting_started.ipynb
  docs/named_topologies.ipynb
  docs/noise/heatmaps.ipynb
  docs/noise/qcvv/coherent_vs_incoherent_xeb.ipynb
  docs/noise/qcvv/isolated_xeb.ipynb
  docs/noise/qcvv/parallel_xeb.ipynb
  docs/noise/qcvv/xeb_calibration_example.ipynb
  docs/noise/qcvv/xeb_theory.ipynb
  docs/noise/representing_noise.ipynb
  docs/simulate/noisy_simulation.ipynb
  docs/simulate/params.ipynb
  docs/simulate/qvm_stabilizer_example.ipynb
  docs/simulate/state_histograms.ipynb
  docs/start/intro.ipynb
  docs/transform/routing_transformer.ipynb
  docs/tutorials/google/colab.ipynb
  docs/tutorials/google/echoes.ipynb
  docs/tutorials/google/identifying_hardware_changes.ipynb
  docs/tutorials/google/spin_echoes.ipynb
  docs/tutorials/google/start.ipynb
  docs/tutorials/google/visualizing_calibration_metrics.ipynb
  examples/advanced/quantum_utility_sim_4a.ipynb
  examples/advanced/quantum_utility_sim_4b.ipynb
  examples/advanced/quantum_volume.ipynb
  examples/advanced/quantum_volume_errors.ipynb
  examples/advanced/quantum_volume_routing.ipynb
  examples/direct_fidelity_estimation.ipynb
  examples/stabilizer_code.ipynb
Labels: size: XL

#7387 pylint - sync with rules used in internal codes
  cirq-core/cirq/ops/control_values_test.py
  cirq-core/cirq/ops/pauli_gates_test.py
  cirq-core/cirq/ops/raw_types_test.py
  cirq-core/cirq/ops/state_preparation_channel_test.py
  cirq-core/cirq/protocols/qasm.py
  cirq-core/cirq/sim/clifford/clifford_simulator_test.py
  cirq-core/cirq/sim/simulator_test.py
  cirq-core/cirq/value/abc_alt.py
  cirq-core/cirq/value/linear_dict_test.py
  cirq-core/cirq/value/measurement_key_test.py
  cirq-core/cirq/value/timestamp_test.py
  dev_tools/conf/.pylintrc
Labels: size: M

#7382 Take care of leftover conversions to PEP 585 style
  cirq-core/cirq/protocols/circuit_diagram_info_protocol.py
  cirq-core/cirq/transformers/transformer_api.py
  docs/dev/plotting.md
  docs/dev/style.md
  docs/experiments/shor.ipynb
  docs/named_topologies.ipynb
  docs/noise/qcvv/xeb_calibration_example.ipynb
  docs/tutorials/google/echoes.ipynb
  docs/tutorials/google/spin_echoes.ipynb
Labels: size: M

#7389 Ignore notebook formatting in git blame
  .git-blame-ignore-revs
Labels: Size: XS
