Repository quantumlib/Cirq, pull requests merged in 2025-03, with the labels that each got.

#7110 [Bugfix] Re-allow non-integral line/grid qubits
  cirq-core/cirq/devices/grid_qubit.py
  cirq-core/cirq/devices/grid_qubit_test.py
  cirq-core/cirq/devices/line_qubit.py
  cirq-core/cirq/devices/line_qubit_test.py
Labels: size: S

#7109 Add magic square game
  examples/README.md
  examples/magic_square.py
  examples/magic_square_test.py
Labels: size: L

#7111 Add cphase_gauge
  cirq-core/cirq/transformers/gauge_compiling/__init__.py
  cirq-core/cirq/transformers/gauge_compiling/cphase_gauge.py
  cirq-core/cirq/transformers/gauge_compiling/cphase_gauge_test.py
Labels: size: M

#7116 cirq-google - get CZ gate noise properties from engine calibration data
  cirq-google/cirq_google/engine/calibration_to_noise_properties.py
Labels: Size: XS

#7117 Combine cirq-web updates from dependabot
  cirq-web/cirq_ts/dist/bloch_sphere.bundle.js
  cirq-web/cirq_ts/dist/circuit.bundle.js
  cirq-web/cirq_ts/package-lock.json
  cirq-web/cirq_ts/package.json
Labels: size: L

#7126 Avoid broken wheels for qcs-sdk-python
  Dockerfile
  cirq-rigetti/requirements.txt
Labels: Size: XS, size: S

#7125 Fix typo in README
  README.md
Labels: Size: XS

#7124 Remove sweep_must_pass in gauge_compiling tests
  cirq-core/cirq/transformers/gauge_compiling/cphase_gauge_test.py
  cirq-core/cirq/transformers/gauge_compiling/cz_gauge_test.py
  cirq-core/cirq/transformers/gauge_compiling/spin_inversion_gauge_test.py
  cirq-core/cirq/transformers/gauge_compiling/sqrt_cz_gauge_test.py
Labels: size: S

#7127 Fix isolated notebooks tests against stable Cirq
  dev_tools/notebooks/isolated_notebook_test.py
Labels: Size: XS

#7101 Support for stimcirq gates and operations in cirq_google protos
  cirq-core/cirq/ops/gate_operation_test.py
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
  dev_tools/conf/mypy.ini
  dev_tools/requirements/deps/dev-tools.txt
Labels: size: M

#7121 Add workflow to welcome first-time contributors
  .github/workflows/first-interaction.yaml
Labels: size: M

#7133 Format proto files
  cirq-google/cirq_google/api/v1/program.proto
  cirq-google/cirq_google/api/v2/batch.proto
  cirq-google/cirq_google/api/v2/calibration.proto
  cirq-google/cirq_google/api/v2/metrics.proto
  cirq-google/cirq_google/api/v2/ndarrays.proto
  cirq-google/cirq_google/api/v2/ndarrays_pb2.pyi
  cirq-google/cirq_google/api/v2/program.proto
  cirq-google/cirq_google/api/v2/program_pb2.pyi
  cirq-google/cirq_google/api/v2/result.proto
  cirq-google/cirq_google/api/v2/result_pb2.pyi
  cirq-google/cirq_google/api/v2/run_context.proto
  cirq-google/cirq_google/api/v2/run_context_pb2.pyi
Labels: size: L

#7136 Ignore proto code formatting in git blame
  .git-blame-ignore-revs
Labels: Size: XS

#7137 Add missing import of qiskit.qasm2 in unit test
  cirq-core/cirq/contrib/qasm_import/_parser_test.py
Labels: size: S

#7135 Fix deserialization of reset gates when dimensions missing.
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
Labels: size: S

#7043 Fix nondeterminacy in Circuit.insert (simplified)
  cirq-core/cirq/circuits/circuit.py
  cirq-core/cirq/circuits/circuit_test.py
Labels: size: M

#7134 Tweak the first-interaction workflow
  .github/workflows/first-interaction.yaml
Labels: Size: XS

#7128 Small fixes of linalg.decompositions
  cirq-core/cirq/linalg/decompositions.py
  cirq-core/cirq/linalg/decompositions_test.py
Labels: kind/health, area/linalg, area/decomposition, size: M

#7123 Update pass_operations_over with fixed conjugated_by
  cirq-core/cirq/ops/pauli_string.py
  cirq-core/cirq/ops/pauli_string_phasor_test.py
  cirq-core/cirq/ops/pauli_string_test.py
Labels: area/paulis, area/decomposition, area/clifford-group, size: M

#7082 Fix moment commutation detection for group-commuting operations (#6659)
  cirq-core/cirq/circuits/moment.py
  cirq-core/cirq/circuits/moment_test.py
  cirq-core/cirq/ops/raw_types.py
Labels: size: M

#7170 Decouple cirq package from cirq-rigetti
  docs/hardware/rigetti/getting_started.ipynb
  setup.py
Labels: area/releases

#7176 Deprecate Cirq-Rigetti
  cirq-core/cirq/protocols/hash_from_pickle_test.py
  cirq-rigetti/README.md
  cirq-rigetti/cirq_rigetti/aspen_device.py
  cirq-rigetti/cirq_rigetti/aspen_device_test.py
  cirq-rigetti/cirq_rigetti/circuit_sweep_executors.py
  cirq-rigetti/cirq_rigetti/circuit_sweep_executors_test.py
  cirq-rigetti/cirq_rigetti/circuit_transformers.py
  cirq-rigetti/cirq_rigetti/circuit_transformers_test.py
  cirq-rigetti/cirq_rigetti/deprecation.py
  cirq-rigetti/cirq_rigetti/json_test_data/spec.py
  cirq-rigetti/cirq_rigetti/qcs_sampler_and_service_test.py
  cirq-rigetti/cirq_rigetti/quil_input.py
  cirq-rigetti/cirq_rigetti/quil_input_test.py
  cirq-rigetti/cirq_rigetti/quil_output.py
  cirq-rigetti/cirq_rigetti/quil_output_test.py
  cirq-rigetti/cirq_rigetti/sampler.py
  cirq-rigetti/cirq_rigetti/sampler_bell_circuit_test.py
  cirq-rigetti/cirq_rigetti/sampler_parametric_circuit_test.py
  cirq-rigetti/cirq_rigetti/sampler_readout_reassigned_qubits_test.py
  cirq-rigetti/cirq_rigetti/sampler_readout_separate_memory_regions_test.py
  cirq-rigetti/cirq_rigetti/sampler_test.py
  cirq-rigetti/cirq_rigetti/service.py
  cirq-rigetti/cirq_rigetti/service_bell_circuit_test.py
  cirq-rigetti/cirq_rigetti/service_parametric_circuit_test.py
  cirq-rigetti/cirq_rigetti/service_test.py
  cirq-rigetti/setup.py
  dev_tools/docs/run_doctest.py
Labels: kind/deprecation

#7067 Add a tool for measuring expectation values of Pauli strings with readout error mitigation
  cirq-core/cirq/contrib/paulistring/__init__.py
  cirq-core/cirq/contrib/paulistring/pauli_string_measurement_with_readout_mitigation.py
  cirq-core/cirq/contrib/paulistring/pauli_string_measurement_with_readout_mitigation_test.py
  cirq-core/cirq/contrib/shuffle_circuits/shuffle_circuits_with_readout_benchmarking.py
  cirq-core/cirq/contrib/shuffle_circuits/shuffle_circuits_with_readout_benchmarking_test.py
Labels: size: L

#7180 Fix tiny misformatting of comments by Stale issue handler
  .github/workflows/stale.yml
Labels: priority/p3, area/github, priority/after-1.5

#7179 Filter out harmless quimb-related warnings in check/doctest
  dev_tools/docs/run_doctest.py
  pyproject.toml
Labels: area/dependencies, area/contrib/quimb

#7188 Avoid frequent test failure in greedy_test.py by increasing timeout
  cirq-core/cirq/contrib/routing/greedy_test.py
Labels: area/testing, area/flaky-tests

#7191 Update Zenodo info & correct a small typo
  release.md
Labels: area/releases, area/docs

#7175 Update and make minor additions to docs/ in time for Cirq 1.5
  docs/_book.yaml
  docs/build/_index.yaml
  docs/build/ecosystem.md
  docs/citation.md
  docs/dev/development.md
  docs/dev/gates.md
  docs/dev/modules.md
  docs/dev/notebooks.md
  docs/dev/plotting.md
  docs/dev/style.md
  docs/dev/support.md
  docs/dev/triage.md
  docs/dev/versions.md
  docs/experiments/fourier_checking.ipynb
  docs/experiments/variational_algorithm.ipynb
  docs/google/best_practices.ipynb
  docs/google/concepts.ipynb
  docs/google/engine.md
  docs/hardware/_index.yaml
  docs/hardware/ionq/circuits.md
  docs/hardware/pasqal/getting_started.ipynb
  docs/hardware/rigetti/access.md
  docs/hardware/rigetti/getting_started.ipynb
  docs/noise/qcvv/coherent_vs_incoherent_xeb.ipynb
  docs/simulate/virtual_engine_interface.ipynb
  docs/start/basics.ipynb
  docs/start/best_practices.md
  docs/start/install.md
  docs/start/intro.ipynb
  docs/start/start.ipynb
  docs/tutorials/google/start.ipynb
  docs/tutorials/google/visualizing_calibration_metrics.ipynb
Labels: area/docs

#7198 Fix #5497: update IonQ docs to remove decompose_operation
  docs/hardware/ionq/circuits.md
Labels: interface/cirq-ionq, area/docs

#7199 Revise Community section
  README.md
Labels: area/docs
