Repository quantumlib/Cirq, pull requests merged in 2025-04, with the labels that each got.

#7203 Resolve issue #7000 by adding PR labeler workflow
  .github/workflows/pr-labeler.yaml
Labels: kind/health, area/ci, area/cirqbot

#7225 Try using a PAT
  .github/workflows/pr-labeler.yaml
Labels: Size: XS

#7183 Remove previously deprecated fields in cirq_google proto
  cirq-google/cirq_google/api/v2/program.proto
  cirq-google/cirq_google/api/v2/program_pb2.py
  cirq-google/cirq_google/api/v2/program_pb2.pyi
  cirq-google/cirq_google/engine/engine_program_test.py
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
  cirq-google/cirq_google/serialization/op_deserializer_test.py
  cirq-google/cirq_google/serialization/op_serializer_test.py
Labels: priority/before-1.5

#7118 Compensate for global phase in MatrixGate decomposition
  cirq-core/cirq/linalg/__init__.py
  cirq-core/cirq/linalg/transformations.py
  cirq-core/cirq/linalg/transformations_test.py
  cirq-core/cirq/ops/controlled_gate.py
  cirq-core/cirq/ops/controlled_gate_test.py
  cirq-core/cirq/ops/matrix_gates.py
  cirq-core/cirq/transformers/analytical_decompositions/three_qubit_decomposition.py
  cirq-ionq/cirq_ionq/ionq_gateset.py
Labels: size: M, priority/before-1.5

#7057 Fix EigenGate equality
  cirq-core/cirq/ops/common_gates.py
  cirq-core/cirq/ops/common_gates_test.py
  cirq-core/cirq/ops/eigen_gate.py
  cirq-core/cirq/ops/eigen_gate_test.py
  cirq-core/cirq/ops/parity_gates_test.py
  cirq-core/cirq/ops/pauli_gates.py
  cirq-core/cirq/ops/pauli_interaction_gate.py
Labels: size: M, priority/before-1.5

#7048 Allow '_mixture_' to return gates instead of just raw unitary matrices
  cirq-core/cirq/ops/common_channels.py
  cirq-core/cirq/protocols/apply_mixture_protocol.py
  cirq-core/cirq/protocols/apply_mixture_protocol_test.py
  cirq-core/cirq/protocols/kraus_protocol.py
  cirq-core/cirq/protocols/mixture_protocol.py
  cirq-core/cirq/protocols/mixture_protocol_test.py
Labels: size: M, priority/before-1.5

#6492 Ignore spurious PollerCompletionQueue errors in AsyncioExecutor
  cirq-google/cirq_google/engine/asyncio_executor.py
Labels: area/async, area/google/protos, Size: XS, priority/before-1.5

#7070 Assume PhasedXPowGate is different from XPowGate and YPowGate
  cirq-core/cirq/ops/common_gates.py
  cirq-core/cirq/ops/phased_x_gate.py
  cirq-core/cirq/ops/phased_x_gate_test.py
  cirq-core/cirq/transformers/eject_phased_paulis.py
  cirq-core/cirq/transformers/eject_phased_paulis_test.py
  cirq-core/cirq/transformers/eject_z_test.py
  cirq-core/cirq/transformers/merge_single_qubit_gates_test.py
  cirq-google/cirq_google/api/v1/programs_test.py
  cirq-google/cirq_google/engine/engine_program_test.py
Labels: size: S, priority/before-1.5

#7226 Add tuples, ndarrays, and complex numbers to cirq_google proto
  cirq-google/cirq_google/api/v2/program.proto
  cirq-google/cirq_google/api/v2/program_pb2.py
  cirq-google/cirq_google/api/v2/program_pb2.pyi
  cirq-google/cirq_google/serialization/arg_func_langs.py
  cirq-google/cirq_google/serialization/arg_func_langs_test.py
  cirq-google/cirq_google/serialization/circuit_serializer.py
Labels: priority/before-1.5

#7247 Switch notebooks from dev to stable cirq where possible
  cirq-core/cirq/contrib/quimb/Cirq-to-Tensor-Networks.ipynb
  cirq-core/cirq/contrib/quimb/Contract-a-Grid-Circuit.ipynb
  dev_tools/notebooks/isolated_notebook_test.py
  docs/gatezoo.ipynb
  docs/noise/calibration_api.tst
  docs/operators_and_observables.tst
  docs/transform/transformers.ipynb
Labels: priority/before-1.5

#7253 Fix issue #7245: update docs referring to calibration_api.ipynb
  docs/google/best_practices.ipynb
  docs/noise/qcvv/coherent_vs_incoherent_xeb.ipynb
  docs/noise/qcvv/xeb_calibration_example.ipynb
Labels: area/docs

#7251 Correct minor typo in BitMaskKeyCondition
  cirq-core/cirq/value/condition.py
  docs/build/classical_control.ipynb
  docs/transform/custom_transformers.ipynb
  docs/transform/routing_transformer.ipynb
Labels: priority/before-1.5

#7246 Do mild editing for grammar, consistency, and Markdown
  docs/build/_index.yaml
  docs/dev/development.md
  docs/dev/serialization.md
  docs/experiments/_index.yaml
  docs/google/calibration.md
  docs/google/devices.md
  docs/google/engine.md
  docs/google/specification.md
  docs/transform/_index.yaml
Labels: priority/before-1.5

#7254 Fix typos in XEB
  docs/_book.yaml
  docs/noise/_index.yaml
  docs/noise/qcvv/coherent_vs_incoherent_xeb.ipynb
  docs/noise/qcvv/xeb_theory.ipynb
  docs/tutorials/google/identifying_hardware_changes.ipynb
Labels: area/docs, priority/before-1.5

#7259 Avoid using NotImplemented as a boolean
  cirq-core/cirq/ops/clifford_gate.py
Labels: priority/before-1.5

#7250 Add classical conditions to cirq_google proto
  cirq-google/cirq_google/api/v2/program.proto
  cirq-google/cirq_google/api/v2/program_pb2.py
  cirq-google/cirq_google/api/v2/program_pb2.pyi
  cirq-google/cirq_google/serialization/arg_func_langs.py
  cirq-google/cirq_google/serialization/arg_func_langs_test.py
  cirq-google/cirq_google/serialization/circuit_serializer.py
  cirq-google/cirq_google/serialization/circuit_serializer_test.py
  cirq-google/cirq_google/serialization/op_deserializer.py
  cirq-google/cirq_google/serialization/op_deserializer_test.py
  cirq-google/cirq_google/serialization/op_serializer.py
  cirq-google/cirq_google/serialization/op_serializer_test.py
Labels: area/classical/control, area/google/protos, priority/after-1.5

#7255 Test all notebooks vs stable cirq after the release
  dev_tools/notebooks/isolated_notebook_test.py
  dev_tools/notebooks/notebook_test.py
  docs/build/classical_control.ipynb
  docs/build/interop.ipynb
  docs/noise/qcvv/parallel_xeb.ipynb
  docs/simulate/qvm_stabilizer_example.ipynb
  docs/tutorials/google/colab.ipynb
  docs/tutorials/google/start.ipynb
Labels: priority/p1, area/notebook-testing, priority/after-1.5

#7271 Replace PR labeler with better & safer version
  .github/pr-size-labels.yaml
  .github/workflows/pr-labeler.yaml
  dev_tools/ci/README.md
  dev_tools/ci/size-labeler.sh
Labels: size: L

#7214 Remove pr_monitor
  dev_tools/cirq-infra/README.md
  dev_tools/pr_monitor.py
  dev_tools/pr_monitor.sh
  dev_tools/pr_monitor/Dockerfile
  dev_tools/pr_monitor/README.md
  dev_tools/pr_monitor/cloudbuild-deploy.yaml
  dev_tools/pr_monitor/requirements.txt
  dev_tools/pr_monitor/skaffold.yaml
  dev_tools/pr_monitor/statefulset.yaml
Labels: kind/health, size: XL, priority/after-1.5

#7279 Update cirq resolver to check sympy singletons with `is` instead of `==`
  cirq-core/cirq/study/resolver.py
Labels: Size: XS

#7186 Fix minor README glitches, update Cirq logo to respond to dark/light mode, and add QAI logo
  README.md
  docs/images/Cirq_logo_color.svg
  docs/images/quantum-ai-vertical.svg
Labels: area/docs, size: S, priority/after-1.5

#7303 Make cirq.Zip twenty times faster
  cirq-core/cirq/study/sweeps.py
  cirq-core/cirq/study/sweeps_test.py
Labels: Size: XS

#7301 Add Willow gate
  cirq-google/cirq_google/__init__.py
  cirq-google/cirq_google/json_resolver_cache.py
  cirq-google/cirq_google/json_test_data/WILLOW.json
  cirq-google/cirq_google/json_test_data/WILLOW.repr
  cirq-google/cirq_google/json_test_data/WillowGate.json
  cirq-google/cirq_google/json_test_data/WillowGate.repr
  cirq-google/cirq_google/ops/__init__.py
  cirq-google/cirq_google/ops/sycamore_gate.py
  cirq-google/cirq_google/ops/willow_gate.py
  cirq-google/cirq_google/ops/willow_gate_test.py
Labels: size: M

#7305 CI - replace actions/cache with setup-python package caching
  .github/workflows/ci-daily.yml
  .github/workflows/ci.yml
Labels: size: M
